@import "roboto.css";
@import "material-icons.css";
@import "font-awesome.min.css";


@font-face {
    font-family: vficons-regular-webfont;
    src: url(../../fonts/vficons-regular-webfont.woff);
}

@font-face {
    font-family: vodafoneexbd-webfont;
    src: url(../../fonts/vodafoneexbd-webfont.woff);
}

@font-face {
    /*	light font*/
    font-family: vodafonelt-webfont;
    src: url(../../fonts/vodafonelt-webfont.woff);
}

@font-face {
    /*	regular font*/
    font-family: vodafonerg-webfont;
    src: url(../../fonts/vodafonerg-webfont.woff);
}

@font-face {
    font-family: 'VodafoneIcons';
    src: url('../../fonts/vficons-regular-webfont.eot');
    src: url('../../fonts/vficons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/vficons-regular-webfont.woff') format('woff'), url('../../fonts/vficons-regular-webfont.ttf') format('truetype'), url('../../fonts/vficons-regular-webfont.svg#vf_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal
}

h1 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 12px;
    font-weight: bold;
}

h6 {
    font-size: 11px;
    font-weight: bold;
}

fieldset {
    border: 0;
}

legend {
    display: none;
}

address {
    font-style: normal;
    line-height: 1.35;
}

cite {
    font-style: normal;
}

q,
blockquote {
    quotes: none;
}

q:before,
q:after {
    content: '';
}

small, big {
    font-size: 1em;
}

/* Tools */
.hidden {
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}

.nobr {
    white-space: nowrap !important;
}

.v-top {
    vertical-align: top;
}

.v-middle {
    vertical-align: middle;
}

.f-left,
.left {
    float: left !important;
}

.f-none {
    float: none !important;
}

.f-fix {
    float: left;
    width: 100%;
}

.no-display {
    display: none;
}

.no-bg {
    background: none !important;
}

.page-print {
    background: #fff;
    padding: 25px 30px;
    text-align: left;
}

.page-empty {
    background: #fff;
    padding: 20px;
    text-align: left;
}

.page-popup {
    background: #fff;
    padding: 25px 30px;
    text-align: left;
}

/* 1 Column Layout */
.col1-layout .col-main {
    float: none;
    width: auto;
}

/* 2 Columns Layout */
.col2-left-layout .col-main {
    float: right;
}

.col2-right-layout .col-main {
}

.col3-layout .col-wrapper {
    float: left;
    width: 687px;
}

/* Content Columns */
.col2-set .col-1 {
    float: left;
    width: 48.5%;
}

.col2-set .col-2 {
    float: right;
    width: 48.5%;
}

.col2-set .col-narrow {
    width: 32%;
}

.col2-set .col-wide {
    width: 65%;
}

.col3-set .col-1 {
    float: left;
    width: 32%;
}

.col3-set .col-2 {
    float: left;
    width: 32%;
    margin-left: 2%;
}

.col3-set .col-3 {
    float: right;
    width: 32%;
}

.col4-set .col-1 {
    float: left;
    width: 23.5%;
}

.col4-set .col-2 {
    float: left;
    width: 23.5%;
    margin: 0 2%;
}

.col4-set .col-3 {
    float: left;
    width: 23.5%;
}

.col4-set .col-4 {
    float: right;
    width: 23.5%;
}

input.input-text, select, textarea {
    background: #fff;
    border: 1px solid #b6b6b6;
}

input.input-text, textarea {
    padding: 2px;
}

select {
    padding: 1px;
}

select option {
    padding-right: 10px;
}

select.multiselect option {
    border-bottom: 1px solid #b6b6b6;
    padding: 2px 5px;
}

select.multiselect option:last-child {
    border-bottom: 0;
}

textarea {
    overflow: auto;
}

input.radio {
    margin-right: 3px;
}

input.checkbox {
    margin-right: 3px;
}

input.qty {
    width: 2.5em !important;
}

button.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* FF Fix */
button.button {
    -webkit-border-fit: lines;
}

/* <- Safari & Google Chrome Fix */
button.button {
    overflow: visible;
    width: auto;
    border: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

button.button span {
    display: block;
    height: 19px;
    border: 1px solid #de5400;
    background: #f18200;
    padding: 0 8px;
    font: bold 12px/19px Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
}

button.button span span {
    border: 0;
    padding: 0;
}

button.disabled span {
    border-color: #bbb !important;
    background: #bbb !important;
}

button.btn-checkout span {
    height: 40px;
    border: 0;
    background: url(../../images/btn_checkout.gif) 0 0 no-repeat;
    padding: 0 0 0 9px;
    font: bold 15px/40px Arial, Helvetica, sans-serif;
    color: #fff;
}

button.btn-checkout span span {
    background-position: 100% 0;
    padding: 0 25px 0 16px;
}

button.btn-checkout.no-checkout span {
    background-position: 0 100%;
    color: #b8baba;
}

button.btn-checkout.no-checkout span span {
    background-position: 100% 100%;
}

p.control input.checkbox,
p.control input.radio {
    margin-right: 6px;
}

/* Form Highlight */
input.input-text:focus, select:focus, textarea:focus {
    background-color: #edf7fd;
}

.col-left .enlarge.right-direction {
    background: url("../../images/enlarge_icon.png") no-repeat scroll center center #FFF;
    border: 1px solid #B8B8B8;
    border-left: 0;
    height: 30px;
    border-radius: 0px 4px 4px 0px;
    box-shadow: 3px 1px 3px -1px #DADADA;
    display: none;
}

.col-left .enlarge.right-direction.expanded {
    background: url("../../images/enlarge_icon_left_new.png") no-repeat scroll center center #FFF;
}

.col-left.bigView .reduce {
    background: url("../../images/enlarge_icon_left_new.png") no-repeat scroll 0px center #FFF;
    right: -17px;
    position: absolute;
    border: 1px solid #B8B8B8;
    border-left: 0;
    height: 30px;
    border-radius: 0 4px 4px 0;
    box-shadow: 3px 1px 3px -1px #DADADA;
    top: 10px;
    border-left: 0px;
    padding: 14px 3px 14px 10px;
    z-index: 2000;
}

.col-left.smallView .reduce {
    background: url("../../images/enlarge_icon.png") no-repeat scroll 0px center #FFF;
    right: -17px;
    position: absolute;
    border: 1px solid #B8B8B8;
    border-left: 0;
    height: 30px;
    border-radius: 0 4px 4px 0;
    box-shadow: 3px 1px 3px -1px #DADADA;
    top: 10px;
    border-left: 0px;
    padding: 14px 3px 14px 10px;
    z-index: 2000;
}

.customer_search_results #customer_list {
    overflow-y: auto;
    height: calc(100% - 376px);
}

/***********************************************************
* THE CART
***********************************************************/

.cart-spinner {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    left: -10px;
    top: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    text-align: center;
    width: 110%;
    z-index: 900;
}

.cart-spinner img {
    left: 50%;
    margin-left: -28px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.side-cart .block-container {
    border-right: none;
    cursor: pointer;
}

.sticker .cart_packages {
    overflow: auto;
    height: calc(100% - 370px);
    margin: 0 0 -400px 0;
}

.cart_packages {
    height: 500px;
    margin-bottom: 10px
}

.cart_packages .side-cart.block.active .block-container:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 25px;
    margin-top: -25px;
}

.cart_packages .side-cart.block.active .block-container:after, .cart_packages .side-cart.block.active .block-container:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sticker .cart_packages .side-cart.block {
    margin-bottom: 0px;
    border-bottom: 1px solid #DDD;
}

.checkout-totals #cart-totals {
    top: 0px;
}

.cart_packages {
    height: 500px;
    margin-bottom: 10px
}

#cart-spinner-wrapper {
    height: calc(100% - 380px);
    min-height: 319px;
}

#cart-spinner-wrapper .cart_packages {
    height: calc(100% - 44px);
}

#cart-spinner-wrapper .cart_packages.control-buttons-2 {
    height: calc(100% - 74px);
}

#cart-spinner-wrapper .cart_packages.control-buttons-3 {
    height: calc(100% - 110px);
}

.side-cart [class^="col-"] {
    padding: 0;
}

.side-cart .drop-menu.open {
    z-index: 911
}

.side-cart .title {
    cursor: pointer;
    position: relative
}

.side-cart .title .mark {
    font-size: 14px;
    text-transform: capitalize
}

.side-cart .section {
    cursor: pointer;
}

.side-cart .link {
    font-size: 11px;
    text-decoration: underline;
}

.side-cart .content {
    margin: 0;
    font-size: 10px;
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
}

.side-cart.active .content {
    padding: 0;
}

.side-cart .package-details {
    color: #9933CC;
    width: 50%;
}

.side-cart.block .content .row, .side-cart.block .coupon-section {
    display: none
}

#config-wrapper {
    height: 100%;
}

#config-wrapper .conf-block {
    clear: both;
}

.conf-block .selection-block {
    overflow: hidden;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
}

.conf-block .selection-block {
    padding-bottom: 15px;
}

.conf-block .selected-item, .conf-block .selection-block {
    width: 100%;
}

.conf-block .price .top {
    font-size: 10px;
    color: #666666;
    text-align: left;
    margin-bottom: 5px;
}

.side-cart.block.active {
    display: block;
    /*padding-right: 15px;*/
}

.side-block-activate {
    text-align: center;
    width: 20px;
    line-height: 20px;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 16px;
    color: #CCC;
}

.cart_packages .side-cart.block.active .block-container {
    /*background: #f4f4f4;*/
    overflow-x: hidden;
}

.cart_packages .side-cart.block.active .block-container .content .row {
    padding: 5px 20px;
}

.cart_packages .side-cart.block.active .block-container .content .row > div {
    color: #212121;
    font-size: 12px;
    padding-left: 2px;
}

.cart_packages .side-cart.block.active .block-container .content .row.bullet-line > div {
    color: #818181;
    line-height: 12px;
}

.side-cart.block.active .content .row, .side-cart.block.active .coupon-section {
    display: block;
    padding-right: 15px;
}

.block-container .col-sm-6 {
    min-height: 17px;
}

.side-cart .row {
    margin: 0;
}

.right-align {
    text-align: right;
}

.block-container .col-sm-3:last-child {
    left: 75%;
}

.cart_packages .side-cart.block.active .block-container {
    overflow-x: hidden;
}

.conf-block .box-closed {
    display: none;
}

div .col3-layout .main .col-main.bigView {
    width: calc(100% - 385px);
    margin: 0 100px 0 80px !important;
}

#cart {
    height: 100%;
    padding: 0px 10px 10px 20px;
}

#cart-content {
    height: calc(100% - 190px);
}

.checkout-cart-index .col-left.guest {
    width: 68px;
}

.smallView .sticker {
    display: none;
}

#cart-left {
    width: 25%;
    padding-left: 0;
    font-size: 12px;
    padding-right: 70px;
}

.disabled {
    color: #999999 !important;
}

#cart-left .nav > li > a {
    color: #333;
    text-decoration: none;
    padding: 0px 15px;
    display: inline-block !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    background: none !important;
    margin-right: 18px;
    width: 100%;
    word-wrap: break-word;
}

#cart-left .nav > li, #cart-left .nav > li.disabled {
    border: 1px solid #777;
    border-radius: 3px;
    margin-bottom: 5px;
    height: 40px;
    cursor: pointer;
    background: #ccc;
}

#cart-left .nav > li.active {
    border: 1px solid #777;
}

#cart-left .nav > li.active:after, #cart-left .nav > li.active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.validation-advice {
    clear: both;
    min-height: 13px;
    margin: 3px 0 0;
    padding-left: 17px;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    background: url(../../images/validation_advice_bg.gif) 2px 0 no-repeat;
    color: #eb340a;
}

#cart-left .nav > li.active:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #777;
    border-width: 15px 0 15px 10px;
    margin-top: -15px;
}

#cart-left .nav > li.active:after, #cart-left .nav > li.active:before {
    left: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#cart-left .nav > li.active:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ccc;
    border-width: 14px 0 14px 9px;
    margin-top: -14px;
}

/******************************************************
* LOGIN PAGE STYLE
******************************************************/

.agent-account-login .main, .agent-account-dealer .main, .agent-account-temporarypassword .main, .agent-account-password .main {
    height: 100%;
    overflow: hidden;
    background-color: #5E2650;
}

.col1-layout .account-login, .col1-layout .dealer-code-select {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid;
    margin: 15% auto 0;
    width: 400px;
    padding: 20px;
}

.agent-account-login .main label, .agent-account-dealer .main label, .agent-account-password .main label {
    font-weight: normal;
}

.agent-account-login .main h3, .agent-account-password .main h3, .agent-account-dealer .main h3 {
    font: 21px 'vodafonerg-webfont';
    color: #ff0a16;
    padding: 0;
    margin-top: 0;
}
/******************************************************
* EOF LOGIN PAGE STYLE
******************************************************/


/******************************************************
* HELPER CLASSES
******************************************************/

/*Custom line heights*/
.lh10 { line-height: 10px; }
.lh15 { line-height: 15px; }
.lh20 { line-height: 20px; }
.lh25 { line-height: 25px; }
.lh30 { line-height: 30px; }
.lh35 { line-height: 35px; }

/* Open orders table - custom classes*/
.rel-right5 {
    position: relative;
    right: 5px;
}

.rel-left5 {
    position: relative;
    left: 5px;
}

.rel-bottom5 {
    position: relative;
    bottom: 5px;
}

.add-colon div.col-md-4 > span::after{
    content: ':';
}

.add-colon span.add-bold div.col-md-8  {
    font-weight: bold;
}

#cart-content .row {
    padding-bottom: 10px;
}
.extra-padding-bottom-30{
    padding-bottom: 30px !important;
}

.extra-padding-bottom-20{
    padding-bottom: 20px !important;
}

/* Custom drop down arrow in IE */
select::-ms-expand{
    background: transparent;
    border: none;
}

/* Custom classes for padding/margin adjusting */
.ptn,
.pvn,
.pan {
    padding-top: 0;
}
.ptx,
.pvx,
.pax {
    padding-top: 3px;
}
.pts,
.pvs,
.pas {
    padding-top: 5px;
}
.ptm,
.pvm,
.pam {
    padding-top: 10px;
}
.ptl,
.pvl,
.pal {
    padding-top: 20px;
}
.prn,
.phn,
.pan {
    padding-right: 0;
}
.prx,
.phx,
.pax {
    padding-right: 3px;
}
.prs,
.phs,
.pas {
    padding-right: 5px;
}
.prm,
.phm,
.pam {
    padding-right: 10px;
}
.prl,
.phl,
.pal {
    padding-right: 20px;
}
.pbn,
.pvn,
.pan {
    padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
    padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
    padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
    padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
    padding-bottom: 20px;
}
.pln,
.phn,
.pan {
    padding-left: 0;
}
.plx,
.phx,
.pax {
    padding-left: 3px;
}
.pls,
.phs,
.pas {
    padding-left: 5px;
}
.plm,
.phm,
.pam {
    padding-left: 10px;
}
.pll,
.phl,
.pal {
    padding-left: 20px;
}
.mtn,
.mvn,
.man {
    margin-top: 0px;
}
.mtx,
.mvx,
.max {
    margin-top: 3px;
}
.mts,
.mvs,
.mas {
    margin-top: 5px;
}
.mtm,
.mvm,
.mam {
    margin-top: 10px;
}
.mtl,
.mvl,
.mal {
    margin-top: 20px;
}
.mrn,
.mhn,
.man {
    margin-right: 0px;
}
.mrx,
.mhx,
.max {
    margin-right: 3px;
}
.mrs,
.mhs,
.mas {
    margin-right: 5px;
}
.mrm,
.mhm,
.mam {
    margin-right: 10px;
}
.mrl,
.mhl,
.mal {
    margin-right: 20px;
}
.mbn,
.mvn,
.man {
    margin-bottom: 0px;
}
.mbx,
.mvx,
.max {
    margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
    margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
    margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
    margin-bottom: 20px;
}
.mln,
.mhn,
.man {
    margin-left: 0px;
}
.mlx,
.mhx,
.max {
    margin-left: 3px;
}
.mls,
.mhs,
.mas {
    margin-left: 5px;
}
.mlm,
.mhm,
.mam {
    margin-left: 10px;
}
.mll,
.mhl,
.mal {
    margin-left: 20px;
}

.fs8 {
    font-size: 8px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.build {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
    text-align:center;
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    z-index: 9999999999;
    font-size: 10px;
    width: 200px;
    border-radius: 0 0 10px 10px;
}
/******************************************************
* EOF HELPER CLASSES
******************************************************/

#reset-form .form-group label {
    line-height: 28px;
}
