.products-sub-package-header .product-more-details .badge-container {
    display: inline-block;
    height: 100%;
    line-height: 58px;
    float: left;
}

.badge-container.header-icons {
    height: 56px;
}

.badge-container .owner-icon {
    background: url(../../images/de/grouping-main.png) no-repeat center;
    width: 16px;
    height: inherit;
    background-size: 16px 16px;
    display: block;
}

.badge-container .member-icon {
    background: url(../../images/de/grouping-sub.png) no-repeat center;
    width: 16px;
    height: inherit;
    background-size: 16px 16px;
    display: block;
}


.badge-container div.badge {
    padding: 3px;
    border-radius: 20px;
    min-width: 20px;
    min-height: 20px;
}

.badge-container div.badge.empty {
    background: transparent;
}

.badge-container div.badge.product-status-badge {
    padding: 6px;
    margin-left: -20px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 10px;
}

.badge-container div.badge.product-status-badge.reserved {
    background-color: #2998bd;
}

.badge-container div.badge.product-status-badge.cancelled {
    background-color: #F15252;
}

.badge-container div.badge.product-status-badge.suspended {
    background-color: #f6a623;
}

.badge-container div.badge.product-status-badge.active {
    display:none;
}

.products-sub-package {
    margin-bottom: 10px;
}

.products-sub-package-header .product-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding-top: 17px;
    color: #324d5b;
}
.products-sub-package-header-container {
    border-radius: 3px;
    min-height: 58px;
    border: solid 1px #d9d9d9;
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.products-sub-package-header-container-group {
    background-color: #fdfdfd;
}

.products-sub-package-header-container.part-of-bundle {
    border: solid 1px #007c92;
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(0, 124, 146, 1);
}

.products-sub-package-header {
    border-radius: 3px;
    background-color: #fdfdfd;
    min-height: 56px;
    margin-left: 5px;
    padding-left: 10px;
}

.products-sub-package-header.part-of-bundle {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: solid 1px #d9d9d9;
    border-left: none;
    margin-top: -1px;
    margin-bottom: -1px;
}

.products-sub-package-header .product-phone-number {
    opacity: 0.8;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #324d5b;
}

.products-sub-package-header .product-details {
    /*padding-left: 0;*/
}

.lock-icon {
    background: url(../../images/de/lock.png) no-repeat center;
    width: 12px;
    height: 16px;
    background-size: 12px 16px;
    display: block;
}

.collapse {
    width: 100%;
}

.product-details-content-container {
    border-radius: 3px;
    background-color: #f2f3f4;
    padding: 0;
}

.product-details-content-container .product-details-header {
    margin: 0;
    min-height: 40px;
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #d9d9d9;
}

.product-details-content-container .details-item {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: #2d4552;
    padding-bottom: 11px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    position: relative;
    bottom: -1px;
    padding-top: 13px;
    cursor: pointer;
    margin-left: 0;
}

.uppercase {
    text-transform: uppercase;
}

.product-details-content-container .details-item.active {
    color: #45ada8;
    border-bottom: 1px solid #45ada8;
    cursor: pointer;
}

.product-details-content-container .product-details-footer {
    height: 60px;
    padding-top: 22px;
    padding-left: 20px;
    border-top: 1px solid #d9d9d9;
}

.product-details-content-container .product-details-footer label {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #2d4552;
}

.price-lbl {
    font-size: 11px;
}

.product-details-content-container .product-details-content {
    min-height: 365px;
    font-size: 14px;
    line-height: 1.71;
    color: #5b717c;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-color: #f2f3f4;
    border: solid 1px rgba(0, 0, 0, 0.02);
    border-top: none;
}

.customer-results-table.customer-panel-table.scrollable-y-table {
    max-width: 730px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px 100px 20px;
}

.product-details-content-container .dropdown-menu>li>a {
    white-space: normal;
}

/*.customer-results-table.customer-panel-table.scrollable-y-table .products-table-contents{*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

.product-details-content-container .info-description {
    color: #2d4552;
}

.btn-info-grey {
    max-width: 240px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px #d8d8d8;
    background-color: #f2f3f4;
    color: #4a4a4a;
    font-family: Roboto, serif;
    font-size: 16px;
    font-weight: bold;
}

.products-section-products .btn-primary {
    height: 40px;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    color: #ffffff;
    font-family: Roboto, serif;
    max-width: 240px;
}

.btn-info-purple:hover,
.btn-info-purple:focus{
    color: white;
}

.btn-primary + ul.dropdown-menu {
    min-width: 240px;
}

.product-category-title {
    font-size: 24px;
    line-height: 1;
    color: #2d4552;
}

.margin-bottom-20 {
    padding-bottom: 20px;
}
.margin-top-20 {
    padding-top: 20px;
}

.ten-px-delimiter {
    padding-bottom: 10px;
}

.expand-product-details {
    background: url(../../images/wave2/expand-more.png) no-repeat center;
    width: 12px;
    height: 7px;
    background-size: 12px 7px;
    display: block;
}

.contract-product-details {
    background: url(../../images/wave2/keyboard-arrow-up.png) no-repeat center;
    width: 12px;
    height: 7px;
    background-size: 12px 7px;
    display: block;
}

.product-details-content-title {
    padding-bottom: 20px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #2d4552;
    height: 20px;
    padding-top: 10px;
    background-color: #e9eaeb;
    box-shadow: inset -1px 0 0 0 #e3e3e3, inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #dedede, inset 1px 0 0 0 #e3e3e3;
}

/*small resolution*/
@media screen and (max-width: 1200px) {
    .details-item.first-tab {
        padding-left: 10px !important;
    }
    .product-details-content-container .product-details-header {
        padding-right: 0 !important;
    }
    .product-details-content .row-flex {
        display: block !important;
    }
    .products-sub-package-header .col-md-3 {
        padding: 0;
    }
}

@media screen and (max-width: 1600px) {
    .critical-warning .more-info {
        font-size: 13px !important;
    }

    .renewal-check-button {
        margin-left: 0!important;
        right: 0;
    }

    .product-details-content-container .products-buttons-container {
        padding: 20px 5px 5px!important;
    }
    .product-details-content-container .dropdown-toggle{
        padding-right: 2px
    }
}
@media screen and (max-width: 991px) {
    .products-section.col-sm-5,
    .products-section-products.col-sm-5 {
        float: none;
    }

    .btn-info-grey,
    .btn-primary {
        font-size: 13px;
    }
}

/*extra small resolution*/
@media screen and (max-width: 767px) {
    .products-section.col-xs-3,
    .products-section-products.col-xs-3 {
        float: none;
    }

    .products-sub-package-header-container {
        height: 90px;
    }

    .products-sub-package-header {
        height: 80px;
    }
}
span.info-icon {
    background: url(../../images/info.png) no-repeat center;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    float: left;
    height: 56px;
    cursor: pointer;
}
.products-order-additional div.products-order-number span,
.white-bk-info {
    cursor: pointer;
    background: url(../../images/de/info-white-bk.png) no-repeat center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}

.renewal-availability-info .white-bk-info {
    margin-left: 5px;
    position: relative;
    top: 3px;
    float: none;
    display: inline-block;
}

.products-order-additional div.products-order-number {
    display: inline-block;
    border: solid 1px #e4e4e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    padding: 2px 5px;
    font: 700 11px "Roboto", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1.1px;
    color: #2d4552;
    width: 150px;
    line-height: 15px;
}
.modal.totalBillingDetailsModal .modal-body {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #5b717c;
    position: relative;
    margin-top: -20px;
    padding: 0 20px;
}

.modal.totalBillingDetailsModal .modal-content {
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    width: 355px;
    height: auto;
    left: 77px;
}

.products-order-additional .popover-content {
    min-width: 270px;
}

.products-order-additional .popover-title {
    background-color: transparent;
    border-bottom: 0;
}

.mobile-products .check-prolongation-done .prolongation-icon {
    cursor: pointer;
    border: solid 1px white;
    display: block;
    right: 45px;
    float: right;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
    font-size: 12px;
    color: #9c2aa0;
}

.card.grouped-products {
    padding-top: 15px;
    padding-bottom: 15px;
}
.grouped-products .product-details-content-container {
    /*background-color: rgba(0, 0, 0, 0.03);*/
}

.grouped-products .products-sub-package {
    padding-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.prolongation-icon {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #9c2aa0;
    line-height: 17px;
}

.badge-container {
    line-height: 56px;
    vertical-align: middle;
    text-align: right;
}

.product-details-content-container .add-redplus-my-products-button,
.product-details-content-container .create-redplus-group {
    font-size: 14px;
}

.critical-warning div.product-details {
    margin-top: 10px;
    padding: 0;
}

.critical-warning div.product-details div.product-name {
    color: #2d4552;
    display: inline-block;
}
.critical-warning .more-info {
    font-size: 14px;
}

.critical-warning .extra-info .product-name{
    padding-top: 5px;
}
.critical-warning div.dunning-alert-close {
    margin-top: 20px;
    cursor: pointer;
}

.critical-warning div.dunning-alert-close i {
    margin-left: 10px;
}

.products-order-additional-container.products-order-dunning {
}

.products-order-additional-container.products-order-dunning .products-order-additional .products-order-number,
.products-order-additional-container.products-order-dunning .products-order-additional .products-order-number span {
}

.modal.totalBillingDetailsModal .col-md-6, .modal.totalBillingDetailsModal .col-md-5 {
    font-size: 12px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
}

.modal.totalBillingDetailsModal .modal-header {
    padding-bottom: 10px;
}

.totalBillingDetailsModal .modal-header .fluid-row .col-md-5 {
    margin-left: 5px;
}

.totalBillingDetailsModal .fluid-row .col-md-5, .totalBillingDetailsModal .fluid-row .col-md-8 {
    color: #5b717c;
}

.totalBillingDetailsModal .fluid-row .col-md-6 span, .totalBillingDetailsModal .fluid-row .col-md-4 {
    float: right;
    color: #2e4551;
}

.totalBillingDetailsModal hr {
    margin-top: 5px;
}

.no-content-available {
    background: url(../../images/de/no-content.svg) no-repeat center;
    background-size: 72px;
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 5%;
}

.no-content-available p {
    padding-top: 18%;
    opacity: 0.2;
    font-weight: bold;
    color: #233540;
}

.products-icon-info.btn:focus {
    outline: 0;
}

.product-details-content-title.category-name {
    width: 102%;
    text-transform: uppercase;
}

.product-details-content-title.category-name hr:last-child {
    display: none;
}

.prolongation-popover .popover.fade.left.in {
    max-width: none;
    max-height: none;
}

.prolongation-days {
    height: 16px;
    margin-left: 6px;
    padding-right: 14px;
    padding-left: 4px;
}

.products-sub-package.cancelled .products-sub-package-header-container {
    background-color: #dddddd;
}

.products-sub-package.cancelled .products-sub-package-header {
    background-color: #eaeaea;
}

.products-sub-package.cancelled .products-sub-package-header .product-details .product-name,
.products-sub-package.cancelled .products-sub-package-header .product-details .product-phone-number {
    color: #324d5b;
    opacity: 0.2;
}

.products-sub-package.cancelled .vfde-disabled.red-plus-owner-error-badge {
    opacity: 0.2;
}

ul.dropdown-menu > li > a {
    text-decoration: none;
}

.product-details-header ul.dropdown-menu > li > a {
    text-decoration: none;
    font-family: Roboto, serif;
    font-size: 14px;
    text-indent: 10px;
    margin: 5px 0 5px 0;
    padding: 3px 25px;
    line-height: 17px;
}

.dropdown-menu-right{right:0;left:auto}
.dropdown-menu-left{right:auto;left:0}

.dropdown-changeable-icon {
    position: absolute;
    top:12px;
    right: 5px;
}

.settings-icon.dropdown-toggle {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.settings-icon {
    background: url(../../images/de/settings.svg) no-repeat center;
    width: 32px;
    height: 56px;
    text-align: center;
    cursor: pointer;
}

.transfer-account-icon {
    background: url(../../images/de/swap-horiz.png) no-repeat;
    line-height: 24px !important;
}

.reorder-icon {
    background: url(../../images/de/flip-to-front.png) no-repeat;
    line-height: 24px !important;
}

.customer-panel-table .product-details-header .dropdown {
    display: block;
}

span.dropdown-changeable-icon.vfde-unfold-less {
    font-size: 14px;
}

span.reload-icon{
    background: url(../../images/de/reload-icon.png) no-repeat;
    line-height: 24px !important;
}

.ils-button {
    padding-top:10px;
}

.renewal.modal ul li.list-group-item  {
    border-right: none;
    border-left: none;
    background: #f2f3f4
}

.renewal.modal ul li.list-group-item .icon-container {
    line-height: 45px;
}
.ten-px-delimiter .btn.btn-info-purple.disabled, .ten-px-delimiter .btn.btn-info-purple.disabled span{
    background-color: #dedede!important;
}

.ten-px-delimiter.eligibility-check {
    min-height: 50px;
    padding: 12px;
    background: #dde0e2;
    text-align: center;
}

.ten-px-delimiter.eligibility-check.hidden{
    min-height: 0;
}

.btn-info-check {
    height: 40px;
    border-radius: 2px;
    background-color: #46ada8;
    border: solid 1px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    color: #ffffff;
    max-width: 240px;
}

.btn-info-check.eligibility-btn {
    width: 50%;
    margin: 1px auto;
}

.btn-info-check:hover, .btn-info-check:focus, .btn-info-check:visited, .btn-info-check:active {
    color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.05);
    outline: none;
}

.products-sub-package  .alert-disable-buttons{
    border-color: rgba(63,63,68,0.1);
    filter: drop-shadow(rgba(63, 63, 68, 0.1) 0px -1px 3px);
    min-height: 55px;
    line-height: 2;
    padding: 10px 0 0;
}

.Platin-customer {
    background-color: #e5e4e2;
}
.Gold-customer {
    background-color: #ffd700;
}
.Silver-customer {
    background-color: #bfc1c2;
}
.Bronze-customer {
    background-color: #cd7f32;
}
.Rot-customer {
    background-color: #d0011b;
}
.Red-customer {
    background-color: red;
}

.fn-customer {
    background: url(../../images/de/fn-product.png) no-repeat left;
    background-size: 30px 29px;
    display: inline-block;
    width: 30px;
    height: 29px;
}

.tv-customer {
    background: url(../../images/de/tv-product.png) no-repeat left;
    background-size: 30px 29px;
    display: inline-block;
    width: 30px;
    height: 29px;
}

.cls-customer {
    background: url(../../images/de/cls-product.png) no-repeat left;
    background-size: 30px 29px;
    display: inline-block;
    width: 30px;
    height: 29px;
}

.kias-customer {
    background: url(../../images/de/kias-product.png) no-repeat left;
    background-size: 30px 29px;
    display: inline-block;
    width: 30px;
    height: 29px;
}

.kip-customer {
    background: url(../../images/de/kip-product.png) no-repeat left;
    background-size: 30px 29px;
    display: inline-block;
    width: 30px;
    height: 29px;
}

.badge-customer {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: -5px;
    border: solid 2px #ffffff;
}

.product-details-image-general {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    padding: 0;
}

.product-details-image {
    width: 30px;
    height: 30px;
    border: 2px dotted transparent;
    border-radius: 3px;
    background-color: #d1d1d1;
    margin-top: 9px;
}

.product-details-content .info-title {
    font-size: 12px;
    color: #2d4552;
    font-weight: Bold;
    text-transform: uppercase;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.product-details-content-container .products-buttons-container {
    background-color: #edeeef;
    box-shadow: inset 1px 0 0 0 #e1e1e1;
    padding-top: 30px;
}

.product-details-content-container .renewal-check-button{
    width: 137px;
    height: 36px;
    border: 1px solid #2d4552;
    border-radius: 3px;
    font-size: 14px;
    color: #2d4552;
    background-color: inherit;
    font-family: Roboto, serif;
    font-weight: bold;
}

.tab-details .tab-content.expanded {
    display:block;
}

.tab-details .tab-content.reduced {
    display:none;
}

.tab-details .tab-content{
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background-color: #eaeaea;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.products-sub-package .card {
    box-shadow: none;
}

.tab-details.subscriptions,
.tab-details.benefits,
.tab-details.options,
.tab-details.hardware {
    padding: 0 10px 10px;
}

.tab-details.subscriptions .products-sub-package-header,
.tab-details.benefits .products-sub-package-header,
.tab-details.options .products-sub-package-header,
.tab-details.hardware .products-sub-package-header {
    margin: 10px 0 0;
    line-height: 56px;
    vertical-align: middle;
    color: #2d4552;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
}

.critical-warning,
.critical-warning .products-sub-package-header{
    background-color: #FCF1F0;
}

.critical-warning.products-sub-package-header-container {
    border: solid 1px #fdf2f1;
    border-radius: 3px;
    background-color: #fdf2f1;
    box-shadow: 0 2px 2px 0 rgba(63, 63, 68, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.05);
}

.critical-alert-icon {
    background: url(../../images/de/critical.png) no-repeat center;
    background-size: 32px 32px;
    display: inline-block;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.notification-circle-icon {
    background: url(../../images/de/notification.png) no-repeat center;
    background-size: 32px 32px;
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: -3px;
    position: relative;
}

.product-details-content-container .warning-message {
    font-size: 14px;
    color: #2d4552;
    font-weight: Bold;
    padding-top: 5px;
}

.product-details-content.tab-details.general.row{
    overflow: hidden;
}

.product-details-content .row-flex {
    display: flex;
    margin: 0;
}

.product-details-content .same-height-col.general-content{
    min-height:380px;
    padding-top: 20px;
}

.product-details-content .same-height-col{
}
.product-details-content .renewal-check-button.disabled {
    color: #2D4551 !important;
    float:right;
}

.btn.disabled {
    opacity: 0.40;
    filter: alpha(opacity=40);
}

.details-item.first-tab {
    padding-left: 30px;
}

.product-details-content-title.category-title {
    background: inherit;
    border: none;
    box-shadow: none;
    font-family: Roboto, serif;
    font-size: 12px;
    margin-top: 15px;
    line-height: inherit;
}

.ellipsis-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.disabled-mandatory {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #b7b7b7;

}

.btn.btn-info-purple.disabled-mandatory {
    background-color: #dedede !important;
    color: #b7b7b7;
}
