.right_expanded_packets .nav > li {
    padding-right: inherit;
    margin-right: inherit;
}

.right_expanded_packets .nav > li > a {
    background: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.right_expanded_packets .nav > li > a:hover {
    background: #f5f9fa !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.right_expanded_packets .nav > li > a.disabled_full {
    cursor: not-allowed;
    background: #F2F2F2 !important;
    pointer-events: none;
}


.right_expanded_packets .package-summary {
    height: 43px;
    padding: 5px 0 15px 0px;
    margin-bottom: 0px;
    width: 70%;
}

.right_expanded_packets .package-summary p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 2px;
}
.right_expanded_packets .package-summary p.light,
tr.package-item-header th.description p.light {
    font-weight: 300;
}

.option-image {
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #E2574C;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
    vertical-align: top;
    text-align: center;
}

.option-image span {
    font-weight: 500;
    font-size: 12px;
    color: #E2574C;
    line-height: 30px;
}

.right_expanded_packets .package-summary p,
.right_expanded_packets .package-summary p:first-child {
    color: rgba(91, 113, 124, 0.62);
}

/* general table */
.package-items-table thead th {
    height: 50px;
}

.table-spacer {
    height: 5px;
    line-height: 5px;
}

.menu-expand ul li {
    width: inherit;
}

.expanded-package-details .package-expand {
    margin-bottom: 30px;
}

.package-items-table tbody .one-of-costs,
.package-items-table tbody .monthly-costs {
    font-size: 13px;
    font-weight: normal;
}
.package-items-table tbody .fee .one-of-costs,
.package-items-table tbody .fee .monthly-costs {
    color: #FFF !important;
}

.package-items-table tfoot {
    background-color: #ffffff;
}

.package-items-table tfoot td {
    padding-right: 5px;
}

/* Header section */
.package-items-table tr.package-item-header th {
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    color: #324D5B;
    background: #f8f9fa;
}

.package-items-table tr.package-item-header .left_border {
    width: 5px;
    padding: 0%;
    background-color: #eaebeb;
    border-top: 1px solid #eaebeb;
    border-bottom: 1px solid #eaebeb;
}

.package-items-table tr.package-item-header .description {
    text-indent: 25px;
}

.package-items-table tr.package-item-header .description:before {
    position: absolute;
    top: 20px;
    left: 10px;
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url("../../images/de/arrow-down.svg");
    background-repeat: no-repeat;
    transform: rotate(0deg);
}

thead.disabled_full > tr.package-item-header .description:before {
    position: absolute;
    top: 20px;
    left: 10px;
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url("../../images/de/arrow-down.svg");
    background-repeat: no-repeat;
    transform: rotate(270deg)!important;
}

.package-items-table > thead.disabled_full > tr > th.description > p:nth-child(2) {
    color: #324d5b;
    opacity: 0.2;
}

/* Sub-header section */
.package-items-table tr.package-item-subheader {
    background-color: #f5f6f7;
    box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.05);
    text-align: right;
    color: #2D4552;
}

.package-items-table tr.package-item-subheader td {
    padding: 5px 0;
    border-bottom: 5px solid #fff;
}

.package-items-table tr.package-item-subheader .monthly-costs,
.package-items-table tr.package-item-subheader .one-of-costs {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.package-items-table tr.subheader-section td,
.package-items-table tr.package-total {
    background: #eff1f3;
    color: #2D4552;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.03), inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
}

.package-items-table tbody tr.device,
.package-items-table tbody tr.hardware,
.package-items-table tbody tr.option,
.package-items-table tbody tr.tariff,
.package-items-table tbody tr.other,
.package-items-table tbody tr.recurring-costs {
    height: 25px;
    background: #fff;
}

.package-items-table tr.discount td.names,
.package-items-table tr.goody td.names,
.package-items-table tr.fee td.names,
.package-items-table tr.tariff td.names,
.package-items-table tr.option td.names,
.package-items-table tr.device td.names,
.package-items-table tr.hardware td.names,
.package-items-table tr.price-slicing td.names,
.package-items-table tr.other td.names,
.package-items-table tr.recurring-costs td,
.package-items-table tr.package-total td.names {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}

/* Toggle */
.toggle-container .toggle-button {
    border: 0px;
}
.toggle-container .toggle-button .bullet {
    border: 0px;
    width: 20px;
    height: 20px;
}

.toggle-container .toggle-button.off-state  {
    background: rgba(80, 80, 80, 0.7);
}

.toggle-container .toggle-button.on-state  {
    background: rgba(69, 173, 168, 0.7);
}

.toggle-container .toggle-button.off-state .bullet {
    margin-left: 5px;
    margin-top: -4px;
    background: #DEDEDE;
    border-color: #DEDEDE;
}

.toggle-container .toggle-button.on-state .bullet {
    margin-top: -4px;
    margin-left: -4px;
    background: #45ADA8;
    border-color: #45ADA8;
}

.cart_right_expanded p.title {
    position: relative;
    font-size: 24px;
    padding-left: 35px;
    display: inline-block;
    margin: 5px 0 15px 0;
    font-weight: 400;
    background: initial;
    color: #333333 !important;
}

.cart_right_expanded p.title:before {
    position: absolute;
    top: -6px;
    left: 0;
    height: 35px;
    width: 25px;
    content: "";
    display: block;
    background-image: url(../../images/de/shopping-bag.svg);
    background-repeat: no-repeat;
}

.expanded-shoppingcart-totals p.cart_totals_header {
    display: inline-block;
    color: #000000;
    font-size: 24px;
    margin: 0;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

.expanded-shoppingcart-totals p.cart-totals-vat {
    color: #2D4552;
    font-weight: 500;
    font-size: 13px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    padding-left: 20px;
    margin: 0px;
}

.expanded-package-details {
    height: calc(100% - 300px);
    height: -moz-calc(100% - 300px);
    height: -webkit-calc(100% - 300px);
}

.expanded-shoppingcart-totals .toggle-container .toggle-button {
    margin-left: 20px;
}

.expanded-shoppingcart-totals .package-items-table tfoot .show-total-string, .package-items-table tfoot .show-total-toggle-btn {
    vertical-align: middle;
}

.expanded-shoppingcart-totals .package-items-table tfoot .show-total-toggle-btn {
    text-align: left;
}

.expanded-shoppingcart-totals .package-items-table tfoot .show-total-string {
    font-size: 10px;
    font-weight: 700;
    color: rgba(0,0,0, 0.26);
    user-select: none;
    line-height: 1.42857;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.expanded-package-details::-webkit-scrollbar {
    display: none;
}

.expanded-shoppingcart-totals .package-items-table tfoot tr td {
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#right-panel-cart-menu {
    cursor: pointer;
}

.right_expanded_packets .vfde-arrow-right2{
    line-height: 40px;
}

.right_expanded_packets li.active .package-summary p:not(.light){
    color: #2D4552;
}

#right-panel-cart-menu .mtm {
    margin-left: 50%;
}

.one-of-costs .badge {
    margin-right: 25px;
    margin-top: 5px;
}

.one-of-costs i.vfde-more {
    cursor: pointer;
}

.one-of-costs .menu-expand ul li {
    text-align: start;
}

/* Note on package design */

.package-notes,
.package-notes-extended,
.shopping-cart-notes,
.package-notes-checkout {
    background-image: url(../../images/de/notes.svg);
    background-repeat: no-repeat;
    top: 14px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position-y: 6px;
}

.package-notes-extended {
    cursor: pointer;
}

.package-notes-checkout {
    cursor: pointer;
    top: 140px;
    right: 45px;
}

.shopping-cart-notes {
    margin-left: 36px;
}

.package-notes {
    margin-left: 15px;
}

.note-description {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.note-description .note-date,
.note-description .note-date span{
    height: 14px;
    font-size: 12px;
    font-weight: bold;
    color: #324d5b;
    margin-bottom: 10px;
}

.note-description .note-date span {
    text-decoration: underline;
}

.note-description .note-body {
    font-size: 14px;
    line-height: 2;
    color: #2d4552;
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

#packageNotesModal .modal-header {
    margin-bottom: 25px;
}

#packageNotesModal .modal-footer {
    padding-top: 0 !important;
}

#packageNotesModal .modal-title {
    width: 100%;
}

#expanded_form #right-panel-cart-menu .vfde-more {
    margin-right: 50px;
}

.characters-left {
    float: right;
    width: 94px;
    height: 11px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    color: #5b717c;
}

.note-agent-name {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.note-agent-email {
    color: white;
    font-size: 12px;
    font-weight: 300;
}

.note-agent-phone {
    margin-top: 15px;
    color: white;
}

.checkout-section-container.review-order .pull-right.mtm {
    margin-left: 10px;
}

.checkout-section-container.review-order .pull-right.mtm .vfde-more {
    cursor: pointer;
}

.checkout-section-container.review-order .menu-expand {
    position: absolute;
    margin-top: 5px;
    margin-right: 13px;
}

.checkout-section-container.review-order .tc.cell20.vm.ar {
    position: relative;
}

/* END Notes on package */

.no-shadow {
    -moz-box-shadow:    none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
}

.no-border {
    border: 0 !important;
}

.package-item-subheader.recurring-costs .monthly-costs {
    font-size: 12px !important;
    font-style: normal;
    text-align: right;
    padding-right: 5px;
}

.package-total {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
}