.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px 15px;
    border: #a0a0a0 solid 1px;
    background: #f5f5f5;
}

.badge.red {
    background-color: #e95857;
}

.badge.green {
    background-color: darkgreen;
}

/* 360 view box */
.design-360-view {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}

/* 360 view title */
.design-360-view .title-div {
    padding-bottom: 60px;
}
.design-360-view .title-div .title {
    font-size: 30px;
    color: #2d4552;
}

/* 360 view Table */
.design-360-view .table {
    display: table;
}
.design-360-view .header-item {
    display: table-row;
}
.design-360-view .header-item .col {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #5b717c;
    word-wrap: break-word;
    display: table-cell;
    padding: 0px 0px 8px 10px;
    border-bottom: 1px solid #E4E4E4;
}
.design-360-view .col-1 {
    width: 23.9%;
}
.design-360-view .col-2, .design-360-view .col-3, .design-360-view .col-4 {
    width: 17.9%;
}
.design-360-view .col-5 {
    width: 13.6%;
}
.design-360-view .row-with-headers {
    font-size: 14px;
    line-height: 0.86;
    text-align: left;
    color: #2d4552;
    margin: 0px;
    cursor: pointer;
    display: table-row;
    padding: 4px 0;
}
.design-360-view .row-with-headers .col{
    display: table-cell;
    border-bottom: 1px solid #E4E4E4;
    padding: 23px 0 21px 10px;
}
.design-360-view .customer-types span{
    width: 6px;
    height: 6px;
    padding-right: 10px;
}

/* Stack Icons */
.stack-fixed-selected {
    background: url(../../images/de/stack-dsl.png) no-repeat center;
    width: 6px;
    height: 6px;
}
.stack-fixed-na {
    background: url(../../images/de/stack-na.png) no-repeat center;
    width: 6px;
    height: 6px;
}
.stack-mobile-selected {
    background: url(../../images/de/stack-mobile.png) no-repeat center;
    width: 6px;
    height: 6px;
}
.stack-mobile-na {
    background: url(../../images/de/stack-na.png) no-repeat center;
    width: 6px;
    height: 6px;
}
.stack-cable-selected {
    background: url(../../images/de/stack-cable.png) no-repeat center;
    width: 6px;
    height: 6px;
}
.stack-cable-na {
    background: url(../../images/de/stack-na.png) no-repeat center;
    width: 6px;
    height: 6px;
}

/* Household Authentication Modal */
#householdAuthModal .modal-header{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #2d4552;
}
#householdAuthModal .modal-content{
    border-radius: 3px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
#householdAuthModal .stack-div .stack-icon {
    display: inline-block;
    margin-right: 5px;
}
#householdAuthModal .modal-content {
    height: auto;
    width: 250px;
}
#householdAuthModal .modal-body {
    padding: 0 15px;
    font-size: 14px;
}
#householdAuthModal .auth-data-parent {
    padding-bottom: 10px;
}
#householdAuthModal .auth-data-parent p{
    font-weight: bold;
    color: #2d4552
}
#householdAuthModal .auth-data-parent  .auth-data{
    color: #5b717c;
}
.auth-triangle-top{
    background: url(../../images/de/auth_triangle.png) no-repeat center;
    background-size: 15px 15px;
    height: 15px;
    position: relative;
    display: block;
    top: -73px;
    left: -80px;
    transform: rotate(90deg);
}

.design-360-view .contact-id{
    cursor: pointer;
}
.design-360-view .linked-id{
    color: #3c9f8c;
}

.design-360-view .authselected{
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 10041;
    /*background-image: url(../../images/spinner.gif);
    background-repeat: no-repeat;
    background-position: center;*/
    background-color: rgba(204, 204, 204, 0.25);
}

/* Household view no members */
.design-360-view .empty-household{
    text-align: center;
}
.design-360-view .empty-state-content-1{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #2d4552;
}
.design-360-view .empty-state-content-2{
    font-size: 14px;
    color: #2d4552;
}
.design-360-view .empty-state-image{
    margin-bottom: 15px;
    display: block;
}

/* Breadcrubs */
.breadcrumb-custom{
    font-family: Roboto;
    height: 40px;
    background-color: #f1f2f3;
    line-height: 3;
    font-size: 14px;
    padding-left: 40px;
    max-width: 790px;
    margin: 0 auto 40px auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
}
.breadcrumb-custom .active{
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: #3c9f8c;
}
.breadcrumb-custom .inactive{
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    color: #b5b5b3;
    cursor: pointer;
}
.breadcrumb-custom .divide {
    margin: 0 5px 0 5px;
    color: #b5b5b3;
}
.breadcrumb-custom .back {
    margin-right: 10px;
}
.breadcrumb-custom .back img{
    width: 8.9px;
    height: 12px;
    margin-top: 15px;
}

#household_info_left {
    width: 131px;
}

.customer-results-table.customer-panel-table.scrollable-y-table{
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
}

/* Household Style Ends */


/* Customer Search */
.search-result-cross{
    cursor: pointer;
    float: right;
    display: none;
    margin: 15px 15px 0;
    background: url(../../images/de/shape-cross.png) no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

.custom-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
}

.custom-backdrop {
    z-index: 1025;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: opacity .15s linear;
}

/* 360 view buttons fully disabled */
#ctn-tabs li.disabled {
    cursor: not-allowed;
}

#ctn-tabs li.disabled .customer-360-icons-container span {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
