/* New design of Shopping Cart */
div.title span.package-type {
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    position: relative;
}

.sticker .cart_packages .side-cart.block {
    margin-bottom: 5px !important;
    border-bottom: none !important;
    border-top: none !important;
}

.side-cart.block .box-description {
    padding: 5px 20px 6px 20px;
}

.cart_packages .side-cart.block .content .row.price-header-row {
    border-top: initial;
    border-bottom: initial;
    background-color: initial;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    padding-right: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    color: #2D4552;
}

div.title .menu {
    position: relative;
    top: 0;
    right: -5px;
    background-image: url("../../images/de/more-vert.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 32px;
    height: 32px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.coupon-section {
    background-color: initial;
}

.coupon-section div.row div.col-sm-6 span.small-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    padding-left: 22px;
}

.coupon-section div.row div.right-align {
    font-size: 13px;
    font-weight: 500;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

.coupon-section div.row div.right-align:nth-child(2) {
    left: 58%;
}

.coupon-section div.row div.right-align:nth-child(3) {
    left: 80%;
}

.cart_packages .side-cart.block .content .row.group-header {
    background-color: #eff1f3;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.03), inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
    border-top: 0;
    border-bottom: 0;
    margin-top: 4px;
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    padding: 0 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
    color: #2D4552;
}

.cart_packages .side-cart.block.active .block-container .content .row > .name-row {
    text-align: left;
    float: left;
    /*width: 100px;*/
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #2D4552;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

.cart_packages .side-cart.block.active .block-container .content .cart-group-content .row.bullet-line {
    padding: 0 20px;
}

.cart_packages .side-cart.block .content .row.group-header:before {
    display: none;
}

.cart_packages .price-row {
    /*width: 57px;*/
    display: inline-block;
    color: #2D4552;
    font-weight: 500;
    font-size: 13px;
}

.cart_packages .side-cart.block.active .block-container .content .row > div {
    font-size: 10px;
    color: #2D4552;
}

.cart_packages .side-cart.block.active .block-container .content .row > .price-row {
    font-size: 12px;
}

.cart_packages .side-cart.block.active .block-container .content .row.bullet-line > .name-row {
    font-weight: 500;
    line-height: initial;
    max-height: 42px;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    overflow: hidden;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    text-transform: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cart_packages .side-cart.block.active .block-container .content .row.bullet-line > .price-row {
    text-align: right;
    font-size: 12px;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.cart_packages::-webkit-scrollbar,
.side-cart.active .content::-webkit-scrollbar,
.sticker #cart-spinner-wrapper::-webkit-scrollbar,
#customer-search-results .customer-results-table.customer-panel-table::-webkit-scrollbar,
#customer-search-results .customer-results-table.customer-panel-table #cart-content::-webkit-scrollbar {
    display: none;
}

.cart_packages .side-cart.block .content .row.group_typeOther {
    background-color: initial;
    border-bottom: initial;
    font-weight: 500;
    line-height: initial;
    max-height: 42px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #2D4552;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    text-transform: initial;
}

.cart_packages .side-cart.block.active .block-container .content .row.group_typeOther.bullet-line > div {
    color: #2D4552;
}

.package-details p.tariff {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 300;
}

#show-packages {
    position: relative;
    width: 100%;
    border: 1px solid #D8D8D8;
    background: #fafafa;
    color: #2d4552 !important;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.05);
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    border-radius: 2px;
    padding: 0px 30px;
    min-width: 145px;
    text-transform: inherit;
    letter-spacing: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
}

#show-packages b.caret {
    position: absolute;
    top: 17px;
    right: 8px;
}

#show-packages:after {
    position: absolute;
    content: "";
    top: 7px;
    right: 25px;
    display: block;
    width: 1px;
    height: 23px;
    border-left: 1px solid #c8c8c8;
}

.active .box-description {
    display: none;
}

.coupon-section {
    padding-bottom: 6px;
    background-color: #f5f6f7;
    font-size: 12px;
    line-height: 17px;
    margin-top: 5px;
}

.block-container .row {
    position: relative;
    height: auto;
}

#cart_totals .cart_totals_header {
    display: inline-block;
    color: #000000;
    font-size: 24px;
    margin: 0;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
}

/* Packages dropdown menu design */
#package-types {
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    margin-top: 3px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

#package-types .btn {
    opacity: 1 !important;
}

.option-image-block {
    display: inline-table;
    width: 30px;
    height: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    text-align: center;
    margin: 0px 5px 5px 0px;
}

.option-image-block i {
    vertical-align: middle;
}

.item-picture-container .option-image-block {
    background-image: url(../../images/de/empty-orderline-icon.svg);
}

/* Expand/collapse buttons for sidebar */
.col-left .enlargeSearch.right-direction,
.col-left .enlargeSearch.left-direction,
.col-left .enlargeSearch.left-direction.expanded {
    /*
    right: -15px;
    width: 15px;
    height: 38px;
    border-radius: 1px 0 0 1px;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-position-x: 4px !important;
    */
}

.col-right .enlarge.left-direction,
.col-right .enlarge.right-direction,
.col-right .enlarge.right-direction.expanded {
    right: -15px;
    width: 15px;
    height: 38px;
    border-radius: 1px 0 0 1px;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-position-x: 4px !important;
}

#cart_totals {
    padding: 14px 20px 9px 21px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-top: 1px solid #ccc;
}

#cart_totals .toggle-container {
    margin-bottom: 7px;
    position: relative;
    position: absolute;
    display: inline-block;
    top: 35px;
    right: 20px;
}

/* Right sidebar design */
.col-right .buttons-container .btn.btn-default.no-cursor {
    background: #e9eaeb;
    text-transform: uppercase;
    font-size: 10px;
    color: #2D4552;
    font-weight: 500;
    border-color: #E5E5E5;
    border-left: none;
    border-right: none;
}

.col-right .buttons-container .btn.btn-default {
    font-size: 13px;
    font-weight: 600;
    padding: 5px 5px;
    margin: 0;
    line-height: 36px;
    color: #2D4552;
    padding: 1px 10px 0 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0;
    border-color: #E5E5E5;
    height: auto;
}

.col-right .buttons-container .btn.btn-default.shadow-grey {
    height: 40px;
    margin-bottom: 20px;
}

.col-right .sticker .col-title {
    position: relative;
    font-size: 24px;
    padding-left: 35px;
    display: inline-block;
    margin: 5px 0 5px 0;
    font-weight: 400;
    line-height: 1.4em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #333333 !important;
    left: 10px;
}

.col-right .sticker h2.col-title:before {
    position: absolute;
    top: -6px;
    left: 0;
    height: 35px;
    width: 25px;
    content: "";
    display: block;
    background-image: url(../../images/de/shopping-bag.svg);
    background-repeat: no-repeat;
}

.no-package-zone:hover {
    cursor: pointer;
}

.no-package-zone div.img {
    background: url('../../images/de/empty-state.svg') no-repeat center;
    background-size: 72px;

    width: 100%;
    height: 80px;
}

.no-package-zone p {
    font-size: 14px;
}

/* Cart expanded global menu */
.side-cart .drop-menu {
    padding-right: 15px;
}

.menu-expand.open {
    top: 0;
    margin-top: 0;
    margin-right: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
}

#expanded_form .menu-expand {
    margin-right: 10px;
}

.menu-expand ul {
    padding: 0;
}

.menu-expand ul li {
    font-size: 14px;
    font-weight: 500;
    min-width: 202px;
    margin-top: 0 !important;
    border: 0 !important;
}

.menu-expand ul li.remove-package a {
    margin-left: 20px !important;
}

.menu-expand ul li a {
    color: #333;
}

.menu-expand ul li:hover,
.menu-expand ul li:focus
.menu-expand ul li:active {
    /*background: #f5f9fa;*/
}

.expanded-package-details .menu-expand ul li a {
    margin-left: 30px;
}

.menu-expand ul li a i {
    margin-right: 10px;
}

/** Custom badges **/
.title div.badge, .package-item-header div.badge {
    color: #ffffff;
    padding: 3px;
    border-radius: 20px;
    min-width: 20px;
    min-height: 20px;
}

div.badge.empty {
    background: transparent !important;
    color: #999999;
    border: 1px solid #999999;
}

div.badge.darkcyan {
    background-color: #007C92!important;
}

div.badge.empty.darkcyan {
    color: #007C92;
    border-color: #007C92;
    background: transparent !important;
}

div.badge.darkorchid {
    background-color: #9C2AA0!important;
}

div.badge.empty.darkorchid {
    color: #9C2AA0;
    border: 1px solid #9C2AA0;
    background: transparent !important;
}

div.badge.darkslategray {
    background-color: #5E2750!important;
}

div.badge.empty.darkslategray {
    color: #5E2750;
    border: 1px solid #5E2750;
    background: transparent !important;
}

div.badge.hint {
    background: url("../images/acq-icon.png") center center no-repeat;
    background-size: 22px;
    white-space:nowrap;
    float:left;
}

div.badge.attachment {
    background-color: #ff5402;
}

div.badge.empty.attachment {
    color: #ff5402;
    border: 1px solid #ff5402;
    background: transparent !important;
}

div.badge.ils-change, div.badge.ils-renew,  div.badge.ils-modify{
    background: url("../../images/ils-renew-icon.png") center center no-repeat;
    background-size: 22px;
    white-space:nowrap;
    float:left;
}
div.badge.acq {
    background: url("../../images/acq-icon.png") center center no-repeat;
    background-size: 22px;
    white-space:nowrap;
    float:left;
}

div.badge.ils-change.to-dsl{
    background: url("../../images/dsl-to-cable.png") center center no-repeat;
    background-size: 22px;
    white-space:nowrap;
    float:left;
}

div.badge.ils-change.to-cable{
    background: url("../../images/cable-to-dsl.png") center center no-repeat;
    background-size: 22px;
    white-space:nowrap;
    float:left;
}

.badge-container div.badge.badge-customer-products {
    font-size: 10px;
    min-height: 9px;
    min-width: 9px;
    padding-right: 4px;
}

.secondBadge {
    padding: 15px;
    margin-left:-30%;
}
div.secondBadge.ils-change, div.secondBadge.ils-renew {
    background: url("../../images/ils-renew-icon.png") center no-repeat;
    background-size: 20px;
    white-space:nowrap;
    float:left;
    padding: 10px 15px 10px 15px;
}

div.secondBadge.acq {
    background: url("../../images/acq-icon.png") center center no-repeat;
    background-size: 20px;
    white-space:nowrap;
    float:left;
    padding: 10px 15px 10px 15px;
}

div.secondBadge.migration-in {
    background: url("../../images/migration-in-icon.png") center center no-repeat;
    background-size: 20px;
    white-space: nowrap;
    float: left;
    padding: 10px 15px 10px 15px;
}

div.secondBadge.extended-cart-second-badge {
    padding: 20px 15px 10px 15px;
    margin-left: 10%;
}

div.secondBadge.extended-cart-second-badge-menu, div.badge.extended-cart-second-badge-menu {
    padding: 25px 15px 10px 15px;
    margin-left: 0;
    background-size: 20px;
}

/** endof custom badges */

/** Shopping cart title color **/
.side-cart .block-container > .title {
    position: relative;
    border: 1px solid #EDEDED;
    border-left-width: 5px;
    color: #324D5B;
    padding: 19px 0 0 10px;
    height: 50px;
    cursor: pointer;
    background: #FDFDFD;
}

.side-cart .block-container > .title div.group-title {
    top: -10px !important;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    display: inline-block;
    left: 5px;
}

.side-cart .block-container > .title.bundle, .expanded-package-details table.package-items-table thead.bundle th,
#saveOrderOverview .title.bundle, #saveOrderOverview .title.intra-stack-bundle {
    background: #edf4f6;
    border-left-color: #007c92;
}
.side-cart .block-container > .title.redplus, .expanded-package-details table.package-items-table thead.bundle th,
#saveOrderOverview .title.redplus, #saveOrderOverview .title.redplus {
    background: #f4eef4;
    border-left-color: #9C2AA0;;
}

.expanded-package-details table.package-items-table thead.bundle th.left_border.darkcyan {
    background-color: #007c92;
}

.expanded-package-details table.package-items-table thead.bundle th.left_border.darkslategray {
    background-color: #5E2750!important;
}

.expanded-package-details table.package-items-table thead.bundle th.left_border.darkorchid {
    background-color: #9C2AA0!important;
}


#saveOrderOverview.bundle .overview-block.products-overview, #saveOrderOverview.intra-stack-bundle .overview-block.products-overview {
    background: #edf4f6;
}

.side-cart .block-container > .title div.group-title p {
    margin-bottom: 0;
}

.side-cart .block-container > .title.intra-stack-bundle, .expanded-package-details table.package-items-table thead.intra-stack-bundle th {
    background: #edf4f6;
    border-left-color: #007C92;
}

.expanded-package-details table.package-items-table thead.intra-stack-bundle th.left_border {
    background-color: #007C92;
}

div.darkslategray{
    background: #ECE9EB;
    border-left-color: #5E2750!important;
}

div.darkorchid{
    background: #EFE9EF;
    border-left-color: #9C2AA0!important;
}

div.darkcyan{
    background: #edf4f6;
    border-left-color: #007c92!important;
}

.part-of-bundle{
    background: #EFE9EF;
    border-left-color: #007c92!important;
}
.side-cart .block-container > .title.installed-base-bundle,
.expanded-package-details table.package-items-table thead.installed-base-bundle th,
#saveOrderOverview .title.installed-base-bundle {
    color: #b5cfd2;
    background: #edf4f6;
    border-left-color: #007C92;
}

#saveOrderOverview.installed-base-bundle .overview-block.products-overview {
    background: #edf4f6;
}

.expanded-package-details table.package-items-table thead.installed-base-bundle th.left_border {
    background-color: #007C92;
}

.side-cart .block-container > .title.sharing-group,
.expanded-package-details table.package-items-table thead.sharing-group th,
#saveOrderOverview .title.sharing-group.disabled_full {
    background: #F2F2F2;
    cursor: not-allowed;
}

.side-cart .block-container > .title.darkorchid,
.expanded-package-details table.package-items-table thead.darkorchid th,
#saveOrderOverview .title.darkorchid {
    background: #f4eef4;
}

.side-cart .block-container > .title.darkcyan,
.expanded-package-details table.package-items-table thead.darkcyan th,
#saveOrderOverview .title.darkcyan {
    background-color: rgba(0, 124, 146, 0.05);
}

.side-cart .block-container > .title.darkslategray,
.expanded-package-details table.package-items-table thead.darkslategray th,
#saveOrderOverview .title.darkslategray {
    background-color: rgba(94, 39, 80, 0.05);
}

.expanded-package-details table.package-items-table thead.sharing-group th.left_border {
    background-color: #eaebeb;
}

#saveOrderOverview.sharing-group .overview-block.products-overview {
    background: #f4eef4;
}

.side-cart .block-container > .title.disabled,
.expanded-package-details table.package-items-table thead.disabled th,
#saveOrderOverview .title.disabled {
    cursor: not-allowed;
}

.side-cart .block-container > .title.disabled_full,
#saveOrderOverview .title.disabled_full {
    cursor: not-allowed;
    background: #F2F2F2;
}

.side-cart .block-container > .title.red-kombi,
#saveOrderOverview .title.red-kombi {
    background: #F8F9Fa;
}

/** end of shopping cart title color **/

/** Styling for the dummy package in cart **/
.side-cart .block-container .disabled_full span.package-type,
.side-cart .block-container span.package-type.empty-package {
    color: #324d5b;
    opacity: 0.2;
}

.side-cart .block-container .disabled_full i.vfde-disabled,
.side-cart .block-container .disabled_full i.vfde-arrow-down2 {
    opacity: 0.2;
}

/** end of styling for the dummy package in cart **/

#cart_totals .div-table tbody, #cart_totals .div-table .div-table-row-header, #cart_totals .div-table thead .div-table-row-header {
    background-color: inherit;
}

#cart_totals .div-table thead .div-table-row-header th {
    font-size: 10px;
}

.div-table tbody .div-table-row td, .div-table thead .div-table-row th {
    border-bottom: initial;
}

#cartTotalsDetails .div-table tbody tr:hover {
    background-color: inherit;
    cursor: inherit;
}

#cart_totals .div-table thead .div-table-row-header {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    height: 23px;
    top: 0;
    right: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

#cart_totals .div-table tbody .div-table-cell, #cart_totals .gesamt-min .grand-total .div-table-cell {
    color: #2D4552 !important;
    font-weight: 500;
    font-size: 13px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}

#cart_totals .div-table tbody tr:nth-child(2) td.a-right, #cart_totals .div-table tbody tr:nth-child(3) td.a-right {
    font-weight: 300;
}

.cart_packages .block-container .col-sm-3:last-child {
    right: 0;
}

.legacy-search-label, .exact-search-label, .advanced-search-label, .toggle-label {
    padding-left: 5px;
}

span.lightbulb-tooltip-title {
    font-size: 16px;
    font-weight: 500;
}
span.ils-tooltip {
    white-space: nowrap;
}

/* Update cart with new icons */

.product-cart-icon {
    background-repeat: no-repeat;
    width: 30px;
    border: none;
}

.product-cart-icon.mobile, .product-cart-icon.prepaid, .product-cart-icon.postpaid {
    background-image: url(../../images/de/icon-mobile.svg);
}

.product-cart-icon.cable_internet_phone, .product-cart-icon.dsl, .product-cart-icon.lte {
    background-image: url(../../images/de/icon-internet-phone.svg);
}

.product-cart-icon.cable_tv {
    background-image: url(../../images/de/icon-tv.svg);
}

.product-cart-icon.cable_independent {
    background-image: url(../../images/de/icon-misc.svg);
}

.product-cart-icon.bundle, .product-cart-icon.redplus, .product-cart-icon.postpaid_redplus {
    background-image: url(../../images/de/icon-bundle.svg);
}

.disabled .product-cart-icon {
    opacity: 0.3;
}

.disabled span.disabled-package-title {
    opacity: 0.2;
    color: #2d4552;
}

.fw-bold {
    font-weight: bold !important;
}

#cart-spinner-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 320px);
}

#cart-spinner-wrapper.long-style {
    height: calc(100% - 280px);
    height: -moz-calc(100% - 280px);
    height: -webkit-calc(100% - 280px);
    height: -o-calc(100% - 280px);
    height: -ms-calc(100% - 280px);
}

#cart-spinner-wrapper .cart_packages {
    height: calc(100% - 70px);
}

.modal.bundle-lightbulb-modal {
    background: transparent;
}
