.alert {
    border-radius: 0;
    border-width: 4px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .8);
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1rem;
    text-align: left;
    padding: 1.5rem;
    position: relative;
    margin: .25rem auto
}
.alert__dismissible,
.alert__icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 1.5rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, .3)
}
.alert__dismissible {
    margin-right: 0;
    margin-left: 1.5rem;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-decoration: none
}
.alert__dismissible:hover {
    color: rgba(26, 26, 26, .3)
}
.alert>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%
}
.alert--info {
    background-color: #2196f3
}
.alert--error,
.alert--info {
    color: #fff;
    border-color: rgba(0, 0, 0, .2)
}
.alert--error {
    background-color: #ff5252
}
.alert--success {
    background-color: #4caf50
}
.alert--success,
.alert--warning {
    color: #fff;
    border-color: rgba(0, 0, 0, .2)
}
.alert--warning {
    background-color: #ffc107
}
.alert--no-icon .alert__icon {
    display: none
}
@media screen and (max-width: 576px) {
    .alert__icon {
        display: none
    }
}
.avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}
.avatar .icon,
.avatar img {
    height: 42px;
    width: 42px;
    border-radius: 50%
}
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0;
    list-style-type: none
}
.breadcrumbs li:not(:last-child):after {
    color: #bdbdbd;
    content: attr(data-divider);
    vertical-align: middle
}
.breadcrumbs li:last-child a {
    color: #bdbdbd;
    pointer-events: none;
    cursor: default
}
.breadcrumbs--with-icons li:not(:last-child):after {
    font-family: Material Icons
}
.breadcrumbs__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1976d2;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    padding: 0 1rem;
    height: 40px;
    text-decoration: none;
    line-height: 40px;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.breadcrumbs__item:hover {
    color: #757575
}
.breadcrumbs__item--disabled {
    color: #e0e0e0;
    pointer-events: none
}
.card {
    background: #fff
}
.card {
    position: relative;
    border-radius: 2px;
    min-width: 0
}
.card--horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}
.card--horizontal>.card__row {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%
}
.card__column,
.card__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.card__column:first-child,
.card__row:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}
.card__column:last-child,
.card__row:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}
.card__column {
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap
}
.card__column,
.card__row {
    -webkit-box-flex: 1;
    -webkit-box-direction: normal
}
.card__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    min-height: 36px
}
.card__row .card__text {
    height: 100%
}
.card__row--actions {
    border-top: 1px solid rgba(0, 0, 0, .12);
    padding: 8px;
    height: 52px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.card__row--actions .btn {
    margin: 0;
    padding: 0 8px
}
.card__title {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px
}
.card__text {
    padding: 16px;
    width: 100%
}
.carousel {
    height: 500px;
    width: 100%;
    background: #000;
    position: relative;
    overflow: hidden
}
.carousel__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out
}
.carousel__left,
.carousel__right {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.carousel__left .btn,
.carousel__right .btn {
    color: #fff;
    margin: 0!important;
    height: auto;
    width: auto
}
.carousel__left .btn i,
.carousel__right .btn i {
    font-size: 48px
}
.carousel__left .btn:hover,
.carousel__right .btn:hover {
    background: none
}
.carousel__right {
    left: auto;
    right: 5px
}
.carousel__controls {
    background: rgba(0, 0, 0, .5);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    position: absolute;
    height: 50px;
    list-style-type: none;
    width: 100%;
    z-index: 2
}
.carousel__controls__item {
    color: #fff;
    margin: 0 1rem!important
}
.carousel__controls__item i {
    opacity: .5;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.carousel__controls__item--active i {
    opacity: 1;
    vertical-align: middle;
    font-size: 2rem!important
}
.carousel__controls__item:hover {
    background: none
}
.carousel__controls__item:hover i {
    opacity: .8
}
.chip {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    border-radius: 2rem;
    cursor: default;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 12px;
    margin: 8px;
    height: 32px;
    -webkit-transition: .3s cubic-bezier(.4, 0, .6, 1);
    transition: .3s cubic-bezier(.4, 0, .6, 1);
    vertical-align: middle;
    white-space: nowrap
}
.chip .avatar {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin-left: -14px;
    margin-right: 8px;
    color: #fff
}
.chip .avatar img {
    width: 100%;
    height: 100%
}
.chip:focus {
    outline: none
}
.chip--label {
    border-radius: 0
}
.chip--outline {
    background: transparent!important;
    color: #9e9e9e
}
.chip--small {
    height: 26px
}
.chip--small .avatar {
    height: 26px;
    width: 26px;
    min-width: 26px
}
.chip__close {
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    margin-left: 4px;
    margin-right: -2px;
    -webkit-transition: .3s cubic-bezier(.4, 0, .6, 1);
    transition: .3s cubic-bezier(.4, 0, .6, 1)
}
.chip__close:hover {
    opacity: .8
}
.chip--removable {
    padding: 0 4px 0 12px
}
.chip--select-multi {
    margin: 8px 8px 8px 0
}
.chip .icon--right {
    margin-left: 4px
}
.chip .icon--left {
    margin-right: 4px
}
.divider {
    background: rgba(0, 0, 0, .12);
    border: none;
    display: block;
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%
}
.divider--inset {
    margin-left: 72px
}
.divider--light {
    background: hsla(0, 0%, 100%, .12)
}
.expansion-panel {
    background: #fff;
    text-align: left;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%
}
.expansion-panel li {
    border: 1px solid #ddd
}
.expansion-panel li:not(:first-child) {
    border-top: none
}
.expansion-panel__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    position: relative;
    padding-left: 1rem
}
.expansion-panel__header i {
    margin-right: 1rem
}
.expansion-panel__header:after {
    content: "\E313";
    font-family: Material Icons;
    font-size: 1.5rem;
    position: absolute;
    right: 15px;
    top: calc(50% - 16px);
    color: inherit;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    transition: -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    transition: transform .3s cubic-bezier(0, 0, .2, 1);
    transition: transform .3s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1)
}
.expansion-panel__header--active:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.expansion-panel__body {
    background-color: rgba(0, 0, 0, .03);
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    overflow: hidden;
    position: relative
}
.expansion-panel__body .card {
    border-radius: 0
}
.expansion-panel__body:last-child {
    border-bottom: 1px solid #ddd
}
.icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.icon--large {
    font-size: 2.5rem;
    min-width: 3.5rem;
    width: 3.5rem;
    height: 3.5rem
}
.icon--medium {
    font-size: 2rem;
    min-width: 3rem;
    width: 3rem;
    height: 3rem
}
.icon--x-large {
    font-size: 3rem;
    min-width: 4rem;
    width: 4rem;
    height: 4rem
}
.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 24px;
    margin: 18px 0;
    position: relative;
    width: 100%
}
.input-group label {
    font-size: 16px;
    line-height: 32px;
    height: 30px;
    -webkit-transition: .4s cubic-bezier(.25, .8, .25, 1);
    transition: .4s cubic-bezier(.25, .8, .25, 1);
    z-index: 0
}
.input-group__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    min-width: 0;
    min-height: 30px
}
.input-group--disabled .input-group__details:before {
    background-color: transparent;
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x
}
.input-group--disabled.input-group--light .input-group__details:before {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .38), rgba(0, 0, 0, .38) 33%, transparent 0);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .38) 0, rgba(0, 0, 0, .38) 33%, transparent 0)
}
.input-group--disabled.input-group--dark .input-group__details:before {
    background-image: -webkit-linear-gradient(left, hsla(0, 0%, 100%, .38), hsla(0, 0%, 100%, .38) 33%, transparent 0);
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .38) 0, hsla(0, 0%, 100%, .38) 33%, transparent 0)
}
.input-group--focused .input-group__details:after {
    width: 100%
}
.input-group--error .input-group__details:after {
    background-color: #ff5252
}
.input-group--light .input-group__details:before {
    background-color: rgba(0, 0, 0, .12)
}
.input-group--dark .input-group__details:before {
    background-color: hsla(0, 0%, 100%, .12)
}
.input-group .slide-y-transition-leave,
.input-group .slide-y-transition-leave-to {
    position: absolute
}
.input-group__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    font-size: 12px;
    min-height: 22px;
    position: relative;
    width: 100%
}
.input-group__details:after,
.input-group__details:before {
    content: "";
    position: absolute;
    left: 0
}
.input-group__details:after {
    background-color: #1976d2;
    top: -1px;
    height: 2px;
    -webkit-transition: .3s cubic-bezier(.4, 0, .2, 1);
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    width: 0;
    z-index: 1
}
.input-group__details:before {
    top: 0;
    height: 1px;
    width: 100%;
    z-index: 0
}
.input-group .input-group__error,
.input-group__hint {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
    -webkit-transition: .3s cubic-bezier(.25, .8, .25, 1);
    transition: .3s cubic-bezier(.25, .8, .25, 1)
}
.input-group .input-group__error {
    color: #ff5252
}
.footer {
    color: #fff;
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 4;
    background: #1976d2;
    padding: 0 1rem
}
.list {
    list-style-type: none;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    -webkit-transition: height .4s cubic-bezier(.4, 0, .2, 1);
    transition: height .4s cubic-bezier(.4, 0, .2, 1)
}
.list .input-group {
    margin: 0
}
.list>.list__item~.list__item {
    margin-top: 0
}
.list__item {
    position: relative
}
.list__tile {
    color: #424242;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    text-decoration: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 16px;
    margin: 0
}
.list__tile,
.list__tile:after {
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.list__tile:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .12)
}
.list__tile--highlighted,
a.list__tile:hover {
    background: rgba(0, 0, 0, .12)
}
.list__tile__action,
.list__tile__avatar,
.list__tile__content {
    height: 100%
}
.list__tile__sub-title,
.list__tile__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}
.list__tile__title {
    font-size: 16px;
    line-height: 1.15;
    font-weight: 500;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    position: relative
}
.list__tile__sub-title {
    color: #9e9e9e;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400
}
.list__tile .avatar,
.list__tile__action {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 56px
}
.list__tile__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.list__tile__action,
.list__tile__action .input-group {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.list__tile__action .input-group__details {
    display: none
}
.list__tile__action .icon {
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.list__tile__action-text {
    color: #9e9e9e;
    font-size: 12px
}
.list__tile__action--stack {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    -ms-flex-direction: column;
    flex-direction: column
}
.list__tile__action--stack,
.list__tile__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}
.list__tile__content {
    text-align: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column
}
.list__tile__content+.avatar,
.list__tile__content+.list__tile__action:not(.list__tile__action--stack) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.list__tile--active .list__tile__title {
    color: #1976d2
}
.list__tile--disabled {
    opacity: .4;
    pointer-events: none
}
.list__tile--avatar {
    height: 56px
}
.list__tile--select-multi {
    padding: 0 10px
}
.list--dense {
    padding-top: 4px
}
.list--dense .list__tile {
    height: 40px;
    font-size: 13px
}
.list--dense .list__tile__title {
    font-size: 13px;
    font-weight: 400
}
.list--dense .list__tile__sub-title {
    font-size: 13px
}
.list--two-line .list__tile {
    height: 72px
}
.list--two-line.list--dense .list__tile {
    height: 60px
}
.list--three-line .list__tile {
    height: 88px
}
.list--three-line .list__tile__sub-title {
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box
}
.list--three-line.list--dense .list__tile {
    height: 76px
}
.list--group {
    overflow: hidden;
    position: relative;
    padding: 0
}
.list--group:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .12)
}
.list--group .list__tile {
    padding-left: 72px
}
.list--group .list__tile .list__tile__title {
    font-weight: 300
}
.list--group .list__tile--active .list__tile__title {
    color: #1976d2;
    font-weight: 300
}
.list--group__header+.list--group:after {
    opacity: 1
}
.list--group__header--active .list__tile {
    background: rgba(0, 0, 0, .12)
}
.list--group__header--active .list__tile:after {
    opacity: 1
}
.list--group__header--active .list__tile .list__tile__title {
    color: inherit
}
.list--group__header--active .list__tile .list__tile__action:last-of-type .icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.list--group__header--no-action+.list--group .list__tile {
    padding-left: 16px
}
.list--subheader {
    padding-top: 0
}
.menu {
    display: inline
}
.menu--disabled,
.menu--disabled .menu__activator {
    cursor: not-allowed
}
.menu__activator {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative
}
.menu__content {
    background-color: #fff;
    position: absolute;
    display: inline-block;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100
}
.menu-transition-enter .list__tile {
    min-width: 0;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    opacity: 0;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    pointer-events: none
}
.menu-transition-enter .list__tile--active {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    pointer-events: auto
}
.menu-transition-enter-to .list__tile {
    pointer-events: auto;
    opacity: 1
}
.menu-transition-enter-to .list__tile--active {
    -webkit-transform: none;
    transform: none
}
.menu-transition-leave-to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}
.menu-transition-enter,
.menu-transition-leave-to {
    opacity: 0
}
.menu-transition-enter-to,
.menu-transition-leave {
    opacity: 1
}
.menu-transition-enter-active,
.menu-transition-leave-active {
    -webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
    transition: all .4s cubic-bezier(.25, .8, .25, 1)
}
.toolbar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1976d2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 64px;
    position: relative;
    padding: 0 14px;
    width: 100%
}
.toolbar ul {
    list-style: none
}
.toolbar li {
    height: 100%
}
.toolbar i {
    font-size: 24px
}
.toolbar .menu__activator {
    height: 100%
}
.toolbar .btn:not(.toolbar__side-icon) {
    margin: 0 6px
}
.toolbar .btn:not(.toolbar__side-icon):first-child {
    margin-left: -6px
}
.toolbar .btn:not(.toolbar__side-icon):last-child {
    margin-right: 0
}
.toolbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4
}
.toolbar__sub {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding: 24px 0 24px 72px
}
.toolbar__side-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-left: 10px
}
.toolbar__logo {
    color: #fff;
    font-size: 3rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-decoration: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.toolbar__title {
    color: #fff;
    font-size: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 16px
}
.toolbar__title:first-child {
    padding-left: 2px
}
.toolbar__items {
    list-style-type: none;
    padding: 0;
    background-color: inherit;
    height: 100%
}
.toolbar__group-header,
.toolbar__item,
.toolbar__items,
.toolbar__items>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.toolbar__group-header,
.toolbar__item {
    color: #fff;
    padding: 0 1.2rem;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: relative;
    height: 100%
}
.toolbar__group-header i,
.toolbar__item i {
    font-size: 2rem
}
.toolbar__group-header--active,
.toolbar__group-header:hover,
.toolbar__item--active,
.toolbar__item:hover {
    background: rgba(0, 0, 0, .1)
}
.toolbar__group-header--disabled,
.toolbar__item--disabled {
    opacity: .5;
    pointer-events: none
}
.toolbar__group {
    position: relative;
    background-color: inherit;
    color: #fff;
    height: 100%
}
.toolbar__group .toolbar__items {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    min-width: 100%;
    background-color: #424242;
    overflow: hidden;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto
}
.toolbar__group .toolbar__items li {
    width: 100%
}
.toolbar__group .toolbar__items .toolbar__item {
    padding: 1rem;
    white-space: nowrap;
    color: inherit;
    font-weight: 500;
    width: 100%
}
.toolbar__group .toolbar__items .toolbar__item:hover {
    background-color: hsla(0, 0%, 100%, .2)
}
.toolbar__group-header {
    padding-right: 45px
}
.toolbar__group-header:after {
    content: "\E314";
    font-family: Material Icons;
    font-size: 1.5rem;
    position: absolute;
    right: 15px;
    top: calc(50% - 16px);
    color: inherit;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    transition: -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    transition: transform .3s cubic-bezier(0, 0, .2, 1);
    transition: transform .3s cubic-bezier(0, 0, .2, 1), -webkit-transform .3s cubic-bezier(0, 0, .2, 1);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.overlay {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-filter: blur(10%);
    filter: blur(10%);
    z-index: -1
}
.overlay--active {
    opacity: 1;
    z-index: 1000
}
.pagination {
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 0;
    margin: 0;
    height: 40px;
    align-items: center
}
.pagination a {
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.pagination--circle .pagination__item,
.pagination--circle .pagination__more,
.pagination--circle .pagination__navigation {
    border-radius: 50%
}
.pagination--disabled {
    pointer-events: none;
    opacity: .6
}
.pagination__item {
    border-radius: 4px;
    color: #000;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    height: 34px;
    width: 34px;
    margin: .3rem;
    text-decoration: none
}
.pagination__item--active {
    background: #1976d2;
    color: #fff
}
.pagination__navigation {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #616161;
    height: 2rem;
    border-radius: 4px;
    width: 2rem;
    margin: .3rem 15px
}
.pagination__navigation .icon {
    font-size: 2rem;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    vertical-align: middle
}
.pagination__navigation--disabled {
    opacity: .6;
    pointer-events: none
}
.pagination__more {
    margin: .3rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2rem;
    width: 2rem
}
.parallax {
    position: relative;
    overflow: hidden
}
.parallax__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}
.parallax__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    display: none;
    z-index: 1
}
.parallax__content {
    color: #fff;
    height: 100%;
    z-index: 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1rem
}
.progress-circular {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
.progress-circular--indeterminate svg {
    -webkit-animation: progress-circular-rotate 1.4s linear infinite;
    animation: progress-circular-rotate 1.4s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 0
}
.progress-circular--indeterminate .progress-circular__overlay {
    -webkit-animation: progress-circular-dash 1.4s ease-in-out infinite;
    animation: progress-circular-dash 1.4s ease-in-out infinite;
    stroke-linecap: round;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px
}
.progress-circular__underlay {
    stroke: rgba(0, 0, 0, .1);
    z-index: 1
}
.progress-circular__overlay {
    stroke: currentColor;
    z-index: 2;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}
.progress-circular__info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}
@-webkit-keyframes progress-circular-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0px
    }
    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px
    }
    to {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -125px
    }
}
@keyframes progress-circular-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0px
    }
    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px
    }
    to {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -125px
    }
}
@-webkit-keyframes progress-circular-rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@keyframes progress-circular-rotate {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
.progress-linear {
    background: transparent;
    margin: 1rem 0;
    overflow: hidden;
    width: 100%;
    position: relative
}
.progress-linear .progress-linear__bar {
    background: #84bbf0
}
.progress-linear .progress-linear__bar__determinate,
.progress-linear .progress-linear__bar__indeterminate:after,
.progress-linear .progress-linear__bar__indeterminate:before {
    background: #1976d2
}
.progress-linear__bar {
    width: 100%;
    position: relative;
    z-index: 2
}
.progress-linear__bar,
.progress-linear__bar__determinate {
    height: inherit;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in
}
.progress-linear__bar__indeterminate:after,
.progress-linear__bar__indeterminate:before {
    content: "";
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    will-change: left, right;
    width: auto
}
.progress-linear__bar__indeterminate:before {
    -webkit-animation: indeterminate;
    animation: indeterminate;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.progress-linear__bar__indeterminate:after {
    -webkit-animation: indeterminate-short;
    animation: indeterminate-short;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.progress-linear--query .progress-linear__bar__indeterminate:before {
    -webkit-animation: query;
    animation: query;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.progress-linear--query .progress-linear__bar__indeterminate:after {
    -webkit-animation: query-short;
    animation: query-short;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.progress-linear--secondary .progress-linear__bar {
    background: #a1a1a1
}
.progress-linear--secondary .progress-linear__bar__determinate,
.progress-linear--secondary .progress-linear__bar__indeterminate:after,
.progress-linear--secondary .progress-linear__bar__indeterminate:before {
    background: #424242
}
.progress-linear--success .progress-linear__bar {
    background: #a5d8a7
}
.progress-linear--success .progress-linear__bar__determinate,
.progress-linear--success .progress-linear__bar__indeterminate:after,
.progress-linear--success .progress-linear__bar__indeterminate:before {
    background: #4caf50
}
.progress-linear--info .progress-linear__bar {
    background: #90cbf9
}
.progress-linear--info .progress-linear__bar__determinate,
.progress-linear--info .progress-linear__bar__indeterminate:after,
.progress-linear--info .progress-linear__bar__indeterminate:before {
    background: #2196f3
}
.progress-linear--warning .progress-linear__bar {
    background: #ffe083
}
.progress-linear--warning .progress-linear__bar__determinate,
.progress-linear--warning .progress-linear__bar__indeterminate:after,
.progress-linear--warning .progress-linear__bar__indeterminate:before {
    background: #ffc107
}
.progress-linear--error .progress-linear__bar {
    background: #ffa8a8
}
.progress-linear--error .progress-linear__bar__determinate,
.progress-linear--error .progress-linear__bar__indeterminate:after,
.progress-linear--error .progress-linear__bar__indeterminate:before {
    background: #ff5252
}
@-webkit-keyframes indeterminate {
    0% {
        left: -90%;
        right: 100%
    }
    60% {
        left: -90%;
        right: 100%
    }
    to {
        left: 100%;
        right: -35%
    }
}
@keyframes indeterminate {
    0% {
        left: -90%;
        right: 100%
    }
    60% {
        left: -90%;
        right: 100%
    }
    to {
        left: 100%;
        right: -35%
    }
}
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    60% {
        left: 107%;
        right: -8%
    }
    to {
        left: 107%;
        right: -8%
    }
}
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%
    }
    60% {
        left: 107%;
        right: -8%
    }
    to {
        left: 107%;
        right: -8%
    }
}
@-webkit-keyframes query {
    0% {
        right: -90%;
        left: 100%
    }
    60% {
        right: -90%;
        left: 100%
    }
    to {
        right: 100%;
        left: -35%
    }
}
@keyframes query {
    0% {
        right: -90%;
        left: 100%
    }
    60% {
        right: -90%;
        left: 100%
    }
    to {
        right: 100%;
        left: -35%
    }
}
@-webkit-keyframes query-short {
    0% {
        right: -200%;
        left: 100%
    }
    60% {
        right: 107%;
        left: -8%
    }
    to {
        right: 107%;
        left: -8%
    }
}
@keyframes query-short {
    0% {
        right: -200%;
        left: 100%
    }
    60% {
        right: 107%;
        left: -8%
    }
    to {
        right: 107%;
        left: -8%
    }
}
.ripple__container {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    z-index: 0
}
.ripple__animation,
.ripple__container {
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none
}
.ripple__animation {
    border-radius: 50%;
    background: currentColor;
    opacity: 0;
    -webkit-transition: .4s cubic-bezier(0, 0, .2, 1);
    transition: .4s cubic-bezier(0, 0, .2, 1);
    will-change: opacity
}
.ripple__animation--enter {
    -webkit-transition: none;
    transition: none
}
.ripple__animation--visible {
    opacity: .15
}
.input-group--select .input-group__append-icon {
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.input-group--select.input-group--focused .input-group__append-icon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.input-group--select.input-group--dirty.input-group--focused.input-group--chips input {
    margin: 8px 0
}
.input-group--select .input-group__input,
.input-group--select input {
    cursor: pointer
}
.input-group--select.input-group--disabled {
    cursor: not-allowed;
    pointer-events: none
}
.input-group--select .input-group__selections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%
}
.input-group--select .input-group__selections__comma {
    font-size: 16px;
    height: 30px;
    padding-top: 4px;
    padding-right: 4px
}
.input-group--select.input-group--light .input-group__selections__comma {
    color: rgba(0, 0, 0, .87)
}
.input-group--select.input-group--light .input-group__selections__comma--active {
    color: #1976d2
}
.input-group--select.input-group--dark .input-group__selections__comma {
    color: #fff
}
.input-group.input-group--selection-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.input-group.input-group--selection-controls .icon {
    cursor: pointer;
    position: absolute;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .3s cubic-bezier(.4, 0, .6, 1);
    transition: .3s cubic-bezier(.4, 0, .6, 1)
}
.input-group.input-group--selection-controls .input-group__details:after,
.input-group.input-group--selection-controls .input-group__details:before {
    display: none
}
.input-group.input-group--selection-controls .input-group__input {
    width: 100%;
    position: relative
}
.input-group.input-group--selection-controls .input-group__input .icon {
    height: 100%;
    margin: auto
}
.input-group--selection-controls label {
    cursor: pointer;
    margin-left: 32px;
    position: absolute;
    left: 0;
    z-index: 1
}
.input-group--selection-controls__ripple {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    cursor: pointer;
    position: absolute;
    -webkit-transform: translate3d(-12px, -50%, 0);
    transform: translate3d(-12px, -50%, 0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    top: 50%;
    left: 0
}
.input-group.input-group--selection-controls {
    z-index: 0
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__container {
    position: relative
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__toggle {
    color: inherit;
    position: absolute;
    height: 14px;
    top: 50%;
    left: 0;
    width: 34px;
    border-radius: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__toggle--active {
    background: currentColor!important;
    opacity: .5
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple {
    -webkit-transform: translate3d(-15px, -24px, 0);
    transform: translate3d(-15px, -24px, 0);
    -webkit-transition: .3s cubic-bezier(.25, .8, .25, 1);
    transition: .3s cubic-bezier(.25, .8, .25, 1);
    z-index: 1
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple:after {
    content: "";
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    height: 20px
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple--active {
    color: inherit!important;
    -webkit-transform: translate3d(2px, -24px, 0);
    transform: translate3d(2px, -24px, 0)
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple--active:after {
    background: currentColor!important
}
.input-group.input-group--selection-controls.switch label {
    margin-left: 44px
}
.input-group--selection-controls.switch.input-group--light label {
    color: #424242
}
.input-group--selection-controls.switch.input-group--light .input-group--selection-controls__toggle {
    background: rgba(0, 0, 0, .38)
}
.input-group--selection-controls.switch.input-group--light .input-group--selection-controls__ripple {
    color: rgba(0, 0, 0, .38)
}
.input-group--selection-controls.switch.input-group--light .input-group--selection-controls__ripple:after {
    background: #fafafa
}
.input-group--selection-controls.switch.input-group--light.input-group--selection-controls__container--disabled .input-group--selection-controls__toggle {
    background: rgba(0, 0, 0, .12)
}
.input-group--selection-controls.switch.input-group--light.input-group--selection-controls__container--disabled .input-group--selection-controls__ripple {
    color: rgba(0, 0, 0, .12)
}
.input-group--selection-controls.switch.input-group--light.input-group--selection-controls__container--disabled .input-group--selection-controls__ripple:after {
    background: #bdbdbd
}
.input-group--selection-controls.switch.input-group--dark label {
    color: #fff
}
.input-group--selection-controls.switch.input-group--dark .input-group--selection-controls__toggle {
    background: hsla(0, 0%, 100%, .3)
}
.input-group--selection-controls.switch.input-group--dark .input-group--selection-controls__ripple {
    color: hsla(0, 0%, 100%, .3)
}
.input-group--selection-controls.switch.input-group--dark .input-group--selection-controls__ripple:after {
    background: #bdbdbd
}
.input-group--selection-controls.switch.input-group--dark.input-group--selection-controls__container--disabled .input-group--selection-controls__toggle {
    background: hsla(0, 0%, 100%, .1)
}
.input-group--selection-controls.switch.input-group--dark.input-group--selection-controls__container--disabled .input-group--selection-controls__ripple {
    color: hsla(0, 0%, 100%, .1)
}
.input-group--selection-controls.switch.input-group--dark.input-group--selection-controls__container--disabled .input-group--selection-controls__ripple:after {
    background: #424242
}
.input-group--selection-controls.checkbox.input-group--light label,
.input-group--selection-controls.radio.input-group--light label {
    color: #000
}
.input-group--selection-controls.checkbox.input-group--light .icon,
.input-group--selection-controls.checkbox.input-group--light .input-group--selection-controls__ripple,
.input-group--selection-controls.radio.input-group--light .icon,
.input-group--selection-controls.radio.input-group--light .input-group--selection-controls__ripple {
    color: rgba(0, 0, 0, .54)
}
.input-group--selection-controls.checkbox.input-group--light.input-group--active .icon,
.input-group--selection-controls.checkbox.input-group--light.input-group--active .input-group--selection-controls__ripple,
.input-group--selection-controls.radio.input-group--light.input-group--active .icon,
.input-group--selection-controls.radio.input-group--light.input-group--active .input-group--selection-controls__ripple {
    color: inherit
}
.input-group--selection-controls.checkbox.input-group--light.input-group--disabled .icon,
.input-group--selection-controls.checkbox.input-group--light.input-group--disabled .input-group--selection-controls__ripple,
.input-group--selection-controls.radio.input-group--light.input-group--disabled .icon,
.input-group--selection-controls.radio.input-group--light.input-group--disabled .input-group--selection-controls__ripple {
    color: rgba(0, 0, 0, .26)
}
.input-group--selection-controls.checkbox.input-group--dark label,
.input-group--selection-controls.radio.input-group--dark label {
    color: #fff
}
.input-group--selection-controls.checkbox.input-group--dark .icon,
.input-group--selection-controls.checkbox.input-group--dark .input-group--selection-controls__ripple,
.input-group--selection-controls.radio.input-group--dark .icon,
.input-group--selection-controls.radio.input-group--dark .input-group--selection-controls__ripple {
    color: hsla(0, 0%, 100%, .7)
}
.input-group--selection-controls.checkbox.input-group--dark.input-group--active .icon,
.input-group--selection-controls.checkbox.input-group--dark.input-group--active .input-group--selection-controls__ripple,
.input-group--selection-controls.radio.input-group--dark.input-group--active .icon,
.input-group--selection-controls.radio.input-group--dark.input-group--active .input-group--selection-controls__ripple {
    color: inherit
}
.input-group--selection-controls.checkbox.input-group--dark.input-group--disabled .icon,
.input-group--selection-controls.checkbox.input-group--dark.input-group--disabled .input-group--selection-controls__ripple,
.input-group--selection-controls.radio.input-group--dark.input-group--disabled .icon,
.input-group--selection-controls.radio.input-group--dark.input-group--disabled .input-group--selection-controls__ripple {
    color: hsla(0, 0%, 100%, .3)
}

.input-group--slider.input-group--light label {
    -webkit-transform: none;
    transform: none;
    -ms-flex-preferred-size: 56px;
    flex-basis: 56px;
    color: rgba(0, 0, 0, .87);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.input-group--slider.input-group--light .slider__track {
    background: rgba(0, 0, 0, .26)
}
.input-group--slider.input-group--light .slider__track__container:after {
    border: 0 solid rgba(0, 0, 0, .6);
    border-left-width: 2px
}
.input-group--slider.input-group--light .slider__thumb {
    border: 4px solid rgba(0, 0, 0, .26)
}
.input-group--slider.input-group--light .slider__thumb--label {
    background: rgba(0, 0, 0, .26)
}
.input-group--slider.input-group--light .slider__ticks {
    background: -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6) 2px, transparent 0, transparent);
    background: repeating-linear-gradient(90deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6) 2px, transparent 0, transparent)
}
.input-group--slider.input-group--light.input-group--disabled .slider__thumb {
    background: rgba(0, 0, 0, .38);
    border-color: transparent
}
.input-group--slider.input-group--light.input-group--disabled.input-group--dirty .slider__track-fill {
    background: rgba(0, 0, 0, .26)
}
.input-group--slider.input-group--light:not(.input-group--dirty) .slider__thumb-container--label .slider__thumb {
    background: #000
}
.input-group--slider.input-group--dark label {
    -webkit-transform: none;
    transform: none;
    -ms-flex-preferred-size: 56px;
    flex-basis: 56px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.input-group--slider.input-group--dark .slider__track {
    background: hsla(0, 0%, 100%, .3)
}
.input-group--slider.input-group--dark .slider__track__container:after {
    border: 0 solid hsla(0, 0%, 100%, .6);
    border-left-width: 2px
}
.input-group--slider.input-group--dark .slider__thumb {
    border: 4px solid hsla(0, 0%, 100%, .3)
}
.input-group--slider.input-group--dark .slider__thumb--label {
    background: hsla(0, 0%, 100%, .3)
}
.input-group--slider.input-group--dark .slider__ticks {
    background: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6) 2px, transparent 0, transparent);
    background: repeating-linear-gradient(90deg, hsla(0, 0%, 100%, .6), hsla(0, 0%, 100%, .6) 2px, transparent 0, transparent)
}
.input-group--slider.input-group--dark.input-group--disabled .slider__thumb {
    background: hsla(0, 0%, 100%, .3);
    border-color: transparent
}
.input-group--slider.input-group--dark.input-group--disabled.input-group--dirty .slider__track-fill {
    background: hsla(0, 0%, 100%, .3)
}
.input-group--slider.input-group--dark:not(.input-group--dirty) .slider__thumb-container--label .slider__thumb {
    background: #fff
}
.input-group--slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.input-group--slider .input-group__details:after,
.input-group--slider .input-group__details:before {
    display: none
}
.input-group--slider .input-group__input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}
.input-group--slider label+.input-group__input {
    margin-left: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.input-group--slider.input-group--active .slider__thumb {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1)
}
.input-group--slider.input-group--active .slider__track {
    -webkit-transition: none;
    transition: none
}
.input-group--slider.input-group--active .slider__thumb-container--label .slider__thumb,
.input-group--slider.input-group--active .slider__thumb-container--label .slider__thumb:hover {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0)
}
.input-group--slider.input-group--active .slider__thumb-container,
.input-group--slider.input-group--active .slider__track-fill {
    -webkit-transition: none;
    transition: none
}
.input-group--slider.input-group--dirty .slider__thumb {
    background: #1976d2;
    border-color: #1976d2
}
.input-group--slider.input-group--dirty .slider__thumb--label {
    background: #1976d2
}
.input-group--slider.input-group--disabled {
    pointer-events: none
}
.input-group--slider.input-group--disabled .slider__thumb {
    -webkit-transform: translateY(-50%) scale(.5);
    transform: translateY(-50%) scale(.5);
    background: transparent
}
.input-group--slider.input-group--disabled.input-group--dirty {
    border-color: transparent
}
.input-group--slider.input-group--prepend-icon .slider {
    margin-left: 56px
}
.slider {
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.input-group--ticks:hover .slider__ticks,
.input-group--ticks:hover .slider__track__container:after {
    opacity: 1
}
.slider__track__container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    overflow: hidden
}
.slider__track__container:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 2px;
    opacity: 0
}
.slider__thumb,
.slider__ticks,
.slider__track {
    position: absolute;
    top: 0
}
.slider__track {
    -webkit-transform-origin: right;
    transform-origin: right;
    overflow: hidden
}
.slider__track,
.slider__track-fill {
    height: 2px;
    left: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%
}
.slider__track-fill {
    position: absolute;
    background: #1976d2;
    -webkit-transform-origin: left;
    transform-origin: left
}
.slider__ticks,
.slider__ticks-container {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%
}
.slider__ticks-container {
    top: 50%;
    overflow: hidden
}
.slider__ticks {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0
}
.slider__thumb-container {
    position: absolute
}
.slider__thumb,
.slider__thumb-container {
    top: 50%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}
.slider__thumb {
    width: 20px;
    height: 20px;
    left: -10px;
    border-radius: 50%;
    background: transparent;
    -webkit-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.slider__thumb:hover {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1)
}
.slider__thumb--label__container {
    left: 0;
    top: 0
}
.slider__thumb--label,
.slider__thumb--label__container {
    position: absolute;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}
.slider__thumb--label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50% 50% 0;
    left: -14px;
    top: -40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.slider__thumb--label span {
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0)
}
.checkout-wrapper .subheader {
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #757575;
    font-weight: 500;
    padding: 0 16px
}
.subheader--inset {
    margin-left: 56px
}
.stepper {
    overflow: hidden;
    position: relative
}
.stepper .divider {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0 -16px
}
.stepper__header {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.stepper__header,
.stepper__step__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.stepper__step__step {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, .38);
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    margin-right: 8px;
    width: 24px;
    -webkit-transition: .3s cubic-bezier(.25, .8, .25, 1);
    transition: .3s cubic-bezier(.25, .8, .25, 1)
}
.stepper__step__step .icon {
    font-size: 18px
}
.stepper__step {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 24px;
    position: relative
}
.stepper__step--active .stepper__label {
    text-shadow: 0 0 0 #000;
    -webkit-transition: .3s cubic-bezier(.4, 0, .6, 1);
    transition: .3s cubic-bezier(.4, 0, .6, 1)
}
.stepper__step--active .stepper__step__step {
    background: #1976d2
}
.stepper__step--editable {
    cursor: pointer
}
.stepper__step--editable:hover {
    background: rgba(0, 0, 0, .06)
}
.stepper__step--inactive .stepper__label,
.stepper__step--inactive .stepper__label small {
    color: rgba(0, 0, 0, .38)
}
.stepper__step__step:not(.stepper__step--inactive.stepper__step--error) {
    color: #fff;
    background: rgba(0, 0, 0, .38)
}
.stepper__step--inactive.stepper__step--editable:hover .stepper__step__step,
.stepper__step__step:not(.stepper__step--inactive.stepper__step--error):hover {
    background: rgba(0, 0, 0, .5)
}
.stepper__step--error .stepper__step__step {
    background: transparent;
    color: #ff5252
}
.stepper__step--error .stepper__step__step .icon {
    font-size: 24px
}
.stepper__step--error .stepper__label {
    color: #ff5252;
    text-shadow: none;
    font-weight: 500
}
.stepper__step--error .stepper__label small {
    color: #ff5252
}
.stepper__step--complete .stepper__label {
    color: rgba(0, 0, 0, .5);
    text-shadow: 0 0 0 #000
}
.stepper__step--complete .stepper__step__step {
    background: #1976d2
}
.stepper__label {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    color: rgba(0, 0, 0, .38)
}
.stepper__label small {
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, .38);
    text-shadow: none
}
.stepper__content,
.stepper__wrapper {
    overflow: hidden;
    -webkit-transition: .4s cubic-bezier(.4, 0, .6, 1);
    transition: .4s cubic-bezier(.4, 0, .6, 1)
}
.stepper__content {
    top: auto;
    bottom: 0;
    padding: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%
}
.stepper__content .btn {
    margin-left: 0
}
.stepper--vertical {
    padding-bottom: 36px
}
.stepper--vertical .stepper__content {
    margin: -8px 0 -16px 36px;
    padding: 16px 60px 16px 23px;
    width: auto
}
.stepper--vertical .stepper__content:not(:last-child) {
    border-left: 1px solid rgba(0, 0, 0, .12)
}
.stepper--vertical .stepper__step {
    padding: 24px 24px 16px
}
.stepper--vertical .stepper__step__step {
    margin-right: 12px
}
.stepper--alt-labels .divider {
    margin: 35px -67px 0;
    -ms-flex-item-align: start;
    align-self: flex-start
}
.stepper--alt-labels .stepper__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 175px;
    flex-basis: 175px
}
.stepper--alt-labels .stepper__step small {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}
.stepper--alt-labels .stepper__step__step {
    margin-right: 0;
    margin-bottom: 12px
}
@media only screen and (max-width: 767px) {
    .stepper:not(.stepper--vertical) .stepper__label {
        display: none
    }
    .stepper:not(.stepper--vertical) .stepper__step__step {
        margin-right: 0
    }
}
.table__overflow {
    width: 100%;
    overflow: auto
}
table {
    border-radius: 2px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%
}
table td,
table th {
    padding: 8px;
    text-align: left
}
table thead th {
    color: #757575;
    font-weight: 600;
    font-size: .95rem
}
table tbody tr {
    border-top: 1px solid #e0e0e0;
    -webkit-transition: background .3s cubic-bezier(0, 0, .2, 1);
    transition: background .3s cubic-bezier(0, 0, .2, 1);
    will-change: background
}
table tbody tr:hover {
    background: #eee
}
table tbody td {
    font-weight: 500
}
table .input-group--selection-controls {
    margin: 0
}
table .input-group--selection-controls .input-group__details {
    display: none
}
table .input-group--selection-controls.checkbox .icon {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
table .input-group--selection-controls.checkbox .input-group--selection-controls__ripple {
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}
.tabs {
    overflow: hidden;
    position: relative;
    width: 100%
}
.tabs>.card {
    border-radius: 0
}
.tabs .card {
    background: inherit;
    box-shadow: none
}
.tabs ul {
    padding: 0
}
.tabs--grow .tabs__container>li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.tabs--centered .tabs__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.tabs--icons .tabs__tabs {
    height: 90px
}
.tabs--scroll-bars .tabs__tabs--mobile {
    padding: 0 35px
}
.tabs--scroll-bars .tabs__tabs--mobile .icon--left,
.tabs--scroll-bars .tabs__tabs--mobile .icon--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.tabs--scroll-bars .tabs__tabs--mobile .tabs__container {
    width: calc(100% - 70px)
}
.tabs__tabs {
    background-color: #1976d2;
    width: 100%;
    position: relative;
    height: 60px
}
.tabs__tabs .icon--left,
.tabs__tabs .icon--right {
    position: absolute;
    top: 0;
    width: 35px;
    display: none;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.tabs__tabs .icon--left {
    left: 0
}
.tabs__tabs .icon--right {
    right: 0
}
.tabs__container {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 1rem;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none
}
.tabs__container>li {
    height: 100%
}
.tabs__container-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px
}
.tabs .tab__item,
.tabs__container-left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.tabs .tab__item {
    color: #e0e0e0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 125px;
    padding: 1rem;
    min-width: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    overflow: hidden;
    white-space: nowrap
}
.tabs .tab__item .icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 32px;
    margin: .5rem 0
}
.tabs .tab__item--active {
    color: #fff
}
.tabs .tab__item--disabled {
    opacity: .5;
    pointer-events: none
}
.tabs__items {
    overflow: hidden;
    position: relative;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1)
}
.tabs__item {
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1);
    width: 100%
}
.tabs__item>.card {
    box-shadow: none
}
.tabs__slider {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: #448aff;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.input-group--text-field label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 100%
}
.input-group--text-field.input-group--multi-line:not(.input-group--focused):not(.input-group--dirty) label {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.input-group--text-field input {
    font-size: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    height: 30px
}
.input-group--text-field input+.icon {
    padding: 0 6px;
    -webkit-transition: .3s cubic-bezier(.4, 0, .6, 1);
    transition: .3s cubic-bezier(.4, 0, .6, 1)
}
.input-group--text-field input:focus {
    outline: none
}
.input-group--text-field input:disabled {
    pointer-events: none
}
.input-group--text-field textarea {
    font-size: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1
}
.input-group--text-field textarea:focus {
    outline: none
}
.input-group--text-field .input-group__counter {
    margin-left: auto
}
.input-group--text-field .input-group__counter--error {
    color: #ff5252!important
}
.input-group--text-field.input-group--light.input-group--single-line.input-group--text-field.input-group--light.input-group--focused label,
.input-group--text-field.input-group--light input,
.input-group--text-field.input-group--light input+.icon,
.input-group--text-field.input-group--light input:disabled,
.input-group--text-field.input-group--light label,
.input-group--text-field.input-group--light textarea,
.input-group--text-field.input-group--light textarea+.icon,
.input-group--text-field.input-group--light textarea:disabled {
    color: rgba(0, 0, 0, .38)
}
.input-group--text-field.input-group--light .input-group__append-icon,
.input-group--text-field.input-group--light .input-group__prepend-icon {
    color: rgba(0, 0, 0, .6)
}
.input-group--text-field.input-group--light.input-group--dirty input,
.input-group--text-field.input-group--light.input-group--dirty textarea {
    color: rgba(0, 0, 0, .87)
}
.input-group--text-field.input-group--light.input-group--disabled input,
.input-group--text-field.input-group--light.input-group--disabled textarea,
.input-group--text-field.input-group--light .input-group__counter,
.input-group--text-field.input-group--light .input-group__details {
    color: rgba(0, 0, 0, .38)
}
.input-group--text-field.input-group--light.input-group--disabled .input-group__details:before {
    background-color: transparent
}
.input-group--text-field.input-group--dark.input-group--single-line.input-group--text-field.input-group--dark.input-group--focused label,
.input-group--text-field.input-group--dark input,
.input-group--text-field.input-group--dark input+.icon,
.input-group--text-field.input-group--dark input:disabled,
.input-group--text-field.input-group--dark label,
.input-group--text-field.input-group--dark textarea,
.input-group--text-field.input-group--dark textarea+.icon,
.input-group--text-field.input-group--dark textarea:disabled {
    color: hsla(0, 0%, 100%, .5)
}
.input-group--text-field.input-group--dark .input-group__append-icon,
.input-group--text-field.input-group--dark .input-group__prepend-icon {
    color: hsla(0, 0%, 100%, .6)
}
.input-group--text-field.input-group--dark.input-group--dirty input,
.input-group--text-field.input-group--dark.input-group--dirty textarea {
    color: #fff
}
.input-group--text-field.input-group--dark.input-group--disabled input,
.input-group--text-field.input-group--dark.input-group--disabled textarea,
.input-group--text-field.input-group--dark .input-group__counter,
.input-group--text-field.input-group--dark .input-group__details {
    color: hsla(0, 0%, 100%, .5)
}
.input-group--text-field.input-group--dark.input-group--disabled .input-group__details:before {
    background-color: transparent
}
.input-group--text-field.input-group--focused label {
    color: #1976d2
}
.input-group--text-field.input-group--dirty label,
.input-group--text-field.input-group--focused label {
    -webkit-transform: translate3d(0, -18px, 0) scale(.75);
    transform: translate3d(0, -18px, 0) scale(.75)
}
.input-group--text-field.input-group--error .input-group__details:after {
    background-color: #ff5252
}
.input-group--text-field.input-group--prepend-icon .input-group__prepend-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-preferred-size: 56px;
    flex-basis: 56px;
    -webkit-transition: .3s cubic-bezier(.25, .8, .25, 1);
    transition: .3s cubic-bezier(.25, .8, .25, 1)
}
.input-group--text-field.input-group--prepend-icon .input-group__details {
    margin-left: 56px
}
.input-group--text-field.input-group--prepend-icon .input-group__details:after,
.input-group--text-field.input-group--prepend-icon .input-group__details:before {
    max-width: calc(100% - 56px)
}
.input-group--text-field.input-group--prepend-icon label {
    margin-left: 56px
}
.input-group--text-field.input-group--prepend-icon input {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}
.input-group--text-field.input-group--prepend-icon.input-group--focused .icon {
    color: #1976d2
}
.input-group--text-field.input-group--single-line label {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.input-group--text-field.input-group--single-line.input-group--dirty label {
    display: none
}
.input-group--text-field.input-group--required label:after {
    content: "*"
}
.input-group--text-field.input-group--error label,
.input-group--text-field.input-group--required.input-group--focused label:after {
    color: #ff5252
}
.input-group--text-field.input-group--error .input-group__details:after,
.input-group--text-field.input-group--error .input-group__details:before {
    background-color: #ff5252
}
.input-group--text-field.input-group--full-width {
    padding: 0 16px
}
.input-group--text-field.input-group--full-width .input-group__details:after,
.input-group--text-field.input-group--full-width .input-group__details:before {
    display: none
}
.toast {
    position: fixed;
    z-index: 99999999999999
}
.toast--right {
    top: 5%;
    right: 2%
}
.toast--left {
    top: 5%;
    left: 2%
}
.toast--top {
    top: 5%
}
.toast--bottom,
.toast--top {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.toast--bottom {
    bottom: 5%
}
.toast--snack {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.toast--snack .toast__content {
    margin-bottom: 0;
    opacity: 1
}
.toast--snack .toast__content--remove {
    margin-top: 0
}
.toast__content {
    background: #424242;
    border-radius: 2px;
    color: #fff;
    padding: 1rem 2rem;
    margin: 1rem 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 3rem, 0);
    transform: translate3d(0, 3rem, 0);
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
.toast__content--active {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
}
.toast__content--remove {
    margin-top: -3rem;
    opacity: 0
}
[data-tooltip] {
    position: relative
}
[data-tooltip]:before {
    background: #424242;
    border-radius: .2rem;
    color: #fff;
    content: attr(data-tooltip);
    font-size: .8rem;
    line-height: 1.2rem;
    opacity: 0;
    padding: .8rem;
    position: absolute;
    pointer-events: none;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    visibility: hidden;
    width: auto;
    white-space: pre;
    z-index: 99
}
[data-tooltip]:hover:before {
    opacity: 1;
    visibility: visible
}
[data-tooltip][data-tooltip-location=bottom]:before {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -10px) scale(.1);
    transform: translate(-50%, -10px) scale(.1);
    -webkit-transform-origin: center top;
    transform-origin: center top
}
[data-tooltip][data-tooltip-location=bottom]:hover:before {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px)
}
[data-tooltip][data-tooltip-location=top]:before {
    top: -100%;
    left: 50%;
    -webkit-transform: translate(-50%, 10px) scale(.1);
    transform: translate(-50%, 10px) scale(.1);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}
[data-tooltip][data-tooltip-location=top]:hover:before {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px)
}
[data-tooltip][data-tooltip-location=left]:before {
    right: 100%;
    -webkit-transform: translate(10px) scale(.1);
    transform: translate(10px) scale(.1);
    -webkit-transform-origin: center right;
    transform-origin: center right
}
[data-tooltip][data-tooltip-location=left]:hover:before {
    -webkit-transform: translate(-10px);
    transform: translate(-10px)
}
[data-tooltip][data-tooltip-location=right]:before {
    left: 100%;
    -webkit-transform: translate(-10px) scale(.1);
    transform: translate(-10px) scale(.1);
    -webkit-transform-origin: center left;
    transform-origin: center left
}
[data-tooltip][data-tooltip-location=right]:hover:before {
    -webkit-transform: translate(10px);
    transform: translate(10px)
}
.with {
    min-height: 100vh;
    -webkit-backface-visibility: hidden
}
.with.top-fixed-toolbar {
    padding-top: 64px
}
.with.top-fixed-toolbar header {
    z-index: 4
}
.with.top-toolbar main {
    min-height: calc(100vh - 64px)
}
.with.top-toolbar main>.content {
    padding-top: 1rem
}
.with.bottom-footer main {
    min-height: calc(100vh - 45px)
}
.with.bottom-footer.with.top-fixed-toolbar main,
.with.bottom-footer.with.top-toolbar main {
    min-height: calc(100vh - 64px - 45px)
}
.with.left-fixed-sidebar header .toolbar {
    padding-left: 314px;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
@media screen and (max-width: 991px) {
    .with.left-fixed-sidebar header .toolbar {
        padding-left: 14px
    }
}
.with.left-fixed-sidebar footer,
.with.left-fixed-sidebar main {
    padding-left: 300px;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
@media screen and (max-width: 991px) {
    .with.left-fixed-sidebar footer,
    .with.left-fixed-sidebar main {
        padding-left: 0
    }
}
.with.left-sidebar main {
    background: #424242
}
.with.left-sidebar .sidebar {
    box-shadow: none
}
.with.right-fixed-sidebar footer,
.with.right-fixed-sidebar header .toolbar,
.with.right-fixed-sidebar main {
    padding-right: 300px;
    -webkit-transition: .3s cubic-bezier(0, 0, .2, 1);
    transition: .3s cubic-bezier(0, 0, .2, 1)
}
@media screen and (max-width: 991px) {
    .with.right-fixed-sidebar footer,
    .with.right-fixed-sidebar header .toolbar,
    .with.right-fixed-sidebar main {
        padding-right: 0
    }
}
.with.sidebar-under-toolbar .sidebar {
    margin-top: 64px
}
.with.sidebar-under-toolbar.left-fixed-sidebar .toolbar,
.with.sidebar-under-toolbar.right-fixed-sidebar .toolbar {
    padding-left: inherit
}
.app__bar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}
.app__bar .btn-dropdown--overflow .input-group {
    border: none;
    margin: 0
}
.app__bar .input-group__details {
    display: none
}
.app__bar>div {
    min-width: 130px
}
.app__bar>div:not(:first-child) {
    margin-left: 1px
}
.app__bar>div:not(:first-child):before {
    content: "";
    position: absolute;
    height: 60%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -1px;
    background: rgba(0, 0, 0, .12);
    width: 1px;
    z-index: 0
}
.app__bar .input-group:not(.input-group--focused) .input-group__input:hover {
    background: #f5f5f5
}
.app__bar .btn-toggle {
    box-shadow: none;
    background: transparent;
    position: relative;
    padding: 0 8px
}
.app__bar .btn-toggle .btn {
    background: transparent;
    border: none!important;
    height: 42px;
    margin: 0 8px
}
.app__bar .btn-toggle .btn .icon {
    font-size: 26px;
    width: 26px
}
@media only screen and (max-width: 575px) {
    .hidden-xs-only {
        display: none!important
    }
}
@media only screen and (max-width: 767px) {
    .hidden-sm-and-down {
        display: none!important
    }
}
@media only screen and (min-width: 576px) {
    .hidden-sm-and-up {
        display: none!important
    }
}
@media only screen and (min-width: 768px) and (max-width) {
    .hidden-md-only {
        display: none!important
    }
}
@media only screen and (max-width: 991px) {
    .hidden-md-and-down {
        display: none!important
    }
}
@media only screen and (min-width: 768px) {
    .hidden-md-and-up {
        display: none!important
    }
}
@media only screen and (min-width: 992px) and (max-width) {
    .hidden-lg-only {
        display: none!important
    }
}
@media only screen and (max-width: 1199px) {
    .hidden-lg-and-down {
        display: none!important
    }
}
@media only screen and (min-width: 992px) {
    .hidden-lg-and-up {
        display: none!important
    }
}
.right {
    float: right!important
}
.left {
    float: left!important
}
.mt-0 {
    margin-top: 0!important
}
.mr-0 {
    margin-right: 0!important
}
.mb-0 {
    margin-bottom: 0!important
}
.ml-0,
.mx-0 {
    margin-left: 0!important
}
.mx-0 {
    margin-right: 0!important
}
.my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important
}
.ma-0 {
    margin: 0!important
}
.pt-0 {
    padding-top: 0!important
}
.pr-0 {
    padding-right: 0!important
}
.pb-0 {
    padding-bottom: 0!important
}
.pl-0,
.px-0 {
    padding-left: 0!important
}
.px-0 {
    padding-right: 0!important
}
.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important
}
.pa-0 {
    padding: 0!important
}
.mt-1 {
    margin-top: .25rem!important
}
.mr-1 {
    margin-right: .25rem!important
}
.mb-1 {
    margin-bottom: .25rem!important
}
.ml-1,
.mx-1 {
    margin-left: .25rem!important
}
.mx-1 {
    margin-right: .25rem!important
}
.my-1 {
    margin-top: .25rem!important;
    margin-bottom: .25rem!important
}
.ma-1 {
    margin: .25rem!important
}
.pt-1 {
    padding-top: .25rem!important
}
.pr-1 {
    padding-right: .25rem!important
}
.pb-1 {
    padding-bottom: .25rem!important
}
.pl-1,
.px-1 {
    padding-left: .25rem!important
}
.px-1 {
    padding-right: .25rem!important
}
.py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important
}
.pa-1 {
    padding: .25rem!important
}
.mt-2 {
    margin-top: .5rem!important
}
.mr-2 {
    margin-right: .5rem!important
}
.mb-2 {
    margin-bottom: .5rem!important
}
.ml-2,
.mx-2 {
    margin-left: .5rem!important
}
.mx-2 {
    margin-right: .5rem!important
}
.my-2 {
    margin-top: .5rem!important;
    margin-bottom: .5rem!important
}
.ma-2 {
    margin: .5rem!important
}
.pt-2 {
    padding-top: .5rem!important
}
.pr-2 {
    padding-right: .5rem!important
}
.pb-2 {
    padding-bottom: .5rem!important
}
.pl-2,
.px-2 {
    padding-left: .5rem!important
}
.px-2 {
    padding-right: .5rem!important
}
.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}
.pa-2 {
    padding: .5rem!important
}
.mt-3 {
    margin-top: 1rem!important
}
.mr-3 {
    margin-right: 1rem!important
}
.mb-3 {
    margin-bottom: 1rem!important
}
.ml-3,
.mx-3 {
    margin-left: 1rem!important
}
.mx-3 {
    margin-right: 1rem!important
}
.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important
}
.ma-3 {
    margin: 1rem!important
}
.pt-3 {
    padding-top: 1rem!important
}
.pr-3 {
    padding-right: 1rem!important
}
.pb-3 {
    padding-bottom: 1rem!important
}
.pl-3,
.px-3 {
    padding-left: 1rem!important
}
.px-3 {
    padding-right: 1rem!important
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}
.pa-3 {
    padding: 1rem!important
}
.mt-4 {
    margin-top: 1.5rem!important
}
.mr-4 {
    margin-right: 1.5rem!important
}
.mb-4 {
    margin-bottom: 1.5rem!important
}
.ml-4,
.mx-4 {
    margin-left: 1.5rem!important
}
.mx-4 {
    margin-right: 1.5rem!important
}
.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important
}
.ma-4 {
    margin: 1.5rem!important
}
.pt-4 {
    padding-top: 1.5rem!important
}
.pr-4 {
    padding-right: 1.5rem!important
}
.pb-4 {
    padding-bottom: 1.5rem!important
}
.pl-4,
.px-4 {
    padding-left: 1.5rem!important
}
.px-4 {
    padding-right: 1.5rem!important
}
.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}
.pa-4 {
    padding: 1.5rem!important
}
.mt-5 {
    margin-top: 3rem!important
}
.mr-5 {
    margin-right: 3rem!important
}
.mb-5 {
    margin-bottom: 3rem!important
}
.ml-5,
.mx-5 {
    margin-left: 3rem!important
}
.mx-5 {
    margin-right: 3rem!important
}
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important
}
.ma-5 {
    margin: 3rem!important
}
.pt-5 {
    padding-top: 3rem!important
}
.pr-5 {
    padding-right: 3rem!important
}
.pb-5 {
    padding-bottom: 3rem!important
}
.pl-5,
.px-5 {
    padding-left: 3rem!important
}
.px-5 {
    padding-right: 3rem!important
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}
.pa-5 {
    padding: 3rem!important
}
@media only screen and (min-width: 0) {
    .text-xs-left {
        text-align: left!important
    }
    .text-xs-center {
        text-align: center!important
    }
    .text-xs-right {
        text-align: right!important
    }
    .text-xs-justify {
        text-align: justify!important
    }
}
@media only screen and (min-width: 576px) {
    .text-sm-left {
        text-align: left!important
    }
    .text-sm-center {
        text-align: center!important
    }
    .text-sm-right {
        text-align: right!important
    }
    .text-sm-justify {
        text-align: justify!important
    }
}
@media only screen and (min-width: 768px) {
    .text-md-left {
        text-align: left!important
    }
    .text-md-center {
        text-align: center!important
    }
    .text-md-right {
        text-align: right!important
    }
    .text-md-justify {
        text-align: justify!important
    }
}
@media only screen and (min-width: 992px) {
    .text-lg-left {
        text-align: left!important
    }
    .text-lg-center {
        text-align: center!important
    }
    .text-lg-right {
        text-align: right!important
    }
    .text-lg-justify {
        text-align: justify!important
    }
}
@media only screen and (min-width: 1200px) {
    .text-xl-left {
        text-align: left!important
    }
    .text-xl-center {
        text-align: center!important
    }
    .text-xl-right {
        text-align: right!important
    }
    .text-xl-justify {
        text-align: justify!important
    }
}
.snack {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    pointer-events: none;
    z-index: 1000;
    visibility: visible
}
.snack--multi-line {
    min-height: 48px;
    height: auto
}
.snack--top {
    top: 0
}
.snack--bottom,
.snack--top {
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0) translateZ(0);
    transform: translate3d(-50%, 0, 0) translateZ(0)
}
.snack--bottom {
    bottom: 0
}
.snack--left {
    left: 8px;
    right: auto;
    -webkit-transform: none;
    transform: none
}
.snack--left.snack--top {
    top: 8px
}
.snack--left.snack--bottom {
    bottom: 8px
}
.snack--right {
    left: auto;
    right: 8px;
    -webkit-transform: none;
    transform: none
}
.snack--right.snack--top {
    top: 8px
}
.snack--right.snack--bottom {
    top: auto;
    bottom: 8px
}
.snack__content {
    background-color: #323232;
    padding: 14px 24px;
    border-radius: 2px;
    pointer-events: auto;
    max-width: 568px;
    min-width: 288px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: .4s cubic-bezier(.25, .8, .25, 1);
    transition: .4s cubic-bezier(.25, .8, .25, 1)
}
.snack__content .btn {
    margin: 0 -16px 0 24px;
    min-width: 0
}
@media only screen and (max-width: 991px) {
    .snack {
        width: 100%;
        left: 0;
        right: auto;
        -webkit-transform: none;
        transform: none
    }
    .snack--left.snack--top,
    .snack--right.snack--top {
        top: 0
    }
    .snack--left.snack--bottom,
    .snack--right.snack--bottom {
        bottom: 0
    }
    .snack__content {
        border-radius: 0;
        max-width: 100%;
        width: 100%
    }
}
/*# sourceMappingURL=vuetify.min.css.map*/
