<div class="col-md-12 family" data-family-id="{{ entity_id }}" data-hide-not-selected="{{ hide_not_selected_products }}">
    <div class="family-header">
        <span class="family-name">{{ name }}</span>
        <span class="pull-right family-status"><span class="optional"><?php echo $this->__('Optional');?></span><span class="mandatory hidden"><?php echo $this->__('Mandatory');?>*</span></span>
    </div>
    <div class="family-content col-md-12">
        {{#each products}}
            {{#if requires_serial}}
                {{> <?php echo $this->getSection() ?>_family_serialnumber_item this}}
            {{else}}
                {{> <?php echo $this->getSection() ?>_selected_item this}}
            {{/if}}
        {{else}}
            <p><?php echo $this->__('No products available') ?></p>
        {{/each}}
    </div>
</div>