<div class="row item-row item-requires-serial" id="smartcard-wrapper" data-serial="" data-id="{{ entity_id }}" onclick="configurator.selectSerialNumber(this); return false;">
    <div class="col-xs-12 item product-item">
        <div class="item-name col-xs-12">
            <div class="item-picture-container pull-left">
                <div class="option-image-block"></div>
            </div>
            <div class="item-title">{{ name }}
                {{#if additional_text}}
                    <span tabindex="0" class="dot glyphicon glyphicon-info-sign" role="button" data-toggle="popover" data-content="{{ additional_text }}" onclick="return event.stopPropagation();">&nbsp;</span>
                {{/if}}
            </div>
            <div class="item-desc in-stock hidden"></div>
            <span class="item-label input">INPUT</span>
        </div>
    </div>
    <div class="col-xs-12 item serial-input hidden">
        <div class="hidden-content">
            <div class="input-group-custom">
                <div class="field-row">
                    {{#if is_own_receiver}}
                    <input type="text"
                           data-toggle="popover" data-placement="top" data-content=""
                           maxlength="14" 
                           name="serial-number" 
                           pattern="[0-9]{14}"
                           class="billing-email-address-input-field form-control input-sm validate-length-max maximum-length-60 validate-mail required-entry">
                    <label>Receiver serial number (14 digits)</label>
                    {{/if}}
                    {{#if is_own_smartcard}}
                    <input type="text"
                           data-toggle="popover" data-placement="top" data-content=""
                           maxlength="12"
                           name="serial-number"
                           pattern="[0-9]{12}"
                           class="billing-email-address-input-field form-control input-sm validate-length-max maximum-length-60 validate-mail required-entry">
                    <label>Smartcard serial number (12 digits)</label>
                    {{/if}}

                    <input type="button" value="<?php echo $this->__("Check"); ?>" class="btn btn-primary btn-check" onclick="configurator.validateSerialNumber(this)">
                </div>
            </div>
        </div>
    </div>
</div>
