<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

?>
<div class="row item-row package-item">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 item prn">
        <div class="item-name col-xs-10">
            <div class="item-picture-container pull-left">
                <div class="option-image-block"></div>
            </div>
            <div class="item-title">
                {{ name }}
            </div>
            <div class="item-desc in-stock hidden"></div>
            <span class="item-label hidden"></span>
        </div>
        <div class="item-price col-xs-2">
            <button class="btn btn-primary pull-right add-package" data-package-creation-type-id="{{ creationTypeId }}" data-filter-attributes="{{ filterAttributes }}" data-target="{{ type }}" data-parent-id="{{ parentId }}" data-related-product-sku="{{ relatedProductSku }}"
                    data-bundle-id="{{ bundleId }}" onclick="sidebar.initConfigurator(this, true); return false;">
                    {{translate buttonTitle}} <i class="vfde-add-circle"></i></button>
        </div>
    </div>
</div>
