<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Package
$package = $this->getData("package" );

// IDs
$id = $this->getData("id" );

$billingPaper = Mage::helper('dyna_checkout')->getConfigurableCheckoutOptions('billing_paper');
$billingOnline = Mage::helper('dyna_checkout')->getConfigurableCheckoutOptions('billing_online');

$payment_default_title = null;
?>

<?php if( $checkoutLayout->isAvailableSection( 'billing_send_options' ) ): ?>

    <div class="dt relative-div overflow-hidden-div">
        <div class="tc">
            <div class="input-group-custom">
                <div class="select-wrapper">
                    <div class="field-row">
                        <select id="billing[billing_type]" name="billing[billing_type]" <?php if( !$checkoutLayout->isEnabledBillingType() ): ?> disabled <?php endif; ?> class="form-control input-sm custom-dropdown-select" onchange="checkout.summaryDataSynchronization(jQuery(this))" vfde-model="billing[billing_type]">
                            <?php if( $checkoutLayout->isAvailableSection( 'billing_send_email' ) ): ?>
                                <?php
                                $title = $dataClass = "";
                                if(isset($billingOnline['details'])) {
                                    if(isset($billingOnline['details'])) {
                                        /** @var Dyna_Checkout_Helper_Data $title */
                                        $title = Mage::helper('dyna_checkout')->configurableCheckoutOptionsDesign($billingOnline['details']);
                                        $dataClass = 'data-class="info"';
                                        if($checkoutData->getFieldValue("billing[billing_type]" ) != 'invoice'){
                                            $payment_default_title = $title;
                                        }
                                    }
                                }
                                ?>
                                <option <?php echo $dataClass; ?> data-original-title="<?php echo $title ?>" value="mail"
                                    <?php echo $checkoutData->getFieldValue("billing[billing_type]" ) == 'mail' ? "selected" : ""; ?>>
                                    <?php
                                    if(isset($billingOnline['display_label_checkout'])) {
                                        echo $billingOnline['display_label_checkout'];
                                        if(isset($billingOnline['total_price'])){
                                            echo ' ('. $billingOnline['total_price'].')';
                                        }
                                    }
                                    ?>
                                </option>
                            <?php endif; ?>
                            <?php if( $checkoutLayout->isAvailableSection( 'billing_send_post' ) ): ?>
                                <?php
                                $title = $dataClass = "";
                                if(isset($billingPaper['details'])) {
                                    if(isset($billingPaper['details'])) {
                                        /** @var Dyna_Checkout_Helper_Data $title */
                                        $title = Mage::helper('dyna_checkout')->configurableCheckoutOptionsDesign($billingPaper['details']);
                                        $dataClass = 'data-class="info"';
                                        if($checkoutData->getFieldValue("billing[billing_type]" ) == 'invoice'){
                                            $payment_default_title = $title;
                                        }
                                    }
                                }
                                ?>
                                <option <?php echo $dataClass; ?> data-original-title="<?php echo $title ?>" value="invoice"
                                    <?php echo $checkoutData->getFieldValue("billing[billing_type]" ) == 'invoice' ? "selected" : ""; ?>>
                                    <?php
                                    if(isset($billingPaper['display_label_checkout'])) {
                                        echo $billingPaper['display_label_checkout'];
                                        if(isset($billingPaper['total_price'])){
                                            echo ' '.$checkoutLayout->isVisibleFieldValue('billing[post_invoice]', 'value') ? ' ('.$billingPaper['total_price'].')' : '';
                                        }
                                    }
                                    ?>
                                </option>
                            <?php endif; ?>
                        </select>
                        <label for="billing[billing_type]"><?php echo $this->__('Billing type'); ?></label>
                    </div>
                </div>
            </div>
        </div>
        <span class="ui-selected-info-icon payments_default" id="billing[billing_type]-icon">
            <?php if( $payment_default_title ){ ?>
                <span class="ui-icon info" data-toggle="popovercheckout" data-content="<?php echo $payment_default_title ?>" data-original-title="<?php echo $this->__("Consisting Products"); ?>" data-placement="bottom auto" data-html="true" data-container="body"></span>
            <?php } ?>
        </span>
    </div>

<?php endif; ?>