<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Package
$package = $this->getData("package" );

// IDs
$id = $this->getData("id" );

?>

<?php if( $checkoutLayout->showBillingCustomerAddress( $package ) ): ?>

    <div class="accordion-item">
        <div class="accordion-head accordion-head-markerless">
            <input type="radio" id="<?php echo $id; ?>_current_address" class="billing_selected_1" name="<?php echo $id; ?>[other_address][selected]" value="1" onchange="switchOtherAddress(this);subModelChange('<?php echo $id; ?>[other_address][selected]', '1')"/>
            <label for="<?php echo $id; ?>_current_address"></label> <?php echo $this->__("Same as customer address"); ?>
        </div>
    </div>

<?php endif; ?>