<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Package
$package = $this->getData("package" );

// IDs
$id = $this->getData("id" );

?>

<?php if( $checkoutLayout->showBillingPOBox( $package ) ): ?>

    <div class="accordion-item">

        <div class="accordion-head">
            <input type="radio" id="<?php echo $id; ?>_po_box" class="billing_selected_3" name="<?php echo $id; ?>[other_address][selected]" value="3" onchange="switchOtherAddress(this);subModelChange('<?php echo $id; ?>[other_address][selected]', '3')"/>
            <label for="<?php echo $id; ?>_po_box"></label> <?php echo $this->__('PO Box'); ?>
        </div>

        <div class="accordion-body">
            <div>

                <div class="dt switch-address type-pobox hidden">

                    <!-- PO Box -->
                    <div class="tc">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][pobox]" data-id="billing[other_address][pobox]" name="<?php echo $id; ?>[other_address][pobox]" oninput="checkout.summaryDataSynchronization(jQuery(this))" vfde-model="<?php echo $id; ?>[other_address][pobox]"
                                       class="form-control validate-alphanum-with-spaces input-sm alternative-po-box billing-pobox" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][pobox]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][pobox]"><?php echo $this->__('PO Box'); ?></label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dt switch-address type-pobox hidden">

                    <!-- PO Postcode -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][postcode]" name="<?php echo $id; ?>[other_address][postcode]" oninput="checkout.summaryDataSynchronization(jQuery(this))" vfde-model="<?php echo $id; ?>[other_address][postcode]"
                                       class="form-control validate-zip input-sm alternative-po-box validate-length-max maximum-length-5 billing-postcode" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][postcode]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][postcode]"><?php echo $this->__('Postcode'); ?></label>
                            </div>
                        </div>
                    </div>

                    <!-- PO City -->
                    <div class="tc cell50">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text" id="<?php echo $id; ?>[other_address][city]" name="<?php echo $id; ?>[other_address][city]" oninput="checkout.summaryDataSynchronization(jQuery(this))" vfde-model="<?php echo $id; ?>[other_address][city]"
                                       class="form-control input-sm alternative-po-box validate-alpha validate-length-max maximum-length-40 billing-required" value="<?php echo $checkoutData->getFieldValue( $id . "[other_address][city]"); ?>"/>
                                <label for="<?php echo $id; ?>[other_address][city]"><?php echo $this->__('City'); ?></label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

<?php endif; ?>