<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SavePayments */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
$checkoutData->setCheckoutData("save_payments", $quote->getId());

$hasSimOnly = $this->hasSimOnly();
$paymentDebit = $this->getPaymentDebit();
$paymentTransfer = $this->getPaymentTransfer();

$customerFields = $this->getCustomerFields();

$checkoutDataIban = $checkoutData->getFieldValue("payment[monthly][direct_debit][iban][new]", $checkoutData->getFieldValue("payment[monthly][direct_debit][iban][reuse]" ) );

?>

<section class="accordion" id="onetime-payments">

    <?php if( $checkoutLayout->showOnetimePaymentsByCOD( $hasSimOnly, $this->getTotalOTCOnPrepaidPackage() ) ): ?>

        <div class="accordion-item">
            <div class="accordion-head">
                <input type="radio" id="payment[one_time][type][cashondelivery]" name="payment[one_time][type]" value="cashondelivery" onchange="switchOneTimePayment(this);subModelChange('payment[one_time][type]', 'cashondelivery')" class="hidden"/>
                <label for="payment[one_time][type][cashondelivery]"></label> <?php echo $this->__("Pay easy and convenient cash on delivery"); ?>
            </div>
            <div class="accordion-body">
                <div>

                    <div class="dt one-time cashondelivery hidden">

                        <div class="tc cell20 block-choice-payment">
                            <div class="input-group-custom">
                                <div class="select-wrapper">
                                    <div class="field-row">
                                        <select name="payment[one_time][cash][gender]" id="payment[one_time][cash][gender]" onchange="checkout.summaryDataSynchronization(jQuery(this))" vfde-model="payment[one_time][cash][gender]">
                                            <option value=""><?php echo $this->__(''); ?></option>
                                            <option value="1" <?php echo $checkoutData->getFieldValue("payment[one_time][cash][gender]") == 1 ? "selected" : "" ?>><?php echo $this->__('Mr.'); ?></option>
                                            <option value="2" <?php echo $checkoutData->getFieldValue("payment[one_time][cash][gender]") == 2 ? "selected" : "" ?>><?php echo $this->__('Mrs.'); ?></option>
                                        </select>
                                        <label for="payment[one_time][cash][gender]"><?php echo $this->__('Salutation'); ?></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tc cell40">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][firstname]"
                                           name="payment[one_time][cash][firstname]"
                                           class="form-control input-sm validate-name"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][firstname]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][firstname]"><?php echo $this->__('First Name'); ?></label>
                                </div>
                            </div>
                        </div>

                        <div class="tc cell40">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][lastname]"
                                           name="payment[one_time][cash][lastname]"
                                           class="form-control input-sm validate-name"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][lastname]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][lastname]"><?php echo $this->__('Last Name'); ?></label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="dt one-time cashondelivery hidden">

                        <div class="tc cell50">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][postcode]"
                                           name="payment[one_time][cash][postcode]" data-form="postcode"
                                           data-address-type="payment_onetime"
                                           class="form-control input-sm"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][postcode]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][postcode]"><?php echo $this->__('Postcode'); ?></label>
                                </div>
                            </div>
                        </div>

                        <div class="tc cell50">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][city]"
                                           name="payment[one_time][cash][city]" data-form="city"
                                           data-address-type="payment_onetime"
                                           class="form-control input-sm"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][city]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][city]"><?php echo $this->__('City'); ?></label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="dt one-time cashondelivery hidden">

                        <div class="tc cell50">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][street]"
                                           name="payment[one_time][cash][street]" data-form="street"
                                           data-address-type="payment_onetime"
                                           class="form-control input-sm"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][street]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][street]"><?php echo $this->__('Street'); ?></label>
                                </div>
                            </div>
                        </div>

                        <div class="tc cell25">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][houseno]"
                                           name="payment[one_time][cash][houseno]" data-form="houseno"
                                           data-address-type="payment_onetime"
                                           class="form-control input-sm validate-number"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][houseno]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][houseno]"><?php echo $this->__('House No.'); ?></label>
                                </div>
                            </div>
                        </div>

                        <div class="tc cell25">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="payment[one_time][cash][addition]"
                                           name="payment[one_time][cash][addition]" data-form="addition"
                                           data-address-type="payment_onetime"
                                           class="form-control input-sm validate-length maximum-length-10"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][cash][addition]"); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                                    <label for="payment[one_time][cash][addition]"><?php echo $this->__('Add.') . ' ' . $this->__('(optional)'); ?></label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    <?php endif; ?>


    <?php if( $checkoutLayout->showOnetimePaymentsByBankTransfer( $hasSimOnly, $this->getTotalOTCOnPrepaidPackage() ) ): ?>

        <div class="accordion-item " id="onetime-by-bank-transfer">

            <div class="accordion-head">
                <input type="radio" id="payment[one_time][type][direct_debit]" name="payment[one_time][type]" value="direct_debit"
                       onchange="switchOneTimePayment(this);checkout.summaryDataSynchronization(jQuery(this));subModelChange('payment[one_time][type]', 'direct_debit')"
                       oninput="checkout.summaryDataSynchronization(jQuery(this))"/>
                <label for="payment[one_time][type][direct_debit]"></label>
                <span id="onetime_option_name" data-contents="<?php echo $this->__("By bank transfer"); ?>">
                                            <?php if(isset($paymentDebit['display_label_checkout'])) {
                                                echo $this->__($paymentDebit['display_label_checkout']) . ' ' . ($paymentDebit['price'] != '0' ? Mage::helper('dyna_checkout')->showNewFormattedPriced($paymentDebit['price']) : '');
                                            } else {
                                                echo $this->__("By bank transfer");
                                            } ?>
                    <?php if( !empty( $checkoutDataIban ) ): ?>
                        (<?php print $checkoutDataIban; ?>)
                    <?php endif; ?>
                </span>
            </div>

            <div class="accordion-body">
                <div>

                    <div class="dt one-time direct_debit form-group ">

                        <div class="tc cell90">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text"
                                           id="payment[one_time][direct_debit][iban]"
                                           name="payment[one_time][direct_debit][iban]"
                                           maxlength="<?php echo Dyna_Catalog_Model_Type::IBAN_LENGTH; ?>"
                                           class="form-control input-sm iban-field"
                                           value="<?php echo $checkoutData->getFieldValue("payment[one_time][direct_debit][iban]", $checkoutDataIban ); ?>"
                                           oninput="checkout.summaryDataSynchronization(jQuery(this))"
                                           onblur="checkout.validateIBANRequest(this)"
                                    />
                                    <label for="payment[one_time][direct_debit][iban]"><?php echo $this->__("IBAN"); ?></label>
                                    <!--<span id="payment[one_time][direct_debit][iban_counter]" class="iban-counter <?php echo $checkoutData->getFieldValue("payment[one_time][direct_debit][iban]") !== false ? "hide" : "" ?>"><?php echo $checkoutData->getFieldValue("payment[one_time][direct_debit][iban]") !== false ? strlen($checkoutData->getFieldValue("payment[one_time][direct_debit][iban]")) : Dyna_Catalog_Model_Type::IBAN_LENGTH; ?></span>-->
                                    <span class="iban-valid <?php echo $checkoutData->getFieldValue("payment[one_time][direct_debit][iban]") != "" ? "" : "hide"; ?>"></span>
                                    <div id="payment[one_time][direct_debit][iban][hidden]" class="hidden"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tc cell10">
                            <div class="input-group-custom">
                                <div class="field-row iban-calculator-row">
                                    <a class="calculate-iban" id="payment[one_time][direct_debit][iban][generate]" onclick="checkout.displayBankGenerator(jQuery(this))" href="#">
                                        <span class="sprite-credit-card sprite"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    <?php endif; ?>


    <?php if( $checkoutLayout->showOnetimePaymentsByInvoice( $hasSimOnly, $this->getTotalOTCOnPrepaidPackage() ) ): ?>

        <div class="accordion-item">
            <div class="accordion-head accordion-head-markerless">
                <input type="radio" id="payment[one_time][type][invoice]" name="payment[one_time][type]" value="checkmo" onchange="switchOneTimePayment(this); subModelChange('payment[one_time][type]', 'checkmo')"/>
                <label for="payment[one_time][type][invoice]"></label> <?php echo $this->__("By invoice") ?>
            </div>
        </div>

    <?php endif; ?>


</section>

<script>
  initOnetimePayments()
</script>