<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// Package
$package = $this->getData("package" );

// IDs
$id = $this->getData("id" );

// Payment configurable product
$paymentDebit = $this->getPaymentDebit();

// User input
$checkoutDataIban = $checkoutData->getFieldValue( $id . "[direct_debit][iban][diff]" );
$checkoutDataBank = [];
if ($checkoutData->hasCheckoutData()) {
    $checkoutDataBank['accountNumber'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][account_number]");
    $checkoutDataBank['bankCode'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][bank_code]");
    $checkoutDataBank['creditProvider'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][credit_provider]");
    $checkoutDataBank['usage'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][usage]");
}

// Prefix options
$prefixOptions = $checkoutHelper->getPrefixOptions();

?>

<?php if( $checkoutLayout->showMonthlyPaymentsByDifferentBankTransfer( $package ) ) : ?>

    <div class="accordion-item">

        <div class="accordion-head">
            <input type="radio" id="<?php echo $id; ?>[type][direct_debit][diff]" name="<?php echo $id; ?>[type]" value="direct_debit_diff"
                   onchange="switchMonthlyPayment(this);hidePaymentAddressDetails(this);
                   subModelChange('payment[monthly]<?php echo $package ? '['.$package->getPackageId().']' : ''; ?>[type]', 'direct_debit')
                   reuseIbanSummaryUpdate(jQuery(this));subModelChange('payment<?php echo $package ? '['.$package->getPackageId().']' : ''; ?>[iban]', 'diff')" />
            <label for="<?php echo $id; ?>[type][direct_debit][diff]"></label>
            <?php echo $checkoutLayout->getHeaderNameWithConfigurableProducts(  $paymentDebit,
                                                                                "By a different bank transfer" ) ?>
        </div>

        <div class="accordion-body">
            <div>
                <div class="dt direct_debit_diff monthly">

                    <div class="tc cell90">
                        <div class="input-group-custom">
                            <div class="field-row">
                                <input type="text"
                                       id="<?php echo $id; ?>[direct_debit][iban][diff]"
                                       name="<?php echo $id; ?>[direct_debit][iban][diff]"
                                       class="form-control input-sm iban-field "
                                       data-sepa="<?php ( $checkoutLayout->isAvailableField( 'payment[sepa_mandate][type]', $package ) ) ? print 'yes' : print 'no'; ?>"
                                       maxlength="<?php echo Dyna_Catalog_Model_Type::IBAN_LENGTH; ?>"
                                       value="<?php echo $checkoutData->getFieldValue( $id . "[direct_debit][iban][diff]" ); ?>" onblur="checkout.validateIBANRequest(this)"
                                       oninput="checkout.summaryDataSynchronization(jQuery(this))" />
                                <label for="<?php echo $id; ?>[direct_debit][iban][diff]"><?php echo $this->__("IBAN"); ?></label>
                                <!--<span id="<?php echo $id; ?>[direct_debit][iban_counter]" class="iban-counter <?php echo $checkoutData->getFieldValue( $id . "[direct_debit][iban][diff]") !== false ? "hide" : "" ?>"><?php echo $checkoutData->getFieldValue( $id . "[direct_debit][iban][diff]") !== false ? strlen($checkoutData->getFieldValue( $id . "[direct_debit][iban][diff]")) : Dyna_Catalog_Model_Type::IBAN_LENGTH; ?></span>-->

                                <span class="iban-valid <?php echo !empty( $checkoutDataIban ) ? "" : "hide"; ?>"></span>
                                <span class="iban-sepa-validation hidden">SEPA</span>
                                <div id="<?php echo $id; ?>[direct_debit][iban][diff][hidden]" class="hidden"></div>

                                <?php if ( !empty( $checkoutDataIban ) ) : ?>
                                    <script type="text/javascript">
                                        jQuery(window).load(function () {
                                            var jElem = jQuery('[data-id="payment[monthly][alternative_account_holder]"]');
                                            jElem.closest('label').removeClass('disabled');
                                            jElem.removeAttr('disabled');
                                        });
                                    </script>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>

                    <div class="tc cell10">
                        <div class="input-group-custom">
                            <div class="field-row iban-calculator-row">
                                <a class="calculate-iban" id="<?php echo $id; ?>[direct_debit][iban][diff][generate]" onclick="<?php if( $checkoutLayout->customerIsKnownInAnyStackFromCart() ): ?>return false;<?php endif; ?>checkout.displayBankGenerator(jQuery(this))" href="#">
                                    <span class="sprite-credit-card sprite"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <?php if( $checkoutLayout->isAvailableSection( 'payments_alternative_account_holder' ) ): ?>

                    <div class="hidden-content hidden-content-inside-section" id="<?php echo $id; ?>-alternative-account-holder">

                        <div class="dt">
                            <div class="field-row">
                                <input  type="checkbox" name="<?php echo $id; ?>[alternative_account_holder]" id="<?php echo $id; ?>[alternative_account_holder]" value="1" data-id="payment[alternative_account_holder]" vfde-model="<?php echo $id; ?>[alternative_account_holder]" />
                                <label for="<?php echo $id; ?>[alternative_account_holder]"></label> <span><?php echo $this->__("Account holder is another person"); ?></span>
                            </div>
                        </div>

                        <div class="dt alternative-account-holder hidden">

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="select-wrapper">
                                        <div class="field-row">
                                            <select id="<?php echo $id; ?>[alternative][diff][gender]" data-id="payment[monthly][alternative][gender]" name="<?php echo $id; ?>[alternative][diff][gender]" class="form-control" placeholder="<?php echo $this->__('Salutation'); ?>" >
                                                <option value="<?php echo $this->__(''); ?>">
                                                    <?php echo $this->__(''); ?>
                                                </option>
                                                <option value="<?php echo $this->__('Mr.'); ?>"
                                                    <?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][gender]") == 2 ? "selected" : "" ?>>
                                                    <?php echo $this->__('Mr.'); ?>
                                                </option>
                                                <option value="<?php echo $this->__('Mrs.'); ?>"
                                                    <?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][gender]") == 2 ? "selected" : "" ?>>
                                                    <?php echo $this->__('Mrs.'); ?>
                                                </option>
                                            </select>
                                            <label for="<?php echo $id; ?>[alternative][diff][gender]"><?php echo $this->__('Salutation'); ?></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="select-wrapper">
                                        <div class="field-row">
                                            <select id="<?php echo $id; ?>[alternative][diff][prefix]" data-id="payment[monthly][alternative][prefix]" name="<?php echo $id; ?>[alternative][diff][prefix]" class="form-control " >
                                                <option value="<?php echo $this->__(''); ?>">
                                                    <?php echo $this->__(''); ?>
                                                </option>
                                                <?php foreach ($prefixOptions as $option) : ?>
                                                    <option value="<?php echo $option; ?>"
                                                        <?php echo ($checkoutData->getFieldValue( $id . "[alternative][diff][prefix]") == $option ) ? "selected" : ""; ?>>
                                                        <?php echo $option; ?>
                                                    </option>
                                                <?php endforeach; ?>
                                            </select>
                                            <label for="<?php echo $id; ?>[alternative][diff][prefix]"><?php echo $this->__('Title') . ' ' . $this->__('(optional)'); ?></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="dt alternative-account-holder hidden">

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][firstname]"
                                               data-id="payment[monthly][alternative][firstname]"
                                               name="<?php echo $id; ?>[alternative][diff][firstname]"
                                               class="form-control input-sm validate-name"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][firstname]"); ?>"/>
                                        <label for="<?php echo $id; ?>[alternative][diff][firstname]"><?php echo $this->__('First Name') . ' ' . $this->__('(optional)'); ?></label>
                                    </div>
                                </div>
                            </div>

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][lastname]"
                                               data-id="payment[monthly][alternative][lastname]"
                                               name="<?php echo $id; ?>[alternative][diff][lastname]"
                                               class="form-control input-sm validate-name"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][lastname]"); ?>"/>
                                        <label for="<?php echo $id; ?>[alternative][diff][lastname]"><?php echo $this->__('Last Name') . ' ' . $this->__('(optional)'); ?></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="dt alternative-account-holder hidden" >

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][postcode]"
                                               data-id="payment[monthly][alternative][postcode]"
                                               name="<?php echo $id; ?>[alternative][diff][postcode]" data-form="postcode"
                                               data-address-type="payment_monthly_alternative"
                                               class="form-control input-sm sepa-address-validation-field <?php echo $this->hasCable() ? 'disallow-generic-address-validation' : '' ?>"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][postcode]"); ?>"
                                            <?php echo $this->hasCable() ? "onblur='checkout.validateSepaAddress()'" : "" ?> />
                                        <label for="<?php echo $id; ?>[alternative][diff][postcode]"><?php echo $this->__('Postcode'); ?></label>
                                    </div>
                                </div>
                            </div>

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][city]"
                                               data-id="payment[monthly][alternative][city]"
                                               name="<?php echo $id; ?>[alternative][diff][city]" data-form="city"
                                               data-address-type="payment_monthly_alternative"
                                               class="form-control input-sm sepa-address-validation-field <?php echo $this->hasCable() ? 'disallow-generic-address-validation' : '' ?>"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][city]"); ?>"
                                            <?php echo $this->hasCable() ? "onblur='checkout.validateSepaAddress()'" : "" ?> />
                                        <label for="<?php echo $id; ?>[alternative][diff][city]"><?php echo $this->__('City'); ?></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="dt alternative-account-holder hidden">

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][street]"
                                               data-id="payment[monthly][alternative][street]"
                                               name="<?php echo $id; ?>[alternative][diff][street]" data-form="street"
                                               data-address-type="payment_monthly_alternative"
                                               class="form-control input-sm sepa-address-validation-field <?php echo $this->hasCable() ? 'disallow-generic-address-validation' : '' ?>"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][street]"); ?>"
                                            <?php echo $this->hasCable() ? "onblur='checkout.validateSepaAddress()'" : "" ?> />
                                        <label for="<?php echo $id; ?>[alternative][diff][street]"><?php echo $this->__('Street'); ?></label>
                                    </div>
                                </div>
                            </div>

                            <div class="tc cell25">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][houseno]"
                                               data-id="payment[monthly][alternative][houseno]"
                                               name="<?php echo $id; ?>[alternative][diff][houseno]" data-form="houseno"
                                               data-address-type="payment_monthly_alternative"
                                               class="form-control input-sm validate-number sepa-address-validation-field <?php echo $this->hasCable() ? 'disallow-generic-address-validation' : '' ?>"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][houseno]"); ?>"
                                            <?php echo $this->hasCable() ? "onblur='checkout.validateSepaAddress()'" : "" ?> />
                                        <label for="<?php echo $id; ?>[alternative][diff][houseno]"><?php echo $this->__('House No.'); ?></label>
                                    </div>
                                </div>
                            </div>

                            <div class="tc cell25">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="<?php echo $id; ?>[alternative][diff][addition]"
                                               data-id="payment[monthly][alternative][addition]"
                                               name="<?php echo $id; ?>[alternative][diff][addition]"
                                               data-form="addition"
                                               data-address-type="payment_monthly_alternative"
                                               class="form-control input-sm validate-length maximum-length-10"
                                               value="<?php echo $checkoutData->getFieldValue( $id . "[alternative][diff][addition]"); ?>"/>
                                        <label for="<?php echo $id; ?>[alternative][diff][addition]"><?php echo $this->__('Add.') . ' ' . $this->__('(optional)'); ?></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <p class="subsection-header invalid-sepa-address-message hidden">
                            <?php echo $this->__('Please enter a valid SEPA address'); ?>
                        </p>
                    </div>
                <?php endif; ?>

                <?php if( $checkoutLayout->isAvailableField( 'payment[sepa_mandate][type]', $package ) ): ?>
                    <div class="dt">
                        <div class="tc">
                            <div class="input-group-custom">
                                <div class="select-wrapper">
                                    <div class="field-row">
                                        <select id="<?php echo $id; ?>[sepa_mandate][type][diff]" data-id="payment[sepa_mandate][type]" name="<?php echo $id; ?>[sepa_mandate][type][diff]" class="form-control required-entry" placeholder="<?php echo $this->__('Enter new SEPA mandate'); ?>">
                                            <option value="0"
                                                <?php echo ( ($checkoutData->getFieldValue($id . "[sepa_mandate][type][diff]") == 0) ) ? "selected" : ""; ?>>
                                                <?php echo $this->__('Get the mandate online'); ?>
                                            </option>
                                            <option value="1"
                                                <?php echo ( ($checkoutData->getFieldValue($id . "[sepa_mandate][type][diff]") == 1) ) ? "selected" : ""; ?>>
                                                <?php echo $this->__('Mandate in paper form'); ?>
                                            </option>
                                        </select>
                                        <label for="customer[gender]"><?php echo $this->__('Enter new SEPA mandate'); ?></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var paymet_debit_diff_ids = '<?php echo $id;?>';
        document.cookie = "paymet_debit_diff_ids = " + paymet_debit_diff_ids
    </script>
<?php endif; ?>
