<?php

/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveDeliveryAddress */
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();

/** @var Dyna_Customer_Model_Customer $customer */
$customer = $this->getCustomer();

// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");

/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = $this->getData("checkout_data");

// IDs
$id = $this->getData("id" );

// User input
$checkoutDataIban = $checkoutData->getFieldValue( $id . "[direct_debit][iban]");

// Payment configurable product
$paymentTransfer = $this->getPaymentTransfer();

// Package
$package = $this->getData("package" );

?>

<?php if( $checkoutLayout->showMonthlyPaymentsByInvoice() ): ?>

    <div class="accordion-item accordion-per-self-transfer">

        <div class="accordion-head accordion-head-markerless">
            <input type="radio" id="<?php echo $id; ?>[type][banktransfer]" name="<?php echo $id; ?>[type]" value="banktransfer"
                   onchange="switchMonthlyPayment(this);hidePaymentAddressDetails(this); subModelChange('payment[monthly]<?php echo $package ? '['.$package->getPackageId().']' : ''; ?>[type]', 'banktransfer');
                   reuseIbanSummaryUpdate(jQuery(this))" />
            <label for="<?php echo $id; ?>[type][banktransfer]"></label>
            <?php echo $checkoutLayout->getHeaderNameWithConfigurableProducts(  $paymentTransfer,
                                                                                "By invoice" ) ?>
        </div>

        <div class="accordion-body hidden">
            <div>
                <div class="monthly banktransfer radio-indent form-group">
                    <p>
                        <span class="accordion-per-self-transfer-name">
                            <?php
                            echo ($customerFields['customer[prefix]'] ?? ''). ' ' .
                                ($customerFields['customer[firstname]'] ?? ''). ' ' .
                                ($customerFields['customer[lastname]'] ?? ''); ?>
                        </span>
                    </p>
                    <p>
                        <span class="accordion-per-self-transfer-address">
                            <?php
                            echo ($customerFields['customer[address][street]'] ?? '') . ' ' .
                                ($customerFields['customer[address][houseno]'] ?? '') . ' ' .
                                ($customerFields['customer[address][addition]'] ?? '')?>
                        </span>
                    </p>
                    <p>
                        <span class="accordion-per-self-transfer-city">
                            <?php
                            echo ($customerFields['customer[address][postcode]'] ?? ''). ' ' .
                                ($customerFields['customer[address][city]'] ?? '');
                            ?>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

<?php endif; ?>
