<?php
/** @var $this Vznl_Checkout_Block_Cart */
$superOrderId = Mage::registry('quote')->getSuperOrderEditId();
$showDetailsButton = true;
if($superOrderId) {
    $superOrder = Mage::getModel('superorder/superorder')->load($superOrderId);
    $superOrderNumber = $superOrder->getOrderNumber();
    $pealOrderId = $superOrder->getPealOrderId();
    $showDetailsButton = $superOrder->hasFixed();
}
$customer = Mage::getModel('customer/session')->getCustomer();
$isBan = $customer->getBan();
$isPan = $customer->getPan();
$isLinked = $isBan && $isPan;
$isDoa = Mage::helper('dyna_checkout')->sessionHasDoa();
$agentHelper = Mage::helper('vznl_agent');
if ($agentHelper->isRetailStore() || $agentHelper->isIndirectStore()) {
    $returnValue = false;
} else {
    $orderEdit = (int)Mage::getSingleton('customer/session')->getOrderEdit();
    $returnValue = $orderEdit > 0 ? 'false' : 'true';
}

$contextHelper = Mage::helper('dyna_catalog/processContext');
$processContext = $contextHelper->getProcessContextCode();
$isMoveProcess = ($processContext == Vznl_Catalog_Model_ProcessContext::MOVE);
$isDeliveryFlow = (boolean) Mage::app()->getRequest()->getParam('delivery');
?>
<!-- Order confirmation
================================================== -->
<input type="hidden" id="is_delivery_flow" value="<?php echo $isDeliveryFlow ?>" />
<div class="section" data-ref="order-confirmation">
    <section class="row form" data-url="" id="showOrderConfirmation" data-validate="">
        <div class="col-sm-12">
             <h3><?php echo $this->__('Confirmation'); ?></h3>
        </div>
        <div class="col-sm-12">
            <h4><?php echo $this->__('Order confirmation'); ?></h4>
        </div>
        <?php if($isMoveProcess && $isLinked) { ?>
            <div class="col-sm-12">
                <div id="move-notification" class="notification-banner warning change">
                    <div class="notification-banner-text">
                        <div class="notification-banner-title"><?php echo $this->__("You have broken the current link and all its benefits"); ?></div>
                        <div class="notification-banner-description"><?php echo $this->__("If desired by the customer, restore the link by creating a workitem. A backoffice agent will restore it for you"); ?></div>
                    </div>
                </div>
            </div>
        <?php } ?>
        <div class="col-sm-12 order-details-text" <?php echo $isMoveProcess?'style="margin-top: 15px;':''; ?>>
        <div class="col-sm-12 order-details-text" id="normal-order-message">
            <?php echo $this->__('Your order was submitted under the following order number:');?>
        </div>
        <div class="col-sm-12 order-details-text new_superorder" id="order-confirmation-old-order-message">
            <?php if ($isDeliveryFlow) : ?>
                <?php echo $this->__('Your order was submitted under the following order number:');  ?>
            <?php else: ?>
                <?php echo $this->__('Your parent order can be found under the following order number:');  ?>
            <?php endif ?>
        </div>
        <div class="col-sm-12">
            <!-- Order confirmation -->
            <div class="order-details-box">
                <div id="order-increment-id">
                    <?php echo isset($superOrderNumber) ? $this->__('Order number:') . ' <strong>' . $superOrderNumber . '</strong>' : ''; ?>
                </div>
                <div class="order-details-box-right">
                    <input type="hidden" id="order-confirmation-value" value="">
                    <p class="hidden" id="order-number-copy"></p>
                    <button
                        id="order-details-btn"
                        data-ordernumber=""
                        class="btn btn-secondary small<?php echo $showDetailsButton ? '' : ' hidden'; ?>"
                        onclick="showPealOrderId(this)"
                        style="margin: 0;">
                        <?php echo $this->__('Details');?>
                    </button>
                    <span
                        class="tip-trig-hover order-details-copy-button"
                        data-placement="top"
                        data-original-title="<?php echo $this->__('Copy to clipboard'); ?>" >
                        <img onclick="copyToClipboard('#order-number-copy'); return false;" src="<?php echo $this->getSkinUrl('images/duplicate.svg'); ?>">
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 order-details-text new_superorder" id="order-confirmation-new-order-message" style="margin-top: 25px;">
           <?php echo $isDoa
                            ? $this->__('You can order with the new revised packages find the next number.')
                            : $this->__('Your new order including your changed package(s) was submitted under the following order number:');
                        ?>
        </div>

        <div class="col-sm-12 new_superorder">
            <!-- Order confirmation -->
            <div class="order-details-box">
                <div id="new-order-increment-id"></div>
                <div class="order-details-box-right">
                    <input type="hidden" id="order-confirmation-value-new" value="">
                    <p class="hidden" id="order-number-copy-new"></p>
                    <button
                        id="order-details-btn-new"
                        data-ordernumber=""
                        class="btn btn-secondary small<?php echo $showDetailsButton ? '' : ' hidden'; ?>"
                        onclick="showPealOrderId(this)"
                        style="margin: 0;">
                        <?php echo $this->__('Details');?>
                    </button>
                    <span
                            class="tip-trig-hover order-details-copy-button"
                            data-placement="top"
                            data-original-title="<?php echo $this->__('Copy to clipboard'); ?>"
                    >
                        <img onclick="copyToClipboard('#order-number-copy-new'); return false;" src="<?php echo $this->getSkinUrl('images/duplicate.svg'); ?>">
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- Section footer -->
    <section class="row">
        <div class="col-sm-12">
            <div class="section-footer-wrapper">
                <div class="section-footer">
                    <a class="arrow-back" href="#" onclick="redirectToHomePage(<?php echo $returnValue ?>)"><?php echo $this->__('Back to dashboard'); ?></a>
                    <div>
                        <?php if($isMoveProcess && $isLinked) { ?>
                            <button class="btn btn-secondary btn-bck-office" id="checkout-move-workitem">
                                <?php echo $this->__('Create workitem'); ?>
                            </button>
                        <?php } ?>
                        <button class="btn" id="checkout-confirm-view-order" onclick="orderConfirmationViewOrder(event, <?php echo (isset($superOrder) && $superOrder->getOrderNumber()) ? $superOrder->getOrderNumber() : 'null'; ?>)">
                            <span class="btn-content"><?php echo $this->__('View order'); ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- modal to show the peal order id in the order confirmation page for fixed orders -->
    <div class="modal new-style-modal" id="order_details_modal" data-pakket="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-order-number"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><?php echo $this->__('Order consists of the following back-end orders:');?></p>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 0;">
                        <div class="col-sm-12">
                            <div id="confirm-peal-order-id">
                                <div id="peal-order-id">
                                    <span><?php echo $this->__('PEAL Order number:')?></span>
                                    <span id="peal-order-number"></span>
                                </div>
                                <div>
                                    <input type="hidden" id="peal-order-value" value="">
                                    <p class="hidden" id="peal-order-copy"></p>
                                    <div
                                            class="tip-trig-hover"
                                            title="<?php echo $this->__('Copy to clipboard'); ?>"
                                            style="cursor: pointer;"
                                    >
                                        <img
                                                onclick="copyToClipboard('#peal-order-copy'); return false;"
                                                src="<?php echo $this->getSkinUrl('images/duplicate.svg'); ?>"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-inverted" data-dismiss="modal"><?php echo $this->__('Close');?></button>
                </div>
            </div>
        </div>
    </div>
</div>
