<!-- Fill in IMEI form for Indirect
<?php
$customerSession = Mage::getSingleton('customer/session');
/** @var Vznl_Superorder_Model_Superorder $superOrder */
$superOrder = $customerSession->getSuperOrder();
$noHardware = Mage::helper('vznl_checkout/aikido')->getIndirectNoHardwareSku();
$packageId = $this->getPackageId();
?>
================================================== -->
<div class="clearfix" id="cart">
    <div id="checkout-wrapper" data-app="data-app">
    <form class="cart form-horizontal" method="post" role="form" id="registerImei">
        <input name="post_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getPostKey(); ?>" />
        <h2 id="device-selection" class="page-header-imei">
            <?php echo $this->__('Fill in IMEI'); ?>
        </h2>
        <div id="device-selection-content">
            <?php
            $packageArray = [];
            $items = [];
            $packages = [];

            // Superorder items
            $orders = $superOrder->getOrders();
            /** @var Vznl_Checkout_Model_Sales_Order $order */
            foreach ($orders as $order) {
                foreach ($order->getAllItems(true) as $item) {
                    $items[] = $item;
                    $packageArray[$item->getPackageId()][] = $item->getName();
                    if (!isset($packages[$item->getPackageId()])) {
                        $currentPackage = Mage::getModel('package/package')
                            ->getPackages($order->getSuperorderId(), null, $item->getPackageId())
                            ->getFirstItem();
                        $packages[$item->getPackageId()] = $currentPackage;
                    }
                }
            }

            foreach ($items as &$item) {
                $itemPackageId = $item->getPackageId();
                if (empty($packages[$itemPackageId]) || $packages[$itemPackageId]->isCancelled()) {
                    // Skip packages that were cancelled
                    continue;
                }
                $package = $packages[$itemPackageId];
                if (!isset($packageArray[$itemPackageId]['items'])) {
                    $packageArray[$itemPackageId]['subscription'] = false;
                    $packageArray[$itemPackageId]['device'] = false;
                }
                $packageArray[$itemPackageId]['items'][] = $item;
                if (Mage::helper('dyna_catalog')->is([Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION], $item->getProduct()) &&
                    $item->getProduct()->isNetwork()
                ) {
                    $packageArray[$itemPackageId]['subscription'] = true;
                    $packageArray[$itemPackageId]['product'] = $item->getProduct();
                }

                if ($item->getProduct()->is(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE_SUBSCRIPTION)) {
                    $handsetDetails = $package->getHandsetDetails();
                    $packageArray[$itemPackageId]['device_rc'] = $item;
                    $packageArray[$itemPackageId]['device_name'] = $handsetDetails['name'];
                    $packageArray[$itemPackageId]['imei'] = $package->getData('imei');
                    $packageArray[$itemPackageId]['manufacturer'] = $handsetDetails['manufacturer'];
                    $packageArray[$itemPackageId]['model_name'] = $handsetDetails['name'];
                    $packageArray[$itemPackageId]['handset_category'] = $handsetDetails['category'];
                    $packageArray[$itemPackageId]['catalog_price'] = $package->getData('catalog_price');
                    $packageArray[$itemPackageId]['catalog_price_incl_tax'] = $package->getData('catalog_price_incl_tax');
                    $packageArray[$itemPackageId]['mixmatch'] = $package->getData('mixmatch');
                    $packageArray[$itemPackageId]['mixmatch_excl'] = $packageArray[$item->getPackageId()]['mixmatch'] !== null ? $package->getData('mixmatch') / 1.21 : null;
                }
            }
            unset($package);
            unset($item);
            foreach ($packageArray as $currentPackageId => $packageData) : ?>
            <?php
                // if package id is set check if it is equal to the current package id
                $isCurrentPackage = (!$packageId || $packageId == $currentPackageId);
                if ($isCurrentPackage && $packageData['subscription']) :
                ?>
                <div id="item[<?php echo $currentPackageId; ?>][new]" class="clearfix">
                    <div class="col-md-3">
                        <img
                            class="center-block"
                            src="<?php echo $this->helper('catalog/image')->init($packageData['product'], 'small_image')->resize(80); ?>"
                            height="80"
                            width="80" />
                    </div>
                    <div class="col-md-9 white-bg">
                        <div class="clearfix form-row">
                            <div class="orderline-section mbl">
                                <div class="orderline-header">
                                    <div class="orderline-header-mobileicon"></div>
                                    <div class="orderline-header-title">
                                        <h6 class="orderline-header-title-order">
                                            <?php
                                            $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($packageData, null);
                                            echo $packageTypeAndTariffTitles['packageSubtypeTitle'];
                                            $packageItemsAsList = '<ul>';
                                            foreach ($packageData['items'] as $item) {
                                                $packageItemsAsList .= '<li>'.trim($item->getName()).'</li>';
                                            }
                                            $packageItemsAsList .= '</ul>';
                                            ?>
                                            <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                        </h6>
                                        <h5 class="orderline-header-title-category"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></h5>
                                    </div>
                                </div>
                                <div class="orderline-content">
                                    <?php if (isset($packageData['device_rc']) && $packageData['device_rc']->getProduct()->getSku() != $noHardware) : ?>
                                    <div class="row">
                                        <div class="hidden" id="rcValue<?php echo $currentPackageId; ?>">
                                            <?php echo ($packageData['device_rc']->getItemFinalMafInclTax() * $packageData['product']->getSubscriptionDuration()); ?>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group label-floating disabled">
                                                <div class="input-wrapper">
                                                    <label for="deviceselection[<?php echo $currentPackageId; ?>][device_name]" class="">
                                                        <?php echo $this->__('Device name'); ?>
                                                    </label>
                                                    <input type="text" class="form-control input-sm" value="<?php echo $packageData['device_name']; ?>" disabled />
                                                </div>
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <div class="input-wrapper">
                                                    <label class=""control-label"><?php echo $this->__('Imei number'); ?></label>
                                                    <input type="text"
                                                           id="deviceselection[<?php echo $currentPackageId; ?>][imei_number]"
                                                           name="deviceselection[<?php echo $currentPackageId; ?>][imei_number]"
                                                           class="form-control input-sm required-entry validate-imei"
                                                           value="<?php echo $packageData['imei']; ?>" />
                                                </div>
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="form-group hidden">
                                            <label for="deviceselection[<?php echo $currentPackageId; ?>][manufacturer]" class="">
                                                <?php echo $this->__('Manufacturer'); ?>
                                            </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       name="deviceselection[<?php echo $currentPackageId; ?>][manufacturer]"
                                                       class="form-control input-sm"
                                                       value="<?php echo $packageData['manufacturer']; ?>" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group hidden">
                                            <label for="deviceselection[<?php echo $currentPackageId; ?>][model_name]" class="">
                                                <?php echo $this->__('Model Name'); ?>
                                            </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       name="deviceselection[<?php echo $currentPackageId; ?>][model_name]"
                                                       class="form-control input-sm"
                                                       value="<?php echo $packageData['model_name']; ?>" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group hidden">
                                            <label for="deviceselection[<?php echo $currentPackageId; ?>][handset_category]" class="">
                                                <?php echo $this->__('Handset Category'); ?>
                                            </label>
                                            <div class="col-sm-6">
                                                <input type="text"
                                                       name="deviceselection[<?php echo $currentPackageId; ?>][handset_category]"
                                                       class="form-control input-sm"
                                                       value="<?php echo $packageData['handset_category']; ?>" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="content-separator">
                                                <div class="content-separator-title"><?php echo $this->__('SEPARATE SALES PRICE (RETAIL VALUE)') ?></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating disabled">
                                                <div class="input-wrapper currency">
                                                    <label class="" style="padding-left:30px;"><?php echo $this->__('Incl. VAT') ?></label>
                                                    <input type="text" disabled
                                                           placeholder="<?php echo $this->__('Incl. VAT'); ?>"
                                                           class="form-control input-sm catalog_price_incl_tax_<?php echo $packageId; ?>"
                                                           value="<?php echo $packageData['catalog_price_incl_tax']
                                                               ? Mage::helper('pricerules')->customPriceFormat($packageData['catalog_price_incl_tax'],
                                                                   false)
                                                               : ''; ?>"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating disabled">
                                                <div class="input-wrapper currency">
                                                    <label class="" style="padding-left:30px;"><?php echo $this->__('Excl. VAT') ?></label>
                                                    <input type="text" disabled
                                                           placeholder="<?php echo $this->__('Excl. VAT'); ?>"
                                                           class="form-control input-sm catalog_price_<?php echo $packageId ?>"
                                                           value="<?php echo $packageData['catalog_price']
                                                               ? Mage::helper('pricerules')->customPriceFormat($packageData['catalog_price'],
                                                                   false)
                                                               : ''; ?>"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="content-separator">
                                                <div class="content-separator-title"><?php echo $this->__('ONE-OFF DEVICE PAYMENT') ?></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating disabled">
                                                <div class="input-wrapper currency">
                                                    <label class="" style="padding-left:30px;"><?php echo $this->__('Incl. VAT') ?></label>
                                                    <input type="text" disabled
                                                           placeholder="<?php echo $this->__('Incl. VAT'); ?>"
                                                           class="form-control input-sm mixmatch_<?php echo $packageId ?>"
                                                           value="<?php echo $packageData['mixmatch'] !== null
                                                               ? Mage::helper('pricerules')->customPriceFormat($packageData['mixmatch'],
                                                                   false)
                                                               : ''; ?>"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating disabled">
                                                <div class="input-wrapper currency">
                                                    <label class="" style="padding-left:30px;"><?php echo $this->__('Excl. VAT') ?></label>
                                                    <input type="text" disabled
                                                           placeholder="<?php echo $this->__('Excl. VAT'); ?>"
                                                           class="form-control input-sm mixmatch_excl_<?php echo $packageId ?>"
                                                           value="<?php echo $packageData['mixmatch_excl'] !== null
                                                               ? Mage::helper('pricerules')->customPriceFormat($packageData['mixmatch_excl'],
                                                                   false)
                                                               : ''; ?>"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <section class="row">
                            <div class="col-sm-12">
                                <div class="section-footer-wrapper">
                                    <div class="section-footer">
                                        <a class="arrow-back" href="/"><?php echo $this->__('Back to dashboard'); ?></a>
                                        <div>
                                            <button class="btn btn-next" type="submit">
                                                <span class="btn-content"><?php echo $this->__('Next'); ?></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>

    </form>
    </div>
</div>
