            <?php
/** @var $this Vznl_Checkout_Block_Cart_Steps_SaveNumberPorting */
$cartPackages = $this->getCartPackages();

/** Fixed details details */
$isOverride = Mage::helper('vznl_service')->isOverride();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isRetail =  $agentHelper->isRetailStore();
$quote = $this->getQuote();
$customer = $quote->getCustomer();
$pan = $customer->getData('pan');
$ban = $customer->getData('ban');
$isCustomer = ($ban || $pan);
$fixed_customer = $customer && $pan;
$isFixed = $quote->hasFixed();
$isMobile = $quote->hasMobilePackage();
$isConverged = $isFixed && $isMobile;
$isBusiness = (bool) Mage::getSingleton('customer/session')->getCustomer()->getIsBusiness();
$showHeader = false;
$contextHelper = Mage::helper('dyna_catalog/processContext');
$processContext = $contextHelper->getProcessContextCode();
$moveNumberEnable = ($processContext == Vznl_Catalog_Model_ProcessContext::MOVE);
$ilsNumberEnable =($processContext == Vznl_Catalog_Model_ProcessContext::ILSBLU);
$packages = $this->getPackages();
$packageTitles = [];
foreach($packages as $packageId => $package){
    $packageSubtype = $isFixed ? Vznl_Catalog_Model_Type::SUBTYPE_FIXED_PACKAGE : Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION;
    $packageTitles[$packageId] = array_merge($package, Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, $packageSubtype, Dyna_Catalog_Model_Product::GUI_COMMUNICATION));
}
$acq =($processContext == Vznl_Catalog_Model_ProcessContext::ACQ);
$ret =($processContext == Vznl_Catalog_Model_ProcessContext::RETBLU);
$notMoveOrIlsFlow = ($acq || $ret);

foreach ($packages as $package) {
    if ($package['type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) {
        $fixed_package_type = Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED;
        $fixed_sale_type = $package['sale_type'];
        $singleFixedIlsOrMove = in_array($fixed_sale_type, array(Vznl_Catalog_Model_ProcessContext::ILSBLU, Vznl_Catalog_Model_ProcessContext::MOVE)) ? true : false;
    }
}

if($fixed_customer && $singleFixedIlsOrMove) {
    $checkoutHelper = $this->getCheckoutHelper();
    $checkoutHelper->setTelephoneNumber(true);
}
$quote->save();

/** Fixed details details */
?>
    <!-- Nummerbehoud
    ================================================== -->

    <div class="section" data-ref="number_porting">
        <div class="cart">
            <!-- Number Porting -->
            <section class="row form connection-details" data-url="/checkout/index/saveNumberPorting" id="saveNumberPorting" data-validate="validate">
                <div class="col-sm-12">
                    <h3><?php echo $this->__('Connection details'); ?></h3>
                </div>

                <!-- Numbere Porting section Mobile -->
                <?php if ($isMobile) { $showHeader = true;?>
                    <div class="col-sm-12">
                        <h4><?php echo $this->__('Number portability'); ?></h4>
                    </div>
                    <?php
                    foreach ($cartPackages as $packageId => $package) {
                        $packageDisabled = $this->isPackagePortingDisabled() ? 'disabled' : '';
                        $npData = [
                            'check' => $package['current_number'] ? 1 : 0,
                            'customer' => $package['number_porting_type'],
                            'connection' => $package['connection_type'],
                            'choice' => (!isset($package['number_porting_validation_type']) || $package['number_porting_validation_type'] == Vznl_Package_Model_Package::NP_VALIDATION_TYPE_SMART_VALIDATION) ? 0 : 1,
                            'ctn' => $package['current_number'],
                            'client_id' => $package['number_porting_client_id']
                        ];
                        ?>
                        <div class="col-sm-12">
                            <div class="np-package" data-package-id="<?= $packageId; ?>">
                                <div class="row number-porting-padding">
                                    <div class="col-sm-12 package-row">
                                        <div class="checkbox-options" id="<?= sprintf('np_%s_options-checkbox', $packageId); ?>">
                                            <div class="checkbox-item checkbox-collection">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="<?= sprintf('numberporting[%s][check]', $packageId); ?>" class="np-required-check" value="1" id="<?= sprintf('np_%s_required-check', $packageId); ?>"
                                                            <?= $package['current_number'] ? 'checked' : ''; ?> <?= $packageDisabled; ?>>
                                                        <?php $packageItems = explode(", ", $package['items']);
                                                        ?>
                                                        <?php ob_start(); ?>
                                                        <ul>
                                                            <?php foreach ($packageItems as $item ) : ?>
                                                                <li><?= trim($item) ?></li>
                                                            <?php endforeach; ?>
                                                        </ul>
                                                        <?php $packageItemsAsList = ob_get_clean(); ?>
                                                        <span class="checkbox-material"><span class="check"></span></span>
                                                        <span class="checkbox-text">
                                                            <?php echo sprintf($this->__('Enable number porting for %s'), $package['subscription_name']); ?>
                                                        </span>
                                                        <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                    </label>
                                                </div>
                                                <div class="checkbox-popdown np-mobile np-package-validation-section">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="orderline-simple">
                                                                <div class="orderline-header">
                                                                    <div class="orderline-header-icon package-indicator-mobile ">
                                                                    </div>
                                                                    <div class="orderline-header-title">
                                                                    <h6 class="orderline-header-title-order"><?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                                        <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                                    </h6>
                                                                    <h5 class="orderline-header-title-category"><?php echo $packageTitles[$packageId]['packageTitle']; ?></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group label-floating">
                                                                <div class="input-wrapper select-wrapper">
                                                                    <label class="control-label"><?php echo $this->__('Customer type'); ?></label>
                                                                    <select class="form-control np-customer-type" name="<?= sprintf('numberporting[%s][customer]', $packageId); ?>" oninput="summaryDataSynchronization(jQuery(this))" onchange="summaryDataSynchronization(jQuery(this))">
                                                                        <option selected value="" style="display:none"></option>
                                                                        <option value="0" <?= $npData['customer'] == 0 ? 'selected' : '' ?>><?= $this->__('Private'); ?></option>
                                                                        <option value="1" <?= $npData['customer'] == 1 ? 'selected' : '' ?>><?= $this->__('Business'); ?></option>
                                                                    </select>
                                                                </div>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group label-floating" id="<?= sprintf('numberporting[%s][lable]', $packageId); ?>">
                                                                <div class="input-wrapper select-wrapper">
                                                                    <label class="control-label"><?= $this->__('Type of connection') . ':'; ?></label>
                                                                    <select class="form-control np-connection-type"  name="<?= sprintf('numberporting[%s][connection]', $packageId); ?>" oninput="summaryDataSynchronization(jQuery(this))" onchange="summaryDataSynchronization(jQuery(this))">
                                                                        <option selected value="" style="display:none"></option>
                                                                        <option value="0"  <?= $npData['connection'] == 0 ? 'selected' : '' ?>><?= $this->__('Postpaid'); ?></option>
                                                                        <option value="1"  <?= $npData['connection'] == 1 ? 'selected' : '' ?>><?= $this->__('Prepaid'); ?></option>
                                                                    </select>
                                                                </div>
                                                                <span class="material-input"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="content-separator"></div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="radio-box no-bottom-margin">
                                                                <div class="radio-item radio-collection" id="<?= sprintf('np_%s_sms-radio', $packageId); ?>">
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="<?= sprintf('numberporting[%s][choice]', $packageId); ?>" class="np-validation-choice" value="0"  <?= $npData['choice'] == 0 ? 'checked' : '' ?>><span class="circle"></span><span class="check"></span>
                                                                            <?= $this->__('Validate phone number via SMS'); ?>
                                                                        </label>
                                                                    </div>
                                                                    <!-- Popdown for different billing address -->
                                                                    <div class="radio-popdown" id="<?= sprintf('numberporting_%s_input_sms', $packageId); ?>">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 hidden" id="<?= sprintf('np_%s_notic_sms', $packageId); ?>">
                                                                            </div>
                                                                            <div class="col-sm-8">
                                                                                <div class="form-group label-floating is-empty">
                                                                                    <div class="input-wrapper">
                                                                                        <label class="control-label"><?php echo $this->__('Current mobile phone number'); ?></label>
                                                                                        <input type="text" name="<?= sprintf('numberporting[%s][mobile_number]', $packageId); ?>" id="<?= sprintf('numberporting_%s_sms_mobile', $packageId); ?>" oninput="checkout.summaryDataSynchronization(jQuery(this))" class="form-control np-required-for-sms-code np-required-for-client-id number-to-check" value="<?= $npData['ctn'] ? : ''; ?>">
                                                                                    </div>
                                                                                    <span class="material-input"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-4">
                                                                                <button class="btn btn-primary send-sms-code inline fluid np-required-for-client-id" id="<?= sprintf('send_sms_code_%s', $packageId); ?>" onclick="requestSMSCode(<?= $packageId; ?>, '<?= sprintf('np_%s_notic_sms', $packageId); ?>')">
                                                                                    <span class="btn-content"><?= $this->__('Send SMS-code'); ?></span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-sm-8">
                                                                                <div class="form-group label-floating is-empty no-margin-bottom">
                                                                                    <div class="input-wrapper">
                                                                                        <label class="control-label"><?php echo $this->__('Send SMS-code'); ?></label>
                                                                                        <input type="text" id="<?= sprintf('numberporting_%s_sms_code', $packageId); ?>" name="<?= sprintf('numberporting[%s][sms_code]', $packageId); ?>" class="form-control sms-code-validation">
                                                                                        <span class="validation-done-check hidden"><i class="glyphicon glyphicon-ok"></i></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-4">
                                                                                <button class="btn btn-secondary validate-button disabled inline fluid no-margin-bottom" id="<?= sprintf('validate_button_%s', $packageId); ?>" onclick="validateSMSCode(<?= $packageId; ?>, '<?= sprintf('np_%s_notic_sms', $packageId); ?>')">
                                                                                    <span class="btn-content"><?= $this->__('Validate'); ?></span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                     </div>
                                                                </div>
                                                                <div class="radio-item radio-collection" id="<?= sprintf('np_%s_customer-radio', $packageId); ?>">
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="<?= sprintf('numberporting[%s][choice]', $packageId); ?>" class="np-validation-choice" value="1"  <?= $npData['choice'] == 1 ? 'checked' : '' ?>><span class="circle"></span><span class="check"></span>
                                                                            <?= $this->__('Validate phone number via Customer number'); ?>
                                                                        </label>
                                                                    </div>
                                                                    <!-- Popdown for different billing address -->
                                                                    <div class="radio-popdown" id="<?= sprintf('numberporting_%s_input_customerno', $packageId); ?>">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group label-floating is-empty">
                                                                                    <div class="input-wrapper">
                                                                                        <label class="control-label"><?php echo $this->__('Huidige mobiele nummer'); ?></label>
                                                                                        <input type="text" name="<?= sprintf('numberporting[%s][mobile_number]', $packageId); ?>" id="<?= sprintf('numberporting_%s_customerno_mobile', $packageId); ?>" oninput="checkout.summaryDataSynchronization(jQuery(this))" class="form-control np-required-for-sms-code np-required-for-client-id number-to-check" value="<?= $npData['ctn'] ? : ''; ?>">
                                                                                    </div>
                                                                                    <span class="material-input"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-12">
                                                                                <div class="form-group label-floating is-empty">
                                                                                    <div class="input-wrapper">
                                                                                        <label class="control-label"><?php echo $this->__('Klantnummer bij huidige provider'); ?></label>
                                                                                        <input type="text" name="<?= sprintf('numberporting[%s][client_id]', $packageId); ?>" id="<?= sprintf('numberporting_%s_client_id', $packageId); ?>" class="form-control np-required-for-client-id" value="<?= $npData['client_id'] ? : ''; ?>">
                                                                                    </div>
                                                                                    <span class="material-input"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                }
                ?>

                <!-- Number Porting Mobile Section-->
                <?php
                $hasFixedVoiceProduct = $this->hasFixedVoiceProduct();
                if ($isFixed) {
                $cart = Mage::getModel('checkout/cart')->getQuote();
                $showExtraLine = false;
                $packageArray = array();
                $items = array();
                $packages = array();
                $packageHasInternet =array();
                $packageVoiceProduct =array();
                $newHardware = array();
                $storeId = Mage::getSingleton('customer/session')->getAgent()->getDealer()->getId();
                // Quote/Order items
                $cartItems = $cart->getAllItems();
                $cartHelper = Mage::helper('dyna_configurator/cart');
                if($cartItems) {
                    $cartItems = $cartHelper->getSortedCartProducts($cartItems);
                }
                foreach ($cartItems as $item) {
                    $items[] = $item;
                    $packageArray[$item->getPackageId()][] = $item->getName();
                    if (!isset($packages[$item->getPackageId()])) {
                        $currentPackage = Mage::getModel('package/package')
                            ->getPackages(null, $cart->getId(), $item->getPackageId())
                            ->getFirstItem();
                        $packages[$item->getPackageId()] = $currentPackage;
                    }
                }
                $npFlag = false;
                $productFromInstalled = "";
                $swpFlag = false;
                $showFirstLine = false;
                $showFirstLineInstall = false;
                $showSecondLine = false;
                $showSecondLineInstall = false;
                foreach ($items as &$item) {

                    $package = $packages[$item->getPackageId()];
                    $packageArray[$item->getPackageId()]['items'][] = $item->getName();
                    $packageArray[$item->getPackageId()]['package_type'] = $item->getPackageType();
                    /** @var Vznl_Catalog_Model_Product $product */

                    $product = $item->getProduct();
                    $packageArray[$item->getPackageId()]['subscription'] = true;
                    $packageArray[$item->getPackageId()]['product'] = $product;
                    $packageArray[$item->getPackageId()]['number_porting'] = $package->getCurrentNumber() ?: null;
                    $packageArray[$item->getPackageId()]['tel_number'] = $package->getTelNumber() ?: null;
                    $packageArray[$item->getPackageId()]['sim_number'] = $package->getSimNumber() ?: null;
                    $packageArray[$item->getPackageId()]['imei'] = $package->getImei() ?: null;

                    // number porting details
                    $packageArray[$item->getPackageId()]['first_line'] = $package->getFixedFirstLinePhone() ?: null;
                    $packageArray[$item->getPackageId()]['second_line'] = $package->getFixedSecondLinePhone() ?: null;

                    // fixed overstappen details
                    $packageArray[$item->getPackageId()]['current_provider'] = $package->getFixedOverstappenCurrentProvider() ?: null;
                    $packageArray[$item->getPackageId()]['delivery_date'] = $package->getFixedOverstappenDeliveryDate() ?: null;
                    $packageArray[$item->getPackageId()]['contract_id'] = $package->getFixedOverstappenContractId() ?: null;
                    $packageArray[$item->getPackageId()]['termination_fee'] = $package->getFixedOverstappenTerminationFee() ?: null;
                    $packageHasInternet[$item->getPackageId()][$item->getSku()]['has_internet'] = $product->getHasInternet();
                    $packageVoiceProduct[$item->getPackageId()][$item->getSku()]['voice_product'] = $product->getAttributeText('voice_product')?:'';
                    if ($product->isDeviceSubscription()) {
                        $packageArray[$item->getPackageId()]['aikido'] = true;
                    }
                    $newHardware[$item->getPackageId()][$item->getSku()]['newHardware'] = $item->getNewHardware();

                    $newProductExcludeInstalled = "";

                    $installedBaseProducts = $item->getData('preselect_product');
                    if(!$installedBaseProducts) {
                        $newProductExcludeInstalled = $item->getProduct();
                    }
                    if($installedBaseProducts) {
                        $productFromInstalled = $item->getProduct();
                    }
                    if($productFromInstalled) {
                        if($productFromInstalled->getAttributeText('voice_product')) {
                            $voiceProductFromInstall = $productFromInstalled->getAttributeText('voice_product');
                            if ($voiceProductFromInstall == (Vznl_Configurator_Model_PackageType::TELEPHONY_FIRST_LINE)) {
                                $showFirstLineInstall = true;
                            }
                            if ($voiceProductFromInstall == (Vznl_Configurator_Model_PackageType::TELEPHONY_SECOND_LINE)) {
                                $showSecondLineInstall = true;
                            }
                            if ($voiceProductFromInstall == (Vznl_Configurator_Model_PackageType::TELEPHONY_BOTH_LINE)) {
                                $showFirstLineInstall = true;
                                $showSecondLineInstall = true;
                            }
                        }
                    }
                    if($newProductExcludeInstalled) {
                        if($newProductExcludeInstalled->getHasInternet()) {
                            $ilsProductHasInternet = true;
                            $swpFlag = true;
                        }
                        if($newProductExcludeInstalled->getAttributeText('voice_product')) {
                            $voiceProduct = $newProductExcludeInstalled->getAttributeText('voice_product');
                            $ilsProductHasVoice = true;
                            $npFlag = true;
                            if ($voiceProduct == (Vznl_Configurator_Model_PackageType::TELEPHONY_FIRST_LINE)) {
                                $showFirstLine = true;
                            }
                            if ($voiceProduct == (Vznl_Configurator_Model_PackageType::TELEPHONY_SECOND_LINE)) {
                                $showSecondLine = true;
                            }
                            if ($voiceProduct == (Vznl_Configurator_Model_PackageType::TELEPHONY_BOTH_LINE)) {
                                $showFirstLine = true;
                                $showSecondLine = true;
                            }
                        }
                    }
                }
                $downGradeTeleLine = $showFirstLineInstall && $showSecondLineInstall && $showFirstLine && !$showSecondLine && $moveNumberEnable;
                $showFirstLine = ($showFirstLine && !$moveNumberEnable) || (($showFirstLine || $showFirstLineInstall) && $moveNumberEnable);
                $showSecondLine = ($showSecondLine && !$moveNumberEnable) || (($showSecondLine || $showSecondLineInstall) && ($showFirstLineInstall || $showFirstLine) && $moveNumberEnable);
                $showPortingInMove = ($showFirstLine || $showSecondLine) && $moveNumberEnable;
                $moveFlowNewNumberPorting = !$showFirstLineInstall && !$showSecondLineInstall && $moveNumberEnable;
                $ilsFlowNewNumberPorting = !$showFirstLineInstall && !$showSecondLineInstall && $ilsNumberEnable;
                if($downGradeTeleLine){
                    $showSecondLine = false;
                }

                $cancelledProduct = [];
                foreach ($cart->getAlternateItems() as $alternateItem) {
                    $alternateItems[] = $alternateItem;
                    foreach ($alternateItems as &$alternateItem) {
                        $product = $alternateItem->getProduct();
                        $cancelledProduct[] = $product->getVoiceProduct()?:false;
                        if($product->getHasInternet()){
                            $alterProductHasInternet = true;
                        }
                    }
                }

                ?>

                <!-- Number Porting Fixed section -->
                <?php
                $newHardwareFlag = false;
                foreach ($newHardware as $key => $value) {
                    foreach ($value as $productId => $newHardwareValue) {
                        if ($newHardwareValue['newHardware']) {
                            $newHardware[$key][] = $newHardwareValue['newHardware'];
                            if($newHardwareValue['newHardware']){
                                $newHardwareFlag = true;
                            }
                        }
                     }
                }

                $hasTelephony = array();
                $installedBaseTelephoneNo = $quote->getFixedTelephoneNumber() ?: '';
                $installedBaseExtraTelephoneNo = $quote->getFixedExtraTelephoneNo() ?: '';

                $showNumberPortingStep = ($npFlag && $notMoveOrIlsFlow && !$isConverged) || ($npFlag && $notMoveOrIlsFlow && $isConverged && $ilsProductHasVoice) || ($showPortingInMove  && $moveNumberEnable) || ($ilsNumberEnable && $ilsProductHasVoice);

                $showSwitchProviderStep = ($pan && $notMoveOrIlsFlow && $swpFlag && !$isConverged) || (!$pan && $swpFlag && $notMoveOrIlsFlow && !$isConverged) || ($notMoveOrIlsFlow && $isConverged && $ilsProductHasInternet) || ($ilsNumberEnable && $ilsProductHasInternet && !$alterProductHasInternet);

                if ($showHeader == false) {
                    if ($showNumberPortingStep) { ?>
                        <div class="col-sm-12">
                            <?php if ($moveNumberEnable && !$moveFlowNewNumberPorting) {
                            if (!array_search('true', $cancelledProduct)) { ?>
                                <h4><?php echo $this->__('Move number to new address'); ?></h4>
                            <?php }
                            } else { ?>
                                <h4><?php echo $this->__('Number portability'); ?></h4>
                            <?php } ?>
                        </div>
                        <?php
                    }
                }
                $packageDisabled = $this->isPackagePortingDisabled() ? 'disabled' : '';
                foreach ($packageArray as $packageId => $packageData) {
                if ($packageData['package_type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) {

                if ($showNumberPortingStep) { ?>
                <div class="col-sm-12">
                    <div class="np-package" data-package-id="<?= $packageId; ?>">
                        <div class="row">
                            <div class="col-sm-12 package-row">
                                <div class="checkbox-options"
                                     id="<?= sprintf('np_%s_options-checkbox-fixed', $packageId); ?>">
                                    <div class="checkbox-item checkbox-collection">
                                        <div class="checkbox ">
                                            <?php $checkRetainMove = (($moveNumberEnable && !$moveFlowNewNumberPorting) || ($ilsNumberEnable && !$ilsFlowNewNumberPorting)) && !array_search('true', $cancelledProduct) && $installedBaseTelephoneNo; ?>
                                            <label
                                                    onclick="<?php if ($checkRetainMove) { ?>checkMoveTelephoneRetain(<?php echo $packageId ?>,<?php echo $pan ?>)<?php } ?>">
                                                <input type="checkbox"
                                                       name="<?= sprintf('numberportingfixed[%s][check]', $packageId); ?>"
                                                       class="np-required-check move-has-telephone-no" value="1" data-id="<?= $packageId; ?>"
                                                       id="<?= sprintf('np_fixed_%s_required-check', $packageId); ?>"
                                                    <?= $package['current_number'] ? 'checked' : ''; ?> <?= $packageDisabled; ?>>
                                                <span class="checkbox-material"><span class="check"></span></span>
                                                <span class="checkbox-text">
                                                    <?php if ($moveNumberEnable) : ?>
                                                        <?php echo $this->__('Move phone number for') . ' ' . $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                    <?php else : ?>
                                                        <?php echo sprintf($this->__('Enable number porting for %s'), $packageTitles[$packageId]['packageSubtypeTitle']); ?>
                                                    <?php endif; ?>
                                                </span>
                                                <?php ob_start(); ?>
                                                <ul>
                                                    <?php foreach ($packageData['items'] as $item_name ) : ?>
                                                        <li><?= trim($item_name) ?></li>
                                                    <?php endforeach; ?>
                                                </ul>
                                                <?php $packageItemsAsList = ob_get_clean(); ?>
                                                <div class="tip-trig-hover-popover info-icon" data-placement="left" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 checkbox-popdown np-fixed np-package-validation-fixed-section hidden">
                                            <div class="connectionbox">
                                                <div class="connectionbox-head">
                                                    <div class="connectionbox-head-icon int_tv_fixtel"></div>
                                                    <h5>
                                                        <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                        <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                    </h5>
                                                    <span class="fixedSubtype"><?php echo $packageTitles[$packageId]['packageTitle']; ?></span>
                                                </div>
                                                <div class="connectionbox-content">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="label-floating">
                                                                <div class="row">
                                                                    <?php if ($showFirstLine) { ?>
                                                                    <div class="col-sm-12 hidden"
                                                                         id="<?= sprintf('np_%s_notic_retain', $packageId); ?>"></div>
                                                                    <?php if ($showSecondLine) { ?>
                                                                        <div class="col-sm-6">
                                                                    <?php } elseif ($showFirstLine && !$showSecondLine) { ?>
                                                                        <div class="col-sm-12">
                                                                    <?php } ?>
                                                                            <div class="form-group label-floating is-empty <?= sprintf('numberportingfixed_%s_first_line', $packageId); ?>">
                                                                                <div class="input-wrapper">
                                                                                    <label class="control-label phoneNo-fixed"><?php echo $this->__('Phone number'); ?></label>
                                                                                    <input type="text"
                                                                                           name="<?= sprintf('numberportingfixed[%s][first_line]', $packageId); ?>"
                                                                                           id="<?= sprintf('numberportingfixed_%s_first_line', $packageId); ?>"
                                                                                        <?php if ($notMoveOrIlsFlow || ($singleFixedIlsOrMove && $moveFlowNewNumberPorting) || ($singleFixedIlsOrMove && $ilsFlowNewNumberPorting)) { ?>
                                                                                            onchange="checkTelephoneRetain(<?php echo $packageId ?>,'<?= sprintf('numberportingfixed_%s_first_line', $packageId); ?>');"
                                                                                        <?php } ?>
                                                                                           placeholder="<?php echo $this->__('e.g.'); ?> 0201234567"
                                                                                           class="form-control"
                                                                                           value="<?= $installedBaseTelephoneNo ?: ''; ?>"
                                                                                           oninput="summaryDataSynchronization(jQuery(this))">
                                                                                    <img class="phoneNo-success"
                                                                                         id="<?= sprintf('img_%s_first_line', $packageId); ?>"
                                                                                         style="display: none"
                                                                                         src="<?php echo $this->getSkinUrl('images/success.svg') ?>"
                                                                                         height="18" width="18" alt=""/>
                                                                                    <img class="phoneNo-success"
                                                                                         id="<?= sprintf('img_error_%s_first_line', $packageId); ?>"
                                                                                         style="display: none"
                                                                                         src="<?php echo $this->getSkinUrl('images/error.svg') ?>"
                                                                                         height="18" width="18"
                                                                                         alt=""/>
                                                                                </div>
                                                                                <span class="material-input"></span>
                                                                            </div>
                                                                        </div>
                                                                        <?php }
                                                                        if ($showSecondLine) { ?>
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group label-floating is-empty <?= sprintf('numberportingfixed_%s_second_line', $packageId); ?>">
                                                                                    <div class="input-wrapper">
                                                                                        <label class="control-label"
                                                                                               id="phoneNo-fixed"><?php echo $this->__('Second phone number'); ?></label>
                                                                                        <input type="text"
                                                                                               name="<?= sprintf('numberportingfixed[%s][second_line]', $packageId); ?>"
                                                                                               id="<?= sprintf('numberportingfixed_%s_second_line', $packageId); ?>"
                                                                                            <?php if ($notMoveOrIlsFlow || ($singleFixedIlsOrMove && $moveFlowNewNumberPorting) || ($singleFixedIlsOrMove && $ilsFlowNewNumberPorting)) { ?>
                                                                                                onchange="checkTelephoneRetain(<?php echo $packageId ?>,'<?= sprintf('numberportingfixed_%s_second_line', $packageId); ?>')"
                                                                                            <?php } ?>
                                                                                               placeholder="<?php echo $this->__('e.g.'); ?> 0201234567"
                                                                                               class="form-control"
                                                                                               value="<?= $installedBaseExtraTelephoneNo ?: ''; ?>"
                                                                                               oninput="summaryDataSynchronization(jQuery(this))">
                                                                                        <img class="phoneNo-success"
                                                                                             id="<?= sprintf('img_%s_second_line', $packageId); ?>"
                                                                                             style="display: none"
                                                                                             src="<?php echo $this->getSkinUrl('images/success.svg') ?>"
                                                                                             height="18" width="18"
                                                                                             alt=""/>
                                                                                        <img class="phoneNo-success"
                                                                                             id="<?= sprintf('img_error_%s_second_line', $packageId); ?>"
                                                                                             style="display: none"
                                                                                             src="<?php echo $this->getSkinUrl('images/error.svg') ?>"
                                                                                             height="18" width="18"
                                                                                             alt=""/>
                                                                                    </div>
                                                                                    <span class="material-input"></span>
                                                                                </div>
                                                                            </div>
                                                                        <?php } ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php }
                    }
                    }

                    if ($product->isDeviceSubscription()) {
                        $packageArray[$item->getPackageId()]['aikido'] = true;
                    }
                    if ($this->hasSecondLineVoiceProduct()) {
                        $showExtraLine = true;
                    }

                    if ($product->isSubscription()) {
                        $packageArray[$item->getPackageId()]['subscription_name'] = $item->getName();
                    }
                    ?>

                    <!-- Number selection section -->
                    <?php if ($agentHelper->isTelesalesChannel()) {
                        if ($showNumberPortingStep) { ?>
                            <div class="col-sm-12" id="number-selection-fixed">
                                <h4><?php echo $this->__('Number selection'); ?></h4>
                                    <?php
                                    foreach ($packageArray as $packageId => $packageData) {
                                        if ($packageData['package_type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) { ?>
                                    <div class="np-package" data-package-id="<?= $packageId; ?>">
                                        <div class="row">
                                            <div class="col-sm-12 package-row" id="fixed-telephone">
                                                <div class="checkbox-options" id="<?= sprintf('np_%s_options-checkbox-number-selection', $packageId); ?>">
                                                    <div class="checkbox-item checkbox-collection">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"
                                                                       name="<?= sprintf('numberselection[%s][check]', $packageId); ?>"
                                                                       class="np-required-check" value="1"
                                                                       id="<?= sprintf('np_numselection_%s_required-check', $packageId); ?>"
                                                                    <?= $package['current_number'] ? 'checked' : ''; ?> <?= $packageDisabled; ?>>
                                                                <span class="checkbox-material"><span class="check"></span></span>
                                                                <span class="checkbox-text"><?= $this->__('Select phone number for')." ".$packageTitles[$packageId]['packageSubtypeTitle']; ?></span>
                                                                <?php ob_start(); ?>
                                                                <ul>
                                                                    <?php foreach ($packageData['items'] as $item_name ) : ?>
                                                                        <li><?= trim($item_name) ?></li>
                                                                    <?php endforeach; ?>
                                                                </ul>
                                                                <?php $packageItemsAsList = ob_get_clean(); ?>
                                                                <div class="tip-trig-hover-popover info-icon" data-placement="left" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                            </label>
                                                        </div>
                                                        <div id="item[<?php echo $packageId; ?>][porting]" class="col-sm-12 checkbox-popdown np-fixed np-package-validation-numselection-section hidden">
                                                            <div class="connectionbox">
                                                                <div class="connectionbox-head">
                                                                    <div class="connectionbox-head-icon int_tv_fixtel"></div>
                                                                    <h5>
                                                                        <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                                        <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                                    </h5>
                                                                    <span class="fixedSubtype"><?php echo $packageTitles[$packageId]['packageTitle']; ?></span>
                                                                </div>
                                                                <div class="connectionbox-content">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group label-floating fixed_telephone_first">
                                                                                <div class="input-wrapper">
                                                                                    <label class="control-label"><?php echo $this->__('Phone number selection') ?></label>
                                                                                    <input type="text" id="fixed_telephone" name="fixed_telephone_number" class="form-control" value=""
                                                                                           data-required="true" readonly oninput="summaryDataSynchronization(jQuery(this))" onchange="summaryDataSynchronization(jQuery(this))">
                                                                                    <button class="btn btn-primary small fixed_telephone-button" type="button" onclick="getTelephoneNumber()">
                                                                                        <span class="btn-content" id="fixed_telephone-text"><?php echo Mage::helper('dyna_checkout')->__('Select'); ?></span>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <?php if ($showSecondLine) : ?>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group label-floating fixed_telephone_second">
                                                                                    <div class="input-wrapper">
                                                                                        <label class="control-label"><?php echo $this->__('Phone number selection') ?></label>
                                                                                        <input type="text" id="fixed_telephone_extra" name="fixed_extra_telephone_no" class="form-control col-sm-4" value=""
                                                                                               data-required="true" readonly oninput="summaryDataSynchronization(jQuery(this))" onchange="summaryDataSynchronization(jQuery(this))">
                                                                                        <button class="btn btn-primary small fixed_extra_telephone-button" type="button" onclick="getExtraTelephoneNumber()">
                                                                                            <span class="btn-content" id="fixed_extra_telephone-text"><?php echo Mage::helper('dyna_checkout')->__('Select'); ?></span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        <?php endif; ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <?php
                                        }
                                    } ?>
                            </div>
                            <?php
                        }
                    } ?>

                     <!-- Switch provider service section -->

                    <?php
                    $ziggoDonorParties = Mage::helper('vznl_checkout')->getZiggoDonorParties();
                    if($showSwitchProviderStep) {
                    ?>
                        <div class="col-sm-12">
                            <h4><?php echo $this->__('Switch provider service'); ?></h4>
                            <?php
                            foreach ($packageArray as $packageId => $packageData) {
                                    if ($packageData['package_type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) { ?>
                                        <div class="np-package" data-package-id="<?= $packageId; ?>">
                                            <div class="row">
                                                <div class="col-sm-12 package-row">
                                                    <div class="checkbox-options"
                                                         id="<?= sprintf('np_%s_options-checkbox-service', $packageId); ?>">
                                                        <div class="checkbox-item checkbox-collection">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"
                                                                           name="<?= sprintf('switchprovider[%s][check]', $packageId); ?>"
                                                                           class="np-required-check" value="1"
                                                                           id="<?= sprintf('np_service_%s_required-check', $packageId); ?>"
                                                                        <?= $package['fixed_overstappen_status'] ? 'checked' : ''; ?> <?= $packageDisabled; ?>>
                                                                    <span class="checkbox-material"><span class="check"></span></span>
                                                                    <span class="checkbox-text"><?= $this->__('Switch Provider for')." ".$packageTitles[$packageId]['packageSubtypeTitle']; ?></span>
                                                                    <?php ob_start(); ?>
                                                                    <ul>
                                                                        <?php foreach ($packageData['items'] as $item_name ) : ?>
                                                                            <li><?= trim($item_name) ?></li>
                                                                        <?php endforeach; ?>
                                                                    </ul>
                                                                    <?php $packageItemsAsList = ob_get_clean(); ?>
                                                                    <div class="tip-trig-hover-popover info-icon" data-placement="left" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                                </label>
                                                            </div>
                                                            <div class="col-sm-12 checkbox-popdown np-fixed np-package-validation-service-section hidden">
                                                                <div class="connectionbox">
                                                                    <div class="connectionbox-head">
                                                                        <div class="connectionbox-head-icon int_tv_fixtel"></div>
                                                                        <h5>
                                                                            <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                                            <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                                        </h5>
                                                                        <span class="fixedSubtype"><?php echo $packageTitles[$packageId]['packageTitle']; ?></span>
                                                                    </div>
                                                                    <div class="connectionbox-content">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="label-floating">
                                                                                    <div height="145px">
                                                                                        <?php if ($isBusiness) { ?>
                                                                                            <div class="row">
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper select-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Current provider'); ?></label>
                                                                                                            <select class="form-control np-customer-type"
                                                                                                                    name="<?= sprintf('switchprovider[%s][current_provider]', $packageId); ?>"
                                                                                                                    id="<?= sprintf('switchprovider_%s_current_provider', $packageId); ?>"
                                                                                                                    oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                    onchange="summaryDataSynchronization(jQuery(this))">
                                                                                                                <option selected value="" style="display:none"></option>
                                                                                                                <?php foreach ($ziggoDonorParties as $donorOption) { ?>
                                                                                                                    <option value="<?php echo $donorOption; ?>" <?= $packageData['current_provider'] == $donorOption ? 'selected' : '' ?>><?= $donorOption; ?></option>
                                                                                                                <?php } ?>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-6" id="switch-delivery-date">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Wish date'); ?></label>
                                                                                                            <div class="date-input">
                                                                                                                <input type="text"
                                                                                                                       id="<?= sprintf('delivery_wish_date_%s', $packageId); ?>"
                                                                                                                       class="delivery_wish_date <?= sprintf('switchprovider_%s_delivery_wish_date', $packageId); ?>"
                                                                                                                       placeholder="<?php echo $this->__('Select date'); ?>"
                                                                                                                       name="<?= sprintf('switchprovider[%s][delivery_wish_date]', $packageId); ?>"
                                                                                                                       value="<?php if ($packageData['delivery_date']) {
                                                                                                                           echo date("d-m-Y", strtotime($packageData['delivery_date']));
                                                                                                                       } ?>"
                                                                                                                       readonly
                                                                                                                       oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                       onchange="selectOverstappenDate(this, <?php echo $packageId ?>); summaryDataSynchronization(jQuery(this))">
                                                                                                                <img title="Select date"
                                                                                                                     id="delivery_date"
                                                                                                                     src="<?php echo $this->getSkinUrl('images/general-calendar.svg') ?>"
                                                                                                                     class="v-middle delivery_date"
                                                                                                                     height="20"
                                                                                                                     width="20">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Contract ID').' ('.lcfirst($this->__('Optional')).')'; ?></label>
                                                                                                            <input type="text"
                                                                                                                   name="<?= sprintf('switchprovider[%s][contract_id]', $packageId); ?>"
                                                                                                                   id="<?= sprintf('switchprovider_%s_contract_id', $packageId); ?>"
                                                                                                                   class="form-control"
                                                                                                                   value="<?= $packageData['contract_id'] ?: ''; ?>"
                                                                                                                   oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                   onchange="summaryDataSynchronization(jQuery(this))">
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper select-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Termination fee'); ?></label>
                                                                                                            <select class="form-control np-connection-type"
                                                                                                                    name="<?= sprintf('switchprovider[%s][termination_fee]', $packageId); ?>"
                                                                                                                    id="<?= sprintf('switchprovider_%s_termination_fee', $packageId); ?>"
                                                                                                                    oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                    onchange="summaryDataSynchronization(jQuery(this))">
                                                                                                                <option selected value="" style="display:none"></option>
                                                                                                                <option value="1" <?= $packageData['termination_fee'] === 1 ? 'selected' : '' ?>>
                                                                                                                    <?= $this->__('Yes'); ?>
                                                                                                                </option>
                                                                                                                <option value="0" <?= $packageData['termination_fee'] === 0 ? 'selected' : '' ?>>
                                                                                                                    <?= $this->__('No'); ?>
                                                                                                                </option>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        <?php } else { ?>
                                                                                            <div class="row">
                                                                                                <div class="col-sm-12">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper select-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Current provider'); ?></label>
                                                                                                            <select class="form-control np-customer-type"
                                                                                                                    name="<?= sprintf('switchprovider[%s][current_provider]', $packageId); ?>"
                                                                                                                    id="<?= sprintf('switchprovider_%s_current_provider', $packageId); ?>"
                                                                                                                    oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                    onchange="summaryDataSynchronization(jQuery(this))">
                                                                                                                <option selected value="" style="display:none"></option>
                                                                                                                <?php foreach ($ziggoDonorParties as $donorOption) { ?>
                                                                                                                    <option value="<?php echo $donorOption; ?>" <?= $packageData['current_provider'] == $donorOption ? 'selected' : '' ?>><?= $donorOption; ?></option>
                                                                                                                <?php } ?>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-sm-6" id="switch-delivery-date">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Wish date'); ?></label>
                                                                                                            <div class="date-input">
                                                                                                                <input type="text"
                                                                                                                       id="<?= sprintf('delivery_wish_date_%s', $packageId); ?>"
                                                                                                                       class="delivery_wish_date <?= sprintf('switchprovider_%s_delivery_wish_date', $packageId); ?>"
                                                                                                                       placeholder="<?php echo $this->__('Select date'); ?>"
                                                                                                                       name="<?= sprintf('switchprovider[%s][delivery_wish_date]', $packageId); ?>"
                                                                                                                       value="<?php if ($packageData['delivery_date']) {
                                                                                                                           echo date("d-m-Y", strtotime($packageData['delivery_date']));
                                                                                                                       } ?>"
                                                                                                                       readonly
                                                                                                                       oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                       onchange="selectOverstappenDate(this, <?php echo $packageId ?>); summaryDataSynchronization(jQuery(this))">
                                                                                                                <img title="Select date"
                                                                                                                     id="delivery_date"
                                                                                                                     src="<?php echo $this->getSkinUrl('images/general-calendar.svg') ?>"
                                                                                                                     class="v-middle delivery_date"
                                                                                                                     height="20"
                                                                                                                     width="20">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <div class="form-group label-floating">
                                                                                                        <div class="input-wrapper">
                                                                                                            <label class="control-label"><?= $this->__('Donor Customer ID').' ('.lcfirst($this->__('Optional')).')'; ?></label>
                                                                                                            <input type="text"
                                                                                                                   name="<?= sprintf('switchprovider[%s][contract_id]', $packageId); ?>"
                                                                                                                   id="<?= sprintf('switchprovider_%s_contract_id', $packageId); ?>"
                                                                                                                   class="form-control input-sm"
                                                                                                                   value="<?= $packageData['contract_id'] ?: ''; ?>"
                                                                                                                   oninput="summaryDataSynchronization(jQuery(this))"
                                                                                                                   onchange="summaryDataSynchronization(jQuery(this))">
                                                                                                        </div>
                                                                                                        <span class="material-input"></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        <?php } ?>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <?php }
                                }
                            ?>
                        </div>
                    <?php }

                    }?>
            </section>

            <!-- Section footer -->
            <section class="row">
                <div class="col-sm-12">
                    <div class="section-footer-wrapper">
                        <div class="section-footer">
                            <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                            <div>
                                <button class="btn btn-next" type="submit">
                                    <span class="btn-content"><?php echo $this->__('Next'); ?></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="summary">
                <div class="head">
                    <h3><?php echo $this->__('Connection details'); ?></h3>
                    <button class="btn-edit pull-right"></button>
                </div>
                <?php if ($isMobile && !$ret) { ?>
                    <div class="section-head"><h5><?php echo $this->__('Number portability'); ?></h5></div>
                    <div class="section-content">
                        <?php
                        foreach ($cartPackages as $packageId => $package) {
                            $packageDisabled = $this->isPackagePortingDisabled() ? 'disabled' : '';
                            $npData = [
                                'check' => $package['current_number'] ? 1 : 0,
                                'customer' => $package['number_porting_type'],
                                'connection' => $package['connection_type'],
                                'choice' => (!isset($package['number_porting_validation_type']) || $package['number_porting_validation_type'] == Vznl_Package_Model_Package::NP_VALIDATION_TYPE_SMART_VALIDATION) ? 0 : 1,
                                'ctn' => $package['current_number'],
                                'client_id' => $package['number_porting_client_id']
                            ];

                            ?>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="section-content-mobileicon"></div>
                                </div>
                                <div class="col-sm-11">
                                    <h5>
                                        <?php if (isset($package['subscription_name'])) {
                                            echo $package['subscription_name'];
                                        } else {
                                            echo sprintf('%s %d', $this->__('Package'), $package->getPackageId());
                                        } ?>
                                    </h5>
                                    <div class="row">
                                        <div class="col-sm-6"><?php echo $this->__('Phone number porting'); ?>:</div>
                                        <div class="<?= sprintf('np_%s_required-check-summary', $packageId); ?>"><?php echo $this->__('No'); ?></div>
                                    </div>
                                    <div class="row <?= sprintf('numberporting_%s_customerno_mobile-section', $packageId); ?>">
                                        <div class="col-sm-6"><?php echo $this->__('Phone number'); ?>:</div>
                                        <div class="<?= sprintf('numberporting_%s_customerno_mobile-summary', $packageId); ?>"></div>
                                    </div>
                                    <div class="row <?= sprintf('numberporting_%s_sms_mobile-section', $packageId); ?>">
                                        <div class="col-sm-6"><?php echo $this->__('Phone number'); ?>:</div>
                                        <div class="<?= sprintf('numberporting_%s_sms_mobile-summary', $packageId); ?>"></div>
                                    </div>
                                </div>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                <?php } if ($isFixed) {
                    if ($showNumberPortingStep) { ?>
                    <div class="section-head">
                        <?php if (($moveNumberEnable && !$moveFlowNewNumberPorting) && !array_search('true',$cancelledProduct)) { ?>
                            <h5><?php echo $this->__('Move fixed phone number'); ?></h5>
                        <?php } else { ?>
                            <h5><?php echo $this->__('Number portability'); ?></h5>
                        <?php } ?>
                    </div>
                    <div class="section-content">
                        <?php
                        $hasTelephony = array();
                        foreach ($packageArray as $packageId => $packageData) {
                            if ($packageData['package_type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) { ?>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="section-content-fixedicon"></div>
                                    </div>
                                    <div class="col-sm-11">
                                        <h5>
                                            <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                        </h5>
                                        <div class="row">
                                            <div class="col-sm-6"><?php echo $this->__('Phone number porting'); ?>:</div>
                                            <div class="<?= sprintf('np_%s_required-fixed-check-summary', $packageId); ?>"><?php echo $this->__('No'); ?></div>
                                        </div>
                                        <?php if ($showFirstLine) { ?>
                                            <div class="row <?= sprintf('numberportingfixed_%s_first_line-section', $packageId); ?>">
                                                <div class="col-sm-6"><?php echo $this->__('First phone number'); ?>:</div>
                                                <div class="<?= sprintf('numberportingfixed_%s_first_line-summary', $packageId); ?>"></div>
                                            </div>
                                        <?php } if ($showSecondLine) { ?>
                                            <div class="row <?= sprintf('numberportingfixed_%s_second_line-section', $packageId); ?>">
                                                <div class="col-sm-6"><?php echo $this->__('Second phone number'); ?>:</div>
                                                <div class="<?= sprintf('numberportingfixed_%s_second_line-summary', $packageId); ?>"></div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            <?php }
                        } ?>
                    </div>
                    <?php }
                    if ($agentHelper->isTelesalesChannel()) {
                        if ($showNumberPortingStep) { ?>
                            <div class="section-head"><h5><?php echo $this->__('Number selection'); ?></h5></div>
                            <div class="section-content">
                                <?php foreach ($packageArray as $packageId => $packageData) {
                                    if ($packageData['package_type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) { ?>
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <div class="section-content-fixedicon"></div>
                                            </div>
                                            <div class="col-sm-11">
                                                <h5>
                                                    <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                                </h5>
                                                <div class="row">
                                                    <div class="col-sm-6"><?php echo $this->__('Phone number selection'); ?>:</div>
                                                    <div class="<?= sprintf('np_%s_required-selection-check-summary', $packageId); ?>"><?php echo $this->__('No'); ?></div>
                                                </div>
                                                <div class="row <?= sprintf('numberselection_%s_first_line-section', $packageId); ?>">
                                                    <div class="col-sm-6"><?php echo $this->__('First phone number'); ?>:</div>
                                                    <div class="fixed_telephone-summary"></div>
                                                </div>
                                                <?php if ($showSecondLine) { ?>
                                                    <div class="row <?= sprintf('numberselection_%s_second_line-section', $packageId); ?>">
                                                        <div class="col-sm-6"><?php echo $this->__('Second phone number'); ?>:</div>
                                                        <div class="fixed_telephone_extra-summary"></div>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                } ?>
                            </div>
                        <?php }
                    }

                if($showSwitchProviderStep) { ?>
                <div class="section-head"><h5><?php echo $this->__('Switch provider'); ?></h5></div>
                <div class="section-content">
                    <?php } ?>
                    <?php
                    foreach ($packageArray as $packageId => $packageData) {
                        if($showSwitchProviderStep) {
                            if ($packageData['package_type'] == Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) { ?>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="section-content-fixedicon"></div>
                                    </div>
                                    <div class="col-sm-11">
                                        <h5>
                                            <?php echo $packageTitles[$packageId]['packageSubtypeTitle']; ?>
                                        </h5>
                                        <div class="row">
                                            <div class="col-sm-6"><?php echo $this->__('Switch provider'); ?>:</div>
                                            <div class="<?= sprintf('np_%s_required-service-check-summary', $packageId); ?>"><?php echo $this->__('No'); ?></div>
                                        </div>
                                        <div class="row <?= sprintf('switchprovider_%s_current_provider-section', $packageId); ?>">
                                            <div class="col-sm-6"><?php echo $this->__('Current provider'); ?>:</div>
                                            <div class="<?= sprintf('switchprovider_%s_current_provider-summary', $packageId); ?>"></div>
                                        </div>
                                        <div class="row <?= sprintf('delivery_wish_date_%s-section', $packageId); ?>">
                                            <div class="col-sm-6"><?php echo $this->__('Delivery wish date'); ?>:</div>
                                            <div class="<?= sprintf('delivery_wish_date_%s-summary', $packageId); ?>"></div>
                                        </div>
                                        <div class="row <?= sprintf('switchprovider_%s_contract_id-section', $packageId); ?>">
                                            <div class="col-sm-6"><?php echo $this->__('Contract ID'); ?>:</div>
                                            <div class="<?= sprintf('switchprovider_%s_contract_id-summary', $packageId); ?>"></div>
                                        </div>
                                        <?php if ($isBusiness) { ?>
                                            <div class="row <?= sprintf('switchprovider_%s_termination_fee-section', $packageId); ?>">
                                                <div class="col-sm-6"><?php echo $this->__('Termination fee'); ?>:</div>
                                                <div class="<?= sprintf('switchprovider_%s_termination_fee-summary', $packageId); ?>"></div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                    }
                    if($showSwitchProviderStep) {
                    ?>
                </div>
            <?php }
                }?>
            </div>
        </div>
    </div>
