<?php
$isOverride = Mage::helper('vznl_service')->isOverride();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isRetail =  $agentHelper->isRetailStore();
$quote = $this->getQuote();
$isFixed = $quote->hasFixed();

?>
<div class="bs-docs-section <?php echo ($isFixed && $agentHelper->isTelesalesChannel()) ? 'first-bs-docs-section' : 'hidden' ?>">
    <form class="cart" action="saveFixedNumber" method="post" role="form" id="saveFixedNumber">
        <div class="checkout-section">
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">
                    <?php
                    $cart = Mage::getModel('checkout/cart')->getQuote();

                    $packageArray = array();
                    $items = array();
                    $packages = array();
                    $storeId = Mage::getSingleton('customer/session')->getAgent()->getDealer()->getId();
                    // Quote/Order items
                    foreach ($cart->getAllItems(true) as $item) {
                        $items[] = $item;
                        $packageArray[$item->getPackageId()][] = $item->getName();
                        if (!isset($packages[$item->getPackageId()])) {
                            $currentPackage = Mage::getModel('package/package')
                                ->getPackages(null, $cart->getId(), $item->getPackageId())
                                ->getFirstItem();
                            $packages[$item->getPackageId()] = $currentPackage;
                        }
                    }

                    foreach ($items as &$item) {
                        $package = $packages[$item->getPackageId()];
                        if (!isset($packageArray[$item->getPackageId()]['items'])) {
                            $packageArray[$item->getPackageId()]['subscription'] = false;
                            $packageArray[$item->getPackageId()]['device'] = false;
                            $packageArray[$item->getPackageId()]['aikido'] = false;
                        }
                        $packageArray[$item->getPackageId()]['items'][] = $item->getName();
                        $packageArray[$item->getPackageId()]['in_this_store'] = $item->getInThisStore();
                        $packageArray[$item->getPackageId()]['package_type'] = $item->getPackageType();

                        /** @var Vznl_Catalog_Model_Product $product */
                        $product = $item->getProduct();
                        $packageArray[$item->getPackageId()]['subscription'] = true;
                        $packageArray[$item->getPackageId()]['product'] = $product;
                        $packageArray[$item->getPackageId()]['number_porting'] = $package->getCurrentNumber() ?: null;
                        $packageArray[$item->getPackageId()]['tel_number'] = $package->getTelNumber() ?: null;
                        $packageArray[$item->getPackageId()]['sim_number'] = $package->getSimNumber() ?: null;
                        $packageArray[$item->getPackageId()]['imei'] = $package->getImei() ?: null;

                        $packageHardware[$item->getPackageId()][$item->getSku()]['items'] = $item->getName();
                        $packageHardware[$item->getPackageId()][$item->getSku()]['bomId'] = $item->getBomId();
                        $packageHardware[$item->getPackageId()][$item->getSku()]['serial_number'] = $item->getSerialNumber();
                        $packageHardware[$item->getPackageId()][$item->getSku()]['hardware_name'] = $item->getHardwareName();

                        if ($product->isDeviceSubscription()) {
                            $packageArray[$item->getPackageId()]['aikido'] = true;
                        }
                    }

                    foreach ($packageArray as $packageId => $packageData) { ?>
                        <p class="section-header-capitals">
                            <?php echo $this->__('Fixed hardware'); ?>
                        </p>
                        <p class="section-header">
                            <?php echo $this->__('Number selection Fixed'); ?>
                        </p>
                        <div class="row" id="fixed-telephone">
                            <div class="col-md-12">
                                <div class="clearfix form-row">
                                    <div id="item[<?php echo $packageId; ?>][porting]" class="clearfix row">
                                        <div class="col-md-3">
                                            <img class="center-block" height="80" width="80"
                                                 src="<?php echo $this->helper('catalog/image')->init($packageData['product'], 'small_image')->resize(80); ?>"/>
                                        </div>
                                        <div class="col-md-9 white-bg">
                                            <div>
                                                <p>
                                                <span>
                                                    <?php echo $this->__('Fixed package') . ' ' . $packageId; ?>
                                                </span>
                                                </p>
                                                <p>
                                                <span>
                                                    <?php echo join(', ', $packageData['items']); ?>
                                                </span>
                                                </p>
                                            </div>

                                            <div class="form-row clearfix">
                                                <label for="numberselection[<?php echo $packageId; ?>][mobile_number]"
                                                       class="col-sm-4 control-label"><?php echo $this->__('Fixed Tel. No.') ?></label>
                                                <div class="col-sm-8">
                                                    <input type="text" readonly
                                                           id="fixed_telephone"
                                                           name="fixed_telephone_number"
                                                           class="form-control col-sm-4 required-entry"
                                                           value="<?php echo $cart->getFixedTelephoneNumber(); ?>">
                                                </div>
                                                <div class="col-sm-8 col-sm-offset-4">
                                                    <button class="btn btn-primary btn-block" <?php echo ($isOverride || $package->esbManualActivation()) ? 'disabled' : ''; ?>
                                                            type="button"
                                                            onclick="getTelephoneNumber()"><?php echo Mage::helper('dyna_checkout')->__('Select phone number'); ?></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                    <div id="fixed-hardware">
                    <?php
                    $firstLoop = true;
                    foreach ($packageHardware as $key=>$value) {
                            foreach ($value as $packageId=>$packageData) {
                                if (isset($packageData['bomId'])) {
                                    if ($firstLoop) {
                                    ?>
                                        <p class="section-header">
                                            <?php echo $this->__('Hardware Fixed'); ?>
                                        </p>
                                    <?php
                                        $firstLoop = false;
                                    }
                                    if ($agentHelper->isAssistedChannel()) { ?>
                                            <div class="col-md-12">
                                                <div class="clearfix form-row">
                                                    <div class="clearfix row">
                                                        <div class="col-md-5">
                                                            <label for="hardware_info">
                                                                <?php echo $this->__('Hardware Information - ');
                                                                echo $packageData['items']; ?>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-7 white-bg">
                                                            <input type="text"
                                                                   id="hardware_info_<?php echo $packageId ?>"
                                                                   name="hardware_info[<?php echo $packageId ?>]"
                                                                   class="form-control input-sm required-entry"
                                                                   readonly
                                                                   value="<?php echo $packageData['hardware_name']; ?>">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="clearfix form-row">
                                                    <div class="clearfix row">
                                                        <div class="col-md-5">
                                                            <label for="hardware_serial_number">
                                                                <?php echo $this->__('Hardware Serial number'); ?>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-7 white-bg">
                                                            <input type="text"
                                                                   id="hardware_serial_number_<?php echo $packageId ?>"
                                                                   name="hardware_serial_number[<?php echo $packageId ?>]"
                                                                   class="form-control input-sm required-entry validate-alphanum validate-length maximum-length-16 hardware_serial_number"
                                                                   onchange="validateHardwareSerial('<?php echo $packageId ?>')"
                                                                   value="<?php echo($packageData['serial_number']) ?>">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php
                                    }
                                }
                            }
                        }
                    ?>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-section prev-next-section">
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc ar">
                                <button id="saveFixedNumberSubmit" class="btn btn-primary pull-right step"
                                        data-step="saveFixedNumber" type="submit"><?php echo $this->__('Next step'); ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
