<!-- Contract Signing
================================================== -->
<?php
/** @var Vznl_Checkout_Block_Cart $this */
$skipToDeliverSteps = $this->skipToDeliverSteps();
$hasVodafone = $this->hasVodafone();
/** @var Dyna_Superorder_Model_Superorder $superOrder */
$superOrder = Mage::registry('order');
$quote = Mage::registry('quote');
$showDeliverySteps = Mage::registry('showDeliverySteps');
/** @var Dyna_Catalog_Helper_Data $catalogHelper */
$catalogHelper = Mage::helper('dyna_catalog');
/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('agent');
$customerSession = Mage::getSingleton('customer/session');
$isFixed = $quote->hasFixed();
$isRetail = Mage::helper('agent')->isRetailStore();
$isIndirect = Mage::helper('agent')->isIndirectStore();

$vodafone_suffix = Mage::getStoreConfig('vodafone_service/contract_suffix/vodafone_suffix');
$vodafone_suffix = ($vodafone_suffix) ? $vodafone_suffix : 'V';

$ziggo_suffix = Mage::getStoreConfig('vodafone_service/contract_suffix/ziggo_suffix');
$ziggo_suffix = ($ziggo_suffix) ? $ziggo_suffix : 'Z';

$showButtonAndCheckboxes = $customerSession->getOrderEditMode() && !$this->getIsOrderView();
$enableContractPrint = !$this->getIsOrderView();

$currentStoreIsIndirect = $agentHelper->isIndirectStore();
$cartHelper = Mage::helper('dyna_configurator/cart');

if($this->getRequest()->getParam('delivery'))
    $skipToDeliverSteps = 0;
    $showButtonAndCheckboxes = 1;
?>
<div class="section" data-ref="save_contract" id="contract_page" class="section <?php echo !$this->getHideStep() && (($skipToDeliverSteps || $customerSession->getOrderEdit()) && $hasVodafone && !$customerSession->getOrderEdit()) ? '' : 'hidden';
    echo (($showDeliverySteps && $hasVodafone) || $customerSession->getOrderEdit()) ? '' : ' skip'; ?>">
    <div class="cart">
        <section class="row form" data-url="/checkout/index/saveContract" id="saveContract">
            <div class="col-sm-12">
                <h3><?php echo $this->__('Contract'); ?></h3>
            </div>
            <?php if ($this->getShowStep()||$this->getRequest()->getParam('delivery')) : ?>
                <div class="col-sm-12">
                    <h4><?php echo $this->__('Sign contract'); ?></h4>
                </div>
                <div class="col-sm-12 checkout-contract-signing-text">
                    <?php echo $this->__('Customer agrees on the contract terms by signing the contracts below:'); ?>
                </div>

                <?php
                    $thisOrderPackages = array();
                    $orderPackages = array();
                    $packageContainsSubscription = array();
                    $session = Mage::getSingleton('checkout/session');
                    $agent = $customerSession->getAgent();
                    $thisStoreId = $agent ? $agent->getDealer()->getId() : null;
                    if (!$skipToDeliverSteps) {
                        $orderIds = $this->getOrderIds() ?: Mage::getSingleton('core/session')->getOrderIds();
                        // If no orders were edited and on order edit, show the contract for all the old packages
                        if (!$orderIds && $customerSession->getOrderEdit()) {
                            $orderIds = array();
                            $superOrder = $superOrder ?: $quote ? Mage::getModel('superorder/superorder')->load($quote->getSuperOrderEditId()) : Mage::getModel('superorder/superorder')->load(Mage::getSingleton('checkout/cart')->getQuote()->getSuperOrderEditId());
                            $isDeliveredAndEdited = $superOrder->isDeliveredAndEdited();
                            $ordersOld = $superOrder->getOrders(!$isDeliveredAndEdited);
                            foreach ($ordersOld as $orderOld) {
                                if ((!$orderOld->getParentId() && $isDeliveredAndEdited) || !$isDeliveredAndEdited) {
                                    $orderIds[$orderOld->getId()] = $orderOld->getIncrementId();
                                }
                            }
                        }
                        foreach ($orderIds as $orderId) {
                            /** @var Dyna_Checkout_Model_Sales_Order $order */
                            $order = Mage::getModel('sales/order')->loadByAttribute('increment_id', $orderId);
                            $fixedDeliveryMethod = $order->getFixedDeliveryMethod();
                            if ($order->getId()) {
                                $conn = Mage::getSingleton('core/resource')->getConnection('core_read');
                                $packageCollection = Mage::getModel('package/package')->getPackages($order->getSuperorderId())->setOrder('package_id', 'ASC');
                                $packagesModel = $conn->fetchAll($packageCollection->getSelect());
                                foreach ($packagesModel as $packageModel) {
                                    $thisOrderPackages[$order->getIncrementId()][$packageModel['package_id']] = $packageModel;
                                }
                                foreach ($order->getAllItems(true) as $item) {
                                    $packageId = $item->getPackageId();
                                    if (!isset($orderPackages[$order->getIncrementId()][$packageId])) {
                                        $orderPackages[$order->getIncrementId()][$packageId] = $thisOrderPackages[$order->getIncrementId()][$packageId];
                                    }
                                    $orderPackages[$order->getIncrementId()][$packageId]['items'][$item->getId()] = $item;
                                    if (!isset($packageContainsSubscription[$packageId]) && $catalogHelper->is(array(Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION),
                                            $item->getProduct())
                                    ) {
                                        $packageContainsSubscription[$packageId] = true;
                                    }
                                }
                                if (isset($orderPackages[$order->getIncrementId()])) {
                                    ksort($orderPackages[$order->getIncrementId()]);
                                }

                                if (!$superOrder) {
                                    $superOrder = Mage::getModel('superorder/superorder')->load($order->getSuperorderId());
                                }
                            }
                        }
                        if ($superOrder && !$superOrder->getId()) {
                            Mage::throwException($this->__('No current super order found.'));
                        }
                    } else {
                        $orders = Mage::registry('orders');

                        foreach ($orders as $order) {
                            $orderIds[$order->getId()] = $order->getIncrementId();
                            $storeId = $order->getShippingAddress()->getDeliveryStoreId();
                            $fixedDeliveryMethod = $order->getFixedDeliveryMethod();
                            if ($currentStoreIsIndirect || $storeId == $thisStoreId) {
                                $conn = Mage::getSingleton('core/resource')->getConnection('core_read');
                                $packageCollection = Mage::getModel('package/package')->getPackages($order->getSuperorderId())->setOrder('package_id',
                                    'ASC');
                                $packagesModel = $conn->fetchAll($packageCollection->getSelect());
                                foreach ($packagesModel as $packageModel) {
                                    $thisOrderPackages[$order->getIncrementId()][$packageModel['package_id']] = $packageModel;
                                }
                                foreach ($order->getAllItems(true) as $item) {
                                    $packageId = $item->getPackageId();
                                    if (!isset($orderPackages[$order->getIncrementId()][$packageId])) {
                                        $orderPackages[$order->getIncrementId()][$packageId] = $thisOrderPackages[$order->getIncrementId()][$packageId];
                                    }
                                    $orderPackages[$order->getIncrementId()][$packageId]['items'][$item->getId()] = $item;
                                    if (!isset($packageContainsSubscription[$packageId]) && $catalogHelper->is(array(Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION),
                                            $item->getProduct())
                                    ) {
                                        $packageContainsSubscription[$packageId] = true;
                                    }
                                }
                                ksort($orderPackages[$order->getIncrementId()]);
                            }
                            unset($thisOrderPackages);
                        }
                    }

                    $websiteCode = Mage::app()->getWebsite($superOrder->getWebsiteId())->getCode();
                    $forTelesales = Mage::helper('agent')->isTelesalesLine($websiteCode);
                    $orderHasFixed = false;
                    if (!$forTelesales) {
                        $hasVf = false;
                        $hardwareOnly = true;
                    }
                    ?>
                    <?php
                    foreach ($orderPackages as $orderNumber => $packages) {
                        $order = Mage::getModel('sales/order')->loadByAttribute('increment_id', $orderNumber);
                        if($order->hasFixed()){
                            $orderHasFixed = true;
                        }
                        $hasFixed = $order->hasFixed();
                        $hasMobile = $order->hasMobilePackage();
                        if(!$customerSession->getOrderEdit()) {
                            //skip contact if other store
                            if($agent->getDealer()->getId() != $order->getShippingAddress()->getDeliveryStoreId() && $hasMobile && !$currentStoreIsIndirect)
                                continue;

                            if($order->getContractSignDate() != "")
                               continue;
                        }
                        $showCheckBoxes = ($skipToDeliverSteps || !$customerSession->getOrderEdit() || $this->getOrderIds()) || $showButtonAndCheckboxes;

                        $orderId = array_search($orderNumber, $orderIds);

                        // Check if garant
                        $garantProductOrderArray = $superOrder->getGarantProductOrders();
                        $hasGarant = isset($garantProductOrderArray[0]) && isset($garantProductOrderArray[0][$orderId]);

                        $isDelivered = false;
                        $hasLoan = false;
                        $deliveryOrders = $superOrder->getDeliveryOrders();
                        $hasMobileNoPrepaid = false;
                        /** @var Vznl_Checkout_Model_Sales_Order $deliveryOrder */
                        foreach ($deliveryOrders as $deliveryOrder) {
                            if ($deliveryOrder->getEntityId() == $orderId) {
                                $packages_n = $deliveryOrder->getPackages();

                                if ($deliveryOrder->isLoanRequired()) {
                                    $hasLoan = true;
                                }

                                /** @var Vznl_Package_Model_Package $doPackage */
                                foreach ($packages_n as $doPackage) {
                                    if ($doPackage->getStatus() == $doPackage::ESB_PACKAGE_STATUS_DELIVERED) {
                                        $isDelivered = true;
                                    }
                                    if ($doPackage->isMobile() && !$doPackage->isPrepaid()) {
                                        $hasMobileNoPrepaid = true;
                                    }
                                }
                            }
                            $hasDevice = $deliveryOrder->hasDevice();
                        }

                        if ($hasGarant || $hasLoan) {
                            $emailAddress = $superOrder->getCorrespondanceEmail();
                            $validEmailAddress = Mage::helper('vznl_validators')->isValidEmail($emailAddress);
                        }
                    ?>
                        <?php
                        if ($forTelesales) {
                            $hasVf = false;
                            $hardwareOnly = true;
                        }
                        if($isFixed && !$this->getRequest()->getParam('delivery')) {
                            $allItemNames = array();
                            $orderCollection = Mage::getModel('sales/order')->loadByIncrementId($orderNumber);
                            $items = $order->getAllVisibleItems();
                            foreach ($items as $item) {
                                $allItemNames[] = $item->getName();
                            }
                        ?>
                            <div class="col-md-2">
                                <img
                                    height="80"
                                    class="center-block"
                                    src="<?php echo $this->helper('catalog/image')->init($item->getProduct(),
                                        'small_image')->resize(80); ?>"
                                />
                            </div>
                            <div class="col-md-10 white-bg package-details-container">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <p>
                                            <strong><?php print 'Fixed Package'; ?></strong>&nbsp;&nbsp;&nbsp;
                                                <span class="sale-type" style="font-weight: normal;">
                                                    <?php echo $this->__(Mage::helper('vznl_package')->getPackageNameByKey('ACQ')); ?>
                                                </span>
                                        </p>
                                        <p>
                                            <?php echo join(', ', $allItemNames); ?>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <?php if ($hasMobileNoPrepaid && $hasMobile) { ?>
                            <input type="hidden" name="contracts[<?php echo $orderNumber; ?>]" value="<?php echo $orderNumber; ?>"/>
                            <div class="col-sm-12">
                                <div class="contract-section">
                                    <div class="contract-section-header">Contract <strong><?php echo $orderNumber.$vodafone_suffix; ?></strong></div>
                                    <div class="contract-section-product-group">
                                        <div class="product-group-title"><?php echo sprintf($this->__('%s products'), 'Vodafone'); ?></div>
                                        <div class="product-group-products">
                                        <?php $packageKeys = array_keys($packages); ?>
                                        <?php foreach ($packages as $i => $package) { ?>
                                            <?php $hasHn = $catalogHelper->packageContains(Vznl_Configurator_Model_AttributeSet::ATTRIBUTE_NETWORK,
                                                Vznl_Configurator_Model_AttributeSet::ATTRIBUTE_NETWORK_HOLLANDSNIEUWE, $package);
                                            if ($hasHn) {
                                                continue;
                                            }
                                            if ($package['type'] === Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_MOBILE) {
                                                $hardwareOnly = false;
                                            } else {
                                                continue;
                                            }
                                            if (!isset($packageContainsSubscription[$package['package_id']])) {
                                                continue;
                                            }
                                            ?>

                                            <?php $hasVf = $hasVf || $catalogHelper->packageContains(Vznl_Configurator_Model_AttributeSet::ATTRIBUTE_NETWORK,
                                                    Vznl_Configurator_Model_AttributeSet::ATTRIBUTE_NETWORK_VODAFONE, $package); ?>

                                            <div class="orderline-section">
                                                <div class="orderline-header">
                                                    <div class="orderline-header-mobileicon"></div>
                                                    <?php
                                                    $items = [];
                                                    $allItemNames = [];
                                                    // get the items from the actual super order
                                                    if ($superOrder->getId()) {
                                                        /** @var Vznl_Package_Model_Package $package */
                                                        $superOrderPackage = Mage::getModel('package/package')->getPackages($superOrder->getId(), null, $package['package_id'])->getFirstItem();
                                                        $items = $superOrderPackage->getAllVisibleItems();
                                                        $items = $cartHelper->getSortedCartProducts($items);
                                                        if ($items) {
                                                            foreach ($items as $item) {
                                                                $product = $item->getProduct();
                                                                if ($product->isNetwork()) {
                                                                    $hasVf = true;
                                                                    if ($product->isSubscription()) {
                                                                        $subscription = $item->getProduct();
                                                                        $subscription_name = $item->getName();

                                                                    }
                                                                }
                                                                $allItemNames[] = $item->getProduct()->getName();
                                                            }
                                                            ob_start(); ?>
                                                            <ul>
                                                                <?php foreach ($items as $item ) : ?>
                                                                    <li><?= trim($item->getProduct()->getName()) ?></li>
                                                                <?php endforeach; ?>
                                                            </ul>
                                                            <?php $packageItemsAsList = ob_get_clean();
                                                        }
                                                    }
                                                    $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, null);
                                                    ?>
                                                    <div class="orderline-header-title">
                                                        <h6 class="orderline-header-title-order">
                                                            <?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?>
                                                            <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                        </h6>
                                                        <h5 class="orderline-header-title-category"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></h5>
                                                    </div>
                                                    <input
                                                            type="hidden"
                                                            class="checkout-contract-signed"
                                                            id="contract[signed_current_package_<?php echo $orderNumber ?>]"
                                                            name="contract[signed_current_package_<?php echo $orderNumber ?>]"
                                                            value = "1"
                                                    >
                                                </div>
                                            </div>
                                        <?php } ?>
                                        </div>
                                    </div>
                                    <div class="contract-section-list-components">
                                        <?php
                                            /** @var Vznl_Checkout_Helper_Data $checkoutHelper */
                                            $checkoutHelper = Mage::helper('vznl_checkout');
                                            $contractAvailable = $checkoutHelper->canPrintContract($orderNumber);

                                            if ($contractAvailable || $enableContractPrint) {
                                            ?>
                                                <div class="contract-section-list-component">
                                                  <?php echo sprintf($this->__('%s subscription contract'), 'Vodafone'); ?>
                                                  <div>
                                                    <?php
                                                    if ($showCheckBoxes && !$currentStoreIsIndirect) {
                                                    ?>
                                                        <a class="btn small btn-primary" style="margin: 0 6px 0 0;"
                                                           onclick="signContract('<?php echo $orderNumber ?>')">
                                                            <?php echo $this->__('Sign'); ?>
                                                        </a>
                                                    <?php
                                                    }
                                                    ?>
                                                    <a href="<?php echo Mage::getUrl('checkout/cart/print',
                                                        array('order_id' => $orderNumber, 'contract_type' => 'mobile')); ?>"
                                                       class="btn small btn-secondary"
                                                       onclick="logPrintContractTransaction('<?php echo $orderId ?>')"
                                                       target="_blank">
                                                        <?php echo $this->__('Print'); ?>
                                                    </a>
                                                  </div>
                                                </div>
                                            <?php
                                            }

                                            if ($hasLoan) {
                                            ?>
                                                <div class="contract-section-list-component">
                                                  <?php echo $this->__('Loan Agreement Overview'); ?>
                                                  <div>
                                                    <a href="<?php echo Mage::getUrl('checkout/cart/printLoan', array('order_id' => $orderNumber)); ?>"
                                                       class="btn small btn-secondary" target="_blank">
                                                       <?php echo $this->__('Print'); ?>
                                                    </a>
                                                  </div>
                                                </div>
                                            <?php
                                            }

                                            if ($hasGarant && $isDelivered && $hasDevice) {
                                                ?>
                                                <div class="contract-section-list-component">
                                                  <?php echo $this->__('Warranty policy'); ?>
                                                  <div>
                                                    <a href="<?php echo Mage::getUrl('checkout/cart/printGarant',
                                                        array('order_id' => $orderNumber)); ?>"
                                                       class="btn small btn-secondary" target="_blank">
                                                       <?php echo $this->__('Print'); ?>
                                                    </a>
                                                  </div>
                                                </div>
                                                <?php
                                            }
                                        ?>
                                    </div>
                                </div>
                            </div>
                        <?php
                        }
                        ?>

                        <?php if ($fixedDeliveryMethod != "LSP" && $hasFixed && !$this->getRequest()->getParam('delivery') &&  !$isIndirect) { ?>
                            <input type="hidden" name="contracts[<?php echo $orderNumber; ?>]" value="<?php echo $orderNumber; ?>"/>
                            <div class="col-sm-12">
                                <div class="contract-section">
                                <div class="contract-section-header">Contract <strong><?php echo $orderNumber.$ziggo_suffix; ?></strong></div>
                                <div class="contract-section-product-group">
                                    <div class="product-group-title"><?php echo sprintf($this->__('%s products'), 'Ziggo'); ?></div>
                                    <div class="product-group-products">
                                    <?php foreach ($packages as $i => $package) { ?>
                                        <?php if ($package['type'] === Vznl_Configurator_Model_PackageType::PACKAGE_TYPE_FIXED) { ?>
                                        <div class="orderline-section">
                                            <div class="orderline-header">
                                                <div class="orderline-header-fixedicon"></div>
                                                <?php
                                                $items = [];
                                                $allItemNames = [];
                                                // get the items from the actual super order
                                                if ($superOrder->getId()) {
                                                    /** @var Vznl_Package_Model_Package $package */
                                                    $superOrderPackage = Mage::getModel('package/package')->getPackages($superOrder->getId(), null, $package['package_id'])->getFirstItem();
                                                    $items = $superOrderPackage->getAllVisibleItems();
                                                    if ($items) {
                                                        $items = $cartHelper->getSortedCartProducts($items);
                                                        foreach ($items as $item) {
                                                            $product = $item->getProduct();
                                                            if ($product->isSubscription()) {
                                                                $subscription = $item->getProduct();
                                                                $subscription_name = $item->getName();
                                                            }
                                                            $allItemNames[] = $item->getProduct()->getName();
                                                        }
                                                        ob_start(); ?>
                                                        <ul>
                                                            <?php foreach ($items as $item ) : ?>
                                                                <li><?= trim($item->getProduct()->getName()) ?></li>
                                                            <?php endforeach; ?>
                                                        </ul>
                                                        <?php $packageItemsAsList = ob_get_clean();
                                                    }
                                                }
                                                $packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, null);
                                                ?>
                                                <div class="orderline-header-title">
                                                    <h6 class="orderline-header-title-order">
                                                        <?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?>
                                                        <div class="tip-trig-hover-popover info-icon" data-placement="right" title="<?php echo $this->__('Package configuration'); ?>" data-html="true" data-content="<?php echo $packageItemsAsList ?>"></div>
                                                    </h6>
                                                    <h5 class="orderline-header-title-category"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></h5>
                                                </div>
                                                <input
                                                        type="hidden"
                                                        class="checkout-contract-signed"
                                                        id="contract[signed_current_package_<?php echo $orderNumber ?>]"
                                                        name="contract[signed_current_package_<?php echo $orderNumber ?>]"
                                                        value = "1"
                                                >
                                            </div>
                                        </div>
                                        <?php } ?>
                                    <?php } ?>
                                    </div>
                                </div>

                                    <div class="contract-section-list-components">
                                        <?php
                                            /** @var Vznl_Checkout_Helper_Data $checkoutHelper */
                                            $checkoutHelper = Mage::helper('vznl_checkout');
                                            $contractAvailable = $checkoutHelper->canPrintContract($orderNumber);
                                            if ($contractAvailable || $enableContractPrint) {
                                            ?>
                                            <div class="contract-section-list-component">
                                                  <?php echo sprintf($this->__('%s subscription contract'), 'Ziggo'); ?>
                                                  <div>
                                                      <?php
                                                      if ($showCheckBoxes && !$currentStoreIsIndirect) {
                                                          ?>
                                                          <a class="btn small btn-primary" style="margin-right:10px;"
                                                             onclick="signContract('<?php echo $orderNumber ?>')">
                                                              <?php echo $this->__('Sign'); ?>
                                                          </a>
                                                          <?php
                                                      }
                                                      ?>
                                                    <a href="<?php echo Mage::getUrl('checkout/cart/print',
                                                        array('order_id' => $orderNumber, 'contract_type' => 'fixed')); ?>"
                                                       class="btn small btn-secondary"
                                                       onclick="logPrintContractTransaction('<?php echo $orderId ?>')"
                                                       target="_blank">
                                                        <?php echo $this->__('Print'); ?>
                                                    </a>
                                                  </div>
                                            </div>
                                            <?php
                                            }
                                        ?>
                                    </div>
                                </div>
                                    <?php } ?>
                             <?php } ?>

                    <?php if ($showCheckBoxes) : ?>
                        <div class="col-sm-12">
                            <div class="contract-checkboxes">
                                <?php if (!$hardwareOnly || $orderHasFixed) : ?>
                                    <div class="checkbox-options">
                                        <div class="checkbox-item checkbox">
                                            <label>
                                                <input
                                                    type="checkbox"
                                                    onchange="enableContractSubmitOrder()"
                                                    class="checkout-contract-signed-checkbox"
                                                    id="contract[signed_<?php echo $orderNumber ?>]"
                                                    name="contract[signed_<?php echo $orderNumber ?>]"
                                                >
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                                <?php
                                                if (count($orderPackages) > 1)
                                                    echo $this->__('Contracts have been signed');
                                                else
                                                    echo $this->__('Contract has been signed');?>
                                            </label>
                                        </div>
                                    </div>
                                <?php endif; ?>

                                <?php if ($hasVf || $orderHasFixed) : ?>
                                    <div class="checkbox-options">
                                        <div class="checkbox-item checkbox">
                                            <label class="disabled">
                                                <input
                                                    type="checkbox"
                                                    id="contract[sendmail_<?php echo $orderNumber ?>]"
                                                    name="contract[sendmail_<?php echo $orderNumber ?>]"
                                                    value="<?php echo $hasLoan && $validEmailAddress ?>"
                                                    checked="checked"
                                                    disabled
                                                >
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                                <?php
                                                    if (!$hasLoan) {
                                                        echo $this->__('Send contracts via email');
                                                    } else {
                                                        echo $this->__('Send contracts and loan agreement overview via email');
                                                    }
                                                ?>
                                            </label>
                                        </div>
                                    </div>
                                <?php endif; ?>

                                <?php if ($hasGarant && $hasDevice) : ?>
                                    <div class="checkbox-options">
                                        <div class="checkbox-item checkbox">
                                            <label>
                                                <input
                                                    type="checkbox"
                                                    id="contract[garant][<?php echo $orderNumber ?>]"
                                                    name="contract[garant][<?php echo $orderNumber ?>]"
                                                    value="<?php echo $validEmailAddress ?>"
                                                    disabled
                                                    <?php echo $validEmailAddress ? 'checked' : '' ?>
                                                >
                                                <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                                <?php echo $this->__('Send warranty policy via email'); ?>
                                            </label>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>

                <input type="hidden" name="superorder_id" value="<?php echo ($superOrder && $superOrder->getOrderNumber()) ? $superOrder->getOrderNumber() : 0; ?>" />
            <?php endif; ?>
        </section>

        <!-- Section footer -->
        <section class="row">
            <div class="col-sm-12">
                <div class="section-footer-wrapper">
                    <div class="section-footer">
                        <!-- This container is defined as space between so first div is aligned left and second right -->
                        <div></div>
                        <div>
                            <?php if(!$isFixed) { ?>
                                <btn
                                    class="btn btn-secondary"
                                    data-step="saveContract"
                                    onclick="continueToOrder(event, <?php echo ($superOrder && $superOrder->getOrderNumber()) ? $superOrder->getOrderNumber() : 0; ?>)"
                                >
                                    <?php echo $this->__('Continue later');?>
                                </btn>
                            <?php } ?>
                            <button class="btn" id="contract-continue-button" type="submit" disabled><?php echo $this->__('Submit order'); ?></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

