<?php
$isOverride = Mage::helper('vznl_service')->isOverride();
$quote = $this->getQuote();
$callCenterActivity = Mage::helper('vznl_agent')->getDealerData()->getData('call_center_activity');
?>
<div class="bs-docs-section hidden">
    <form class="cart" action="saveWrittenConsent" method="post" role="form" id="saveWrittenConsent">
        <div class="checkout-section">
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">
                    <p class="section-header-capitals">
                        <?php echo $this->__('Written Consent'); ?>
                    </p>
                    <div class="row" id="written_consent_row">
                        <div class="col-md-12">
                            <div class="clearfix form-row">
                                <div id="client_type" class="row">
                                    <div class="col-md-3 row-title">
                                        <p><?php echo $this->__('Outbound Call'); ?></p>
                                    </div>
                                    <div class="col-md-9">
                                        <div>
                                            <label class="checkbox-inline  input-dirty">
                                                <input type="checkbox" id="written_consent" name="written_consent"
                                                       value="1" class="input-dirty <?php echo ($callCenterActivity =='outbound')? 'required-entry':'';?>" autocomplete="off"
                                                    <?php echo ($quote->getFixedWrittenConsent()) ? 'checked= "checked"' : '';?>>
                                                <span>
                                                    <?php echo $this->__('Written consent will be sent to the outbound communication.'); ?>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-section prev-next-section">
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc al vm">
                                <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                            </div>
                            <div class="tc ar">
                                <button id="writtensubmit" data-step="saveWrittenConsent" class="btn btn-primary pull-right step" type="submit">
                                    <?php echo $this->__('Next step'); ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>