<?php
/** @var Vznl_Checkout_Block_Cart $this **/
$skipToDeliverSteps = $this->skipToDeliverSteps();
/** @var Dyna_Superorder_Model_Superorder $superOrder */
$superOrder = Mage::registry('order');
$quote = Mage::registry('quote');
$showDeliverySteps = Mage::registry('showDeliverySteps');
$isOverride = Mage::helper('dyna_service')->isOverride();
$noHardware = Mage::helper('vznl_checkout/aikido')->getIndirectNoHardwareSku();
$customerSession = Mage::getSingleton('customer/session');

?>
<!-- Device selection waiting
================================================== -->
<div class="bs-docs-section <?php echo $skipToDeliverSteps ? 'active' : 'hidden'; ?>" id="deviceselection-waiting">
    <form class="cart form-horizontal" action="saveDeviceSelection" method="post" role="form" id="saveDeviceSelection">
        <div class="checkout-section">
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">
                    <p class="section-header-capitals">
                        <?php echo $this->__('Device selection'); ?>
                    </p>

                    <p class="section-header">
                        <?php echo $this->__('Device selection'); ?>
                    </p>

                    <div id="device-selection-content">
                        <?php if ($this->getShowStep()):
                            $packageArray = array(); 
                            $items = array();
                            $packages = array();
                            if ($skipToDeliverSteps) {
                                // Superorder items
                                $orders = Mage::registry('orders');
                                /** @var Dyna_Checkout_Model_Sales_Order $order */
                                foreach ($orders as $order) {
                                    foreach ($order->getAllItems(true) as $item) {
                                        $items[] = $item;
                                        $packageArray[$item->getPackageId()][] = $item->getName();
                                        if (!isset($packages[$item->getPackageId()])) {
                                            $currentPackage = Mage::helper('dyna_package')
                                                ->getPackages($order->getSuperorderId(), null, $item->getPackageId())
                                                ->getFirstItem();
                                            $packages[$item->getPackageId()] = $currentPackage;
                                        }
                                    }
                                }
                            } else {
                                // Quote/Order items
                                $items = array();
                                $orderIds = $this->getOrderIds() ?: Mage::getSingleton('core/session')->getOrderIds();
                                // If no orders were edited and on order edit, show the contract for all the old packages
                                if (!$orderIds && $customerSession->getOrderEdit()) {
                                    $orderIds = [];
                                   $superOrder = $superOrder ?: ($quote ? Mage::getModel('superorder/superorder')
                                       ->load($quote->getSuperOrderEditId()) : Mage::getModel('superorder/superorder')
                                       ->load(Mage::getSingleton('checkout/cart')->getQuote()->getSuperOrderEditId()));
                                    $isDeliveredAndEdited = $superOrder->isDeliveredAndEdited();
                                    $ordersOld = $superOrder->getOrders(!$isDeliveredAndEdited);
                                    foreach ($ordersOld as $orderOld) {
                                        if ((!$orderOld->getParentId() && $isDeliveredAndEdited) || !$isDeliveredAndEdited) {
                                            $orderIds[$orderOld->getId()] = $orderOld->getIncrementId();
                                        }
                                    }
                                }
                                foreach ($orderIds as $orderId) {
                                    $order = Mage::getModel('sales/order')->loadByAttribute('increment_id', $orderId);
                                    $orderItems = $order->getAllItems(true);
                                    foreach ($orderItems as $item) {
                                        if (!isset($packages[$item->getPackageId()])) {
                                            /** @var Dyna_Package_Model_Package $currentPackage */
                                            $currentPackage = Mage::getModel('package/package')
                                                ->getPackages($order->getSuperorderId(), null, $item->getPackageId())
                                                ->getFirstItem();
                                            $packages[$item->getPackageId()] = $currentPackage;
                                        }
                                    }
                                    $items += $orderItems;
                                }
                            }
                            foreach ($items as &$item) {
                                if (empty($packages[$item->getPackageId()]) || $packages[$item->getPackageId()]->isCancelled()) {
                                    // Skip packages that were cancelled
                                    continue;
                                }
                                $package = $packages[$item->getPackageId()];
                                
                                if (!isset($packageArray[$item->getPackageId()]['items'])) {
                                    $packageArray[$item->getPackageId()]['subscription'] = false;
                                    $packageArray[$item->getPackageId()]['device'] = false;
                                }
                                $packageArray[$item->getPackageId()]['items'][] = $item->getName();
                                if (Mage::helper('dyna_catalog')->is(array(vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION), $item->getProduct()) && $item->getProduct()->isNetwork()) {
                                    $packageArray[$item->getPackageId()]['subscription'] = true;
                                    $packageArray[$item->getPackageId()]['product'] = $item->getProduct();
                                }

                                if ($item->getProduct()->is(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE_SUBSCRIPTION)) {
                                    $packageArray[$item->getPackageId()]['device_rc'] = $item;
                                    $packageArray[$item->getPackageId()]['device_name'] = $package->getData('device_name');
                                    $packageArray[$item->getPackageId()]['catalog_price'] = $package->getData('catalog_price');
                                    $packageArray[$item->getPackageId()]['catalog_price_incl_tax'] = $package->getData('catalog_price_incl_tax');
                                    $packageArray[$item->getPackageId()]['mixmatch'] = $package->getData('mixmatch');
                                    $packageArray[$item->getPackageId()]['mixmatch_excl'] =  $packageArray[$item->getPackageId()]['mixmatch'] !== null ? $package->getData('mixmatch') / 1.21 : null;
                                    $packageArray[$item->getPackageId()]['imei'] = $package->getData('imei');
                                }

                            }
                            unset($package);
                            unset($item);
                            foreach ($packageArray as $packageId => $packageData):
                                if ($packageData['subscription']) : ?>
                                    <div id="item[<?php echo $packageId; ?>][new]" class="clearfix">
                                        <div class="col-md-3">
                                            <img class="center-block" src="<?php echo Mage::helper('catalog/image')->init($packageData['product'], 'small_image')->resize(80); ?>" height="80" width="80"/>
                                        </div>
                                        <div class="col-md-9 white-bg">
                                            <div class="clearfix form-row">
                                                <div>
                                                    <p>
                                                   <span>
                                                        <?php echo $this->__('Mobile package') . ' ' . $packageId; ?>
                                                    </span>
                                                    </p>

                                                    <p>
                                                    <span>
                                                        <?php echo join(', ', $packageData['items']); ?>
                                                    </span>
                                                    </p>
                                                </div>
                                                <?php if (isset($packageData['device_rc']) && $packageData['device_rc']->getProduct()->getSku() != $noHardware): ?>
                                                    <div class="hidden" id="rcValue<?php echo $packageId;?>"><?php echo ($packageData['device_rc']->getItemFinalMafInclTax() * $packageData['product']->getSubscriptionDuration());?></div>
                                                    <div class="form-group">
                                                        <label for="deviceselection[<?php echo $packageId; ?>][device_name]" class="col-sm-4 control-label"><?php echo $this->__('Device name'); ?></label>

                                                        <div class="col-sm-8">
                                                            <input type="text" id="deviceselection[<?php echo $packageId; ?>][device_name]" placeholder="<?php echo $this->__('Start typing'); ?>" name="deviceselection[<?php echo $packageId; ?>][device_name]"
                                                                   class="form-control input-sm device_name required-entry" value="<?php echo $packageData['device_name']; ?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="deviceselection[<?php echo $packageId; ?>][imei_number]" class="col-sm-4 control-label"><?php echo $this->__('Imei number'); ?></label>
                                                        <div class="col-sm-8">
                                                            <input type="text" id="deviceselection[<?php echo $packageId; ?>][imei_number]" name="deviceselection[<?php echo $packageId; ?>][imei_number]" class="form-control input-sm validate-imei" value="<?php echo $packageData['imei'];?>">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="deviceselection[<?php echo $packageId; ?>][catalog_price_incl_tax]" class="col-sm-4 control-label"><?php echo $this->__('Catalog price'); ?></label>

                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">&euro;</span>
                                                                <input
                                                                    type="text"
                                                                    placeholder="<?php echo $this->__('Incl. VAT'); ?>"
                                                                    id="deviceselection[<?php echo $packageId; ?>][catalog_price_incl_tax]"
                                                                    data-package-id="<?php echo $packageId ?>"
                                                                    name="deviceselection[<?php echo $packageId; ?>][catalog_price_incl_tax]"
                                                                    class="form-control input-sm catalog_price_incl_tax_<?php echo $packageId; ?> required-entry validate-mixmatch-50"
                                                                    value="<?php echo $packageData['catalog_price_incl_tax']
                                                                        ? Mage::helper('pricerules')->customPriceFormat($packageData['catalog_price_incl_tax'], false)
                                                                        : ''; ?>"
                                                                    >
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">&euro;</span>
                                                                <input
                                                                    type="text"
                                                                    placeholder="<?php echo $this->__('Excl. VAT'); ?>"
                                                                    data-package-id="<?php echo $packageId ?>"
                                                                    id="deviceselection[<?php echo $packageId; ?>][catalog_price]"
                                                                    name="deviceselection[<?php echo $packageId; ?>][catalog_price]"
                                                                    class="form-control input-sm required-entry catalog_price_<?php echo $packageId ?>"
                                                                    value="<?php echo $packageData['catalog_price']
                                                                        ? Mage::helper('pricerules')->customPriceFormat($packageData['catalog_price'] , false)
                                                                        : ''; ?>"
                                                                    >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="deviceselection[<?php echo $packageId; ?>][mixmatch]" class="col-sm-4 control-label"><?php echo $this->__('MixMatch indirect'); ?></label>

                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">&euro;</span>
                                                                <input
                                                                    type="text"
                                                                    placeholder="<?php echo $this->__('Incl. VAT'); ?>"
                                                                    data-package-id="<?php echo $packageId ?>"
                                                                    id="deviceselection[<?php echo $packageId; ?>][mixmatch]"
                                                                    name="deviceselection[<?php echo $packageId; ?>][mixmatch]"
                                                                    class="form-control input-sm required-entry mixmatch_<?php echo $packageId ?>"
                                                                    value="<?php echo $packageData['mixmatch'] !== null
                                                                        ? Mage::helper('pricerules')->customPriceFormat($packageData['mixmatch'], false)
                                                                        : ''; ?>"
                                                                    >
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">&euro;</span>
                                                                <input
                                                                    type="text"
                                                                    placeholder="<?php echo $this->__('Excl. VAT'); ?>"
                                                                    id="deviceselection[<?php echo $packageId; ?>][mixmatch_excl]"
                                                                    name="deviceselection[<?php echo $packageId; ?>][mixmatch_excl]"
                                                                    data-package-id="<?php echo $packageId ?>"
                                                                    class="form-control input-sm required-entry mixmatch_excl_<?php echo $packageId ?>"
                                                                    value="<?php echo $packageData['mixmatch_excl'] !== null
                                                                        ? Mage::helper('pricerules')->customPriceFormat($packageData['mixmatch_excl'], false)
                                                                        : ''; ?>"
                                                                    >
                                                            </div>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($skipToDeliverSteps): ?>
            <div class="hidden">
                <input type="hidden" name="order_edit" value="<?php echo $superOrder->getOrderNumber(); ?>">
            </div>
        <?php endif; ?>
        <div class="checkout-section prev-next-section">
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc ar">
                                <button id="submit" data-step="saveDeviceSelection" class="btn btn-primary pull-right step<?php echo $skipToDeliverSteps ? ' hide' : ''; ?>" type="submit"><?php echo $this->__('Next step'); ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>