<?php
/** @var Vznl_Checkout_Block_Cart_Steps_SaveDeliveryAddress $this */
$multiplePackages = $this->quoteHasMultiplePackages();
$customerSession = $this->getCustomerSession();
$checkoutHelper = $this->getCheckoutHelper();
$quote = $this->getQuote();
$isFixed = $quote->hasFixed();
$isOrderEdit = $this->getIsOrderEdit();
$cartPackages = $this->getCartPackages();
$isCrossStore = false;
ksort($cartPackages);

$editedPackages = $this->getEditedPackages();
/** @var Dyna_Agent_Model_Agent $agent */
$agent = $customerSession->getAgent(true);
$superOrder = Mage::getModel('superorder/superorder')->load($quote->getSuperOrderEditId());
$shipping_data = $this->getShippingData((Mage::helper('agent')->isTelesalesLine()));
$singleOrderPackageId = 0;
$singlePackageOrderDisabled = $isOrderEdit && ($multiplePackages || !$superOrder->isEditable() || isset($singleOrderPackage[$singleOrderPackageId]['canceled']));
$riskPrevention = $isOrderEdit && !$agent->canSubmitRiskOrders() && (Mage::helper('agent')->isTelesalesLine(Mage::app()->getWebsite($superOrder->getCreatedWebsiteId())->getCode()));
$singlePackageOrderDisabled = $isCrossStore || $singlePackageOrderDisabled || $riskPrevention;

$fixedDeliveryOptionsIndexValueArray = $checkoutHelper->getFixedDeliveryOptionsIndexValueArray();
$fixedDeliveryMethod = (string)$shipping_data['fixed_delivery_method'];
$selectedFixedDeliveryMethod = $fixedDeliveryOptionsIndexValueArray[$fixedDeliveryMethod];
if ($selectedFixedDeliveryMethod == 'other_address') {
    $selectedFixedDeliveryMethod = 'service_address';
}

$savedDeliveryAddress = ['postcode' => '', 'houseno' => '', 'addition' => ''];
$quoteDeliveryAddress = $quote->getShippingAddress();
if (!empty($quoteDeliveryAddress->getData('postcode')) && trim($fixedDeliveryMethod) == 'LSP') {
    $savedDeliveryAddress['postcode'] = $quoteDeliveryAddress->getData('postcode');
    $savedDeliveryAddress['houseno'] = $quoteDeliveryAddress->getStreet(2);
    $savedDeliveryAddress['addition'] = $quoteDeliveryAddress->getStreet(3);
}

?>

<!-- Levering
================================================== -->
<script>var hollandsNieuwePackages = [];</script>
<div class="bs-docs-section hidden" id="delivery_address1">
    <form class="cart" action="saveFixedDeliveryAddress" method="post" role="form" id="saveFixedDeliveryAddress">
        <div class="checkout-section">
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">

                    <p class="section-header-capitals">
                        <?php echo $this->__('Delivery'); ?>
                    </p>
                    <div id="delivery">

                        <div class="row">
                            <div id="delivery-method" class="col-md-7">
                                <div class="row col-md-12">
                                    <h6><strong><?php echo $checkoutHelper->__('Delivery method'); ?></strong></h6>
                                    <!-- Delivery method -->

                                    <div class="btn-group" id="delivery[method]" data-type="delivery"
                                         data-input="delivery[method]">
                                        <button type="button" id="delivery_method_text"
                                                name="delivery[method][text]"
                                                class="btn btn-default text dropdown-toggle delivery_method_text">
                                            <span class="span_delivery_method_text"><?php echo $checkoutHelper->getDeliveryOptionTextForName($selectedFixedDeliveryMethod); ?></span>
                                            <span class="caret dropdown_delivery"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <?php
                                            $deliveryOptions = $checkoutHelper->getFixedDeliveryOptions();
                                            foreach ($deliveryOptions as $deliveryOption) {
                                                if ($deliveryOption == 'other_address') {
                                                    continue;
                                                }
                                                ?>
                                                <li>
                                                    <a data-value="<?php echo $deliveryOption; ?>" class="selected-option<?php if ($selectedFixedDeliveryMethod == $deliveryOption) {?> js-seleted<?php } ?>"
                                                       href="javascript:void(0)"
                                                       onclick="toggleView(this);"><?php echo $checkoutHelper->getDeliveryOptionTextForName($deliveryOption); ?></a>
                                                </li>
                                                <?php
                                            }
                                            ?>
                                        </ul>
                                    </div>
                                </div>
                                <input type="hidden" name="fixed_delivery_method" id="fixed_delivery_method" value="LSP"/>
                                <div id="method-deliver" class="row col-md-12 delivery-method">
                                    <div class="clearfix pakket">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="fixed-direct-delivery" id="direct-delivery">
                                                    <div class="clearfix pakket">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <?php if ($agent && $agent->getDealer()): ?>
                                                                    <i><?php echo $checkoutHelper->__('Current shop'); ?>
                                                                        : <?php echo $agent->getDealer()->getAddress(); ?></i>
                                                                <?php endif; ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="search-address" class="radio<?php echo $singlePackageOrderDisabled ? ' disabled' : ''; ?>"
                                                     style="margin-top: 0">
                                                    <label id="billing_address_single_shipping">
                                                        <input type="radio" id="delivery[deliver][service_address]"
                                                               name="delivery[deliver][address]" value="service_address"
                                                            <?php echo (empty($shipping_data['delivery']['address']) || in_array($shipping_data['delivery']['address'], ['service_address', 'billing_address'])) ? 'checked' : ''; ?>
                                                            <?php echo $singlePackageOrderDisabled ? ' disabled' : ''; ?> />
                                                        <?php echo $checkoutHelper->__('To service address'); ?>
                                                    </label>
                                                    <div class="service-address delivery_address_details"
                                                         data-type="fixed-service-address" id="fixed-service-address">
                                                        <p class="checkout-address" id="fixed-service-address">
                                                            <span id="fixedStreet"></span>
                                                            <span id="fixedHouseNumber"></span>
                                                            <span id="fixedHouseNumberAddition"></span>
                                                            <br>
                                                            <span id="fixedPostalCode"></span>
                                                            <span id="fixedCity"></span>
                                                        </p>
                                                    </div>
                                                    <div data-package-id="-1" class="billing-address-hidden hidden">
                                                        <input type="text" id="serviceAddress_street"
                                                               name="serviceAddress[street]"
                                                               value="<?php echo (isset($shipping_data['billingAddress'])) ? $checkoutHelper->getTextValue($shipping_data['billingAddress']['street_name']) : ''; ?>">
                                                        <input type="text" id="serviceAddress_houseno"
                                                               name="serviceAddress[houseno]"
                                                               value="<?php echo (isset($shipping_data['billingAddress'])) ? $checkoutHelper->getTextValue($shipping_data['billingAddress']['houseno']) : ''; ?>">
                                                        <input type="text" id="serviceAddress_addition"
                                                               name="serviceAddress[addition]"
                                                               value="<?php echo (isset($shipping_data['billingAddress'])) ? $checkoutHelper->getTextValue($shipping_data['billingAddress']['addition']) : ''; ?>">
                                                        <input type="text" id="serviceAddress_postcode"
                                                               name="serviceAddress[postcode]"
                                                               value="<?php echo (isset($shipping_data['billingAddress'])) ? $checkoutHelper->getTextValue($shipping_data['billingAddress']['postcode']) : ''; ?>">
                                                        <input type="text" id="serviceAddress_city"
                                                               name="serviceAddress[city]"
                                                               value="<?php echo (isset($shipping_data['billingAddress'])) ? $checkoutHelper->getTextValue($shipping_data['billingAddress']['city']) : ''; ?>">
                                                    </div>
                                                </div>
                                                <?php if(in_array('other_address', $deliveryOptions)) { ?>
                                                <div id="search-address-other" class="radio_button radio<?php echo $singlePackageOrderDisabled ? ' disabled' : ''; ?>">
                                                    <label>
                                                        <input type="radio" id="delivery[deliver][other_address]"
                                                               name="delivery[deliver][address]" value="other_address"
                                                            <?php echo ($shipping_data['delivery']['address'] == 'other_address') ? 'checked' : ''; ?>
                                                            <?php echo $singlePackageOrderDisabled ? ' disabled' : ''; ?> />
                                                        <?php echo $checkoutHelper->__('To other address'); ?>
                                                    </label>

                                                    <div data-package-id="0"
                                                         data-address-flag="delivery[deliver][other_address]"
                                                         class="<?php echo ($shipping_data['delivery']['address'] == 'other_address') ? '' : 'hidden'; ?> search-address">
                                                        <?php if (!$isOrderEdit || ($isOrderEdit && !isset($singleOrderPackage[$singleOrderPackageId]['canceled']))): ?>
                                                            <!-- Search address -->
                                                            <div class="clearfix form-row-small search-address-form <?php echo $isFixed  ? "search-address-delivery-fixed" :"";?>">
                                                                <div class="col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="searchotherFixedAddress[postcode]"><?php echo $checkoutHelper->__('Postcode'); ?></label>
                                                                        <input type="text"
                                                                               id="searchotherFixedAddress[postcode]"
                                                                               value="<?php echo $checkoutHelper->getTextValue($savedDeliveryAddress['postcode']);?>"
                                                                               class="form-control input-sm postcode-fixed">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="form-group">
                                                                        <label for="searchotherFixedAddress[houseno]"><?php echo $checkoutHelper->__('No.'); ?></label>
                                                                        <input type="text"
                                                                               id="searchotherFixedAddress[houseno]"
                                                                               value="<?php echo $checkoutHelper->getTextValue($savedDeliveryAddress['houseno']);?>"
                                                                               class="form-control input-sm validate-number validate-house-number housenumber-fixed">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <div class="form-group">
                                                                        <label for="searchotherFixedAddress[addition]"><?php echo $checkoutHelper->__('Add.'); ?></label>
                                                                        <input type="text"
                                                                               id="searchotherFixedAddress[addition]"
                                                                               value="<?php echo $checkoutHelper->getTextValue($savedDeliveryAddress['addition']);?>"
                                                                               class="form-control input-sm validate-length maximum-length-10 addition-fixed">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <?php endif; ?>
                                                        <!-- Search address results -->
                                                        <ul class="hidden otherAddressFound">
                                                            <!-- Filled with ajax -->
                                                        </ul>

                                                        <!-- Other address details -->
                                                        <div class="<?php echo ($shipping_data['delivery']['address'] == 'other_address') ? '' : 'hidden'; ?> otherAddress">
                                                            <strong><?php echo $checkoutHelper->__('Address'); ?></strong>
                                                            <div class="delivery_address_details"><?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['html']) : ''; ?></div>
                                                            <?php if (!$isOrderEdit || ($isOrderEdit && !isset($singleOrderPackage[$singleOrderPackageId]['canceled']))): ?>
                                                                <a href="javascript:void(0)" class="editOtherAddress"
                                                                   onclick="editOtherAddress(this)"><?php echo $checkoutHelper->__('edit'); ?></a>
                                                            <?php endif; ?>
                                                            <div class="hidden">
                                                                <div class="clearfix form-row-small">
                                                                    <?php if($isFixed) { ?>
                                                                    <div class="form-group">
                                                                        <input type="hidden"
                                                                               id="otherFixedAddress[addressid]"
                                                                               name="otherFixedAddress[addressid]"
                                                                               class="form-control input-sm addressid-fixed"
                                                                               value="" />
                                                                    </div>
                                                                    <?php } ?>
                                                                    <div class="col-xs-6">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherFixedAddress[street]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('Street'); ?>"
                                                                                   name="otherFixedAddress[street]"
                                                                                   class="form-control input-sm"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['street_name']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherFixedAddress[houseno]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('No.'); ?>"
                                                                                   name="otherFixedAddress[houseno]"
                                                                                   class="form-control input-sm validate-number"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['houseno']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherFixedAddress[addition]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('Add.'); ?>"
                                                                                   name="otherFixedAddress[addition]"
                                                                                   class="form-control input-sm validate-length maximum-length-10"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['addition']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix form-row-small">
                                                                    <div class="col-xs-4">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherFixedAddress[postcode]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('Postcode'); ?>"
                                                                                   name="otherFixedAddress[postcode]"
                                                                                   class="form-control input-sm"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['postcode']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-8">
                                                                        <div class="form-group">
                                                                            <input type="text"
                                                                                   id="otherFixedAddress[city]"
                                                                                   placeholder="<?php echo $checkoutHelper->__('City'); ?>"
                                                                                   name="otherFixedAddress[city]"
                                                                                   class="form-control input-sm"
                                                                                   value="<?php echo (isset($shipping_data['otherAddress'])) ? $checkoutHelper->getTextValue($shipping_data['otherAddress']['city']) : ''; ?>"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="javascript:void(0)"
                                                                   onclick="saveOtherAddress(this)"><?php echo $checkoutHelper->__('Save'); ?></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <?php } ?>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- TODO: Delivery time options -->
                                                <!-- Voorkeur tijdstip <br />
                                                Ma 18-02-2014 <br />
                                                s' Avonds 17:00 - 22:00h -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="delivery-date" class="col-md-5">
                                <div class="clearfix form-row">
                                    <h6><strong><?php echo $checkoutHelper->__('Delivery wish date'); ?></strong></h6>
                                    <div class="btn-group" id="delivery[wishdate]" data-type="delivery"
                                         data-input="delivery[wishdate]">
                                        <div class="date-input">
                                            <input type="text" id="delivery_wish_date" class="delivery_wish_date" placeholder="<?php echo $checkoutHelper->__('Select date'); ?>"
                                                   name="delivery_wish_date" value="<?php if ($quote->getFixedDeliveryWishDate()) { echo date("d-m-Y", strtotime($quote->getFixedDeliveryWishDate())); } ?>" readonly>
                                            <img title="Select date" id="delivery_date"
                                                 src="<?php echo $this->getSkinUrl('images/calendar.gif') ?>"
                                                 class="v-middle delivery_date" height="15" width="15">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-section prev-next-section">
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc al vm">
                                <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                            </div>
                            <div class="tc ar">
                                <button type="submit" id="saveFixedDeliveryAddressSubmit"
                                        class="btn btn-primary pull-right step"><?php echo $checkoutHelper->__('Next step'); ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
