<div class="section">
    <h3><?php echo $this->__('Terms and conditions'); ?></h3>
    <section class="row">
        <div class="col-sm-12">
            <h4><?php echo $this->__('Payment option'); ?></h4>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-12">
            <div class="section-footer-wrapper">
                <div class="row section-footer">
                    <div class="col-sm-8">
                        <a href="#"><?php echo $this->__('Back to configuration'); ?></a>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary pull-right btn-next"><?php echo $this->__('Next'); ?></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>