<?php
$isOverride = Mage::helper('vznl_service')->isOverride();
?>

<div class="bs-docs-section first-bs-docs-section" id="fixed_service_address">
    <div class="checkout-section">
        <div class="checkout-content">
            <div class="checkout-content-body checkout-content-naked">
                <p class="section-header-capitals">
                    <?php echo $this->__('Service Address'); ?>
                </p>
                <p class="section-header">
                    <?php echo $this->__('Service Address'); ?>
                </p>
                <p class="checkout-address">
                    <span id="street"></span>
                    <span id="houseNumber"></span>
                    <span id="houseNumberAddition"></span>
                    <br>
                    <span id="postalCode"></span>
                    <span id="city"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="checkout-section prev-next-section">
        <div class="checkout-content">
            <div class="checkout-content-body"></div>
        </div>
    </div>
</div>