<?php $data = $this->getData();
if(!isset($data['current'])) $data['current'] = '';
?>
<?php if($data['section'] == 'loading') : ?>

    <div class="inlife-loading">
    <?php if($data['action'] == 'add') : ?>
        <h3><?php echo sprintf($this->__('Add %s'), $data['name']); ?></h3>
    <?php endif; ?>
    <?php if($data['action'] == 'remove') : ?>
        <h3><?php echo sprintf($this->__('Remove %s'), $data['name']); ?></h3>
    <?php endif; ?>
    <?php if($data['action'] == 'subscription') : ?>
        <h3><?php echo sprintf($this->__('Change subscription to %s'), $data['name']); ?></h3>
    <?php endif; ?>
    <?php if($data['action'] == 'changeCtn') : ?>
        <h3><?php echo $this->__('Process number change'); ?></h3>
    <?php endif; ?>
    <?php if($data['action'] == 'simswap') : ?>
        <h3><?php echo $this->__('SIM Swap'); ?></h3>
    <?php endif; ?>
        <p>
            <img class="" width="20" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
            <?php echo $this->__('The request is being processed. This may take several minutes.'); ?>
        </p>
    </div>

<?php elseif($data['section'] == 'success') : ?>

    <div class="inlife-success">
    <?php if($data['action'] == 'add') : ?>
        <h3><?php echo sprintf($this->__('Add %s'), $data['name']); ?></h3>
        <p><?php echo sprintf($this->__('%s was successfully added.'),$data['name']); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'remove') : ?>
        <h3><?php echo sprintf($this->__('Remove %s'), $data['name']); ?></h3>
        <p><?php echo sprintf($this->__('%s was successfully removed.'),$data['name']); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'subscription') : ?>
        <h3><?php echo sprintf($this->__('Change %s'), $data['name']); ?></h3>
        <p><?php echo sprintf($this->__('Your subscription has been successfully changed to %s'),$data['name']); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'simswap') : ?>
        <h3><?php echo $this->__('SIM Swap'); ?></h3>
        <p><?php echo $this->__('The SIM has been successfully changed.'); ?></p>
    <?php endif; ?>
        <?php if($data['action'] == 'changeCtn') : ?>
        <h3><?php echo $this->__('Process number change'); ?></h3>
        <p><?php echo $this->__('Number successfully edited.'); ?></p>
        <?php $dataname = $data['name']; ?>
        <button class="btn btn-primary pull-right" onclick="window.location.reload(true);">
            <?php echo $this->__('Inlife sales overview'); ?>
        </button>
    <?php else: ?>
        <button class="btn btn-primary pull-right" onclick="window.location.reload(true);"><?php echo $this->__('Inlife sales overview'); ?></button>
    <?php endif; ?>
    </div>

<?php elseif($data['section'] == 'failed') : ?>

    <div class="inlife-failed">
    <?php if($data['action'] == 'add') : ?>
        <h3><?php echo sprintf($this->__('Add %s'), $data['name']); ?></h3>
        <p><?php echo sprintf($this->__('It was not possible to add %s.'), $data['name']); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'remove') : ?>
        <h3><?php echo sprintf($this->__('Remove %s'), $data['name']); ?></h3>
        <p><?php echo sprintf($this->__('It was not possible to remove %s.'), $data['name']); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'subscription') : ?>
        <h3><?php echo sprintf($this->__('Change %s'), $data['name']); ?></h3>
        <p><?php echo sprintf($this->__('Failed to change the subscription from %s to %s.'), $data['current'], $data['name']); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'changeCtn') : ?>
        <h3><?php echo $this->__('Change number'); ?></h3>
        <p><?php echo $this->__('Failed to change the number.'); ?></p>
    <?php endif; ?>
    <?php if($data['action'] == 'changeCtn') : ?>
        <h3><?php echo $this->__('SIM Swap'); ?></h3>
        <p><?php echo $this->__('Failed to change the SIM card.'); ?></p>
    <?php endif; ?>
        <button class="btn btn-info pull-right" onclick="window.location.reload(true);"><?php echo $this->__('Inlife sales overview'); ?></button>
    </div>
<?php endif; ?>
