<?php $data = $this->getData(); ?>
<div class="modal bs-modal-sm" id="inlife-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form method="post" onsubmit="return false;">
                <?php echo Mage::getBlockSingleton('page/html')
                    ->setTemplate('inlife/partials/confirm_' . $data['action'] . '.phtml')
                    ->setData($data)
                    ->toHtml(); ?>
            </form>
        </div>
    </div>
</div>