<?php $addon = $this->getAddon(); ?>
<div class="garant">
    <h3 class="border-bottom"><?php echo sprintf($this->__('Add %s'), "Garant"); ?></h3>
    <form action="" method="post" id="saveGarant" onsubmit="return inlife.quoteGarant(saveGarant);">
        <input type="hidden" name="billingOfferCode" value="<?php echo $addon['billing_offer_code']; ?>" />
        <input type="hidden" name="componentCode" value="<?php echo $addon['component_code']; ?>" />
        <input type="hidden" name="parentAssignedComponentId" value="<?php echo $addon['parent_assigned_component_id']; ?>" />
        <input type="hidden" name="addonName" value="<?php echo $addon['addon_name']; ?>" />
        <div class="clearfix row">
            <div class="col-xs-3 col-md-2 col-lg-2">
                <img width="50" class="pull-right" src="<?php echo $this->getSkinUrl('images/garant.png') ?>" alt="" />
            </div>
            <div class="col-xs-9 col-md-10 col-lg-10">
                <?php if (isset($addon['insurance_category']) && count($addon['insurance_category'])) { ?>
                    <div class="form-group">
                        <p class="ins-cat-options">
                            <?php foreach ($addon['insurance_category'] as $catKey => $insuranceCategory) { ?>
                                <?php foreach ($insuranceCategory as $optKey => $option) { ?>
                                    <label>
                                        <input type="radio" style="margin-top:0" name="Insurance_Service_Variant"
                                               class="validate-one-required-by-name" value="<?php echo $optKey; ?>"
                                               onclick="inlife.setInsuranceCategory('<?php echo $catKey; ?>');">
                                        <?php echo $option['name']; ?>
                                        <strong>
                                            <?php echo (isset($addon['price_type']) && $addon['price_type'] == 'RC') ? $this->__("Per month") : $this->__("One time"); ?>
                                            <?php echo Mage::helper('core')->currency($option['price'], true, false); ?>
                                        </strong>
                                    </label>
                                    <br/>
                                <?php } ?>
                            <?php } ?>
                        </p>
                        <input type="text" class="hidden" id="insurance_category" name="Device_Insurance_Category" />
                    </div>
                <?php } ?>

                <?php if (isset($addon['commitment_period']) && count($addon['commitment_period'])) { ?>
                    <div class="form-group">
                        <label for="commitment_period">
                            <?php echo $this->__('Commitment period'); ?>
                        </label>
                        <select class="form-control validate-select" name="Commitment_Period" id="commitment_period">
                            <?php foreach ($addon['commitment_period'] as $month => $commitmentPeriod) { ?>
                                <option value="<?php echo $month == 0 ? '' : $month; ?>">
                                    <?php echo $commitmentPeriod; ?>
                                </option>
                            <?php } ?>
                        </select>
                    </div>
                <?php } ?>

                <div class="form-group">
                    <label for="device_imei">
                        <?php echo $this->__('Device IMEI'); ?>
                    </label>
                    <input type="text" class="form-control required-entry validate-imei" id="device_imei" name="Device_IMEI" />
                </div>
            </div>
        </div>
        <br/>
        <div class="clearfix">
            <button type="button" class="btn btn-default" onclick="inlife.cancelEditGarant();">
                <?php echo $this->__('Cancel'); ?>
            </button>
            <button type="submit" class="btn btn-info pull-right">
                <?php echo sprintf($this->__('Connecting %s'), 'Garant'); ?>
            </button>
        </div>
    </form>
</div>

<script>
  function _testImei(value) {
    // accept only digits, dashes or spaces
    if (/[^0-9-\s]+/.test(value)) return false;

    // The Luhn Algorithm. It's so pretty.
    var nCheck = 0, nDigit = 0, bEven = false;
    value = value.replace(/\D/g, '');

    for (var n = value.length - 1; n >= 0; n--) {
      var cDigit = value.charAt(n);
        nDigit = parseInt(cDigit, 10);

      if (bEven) {
        if ((nDigit *= 2) > 9) nDigit -= 9;
      }

      nCheck += nDigit;
      bEven = !bEven;
    }

    return (nCheck % 10) === 0;
  }

  Validation.add('validate-imei', '<?php echo $this->__('Invalid imei');?>', function(v, element) {
    v = v.trim();
    var reg = <?php echo Mage::helper('dyna_validators')->getRule('imei_format'); ?>;
    return reg.test(v) && _testImei(v);
  });
  var saveGarant = new VarienForm('saveGarant', true);
</script>
