<?php if ($serviceError = $this->getServiceError()) :
    echo $this->getLayout()->createBlock('core/template')->setServiceError($serviceError)->setTemplate('configurator/inlife/partials/service_error.phtml')->toHtml();
    ?>
    <br />
    <div class="clearfix">
        <button type="button" class="btn btn-default pull-left" onclick="inlife.cancelEditAddon();"><?php echo $this->__('Cancel'); ?></button>
    </div>
<?php else: ?>
    <?php $qT = Mage::getModel('varien/object')->addData($this->getQuotationInformation() ?: []); ?>
    <form action="" method="post" onsubmit="return inlife.<?php echo $this->getData('action'); ?>InlifeAddon(this);">
        <h4><?php echo $this->__('Quotation'); ?></h4>
        <div class="section clearfix" style="background: #eee;position: relative;">
            <div class="col-sm-6 less-padding-left">
                <a class="btn btn-default" style="background: #ccc;">
                    <div onclick="event.stopPropagation()">
                        <strong><?php echo $this->__('Current'); ?></strong>
                        <div class="row">
                            <div class="col-sm-6 small">
                                <?php echo $this->__("Per month") . ' ' . Mage::helper('core')->currency($qT->getData('previous_total_r_c'), true, false); ?><br/>
                                <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($qT->getData('previous_tax_total_r_c'), true, false); ?>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <span class="glyphicon glyphicon-play current-new-arrow" aria-hidden="true"></span>
            <div class="col-sm-6 less-padding-right">
                <a class="btn btn-default">
                    <div onclick="event.stopPropagation()">
                        <strong><?php echo $this->__('New'); ?></strong>
                        <div class="row">
                            <div class="col-sm-6 small">
                                <?php echo $this->__("Per month") . ' ' . Mage::helper('core')->currency($qT->getData('total_r_c'), true, false); ?><br/>
                                <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($qT->getData('tax_total_r_c'), true, false); ?>
                            </div>
                            <div class="col-sm-6 small">
                                <?php echo $this->__("One time") . ' ' . Mage::helper('core')->currency($qT->getData('total_o_c'), true, false); ?><br/>
                                <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($qT->getData('tax_total_o_c'), true, false); ?>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 small">
                                <div class="separator">&nbsp;</div>
                                <?php if ($effectiveDate = $this->getEffectiveDate()) : ?>
                                    <?php echo $this->__('Effective Date') .': '. $effectiveDate; ?>
                                <?php endif; ?><br/>
                                <?php if ($orderID = $this->getOrderId()) : ?>
                                    <span style="color: #7A7A7A;"><?php echo $this->__('Order ID') .': ' . $orderID; ?></span>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="clearfix">
            <button type="button" class="btn btn-default pull-left" onclick="inlife.cancelEditAddon();"><?php echo $this->__('Cancel'); ?></button>
            <button type="submit" class="btn btn-info pull-right"><?php echo $this->__('Confirm'); ?></button>
        </div>
    </form>

    <?php $addedAddons = $this->getAddedAddons();
    if (count($addedAddons) > 0) : ?>
        <div class="section">
            <h4><?php echo $this->__('Extras which are connected'); ?></h4>
            <div class="payload row">
                <?php $index= 0; foreach($addedAddons as $addon) :
                    $index++;
                    if(isset($addon['catalog_pricing']['catalog_pricing_details']['description'])) :
                        ?>
                        <div class="col-sm-6">
                            <a class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="text" onclick="event.stopPropagation()">
                                    <?php echo $addon['catalog_pricing']['catalog_pricing_details']['description'];?>
                                    <div class="row">
                                        <div class="col-sm-6 small">
                                            <?php echo $this->__("Per month") . ' ' . Mage::helper('core')->currency($addon['total_prices']['total_r_c'], true, false); ?><br/>
                                            <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($addon['total_prices']['tax_total_r_c'], true, false); ?>
                                        </div>
                                        <div class="col-sm-6 small">
                                            <?php echo $this->__("One time") . ' ' . Mage::helper('core')->currency($addon['total_prices']['total_o_c'], true, false); ?><br/>
                                            <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($addon['total_prices']['tax_total_o_c'], true, false); ?>
                                        </div>
                                    </div>
                                </span>
                            </a>
                        </div>
                        <?php if($index%2 == 0) : ?>
                        <div class="clear"></div>
                    <?php endif; ?>
                <?php endif; endforeach; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php $removedAddons = $this->getRemovedAddons();
    if (count($removedAddons) > 0) : ?>
        <div class="section">
            <h4><?php echo $this->__('Extras which are removed'); ?></h4>
            <div class="payload row">
                <?php $index= 0; foreach($removedAddons as $addon) :
                    $index++;
                    if(isset($addon['catalog_pricing']['catalog_pricing_details']['description'])) :
                        ?>
                        <div class="col-sm-6">
                            <a class="btn btn-default">
                                <span class="glyphicon glyphicon-minus"></span>
                                <span class="text" onclick="event.stopPropagation()">
                                    <?php echo $addon['catalog_pricing']['catalog_pricing_details']['description'];?>
                                    <div class="row">
                                        <div class="col-sm-6 small">
                                            <?php echo $this->__("Per month") . ' ' . Mage::helper('core')->currency($addon['total_prices']['total_r_c'], true, false); ?><br/>
                                            <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($addon['total_prices']['tax_total_r_c'], true, false); ?>
                                        </div>
                                        <div class="col-sm-6 small">
                                            <?php echo $this->__("One time") . ' ' . Mage::helper('core')->currency($addon['total_prices']['total_o_c'], true, false); ?><br/>
                                            <?php echo $this->__("VAT") . ' ' . Mage::helper('core')->currency($addon['total_prices']['tax_total_o_c'], true, false); ?>
                                        </div>
                                    </div>
                                </span>
                            </a>
                        </div>
                        <?php if($index%2 == 0) : ?>
                        <div class="clear"></div>
                    <?php endif; ?>
                <?php endif; endforeach; ?>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>