<?php if ($serviceError = $this->getServiceError()) :
    echo $this->getLayout()->createBlock('core/template')->setServiceError($serviceError)->setTemplate('configurator/inlife/partials/service_error.phtml')->toHtml();
    ?>
    <br />
    <div class="clearfix">
        <button type="button" class="btn btn-default pull-left" onclick="inlife.cancelEditAddon();"><?php echo $this->__('Cancel'); ?></button>
    </div>
<?php else: ?>
    <?php $qT = Mage::getModel('varien/object')->addData($this->getQuotationInformation() ?: []);
        $totalRC = $qT->getData('total_r_c') + $qT->getData('tax_total_r_c');
        $totalOC = $qT->getData('total_o_c') + $qT->getData('tax_total_o_c'); 
    ?>
    <form action="" method="post" onsubmit="return inlife.setPhoneNumber(false);">
        <table class="table table-condensed quote-addon">
            <thead>
            <tr>
                <td><?php echo $this->__('Quotation'); ?></td>
                <td class="border-right text-right"><?php echo $this->__('Per month'); ?></td>
                <td class="text-right"><?php echo $this->__('One time'); ?></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="<?php echo $this->getSkinUrl('images/addon_icon.png') ?>" style="vertical-align: text-top;" width="30" alt="" />
                    <?php echo sprintf($this->__('Number change for %s'), $this->getData('current')); ?>
                </td>
                <td class="border-right text-right"><?php echo Mage::helper('core')->currency($qT->getData('total_r_c'), true, false); ?></td>
                <td class="text-right"><?php echo Mage::helper('core')->currency($qT->getData('total_o_c'), true, false); ?></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-right">
                    <?php echo $this->__('Subtotal (excl. vat)'); ?><br />
                    <?php echo $this->__('VAT'); ?><br/>
                    <span class="red"><?php echo $this->__('Total'); ?></span>
                </td>
                <td class="border-right text-right">
                    <?php echo Mage::helper('core')->currency($qT->getData('total_r_c'), true, false); ?><br />
                    <?php echo Mage::helper('core')->currency($qT->getData('tax_total_r_c'), true, false); ?><br />
                    <span class="red"><?php echo Mage::helper('core')->currency($totalRC, true, false); ?></span>
                </td>
                <td class="text-right">
                    <?php echo Mage::helper('core')->currency($qT->getData('total_o_c'), true, false); ?><br />
                    <?php echo Mage::helper('core')->currency($qT->getData('tax_total_o_c'), true, false); ?><br />
                    <span class="red"><?php echo Mage::helper('core')->currency($totalOC, true, false); ?></span>
                </td>
            </tr>
            </tfoot>
        </table>
        <br />
        <div class="clearfix">
            <button type="button" class="btn btn-default pull-left" onclick="inlife.cancelEditAddon();"><?php echo $this->__('Cancel'); ?></button>
            <button type="submit" class="btn btn-info pull-right"><?php echo $this->__('Confirm'); ?></button>
        </div>
    </form>
<?php endif; ?>