<?php
$index = $this->getIndex();
$customer = Mage::getSingleton('customer/session')->getCustomer();
$ctnCode = Mage::getSingleton('customer/session')->getAssignedProductId();

$providers = Mage::helper('operator')->getVomOperatorOptions();

$key = sprintf('%s_%s_%s_%s', session_id(), $customer->getBan(), $ctnCode, 'inlife_vom_shippingAddress');
$shippingAddress = unserialize(Mage::app()->getCache()->load($key));

$key = sprintf('%s_%s_%s_%s', session_id(), $customer->getBan(), $ctnCode, 'inlife_vom_billingAddress');
$billingAddress = unserialize(Mage::app()->getCache()->load($key));
$isForeignBilling = strtolower($billingAddress['country_id']) !== strtolower(Vznl_Checkout_Model_Sales_Order::DEFAULT_COUNTRY);
$isForeignShipping = strtolower($shippingAddress['country_id']) !== strtolower(Vznl_Checkout_Model_Sales_Order::DEFAULT_COUNTRY);
$loadFax = $this->getData('loadFax');
?>
<div class="radio">
    <label class="strong">
        <input type="radio" name="fixed[<?php echo $index; ?>][porting]" data-index="<?php echo $index; ?>" value="0" onchange="inlife.switchVomPorting(this);" checked />
        <?php echo $this->__('Select new fixed phone number'); ?>
    </label>
</div>

<div class="col-xs-12 fixed-porting clearfix" style="margin-top: 10px;">
    <div class="form-row-small clearfix">
        <div class="col-xs-4">
            <label for="fixed[<?php echo $index; ?>][postcode]">
                <?php echo $this->__('Postcode'); ?>
            </label>
            <input type="text" id="fixed[<?php echo $index; ?>][postcode]" class="form-control input-sm" onchange="inlife.getVomAreaCode(this)" />
        </div>
        <div class="col-xs-4">
            <label for="fixed[<?php echo $index; ?>][area_code]">
                <?php echo $this->__('Area code'); ?>
            </label>
            <input type="text" id="fixed[<?php echo $index; ?>][area_code]" class="form-control input-sm area-code required-entry validate-no-fixed-numbers" onchange="inlife.getVomFixedNumbers(this)" />
        </div>
        <div class="col-xs-4">
            <div class="checkbox" style="margin: 25px 0 0">
                <label>
                    <input name="fixed[<?php echo $index; ?>][region_free]" type="checkbox" /> <?php echo $this->__('Region free'); ?>
                </label>
            </div>
        </div>
    </div>
    <div class="row available-numbers hidden">
        <div class="col-xs-12">
            <label><?php echo $this->__('Available phone numbers'); ?></label>
            <div class="results" data-index="<?php echo $index; ?>"><!--Filled with AJAX--></div>
            <button type="button" class="btn btn-link" data-more="true" onclick="inlife.getVomFixedNumbers(this)">
                + <?php echo $this->__('Load more numbers'); ?>
            </button>
        </div>
    </div>
</div>

<div class="radio clear">
    <label class="strong">
        <input type="radio" name="fixed[<?php echo $index; ?>][porting]" data-index="<?php echo $index; ?>" value="1" onchange="inlife.switchVomPorting(this);" />
        <?php echo $this->__('Preserve existing telephone number'); ?>
    </label>
</div>

<div class="hidden col-xs-12 fixed-porting" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-7">
            <label for="fixed[<?php echo $index; ?>][number]">
                <?php echo $this->__('Fixed number to port'); ?>
            </label>
            <input type="text" id="fixed[<?php echo $index; ?>][number]" name="fixed[<?php echo $index; ?>][number]" class="form-control input-sm" value="" />
        </div>

        <div class="col-xs-5">
            <div class="checkbox" style="margin: 25px 0 0">
                <label>
                    <input name="fixed[<?php echo $index; ?>][service_number]" type="checkbox" /> <?php echo $this->__('Service number'); ?>
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix form-row-small">
        <label for="fixed[<?php echo $index; ?>][current_provider]"><?php echo $this->__('Provider');?></label>
        <select id="fixed[<?php echo $index; ?>][current_provider]" name="fixed[<?php echo $index; ?>][current_provider]" class="form-control input-sm">
            <option value=""><?php echo $this->__('Please Select'); ?></option>
            <?php if ($providers) {
                foreach ($providers as $provider) { ?>
                    <option value="<?php echo ($provider['code'] != '000') ? $provider['code'] : ''; ?>">
                        <?php echo $provider['name']; ?>
                    </option>
                <?php }
            }
            ?>
        </select>
    </div>

    <div class="clearfix form-row-small">
        <label for="fixed[<?php echo $index; ?>][porting_date]">
            <?php echo $this->__('Preferred porting date'); ?>
        </label>
        <input type="text" id="fixed[<?php echo $index; ?>][porting_date]" onkeyup="onDateKeyUp(this)" name="fixed[<?php echo $index; ?>][porting_date]" class="form-control input-sm" placeholder="dd-mm-jjjj" value="" />
    </div>

    <div class="row">
        <div class="col-xs-12"><?php echo $this->__('Customer data provider'); ?></div>
        <div class="col-xs-6 form-row-small">
            <div class="radio">
                <label>
                    <input type="radio" name="fixed[<?php echo $index; ?>][customer_type]" value="0" checked />
                    <?php echo $this->__('Personal'); ?>
                </label>
            </div>
        </div>
        <div class="col-xs-6 form-row-small">
            <div class="radio">
                <label>
                    <input type="radio" name="fixed[<?php echo $index; ?>][customer_type]" value="1" />
                    <?php echo $this->__('Business'); ?>
                </label>
            </div>
        </div>
    </div>

    <div class="clearfix form-row-small">
        <div class="col-xs-3">
            <label for="fixed[<?php echo $index; ?>][customer_gender]">
                <?php echo $this->__('Salutation'); ?>
            </label>
            <select name="fixed[<?php echo $index; ?>][customer_gender]" id="fixed[<?php echo $index; ?>][customer_gender]" class="form-control input-sm">
                <option value="1" selected><?php echo $this->__('Mr.'); ?></option>
                <option value="2"><?php echo $this->__('Mrs.'); ?></option>
            </select>
        </div>
        <div class="col-xs-3">
            <label for="fixed[<?php echo $index; ?>][customer_firstname]">
                <?php echo $this->__('Init.'); ?>
            </label>
            <input type="text" id="fixed[<?php echo $index; ?>][customer_firstname]" name="fixed[<?php echo $index; ?>][customer_firstname]" class="form-control input-sm" value="" onchange="convertToUpperCase(this);" />
        </div>
        <div class="col-xs-6">
            <label for="fixed[<?php echo $index; ?>][customer_lastname]">
                <?php echo $this->__('Last Name'); ?>
            </label>
            <input type="text" id="fixed[<?php echo $index; ?>][customer_lastname]" name="fixed[<?php echo $index; ?>][customer_lastname]" class="form-control input-sm" value="" />
        </div>
    </div>

    <div class="clearfix form-row-small">
        <label for="fixed[<?php echo $index; ?>][customer_organization]">
            <?php echo $this->__('Organization'); ?>
        </label>
        <input type="text" id="fixed[<?php echo $index; ?>][customer_organization]" name="fixed[<?php echo $index; ?>][customer_organization]" class="form-control input-sm" value="" />
    </div>

    <div class="clearfix form-row-small">
        <label for="fixed[<?php echo $index; ?>][customer_number_provider]">
            <?php echo $this->__('Customer number provider (optional)'); ?>
        </label>
        <input type="text" id="fixed[<?php echo $index; ?>][customer_number_provider]" name="fixed[<?php echo $index; ?>][customer_number_provider]" class="form-control input-sm" value="" />
    </div>

    <div class="clearfix form-row-small">
        <label for="fixed[<?php echo $index; ?>][customer_contract_end_date]">
            <?php echo $this->__('Contract expiration date (optional)'); ?>
        </label>
        <input type="text" id="fixed[<?php echo $index; ?>][customer_contract_end_date]" onkeyup="onDateKeyUp(this)" name="fixed[<?php echo $index; ?>][customer_contract_end_date]" class="form-control input-sm" value="" placeholder="dd-mm-jjjj" />
    </div>

    <div class="clearfix form-row-small address-container">
        <label class="strong"><?php echo $this->__('Customer address provider');?></label>

        <?php if (!$isForeignShipping) { ?>
        <div class="radio">
            <label class="strong">
                <input type="radio" name="fixed[<?php echo $index; ?>][contract_address]" value="shippingAddress" checked onchange="inlife.validateVomAddress(this)" />
                <?php echo $this->__('Customer address'); ?>
            </label>
        </div>
        <div class="extra shippingAddress">
            <p class="address-text">
                <?php echo Mage::helper('dyna_checkout')->formatAddressAsHtml($shippingAddress, true); ?>
            </p>
            <div class="hidden">
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][shippingAddress][street]" name="fixed[<?php echo $index; ?>][address_provider][shippingAddress][street]" value="<?php echo $shippingAddress['street'][0]; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][shippingAddress][houseno]" name="fixed[<?php echo $index; ?>][address_provider][shippingAddress][houseno]" value="<?php echo $shippingAddress['street'][1]; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][shippingAddress][addition]" name="fixed[<?php echo $index; ?>][address_provider][shippingAddress][addition]" value="<?php echo $shippingAddress['street'][2]; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][shippingAddress][postcode]" name="fixed[<?php echo $index; ?>][address_provider][shippingAddress][postcode]" value="<?php echo $shippingAddress['postcode']; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][shippingAddress][city]" name="fixed[<?php echo $index; ?>][address_provider][shippingAddress][city]" value="<?php echo $shippingAddress['city']; ?>" />
            </div>
        </div>
        <?php } ?>

        <?php if (!$isForeignBilling) { ?>
        <div class="radio">
            <label class="strong">
                <input type="radio" name="fixed[<?php echo $index; ?>][contract_address]" value="billingAddress" onchange="inlife.validateVomAddress(this)">
                <?php echo $this->__('Billing address'); ?>
            </label>
        </div>
        <div class="extra billingAddress">
            <p class="address-text">
                <?php echo Mage::helper('dyna_checkout')->formatAddressAsHtml($billingAddress, true); ?>
            </p>
            <div class="hidden">
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][billingAddress][street]" name="fixed[<?php echo $index; ?>][address_provider][billingAddress][street]" value="<?php echo $billingAddress['street'][0]; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][billingAddress][houseno]" name="fixed[<?php echo $index; ?>][address_provider][billingAddress][houseno]" value="<?php echo $billingAddress['street'][1]; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][billingAddress][addition]" name="fixed[<?php echo $index; ?>][address_provider][billingAddress][addition]" value="<?php echo $billingAddress['street'][2]; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][billingAddress][postcode]" name="fixed[<?php echo $index; ?>][address_provider][billingAddress][postcode]" value="<?php echo $billingAddress['postcode']; ?>" />
                <input type="text" id="fixed[<?php echo $index; ?>][address_provider][billingAddress][city]" name="fixed[<?php echo $index; ?>][address_provider][billingAddress][city]" value="<?php echo $billingAddress['city']; ?>" />
            </div>
        </div>
        <?php } ?>

        <div class="radio">
            <label class="strong">
                <input type="radio" name="fixed[<?php echo $index; ?>][contract_address]" value="otherAddress" onchange="inlife.validateVomAddress(this)" />
                <?php echo $this->__('Other address'); ?>
            </label>
        </div>
        <div class="extra otherAddress other_address foreign_address" style="padding: 0 20px">
            <div class="search-address">
                <!-- Search address -->
                <div class="clearfix form-row-small search-address-form">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="searchOtherAddress[postcode]">
                                <?php echo $this->__('Postcode'); ?>
                            </label>
                            <input type="text" id="searchOtherAddress[postcode]" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="searchOtherAddress[houseno]">
                                <?php echo $this->__('No.'); ?>
                            </label>
                            <input type="text" id="searchOtherAddress[houseno]" class="form-control input-sm validate-number">
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="searchOtherAddress[addition]">
                                <?php echo $this->__('Add.'); ?>
                            </label>
                            <input type="text" id="searchOtherAddress[addition]" class="form-control input-sm">
                        </div>
                    </div>
                </div>
                
                <!-- Search address results -->
                <ul class="hidden otherAddressFound"><!-- Filled with ajax --></ul>

                <!-- Other address details -->
                <div class="otherAddress hidden">
                    <strong><?php echo $this->__('Address'); ?></strong>
                    <p class="delivery_address_details"></p>
                    <a href="javascript:void(0)" class="editOtherAddress" onclick="editOtherAddress(this)">
                        <?php echo $this->__('edit'); ?>
                    </a>
                    <div class="hidden">
                        <div class="clearfix form-row-small">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input type="text" id="fixed[<?php echo $index; ?>][address_provider][otherAddress][street]"
                                           placeholder="<?php echo $this->__("Street"); ?>"
                                           name="fixed[<?php echo $index; ?>][address_provider][otherAddress][street]"
                                           class="form-control input-sm"
                                           value=""
                                    />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <input type="text" id="fixed[<?php echo $index; ?>][address_provider][otherAddress][houseno]"
                                           placeholder="<?php echo $this->__("No."); ?>"
                                           name="fixed[<?php echo $index; ?>][address_provider][otherAddress][houseno]"
                                           class="form-control input-sm validate-number"
                                           value=""
                                    />
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <input type="text" id="fixed[<?php echo $index; ?>][address_provider][otherAddress][addition]"
                                           placeholder="<?php echo $this->__("Add."); ?>"
                                           name="fixed[<?php echo $index; ?>][address_provider][otherAddress][addition]"
                                           class="form-control input-sm"
                                           value=""
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-row-small">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <input type="text" id="fixed[<?php echo $index; ?>][address_provider][otherAddress][postcode]"
                                           placeholder="<?php echo $this->__("Postcode"); ?>"
                                           name="fixed[<?php echo $index; ?>][address_provider][otherAddress][postcode]"
                                           class="form-control input-sm"
                                           value=""
                                    />
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <input type="text" id="fixed[<?php echo $index; ?>][address_provider][otherAddress][city]"
                                           placeholder="<?php echo $this->__("City"); ?>"
                                           name="fixed[<?php echo $index; ?>][address_provider][otherAddress][city]"
                                           class="form-control input-sm"
                                           value=""
                                    />
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" onclick="saveOtherAddress(this)">
                            <?php echo $this->__('save'); ?>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix clear address-container" style="margin-top: 10px">
    <h3><?php echo $this->__('Fixed to Mobile Address');?></h3>
    <?php if (!$isForeignShipping) { ?>
    <div class="radio">
        <label class="strong">
            <input type="radio" name="fixed[<?php echo $index; ?>][address]" value="shippingAddress" checked onchange="inlife.validateVomAddress(this)" />
            <?php echo $this->__('Customer address'); ?>
        </label>
    </div>
    <div class="extra shippingAddress">
        <p class="address-text">
            <?php echo Mage::helper('dyna_checkout')->formatAddressAsHtml($shippingAddress, true); ?>
        </p>
        <div class="hidden">
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][street]" name="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][street]" value="<?php echo $shippingAddress['street'][0]; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][houseno]" name="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][houseno]" value="<?php echo $shippingAddress['street'][1]; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][addition]" name="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][addition]" value="<?php echo $shippingAddress['street'][2]; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][postcode]" name="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][postcode]" value="<?php echo $shippingAddress['postcode']; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][city]" name="fixed[<?php echo $index; ?>][fixed_address][shippingAddress][city]" value="<?php echo $shippingAddress['city']; ?>" />
        </div>
    </div>
    <?php } ?>

    <?php if (!$isForeignBilling) { ?>
    <div class="radio">
        <label class="strong">
            <input type="radio" name="fixed[<?php echo $index; ?>][address]" value="billingAddress" onchange="inlife.validateVomAddress(this);" />
            <?php echo $this->__('Billing address'); ?>
        </label>
    </div>
    <div class="extra billingAddress">
        <p class="address-text">
            <?php echo Mage::helper('dyna_checkout')->formatAddressAsHtml($billingAddress, true); ?>
        </p>
        <div class="hidden">
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][billingAddress][street]" name="fixed[<?php echo $index; ?>][fixed_address][billingAddress][street]" value="<?php echo $billingAddress['street'][0]; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][billingAddress][houseno]" name="fixed[<?php echo $index; ?>][fixed_address][billingAddress][houseno]" value="<?php echo $billingAddress['street'][1]; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][billingAddress][addition]" name="fixed[<?php echo $index; ?>][fixed_address][billingAddress][addition]" value="<?php echo $billingAddress['street'][2]; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][billingAddress][postcode]" name="fixed[<?php echo $index; ?>][fixed_address][billingAddress][postcode]" value="<?php echo $billingAddress['postcode']; ?>" />
            <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][billingAddress][city]" name="fixed[<?php echo $index; ?>][fixed_address][billingAddress][city]" value="<?php echo $billingAddress['city']; ?>" />
        </div>
    </div>
    <?php } ?>

    <div class="radio">
        <label class="strong">
            <input type="radio" name="fixed[<?php echo $index; ?>][address]" value="otherAddress" onchange="inlife.validateVomAddress(this)" />
            <?php echo $this->__('Other address'); ?>
        </label>
    </div>
    <div class="extra otherAddress other_address foreign_address" style="padding: 0 20px">
        <div class="search-address">
            <!-- Search address -->
            <div class="clearfix form-row-small search-address-form">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="searchOtherAddress[postcode]">
                            <?php echo $this->__('Postcode'); ?>
                        </label>
                        <input type="text" id="searchOtherAddress[postcode]" class="form-control input-sm" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="searchOtherAddress[houseno]">
                            <?php echo $this->__('No.'); ?>
                        </label>
                        <input type="text" id="searchOtherAddress[houseno]" class="form-control input-sm validate-number" />
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="searchOtherAddress[addition]">
                            <?php echo $this->__('Add.'); ?>
                        </label>
                        <input type="text" id="searchOtherAddress[addition]" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            
            <!-- Search address results -->
            <ul class="hidden otherAddressFound"><!-- Filled with ajax --></ul>

            <!-- Other address details -->
            <div class="otherAddress hidden">
                <strong><?php echo $this->__('Address'); ?></strong>
                <p class="delivery_address_details"></p>
                <a href="javascript:void(0)" class="editOtherAddress" onclick="editOtherAddress(this)">
                    <?php echo $this->__('edit'); ?>
                </a>
                <div class="hidden">
                    <div class="clearfix form-row-small">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][otherAddress][street]"
                                       placeholder="<?php echo $this->__("Street"); ?>"
                                       name="fixed[<?php echo $index; ?>][fixed_address][otherAddress][street]"
                                       class="form-control input-sm"
                                       value=""
                                />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][otherAddress][houseno]"
                                       placeholder="<?php echo $this->__("No."); ?>"
                                       name="fixed[<?php echo $index; ?>][fixed_address][otherAddress][houseno]"
                                       class="form-control input-sm validate-number"
                                       value=""
                                />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][otherAddress][addition]"
                                       placeholder="<?php echo $this->__("Add."); ?>"
                                       name="fixed[<?php echo $index; ?>][fixed_address][otherAddress][addition]"
                                       class="form-control input-sm"
                                       value=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-row-small">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][otherAddress][postcode]"
                                       placeholder="<?php echo $this->__("Postcode"); ?>"
                                       name="fixed[<?php echo $index; ?>][fixed_address][otherAddress][postcode]"
                                       class="form-control input-sm"
                                       value=""
                                />
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="form-group">
                                <input type="text" id="fixed[<?php echo $index; ?>][fixed_address][otherAddress][city]"
                                       placeholder="<?php echo $this->__("City"); ?>"
                                       name="fixed[<?php echo $index; ?>][fixed_address][otherAddress][city]"
                                       class="form-control input-sm"
                                       value=""
                                />
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" onclick="saveOtherAddress(this)">
                        <?php echo $this->__('save'); ?>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix form-row">
    <label for="fixed[<?php echo $index; ?>][phonebook]">
        <h3><?php echo $this->__('Mention in phonebook');?></h3>
    </label>
    <select id="fixed[<?php echo $index; ?>][phonebook]" name="fixed[<?php echo $index; ?>][phonebook]" class="form-control input-sm">
        <option value="Yes" selected><?php echo $this->__('Yes'); ?></option>
        <option value="No"><?php echo $this->__('No'); ?></option>
    </select>
</div>

<div class="clearfix form-row<?php if(! $loadFax) echo ' hidden'; ?>">
    <label for="fixed[<?php echo $index; ?>][fax]">
        <h3><?php echo $this->__('Fax on mobile');?></h3>
    </label>
    <select id="fixed[<?php echo $index; ?>][fax]" name="fixed[<?php echo $index; ?>][fax]" class="form-control input-sm">
        <option value="Yes"><?php echo $this->__('Yes'); ?></option>
        <option value="No" selected><?php echo $this->__('No'); ?></option>
    </select>
</div>

<div class="clearfix form-row<?php if(! $loadFax) echo ' hidden'; ?>">
    <label for="fixed[<?php echo $index; ?>][fax_email]">
        <h3><?php echo $this->__('Fax email address');?></h3>
    </label>
    <input type="text" id="fixed[<?php echo $index; ?>][fax_email]" name="fixed[<?php echo $index; ?>][fax_email]" class="form-control input-sm validate-email" />
</div>

<?php if ($this->getCancel()) { ?>
    <button type="button" class="btn btn-link" onclick="inlife.cancelVom(this);">
        <?php echo sprintf($this->__('Cancel %se connection'), $index); ?>
    </button>
<?php } ?>
<script>
  Validation.add('validate-no-fixed-numbers', '<?php echo $this->__("Could not find any fixed numbers for this area code");?>', function(v, element) {
    return !element.classList.contains('no-fixed-numbers');
  });

  jQuery(function ($) {
    <?php if ($isForeignBilling && $isForeignShipping) { ?>
      $('[name="fixed[1][contract_address]"][value="otherAddress"]').trigger('click');
      $('[name="fixed[1][address]"][value="otherAddress"]').trigger('click');
    <?php } elseif ($isForeignShipping) { ?>
      $('[name="fixed[1][contract_address]"][value="billingAddress"]').trigger('click');
      $('[name="fixed[1][address]"][value="billingAddress"]').trigger('click');
    <?php } ?>
  });
</script>
