<?php
$customerSession = Mage::getSingleton('customer/session');
$quote = Mage::getModel('sales/quote')->load(Mage::getSingleton('customer/session')->getOrderEdit());
?>
<script>
  var orderDetails = new OrderDetails('<?php echo Mage::app()->getWebsite()->getCode(); ?>','<?php echo (int)$customerSession->getOrderEdit(); ?>');
</script>
<?php
$creditCheckPerformed = false;
$creditCheckReferredOrMoreInfo = false;
if ($customerSession->getOrderEdit()) {
    // From this point on cache all models for faster processing, since they won't be changed
    $superOrder = Mage::getModel('superorder/superorder')->load($quote->getSuperOrderEditId());
    $creditCheckPerformed = $superOrder->creditCheckCompleted();
    $creditCheckReferredOrMoreInfo = $superOrder->creditCheckReferredOrMoreInfoNeeded();
}
if ($customerSession->getOrderEdit() && ($creditCheckPerformed || $creditCheckReferredOrMoreInfo) && $superOrder->isEditable()) {
    $orderLockInfo = Mage::getSingleton('customer/session')->getOrderLockInfo() ?: array();
    $getsuperOrder = Mage::getSingleton('customer/session')->getSuperOrder();
    $lockData = !empty($orderLockInfo[$getsuperOrder->getId()]) ? $orderLockInfo[$getsuperOrder->getId()] : false;

    if ($lockData !== false) {
        $lockState = (isset($lockData['lock']['lock_state']) && !is_array($lockData['lock']['lock_state'])) ? $lockData['lock']['lock_state'] : '';
        $isLocked = $lockState == 'locked';
        $sameAgent = isset($lockData['lock']['user_i_d']) && ($lockData['lock']['user_i_d'] == $lockData['currentAgent']);
        $superOrder = $this->getSuperorder();
        $lockedBy = !is_array($lockData['locked_by']) ? $lockData['locked_by'] : '';
        $lockByMsg = sprintf($this->__('The order is currently locked by: %s'), $lockedBy);

        if ($isLocked && !$sameAgent && $lockData['allow_steal']) { ?>
            <script>
                orderDetails.allowLockSteal = true;
            </script>
        <?php } ?>
        <?php if ($isLocked && !$sameAgent && !$lockData['allow_steal']) { ?>
            <script>
                orderDetails.lockedByMsg = '<?php echo $lockByMsg;?>';
            </script>
        <?php } ?>
        <?php
            if ($isLocked && !$sameAgent) {
                if ($lockData['allow_steal']) {
                    $allowUnlock = true;
                } else {
                    $allowUnlock = false;
                }
            } elseif (!$isLocked || ($isLocked && $sameAgent)) {
                $allowUnlock = true;
            } else {
                $allowUnlock = false;
            }
        ?>
        <script>
          orderDetails.allowUnlock = '<?php echo $allowUnlock;?>';
        </script>
    <?php } ?>
    <?php if ($lockData === false) { ?>
        <script type="text/javascript">
          orderDetails.allowUnlock = true;
          jQuery(document).ready(function ($) {
            var container = $('.order-lock');
            var old = window.canShowSpinner;
            window.canShowSpinner = false;
            $.ajax({
              async: true, type: 'POST', data: '', url: MAIN_URL + 'checkout/index/getLockInfo', success: function (result) {
                if (result.error == true) {
                  showModalError(result.message);
                } else {
                  container.replaceWith(result.html);
                }
              }
            });
            window.canShowSpinner = old;
          });
        </script>
    <?php } ?>
<?php } ?>

