<?php  /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>
<style type="text/css">
    @font-face {
      font-family: VodafoneRg;
      src: url(<?=MAGENTO_ROOT?>/skin/frontend/vznl/default/fonts/VodafoneRg.ttf);
    }

    /* Consumer or business? */
    .<?= ($this->getCustomerIsBusiness()) ? 'consumer' : 'business' ?> {
      display: none !important;
    }
</style>

<div class="container">
    <?php
    echo Mage::app()->getLayout()
        ->createBlock('vznl_checkout/pdf_contract')
        ->setTemplate(($this->getCustomerIsBusiness()) ? 'checkout/cart/pdf/contract/customer-business.phtml' : 'checkout/cart/pdf/contract/customer-consumer.phtml')
        ->init($this->getOrder())
        ->toHtml();

    foreach($this->getOrder()->getPackageIds() as $packageId) {
        /** @var Dyna_Package_Model_Package $package */
        $package = $this->getOrder()->getPackages($packageId);

        if ($package->isMobile()) {
            $this->setPackage($package);

            if ($this->isSimOnly()) { // SimOnly
                echo Mage::app()->getLayout()
                    ->createBlock('vznl_checkout/pdf_contract')
                    ->setTemplate('checkout/cart/pdf/contract/simonly.phtml')
                    ->init($this->getOrder())
                    ->setPackage($package)
                    ->toHtml();
            } else {
                if (!$this->hasDeviceRC()) { // No deviceRC
                    echo Mage::app()->getLayout()
                        ->createBlock('vznl_checkout/pdf_contract')
                        ->setTemplate('checkout/cart/pdf/contract/mobile.phtml')
                        ->init($this->getOrder())
                        ->setPackage($package)
                        ->toHtml();
                } else {
                    if ($this->hasDeviceRC()) { // DeviceRC
                        echo Mage::app()->getLayout()
                            ->createBlock('vznl_checkout/pdf_contract')
                            ->setTemplate('checkout/cart/pdf/contract/mobile-devicerc.phtml')
                            ->init($this->getOrder())
                            ->setPackage($package)
                            ->toHtml();
                    }
                }
            }
        }
    }

    echo Mage::app()->getLayout()
        ->createBlock('vznl_checkout/pdf_contract')
        ->setTemplate('checkout/cart/pdf/contract/terms.phtml')
        ->init($this->getOrder())
        ->toHtml();
    ?>
</div>
