<?php
/** @var $this Dyna_Checkout_Block_Pdf_Loanoverview */
$logoImage = __DIR__ . '/contract/images/New_VF_Icon_RGB_RED.svg';
$creditMediator = $this->getCreditMediator();
?>

<html>
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8" />
        <style type="text/css">
            body {
              font-family:"Times New Roman", Times, serif;
              font-size: 14px;
            }

            h1 {
              text-align: left;
              font-size: 16px;
              font-weight: bold;
              margin-top: 16px;
            }

            header {
              text-align: center;
              font-weight: bold;
              font-size: 16px;
              margin-bottom: 16px;
            }

            p {
              margin: 0;
            }

            table {
              border-collapse: collapse;
              width: 100%;
            }

            td {
              padding-left: 5px;
              padding-top: 2px;
              padding-bottom: 5px;
              border: solid 1px black;
              vertical-align: top;
            }

            .italic {
              font-style: italic;
            }

            .header,.header-hider{
              width: 65px;
              height: 65px;
              top: -150px;
              right: -100px;
            }

            table tr td:first-child{
              width:46%;
            }
            table tr td:last-child{
              width:54%;
            }

            .header{
              position: fixed;
            }

            .header-hider{
              position: absolute;
              top: -151px;
              background-color: white;
            }

            @page {
              margin-top: 190px;
              margin-bottom: 151px;
              margin-left: 94px;
              margin-right: 170px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <img style="width:60px;" src="<?= $logoImage ?>">
        </div>
        <div class="header-hider"></div>

        <div>
            <header>
                <?=$this->__('EUROPESE STANDAARDINFORMATIE INZAKE CONSUMENTENKREDIET'); ?>
            </header>

            <h1><?=$this->__('1. Identiteit en contactgegevens van de kredietgever/kredietbemiddelaar'); ?></h1>

            <table>
                <tr>
                    <td>
                        <p><?=$this->__('Kredietgever'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Vodafone Financial Services B.V.'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Adres'); ?></p>
                    </td>
                    <td>
                        <p>Avenue Ceramique 300</p>
                        <p>Postbus 1500</p>
                        <p>6201 BM, Maastricht</p>
                    </td>
                <tr>
                    <td>
                        <p><?=$this->__('Kredietbemiddelaar'); ?></p>
                    </td>
                    <td>
                        <p><?= $creditMediator['name'] ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Adres</p>
                    </td>
                    <td>
                        <p><?= $creditMediator['address']['street'] ?></p>
                        <p><?= $creditMediator['address']['zipcode'] ?></p>
                        <p><?= $creditMediator['address']['city'] ?></p>
                        <p><a target="_blank" href="http://<?= $creditMediator['url'] ?>"><?= $creditMediator['url'] ?></a></p>
                        <p><?= $creditMediator['phone'] ?></p>
                    </td>
                </tr>
            </table>

            <h1><?=$this->__('2. Beschrijving van de belangrijkste kenmerken van kredietproduct'); ?></h1>

            <table>
                <tr>
                    <th>
                        <?=$this->__('Het soort krediet'); ?>
                    </th>
                    <th>
                        <?=$this->__('Aflopende geldlening'); ?>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Het totale kredietbedrag'); ?></p>
                        <p class="italic"><?=$this->__('Bedoeld wordt het plafond of de som van alle bedragen die op grond van een kredietovereenkomst beschikbaar worden gesteld.'); ?></p>
                    </td>
                    <td>
                        <p><?php echo $this->getTotalCost() ?> Euro</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('De voorwaarden voor kredietopneming'); ?></p>
                        <p class="italic"><?=$this->__('Bedoeld worden het tijdstip en de wijze waarop u het geld zal ontvangen.'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Het krediet dient ter financiering van de door jou gekozen mobiele telefoon en wordt uitgekeerd aan de leverancier van deze mobiele telefoon. Je ontvangt dus geen geld van Vodafone Financial Services B.V.'); ?></p>
                    </td>
                <tr>
                    <td>
                        <p><?=$this->__('De duur van de kredietovereenkomst'); ?></p>
                    </td>
                    <td>
                        <p><?php echo $this->getContractLength()?> <?=$this->__('maanden'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Termijnen en, in voorkomend geval, de volgorde waarin de termijnen worden toegerekend'); ?></p>
                    </td>
                    <td>
                        <p><?php echo $this->getContractLength()?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Totaal door u te betalen bedrag'); ?></p>
                        <p class="italic"><?=$this->__('Bedoeld wordt het bedrag van het geleende kapitaal, vermeerderd met de rente en eventuele kosten in verband met uw krediet.'); ?></p>
                    </td>
                    <td>
                        <p><?php echo $this->getTotalLoan() ?> Euro</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Indien van toepassing'); ?></p>
                        <p><?=$this->__('Het krediet wordt verleend in de vorm van uitstel van betaling voor een goed of dienst of wordt gekoppeld aan de levering van een bepaald goed of het aanbieden van een dienst.'); ?></p>
                        <p><?=$this->__('Naam van het goed/de dienst'); ?></p>
                        <p><?=$this->__('Contante prijs'); ?></p>
                    </th>
                    <td>
                        <p><?=$this->__('Het krediet dient ter financiering van de door jou gekozen mobiele telefoon'); ?> <?php echo $this->getDeviceName() ?>. <?=$this->__('De contante prijs van deze mobiele telefoon is'); ?> <?php echo $this->getDevicePrice() ?> Euro.</p>
                    </th>
                </tr>
            </table>


            <h1><?=$this->__('3. Kosten van het krediet'); ?></h1>

            <table>
                <tr>
                    <td>
                        <p><?=$this->__('De debetrentevoet of, indien van toepassing, de verschillende debetrentevoeten die van toepassing zijn op de kredietovereenkomst'); ?></p>
                    </th>
                    <td>
                        <p><?=$this->__('De debetrentevoet is 0%'); ?></p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Jaarlijks kostenpercentage (JKP)'); ?></p>
                        <p class="italic"><?=$this->__('Dit zijn de totale kosten, uitgedrukt als jaarlijks percentage van het totale kredietbedrag.'); ?></p>
                        <p class="italic"><?=$this->__('Aan de hand van het JKP kunt u verschillende aanbiedingen onderling beter vergelijken.'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Het JKP is 0%.'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Is het, met het oog op het verkrijgen van het krediet, in voorkomend geval op de geadverteerde voorwaarden, verplicht om'); ?></p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                <tr>
                    <td>
                        <p><?=$this->__('— een verzekering ter waarborging van het krediet, of'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Nee'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('— een andere nevendienst af te nemen?'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Ja, het krediet van Vodafone Financial Services B.V. wordt alleen aangeboden in combinatie met een abonnement van Vodafone Libertel B.V. voor mobiele telecommunicatiediensten.'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="italic"><?=$this->__('Wanbetaling kan ernstige gevolgen voor u hebben (bijvoorbeeld gedwongen verkoop) en kredietverkrijging bemoeilijken.'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Indien je jouw verplichtingen die voortkomen uit de kredietovereenkomst niet nakomt, dan kan dit toekomstige kredietaanvragen bemoeilijken.'); ?></p>
                    </td>
                </tr>
            </table>


            <h1><?=$this->__('4. Overige juridische aspecten die van belang zijn'); ?></h1>

            <table>
                <tr>
                    <td>
                        <p><?=$this->__('Herroepingsrecht'); ?></p>
                        <p class="italic"><?=$this->__('U hebt het recht de kredietovereenkomst binnen een periode van 14 kalenderdagen te herroepen.'); ?></p>
                    </th>
                    <td>
                        <p><?=$this->__('Ja'); ?></p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Vervroegde aflossing'); ?></p>
                        <p class="italic"><?=$this->__('U hebt te allen tijde het recht het krediet volledig of gedeeltelijk vervroegd af te betalen.'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Ja, je hebt de mogelijkheid de uitstaande kredietsom ineens af te lossen. De voorwaarde om je krediet af te lossen zijn te vinden op'); ?> <a target="_blank" href="http://www.vodafone.nl/krediet">www.vodafone.nl/krediet</a>.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Raadpleging van een gegevensbank'); ?></p>
                        <p class="italic"><?=$this->__('De kredietgever dient u onverwijld en zonder kosten in kennis te stellen van het resultaat van een raadpleging van een gegevensbestand, indien een kredietaanvraag op basis van dergelijke raadpleging is verworpen. Het voorgaande is niet van toepassing indien het verstrekken van dergelijke informatie op grond van communautaire wetgeving verboden is of indruist tegen de doelstellingen van de openbare orde of de openbare veiligheid.'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Vodafone Financial Services B.V. zal een toets uitvoeren bij het Bureau Krediet Registratie (BKR) te Tiel.'); ?></p>
                    </td>
                <tr>
                    <td>
                        <p><?=$this->__('Recht om een ontwerpkredietovereenkomst te ontvangen'); ?></p>
                        <p class="italic"><?=$this->__('U hebt het recht om op verzoek kosteloos een exemplaar van de ontwerpkredietovereenkomst te verkrijgen. Deze bepaling is niet van toepassing indien de kredietgever ten tijde van het verzoek niet voornemens is de overeenkomst met u aan te gaan.'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Ja, je kan tevens op'); ?> <a target="_blank" href="http://www.vodafone.nl/krediet">www.vodafone.nl/krediet</a> <?=$this->__('onze ontwerpkredietovereenkomst vinden.'); ?></p>
                    </td>
                </tr>
            </table>


            <h1><?=$this->__('5. Aanvullende gegevens in geval van de verkoop op afstand van financiële diensten'); ?></h1>

            <table>
                <tr>
                    <td>
                        <p><?=$this->__('a) betreffende de kredietgever'); ?></p>
                    </th>
                    <td>
                        <p><?=$this->__('Vodafone Financial Services B.V. is statutair gevestigd te Maastricht en  ingeschreven onder nummer 34912452 bij de Kamer van Koophandel.'); ?></p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Indien van toepassing'); ?></p>
                        <p><?=$this->__('De toezichthoudende autoriteit'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Vodafone Financial Services B.V. is geregistreerd bij de Autoriteit Financiële Markten (AFM) onder nummer 12044332. Voor meer informatie over deze registratie kan u contact opnemen met de AFM (www.afm.nl).'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('b) betreffende de kredietovereenkomst'); ?></p>
                    </td>
                    <td>
                        <p></p>
                    </td>
                <tr>
                    <td>
                        <p><?=$this->__('Uitoefening van het herroepingsrecht'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Je hebt tot 14 kalenderdagen na het afsluiten van het contract het recht om het krediet kosteloos schriftelijk op te zeggen. De kredietovereenkomst wordt dan met onmiddellijke ingang ontbonden. De door jou ontvangen telefoon met alle toebehoren moet je dan eveneens aan Vodafone terugsturen. Meer informatie kun je vinden op'); ?> <a target="_blank" href="https://www.vodafone.nl/shop/bestelling/">https://www.vodafone.nl/shop/bestelling/</a> <?=$this->__('of door telefonisch contact op te nemen met de Vodafone klantenservice (0800-0094).'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('De wetgeving die door de kredietgever wordt gebruikt als grondslag voor de totstandbrenging van betrekkingen met u voorafgaand aan het sluiten van de kredietovereenkomst'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Het Burgerlijk Wetboek (BW), de Wet op het financieel toezicht (Wft) en de Wet op het consumentenkrediet.'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Clausule inzake het op de kredietovereenkomst van toepassing zijnde recht en/of de bevoegde rechter'); ?></p>
                    </td>
                    <td>
                        <p><?=$this->__('Op deze kredietovereenkomst is Nederlands recht van toepassing. Voor geschillen over deze kredietovereenkomst kun je gebruik maken van  onze klachtenregeling. Je hebt tevens de mogelijkheid je te wenden tot de bevoegde rechter.'); ?></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Taalregeling'); ?></p>
                    </th>
                    <td>
                        <p><?=$this->__('Informatie en contractvoorwaarden worden verstrekt in de Nederlandse taal.'); ?></p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('c) betreffende beroepsprocedures'); ?></p>
                    </th>
                    <td>
                        <p></p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p><?=$this->__('Bestaan van en toegang tot buitengerechtelijke klachten- en beroepsprocedures'); ?></p>
                    </th>
                    <td>
                        <p><?=$this->__('Wanneer je niet tevreden bent over de dienstverlening ten aanzien van jouw krediet, dan kun je een klacht indienen. Meer informatie hierover en onze klachtenregeling vind je op <a target="_blank" href="http://www.vodafone.nl/krediet">www.vodafone.nl/krediet</a>. Vodafone Financial Services B.V. is aangesloten bij het Klachteninstituut Financiële Dienstverlening'); ?> (<a target="_blank" href="http://www.kifid.nl">www.kifid.nl</a>) <?=$this->__('en bij de Geschillencommissie BKR'); ?> (<a target="_blank" href="http://www.bkr.nl">www.bkr.nl</a>).</p>
                    </th>
                </tr>
            </table>
        </div>

    <?php echo '
        <script type="text/php">
        if (isset($pdf))
        {
          $font = $fontMetrics->getFont("Times New Roman", "normal");
          $size = 12;
            
          $textForWidth = "Page 1 of 1";
          $text = "Page {PAGE_NUM} of {PAGE_COUNT}";
          $textWidth = $fontMetrics->getTextWidth($textForWidth, $font, $size);
            
          $y = $pdf->get_height() - 40;
          $x = $pdf->get_width() - 125 - $textWidth;
            
          $pdf->page_text($x, $y, $text, $font, $size);
        }
        </script>
        '; ?>
    </body>
</html>
