CREATE DATABASE {{ item.database }};
CREATE USER {{ item.name }} WITH PASSWORD '{{ item.password }}';
GRANT ALL ON {{ item.database }} TO {{ item.name }};
CREATE RETENTION POLICY {{ item.database }}rp ON {{ item.database }} DURATION 7d REPLICATION 1 default;
