<?php
$helper = Mage::helper('bundles');
?>
<script id="Handlebars-Template-Customer-Campaigns-Top" type="text/x-handlebars-template">
    <div id="campaigns-top-customer" class="pam mbl">
        <div id="campaigns-top-customer-header">
            <?php echo $helper->__('Select a customer type'); ?>
        </div>
        <div id="campaigns-top-customer-type" class="toggle-container vn-segmentedControl fluid mvm">
            <div class="rectangle toggle-label vn-segmentedControlButton{{#ifCond this.is_business '==' 0}} selected{{/ifCond}}">
                <label data-type="0" class="inputLabel" onclick="customerDe.changeCustomerType(this, 0);">
                    <?php echo $this->__('Private'); ?>
                </label>
            </div>
            <div class="rectangle toggle-label vn-segmentedControlButton{{#ifCond this.is_business '==' 1}} selected{{/ifCond}}">
                <label data-type="1" class="inputLabel" onclick="customerDe.changeCustomerType(this, 1);">
                    <?php echo $this->__('Business'); ?>
                </label>
            </div>
        </div>
    </div>
    {{#this.campaignData}}
    <div id="campaigns-top-campaign" class="mbl">
        <div id="campaigns-top-campaign-header" class="clearfix">
            <div id="campaigns-top-campaign-header-context-menu" class="pull-right">
                <div class="menu-expand full">
                    <ul>
                        <li>
                            <a onclick="campaign.getData({{#ifCond this.default '==' '1'}}1{{else}}0{{/ifCond}});">
                                <img src="<?php echo $this->getSkinUrl('images/campaign-change.svg'); ?>"/>
                                {{#ifCond this.default '==' '0'}}
                                <?php echo $helper->__('Switch to active offers'); ?>
                                {{else}}
                                <?php echo $helper->__('Switch to default offers'); ?>
                                {{/ifCond}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-trigger" onclick="switchPackageMenu(event, this);">
                    <i class="vfde-more"></i>
                </div>
            </div>
            <div id="campaigns-top-campaign-header-title">{{this.title}}</div>
            <div id="campaigns-top-campaign-header-date" data-text="<?php echo $this->__('Valid from %s to %s'); ?>" data-from="{{this.validFrom}}" data-to="{{this.validTo}}">
                {{#if this.validFrom}} <?php echo $helper->__('Valid from'); ?> {{this.validFrom}} {{/if}} {{#if this.validTo}}<?php echo $helper->__('to'); ?> {{this.validTo}}{{/if}}
            </div>
        </div>
        <div id="campaigns-top-campaign-content">
            {{#if this.hint}}
            <div id="campaigns-top-campaign-content-campaign-hint">{{this.hint}}</div>
            {{/if}}
            {{#if this.promotionHints}}
            <ul id="campaigns-top-campaign-content-promotion-hints">
                {{#each this.promotionHints}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>
    {{/this.campaignData}}
</script>
<div id="campaigns-top"></div>