<!--Order Create Confirmation -->
<?php $customer = Mage::getSingleton('dyna_customer/session')->getCustomer(); ?>
<div class="modal new-style-modal" id="confirm-offer" tabindex="-1" role="dialog" aria-labelledby="confirm-offer-title" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirm-offer-title"><?php echo $this->__('Save and quit'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <p>
                        <?php echo $this->__("Do you wish to save and send this shopping bag as an offer? After saving the checkout process will be closed."); ?>
                    </p>
                    <form id="confirm-offer-form" class="modal-row clearfix" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col col-sm-12">
                                <div class="form-group label-floating additional-email">
                                    <div class="input-wrapper">
                                        <label class="control-label"><?php echo $this->__('E-mail'); ?></label>
                                        <input
                                            id="offer-email_send"
                                            name="offer[email_send]"
                                            type="text"
                                            class="required-entry validate-email validate-backend-email"
                                            value="<?php echo $customer->getCorrespondanceEmail() ?: ''; ?>"
                                            data-prefill="<?php echo $customer->getCorrespondanceEmail() ?: ''; ?>"
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button><button type="button" class="btn btn-default btn-save-offer" data-dismiss="modal"><?php echo $this->__('Save offer') ?></button>
            </div>
        </div>
    </div>
</div>