<!-- Campaign related scripts -->
<?php
$session = Mage::getSingleton('dyna_customer/session');
$uctParams = $session->getUctParams();
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$isSohoCustomer = $customer->getIsSoho();
$orderEdit = $session->getOrderEdit() ? 1 : 0;
?>
<script type="text/javascript">
  function customerSearchCallBack() {
    if ( <?php echo !empty($isSohoCustomer) ? 1 : 0 ?> ) {
      jQuery('#organizationButton').addClass('selected');
      jQuery('#individualButton').removeClass('selected');
    }
    var customer_number = jQuery('.customer-info').attr('data-id');
    customer.setLoggedInCustomer(customer_number);
    customerDe.setBusinessState();
    jQuery('#save-cart-form [name="guest"]').val(0);
    jQuery.ajax({
      url: '/customerde/details/loadCustomerCallBack',
      type: 'POST',
      data: {customer_number:customer_number},
      success : function (data) {
        if (data.saveCartModal) {
          jQuery('#save-cart-modal').replaceWith(data.saveCartModal);
        }
      }
    })
  }
  Translator.add('Mr.','<?php echo $this->__('Mr.')?>');
  Translator.add('Mrs.','<?php echo $this->__('Mrs.')?>');
  Translator.add('Mr./Mrs.','<?php echo $this->__('Mr./Mrs.')?>');
</script>
<?php if ($uctParams) : ?>
    <script>
      $j(function() {
        var callerContainer = $j("#homepage-wrapper .caller-data");
        <?php if($uctParams && $uctParams['success']) : ?>
            address.customerUctParams = true;
            <?php if (!$customer->getCustomerNumber()): ?>
                jQuery('[id="submit-search"]').trigger('click');
            <?php endif; ?>
        <?php else : ?>
            <?php $uctParams = $session->unsetData("uct_params"); ?>
            address.customerUctParams = false;
            showModalError('<?php echo sprintf($this->__("We could not identify the caller from UCT with the transaction id %s!"),$uctParams['transactionId'])?>');
        <?php endif?>
        jQuery("body").tooltip({ selector: '[data-toggle=tooltip]' });
      });

      jQuery(document).ready(function () {
        var searchTimeout;
        jQuery('#search_campaign').keyup(function() {
          clearTimeout(searchTimeout);
            var search_campaign=document.getElementById("search_campaign").value;
            searchTimeout = setTimeout(function() {
              setPageLoadingState(true);
              address.searchCampaign(jQuery('#search_campaign').val());
            }, 1000);
        });
      });
    </script>
<?php endif; ?>
<script>
  $j(function () {
    if (Mage.Cookies.get('showOrderInfo') == 'yes') {
      jQuery(document).ready(function () {
        setTimeout(function () {
          Mage.Cookies.set('showOrderInfo', '');
        }, 1000);
      });
    }
  });
</script>

<!-- Customer related scripts on search.phtml -->
<?php
$uctParams = $this->getUctParams();
$ctnParam = (!empty($uctParams['callingNumber'])) ? $uctParams['callingNumber'] : null;
?>
<script>
  jQuery(document).ready(function ($) {
      <?php
      if(!Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')){
      ?>
        if ($("#customer-search-container").length > 0) {
          if (HAS_GOOGLE_AUTOCOMPLETE) {
            $("#customer-search-container").googleSearchAddress({
              streetInputName: "street",
              cityInputName: "city",
              houseNumberInputName: "no",
              houseNumberAddition: "addNo",
              zipCodeInputName: "zipcode"
            });
          }
        }
      <?php }?>

      Validation.add('validate-exact-search', Translator.translate('Please enter zip code, city, street and house number'), function (v, element) {
        var result = false;
        var exactRequiredFields = $('#customer_search_form').find('.validate-exact-search');
        exactRequiredFields.each(function () {
          if (jQuery(this).val().length > 0) {
            result = true;
          }
        });
        return result;
      });
      Validation.add('validate-legacy-dsl-search', '', function (v, element) {
        var result = true;
        var dslRequiredFields = $('#customer_search_form').find('.validate-legacy-dsl-search');
        var city = $('#customer_search_form  #city.validate-legacy-dsl-search');
        var customerId = $('#customer_search_form  #customer.validate-legacy-dsl-search');
        var telephoneNumber = $('#customer_search_form  #telephone_number.validate-legacy-dsl-search');
        var firstName = $('#customer_search_form  #first_name.validate-legacy-dsl-search');
        var lastName = $('#customer_search_form  #last_name.validate-legacy-dsl-search');
        var birthdate = $('#customer_search_form  #birthday.validate-legacy-dsl-search');
        var street = $('#customer_search_form  #street.validate-legacy-dsl-search');
        var zipcode = $('#customer_search_form  #zipcode.validate-legacy-dsl-search');
        var allFieldsAreEmpty = true;
        dslRequiredFields.each(function () {
          if (jQuery(this).val().length > 0) {
            allFieldsAreEmpty = false;
          }
        });
        if (allFieldsAreEmpty) {
          result = false;
          this.error = Translator.translate("Please fill in some search criteria.");
        } else {
          this.error = Translator.translate("Please fill all the following fields: First Name, Last Name, ZIP, Street and optionally one of the following: Birth Date, City or House Number.");

          var minimumRequired = [firstName, lastName, zipcode, street];
          minimumRequired.each(function (elem) {
            if (!(jQuery(elem).val().length > 0)) {
              result = false;
            }
          });

          if (jQuery(customerId).val().length > 0 || jQuery(telephoneNumber).val().length > 0) {
            result = true;
          }
        }
        return result;
      });

      Validation.add('validate-legacy-mobile-search', '', function (v, elm) {
        var result = false;
        var mobileRequiredFields = $('#customer_search_form').find('.validate-legacy-mobile-search');
        var customerId = $('#customer_search_form  #customer.validate-legacy-mobile-search');
        var subscriberNumber = $('#customer_search_form  #subscriber_number.validate-legacy-mobile-search');
        var firstName = $('#customer_search_form  #first_name.validate-legacy-mobile-search');
        var lastName = $('#customer_search_form  #last_name.validate-legacy-mobile-search');
        var birthdate = $('#customer_search_form  #birthday.validate-legacy-mobile-search');
        var city = $('#customer_search_form  #city.validate-legacy-mobile-search');
        var street = $('#customer_search_form  #street.validate-legacy-mobile-search');
        var sim_imei = $('#customer_search_form  #sim_imei.validate-legacy-mobile-search');
        var zipcode = $('#customer_search_form  #zipcode.validate-legacy-mobile-search');
        var allFieldsAreEmpty = true;
        mobileRequiredFields.each(function () {
            if (jQuery(this).val().length > 0) {
              allFieldsAreEmpty = false;
            }
        });
        if (allFieldsAreEmpty) {
          result = false;
          this.error = Translator.translate("Please fill in some search criteria.");
        } else {
          this.error = Translator.translate("Please fill all the following fields: First Name, Last Name, ZIP and optionally one of the following: Birth Date or City and Street or House Number.");

          if (jQuery(customerId).val().length > 0 || jQuery(subscriberNumber).val().length > 0) {
            return true;
          }

          if (!(jQuery(firstName).val().length > 0 && jQuery(lastName).val().length > 0 && jQuery(zipcode).val().length > 0)) {
            return false;
          }

          if(jQuery(birthdate).val().length !== 0){
            this.error = Translator.translate("Invalid Date.");
            return checkDateFormat(jQuery(birthdate).val());
          }else{
            jQuery('.validation-advice').css('display' , 'none');
            jQuery('.validation-advice').html('');
          }

          if (jQuery(street).val().length == 0 && jQuery(city).val().length == 0 || jQuery(street).val().length != 0 && jQuery(city).val().length != 0) {
            return true;
          }
        }
        return result;
      });


      Validation.add('validate-legacy-cable-search', '', function (v, element) {
        var result = false;
        var cableRequiredFields = $('#customer_search_form').find('.validate-legacy-cable-search');
        var allFieldsAreEmpty = true;
        cableRequiredFields.each(function () {
          if (jQuery(this).val().length > 0) {
            allFieldsAreEmpty = false;
          }
        });
        if (allFieldsAreEmpty) {
          result = false;
          this.error = Translator.translate("Please fill in some search criteria.");
        } else {
          result = true;
        }
        return result;
      });


      Validation.add('validate-advanced-search', '', function (v, element) {
        var result = false;
        var advancedSearchRequiredFields = $('#customer_search_form').find('.validate-advanced-search');
        var customerId = $('#customer_search_form  #customer.validate-advanced-search');
        var telephoneNumber = $('#customer_search_form  #telephone_number.validate-advanced-search');
        var city = $('#customer_search_form  #city.validate-advanced-search');
        var firstName = $('#customer_search_form  #first_name.validate-advanced-search');
        var lastName = $('#customer_search_form  #last_name.validate-advanced-search');
        var birthdate = $('#customer_search_form  #birthday.validate-advanced-search');
        var street = $('#customer_search_form  #street.validate-advanced-search');
        var deviceId = $('#customer_search_form  #device_id.validate-advanced-search');
        var zipcode = $('#customer_search_form  #zipcode.validate-advanced-search');
        var allFieldsAreEmpty = true;
        advancedSearchRequiredFields.each(function () {
          if (jQuery(this).val().length > 0) {
            allFieldsAreEmpty = false;
          }
        });
        if (allFieldsAreEmpty) {
          result = false;
          this.error = Translator.translate("Please fill in some search criteria.");
        } else {
          this.error = Translator.translate("Please fill all the following fields: First Name, Last Name, ZIP and optionally one of the following: Birth Date or City and Street or House Number.");
          if (jQuery(customerId).val().length > 0 || jQuery(telephoneNumber).val().length > 0 || jQuery(deviceId).val().length > 0) {
            return true;
          }

          if (!(jQuery(firstName).val().length > 0 && jQuery(lastName).val().length > 0 && jQuery(zipcode).val().length > 0)) {
            return false;
          }

          if(jQuery(birthdate).val().length !== 0) {
            this.error = Translator.translate("Invalid Date.");
            return checkDateFormat(jQuery(birthdate).val());
          } else {
            jQuery('.validation-advice').css('display' , 'none');
            jQuery('.validation-advice').html('');
          }

          if (jQuery(street).val().length == 0 && jQuery(city).val().length == 0 || jQuery(street).val().length != 0 && jQuery(city).val().length != 0) {
            return true;
          }
        }
        return result;
      });

      Validation.add('validate-normal-search', '', function (v, element) {
        var result = false;
        var normalSearchRequiredFields = $('#customer_search_form').find('.validate-normal-search');
        var customerId = $('#customer_search_form  #customer.validate-normal-search');
        var telephoneNumber = $('#customer_search_form  #telephone_number.validate-normal-search');
        var city = $('#customer_search_form  #city.validate-normal-search');
        var firstName = $('#customer_search_form  #first_name.validate-normal-search');
        var lastName = $('#customer_search_form  #last_name.validate-normal-search');
        var birthdate = $('#customer_search_form  #birthday.validate-normal-search');
        var street = $('#customer_search_form  #street.validate-normal-search');
        var zipcode = $('#customer_search_form  #zipcode.validate-normal-search');
        var houseno = $('#customer_search_form  #no.validate-normal-search');
        var addno = $('#customer_search_form  #addNo.validate-normal-search');
        var allFieldsAreEmpty = true;
        normalSearchRequiredFields.each(function () {
          if (jQuery(this).val().length > 0) {
            allFieldsAreEmpty = false;
          }
        });
        if (allFieldsAreEmpty){
          result = false;
          this.error = Translator.translate("Please fill in some search criteria.");
        } else{
          this.error = Translator.translate("Please fill all the following fields: First Name, Last Name, ZIP and optionally one of the following: Birth Date or City and Street or House Number.");

          if (jQuery(customerId).val().length > 0 || jQuery(telephoneNumber).val().length > 0) {
            return true;
          }
          if (!(jQuery(firstName).val().length > 0 && jQuery(lastName).val().length > 0 && jQuery(zipcode).val().length > 0)){
            return false;
          }
          if(jQuery(birthdate).val().length !== 0){
            this.error = Translator.translate("Invalid Date.");
            return checkDateFormat(jQuery(birthdate).val());
          }else{
            jQuery('.validation-advice').css('display' , 'none');
            jQuery('.validation-advice').html('');
          }
          if(jQuery(addno).val().length > 0){
            if(jQuery(houseno).val().length <= 0){
              return false;
            }
            if(jQuery(street).val().length <= 0){
              return false;
            }
          }

          if(jQuery(houseno).val().length > 0 && jQuery(street).val().length <= 0 ) {
            return false;
          }
          if (jQuery(street).val().length == 0 && jQuery(city).val().length == 0 || jQuery(street).val().length != 0 && jQuery(city).val().length != 0) {
            return true;
          }
        }
        return result;
      });

      <?php if ($ctnParam && !$this->getCustomerId()): ?>
        $('#submit-search').submit();
      <?php endif ?>
  });
    <?php
    $customerSession = Mage::getSingleton('dyna_customer/session');
    if ($customerSession->getAgent()->isGranted(array('SEARCH_CUSTOMER'))) :?>
    var customForm = new VarienForm('customer_search_form', true);
    function searchCustomer() {
      setTimeout(CustomerFiltersSearch.disableAddressCableInput(this), 0);
      var isExactSearch = (jQuery('#exact-search').val() == 1) ? true : false;
      var performExactSearch = (jQuery('#perform-exact-address-search').val() == 1) ? true : false;
      if (customForm.validator.validate()) {
        if (isExactSearch && !performExactSearch) {
          customerDe.validateExactAddress(jQuery('#submit-search'));
        } else {
          if (isExactSearch) {
            customerDe.searchCustomer(jQuery('#submit-search'), true);
          } else {
            customerDe.searchCustomer(jQuery('#submit-search'));
          }
        }
      }
    }
    <?php endif ?>
</script>

<script type="text/javascript">
  jQuery(document).ready(function ($) {
    // OMNVFDE-994: One package of Mobile or DSL, multiple different cable packages
    // OVG-292: Logic updated: package type buttons will not be hidden, but disabled
    // Called from engine.js
    var packageButtonsContainer = $('#package-types');
    var orderEdit = <?php echo $orderEdit ?>;

    getCableIndependentPackages = function () {
      var kudPackages = 0;
      $('.cart_packages').find('.side-cart').each(function () {
        if($(this).attr('data-package-type') == '<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT); ?>'){
          kudPackages++;
        }
      });
      return kudPackages;
    };

    updateCartPackageLine = function () {
      // Enable all buttons by default - except Red+ which is handled in a special flow
      packageButtonsContainer
        .find(".btn-block[data-package-creation-type-id!='" + REDPLUS_CREATION_TYPE_ID + "']")
        .removeClass('show-clear-cart-warning');

      // filter all add buttons by serviceability status
      $(document).trigger("serviceability-check-completed", []);

      // proceed to filtering remaining visible add buttons based on the packages existence in cart
      $('.cart_packages').find('.side-cart').each(function () {
        //skip if package is dummy (part of bundle)
        if($(this).data("dummy-package") == true){
          return true;
        }
        switch ($(this).attr('data-package-type')) {
          case "<?php echo strtolower(Vznl_Catalog_Model_Type::TYPE_FIXED); ?>":
            setAddPackageWarning('<?php echo strtolower(Vznl_Catalog_Model_Type::TYPE_FIXED); ?>');
            break;
          case "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT); ?>":
            // OVG-2191: remove 1-99 limit for KUD
            setAddPackageWarning('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT); ?>');
            break;
          case "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE); ?>":
            setAddPackageWarning('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE); ?>');
            break;
          case "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL);?>":
            setAddPackageWarning('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>');
            break;
          case "<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_LTE);?>":
            setAddPackageWarning('<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_LTE); ?>');
            break;
          default:
            break;
        }
      });

      // handle 'deleta all packages' and 'save and send' buttons
      if($('.cart_packages').has("div[data-package-id]").size() > 0 && !orderEdit) {
        jQuery('#btn-delete-all').removeClass("disabled");
        jQuery('#btn-save-and-send').removeClass("disabled");
      } else {
        jQuery('#btn-delete-all').addClass("disabled");
        jQuery('#btn-save-and-send').addClass("disabled");
      }

      // disable pre-post if permission not valid
      packageButtonsContainer
        .find(".btn-block[data-dtc-disabled='true']")
        .addClass('disabled');

      // disable mobile if permission not valid
      packageButtonsContainer
        .find(".btn-block[data-mobile-disabled='true']")
        .addClass('disabled');

      // disable cable if permission not valid
      packageButtonsContainer
        .find(".btn-block[data-cable-disabled='true']")
        .addClass('disabled')
        .removeClass('requires-serviceability');

      // Disable if has open order. !!! Same logic in sidebar.js
      packageButtonsContainer
        .find('.btn-block.cursor[data-has-open-order="true"][data-target!="' + MOBILE_PACKAGE_TYPES.join('"][data-target!="') + '"]')
        .removeClass("disabled")
        .addClass("disabled");

      // disable fixed if if existing customer has installed base product
      packageButtonsContainer
        .find(".btn-block[data-fixed-disabled='true']")
        .addClass('disabled');
    };

    setAddPackageWarning = function (packageType) {
      packageButtonsContainer.find("[data-target='" + packageType + "']").removeClass('show-clear-cart-warning').addClass('show-clear-cart-warning');
      if (packageType == '<?php echo strtolower(Vznl_Catalog_Model_Type::TYPE_FIXED); ?>') {
          packageButtonsContainer.find("[data-target='" + packageType + "']").addClass('disabled');
      }
    };

    // Call package line update as packages might be in car
    updateCartPackageLine();

    // EOF OMNVFDE-994: One package of Mobile or DSL, multiple different cable packages
    jQuery(document).on("change", ".filter-options", function () {
      var optionSelected = jQuery("option:selected", this);
      configurator.filter(optionSelected);
    });

    // Show notification on refresh
    if(window.customerDe.customerNumber != null &&
      window.customerDe.customerNumber != "" &&
      $('#package-types').find('.btn-block.cursor[data-has-open-order!="false"]').length>0) {
      showNotificationBar('<strong>Open orders in progress.</strong> Some functions will not be available', 'warning');
    }
  });
</script>

<!-- Script for app/design/frontend/vznl/default/template/customer/left_sidebar.phtml -->
<?php
if(!Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) {
    /** Preserver customer data on customerDe after page reload */
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    if ($customer->getId()) {
        $loadCustomer  =  Mage::getSingleton('core/session')->getloadCustomer();
    ?>
        <script type="text/javascript">
          var template = Handlebars.compile(jQuery("#Handlebars-Template-Details-Customer").html());
          jQuery(document).ready(function() {
            <?php if ($loadCustomer || $customer->getId()) : ?>
              var command = { 'mode' : 1, 'isProspect' : false, 'id' : <?php echo $customer->getId(); ?>, 'cartWasCleared' : false, 'doAjaxUpdate' : true };
              jQuery.ajax({
                url: '/customerde/details/loadCustomer',
                type: 'POST',
                data: command,
                success : function (response)  {
                  var customerData = response.customerData;
                  customerData.addressData = response.addressData;
                  customerData.prefix = Translator.translate(response.customerData.prefix);
                  var customersHTML = template(customerData);
                  customerDe.customerData = customerData;
                  customerDe.handleCustomerState();
                  jQuery('.col-left').find('.sticker').html(customersHTML);
                  customerDe.customerNumber = '<?php echo Mage::getSingleton('customer/session')->getCustomer()->getCustomerNumber(); ?>';
                }
              });
            <?php else:
                  $customer = Mage::getSingleton('customer/session')->getCustomer();
                  $customerModel = Mage::getModel('customer/customer');
                  $customerData = $customer;
                  $addressData = Mage::getModel('customer/address')->load($customer->getDefaultBilling());
                  $customerData['dob'] = $customerData['dob'] != "" ? date('d-m-Y', strtotime($customerData['dob'])) : null;
                  $customerData['carts_count'] = count($customer->getShoppingCarts(true));
                  $customerData['products_count'] = count($customer->getdata('ctn'));
                  $customerData['orders_count'] = Mage::helper('vznl_customer')->getCustomerOrderCount();
                  $customerData['ban'] = $customerModel->load($customer->getId())->getBan();
                ?>
                var customerData = <?php echo Mage::helper("core")->jsonEncode($customerData); ?>;
                customerData.addressData = <?php echo Mage::helper("core")->jsonEncode($addressData); ?>;
                customerData.prefix = Translator.translate(customerData.prefix);
                var customersHTML = template(customerData);
                customerDe.customerData = customerData;
                customerDe.handleCustomerState();
                jQuery('.col-left').find('.sticker').html(customersHTML);
                customerDe.customerNumber = '<?php echo Mage::getSingleton('customer/session')->getCustomer()->getCustomerNumber(); ?>';
            <?php endif; ?>
          });
        </script>
    <?php
        Mage::getSingleton('core/session')->setloadCustomer(false);
    }
} else {
    /** Preserver customer data on customerDe after page reload */
    $customer = Mage::getSingleton('customer/session')->getCustomer();
    if ($customer->getId()) {
        $loadCustomer  =  Mage::getSingleton('core/session')->getloadCustomer();
    ?>
        <script type="text/javascript">
          var template = Handlebars.compile(jQuery("#Handlebars-Template-Details-Customer").html());
          jQuery(document).ready(function() {
            <?php if ($loadCustomer || $this->getRequest()->getParam('orderId')) : ?>
              var command = { 'mode' : 1, 'isProspect' : false, 'id' : <?php echo $customer->getId(); ?>, 'cartWasCleared' : false, 'doAjaxUpdate' : true };
              jQuery.ajax({
                url: '/customerde/details/retrieveCustomerJson',
                type: 'POST',
                data: command,
                success : function (response) {
                  var customerData = response.customerData;
                  customerData.addressData = response.addressData;
                  customerData.prefix = Translator.translate(response.customerData.prefix);
                  var customersHTML = template(customerData);
                  customerDe.customerData = customerData;
                  customerDe.handleCustomerState();
                  jQuery('.col-left').find('.sticker').html(customersHTML);
                  customerDe.customerNumber = '<?php echo Mage::getSingleton('customer/session')->getCustomer()->getCustomerNumber(); ?>';
                }
              });
            <?php else:?>
                var template = Handlebars.compile(jQuery("#Handlebars-Template-Details-Customer").html());
                <?php $customerData = Mage::helper('vznl_customer/info')->buildCustomerDetails(); ?>
                var customerData = <?php echo Mage::helper("core")->jsonEncode($customerData); ?>;
                var customersHTML = template(customerData);
                customerDe.customerData = customerData;
                customerDe.handleCustomerState();
                jQuery('.col-left').find('.sticker').html(customersHTML);
                customerDe.customerNumber = '<?php echo Mage::getSingleton('customer/session')->getCustomer()->getCustomerNumber(); ?>';
            <?php endif; ?>
          });
        </script>
    <?php
        Mage::getSingleton('core/session')->setloadCustomer(false);
    }
}
if($customer->getId()) :?>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        customer.setLoggedInCustomer(<?=$customer->getId();?>);
        <?php
            $customerSessionData = Mage::getModel("dyna_customer/session")->getCustomer()->getData();
            if($customerSessionData['additional_attributes']) {
              $customerSessionData['additional_attributes'] = "";
            }
        ?>
        customerDe.customerData = jQuery.parseJSON('<?php
          $unsafeString =  Mage::helper("core")->jsonEncode($customerSessionData);
          $safeString = str_replace("'","\'", $unsafeString );
          echo $safeString;
          ?>'
        );
      });
    </script>
<?php 
endif;

$orderId = $this->getRequest()->getParam('orderId');
if (
  $orderId && 
  !$this->getRequest()->getParam('delivery') &&
  Mage::helper('dyna_checkout')->checkAgentOrderPermissions($orderId) === true
): ?>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        loadOrderDetails(<?php echo json_encode(['number' => $orderId]); ?>);
      });
    </script>
<?php endif;?>
