
<div id="homepage-wrapper">
    <div id="campaigns-loading" class="spinner"></div>
    <div id="campaigns">
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/campaigns_top.phtml')->toHtml(); ?>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/campaigns.phtml')->toHtml(); ?>
    </div>
</div>
