<?php
/** @var Dyna_Page_Block_Menu_Links $this */
$isCustomerLogged = Mage::getSingleton('customer/session')->getCustomer()->getId() != null;
/** @var Vznl_Agent_Model_Agent $agent */
$agent = Mage::getSingleton('customer/session')->getAgent();
$session = Mage::getSingleton('dyna_customer/session');
$uctParams = $session->getData("uct_params");
$isWorkitemLinkEnabled = (bool)Mage::getStoreConfig('omnius_service/workitem_create_link_configuration/link_visibility');
$updateOrderListCall = "updateOrdersSection('%s', null, 0, 1, 'id', 'desc', false);";
$websiteCode = Mage::app()->getWebsite()->getCode();
$isIndirect = $websiteCode == Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE;

/** @var Vznl_Data_Helper_Data $helper */
$helper = Mage::helper('vznl_data');

if ($websiteCode === Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE) {
    $externalLinks = [
        $this->__('Vodafone Vandaag') => $helper->getMenuUrlByType('vodafonevandaag'),
        $this->__('Kamer van Koophandel') => $helper->getMenuUrlByType('kvk'),
    ];
} else {

    switch($websiteCode) {
        case Vznl_Agent_Model_Website::WEBSITE_BELCOMPANY_CODE:
            $faqSettingName = 'faqbelco';
            $resellerSettingName = 'reseller';
            break;
        case Vznl_Agent_Model_Website::WEBSITE_RETAIL_CODE:
            $faqSettingName = 'faqretail';
            $resellerSettingName = 'resellerretail';
            break;
        default:
            $faqSettingName = 'faq';
            $resellerSettingName = 'reseller';
    }

    $externalLinks = [
        'FAQ' => $helper->getMenuUrlByType($faqSettingName),
        'Coach' => $helper->getMenuUrlByType('coach'),
        'CCR' => $helper->getMenuUrlByType('ccr'),
        'GSM Arena' => $helper->getMenuUrlByType('gsmarena'),
        'GSM Wijzer' => $helper->getMenuUrlByType('gsmwijzer'),
        'Kamer van Koophandel' => $helper->getMenuUrlByType('kvk'),
        'Lead aanmaken' => $helper->getMenuUrlByType($resellerSettingName),
    ];
}

?>
<script>
    var lastquery = '';
    function ChangeActive(id) {
        jQuery('.drop-menu .menu_active, .user-menu .menu_active').removeClass("menu_active");
        if(lastquery == id) {
            lastquery = '';
        }else {
            jQuery("#" + id).addClass("menu_active");
            lastquery = id;
        }
    }
</script>
<div class="left-menu">
    <div class="logo-header">
        <a href="<?php echo (Mage::app()->getWebsite()->getCode() !== Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE) ? $this->getUrl() : 'javascript:void(0)'; ?>" <?php if(Mage::app()->getWebsite()->getCode() === Vznl_Agent_Model_Website::WEBSITE_INDIRECT_CODE ){ echo ($isCustomerLogged) ? 'onclick="showLogoutCustomerModal();"' : 'onclick="showCancelCartModal()"'; }?>>
            <img src="<?php echo $this->getSkinUrl('images/vz-logo.svg'); ?>" onerror="this.src='<?php echo $this->getSkinUrl('images/vz-logo.png'); ?>'" class="vz-logo" />
        </a>
    </div>
    <div id="top-menu-dropdown-container" class="ticket-menu-button">
        <div class="dropdown">
            <span class="dropdown-toggle" id="open_orders_menu" onclick="toggleTopMenu(this)" data-toggle="dropdown">
                <img src="<?php echo $this->getSkinUrl('images/icons-navbar-menu.svg'); ?>" onerror="this.src='<?php echo $this->getSkinUrl('images/icons-navbar-menu.png'); ?>'" class="icons-navbar-menu">
            </span>
            <ul class="dropdown-menu" aria-labelledby="open_orders_menu">
                <?php
                if ($agent->canViewCClist()) {
                    ?>
                    <li>
                        <a id="credit-checks-menu" href="#credit-checks-content" data-slidebutton-top="panel"
                           onclick="jQuery('.open-customer-search').addClass('active'); ChangeActive('credit-checks-menu'); updateOrdersSection('credit-checks');">
                            <span><?php echo $this->__('Validations'); ?></span>
                        </a>
                    </li>
                    <?php
                }

                if ($agent->canViewNPlist()) {
                    ?>
                    <li>
                        <a id="number-porting-menu" href="#number-porting-content" data-slidebutton-top="panel"
                           onclick="jQuery('.open-customer-search').addClass('active'); ChangeActive('number-porting-menu'); updateOrdersSection('number-porting');">
                            <span><?php echo $this->__('Number porting'); ?></span>
                        </a>
                    </li>
                    <?php
                }

                if ($agent && Mage::helper('agent')->isTelesalesLine() && $agent->canSearchFailedOrders()) {
                    ?>
                    <li>
                        <a id="failed-validations-menu" href="#failed-validations-content" data-slidebutton-top="panel" onclick="jQuery('.open-customer-search').addClass('active'); ChangeActive('failed-validations-menu'); updateOrdersSection('failed-validations');">
                            <span><?php echo $this->__('Validation Errors'); ?></span>
                        </a>
                    </li>
                    <?php
                }

                if ($agent->canViewWorklist()) {
                    ?>
                    <li>
                        <a id="open-orders-menu" href="#open-orders-content" data-slidebutton-top="panel" onclick="jQuery('.open-customer-search').addClass('active'); ChangeActive('open-orders-menu'); updateOrdersSection('open-orders');">
                            <span><?php echo $this->__('Open orders'); ?></span>
                        </a>
                    </li>
                    <?php
                }

                if ($agent->isGranted(['CREATE_WORKITEM']) && $isWorkitemLinkEnabled) {
                    ?>
                    <li id="workitemModal">
                        <a href="#">
                            <span class="workitem-icon"><?php echo $this->__('Create New Workitem Service'); ?></span>
                        </a>
                    </li>
                    <?php
                }
                if (count($externalLinks) > 0) {
                    echo '<li class="divider"></li>';
                    foreach ($externalLinks as $label => $href) {
                        echo '<li><a href="' . $href . '" target="_blank">' . $label . '</a></li>';
                    }
                }
                ?>
            </ul>
        </div>
    </div>
    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/orders_table.phtml')->setData([
        'pagetitle' => 'Open orders',
        'tabletype' => 'open-orders'
    ])->toHtml(); ?>
    <?php if (Mage::getStoreConfig('dev/debug/php_stub_enabled',Mage::app()->getStore())) { ?>
        <div class="drop-menu service-stub-menu">
            <a id='service-stub-menu' class="header-dropdown-button" href="#service-stub-content" data-slidebutton-top="panel" onclick="ChangeActive('service-stub-menu');">
                <?php echo $this->__('Service Stub') ?>
            </a>
        </div>
    <?php
    }
    echo Mage::getBlockSingleton('page/html')
        ->setTemplate('page/html/orders_table.phtml')
        ->setData([
            'pagetitle' => 'My validations',
            'tabletype' => 'credit-checks'
        ])->toHtml();
    echo Mage::getBlockSingleton('page/html')
        ->setTemplate('page/html/orders_table.phtml')
        ->setData([
            'pagetitle' => 'Validation Errors',
            'tabletype' => 'failed-validations'
        ])->toHtml();
    echo Mage::getBlockSingleton('page/html')
        ->setTemplate('page/html/orders_table.phtml')
        ->setData([
            'pagetitle' => 'Number porting',
            'tabletype' => 'number-porting'
        ])->toHtml();

    if (Mage::getStoreConfig('dev/debug/php_stub_enabled', Mage::app()->getStore())) {
        echo Mage::getBlockSingleton('page/html')
            ->setTemplate('page/html/service_stub.phtml')
            ->toHtml();
    }
    ?>
    <div id="open-orders-content" class="cb_slide_panel" data-section="openorders" data-slidepanel-top="panel"></div>
</div>
