<!--First ajax call to this template is made from js-init.phtml-->
<!--and then updated by-->
<!--engine.js / updateSectionOpenOrdersSection()-->

<script id="openorders-details-template" type="text/template">
    {{#ifCond customerName '!=' ''}}
        <p class="title"><?php echo $this->__('Opened orders result for client') ?> <span class="red">{{customerName}}</span></p>
    {{else}}
        <p class="title"><?php echo $this->__('Open orders') ?>  {{telephone}}</p>
    {{/ifCond}}

    <div class="panel panel-default">
        {{#each orders}}
            {{#ifCond @key '==' 'error'}}
                <div class="panel-heading order_table_details" target='{{@key}}_list' orders_customer="{{../../customerId}}" orders_type="{{@key}}"><span class="menu-arrow-down" style="color: #000; cursor: pointer;">j</span><?php echo $this->__('Orders with error') ?></div>
            {{/ifCond}}
            {{#ifCond @key '==' 'ready'}}
                <div class="panel-heading order_table_details" target='{{@key}}_list' orders_customer="{{../../customerId}}" orders_type="{{@key}}"><span class="menu-arrow-down" style="color: #000; cursor: pointer;">j</span><?php echo $this->__('Orders ready for delivery') ?></div>
            {{/ifCond}}
            {{#ifCond @key '==' 'check'}}
                <div class="panel-heading order_table_details" target='{{@key}}_list' orders_customer="{{../../customerId}}" orders_type="{{@key}}"><span class="menu-arrow-down" style="color: #000; cursor: pointer;">j</span><?php echo $this->__('Orders waiting for credit check or porting') ?></div>
            {{/ifCond}}
            {{#ifCond @key '==' 'other'}}
                <div class="panel-heading order_table_details" target='{{@key}}_list' orders_customer="{{../../customerId}}" orders_type="{{@key}}"><span class=" menu-arrow-down" style="color: #000; cursor: pointer;">j</span><?php echo $this->__('Other orders') ?></div>
            {{/ifCond}}
            {{#ifCond ../customerName '!=' ''}}
                {{#ifCond ../../bsl '==' '1'}}
                    {{#ifCond @key '==' 'inlife'}}
                        <div class="panel-heading order_table_details" target='{{@key}}_list' orders_customer="{{../../../../customerId}}" orders_type="{{@key}}"><span class=" menu-arrow-down" style="color: #000; cursor: pointer;">j</span><?php echo $this->__('U-FIX orders') ?></div>
                    {{/ifCond}}
                {{/ifCond}}
            {{/ifCond}}

            <table class="{{@key}}_list orders_table table table-condensed" orders_customer="{{../customerId}}" xmlns="http://www.w3.org/1999/html">
                <thead>
                <tr class="active">
                    <th class="oo-middle">
                        {{#ifCond order_byfield '==' 'id'}}
                            {{#ifCond order_type '==' 'desc'}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="id" oder-type="asc">
                                    <span><?php echo $this->__('Order date') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">B</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                            {{#ifCond order_type '==' 'asc'}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="id" oder-type="desc">
                                    <span><?php echo $this->__('Order date') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">u</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                        {{else}}
                            <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="id" oder-type="desc">
                                <span><?php echo $this->__('Order date') ?></span>
                                {{#ifCond @key '!=' 'inlife'}}
                                    <span class="menu-arrow-down oo-middle">n</span>
                                {{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </th>
                    {{#ifCond ../customerName '==' ''}}
                        <th class="oo-middle">
                            <span><?php echo $this->__('Client number') ?></span>
                        </th>
                        <th class="oo-middle">
                            {{#ifCond order_byfield '==' 'cn'}}
                                {{#ifCond order_type '==' 'desc'}}
                                        <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="cn" oder-type="asc">
                                            <span><?php echo $this->__('Customer name') ?></span>
                                            {{#ifCond @key '!=' 'inlife'}}
                                                <span class="menu-arrow-down oo-middle">B</span>
                                            {{/ifCond}}
                                        </span>
                                {{/ifCond}}
                                {{#ifCond order_type '==' 'asc'}}
                                        <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="cn" oder-type="desc">
                                            <span><?php echo $this->__('Customer name') ?></span>
                                            {{#ifCond @key '!=' 'inlife'}}
                                                <span class="menu-arrow-down oo-middle">u</span>
                                            {{/ifCond}}
                                        </span>
                                {{/ifCond}}
                            {{else}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="cn" oder-type="desc">
                                    <span><?php echo $this->__('Customer name') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">n</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                        </th>
                    {{/ifCond}}
                    <th class="oo-middle">
                        <span><?php echo $this->__('Mobile number') ?></span>
                    </th>
                    <th class="oo-middle">
                        <span><?php echo $this->__('Order number') ?></span>
                    </th>
                    <th class="oo-middle">
                        {{#ifCond order_byfield '==' 'status'}}
                            {{#ifCond order_type '==' 'desc'}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="status" oder-type="asc">
                                    <span><?php echo $this->__('Order Status') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">B</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                            {{#ifCond order_type '==' 'asc'}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="status" oder-type="desc">
                                    <span><?php echo $this->__('Order Status') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">u</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                        {{else}}
                            <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="status" oder-type="desc">
                                <span><?php echo $this->__('Order Status') ?></span>
                                {{#ifCond @key '!=' 'inlife'}}
                                    <span class="menu-arrow-down oo-middle">n</span>
                                {{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </th>
                    <th class="oo-middle">
                        {{#ifCond order_byfield '==' 'package_nr'}}
                            {{#ifCond order_type '==' 'desc'}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="package_nr" oder-type="asc">
                                    <span><?php echo $this->__('Number of packages') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">B</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                            {{#ifCond order_type '==' 'asc'}}
                                <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="package_nr" oder-type="desc">
                                    <span><?php echo $this->__('Number of packages') ?></span>
                                    {{#ifCond @key '!=' 'inlife'}}
                                        <span class="menu-arrow-down oo-middle">u</span>
                                    {{/ifCond}}
                                </span>
                            {{/ifCond}}
                        {{else}}
                            <span {{#ifCond @key '!=' 'inlife'}} class="openorderby" {{/ifCond}} orders_customer="{{../../../customerId}}"  orders-results='{{results_per_page}}' cluster="{{@key}}" order-by="package_nr" oder-type="desc">
                                <span><?php echo $this->__('Number of packages') ?></span>
                                {{#ifCond @key '!=' 'inlife'}}
                                    <span class="menu-arrow-down oo-middle">n</span>
                                {{/ifCond}}
                            </span>
                        {{/ifCond}}
                    </th>
                    <th class="oo-middle">
                        <span><?php echo $this->__('Details') ?></span>
                        <span class="menu-arrow-down oo-middle">&nbsp;</span>
                    </th>
                    <th></th>
                </tr>
                </thead>
                {{#ifCond @key '!=' 'inlife'}}
                    <tr>
                        {{#ifCond ../../customerName '==' ''}}
                            <td colspan="9">
                        {{else}}
                            <td colspan="7">
                        {{/ifCond}}
                                <span>
                                    <span>Results: </span><span class="open_orders_results"><input type='number' min="1" max="<?php echo Mage::getStoreConfig('agent_configuration/open_orders_limits/maximum_oo_results'); ?>" orders_customer="{{../../customerId}}" orders_section="{{@key}}" order-by="{{../order_byfield}}"  orders_type="{{../order_type}}" value='{{../results_per_page}}'></span><span class="open_order_results_change menu-arrow-down oo-middle">j</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </span>
                            </td>
                    </tr>
                {{/ifCond}}
                {{#if orders}}
                    {{#each orders}}
                    <tr class="order_details top-menu-element" cluster="{{@key}}" order_number="{{number}}">
                        <td><span class="menu-arrow-down" style="color: #000; cursor: pointer; font-size: 8px;">j</span> <span>{{date}}</span></td>
                        {{#ifCond ../../../customerName '==' ''}}
                            <td style="max-width: 100px;">{{customer_ban}}</td>
                            <td style="max-width: 100px;">{{customer_name}}</td>
                        {{/ifCond}}
                        <td>{{phone_number}}</td>
                        <td>{{number}}</td>
                        <td class="open-orders-30">{{order_Status}}</td>
                        <td>{{packages_number}}</td>
                        <td class="order_nowrap">
                            {{#ifCond has_hardware '==' '1'}}
                            <span class="vf-icon">s</span>
                            {{/ifCond}}
                            {{#ifCond has_fixed '==' '1'}}
                            <img style="width:9px;" src="/skin/frontend/vznl/default/images/fixed_icon.png" />
                            {{/ifCond}}
                            {{#if details.error.message}}
                                    <span class="open_order_error_info" open_order_error_code="{{details.error.code}}" open_order_error_message="{{details.error.message}}">
                                        <div class="open_order_error">
                                            <div class="open_order_error_code">
                                                {{details.error.code}}
                                            </div>
                                            <div class="open_order_error_message">
                                                {{details.error.message}}
                                            </div>
                                            {{#if ../has_number_porting}}
                                            <div class="has-porting">
                                                <?php echo $this->__('Order with number porting') ?>
                                            </div>
                                            {{/if}}
                                        </div>
                                        <img src="/skin/frontend/omnius/default/images/i_notice.gif" width="15">
                                    </span>
                            {{/if}}
                            <span>{{details.days_in_status}} d</span>
                        </td>
                        <td width="205px">
                            {{#ifCond @key '!=' 'inlife'}}
                                <div>
                                    <button type="button" class="btn btn-primary pull-left top-menu-stop-propagation" onclick="checkPackage(this, '{{number}}'); event.stopPropagation(); window.event.cancelBubble = true;"><?php echo $this->__('Please Select'); ?></button>
                                    <img class="open-orders-spinner pull-left hide" width="20" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt=""/>
                                </div>
                                <button type="button" class="btn btn-primary pull-right top-menu-stop-propagation" data-customer="{{../customer_id}}" data-order="{{../number}}" {{#ifCond ../../../../section '!=' 'customer-screen-orders' }} onclick="showInitOrderModal(this); event.stopPropagation(); window.event.cancelBubble = true;" {{else}} onclick="viewOrder(this); event.stopPropagation(); window.event.cancelBubble = true;" {{/ifCond}}>
                                    <?php echo $this->__("See"); ?>
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                            {{/ifCond}}
                        </td>
                    </tr>
                    {{#ifCond @key '!=' 'inlife'}}
                        <tr class="package_target">
                            <td></td>
                            {{#ifCond ../../../../customerName '==' ''}}
                                <td colspan="8">
                            {{else}}
                                <td colspan="6">
                            {{/ifCond}}
                                <table class="table table-condensed package_table" xmlns="http://www.w3.org/1999/html">
                                    <tr class="package_target_header">
                                        <td><b><?php echo $this->__('Package ID') ?></b></td>
                                        <td><b><?php echo $this->__('Package status') ?></b></td>
                                        <td><b><?php echo $this->__('Ordertype') ?></b></td>
                                        <td><b><?php echo $this->__('Details') ?></b></td>
                                        <td width="20%">&nbsp;</td>
                                    </tr>
                                    {{#each ../packages}}
                                    <tr data-id="{{package_id}}">
                                        <td>{{package_id}}</td>
                                        <td>{{status}}</td>
                                        <td>{{order_type}}</td>
                                        <td class="order_nowrap">
                                            {{#ifCond has_hardware '==' '1'}}
                                            <span class="vf-icon">s</span>
                                            {{/ifCond}}
                                            {{#ifCond has_fixed '==' '1'}}
                                            <img style="width:9px;" src="/skin/frontend/vznl/default/images/fixed_icon.png" />
                                            {{/ifCond}}
                                            {{#if details.error.message}}
                                                        <span class="open_order_error_info">
                                                            <div class="open_order_error">
                                                                <div class="open_order_error_code">
                                                                    {{details.error.code}}
                                                                </div>
                                                                <div class="open_order_error_message">
                                                                    {{details.error.message}}
                                                                </div>
                                                            </div>
                                                            <img src="/skin/frontend/omnius/default/images/i_notice.gif" width="15">
                                                        </span>
                                            {{/if}}
                                            <span>{{details.days_in_status}} d</span>
                                        </td>
                                        <td class="order-edit-buttons">
                                            &nbsp; 
                                        </td>
                                    </tr>
                                    {{/each}}
                                </table>
                            </td>
                        </tr>
                    {{/ifCond}}
                    {{/each}}
                    {{#ifCond @key '!=' 'inlife'}}
                        <tr>
                            {{#ifCond ../../../customerName '==' ''}}
                            <td colspan="9" class="open_orders_pagination_container">
                                {{else}}
                            <td colspan="7" class="open_orders_pagination_container">
                                {{/ifCond}}
                                <ul class="pagination pagination-open-orders">
                                    {{#ifCond ../page '>' '1'}}
                                        <li orders-page='{{../../prev_page}}' orders-results='{{../results_per_page}}' orders_type="{{../order_type}}" order-by="{{../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../customerId}}">
                                            <a href="javascript:void(0)" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {{else}}
                                            <li orders-page='{{../../page}}' orders-results='{{../results_per_page}}' orders_type="{{../order_type}}" order-by="{{../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../customerId}}" class='disabled'>
                                                <a href="javascript:void(0)" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                    {{/ifCond}}
                                    {{#each pages}}
                                        {{#ifCond this '==' ../../page}}
                                            <li class='active' orders-page='{{this}}' orders-results='{{../../../results_per_page}}' orders_type="{{../../../order_type}}" order-by="{{../../../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../../customerId}}"><a href="javascript:void(0)">{{this}}</a></li>
                                        {{else}}
                                            {{#ifCond this '==' '...'}}
                                                <li class='disabled' orders-page='{{this}}' orders-results='{{../../../../results_per_page}}' orders_type="{{../../../../order_type}}" order-by="{{../../../../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../../../customerId}}"><a href="javascript:void(0)">{{this}}</a></li>
                                            {{else}}
                                                <li orders-page='{{this}}' orders-results='{{../../../../results_per_page}}' orders_type="{{../../../../order_type}}" order-by="{{../../../../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../../../customerId}}"><a href="javascript:void(0)">{{this}}</a></li>
                                            {{/ifCond}}
                                        {{/ifCond}}
                                    {{/each}}
                                    {{#ifCond ../page '!=' next_page}}
                                        <li orders-page='{{../../next_page}}' orders-results='{{../results_per_page}}' orders_type="{{../order_type}}" order-by="{{../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../customerId}}">
                                            <a href="javascript:void(0)" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {{else}}
                                        <li orders-page='{{this}}' orders-results='{{../results_per_page}}' orders_type="{{../order_type}}" order-by="{{../order_byfield}}"  orders_section="{{@key}}" orders_customer="{{../../../../customerId}}" class='disabled'>
                                            <a href="javascript:void(0)" aria-label="Previous">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {{/ifCond}}
                                </ul>
                            </td>
                        </tr>
                    {{/ifCond}}
                {{else}}
                    <tr>
                        <td colspan="9">No results</td>
                    </tr>
                {{/if}}
            </table>
        {{/each}}
    </div>
</script>
