<script id="openorders-details-template" type="text/template">
    <?php
        $customerSession = Mage::getSingleton('customer/session');
    ?>
    <div class="open-orders-container">
        <div class="row">
            <div class="col-md-12">
                <p onclick="closeOpenOrdersPanel()" class="orders-close-button"><span class="menu-arrow-left" style="color: #000; cursor: pointer; font-size: 15px;">o</span> <?php echo $this->__('Customer search'); ?></p>
                <h1 class="open-orders-header-title"><?php echo $this->__('Open orders'); ?></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-sm-6 col-md-5 col-lg-4">
                <div class="nav btn-group">
                    <a data-cluster="error" href="javascript:void(0)" class="open_order_cluster_type btn btn-default el-tab {{#ifCond currentCluster '===' 'error'}} active active-cluster {{/ifCond}}"><?php echo $this->__('Orders with errors'); ?></a>
                    <a data-cluster="no-error" href="javascript:void(0)" class="open_order_cluster_type btn btn-default el-tab {{#ifCond currentCluster '===' 'no-error'}} active active-cluster {{/ifCond}}"><?php echo $this->__('All open orders'); ?></a>
                </div>
            </div>
            <div class="col-xs-3 col-sm-6 col-md-7 col-lg-8">
                <div class="row">
                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-2 col-order_filter_results_per_page">
                        <input id="order_filter_results_per_page" type="text" class="form-control left" size="2" value="{{resultsPerPage}}"/>
                        <span id="order_filter_results_per_page_submit" class="results-button">></span>
                    </div>
                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-10" style="line-height: 30px;">
                        <span><?php echo $this->__('Results per page'); ?></span>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        {{#if this.error}}
        <div class="text-center open-orders-search-error">{{ this.message }}</div>
        {{else}}
        <div class="panel panel-default openorders-panel">
            <table class="table table-condensed" style="display: table">
                <thead>
                <tr>
                    <th>
                        <span></span>
                    </th>
                    <th class="col-md-1">
                        <span class="openorderby">
                            <span><?php echo $this->__('Date'); ?></span>
                        </span>
                    </th>
                    <th class="col-md-1">
                        <span><?php echo $this->__('Customer Number'); ?></span>
                    </th>
                    <th class="col-md-2">
                        <span class="openorderby">
                            <span><?php echo $this->__('Customer'); ?></span>
                        </span>
                    </th>
                    <th class="col-md-1">
                        <span><?php echo $this->__('Telephone'); ?></span>
                    </th>
                    <th class="col-md-1">
                        <span><?php echo $this->__('Stack'); ?></span>
                    </th>
                    <th class="col-md-1">
                        <span><?php echo $this->__('Order Number'); ?></span>
                    </th>
                    <th class="col-md-1">
                        <span class="openorderby">
                            <span><?php echo $this->__('Status'); ?></span>
                        </span>
                    </th>
                    <th class="col-md-2">
                        <span class="openorderby">
                            <span><?php echo $this->__('Number of packages'); ?></span>
                        </span>
                    </th>
                    <th class="col-md-1">
                        <span><?php echo $this->__('Details'); ?></span>
                    </th>
                    <th class="col-md-1">
                        <span>&nbsp;</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each orders}}
                <tr class="order_details">
                    <td><span class="menu-arrow-down" style="color: #000; cursor: pointer; font-size: 8px;">k</span></td>
                    <td>{{ this.creationDate }}</td>
                    <td>{{ this.customerNumber }}</td>
                    <td>
                        {{#if this.customerCompany}}
                            {{this.customerCompany}}
                        {{else}}
                            {{ this.customerFirstName }} {{ this.customerLastName}}
                        {{/if}}
                    </td>
                    <td>{{ this.customerPhoneNumber }}</td>
                    <td>
                        {{#if this.has_mobile}}
                        <span class="type-customer-icon no-mobile-selected"></span>
                        {{/if}}
                        {{#if this.has_cable}}
                        <span class="type-customer-icon no-cable-selected"></span>
                        {{/if}}
                        {{#if this.has_fixed}}
                        <span class="type-customer-icon no-fixed-selected"></span>
                        {{/if}}
                    </td>
                    <td>{{ this.orderNumber }}</td>
                    <td>{{ this.status }}</td>
                    <td>{{ this.numberOfPackages }}</td>
                    <td>
                        {{#if this.details.error_code}}
                            <span class="open_order_error_info" data-toggle="tooltip" data-placement="bottom" title="{{ this.details.error_details }}"></span>
                        {{/if}}
                        <span class="order-details"></span>
                        <span class="rel-bottom5">{{ this.daysInStatus }} <?php echo $this->__('days'); ?></span>
                    </td>
                    <td>
                        <button type="button" onclick="window.location='/checkout/cart/view/order_number/{{ this.orderNumber }}';event.stopPropagation(); window.event.cancelBubble = true;" class="btn btn-primary btn-small order-show-button"><?php echo $this->__('Show'); ?></button>
                    </td>
                </tr>
                <tr class="package_target" style="display:none;">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td colspan="6">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-md-1">
                                        <span><?php echo $this->__('Package ID'); ?></span>
                                    </th>
                                    <th class="col-md-1">
                                        <span>&nbsp;</span>
                                    </th>
                                    <th class="col-md-1">
                                        <span><?php echo $this->__('Order type'); ?></span>
                                    </th>
                                    <th class="col-md-1">
                                        <span><?php echo $this->__('Package status'); ?></span>
                                    </th>
                                    <th class="col-md-2">
                                        <span>&nbsp;</span>
                                    </th>
                                    <th class="col-md-1 rel-left5">
                                        <span><?php echo $this->__('Details'); ?></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.packages}}
                                <tr>
                                    <td>{{ this.id }}</td>
                                    <td class="rel-right5">
                                        {{#ifCond this.type '==' 'cable'}}
                                        <span class="type-customer-icon no-cable-selected"></span>
                                        {{/ifCond}}
                                        {{#ifCond this.type '==' 'fixed'}}
                                        <span class="type-customer-icon no-fixed-selected"></span>
                                        {{/ifCond}}
                                        {{#ifCond this.type '==' 'mobile'}}
                                        <span class="type-customer-icon no-mobile-selected"></span>
                                        {{/ifCond}}
                                    </td>
                                    <td>
                                        {{ this.orderType }}
                                    </td>
                                    <td>
                                        {{ this.packageStatus }}
                                    </td>
                                    <td>
                                        <span>&nbsp;</span>
                                    </td>
                                    <td class="rel-left5">
                                        <span class="order-details"></span>
                                        <span class="rel-bottom5">{{ ../this.daysInStatus }} <?php echo $this->__('days'); ?></span>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
            <input type="hidden" id="current_page_number" value="{{current_page_number}}"/>
            <input type="hidden" id="current_cluster" value="{{currentCluster}}"/>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <a type="button" class="btn btn default pagination_button {{#unless has_prev_page}}disabled{{/unless}}" onclick="loadOpenOrders({{prev_page}},'{{currentCluster}}',{{resultsPerPage}});"><i class="fa fa-angle-double-left"></i></a>
                <a type="button" class="btn btn default pagination_button {{#unless has_next_page}}disabled{{/unless}}" onclick="loadOpenOrders({{next_page}},'{{currentCluster}}',{{resultsPerPage}});"><i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
        {{/if}}
    </div>
</script>
