<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 *
 */

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
?>
<div id="<?=$this->tabletype?>-content" class="cb_slide_panel" data-section="<?=$this->tabletype?>" data-slidepanel-top="panel">
    <div class="wrapper menu-wrapper">
        <a href="javascript:void(0)" class="close">Close</a>
        <div class="inner">
            <div class="user-menu-buttons col-xs-12">
                <div id="oo-tabs" class="nav btn-group hidden">
                    <?php if (!$agentHelper->isIndirectStore()): ?>
                        <a href="javascript:void(0)" class="btn btn-default open-customer-search" data-toggle="tab" onclick="jQuery('.customer_left_search').show();" data-section="<?=$this->tabletype?>"><?php echo $this->__('Customer search') ?></a>
                        <a href="javascript:void(0)" name="oo-my-store-tab" onclick="jQuery('.open-customer-search').removeClass('active'); jQuery('#<?=$this->tabletype?>-content .customer_left_search').hide(); updateOrdersSection('<?=$this->tabletype?>', null, 0, 1, 'id', 'desc', false);" class="btn btn-default open-orders-result" data-toggle="tab" data-section="<?=$this->tabletype?>"><?php echo $this->__('Orders') ?></a>
                    <?php endif; ?>
                </div>
            </div>
            <div class="col-xs-12 menu-middle">
                <div class="tab-content">
                    <?php if (!$agentHelper->isIndirectStore()): ?>
                        <div class="tab-pane active" id="oo-<?=$this->tabletype?>-search">
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div id="<?=$this->tabletype?>-no-search-results">
                                        <p class="title"><?php echo $this->__($this->pagetitle) ?></p>
                                        <?php echo $this->__('Loading') ?>
                                    </div>
                                    <div id="<?=$this->tabletype?>-search-results" class="clearfix hidden"><!-- Filled with ajax --></div>
                                </div>
                            </div>
                        </div>
                    <?php else : ?>
                        <div class="tab-pane active" id="oo-<?=$this->tabletype?>-search">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="<?=$this->tabletype?>-no-search-results">
                                        <p class="title"><?php echo $this->__('Results') ?></p>
                                        <?php echo $this->__('Loading') ?>
                                    </div>
                                    <div id="<?=$this->tabletype?>-search-results" class="clearfix hidden"><!-- Filled with ajax --></div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            jQuery('#<?=$this->tabletype?>-content .customer_left_search').hide();
                        </script>
                    <?php endif; ?>
                </div>
                <div id="ajax-item-details-<?=$this->tabletype?>" class="clearfix ajax-details">
                    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/orders_details.phtml')->toHtml(); ?>
                </div>
            </div>
        </div>
    </div>
</div>