<?php
/** @var Vznl_Checkout_Helper_Data $checkoutHelper */
$checkoutHelper = Mage::helper('checkout');
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$isProspect = Mage::getSingleton('dyna_customer/session')->getProspect();
$isBusiness = $customer->getIsBusiness();
$quote = Mage::getSingleton('checkout/cart')->getQuote();
if ($quote && !$isBusiness && $quote->getCustomerIsBusiness()) {
    $isBusiness = true;
}
$isGuest = (!$customer->getCorrespondanceEmail());
$validateBackendEmail = $isGuest ? ' validate-backend-email' : '';
//reload customer
$customer = Mage::getModel('customer/customer')->load($customer->getId());


if ($customer) {
    $billingAddress = Mage::getModel('customer/address')->load($customer->getDefaultBilling());
    $quoteAddress = $customer->getDefaultBillingAddress();
} else {
    $billingAddress = null;
    $quoteAddress = $quote->getBillingAddress();
}


$serviceAddress = $quote->getServiceAddress() ? unserialize($quote->getServiceAddress()) : [];

$serviceStreet = isset($serviceAddress["street"]) ? $serviceAddress["street"] : '';
$serviceHouseNumber = isset($serviceAddress["housenumber"]) ? $serviceAddress["housenumber"] : '';
$serviceHouseAdd = isset($serviceAddress["housenumberaddition"]) ? $serviceAddress["housenumberaddition"] : '';
$servicePostalCode = isset($serviceAddress["postalcode"]) ? $serviceAddress["postalcode"] : '';
$serviceCity = isset($serviceAddress["city"]) ? $serviceAddress["city"] : '';

$postCode = $quoteAddress && $quoteAddress->getPostcode() ? $quoteAddress->getPostcode() : $servicePostalCode;
$city = $quoteAddress && $quoteAddress->getCity() ? $quoteAddress->getCity() : $serviceCity;
$street = $quoteAddress && $quoteAddress->getStreetName()? $quoteAddress->getStreetName() : $serviceStreet;
$houseno = $quoteAddress && $quoteAddress->getHouseNo()  ? $quoteAddress->getHouseNo() : $serviceHouseNumber;
$houseadd = $quoteAddress && $quoteAddress->getHouseAdd() ? $quoteAddress->getHouseAdd() : $serviceHouseAdd;
$phoneNumber = $quoteAddress ? $quoteAddress->getTelephone() : $customer->getPhonenumber();

?>
<!-- Save Cart Modal -->
<div class="modal new-style-modal fade" id="save-cart-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <form id="save-cart-form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeSaveCartModal()" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="saveCartModalLabel" data-title-send-offer="<?php echo $this->__("Send offer"); ?>" data-title-send-shoppping-bag="<?php echo $this->__("Send shopping bag"); ?>"><?php echo $this->__("Save and send shopping bag"); ?></h4>
                    <div class="alert notification-banner error new-ui-elements hidden">
                        <div class="notification-banner-text">
                            <div class="notification-banner-title"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-body small-col-spacing">
                    <!-- CART ID -->
                    <input type="hidden" name="cart_id" value=""/>
                    <!-- GUEST -->
                    <input type="hidden" name="guest" value="<?=$customer->getId() ? 0 : 1;?>"/>

                    <div class="row">
                        <!-- CUSTOMER TYPE -->
                        <div class="col col-sm-6">
                            <div class="form-group<?php echo $customer->getCorrespondanceEmail() ? ' disabled' : ''; ?>">
                                <div class="input-wrapper select-wrapper">
                                    <label class="control-label"><?php echo $this->__('Customer type'); ?></label>
                                    <select
                                        id="type"
                                        name="type"
                                        <?php if ($customer->getCorrespondanceEmail()) echo " readonly"; ?>
                                    >
                                        <option></option>
                                        <option value="0" <?php echo ($isBusiness) ? '' : ' selected'; ?>>
                                            <?php echo $this->__('Private'); ?>
                                        </option>
                                        <option value="1" <?php echo ($isBusiness) ? ' selected' : ''; ?>>
                                            <?php echo $this->__('Business'); ?>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- SALUTATION -->
                        <div class="col col-sm-6 private-customer-fields <?php echo ($isBusiness) ? 'hide' : ''; ?>">
                            <div class="form-group<?php echo $customer->getGender() ? ' disabled' : ''; ?>">
                                <div class="input-wrapper select-wrapper">
                                    <label><?php echo $this->__('Salutation'); ?></label>
                                    <select
                                        id="title"
                                        name="title"
                                        <?php if ($customer->getGender()) echo " readonly"; ?>
                                    >
                                        <option></option>
                                        <option value="1" <?php echo $customer->getGender() == 1 ? ' selected' : ''; ?>>
                                            <?php echo $this->__('Mr.'); ?>
                                        </option>
                                        <option value="2" <?php echo $customer->getGender() == 2 ? ' selected' : ''; ?>>
                                            <?php echo $this->__('Mrs.'); ?>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- COMPANY NAME -->
                        <div class="col col-sm-6 business-customer-fields <?php echo (!$isBusiness) ? 'hide' : ''; ?>">
                            <div class="form-group label-floating <?php echo $customer->getCompanyName() ? ' disabled' : ''; ?>">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('Company Name'); ?></label>
                                    <input
                                        id="companyname"
                                        name="companyname"
                                        type="text"
                                        class="<?php echo $customer->getCompanyName() ? '' :'required-entry'?>"
                                        data-prefill="<?php echo $customer->getCompanyName() ?: ''; ?>"
                                        value="<?php echo $customer->getCompanyName() ?: ''; ?>"
                                        <?php if ($customer->getCompanyName()) echo " readonly"; ?>
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row private-customer-fields <?php echo ($isBusiness) ? 'hide' : ''; ?>">
                        <!-- CUSTOMER NAME -->
                        <div class="col col-sm-3">
                            <div class="form-group <?php if ($customer->getFirstname()) echo "disabled"; ?>">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('Initials'); ?></label>
                                    <input
                                        id="firstname"
                                        name="firstname"
                                        type="text" onchange="convertToUpperCase(this)"
                                        class="form-control <?php echo ($customer->getFirstname()) ? '' : 'required-entry validate-name'; ?>"
                                        data-prefill="<?php echo $customer->getFirstname() ?: ''; ?>"
                                        value="<?php echo $customer->getFirstname() ?: '' ?>"
                                        <?php if ($customer->getFirstname()) echo " readonly"; ?>
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-3">
                            <div class="form-group <?php if ($customer->getFirstname()) echo "disabled"; ?>">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('Insertion'); ?></label>
                                    <input
                                        id="initial"
                                        name="initial"
                                        type="text" onchange="convertToUpperCase(this)"
                                        class="form-control <?php echo ($customer->getFirstname()) ? '' : 'validate-name'; ?>"
                                        data-prefill="<?php echo $customer->getMiddlename() ?: ''; ?>"
                                        value="<?php echo $customer->getMiddlename() ?: ''; ?>"
                                        <?php if ($customer->getFirstname()) echo " readonly"; ?>
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="form-group <?php if ($customer->getLastname()) echo "disabled"; ?>">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('Last name'); ?></label>
                                    <input
                                        id="lastname"
                                        name="lastname"
                                        type="text"
                                        class="form-control <?php echo $customer->getLastname() ? '' : 'required-entry validate-name'; ?>"
                                        data-prefill="<?php echo $customer->getLastname() ?: ''; ?>"
                                        value="<?php echo $customer->getLastname() ?: ''; ?>"
                                        <?php if ($customer->getLastname()) echo " readonly"; ?>
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row private-customer-fields <?php echo ($isBusiness) ? 'hide' : ''; ?>">
                        <div class="col col-sm-12">
                            <div class="form-group label-floating <?php if ($customer->getDob()) echo " disabled"; ?>">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('Birth date'); ?> (<?php echo $this->__('DD-MM-YYYY'); ?>)</label>
                                    <?php
                                    $dob = strtotime($customer->getDob());
                                    $dobFormatted = $dob ? date('d-m-Y', $dob) : '';
                                    ?>
                                    <input
                                        id="dob"
                                        name="dob"
                                        type="text"
                                        class="form-control <?php echo $dobFormatted ? '':'required-entry validate-dob validate-date-nl validate-min-age validate-max-age date-format-nl';?>"
                                        placeholder="<?php echo $this->__('DD-MM-YYYY'); ?>"
                                        data-prefill="<?php echo $dobFormatted; ?>"
                                        value="<?php if ($dob) echo $dobFormatted; ?>"
                                        <?php if ($dob) echo " readonly"; ?>                                                                                                                
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CUSTOMER ADDRESS -->
                    <input type="hidden" id="address[address]" name="address[address]" value="other_address" />
                    <div class="search-address">
                        <div class="search-address-form otherAddress">
                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="form-group label-floating <?php if ($postCode) echo " disabled"; ?>">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('Postal code'); ?></label>
                                            <input
                                                    id="address[quoteAddress][postcode]"
                                                    name="address[quoteAddress][postcode]"
                                                    type="text"
                                                    class="form-control <?php echo ($customer && $postCode) ? '' : 'required-entry format-postcode-nl validate-postcode-nl'?>"
                                                    data-prefill="<?php echo $postCode; ?>"
                                                    value="<?php echo $postCode ?>"
                                                <?php if ($postCode) echo " readonly"; ?>
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-3">
                                    <div class="form-group label-floating <?php if ($houseno) echo " disabled"; ?>">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('No.'); ?></label>
                                            <input
                                                    id="address[quoteAddress][houseno]"
                                                    name="address[quoteAddress][houseno]"
                                                    type="text"
                                                    class="form-control <?php echo ($customer && $houseno) ? '' : 'validate-house-number'?>"
                                                    data-prefill="<?php echo $houseno; ?>"
                                                    value="<?php echo $houseno; ?>"
                                                <?php if ($houseno) echo " readonly"; ?>
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-3">
                                    <div class="form-group label-floating <?php if ($houseno) echo " disabled"; ?>">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('Suffix'); ?></label>
                                            <input
                                                    id="address[quoteAddress][addition]"
                                                    name="address[quoteAddress][addition]"
                                                    type="text"
                                                    class="form-control"
                                                    data-prefill="<?php echo $houseadd; ?>"
                                                    value="<?php echo $houseadd; ?>"
                                                <?php if ($houseadd) echo " readonly"; ?>
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-sm-6">
                                    <div class="form-group label-floating <?php if ($street) echo " disabled"; ?>">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('Street'); ?></label>
                                            <input
                                                    id="address[quoteAddress][street]"
                                                    name="address[quoteAddress][street]"
                                                    type="text"
                                                    class="form-control <?php echo ($customer && $street) ? '' : 'validate-name'?>"
                                                    data-prefill="<?php echo $street ?>"
                                                    value="<?php echo $street; ?>"
                                                <?php if ($street) echo " readonly"; ?>
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-6">
                                    <div class="form-group label-floating <?php if ($city) echo "disabled"; ?>">
                                        <div class="input-wrapper">
                                            <label class="control-label"><?php echo $this->__('Town/City'); ?></label>
                                            <input
                                                    id="address[quoteAddress][city]"
                                                    name="address[quoteAddress][city]"
                                                    type="text"
                                                    class="form-control <?php echo ($customer && $city) ? '' : 'validate-name'?>"
                                                    data-prefill="<?php echo $city; ?>"
                                                    value="<?php echo $city; ?>"
                                                <?php if ($city) echo " readonly"; ?>
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="hidden otherAddressFound">
                                <!-- Filled with ajax -->
                            </ul>
                        </div>
                    </div>
                    <!-- PHONE NUMBER -->
                    <div class="row">
                        <div class="padding-right">
                            <div class="separator-single bottom-margin"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="form-group label-floating <?php if ($phoneNumber) echo "disabled"; ?>">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('Phone number'); ?></label>
                                    <input
                                            id="address[quoteAddress][telephone]"
                                            name="address[telephone]"
                                            type="text"
                                            class="form-control <?php echo ($customer && $phoneNumber) ? '' : 'required-entry validate-phone-number'?>"
                                            value="<?php echo $phoneNumber ?: ''; ?>"
                                            data-prefill="<?php echo $phoneNumber; ?>"
                                        <?php if ($phoneNumber) echo " readonly"; ?>
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- EMAIL ADDRESS -->
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="form-group label-floating additional-email">
                                <div class="input-wrapper">
                                    <label class="control-label"><?php echo $this->__('E-mail'); ?></label>
                                    <input
                                        id="email_send"
                                        name="email_send"
                                        type="text"
                                        class="form-control required-entry validate-email <?php echo $validateBackendEmail; ?>"
                                        value="<?php echo $customer->getCorrespondanceEmail() ?: ''; ?>"
                                        data-prefill="<?php echo $customer->getCorrespondanceEmail() ?: ''; ?>"
                                    >
                                </div>
                            </div>
                        </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary save-cart-button"
                        onclick="handleCartSendAndSaveAction(false);"
                    >
                        <span class="btn-content"><?php echo $this->__('Save only'); ?></span>
                    </button>
                    <button
                        type="button"
                        class="btn save-and-send-the-cart-button"
                        onclick="handleCartSendAndSaveAction(true);"
                    >
                        <span class="btn-content"><?php echo $this->__('Save and send'); ?></span>
                    </button>
                    <button
                            type="button"
                            class="btn btn-default pull-right close-cart-button hidden"
                            data-dismiss="modal"><?php echo $this->__('Close'); ?>
                    </button>
                    <button
                        type="button"
                        class="btn send-the-cart-button hidden"
                        onclick="handleCartSendAndSaveAction(true, false);"
                    >
                        <span class="btn-content"><?php echo $this->__('Send'); ?></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>