<div id="service-stub-content" class="cb_slide_panel" data-section="<?=$this->tabletype?>" data-slidepanel-top="panel">
    <div class="wrapper menu-wrapper">
        <div class="inner">
            <div class="row text-left">
                <div class="col-xs-4 col-md-3 col-lg-2" style="border-right: 1px dotted #ccc;">
                    <div id="service_stub_usage">
                    </div>
                    <span>Command (ex. -s 9 -o 12345)</span><br/>
                    <input id="service_stub_command" type="text" class="form-control"/><br/>
                    <button id="service_stub_execute" class="btn btn-block btn-primary">Execute</button>
                    <div id="service_stub_message"></div>
                </div>
                <div class="col-xs-8 col-md-9 col-lg-10">
                    <div class="row col-md-12">
                        <b>Possible stubs:</b>
                    </div>
                    <div id="service_stub_possible_stubs" class="row">
                        <div class="column col-xs-4 col-md-3 col-lg-2">

                        </div>
                        <div class="column col-xs-4 col-md-3 col-lg-2">

                        </div>
                        <div class="column col-xs-4 col-md-3 col-lg-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>