<?php
$isIndirect = Mage::helper('vznl_agent')->isIndirectStore();
echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/save_cart_modal.phtml')->toHtml();
?>

<!-- Getting lucom sign contract url failed -->
<div class="modal bs-modal-sm" id="lucom_sign_contract_failed" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4><?php echo $this->__('Error retrieving contract');?></h4>
            </div>
            <div class="modal-body">
                <?php echo Mage::helper('dyna_checkout')->__('Something went wrong in digitally requesting the contract') . ',';?>
                <?php echo Mage::helper('dyna_checkout')->__('try again or continue by closing this message and selecting the \'Print contract\' button to start the alternative process'). '.';?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" style="margin-left: 5px;"><?php echo $this->__('Go on'); ?></button>
                <button type="button" class="btn btn-info pull-right" onclick="signContract('hello')"><?php echo $this->__('Retry'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Search customer PIN modal -->
<div class="modal" id="customer_pin_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="searchCustomerByPin" class="form-horizontal" role="form" onsubmit="return customer.searchCustomerByPin(searchCustomerByPinForm);">
                <input type="hidden" name="cart" value="false" />
                <div class="modal-header">
                    <h4 class="modal-title"><?php echo $this->__('Enter password')?></h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $this->__('This customer is password protected. Enter the password to log in the client.');?></p><br />

                    <div class="form-group">
                        <label for="customerPin" class="col-sm-3 control-label">
                            <?php echo $this->__('Client password'); ?>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control required-entry" id="customerPin" type="password" name="pin" />
                        </div>
                        <div class="checkbox col-sm-3">
                            <label>
                                <input type="checkbox" onchange="togglePassword(this, '#customerPin');"> <?php echo $this->__('show password'); ?>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        <?php echo Mage::helper('dyna_checkout')->__('Cancel'); ?>
                    </button>
                    <button type="submit" class="btn btn-info pull-right" >
                        <?php echo Mage::helper('dyna_checkout')->__('Login'); ?>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Remove one-off deal from order edit confirmation -->
<div class="modal" id="remove-one-of-deal-order-modal" tabindex="-1" role="dialog" aria-labelledby="removeOneOfDealModal" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="removeOneOfDealModal"><?php echo $this->__('Cancel One-Off Deal Order'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="info left">
                        <p><?php echo $this->__('All packages will be cancelled because it is an one-off deal order.') ?></p>
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                <button type="button" class="btn btn-info pull-right" onclick="cancelPackage(1, true,jQuery('#superorder-id').val())"><?php echo $this->__('Confirm') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Create one-off deal confirmation  for non-empty cart -->
<div class="modal" id="create-one-of-deal-modal" tabindex="-1" role="dialog" aria-labelledby="createOneOfDealModal" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="createOneOfDealModal"><?php echo $this->__('Confirm One-Off Deal'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="info left">
                        <p><?php echo $this->__('All existing packages on cart will be removed.') ?></p>
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal">
                    <?php echo $this->__('Cancel') ?>
                </button>
                <button type="button" class="btn btn-info pull-right" onclick="createOneOffDeal()">
                    <?php echo $this->__('Confirm') ?>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Retention manual override popup -->
<div class="modal" id="ctn_override_modal" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo $this->__('Error')?></h4>
            </div>
            <div class="modal-body">
                <?php $agent = Mage::getSingleton('customer/session')->getAgent(true); ?>
                <?php if ($agent && $agent->canManuallyActivate()): ?>
                    <p><?php echo $this->__('Because a technical error the retainability cannot be retrieved. Try again later or select "Manual connect" to continue with the order');?></p>
                <?php else: ?>
                    <p><?php echo $this->__('No access');?></p>
                <?php endif; ?>
            </div>
            <div class="modal-footer">
                <?php if ($agent && $agent->canManuallyActivate()): ?>
                    <button type="submit" class="btn btn-info pull-right" data-dismiss="modal" onclick="customer.enableRetentionOverride();">
                        <?php echo Mage::helper('dyna_checkout')->__('Manual connect'); ?>
                    </button>
                    <div class="pull-right">&nbsp;&nbsp;&nbsp;</div>
                <?php endif; ?>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                    <?php echo Mage::helper('dyna_checkout')->__('Cancel'); ?>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Cart Details Modal -->
<div class="modal bs-modal-sm cart-show-details" id="cart-show-details" data-pakket="false" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!--Stock Modal-->
<div class="modal" id="stock-modal" tabindex="-1" role="dialog" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-block" style="padding:10px; margin-bottom: 10px;">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Delivered Package Modal -->
<div class="modal new-style-modal fade" id="edit_delivered_package" data-pakket="false" tabindex="-1" role="dialog">
    <form>
        <input type="hidden" name="return_channel" value="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel"><?php echo $this->__('This package has already been delivered');?></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-block"></div>
                    <div class="row">
                        <div class="col-sm-12">
                            <?php if (! $isIndirect): ?>
                                <?php echo $this->__('Changing this package will result in a new order and new contract.');?>
                            <?php endif; ?>
                            <p><?php echo $this->__('You can now change only delivered packages');?></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" id="refund_reason_cancel">
                            <div class="form-group label-floating">
                                <div class="input-wrapper select-wrapper">
                                    <label class="control-label"><?php echo $this->__('Reason of changing this package'); ?></label>
                                    <select onchange="getPackageHardware(this)" class="refund_reason_select form-control hidden">
                                        <option></option>
                                        <?php echo Mage::helper('dyna_checkout')->getRefundReasonsCancel(true) ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" id="refund_reason_change">
                            <div class="form-group label-floating">
                                <div class="input-wrapper select-wrapper">
                                    <label class="control-label"><?php echo $this->__('Reason of changing this package'); ?></label>

                                    <select onchange="getPackageHardware(this)" class="refund_reason_select form-control hidden">
                                        <option></option>
                                        <?php echo Mage::helper('dyna_checkout')->getRefundReasonsChange(true) ?>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <textarea class="form-control initial-height required-entry" maxlength="150"
                                          placeholder="<?php echo $this->__('Remarks'); ?>" rows="5" onkeyup="window.customer.checkRemarksCharactersLeft(this, 150);"></textarea>
                                <span class="characters-left"><?php echo $this->__('150'); ?></span>
                            </div>
                        </div>
                        <div class="col-sm-12 package_hardware_items_row">
                            <div class="separator-single"></div>
                        </div>
                        <div class="col-sm-12" id="package_hardware_items_row">
                            <div class="form-group label-floating">
                                <div class="input-wrapper select-wrapper" id="package_hardware_items">
                                    <!-- Ajax filled -->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-12 notice-hardware hidden">* <?php echo $this->__('Grayed out products cannot be selected as they are no longer part of the Vodafone catalog/offer.');?></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary do-not-btn" data-dismiss="modal">
                                <?php echo Mage::helper('dyna_checkout')->__('Cancel'); ?>
                            </button>
                            <button type="button" class="btn btn-default" onclick="beforeEditSuperorderPackage(this);">
                                <?php echo Mage::helper('dyna_checkout')->__('Confirm'); ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Edit Not Delivered Package Modal -->
<div class="modal new-style-modal fade" id="edit_not_delivered_package" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel"><?php echo $this->__('This package has not been delivered yet'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                        <?php if (! $isIndirect): ?>
                            <?php echo $this->__('Changing hardware will results into a new order.'); ?>
                        <?php endif; ?>
                        <?php echo $this->__('You\'re only allowed to change packages that are not delivered yet.'); ?>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <?php echo Mage::helper('dyna_checkout')->__('Cancel'); ?>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="customer.setLoading(true);window.location.href = '<?php echo Mage::getUrl('checkout/cart/editSuperorderPackage') ?>?redirect=directly&packageId='+jQuery('#edit_not_delivered_package').data('packageId');" >
                            <?php echo Mage::helper('dyna_checkout')->__('Confirm'); ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top menu confirmation modal-->
<div class="modal new-style-modal fade" id="top_menu_lock_modal" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><?php echo $this->__('Warning')?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p><?php echo $this->__('The current shopping cart and possible changes will be deleted. Are you sure you want to continue?'); ?></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><?php echo Mage::helper('dyna_checkout')->__('Cancel'); ?></button>
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="confirmTopMenu(this)"><?php echo Mage::helper('dyna_checkout')->__('Confirm'); ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Order status refresh -->
<div class="modal new-style-modal fade" id="order_status_refresh" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><?php echo $this->__('No orders selected')?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p><?php echo $this->__('Select at least 1 order to get the latest status') . '.';?></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><?php echo $this->__('Close'); ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Init order from credit check top menu -->
<div class="modal new-style-modal fade" id="customer_init_order" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><?php echo $this->__('Warning')?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p><?php echo $this->__('The current shopping cart and possible changes will be deleted. Are you sure you want to continue?'); ?></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('dyna_checkout')->__('Cancel'); ?></button>
                        <button type="button" class="btn btn-primary pull-right" data-customer="" data-order="" onclick="viewOrder(this)" ><?php echo Mage::helper('dyna_checkout')->__('Confirm'); ?></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>