<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$memos = $this->getParentBlock()->getCustomer()->getMemos(); ?>
<div class="block" style="display: none">
    <div class="right"><a class="memo_search" href="#customer_memo_panel" data-slidebutton-left="panel"></a></div>
    <div class="right"><a class="memo_new" href="javascript:void(0)">+ <?php echo $this->__('New');?></a></div>
    <span class="left"><b><?php echo $this->__("Memo's") . '(' . count($memos) .  ')';?></b></span>
    <div class="memo_menu">
        <ul class="nav nav-tabs no-padding no-margin" id="memo-tabs">
            <li class="active"><a href="javascript:void(0)" onclick="customer.switchMemos(this,'memo')"><?php echo $this->__('General');?></a></li>
            <li class=""><a href="javascript:void(0)" onclick="customer.switchMemos(this, 'case')"><?php echo $this->__('Case');?></a></li>
        </ul>
    </div>
    <div style="clear:left">
        <div id="memo_content_general" class="memo_content">
            <br/>
            <?php foreach($memos as $memo): ?>
                <p><b><?php echo $memo['title']; ?></b></p>
                <p><i><?php echo $memo['name']; ?> <?php echo $memo['date']; ?></i></p>
                <p><?php echo $memo['content']; ?></p>
                <br/>
            <?php endforeach;?>
        </div>
        <div id="memo_content_case" class="memo_content case">
            <br/>
            <?php foreach($this->getParentBlock()->getCustomer()->getMemoCases() as $memo): ?>
                <p><b><?php echo $memo['title']; ?></b></p>
                <p><i><?php echo $memo['name']; ?> <?php echo $memo['date']; ?></i></p>
                <p><?php echo $memo['content']; ?></p>
                <br/>
            <?php endforeach;?>
        </div>
    </div>
    <div id="customer_memo_panel" class="cb_slide_panel memo_panel" data-slidepanel-left="">
        <div class="memo_panel_top">
            <h3><?php echo $this->__('Memo\'s'); ?></h3>
            <a href="javascript:void(0)" class="new_memo"><?php echo '+' . $this->__('New');?></a>
        </div>
        <div class="memo_panel_search">
            <input type="text" id="memo_search" placeholder="<?php echo $this->__('date, ID, order'); ?>"/>
            <div class="memo_buttons">
                <input type="button" value="<?php echo $this->__('All'); ?>"/>
                <input type="button" value="<?php echo $this->__('Complaints') . '(2)'; ?>"/>
                <input type="button" value="<?php echo $this->__('Order memos') . '(1)'; ?>"/>
                <input type="button" value="<?php echo $this->__('Cases') . '(1)'; ?>"/>
            </div>
        </div>
        <div class="memo_panel_list_details">
            <div class="memo_detail_left">
                <div class="memo_details_actions">
                    <a class="memo_edit" href="javascript:void(0)"></a>
                    <a class="memo_delete" href="javascript:void(0)"></a>
                </div>
                <div id="memo_data" class="memo_data_details">
                    <p><b><span></span></b></p>
                    <p><i><span></span></i></p>
                    <br/>
                    <p></p>
                </div>
            </div>
            <div class="memo_detail_right">
                <?php foreach($this->getParentBlock()->getCustomer()->getMemos() as $memo): ?>
                    <div class="memo_detail_content" onclick="customer.showMemo(this)">
                        <div class="memo_content_arrow"></div>
                        <div class="memo_content_data">
                            <p><b><?php echo $memo['title'];?></b></p>
                            <p><i><?php echo $memo['name'] . ' ' . $memo['date'];?></i></p>
                            <p><?php echo $memo['content'];?></p>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
