<?php
/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');
$packages = $this->getPackages();
$templateData = $this->getTemplateData();
?>
<!-- nav list from the left side with packages ids-->
<div id="right_expanded_packets" class="right_expanded_packets col-xs-2  <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>">
    <ul class="nav nav-list new_template">
        <?php
        foreach ($packages as $package) {
            $packageNotes = $packageHelper->checkNotes($package);
            $class = $packageHelper->getPackageState($package->getData()); ?>
            <li class="">
                <a href="#scroll-pack-<?php echo $package->getPackageId(); ?>" class="<?php if( $package['editing_disabled'] ) { echo 'disabled_full'; } ?>" >
                    <div class="option-image-block product-cart-icon <?php echo strtolower($package->getType());?> pull-left"> </div>
                    <div data-summary-id="<?php echo $package->getPackageId(); ?>" class="package-summary pull-left">
                        <?php
                        $packageTitle = Mage::getModel('dyna_package/packageType')->loadByCode($package->getType())->getFrontEndName();
                        $packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package,Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, Dyna_Catalog_Model_Product::GUI_COMMUNICATION);
                        if (($packageTypeAndTariffTitles['packageTitle'] != '') && ($packageTypeAndTariffTitles['packageSubtypeTitle'] != '')) {
                            echo "<p title='{$packageTypeAndTariffTitles['packageSubtypeTitle']}'>{$packageTypeAndTariffTitles['packageSubtypeTitle']}</p>" .
                                "<p class='light' title='{$packageTypeAndTariffTitles['packageTitle']}'>{$packageTypeAndTariffTitles['packageTitle']}</p>";
                        } else {
                            echo "<p title='{$packageTitle}'>{$packageTitle}</p>";
                        }
                        ?>
                    </div>
                    <span class="package-notes <?php echo $packageNotes ? '' : 'hidden' ?>" id="<?php echo $package->getPackageId(); ?>"></span>
                    <?php if (!empty($class['state']['partOfGroup'])) { ?>
                        <div class="secondBadge <?php echo $class['state']['secondBadge']; ?> extended-cart-second-badge-menu"
                             data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                             data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                             data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip'><?php echo $class['tooltipInfo']['title']; ?></span>">
                        </div>
                    <?php } elseif ($class['state']['badge'] && !isset($templateData['infoSummary'])) { ?>
                        <div class="badge  <?php echo $class['state']['badge']; ?> extended-cart-second-badge-menu">
                            <i class="<?php echo $class['state']['icon']; ?>"></i>
                        </div>
                    <?php } ?>
                    <i class="vfde-arrow-right2 pull-right hidden"></i>
                    <div class="clearfix"></div>
                </a>
            </li>
        <?php } ?>
    </ul>
</div>