<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Omnius_Checkout_Model_Sales_Quote $quote */
$quote = $this->getQuote();
$types = array(
    'Product'       => array(
        Omnius_Catalog_Model_Type::SUBTYPE_DEVICE
    ),
    'Abonnement'    => array(
        Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION
    ),
    'Voordeel'      => '',
    'Accessoires'   => array(
        Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY
    ),
    'Addons'        => array(
        Omnius_Catalog_Model_Type::SUBTYPE_ADDON
    )
); ?>
<div class="tableContainer_tabs">
<?php foreach($quote->getPackages() as $package): ?>
    <?php if (count($package['items']) < 1 ):?>
        <?php continue; ?>
    <?php endif;?>
<table class="fullWidth" style="margin: 5px 1px ; width: 568px;">
<tr>
    <td class="tdOdd2_lightBlue left bold" style="width: 18%; font-weight: bold;">
        Jouw pakket<!--common.order.packet-->
    </td>
    <!--  second cell start -->
    <td class="tdOdd_lightBlue textAlignRight"
        style="width: 50%; padding:3px 12px 4px 12px; text-align:right;">
        <label>Aantal<!--common.orderpages.number-->:</label>
        <?php echo current($package['items'])->getQty(); ?>
    </td>
    <vodatest:totalpermonth>
        <td class="tdOdd_lightBlue textAlignRight bold"
            style="width: 18%; font-weight: bold;padding:3px 12px 4px 12px; text-align:right;">
            Maandbedrag actieperiode
            <!--common.orderconfirm.perMonth--></td>
    </vodatest:totalpermonth>
    <vodatest:totalonce>
        <td class="tdOdd2_lightBlue textAlignRight bold"
            style="width: 18%;font-weight: bold;text-align:right;">Totaal nu te voldoen
            <!--common.orderconfirm.once--></td>
    </vodatest:totalonce>
</tr>
<tr>
    <td colspan="4" class="divider">&nbsp;</td>
</tr>
<!-- start cong. commerce items detail -->
<tr>
    <td class="tdEven2_lightBlue left" rowspan="99"><!-- IMPORTANT -->
        <?php foreach($types as $typeName => $type): ?>
            <?php
            /** @var Omnius_Checkout_Model_Sales_Quote_Item $item */
            foreach($package['items'] as $item):
                ?>
                <?php if(Mage::helper('omnius_catalog')->is($type, $item->getProduct())) : ?>
                    <img src="<?php echo Mage::helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(50); ?>"
                         alt="<?php echo $item->getName(); ?>" />
                    <br/>
                    <br/>
                    <br/>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </td>
    <td colspan="3">&nbsp;</td>
</tr>
<?php foreach($types as $typeName => $type): ?>
    <?php $header = false; ?>
    <?php foreach($quote->getAllItems() as $item): ?>
        <?php if (($typeName=='Voordeel' ? $item->isPromo() : Mage::helper('omnius_catalog')->is($type, $item->getProduct()))): ?>
            <tr>
                <td class="tdEven_lightBlue left"
                    style="vertical-align: top;text-align: left;padding:3px 12px 4px 12px;">
                    <?php if ($header == false):?>
                    <b>
                        <?php
                            echo $typeName;
                            $header = true;
                        ?><!--common.shoppingbasket.device.header-->
                    </b><br/>
                    <?php endif; ?>
                    <?php echo $item->getName(); ?>
                </td>
                <!-- separate business/consumer shopping cart subskuItem price rendering ( Business without tax included ) -->
                <td class="tdEven_lightBlue textAlignRight"
                    style="width: 18%;text-align: right;padding:3px 12px 4px 12px;">
                    <vodatest:monthlypricecontent><?php echo Mage::helper('checkout')->formatPrice($item->getBaseMafInclTax());?></vodatest:monthlypricecontent>
                </td>
                <td class="tdEven2_lightBlue textAlignRight"
                    style="width: 18%; padding:3px 12px 4px 12p;text-align: right;">
                    <vodatest:onetimeprice id="sku54290022"><?php echo Mage::helper('checkout')->formatPrice($item->getRowTotalInclTax());?></vodatest:onetimeprice>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="divider">&nbsp;</td>
            </tr>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endforeach; ?>
<tr>
    <!-- separate business/consumer shopping cart subskuItem price rendering ( Business without tax included ) -->
    <td class="tdOdd_lightBlue textAlignRight"
        style="width: 50%;text-align: right;padding:3px 12px 4px 12px;"><span
            class="bold" style="font-weight: bold;">Totaal<!--common.ordertotal.total--></span>&nbsp;:
        <!--common.order.includeText--></td>
    <?php reset($package['items']); ?>
    <?php $packageTotals = $quote->calculateTotalsForPackage(current($package['items'])->getPackageId()); ?>
    <td class="tdEven_lightBlue textAlignRight red"
        style="width: 18%;text-align: right; color: #ff0000;padding:3px 12px 4px 12px;">
        <vodatest:monthlypricecontent><?php echo Mage::helper('checkout')->formatPrice($packageTotals['total_maf']);?></vodatest:monthlypricecontent>
    </td>
    <td class="tdEven2_lightBlue textAlignRight red"
        style="width: 18%;text-align: right;  padding:3px 12px 4px 12p; color: #ff0000;">
        <vodatest:onetimetotalprice><?php echo Mage::helper('checkout')->formatPrice($packageTotals['total']);?></vodatest:onetimetotalprice>
    </td>
</tr>
</table>
    <br/>
    <br/>
    <br/>
<?php endforeach; ?>
</div>