#!/bin/bash
#set -x
time_now () {
    date +"%c"
}

lines() {
    echo -e "====================="
}
backup( )
{
    lines
    echo "DB meta sync start time "
    time_now
    lines

    if aws s3 sync "{{ nexus.db_backup_location }}"  s3://"{{ nexus.s3_nexus_db_backup }}" --delete
    then
        echo "DB Meta backup completed"
        time_now
    else
        echo "DB Meta backup error"
    fi
    lines

    echo  "Blobs sync start time"
    time_now
    lines
    if aws s3 sync "{{ nexus.blobs_location }}/default"  s3://"{{ nexus.s3_bucketname }}/default" --delete

    then
        echo "Blobs backup completed"
        time_now
    else
        echo "Blobs backup error"
    fi
}

backup
