[Unit]
Description=nexus service
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart={{ nexus.nexus_home }}/bin/nexus start
ExecStop={{ nexus.nexus_home }}/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target
