-Xms1200M
-Xmx1200M
-XX:MaxDirectMemorySize=2G
-XX:+UnlockDiagnosticVMOptions
-XX:+UnsyncloadClass
-XX:+LogVMOutput
-XX:LogFile={{ nexus.nexus_dir }}/sonatype-work/nexus3/log/jvm.log
-XX:-OmitStackTraceInFastThrow
-Djava.net.preferIPv4Stack=true
-Dkaraf.home=.
-Dkaraf.base=.
-Dkaraf.etc={{ nexus.nexus_home }}/etc/karaf
-Djava.util.logging.config.file={{ nexus.nexus_home }}/etc/karaf/java.util.logging.properties
-Dkaraf.data={{ nexus.nexus_dir }}/sonatype-work/nexus3
-Djava.io.tmpdir={{ nexus.nexus_dir }}/sonatype-work/nexus3/tmp
-Dkaraf.startLocalConsole=false
