<script id="customer-screen-cable-kip-product" type="text/x-handlebars-template">
    <?php $customerSession = Mage::getSingleton('customer/session'); ?>
    {{#each this}}
    <div class="product-details-content-container col-sm-12 clearfix">
        <div class="product-details-header row  col-sm-12 clearfix">
            <div data-tab="general"
                 class="details-item first-tab tab-title active col-lg-2 col-sm-6  col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("General") ?>
            </div>

            {{#if tariff}}
            <div data-tab="subscriptions" class="details-item tab-title col-lg-2 col-sm-6  col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Packages") ?>
            </div>
            {{/if}}

            {{#if options}}
            <div data-tab="options" class="details-item tab-title col-lg-3 col-sm-6  col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Package details") ?>
            </div>
            {{/if}}

            {{#if devices}}
            <div data-tab="hardware" class="details-item tab-title col-lg-2 col-sm-6  col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Add-ons") ?>
            </div>
            {{/if}}

            {{#if discounts}}
            <div data-tab="benefits" class="details-item tab-title col-lg-3 col-sm-12  col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Discounts & Promotions") ?>
            </div>
            {{/if}}
        </div>

        <!-- tab contents general-->
        {{#if this.disableButtons.perform_serviceability.enabled}}
        {{setVariable 'hidden' 'buttonsVisible'}}
        {{setVariable 'disabled-mandatory' 'buttonsDisabled'}}
        {{else}}
        {{setVariable '' 'buttonsVisible' }}
        {{setVariable '' 'buttonsDisabled' }}
        {{/if}}

        <div class="product-details-content tab-details general col-md-12  col-sm-12 clearfix row">
            <div class="row row-flex">
                <div class="col-sm-8 clearfix same-height-col general-content">
                    <div class="info-title"><?php echo $this->__("Common Customer Record Benefits"); ?>:</div>
                    <div class="info-description">
                        {{#if bundle_eligible}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    <div class="info-title"><?php echo $this->__("Contract end date"); ?>:</div>
                    <div class="info-description">
                        {{#if contract_end_date}}{{formatDate contract_end_date 'DD-MM-YYYY'}}{{else}}<span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    {{#if service_address}}
                    <div class="info-title"><?php echo $this->__("Service Address"); ?>:
                    </div>
                    <div class="info-description">
                        {{service_address.street}} {{service_address.house_number}} {{service_address.house_addition}},
                        {{service_address.postcode}} {{service_address.city}}
                        {{service_address.district}} {{service_address.country.Name}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                    {{/if}}

                    <div class="info-title"><?php echo $this->__("Assigned Phone Number"); ?>:</div>
                    <div class="info-description">
                        {{#if ctn_phoneNumber}}{{ctn_phoneNumber}}{{else}}<span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                </div>
                <div class="col-sm-4 clearfix products-buttons-container same-height-col new-ui-elements">
                    <div class="ten-px-delimiter">
                        <div class="btn-block">
                            <button type="button"
                                    class="btn btn-block loading-search pos-relative ellipsis-overflow {{buttonsDisabled}}"
                                    {{#if this.disableButtons.modify_package.class}}disabled{{/if}}
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="{{this.package_type}}"
                                    data-ctn="{{this.ctn}}"
                                    data-button="modify_package"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>"
                                    data-bundle-product-ids="{{this.bundle_product_ids}}"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                    title="<?php echo $this->__('Modify Package'); ?>">
                                <?php echo $this->__('Modify Package'); ?>
                            </button>
                        </div>
                    </div>
                    <div class="ten-px-delimiter">
                        <div class="btn-block">
                            <button type="button"
                                    class="btn btn-block btn-secondary loading-search pos-relative ellipsis-overflow {{buttonsDisabled}}"
                                    {{#if this.disableButtons.modify_package.class}}disabled{{/if}}
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="{{this.package_type}}"
                                    data-ctn="{{this.ctn}}"
                                    data-button="modify_package"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>"
                                    data-bundle-product-ids="{{this.bundle_product_ids}}"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                    title="<?php echo $this->__('Move service'); ?>">
                                <?php echo $this->__('Move service'); ?>
                            </button>
                        </div>
                    </div>
                    <div class="ten-px-delimiter">
                        <div class="btn-block">
                            <button type="button"
                                    class="btn btn-block btn-secondary loading-search pos-relative ellipsis-overflow {{buttonsDisabled}}"
                                    {{#if this.disableButtons.modify_package.class}}disabled{{/if}}
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="{{this.package_type}}"
                                    data-ctn="{{this.ctn}}"
                                    data-button="modify_package"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>"
                                    data-bundle-product-ids="{{this.bundle_product_ids}}"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                    title="<?php echo $this->__('Terminate Contract'); ?>">
                                <?php echo $this->__('Terminate Contract'); ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if tariff.name }}
            {{#if this.disableButtonsMessages}}
                <div class="col-lg-12 col-sm-12  clearfix alert-warning alert-disable-buttons general tab-details">
                    <div class="warning-message col-xl-12 col-lg-8 col-md-12 col-sm-12">
                        <div class="notification-circle-icon"> </div>
                        {{#each this.disableButtons }}
                            {{#if this.message }}
                                <div class="notif-msg">{{this.message}}</div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <div class='col-lg-12 col-sm-12  clearfix eligibility-check alert-warning alert-disable-buttons general tab-details {{#compare buttonsVisible "" operator="=="}} hidden {{/compare}}'
                     data-serialized-key="{{this.disableButtons.perform_serviceability.serviceAddressID}}"
                     data-customer-number="{{customer_number}}">
                    <div class="warning-message col-xl-9 col-lg-8 col-md-12 col-sm-12">
                        <div class="notification-circle-icon"> </div>
                        <div class="notif-msg"><?php echo $this->__("Perform serviceability check before changing package"); ?></div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-4">
                        <button type="button"
                                class="btn btn-block loading-search pos-relative ib-serviceability-check eligibility-btn renewal-check-button ellipsis-overflow"
                                data-id="{{this.service_address.address_id}}"
                                data-street="{{this.service_address.street}}"
                                data-building-nr="{{this.service_address.house_number}}"
                                data-postalcode="{{this.service_address.postcode}}"
                                data-city-name="{{this.service_address.city}}"
                                data-house-addition="{{this.service_address.house_addition}}"
                                data-component-ctn="false"
                                data-tasi="false"
                                data-customer-number="{{this.customer_number}}"
                                data-my-products-check="true"
                                data-kip-stack="true"
                                onclick="customerSection.performCheckServiceEligibility(this)"
                                title="<?php echo $this->__('Serviceability Check'); ?>">
                            <?php echo $this->__('Serviceability Check'); ?>
                    </div>
                </div>
            {{/if}}
        {{/if}}

        <!-- tab contents subscriptions-->
        <div class="product-details-content tab-details subscriptions col-md-12  col-sm-12 clearfix row hide">
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{#if tariff.category_name }}
                    {{tariff.category_name}}
                {{else}}
                    <?php echo $this->__("Unknown"); ?>
                {{/if}}
            </div>

            <div class="expandable-info">
                <div class="col-md-12 col-sm-12  products-sub-package-header clearfix">
                    <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8 product-details">
                        <div class="product-name">
                            {{#if tariff.name }}{{tariff.name}} {{else}} <span class="disabled"><?php echo $this->__("Unknown"); ?></span> {{/if}}
                            <div class="product-phone-number">
                                <?php echo $this->__("Contract start"); ?>:
                                {{#if tariff.contract_start_date}}
                                    {{formatDate tariff.contract_start_date 'DD.MM.YYYY'}}
                                {{else}}
                                    <?php echo $this->__("N/A"); ?>
                                {{/if}} -
                                <?php echo $this->__("Active until") ?>:
                                <?php echo $this->__("N/A"); ?>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                        {{#if tariff.display_price_repeated}}
                        {{tariff.display_price_repeated}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                        {{else}}
                        <?php echo $this->__("N/A"); ?>
                        {{/if}}
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 ">
                        <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12  tab-content expanded">
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <div class="info-title"><?php echo $this->__("Portfolio"); ?>:</div>
                        <div class="info-description">
                            {{#if tariff.product_version}}
                                {{tariff.product_version}}
                            {{else}}
                                <?php echo $this->__("N/A"); ?>
                            {{/if}}
                        </div>
                        <div class="margin-bottom-20"></div>

                        <div class="info-title"><?php echo $this->__("To cancel up"); ?>:</div>
                        <div class="info-description">
                            <?php echo $this->__("N/A"); ?>
                        </div>
                        <div class="row margin-bottom-20"></div>

                        <div class="info-title"><?php echo $this->__("Terminated for"); ?>:</div>
                        <div class="info-description">
                            <?php echo $this->__("N/A"); ?>
                        </div>
                        <div class="row margin-bottom-20"></div>

                        <div class="info-title"><?php echo $this->__("Legacy code"); ?>:</div>

                        <div class="info-description">
                            {{#if tariff.legacy_code}}
                                {{tariff.legacy_code}}
                            {{else}}
                                <?php echo $this->__("N/A"); ?>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="info-title"><?php echo $this->__("Connection number"); ?>:</div>
                        <div class="info-description">
                            {{#if phone_numbers}}
                                {{#each phone_numbers}}
                                {{#ifComplex this.legacy_code '==' '<?php echo Dyna_Catalog_Model_Type::TELEPHONE_NUMBER_NG1; ?>' '||' this.legacy_code '==' '<?php echo Dyna_Catalog_Model_Type::TELEPHONE_NUMBER_TNF; ?>'}}
                                    {{#showLocalAreaCode name}}{{/showLocalAreaCode}}({{this.legacy_code}})<br>
                                {{/ifComplex}}
                                {{/each}}
                            {{else}}
                            <?php echo $this->__("N/A"); ?>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- tab contents hardware-->
        <div class="product-details-content tab-details hardware col-md-12  col-sm-12 clearfix row hide">
            {{#if devices}}
                {{#each devices}}
                    {{#each this}}
                        <div class="expandable-info">
                            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-9 col-lg-6 col-md-10 col-sm-7  product-details">
                                    <div class="product-name">
                                        {{#if device_name}} {{device_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                        <div class="product-phone-number">
                                            <?php echo $this->__("Hardware type"); ?>:
                                            {{#if device_type}}
                                                {{device_type}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}} -
                                            <?php echo $this->__("Article Number") ?>:
                                            {{#if device_code}}
                                                {{device_code}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                    <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  tab-content {{#ifCond ../../numberOfProductsInSection.devices '==' '1'}}expanded{{else}}reduced{{/ifCond}}">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="info-title"><?php echo $this->__("Manufacturer"); ?>:</div>
                                    <div class="info-description">
                                        {{#if manufacturer}}
                                            {{manufacturer}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                    <div class="row margin-bottom-20"></div>

                                    <div class="info-title"><?php echo $this->__("Mac-Address"); ?>:</div>
                                    <div class="info-description">
                                        {{#if mac_address}}
                                            {{mac_address}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                    <div class="row margin-bottom-20"></div>

                                    <div class="info-title"><?php echo $this->__("WLAN-Enabled"); ?>:</div>
                                    <div class="info-description">
                                        {{#if wlan_enabled}}
                                            {{wlan_enabled}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                    <div class="row margin-bottom-20"></div>

                                    <div class="info-title"><?php echo $this->__("Max. bandwidth"); ?>:</div>
                                    <div class="info-description">
                                        {{#if max_bandwidth}}
                                            {{max_bandwidth}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                    <div class="row margin-bottom-20"></div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No hardware configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>

        <!-- tab contents options-->
        <div class="product-details-content tab-details options col-md-12  col-sm-12 clearfix row hide">
            {{#if options}}
                {{#each options}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>
                    {{#each this}}
                        <div class="expandable-info">
                            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-6 col-lg-6 col-md-4 col-sm-3  product-details">
                                    <div class="product-name">
                                        {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                        <div class="product-phone-number">
                                            <?php echo $this->__("Contract start"); ?>:
                                            {{#if contract_start_date}}
                                            {{formatDate contract_start_date 'DD.MM.YYYY'}}
                                            {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                            {{/if}} -
                                            <?php echo $this->__("Active until") ?>:
                                            <?php echo $this->__("N/A"); ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                                    {{#if display_price_repeated}}
                                    {{display_price_repeated}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                    {{else}}
                                    <?php echo $this->__("N/A"); ?>
                                    {{/if}}
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                    <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  tab-content {{#ifCond ../../numberOfProductsInSection.options '==' '1'}}expanded{{else}}reduced{{/ifCond}}">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="info-title"><?php echo $this->__("Legacy code"); ?>:</div>
                                    <div class="info-description">
                                        {{#if legacy_code}}
                                            {{legacy_code}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                 {{/each}}
            {{else}}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="no-content-available">
                    <p><?php echo $this->__("No options configured"); ?></p>
                </div>
            </div>
            {{/if}}
        </div>

        <!-- tab contents discounts-->
        <div class="product-details-content tab-details benefits col-md-12  col-sm-12 clearfix row hide">
            {{#if discounts}}
                {{#each discounts}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{category_name }}
                    </div>
                    <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                        <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-xl-8 col-lg-8 col-md-9 col-sm-7  product-details">
                            <div class="product-name">
                                {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                            {{#if display_price_repeated}}
                            {{display_price_repeated}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                            {{else}}
                            <?php echo $this->__("N/A"); ?>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No discounts configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</script>

<script type="text/javascript">
    Handlebars.registerPartial("customer-screen-cable-kip-product", jQuery("#customer-screen-cable-kip-product").html());
</script>
