<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>
<div class="box">
    <p class="a-center">
        <?php echo $this->helper('adminhtml')->__('Chart is disabled. If you want to enable chart, click <a href="%s">here</a>.', $this->getConfigUrl())?>
    </p>
</div>
