<?php
/*
 * Copyright (c) 2016. Dynacommerce B.V.
 *
 */

if ((!Mage::getSingleton('customer/session')->getCustomer()->getId() && !Mage::getSingleton('customer/session')->getProspect()) || $this->getTopMenu()): ?>
    <?php /** @var $this Mage_Core_Block_Template */ ?>
    <div class="customer_left_search" id="customer_search">
        <div class="customer-search-scrollbar">
            <?php
            if (Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) {
                echo $this->getChildHtml("customer.search");
            } else {
                echo $this->getChildHtml("customer.search.legacy");
            }
            ?>
        </div>
    </div>
<?php endif; ?>
