<?php
/**
 * @var $this Dyna_Customer_Block_LeftSidebar
 */
?>

<div class="sticker">
    <?php
        echo $this->getChildHtml('customer.left.search');
        echo $this->getChildHtml('customer.details');
        ?>
</div>
<div class="panel-content">
    <!-- breadcrumbs will be display using customerDe.js javascript -->
    <!--<div id="breadcrumb-custom" class="breadcrumb-custom"></div>-->
    <div id="customer-search-results" class="scrollable-y-table">
        <div id="searchResults"></div>
        <div id="potentialMatches"></div>
        <!-- Ajax filled -->
    </div>
</div>

<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/customer_search_results.phtml')->toHtml(); ?>
<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/customer_potential_link.phtml')->toHtml(); ?>
<?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partials/local_customer_search_results.phtml')->toHtml(); ?>
