<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$isBusiness = (bool) Mage::getSingleton('customer/session')->getCustomer()->getIsBusiness(); ?>
<div class="message"></div>
<?php $packages = $quote->getPackages(); ?>
<div id="right-panel-cart" class="panel-content clearfix popup_cart_details">
    <div class="cart_right_expanded_packages">
        <div id="right_expanded_packets" class="right_expanded_packets col-xs-4">
            <ul class="nav nav-list">
            <?php
            $first = $firstOpenPackage = true;

            foreach($packages as $package):
                $packageId = $package['package_id'];
                $ctns = $quote->getPackageCtns($packageId);
                $packageTitle[$packageId] = Mage::helper('omnius_configurator')->getPackageTitle($ctns, $package['type']);
                $packageCtns[$packageId] = $ctns;
                if(count($ctns) > 1) $multiCtns[$packageId] = true;
            ?>
                <?php if(isset($openPackages[$packageId]) && $firstOpenPackage) : $firstOpenPackage = false; ?>
                    <?php if(count($packages) > count($openPackages)) : ?>
                        <li role="presentation" id="incomplete-packages-devider"><div class="divider"></div></li>
                    <?php endif; ?>
                    <li id="incomplete-packages"><div class="title"><p><?php echo $this->__('Not completed'); ?></p></div></li>
                <?php endif; ?>

                <li class="<?php echo $first==true ? 'active':'';  ?>">
                    <a href="#scroll-pack-<?php echo $packageId?>">
                    <div data-summary-id="<?php echo $packageId; ?>" class="package-summary<?php echo isset($openPackages[$packageId]) ? ' open' : ''; ?>">
                        <p><?php echo $packageTitle[$packageId]; ?></p>
                        <p>
                        <?php foreach($package['items'] as $index => $item):?>
                            <?php echo $item->getName() . ($index==count($package)-1 ? '' : ', ');?>
                        <?php endforeach; ?>
                        </p>
                        <p class="package-type"><?php echo isset($openPackages[$packageId]) ? '<span class="i_notice-black"></span>' : ''; ?><?php echo $package['sale_type'] ?></p>
                    </div>
                    </a>
                </li>
            <?php $first = false;
            endforeach; ?>
            </ul>
        </div>
        <div class="expanded-package-details col-xs-8" data-spy="scroll" data-target="#right_expanded_packets" data-offset="50">
            <?php reset($packages); foreach($packages as $package):
                $packageId = $package['package_id']; ?>
                <div id="<?php echo 'pack-'.$packageId ?>" data-package-id="<?php echo $packageId ?>" class="package-expand">
                    <?php if(isset($multiCtns[$packageId])) : ?>
                        <div class="clearfix">&nbsp;</div><br />
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#package-<?php echo $packageId?>" data-toggle="tab"><?php echo $this->__('Package'); ?></a></li>
                            <li><a href="#ctns-<?php echo $packageId?>" data-toggle="tab"><?php echo $this->__('CTN numbers'); ?></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="package-<?php echo $packageId?>">
                    <?php endif; ?>
                        <div class="package-items">
                            <div class="package-item package-item-header clearer">
                                <div class="col-xs-7">
                                    <div class="package-description">
                                        <p id="scroll-pack-<?php echo $packageId; ?>" class="package-title"><?php echo $packageTitle[$packageId]; ?></p>
                                        <p class="package-type"><?php echo ucfirst($package['sale_type']); ?></p>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <?php echo $this->__('p.m.'); ?>
                                </div>
                                <div class="col-xs-2 one-off">
                                    <?php echo $this->__('One Time'); ?>
                                </div>
                            </div>
                        <?php
                        /**
                        * @var int $id
                        * @var Omnius_Checkout_Model_Sales_Quote_Item $item */
                        foreach($package['items'] as $id => $item):
                            if($item->isPromo()) continue;
                            ?>
                            <div class="package-item clearer">
                                <div class="col-xs-7">
                                    <div class="package-description">
                                        <p>
                                            <span>
                                                <img src="<?php echo Mage::helper('catalog/image')->init($item->getProduct(), 'small_image')->resize(50); ?>" alt="" />
                                            </span>
                                            <span>  
                                                <?php echo $item->getName(); ?>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <?php if($isBusiness): ?>
                                        <?php echo $item->getMaf() != 0 ? $this->helper('checkout')->formatPrice($item->getMaf()) : '&nbsp;';?>
                                    <?php else: ?>
                                        <?php echo $item->getMafInclTax() != 0 ? $this->helper('checkout')->formatPrice($item->getMafInclTax()) : '&nbsp;';?>
                                    <?php endif; ?>
                                </div>
                                <div class="col-xs-2 one-off">
                                    <?php if($isBusiness): ?>
                                        <?php echo $this->helper('checkout')->formatPrice($item->getRowTotal()); ?>
                                    <?php else: ?>
                                        <?php echo $this->helper('checkout')->formatPrice($item->getRowTotalInclTax()); ?>
                                    <?php endif; ?>
                                </div>
                            </div>

                            <?php if ($item->getProduct()->is(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION)): ?>
                                <?php
                                $promoItemNames = array();
                                /** @var Omnius_Checkout_Model_Sales_Quote_Item $cloneItem */
                                foreach($package['items'] as $cloneItem){
                                    if($cloneItem->getPackageId() == $item->getPackageId() && $cloneItem->getTargetId() == $item->getProductId() ){
                                        $promoItemNames[] = $cloneItem->getName();
                                    }
                                }
                                if(count($promoItemNames) > 0): ?>
                                <div class="package-item clearer">
                                    <div class="col-xs-7">
                                        <div class="package-description">
                                            <p>
                                                <span>
                                                    <img src="<?php echo Mage::helper('catalog/image')->init(new Mage_Catalog_Model_Product(), 'small_image')->resize(50); ?>" alt="" />
                                                </span>
                                                <span>

                                                    <?php echo implode(', ', $promoItemNames); ?>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <?php echo $this->helper('checkout')->formatPrice(- ($item->getMafDiscountAmount() - ($isBusiness ? $item->getHiddenMafTaxAmount() : 0))) ;?>
                                    </div>
                                    <div class="col-xs-2 one-off">
                                        &nbsp;
                                    </div>
                                </div>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if($item->getProduct()->is(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE)): ?>
                                <?php $taxes = $item->getWeeeTaxAppliedUnserialized();
                                foreach($taxes as $tax): ?>
                                    <div class="package-item clearer">
                                        <div class="col-xs-7">
                                            <div class="package-description">
                                                <p>
                                                <span>
                                                    <img src="<?php echo Mage::helper('catalog/image')->init(new Mage_Catalog_Model_Product(), 'small_image')->resize(50); ?>" alt="" />
                                                </span>
                                                <span>
                                                    <?php echo $tax['title']; ?>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-2 one-off">
                                            <?php if($isBusiness): ?>
                                                <?php echo $tax['amount'] != 0 ? $this->helper('checkout')->formatPrice($tax['amount']) : '&nbsp'?>
                                            <?php else: ?>
                                                <?php echo $tax['amount_incl_tax'] != 0 ? $this->helper('checkout')->formatPrice($tax['amount_incl_tax']) : '&nbsp'?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                                <?php if($item->getDiscountAmount() && $item->getDiscountAmount() > 0):?>
                                    <div class="package-item clearer">
                                        <div class="col-xs-7">
                                            <div class="package-description">
                                                <p>
                                                <span>
                                                    <img src="<?php echo Mage::helper('catalog/image')->init(new Mage_Catalog_Model_Product(), 'small_image')->resize(50); ?>" alt="" />
                                                </span>
                                                <span>
                                                    <?php echo $item->getDiscountRuleNames(); ?>
                                                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                        </div>
                                        <div class="col-xs-2 one-off">
                                            <?php if($isBusiness): ?>
                                                <?php echo  $this->helper('checkout')->formatPrice($item->getHiddenTaxAmount() - $item->getDiscountAmount()); ?>
                                            <?php else: ?>
                                                <?php echo  $this->helper('checkout')->formatPrice(-$item->getDiscountAmount());?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                            <div class="package-item clearer totals">
                                <div class="col-xs-7">
                                    <div class="labels-costs">
                                        <p><?php echo $this->__('Excl'); ?></p>
                                        <p><?php echo $this->__('BTW'); ?></p>
                                        <p><?php echo $this->__('Incl'); ?></p>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div>
                                        <?php $packageTotals = Mage::helper('omnius_configurator')->getActivePackageTotals($packageId, false, $quote->getId());?>
                                        <?php $packageTotalsTax = Mage::helper('omnius_configurator')->getActivePackageTotals($packageId, true, $quote->getId());?>
                                        <p><?php echo $this->helper('checkout')->formatPrice($packageTotals['totalmaf'])?></p>
                                        <p><?php echo $this->helper('checkout')->formatPrice($packageTotalsTax['totalmaf'] - $packageTotals['totalmaf'])?></p>
                                        <p><?php echo $this->helper('checkout')->formatPrice($packageTotalsTax['totalmaf'])?></p>
                                    </div>
                                </div>
                                <div class="col-xs-2 one-off">
                                    <p><?php echo $this->helper('checkout')->formatPrice($packageTotals['totalprice'])?></p>
                                    <p><?php echo $this->helper('checkout')->formatPrice($packageTotalsTax['totalprice'] - $packageTotals['totalprice'])?></p>
                                    <p><?php echo $this->helper('checkout')->formatPrice($packageTotalsTax['totalprice'])?></p>
                                </div>
                            </div>
                        </div>
                </div>
            <?php endforeach;?>
        </div>
    </div>
</div>