<?php
/** @var $this Dyna_Checkout_Block_Cart_Steps_SaveOrderOverview */

$allPackages = $this->getPackages(false);

/** @var $helper Dyna_Checkout_Helper_Data */
$helper = Mage::helper('dyna_checkout');

/** @var $packageHelper Dyna_Package_Helper_Data */
$packageHelper = Mage::helper('dyna_package');

/**  @var $checkoutLayout Dyna_Checkout_Helper_Layout */
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();
$catalogModel = Mage::getModel('dyna_configurator/catalog');

/** @var Dyna_Checkout_Model_Sales_Quote $quote */
$quote = $this->getQuote();

/** @var Dyna_Package_Model_Package $package */
$packageCount = count($allPackages);
$packageIndex = 0;
$hasPriceSliding = false;

$migrationOrMoveOffnetState = Mage::getSingleton('checkout/cart')->getCheckoutSession()->getInMigrationOrMoveOffnetState();
if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MIGRATION) {
    /** @var Dyna_Customer_Model_Customer $customer */
    $customer = $this->getCustomer();
    $customerInfoClient = Mage::getModel('dyna_customer/client_retrieveCustomerInfo');
    $dataCustomerFromMode2 = $customerInfoClient->executeRetrieveCustomerInfo([], 2);
    $billingInfo = $customerInfoClient->mapBillingDetails($dataCustomerFromMode2, $customer->getCustomerNumber());
    $contract    = $customerInfoClient->mapContracts($dataCustomerFromMode2['Customer']);
}

foreach ($allPackages as $package):
    $priceSlicing = null;
    $packageIndex++;
    $sectionIndex = 0;
    $packageType = $package->getType();
    $packageItemsBySubtype = $package->getPackagesProductsForSidebarSection($package->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW);
    $headers = [];
    $class = $packageHelper->getPackageState($package);
    $numberOfCurrentRedplusMembers = $packageHelper->getNumberOfRedPlusGroupMembers($package, $packageType);
    $packageNotes = $packageHelper->checkNotes($package);
    $package->getSaleType();
    $package->getPackageAction();

    if ($package->isFixed() && strtoupper($package->getSaleType()) == Dyna_Catalog_Model_ProcessContext::ILSBLU) {
        $allPackageItemsBySubtype = $package->getPackagesProductsForSidebarSection($package->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_EXTENDED_SHOPPING_CART);

        foreach ($allPackageItemsBySubtype as $key => $item) {
            $familyCategory = $this->checkFamilyCategory($item['items']);
            if (false === empty($familyCategory)) {
                break;
            }
        }

        foreach ($allPackageItemsBySubtype as $key => $item) {
            // tariff
            if (strtoupper($key) == strtoupper(Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION)) {
                foreach ($item['items'] as $value) {
                    $productInstance = Mage::getModel('catalog/product');
                    $product = $productInstance->load($productInstance->getIdBySku($value['sku']));
                    if ($value['system_action'] == Dyna_Checkout_Model_Sales_Quote_Item::SYSTEM_ACTION_EXISTING) {
                        $productExisting = $product;
                    } else { //default add
                        $productNew = $product;
                    }
                }
            }

            // option - bandwidth
            if (strtoupper($key) == strtoupper(Dyna_Catalog_Model_Type::SUBTYPE_ADDON)) {
                $bandwidth = $this->checkBandwidthChange($item['items']);
            }

            //other - technology
            if (strtoupper($key) == strtoupper(Dyna_Catalog_Model_Type::TYPE_OTHER)) {
                $technology = $this->checkTechnologyChange($item['items']);
            }
        }
    }

    ?>
    <div class="checkout-section-container review-order">
    <div class="package">
        <div class="dt package-header <?php echo !empty($class['title'])? $class['title']: ''; ?> <?php echo $packageHelper->getBundleColor($package['package_id'])?>">
            <div class="tc cell70 vm">
                <i class="sprite <?php echo in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages()) ? 'sprite-icon-mobile' : 'sprite-icon-internet-phone' ?>
                <?php echo 'sprite-'.$packageType; ?>"></i>
                <p class="package-name"><?php if(isset($packageItemsBySubtype['tariff']['items'])) {
                        echo $this->__($packageItemsBySubtype['tariff']['items'][0]['name'] ?? '');
                    }else {
                        echo sprintf('%s %d', $this->__('Package'), $package->getPackageId());
                    } ?></p>
                <p class="package-type"><?php echo strtoupper($this->__($packageType)); ?></p>
            </div>
            <div class="tc cell20 vm ar">
                <span class="package-notes-checkout<?php echo $packageNotes ? '' : ' hidden' ?>" id="<?php echo $package->getPackageId(); ?>"></span>
                <div class="badge <?php echo isset($class['state']) ? $class['state']['badge'] : "";?> package-lightbulb-tooltip">
                    <i class="<?php echo isset($class['state']) ? $class['state']['icon'] : "";?>"></i>
                    <?php echo $numberOfCurrentRedplusMembers > 0 ? $numberOfCurrentRedplusMembers : ''; ?>
                </div>
                <div class="menu-expand full">
                    <ul>
                        <li class="icons note">
                            <a class="package-item-notes" id="<?php echo $package->getPackageId(); ?>">
                                <?php echo $this->__('Note'); ?>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-right mtm mtm-<?php echo $package->getPackageId(); ?> <?php echo $packageNotes ? ' hidden' : '' ?>" onclick="switchPackageMenu(event, this)">
                    <i class="vfde-more"></i>
                </div>
            </div>
        </div>

        <?php if ($package->isFixed() && (strtoupper($package->getSaleType()) == Dyna_Catalog_Model_ProcessContext::ILSBLU || strtoupper($package->getSaleType()) == Dyna_Catalog_Model_ProcessContext::ILSNOBLU)) : ?>
            <?php
            $params = [
                'ContractCancellationDate' => date('Y-m-d'),
                'optionInMinimumDuration'  => ($contract['contracts'][0]['in_minimum_duration'] === 1 ? 'TRUE' : 'ELSE'),
                'contractValue'    => '',
                'newContractValue' => '',
                'bandwidth'        => '', // existing
                'technology'       => '', // existing
                'tariff'           => $productExisting->getPackageType(), // existing
                'newTariff'        => $package->getType(),
                'familyCategory'   => $familyCategory, // existing
            ];

            if (false === empty($bandwidth)) {
                $params['bandwidth'] = $bandwidth;
            }

            if (false === empty($technology)) {
                $params['technology'] = $technology;
            }

            if (false === empty($productExisting)) {
                $params['contractValue']    = $productExisting->getContractValue();
                $params['newContractValue'] = $productExisting->getContractValue();
                $params['tariff']           = $productExisting->getPackageType();
                if (false === empty($productExisting->getProductType())) {
                    $params['tariff'] = $catalogModel->getProductAttributeLabel('product_type', $productExisting->getProductType());
                }
            }

            if(false === empty($productNew)) {
                $params['newContractValue'] = $productNew->getContractValue();
                if (false === empty($productNew->getProductType())) {
                    $params['newTariff'] = $catalogModel->getProductAttributeLabel('product_type', $productNew->getProductType());
                }
            }

            if (isset($contract)) {
                $params['optionInMinimumDuration'] = ($contract['contracts'][0]['in_minimum_duration'] === 1 ? 'TRUE' : 'ELSE');
            } else {
                $params['optionInMinimumDuration'] = 'ELSE';
            }


            if (false === empty($billingInfo) && false === empty($billingInfo['next_bill_cycle_start_date'])) {
                $params['NextBillCycleStartDate'] = $billingInfo['next_bill_cycle_start_date'];
            }
            ?>
            <?php $tDate = $this->getTargetDate($params, $package); ?>
            <div class="dt target-date-row">
                <div class="tc cell70 vm">
                    <?php echo '<strong>' . $this->__('Target date') . ':</strong> ' . $tDate['targetDate']; ?>
                    <?php if (false === empty($tDate['terminationDate'])) : ?>
                        <?php echo '<strong>' . $this->__('Termination date') . ':</strong> ' . $tDate['terminationDate']; ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>

        <?php foreach ($packageItemsBySubtype as $section => $productsInSection) :
            if (isset($productsInSection['items']) && !empty($productsInSection['items'])) {
                $formatedItemsForPriceSliding = $helper->getFormattedItemsForPriceSliding($packageItemsBySubtype[$section]['items']);
                $priceSlicing = $priceSlicing ? array_merge($priceSlicing,$formatedItemsForPriceSliding) : $formatedItemsForPriceSliding;
            }

            ?>
            <?php if (isset($productsInSection['items'])) : ?>
                <div class="<?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>">
                    <div class="dt separator">
                        <div class="tc cell70 vm">
                            <p class="LabelText"><?php echo $productsInSection['section_name']; ?></p>
                        </div>
                        <div class="tc cell15 vm ar">
                            <?php if ($sectionIndex === 0) : ?><p class="LabelText"><?php echo $this->__('One time cost'); ?></p><?php endif; ?>
                        </div>
                        <div class="tc cell15 vm ar">
                            <?php if ($sectionIndex === 0) : ?><p class="LabelText"><?php echo $this->__('Monthly'); ?></p><?php endif; ?>
                        </div>
                    </div>
                        <?php foreach($productsInSection['items'] as $key => $product) : ?>
                            <div class="dt <?php echo (!$product['product_visibility']) ? 'hidden ' : ''; ?>">
                                <div class="tc cell70 item-name">
                                    <p><?php echo (ucfirst(Dyna_Catalog_Model_Type::MOBILE_SHIPPING_SKU) == $product['name']) ? $this->__($product['name']) : $product['name']; ?>
                                        <?php if( $package->getSaleType() == Dyna_Checkout_Model_Sales_Quote_Item::INLIFE && $product['system_action'] != Dyna_Checkout_Model_Sales_Quote_Item::SYSTEM_ACTION_EXISTING ):?>
                                            <span class="overview-new-label"><?php echo $this->__('New') ?></span>
                                        <?php endif; ?>
                                    </p>
                                </div>
                                <div class="tc cell15 item-price ar">
                                    <p><?php echo isset($product['row_total_incl_tax']) && $product['row_total_incl_tax'] != 0 ? $helper->showNewFormattedPriced($product['row_total_incl_tax']) : $helper->showNewFormattedPriced(0.00); ?></p>
                                </div>
                                <div class="tc cell15 item-price ar">
                                    <p><?php echo isset($product['maf_row_total_incl_tax']) && $product['maf_row_total_incl_tax'] != 0 ? $helper->showNewFormattedPriced($product['maf_row_total_incl_tax']) : $helper->showNewFormattedPriced(0.00); ?></p>
                                </div>
                            </div>
                            <?php if (isset($product['promos'])): ?>
                                <?php
                                /**
                                 * @TODO remove after solving OMNVFDE-4933
                                 */
                                $product['promos'] = array_unique($product['promos'], SORT_REGULAR);
                                ?>
                                <?php foreach($product['promos'] as $promo) : ?>
                                    <div class="dt additional <?php echo (!$promo['product_visibility']) ? 'hidden' : ''; ?>">
                                        <div class="tc cell70 item-name">
                                            <p><?php echo $promo['name'] ;?></p>
                                        </div>
                                        <div class="tc cell15 item-price ar">
                                            <p><?php echo isset($promo['price_discount']) && $promo['price_discount'] != 0
                                                ? $helper->showNewFormattedPriced(-1 * $promo['price_discount'])
                                                : '&nbsp;';
                                            ?></p>
                                        </div>
                                        <div class="tc cell15 item-price ar">
                                            <p><?php echo isset($promo['maf_discount']) && $promo['maf_discount'] != 0
                                                ? $helper->showNewFormattedPriced(-1 * $promo['maf_discount'])
                                                : '&nbsp;' ;
                                            ?></p>
                                        </div>
                                    </div>
                                <?php endforeach;?>
                            <?php endif?>
                        <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <?php $sectionIndex++; ?>
        <?php endforeach ?>

    <?php
    $packageTotals = $quote->calculateTotalsForPackage($package->getPackageId());
    ?>

    <div class="overview-table-footer">
        <div class="dt">
            <div class="tc cell70 item-name vm">
                <p class=""><?php echo $this->__('Net'); ?></p>
            </div>
            <div class="tc cell15 item-price vm ar">
                <p class=""><?php echo $helper->showNewFormattedPriced($packageTotals['subtotal_price']) ?></p>
            </div>
            <div class="tc cell15 item-price vm ar">
                <p class=""><?php echo $helper->showNewFormattedPriced($packageTotals['subtotal_maf']) ?></p>
            </div>
        </div>
        <div class="dt">
            <div class="tc cell70 item-name vm">
                <p class=""><?php echo $this->__('Tax'); ?></p>
            </div>
            <div class="tc cell15 item-price vm ar">
                <p class=""><?php echo $helper->showNewFormattedPriced($packageTotals['tax_price']) ?></p>
            </div>
            <div class="tc cell15 item-price vm ar">
                <p class=""><?php echo $helper->showNewFormattedPriced($packageTotals['tax_maf']) ?></p>
            </div>
        </div>
        <div class="dt total-cost">
            <div class="tc cell70 item-name vm">
                <p class=""><?php echo $this->__('Total cost (including 19% VAT plus shipping costs)') ?></p>
            </div>
            <div class="tc cell15 item-price vm ar">
                <p class=""><?php echo $helper->showNewFormattedPriced($packageTotals['total']) ?></p>
            </div>
            <div class="tc cell15 item-price vm ar">
                <p class=""><?php echo $helper->showNewFormattedPriced($packageTotals['total_maf']) ?></p>
            </div>
        </div>
        <?php //get products with slide prices per Month
        if (!empty($priceSlicing) && ($package->isCable())):
            $priceSlicing = $helper->getPriceSlidingPerMonthForAllProduct($priceSlicing);
            $headers = array_diff( array_keys(current($priceSlicing)), ['total'] );
            $hasPriceSliding = true; ?>
            <div class="dt separator line-separator"></div>
            <?php foreach ($priceSlicing as $sku => $row) : ?>
            <div class="dt total-cost">
                <?php foreach ($row as $key => $price) : ?>
                    <?php  if ($key == 'month') { ?>
                        <div class="tc cell70 item-name vm">
                            <p class=""><?php
                                $months = $row['month']['from'] != $row['month']['to'] ? $row['month']['from'] .' - '. $row['month']['to']  : $row['month']['from'];
                                echo $this->__('From'). " " . $months . " " . $this->__("Month");
                                ?></p>
                        </div>
                    <?php } ?>
                <?php endforeach ?>
                <div class="tc cell15 item-price vm ar">
                    <p class=""></p>
                </div>
                <div class="tc cell15 item-price vm ar">
                    <p class=""><?php echo $helper->showNewFormattedPriced($row['total']); ?></p>
                </div>
            </div>
        <?php
            endforeach;
        endif;
        ?>
    </div>
    <?php if ($packageCount > $packageIndex) : ?>
    <?php endif; ?>
    </div></div>
<?php endforeach; ?>

<p class="section-header">
    <?php
    if($hasPriceSliding) {
        echo $this->__("Total in 1st month");
    } else {
        echo $this->__("Total costs");
    } ?>
</p>

<div class="checkout-section-container review-order table-totalcost">
    <div class="dt headers">
        <div class="tc cell70"></div>
        <div class="tc cell15"><?php echo $this->__('One time cost'); ?></div>
        <div class="tc cell15"><?php echo $this->__('Monthly'); ?></div>
    </div>
    <div class="dt separator">
        <div class="tc cell70"></div>
        <div class="tc cell15"></div>
        <div class="tc cell15"></div>
    </div>
    <div class="dt partial-cost">
        <div class="tc cell70 item-name strong"><?php echo $this->__('Subtotal (#)'); ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchTotal() - $quote->getTotalShippingFee())?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchMafTotal()) ?></div>
    </div>
    <div class="dt partial-cost">
        <div class="tc cell70 item-name"><?php echo $this->__('Delivery costs'); ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getTotalShippingFee())?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced(0) ?></div>
    </div>
    <div class="dt separator">
        <div class="tc cell70"></div>
        <div class="tc cell15"></div>
        <div class="tc cell15"></div>
    </div>
    <div class="dt partial-cost">
        <div class="tc cell70 item-name"><?php echo $this->__('Net'); ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchSubtotal()) ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchMafSubtotal()) ?></div>
    </div>
    <div class="dt partial-cost">
        <div class="tc cell70 item-name"><?php echo $this->__('Tax'); ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchTax()) ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchMafTax()) ?></div>
    </div>
    <div class="dt separator">
        <div class="tc cell70"></div>
        <div class="tc cell15"></div>
        <div class="tc cell15"></div>
    </div>
    <div class="dt">
        <div class="tc cell70 item-name"><?php echo $this->__('Total cost including VAT') ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchTotal()) ?></div>
        <div class="tc cell15 item-price"><?php echo $helper->showNewFormattedPriced($quote->getInitialMixmatchMafTotal()) ?></div>
    </div>
</div>
