<?php
/** @var Dyna_Bundles_Block_Options $block */
$block = $this;
if ($bundleId = $block->getBundleChoiceId()):
    $bundleOptions = $block->getBundleOptions();
    $handleDummyPackage = $bundleOptions['handleDummyPackage'];
    $dataBundle = [];
    //handle quote package and install base in same bundle choice panel
    if ($handleDummyPackage && count($bundleOptions['products']) > 0 ) {
        foreach ($bundleOptions['products'] as $packageId => $products) {
            $dataBundle = $this->createDataBundleFromBundleOptions($dataBundle, $bundleOptions, $packageId, $block);
        }
    } else {
        $packageIdGlobal = $handleDummyPackage && count($bundleOptions['products']) == 1 ? $handleDummyPackage : $bundleOptions['activePackageId'];
        $dataBundle = $this->createDataBundleFromBundleOptions($dataBundle, $bundleOptions, $packageIdGlobal, $block);
    }
    //display the bundle choice only if we have data
    if (!empty($dataBundle)) :
?>
    <div id="bundle-options" class='notification-panel open' data-bundle-id="<?php echo $bundleId; ?>">
        <div class="notification-panel-wrapper" id="promo_rules_conditions">
                <div class="row notification-content" >
                    <?php foreach ($dataBundle as $packageId => $packageContent) :
                    $families = $packageContent['families'];
                    $selectedProducts = $packageContent['selectedProducts'];
                    $productsContainer = $packageContent['productsContainer'];
                    ?>
                    <div class="bundle-choice-wrapper" data-bundle-selected-ids='<?php echo implode(',', $selectedProducts);?>' data-package-id="<?php echo $packageId;?>">

                        <?php if (is_array($productsContainer)): ?>
                        <div class="col-md-12">
                            <h3><?php echo isset($handleDummyPackage) && $handleDummyPackage == $packageId ? $this->__('Installed base package') : $this->__('Quote package') ?></h3>
                        </div>
                        <?php foreach ($productsContainer as $family => $products): ?>
                            <div class="col-md-12">
                                <?php if (!empty(str_replace(" ","",(!empty($families[$family]['name']) ? $families[$family]['name'] : '')))):?>
                                <div class='familyName'>
                                    <strong><?php echo $families[$family]['name']; ?></strong>
                                </div>
                                <?php endif; ?>
                                <div class="discounts-block products-container">
                                    <?php foreach ($products as $product): ?>
                                        <p class="rules_show">
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       class='validate-one-required-by-name'
                                                       name="<?php echo $family; ?>"
                                                       onclick="removeBundleChoiceWarnings()"
                                                       value="<?php echo $product['ID']; ?>"
                                                       data-package-id="<?php echo $packageId; ?>"
                                                    <?php if ($product['selected'] === 'true') {
                                                        echo 'checked';
                                                    } ?>
                                                       data-id="<?php echo $product['productID']; ?>"
                                                       data-subtype="bundle"
                                                />
                                                <?php echo $product['name']; ?>
                                            </label>
                                        </p>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                        <?php endif;?>
                    </div>
                    <?php endforeach; ?>
                    <div class="row">
                        <div class="clearfix col-md-12 button-row">
                            <button class="btn pull-right btn-xs btn-primary products-save" type="button"
                                    onclick="saveBundleChoice('#bundle-options')"><?php echo $this->__('Save choice'); ?></button>
                        </div>
                    </div>
                </div>
            <button class="slide slide-up" onclick="toggleNotificationPanel('#bundle-options');">&nbsp;</button>
        </div>
    </div>
    <?php endif; ?>
<?php endif; ?>
