<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>Nicht verfügbar</h1>
        </div>
        <div class="col-md-12">
            <p>Die Anwendung ist derzeit nicht verfügbar. Wir möchten Sie später noch einmal versuchen</p>
        </div>
    </div>
</div>