<script id="Local-Customer-Search-Results" type="text/x-handlebars-template">
    {{#compare localCustomers.error true operator="=="}}
        <div class="message">
            {{localCustomers.message}}
        </div>
    {{else}}
        {{#each localCustomers.customers}}
        <div class="customer-row col-md-12" onclick="customerDe.prepareAndLoadCustomer('{{this.ParentAccountNumber.ID}}', null, true)">
            <div class="row row-with-headers">
                <div class="col-md-6 customer-details-name">
                    <div class="col-md-9 names">
                        {{#compare this.AccountClass "S" operator="=="}}
                        {{this.PartyName.Name}}
                        {{/compare}}
                        {{this.Role.Person.FirstName}}
                        {{this.Role.Person.FamilyName}}
                    </div>
                    <div class="col-md-1 customer-icon-details">
                        {{#compare this.AccountClass "S" operator="=="}}
                            <span class="icon-soho-cust"></span>
                        {{else}}
                            <span class="icon-private-cust"></span>
                        {{/compare}}
                    </div>
                </div>
                <div class="col-md-2 customer-details-header">
                </div>
                <div class="col-md-3 customer-details-header">
                </div>
                <div class="col-md-1 customer-types">
                    {{#compare  this.KIAS '1' operator="=="}}
                    <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                    {{/compare}}

                    {{#compare  this.KD '1' operator="=="}}
                    <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                    {{/compare}}

                    {{#compare  this.FN '1' operator="=="}}
                    <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{else}}
                    <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                    {{/compare}}
                </div>
            </div>
            <div class="row row-with-address">
                <div class="col-md-6 customer-details-content">
                    {{#if this.phoneLocalAreaCode}}
                    {{#showLocalAreaCode this.phoneLocalAreaCode}}{{/showLocalAreaCode}}
                    {{else}}
                    -
                    {{/if}}
                    {{#if this.phoneNumber}}
                    {{this.phoneNumber}}
                    {{else}}
                    -
                    {{/if}}
                </div>
                <div class="col-md-2 customer-details-content">
                    {{this.Contact.ElectronicMail}}
                </div>
                <div class="col-md-2 customer-details-content">
                    {{#compare this.AccountClass "P" operator="=="}}
                    {{getDotDateFromLineDate this.Role.Person.BirthDate}}
                    {{/compare}}
                </div>
                <div class="col-md-1 customer-types">
                </div>
            </div>
        </div>
        {{/each}}
    {{/compare}}
</script>
