<?php
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$customer = $this->getCustomer();
$checkoutData = Mage::helper("dyna_checkout/fields");

$selectedPakageId=$this->getResponse();

$customer = $this->getCustomer();
$isSohoCustomer = $customer->getIsSoho();

?>
<div class="input-group-custom">
    <div class="field-row" id="timeContainer_<?php echo $selectedPakageId; ?>">
        <div class="delivery-datetime-container">

            <div id="slides" class="DateSelectionBar1" >
                <ul>
                    <?php for($i=0,$count=0;$i<30;$i++){ ?>
                            <!-- Carousel items -->
                            <li class="mySlides1 slide">
                                <?php for($j=0;$j<6;$j++) {  ?>
                                  <?php  $weekday = ($count==0)?"Today":(($count==1)?"Tomorrow":date("l",strtotime("+$count day"))); ?>
                                  <?php  $date = date("d M",strtotime("+$count day")); $count++; ?>
                                    <div class=" Date">
                                        <div>
                                            <span class="Day-Date">
                                                <?php echo $weekday ?> <br/>
                                                <?php echo $date ?>
                                            </span>
                                        </div>
                                    </div>

                                <?php } ?>
                            </li>

                    <?php if($j==7){ $i +=$j;} } ?>

                </ul>

		    </div>
                 <span id='prev' class="slide-one Previous left" href="#">
                    <img src="<?php echo $this->getSkinUrl('img/previous-page.png') ?>" class="Shape"/>
                </span>

                <span id='next' class="slide-one Next right" href="#">
                    <img src="<?php echo $this->getSkinUrl('img/next-page.png') ?>" class="Shape"/>
                </span>


            <div class="datetime-slots-calender">
                <div class="timeline">
                    08:00</br> 10:00</br> 12:00</br> 14:00</br> 16:00</br> 18:00</br> 20:00</br> 22:00</br>
                </div>
                <div class="timelinediv1">   </div>
            </div>

            <div id="timecontentloader" class="divloader"></div>
        </div>
    </div>
</div>


<script>


    var slides = jQuery('.slide');
    var container = jQuery('#slides ul');
    var elm = container.find(':first-child').prop("tagName");
    var item_width = container.width();
    var item_width = 498;
    var previous = 'prev'; //id of previous button
    var next = 'next'; //id of next button
    slides.width(item_width); //set the slides to the correct pixel width
    container.parent().width(item_width);
    container.width(slides.length * item_width); //set the slides container to the correct total width
    container.find(elm + ':first').before(container.find(elm + ':last'));
    resetSlides();


    //if user clicked on prev button

    jQuery('.slide-one ').click(function (e) {
        //slide the item

        if (container.is(':animated')) {
            return false;
        }
        if (e.target.id == previous) {
            container.stop().animate({
                'left': 0
            }, 1500, function () {
                container.find(elm + ':first').before(container.find(elm + ':last'));
                resetSlides();
            });
        }

        if (e.target.id == next) {
            container.stop().animate({
                'left': item_width * -2
            }, 1500, function () {
                container.find(elm + ':last').after(container.find(elm + ':first'));
                resetSlides();
            });
        }

        //cancel the link behavior
        return false;

    });

    function resetSlides() {
        //and adjust the container so current is in the frame
        container.css({
            'left': -1 * item_width
        });
    }

    //a simple function to click next link
    //a timer will call this function, and the rotation will begin

    function rotate() {
        jQuery('#next').click();
    }


    var selectedPakageId=<?php echo $selectedPakageId; ?>;
    var isSohoCustomer='<?php echo $isSohoCustomer; ?>';
    var AddressDateTime = new AddressDateTime(selectedPakageId,isSohoCustomer);

    AddressDateTime.fetchAvailableShippingOptions();


</script>

