<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>
<?php
/**
 * @see Mage_Adminhtml_Block_Catalog_Form_Renderer_Fieldset_Element
 */
?>
<?php $_element = $this->getElement() ?>
<?php $this->checkFieldDisable() ?>
<?php
$elementToggleCode = $_element->getToggleCode() ? $_element->getToggleCode()
    : 'toggleValueElements(this, this.parentNode.parentNode)';

    // RFC-150018 - See if the attribute has a different value in another store view
    $different = false;
    $product = Mage::registry('current_product');
    if ($product) {
        $currentValue = $product->getData($_element->getId());
        foreach ($product->getStoreIds() as $storeId) {
            $temp = Mage::registry(sprintf('current_product|%s', $storeId));
            if ($temp && $temp->getId()) {
                if ($currentValue != $temp->getData($_element->getId())) {
                    $different = true;
                    echo sprintf('<div class="remove-me-jquery"><script>jQuery("#store_switcher").find("[value=%s]").css("color","red");jQuery(".remove-me-jquery").remove();</script></div>', $storeId);
                }
            }
        }
    }
?>

<?php if ($_element->getType() == 'hidden'): ?>
    <tr>
        <td class="hidden" colspan="100"><?php echo trim($_element->getElementHtml()) ?></td>
    </tr>
<?php else: ?>
    <tr>
        <td class="label"><?php echo trim($this->getElementLabelHtml()) ?></td>
        <td class="value<?php echo $different ? " difference-warning" : ""; ?>">
            <?php echo trim($this->getElementHtml()) ?>
            <?php if ($_element->getNote()) : ?>
                <p class="note"><?php echo $_element->getNote() ?></p>
            <?php endif; ?>
        </td>
        <td class="scope-label"><span class="nobr"><?php echo $this->getScopeLabel() ?></span></td>
        <?php if ($this->canDisplayUseDefault()): ?>
            <td class="value use-default">
                <input <?php if ($_element->getReadonly()): ?> disabled="disabled"<?php endif; ?> type="checkbox" name="use_default[]" id="<?php echo $_element->getHtmlId() ?>_default"<?php if ($this->usedDefault()): ?> checked="checked"<?php endif; ?> onclick="<?php echo $elementToggleCode; ?>"
                                                                                                  value="<?php echo $this->getAttributeCode() ?>"/>
                <label for="<?php echo $_element->getHtmlId() ?>_default" class="normal"><?php echo $this->__('Use Default Value') ?></label>
            </td>
        <?php endif; ?>
    </tr>
<?php endif; ?>
