<?php
    /** @var Dyna_Checkout_Block_Order $this */
    $packageType = $this->getPackageType();

    /** @var $packageHelper Dyna_Package_Helper_Data */
    $packageHelper = Mage::helper('dyna_package');
    $orderStatus = $this->getOrderStatus() ?: $this->getSuperOrder()->getOrderStatusTranslate();
    $orderStatusClass = $packageHelper->getStatusAsCSSClass($orderStatus);
    $createdAtTimestamp = strtotime($this->getSuperOrder()->getCreatedAt());
?>

<script>
    // variable stores the VarienForm objects
    var form = {};
    var numberPortingPackages = [];
    var retentionPackages = [];
</script>
<?php if (!$this->getHasPermission()): ?>
    <div class="clearfix" id="cart">
        <?php Mage::helper('dyna_core')->setPostKey($this->getRequest()->getMethod()); ?>
        <p class="permission-warning-message"><?php echo $this->__("The agent does not have the required permissions to view this order."); ?></p>
    </div>
<?php else: ?>
    <div class="clearfix" id="cart">
        <?php Mage::helper('dyna_core')->setPostKey($this->getRequest()->getMethod()); ?>
        <div id="cart-top" class="clearfix row">
            <div class="row overview-back-btn">
                <p>
                    <a href="javascript:void(0);" onclick="jQuery('#open-orders-menu').click()">
                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                        <?php echo mb_strtoupper($this->__('Orders'));?> /
                    </a>
                    <span><?php echo strtoupper($this->__('Order')) . ' ' . htmlspecialchars($this->getOrderNumber()); ?></span>
                    <span class="btn-cancel-order" onmouseover="jQuery(this).tooltip('show')" onmouseleave="jQuery(this).tooltip('hide')"
                          data-trigger="manual" data-placement="bottom" data-html="true" title="<?php echo $this->__('It is not possible to cancel the order')?>">
                        <span class="glyphicon glyphicon-lock"></span> <?php echo strtoupper($this->__('Locked order')); ?>
                    </span>
                </p>
            </div>
            <div class="<?php echo $orderStatus ? 'col-md-10 col-md-offset-1 col-xs-12' : 'col-md-6 col-md-offset-3 col-xs-12' ?>" id="checkout-title">
                <div class="col-md-12">
                    <p class="overview-title-font"><?php echo $this->__('Order') . ' ' . htmlspecialchars($this->getOrderNumber()); ?>
                        <span class="order-level-status <?php echo $orderStatusClass; ?>"><?php echo strtoupper($orderStatus); ?></span>
                    </p>
                </div>
                <div class="col-md-12">
                    <p class="order-date"><?php echo $this->__('Created on') . '<b> ' . date('d.m.Y', $createdAtTimestamp) . ' </b>' . $this->__('at the') . ' <b>' . $this->getSuperOrder()->getCreatedByAgentAndWebsite()[0] . '</b> ' . $this->__('by') . ' <b>' . $this->getSuperOrder()->getCreatedByAgentAndWebsite()[1] . '</b>'; ?></p>
                    <p class="order-date"><?php echo $this->__('Last Modified On') . '<b> ' . date('d.m.Y', $createdAtTimestamp) . '</b> ' . $this->__('at the') . ' <b>' . $this->getSuperOrder()->getAgentAndWebsite()[0] . ' </b>' . $this->__('by') . '<b> ' . $this->getSuperOrder()->getAgentAndWebsite()[1] . '</b>'; ?></p>
                </div>
            </div>
        </div>
        <div id="cart-left" class="<?php echo $orderStatus ? '' : 'col-md-4 col-xs-0' ?>"></div>
        <div id="cart-content" class="<?php echo $orderStatus ? 'col-md-10 col-md-offset-1 col-xs-12' : 'col-md-6 col-xs-12' ?> view-orders-container add-colon" data-offset="0">
            <span class="add-bold"> <?php echo $this->getChildHtml('customer-details'); ?> </span>
            <span class="add-bold"> <?php echo $this->getChildHtml('billing-details'); ?> </span>
            <span class="add-bold"> <?php if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages()) || in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())) :?>
                <?php echo $this->getChildHtml('provider-change-details'); ?>
            <?php endif; ?> </span>
            <span class="add-bold"> <?php echo $this->getChildHtml('delivery-details'); ?> </span>
                <span class="add-bold"> <?php echo $this->getChildHtml('payment-details'); ?> </span>
            <span class="add-bold"> <?php echo $this->getChildHtml('other-details'); ?> </span>
            <span><?php echo $this->getChildHtml('order-overview-details'); ?> </span>
        </div> <!-- END cart-content -->

    </div> <!-- END cart -->
<?php endif; ?>