<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<?php $session = Mage::getSingleton('dyna_customer/session'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>

    <script type="text/javascript">
        <?php if (!$this->getIsCheckout() ) : ?>
        var templates = {};
        <?php
        /** @var Omnius_Configurator_Block_Wrapper $wrapper */
        $wrapper = Mage::getBlockSingleton('omnius_configurator/wrapper')
            ->setFormat('json');
        $partials = array(); ?>
        <?php foreach(Dyna_Catalog_Model_Type::getSections() as $type):?>
        <?php
        $templates = Mage::getSingleton('dyna_configurator/template')->getAllTemplates($type);
        $wrapper->setTemplates($templates);
        // collect partials
        $partials[$type] = $templates['partials'];
        $html = trim($wrapper->setType($type)->toHtml());
        ?>
        templates['<?php echo $type; ?>'] = <?php echo $html;?>;
        <?php endforeach;?>
        templates['partials'] = <?php echo json_encode($partials); ?>;
        <?php endif; ?>
    </script>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<input type="hidden" id="current_website_code" value="<?php echo Mage::app()->getWebsite()->getCode() ?>"/>
<input type="hidden" id="current_website_id" value="<?php echo Mage::helper('superorder')->shouldEmulateStore(Mage::app()->getWebsite()->getId()); ?>"/>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>

    <?php if ($version = Mage::helper('dyna_cache')->getAppVersion()): ?>
        <div class="build <?php echo (Mage::getStoreConfig('omnius_general/version_info/show_version')) ? '': 'hidden' ?>"
             id="current_build">
            <?php echo $version; ?>
        </div>
    <?php endif; ?>

    <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container col3-layout">

        <div class="page">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container col3-layout">
            <div class="main">
                <?php echo $this->getChildHtml('breadcrumbs') ?>
                <div class="col-wrapper">
                    <div id="orderview_layout_fix" class="col-main enable-orders-page-scroll">
                        <?php echo $this->getChildHtml('global_messages') ?>
                        <?php echo $this->getChildHtml('content') ?>
                    </div>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml('footer') ?>
        <?php echo $this->getChildHtml('global_cookie_notice') ?>
        <?php echo $this->getChildHtml('before_body_end') ?>
        <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/footer-elements.phtml')->toHtml() ?>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>

<?php echo $this->getChildHtml('modals') ?>

</body>
</html>
