<?php
$customerSession = Mage::getSingleton('dyna_customer/session');
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$customerLoggedIn = $customer->isCustomerLoggedIn();
$isSoho = $customer->getIsSoho();
$activeBundle = $customerSession->getActiveBundleId();

// agent permissions
/** @var Dyna_Catalog_Helper_ProcessContext $contextHelper */
$contextHelper            = Mage::helper('dyna_catalog/processContext');
$agent                    = $customerSession->getAgent();
$processContext           = $contextHelper->getProcessContextCode();
$agentHasAllowCab         = $agent->isGranted('ALLOW_CAB');
$agentHasAllowDsl         = $agent->isGranted('ALLOW_DSL');
$agentHasAllowMob         = $agent->isGranted('ALLOW_MOB');
$agentHasDebitToCredit    = $agent->isGranted('DEBIT_TO_CREDIT');
$agentHasSendSavedOffer   = $agent->isGranted('SEND_OFFER');
$agentHasVoicelogRequired = $agent->isGranted('VOICELOG_REQUIRED');

/** @var Dyna_ProductMatchRule_Helper_Data $helper */
$helper = Mage::helper('dyna_package');
$packageTypes = Mage::getModel('dyna_package/packageType')
    ->getCollection()
    ->getPackageTypesToArray(true);

/** @var Dyna_Configurator_Helper_Data $configuratorHelper */
$configuratorHelper = Mage::helper('dyna_configurator');
$customerHasKipInstalled = $configuratorHelper->customerHasServiceInstalled(Dyna_Customer_Model_Client_RetrieveCustomerInfo::CABLE_PRODUCT_CATEGORY_KIP);
$customerHasKudInstalled = $configuratorHelper->customerHasServiceInstalled(Dyna_Customer_Model_Client_RetrieveCustomerInfo::CABLE_PRODUCT_CATEGORY_CLS);

/** @var Dyna_Bundles_Helper_Data $bundleHelper */
$bundleHelper = Mage::helper('bundles');
$cartIsRedPlusEligible = $bundleHelper->cartIsRedPlusEligible();

/** @var Dyna_Package_Model_PackageCreationTypes $packageCreationTypesModel */
$packageCreationTypesModel = Mage::getModel('dyna_package/packageCreationTypes');

/** @var Dyna_Customer_Helper_Data $customerHelper */
$customerHelper = Mage::helper('dyna_customer');
?>

<div class="sticker" style="<?php echo $activeBundle ? 'height: calc(100% - 40px);height: -moz-calc(100% - 40px);height: -webkit-calc(100% - 40px);height: -o-calc(100% - 40px);height: -ms-calc(100% - 40px);' : ''; ?>">
    <div id="soho-toggle" class="toggle-container soho-toggle" data-state="<?php echo ($isSoho) ? true : false ?>">
        <div class="toggle-label off-state">
            <label for="advanced-search"
                   onclick="customerDe.setBusinessState(); "><?php echo $this->__("Private") ?></label>
        </div>
        <div class="switch">
            <div id="tog" class="toggle-button <?php echo ($isSoho) ? 'on-state' : 'off-state' ?> "
                 onclick="customerDe.setBusinessState()"><span class="bullet"> </span></div>
        </div>
        <div class="toggle-label off-state">
            <label for="advanced-search"
                   onclick="customerDe.setBusinessState();"><?php echo $this->__("Business") ?></label>
        </div>
    </div>

    <div class="clearfix">
        <div class="cart_right_expanded col-md-9 col-xs-8 pln"
             style="max-height: 630px; overflow-y: auto; position: relative;">
            <h2 class="col-title">
<!--                <span class="cart-icon"> </span>-->
                <?php echo $this->__("Shopping cart"); ?>
            </h2>
        </div>
        <div class="col-md-3 col-xs-4" style="position: relative;" id="right-panel-cart-menu">
            <div class="menu-expand full">
                <ul>
                    <li>
                        <a onclick="showSaveCartModal('<?php echo ($customerLoggedIn) ? 1 : 0 ?>')" class="disabled" id="btn-save-and-send">
                            <i class="vfde vfde-save fa-lg"></i>
                            <?php echo $this->__("Save and send") ?>
                        </a>
                    </li>
                    <li>
                        <a onclick="showCancelCartModal();" class="disabled" id="btn-delete-all">
                            <i class="vfde vfde-delete fa-lg"></i>
                            <?php echo $this->__('Delete all packages') ?>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pull-right menu-trigger" onclick="switchPackageMenu(event, this)">
                <i class="vfde-more"></i>
            </div>
        </div>
    </div>


    <?php
    $packages = $this->getQuote()->getPackages();
    $hasOnePackage = (bool)count($packages);
    /** @var Dyna_Package_Model_PackageCreationGroups $packageCreationGroupsModel */
    $packageCreationGroupsModel = Mage::getModel('dyna_package/packageCreationGroups');
    $packageGroups = $packageCreationGroupsModel->getPackageCreationGroupsWithPackageTypesOrdered();
    ?>
    <div class="relative" id="cart-spinner-wrapper">
        <div id="cart-spinner" class="cart-spinner hide">
            <p><img src="<?php echo $this->getSkinUrl('images/spinner.gif'); ?>" alt=""></p>
        </div>
        <div class="buttons-container">
            <?php if ($customerSession->getAgent()->isGranted(array('CREATE_PACKAGE'))) : ?>
                <div id="show-packages"
                     class="btn btn-default btn-block shadow-grey cursor">
                    <?php echo $this->__("Add package"); ?>
                    <b class="caret"></b>
                </div>
                <div id="package-types" class="hide">
                    <?php foreach ($packageGroups as $packageGroup) : ?>
                        <div class="btn btn-default btn-xs btn-block no-cursor fw-bold"><?php echo $packageGroup['gui_name']; ?></div>
                        <?php foreach ($packageGroup['package_creation_types'] as $packageGroupCreationType) :?>
                            <div class="btn btn-default btn-xs btn-block cursor
                                 <?php echo (strtolower(Dyna_Catalog_Model_Type::CREATION_TYPE_REDPLUS) == strtolower($packageGroupCreationType['package_type_code']) && !$cartIsRedPlusEligible) ? 'disabled ' : ''  ?>
                                 <?php echo (in_array(strtolower($packageGroupCreationType['target_package']), Dyna_Catalog_Model_Type::getPackagesThatNeedServiceability())) ? 'requires-serviceability ' : ''  ?>
                                 <?php echo (Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE == $packageGroupCreationType['target_package']) ? 'single-kip-at-address ' : ''  ?>"
                                <?php
                                // disable mobile if general permissions are missing
                                if (!$agentHasAllowMob &&
                                    in_array(strtolower($packageGroupCreationType['target_package']), [
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_MOBILE),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_PREPAID),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_REDPLUS)])
                                    ) {
                                    echo "data-mobile-disabled='true'";
                                }

                                // disable cable if general permissions are missing
                                if (!$agentHasAllowCab &&
                                    in_array(strtolower($packageGroupCreationType['target_package']), [
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE)])
                                    ) {
                                    echo "data-cable-disabled='true'";
                                }

                                // disable dsl if general permissions are missing
                                if (!$agentHasAllowDsl &&
                                    in_array(strtolower($packageGroupCreationType['target_package']), [
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_LTE)])
                                    ) {
                                    echo "data-dsl-disabled='true'";
                                }

                                // -- disable cable if pre-post and permissions missing
                                if ($agentHasDebitToCredit &&
                                    !$agentHasSendSavedOffer &&
                                    in_array(strtolower($packageGroupCreationType['target_package']), [
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT)]) &&
                                    in_array($processContext, [Dyna_Catalog_Model_ProcessContext::MIGCOC])) {
                                    echo "data-dtc-disabled='true'";
                                }

                                // -- disable dsl if pre-post and permissions missing
                                if ($agentHasDebitToCredit &&
                                    !$agentHasSendSavedOffer &&
                                    in_array(strtolower($packageGroupCreationType['target_package']), [
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL),
                                        strtolower(Dyna_Catalog_Model_Type::TYPE_LTE)]) &&
                                    in_array($processContext, [Dyna_Catalog_Model_ProcessContext::MIGCOC])) {
                                    echo "data-dtc-disabled='true'";
                                }
                                ?>
                                <?php if (strtolower($packageGroupCreationType['package_type_code']) == strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE)): ?>
                                    data-requires-green-service="<?php echo Dyna_Cable_Model_Product_Attribute_Option::$cableInternetPhone . '|' . Dyna_Cable_Model_Product_Attribute_Option::$cableInternet?>"
                                <?php endif; ?>
                                <?php if (strtolower($packageGroupCreationType['package_type_code']) == strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV)): ?>
                                    data-requires-green-service="<?php echo Dyna_Cable_Model_Product_Attribute_Option::$cableDigital . '|' . Dyna_Cable_Model_Product_Attribute_Option::$cableAnalogue?>"
                                <?php endif; ?>
                                <?php if (strtolower($packageGroupCreationType['package_type_code']) == strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT)): ?>
                                    data-requires-green-service="<?php echo Dyna_Cable_Model_Product_Attribute_Option::$cableIndependent?>"
                                <?php endif; ?>

                                <?php if (strtolower($packageGroupCreationType['package_type_code']) == strtolower(Dyna_Catalog_Model_Type::TYPE_LTE)): ?>
                                    data-requires-green-service="<?php echo Dyna_Fixed_Model_Product_Attribute_Option::$dsl?>"
                                <?php endif; ?>
                                <?php if (strtolower($packageGroupCreationType['package_type_code']) == strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL)): ?>
                                    data-requires-green-service="<?php echo Dyna_Fixed_Model_Product_Attribute_Option::$dsl?>"
                                <?php endif; ?>

                                 data-target="<?php echo strtolower($packageGroupCreationType['target_package'])?>"
                                 data-package-creation-type-id="<?php echo $packageGroupCreationType['entity_id']; ?>"
                                <?php if ($packageGroupCreationType['filter_attributes']) : ?>
                                    data-filter-attributes="<?php echo $packageGroupCreationType['filter_attributes']; ?>"
                                <?php endif ?>

                                <?php
                                $hasOpenOrders = false;
                                if ($customerLoggedIn) {
                                    if (in_array(strtolower($packageGroupCreationType['target_package']), Dyna_Catalog_Model_Type::getMobilePackages())) {
                                        $hasOpenOrders = $customerHelper->hasOpenOrders(null, Dyna_Catalog_Model_Type::getMobilePackages());
                                    } elseif (in_array(strtolower($packageGroupCreationType['target_package']), Dyna_Catalog_Model_Type::getFixedPackages())) {
                                        $hasOpenOrders = $customerHelper->hasOpenOrders(null, Dyna_Catalog_Model_Type::getFixedPackages());
                                    } elseif ($packageGroupCreationType['target_package'] == Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE) {
                                        $hasOpenOrders = $customerHelper->hasOpenOrders(null, Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE);
                                    } elseif ($packageGroupCreationType['target_package'] == Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT) {
                                        $hasOpenOrders = $customerHelper->hasOpenOrders(null, Dyna_Catalog_Model_Type::TYPE_CABLE_INDEPENDENT);
                                    } elseif ($packageGroupCreationType['target_package'] == Dyna_Catalog_Model_Type::TYPE_CABLE_TV) {
                                        $hasOpenOrders = $customerHelper->hasOpenOrders(null, Dyna_Catalog_Model_Type::TYPE_CABLE_TV);
                                    }
                                }
                                ?>
                                 data-has-open-order="<?php echo trim(var_export($hasOpenOrders, true), "'"); ?>"
                                 onclick="sidebar.initConfigurator(this)">
                                <div class="option-image-block product-cart-icon <?php echo strtolower($packageGroupCreationType['package_type_code'])?>"></div>
                                <span class="disabled-package-title">
                                    <?php echo $packageGroupCreationType['gui_name']; ?>
                                </span>
                            </div>
                        <?php endforeach ; ?>
                    <?php endforeach; ?>
                </div>
            <?php else: ?>
                <div id="package-types">
                    <?php echo $this->__('The agent doesn\'t have enough permissions to create packages'); ?>
                </div>
            <?php endif; ?>
        </div>
        <?php
            echo $this->getLayout()
                ->createBlock('page/html')
                ->setActivePackageId($this->getActivePackageId())
                ->setTemplate('checkout/cart/partials/package_block.phtml')
                ->setData(array(
                        'guiSection' => Dyna_Catalog_Model_Product::GUI_CART
                ))
                ->toHtml();
        ?>
    </div>
    <?php
        echo Mage::getSingleton('core/layout')
            ->createBlock('checkout/cart_totals')
            ->setTemplate('checkout/cart/totals.phtml')
            ->toHtml();
    ?>
</div>

<?php
/*********************************************************************************************************************
 * INIT CONFIGURATOR JS
 *********************************************************************************************************************/
?>

<script type="text/javascript">

    window.quoteHash = '<?php echo Mage::helper('dyna_checkout/cart')->getQuoteProductsHash(); ?>';
    window.processContextCode = '<?php  /** @var Dyna_Catalog_Helper_ProcessContext $processContextHelper */
        $processContextHelper = Mage::helper("dyna_catalog/processContext");
        echo $processContextHelper->getProcessContextCode(); ?>';

    var showOnlyOnePackage = <?php echo (int)Omnius_Checkout_Helper_Data::SHOW_ONLY_ONE_PACKAGE; ?>;
    window.consumerIdentifier = '<?php echo Mage::helper('omnius_configurator/attribute')->getSubscriptionIdentifier(); ?>';
    <?php $products = $this->getQuote()->getPackageProductIds()?>
    function initConfigurator(type, packageId, saleType, ctn, current_products, create_package, migrationOrMoveOffnet, migrationOrMoveOffnetCustomerNo, callBack, hasParent, relatedProductSku, bundleId, filters, packageTypeId, doClearCart) {
        if (doClearCart == undefined) {
            doClearCart = 0;
        }
        if (migrationOrMoveOffnet == undefined) {
            migrationOrMoveOffnet = "";
        }
        if (migrationOrMoveOffnetCustomerNo == undefined) {
            migrationOrMoveOffnetCustomerNo = "";
        }

        if (saleType == undefined) {
            saleType = '<?php echo Dyna_Catalog_Model_ProcessContext::ACQ; ?>';
        }

        if (type == undefined) {
            if (jQuery('.enlarge.right-direction').hasClass('expanded')) {
                jQuery('.enlarge.right-direction').hide().trigger('click');
            }
            return;
        }
        if(filters == undefined) {
            filters = '';
        }
        if (!packageId) {
            var packageCTN = ctn;

            // check if package has more than one ctn
            var hasManyCtns = Boolean(ctn && ctn.match(/,/g));
            if (hasManyCtns) {
                var ctns = ctn.split(',');
                // keep last package to show as open
                packageCTN = ctns.pop();
                var len = ctns.length;

                for (var i = 0; i < len; ++i) {
                    // create dummy package line that will be populated later with an id
                    createCartPackageLine(type, saleType, ctns[i], true);
                }
            }

            if (create_package) {
                var activeProducts = '';
            } else {
                var activeProducts = '<?php echo implode(',', $products)?>';
            }

            var clone = createCartPackageLine(type, saleType, packageCTN, true, current_products);
            /** Uncomment this in order to not load the configurator when creating a new package */
            //return;

        } else {
            var toSearch = '[data-package-id="{0}"]'.format(packageId);
            var activeProducts = jQuery(toSearch).children('.block-container').data('active-products');
        }
        window.setPageLoadingState && window.setPageLoadingState(true);
        var websiteId = jQuery('#current_website_id').val();
        var dealerGroups = jQuery('#dealer_group_ids').val();
        var offerIdCampaign = customerDe.offer_id;

        var dfInit = jQuery.ajax(
            'configurator/init/' + type,
            {
                type: 'POST',
                data: {
                    'packageId': packageId,
                    /* @todo switch lines after implementation */
                    'saleType': saleType,
                    'ctn': ctn,
                    'current_products': current_products,
                    'migrationOrMoveOffnet': migrationOrMoveOffnet,
                    'migrationOrMoveOffnetCustomerNo': migrationOrMoveOffnetCustomerNo,
                    'offerIdCampaign' : offerIdCampaign,
                    'has_parent' : hasParent,
                    'relatedProductSku': relatedProductSku,
                    'bundleId': bundleId,
                    'packageCreationTypeId': packageTypeId,
                    'executeClearCart': doClearCart
                }
            }
        );

        var dfPrices = jQuery.ajax(
            'configurator/init/getPrices',
            {
                data: {
                    'website_id': websiteId,
                    'type': saleType,
                    'packageType': type,
                    'products': activeProducts ? activeProducts : null,
                    'sales_id': SALES_ID
                }
            }
        );

        //TODO: Refactor this to avoid replacing the same items in the current configurator
        //Temporarily removed because it doesn't persist the items fetched at the first call.
        var needsProducts = true;
        var dfProducts = jQuery.ajax(
            'configurator/init/getProducts',
            {
                data: {
                    'website_id': websiteId,
                    'dealer_groups': jQuery('#dealer_group_ids').val(),
                    'customer_type': customerDe.isBusiness,
                    'show_price_with_btw': ((typeof customerDe.btwState !== 'undefined') ? customerDe.btwState : !customerDe.isBusiness),
                    'packageCreationTypeId': packageTypeId,
                    'process_context': saleType
                }
            }
        );

        var request = jQuery.when(
            dfInit,
            dfPrices,
            dfProducts
        );

        // OMNVFDE-994: One package of Mobile or DSL
        // Multiple cable packages, but not the same package twice
        // Calling function from js-init.phtml to access php constants
        updateCartPackageLine();

        request.done(function (cInit, cPrices, products) {
            if (needsProducts) {
                window.allProducts = products;
            } else {
                products = window.allProducts;
            }


            window.families = (products[0]['fam_' + type] != undefined && products[0]['fam_' + type]['items'] != undefined)
                ? products[0]['fam_' + type]['items']
                : [];
            window.products = products[0]['prod_' + type];

            /** might be needed **/
                //var customerCacheData = customer.cache.get('customer/<?php /* echo $customerSession->getCustomer()->getId() */ ?>');
            var customerCacheData = null;
            var filter;
            if (customerCacheData
                && customerCacheData.hasOwnProperty('customerData')
                && customerCacheData.customerData.is_business == "0"
                && products[0].hasOwnProperty('filter_consumer_' + type)
            ) {
                filter = 'filter_consumer_';
                //window.permanentFilters = {'subscription': {'<?php echo Dyna_Catalog_Model_Product::CATALOG_CONSUMER_TYPE; ?>': window.consumerIdentifier}};
            } else {
                filter = 'filter_';
                window.permanentFilters = {};
            }
            window.permanentFilters = {};
            if(products[0]['permanent_filters_' + type] != undefined) {
                window.permanentFilters = products[0]['permanent_filters_' + type];
            }window.filters = products[0][filter + type];

            var data = jQuery.extend(cInit[0], cPrices[0]);
            if(data.salesIds){
                var salesIds = {};
                salesIds['data'] = data.salesIds;
                if (data.salesIds.error) {
                    salesIds = data.salesIds;
                }
                window.getVoids(salesIds);
            }
            <?php if (Mage::getSingleton('customer/session')->getOrderEdit()) : ?>
            // ############# START ORDER EDIT #############
            <?php
            $prevProducts = array();
            if (Mage::getSingleton('checkout/session')->getPreviousPackages()) {
                foreach (Mage::getSingleton('checkout/session')->getPreviousPackages() as $packageId => $packageData) {
                    if (isset($packageData['items']) && is_array($packageData['items'])) {
                        foreach ($packageData['items'] as $items) {
                            foreach ($items as $item) {
                                $prevProducts[] = $item['product_id'];
                            }
                        }
                    }
                }
            }
            ?>

            var tempAll = [];

            // TODO: map new package subtypes and determine if logic below is needed
            if (window.products.device != undefined) {
                window.products.device.each(function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }
            if (window.products.accessoire != undefined) {
                window.products.accessoire.each(function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }
            if (window.products.subscription != undefined) {
                window.products.subscription.each(function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }
            if (window.products.addon != undefined) {
                window.products.addon = jQuery.grep(window.products.addon, function (item) {
                    tempAll[item.entity_id] = item.entity_id;
                });
            }

            var pr = [];
            var pr1 = <?php echo json_encode($prevProducts); ?>;
            jQuery.each(pr1, function (key, el) {
                if (undefined == tempAll[el]) {
                    pr.push(el);
                }
            });

            var previousProducts = {};
            var previousProducts1 = <?php echo json_encode(Mage::getModel('dyna_configurator/catalog')->parseAttributesDisabled($prevProducts)); ?>;
            jQuery.each(previousProducts1, function (key, pTypes) {
                previousProducts[key] = [];
                jQuery.each(pTypes, function (key2, el) {
                    if (undefined == tempAll[el.entity_id]) {
                        previousProducts[key].push(el);
                    }
                });
            });

            if (previousProducts.device != undefined) {
                jQuery.merge(window.products.device, previousProducts.device);
            }

            if (previousProducts.accessoire != undefined) {
                jQuery.merge(window.products.accessoire, previousProducts.accessoire);
            }

            if (previousProducts.subscription != undefined) {
                jQuery.merge(window.products.subscription, previousProducts.subscription);
            }

            if (previousProducts.addon != undefined) {
                jQuery.merge(window.products.addon, previousProducts.addon);
            }
            // ############# END ORDER EDIT #############
            <?php endif; ?>

            <?php
            $campaignProducts = [];
            if ($uctParams = Mage::getSingleton('customer/session')->getUctParams()) {
                $campaignProducts = Mage::helper('bundles')->getCampaignProducts($uctParams['campaignId']);
            }
            ?>

            data.campaignProducts = [];
            var campaignProducts = <?php echo json_encode($campaignProducts); ?>;
            jQuery.each(campaignProducts, function (key, el) {
                data.campaignProducts.push(el);
            });

            callbackInit(data, clone, callBack);

            triggerConfiguratorEvent('configurator.init', '');

            if (data.drc_eligible) {
                jQuery('#devicerc-block').show();
            } else {
                jQuery('#devicerc-block').hide();
            }

            // Update left side sections if they are complete or not
            var sections;
            if (cInit[0].hasOwnProperty('incomplete_sections')) {
                sections = cInit[0]['incomplete_sections'];
            } else {
                sections = [];
            }
            if (typeof configurator != "undefined") {
                configurator.showWarnings(sections);
            }

            if (typeof cInit[0].initCart !== 'undefined' && Object.keys(cInit[0].initCart).length) {
                jQuery('#configurator_checkout_btn').removeClass('disabled');
                jQuery('#configurator_checkout_btn').removeClass('incomplete');
                jQuery('#configurator_checkout_btn').addClass('canProceed');
            } else {
                jQuery('#configurator_checkout_btn').removeClass('canProceed');
                jQuery('#configurator_checkout_btn').addClass('disabled');
                jQuery('#configurator_checkout_btn').addClass('incomplete');
            }

            // Reload ALL cart packages and toggle the active one
            var rightBlock = jQuery('.cart_packages');
            rightBlock.replaceWith(data.rightBlock);

            togglePackage(jQuery('.cart_packages').find('div[data-package-id="' + data.packageId + '"]').find('.side-block-activate'));

            if (data.hasOwnProperty('redplusParentSelectionBlock')) {
                jQuery('.redPlusPanelContainer').replaceWith(data.redplusParentSelectionBlock);
            } else {
                jQuery('.redPlusPanelContainer').addClass('hidden');
            }

            if (data.hasOwnProperty('cartIsRedPlusEligible') && data.cartIsRedPlusEligible) {
                jQuery('#package-types').find("[data-package-creation-type-id='" + REDPLUS_CREATION_TYPE_ID + "']").removeClass('disabled');
            } else {
                jQuery('#package-types').find("[data-package-creation-type-id='" + REDPLUS_CREATION_TYPE_ID + "']").addClass('disabled');
            }
            jQuery('.linkedAccountSelection').html(cInit[0].linkedAccountSelection);

            jQuery('.cart_packages').find('div[data-package-id="' + data.packageId + '"]').find('.title').find('i.package-arrow-icon').toggleClass('vfde-arrow-down2 vfde-arrow-up');

            jQuery('[data-toggle="tooltip"').tooltip();

            jQuery('#bundle-options').remove();
            if (data.hasOwnProperty('optionsPanel')) {
                jQuery('#config-wrapper').prepend(data.optionsPanel);
            }

            if (typeof configuratorUI !== 'undefined') {
                configuratorUI.handleLinkedAccountsPanelState();
                configuratorUI.handleRedPlusParentsPanelState();
            }

            return data;
        });
    }
</script>
