<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$dealers = Mage::helper('agent')->getDealers(false, true); ?>
<?php $printedStores = array(); $firstItem = true; ?>
<?php foreach ($this->getStocks() as $stock):?>
    <?php foreach ($stock->getOtherStoreList() as $store):?>
        <?php if (in_array($store['store'], $printedStores)) { continue; } ?>
        <?php $dealer = $dealers->getItemByColumnValue('axi_store_code', $store['store']);  ?>
        <?php if ($dealer && strlen($store['store_name'])):?>
            <tr>
                <td>
                    <script>
                        _stores.push("<?php echo $store['store_name'] ? $store['store_name'] : join(', ', array($dealer->getStreet() . ' ' . $dealer->getHouseNr(), $dealer->getCity(), $dealer->getPostcode())) ?>");
                    </script>
                    <div class="radio<?php if ( ! $store['stock']): ?> disabled <?php endif; ?>">
                        <label>
                            <input
                                type="radio"
                                <?php if($firstItem && $store['stock']) : ?> checked <?php endif; ?>
                                <?php if ( ! $store['stock']): ?> disabled <?php endif; ?>
                                name="store"
                                value="<?php echo $dealer->getId() ?>"
                                data-city="<?php echo $store['store_name'] ?>"
                                data-store-id="<?php echo $dealer->getId() ?>"
                                data-stock-id="<?php echo $store['store'] ?>">
                            <?php echo $store['store_name'] ? $store['store_name'] : join(', ', array($dealer->getStreet() . ' ' . $dealer->getHouseNr(), $dealer->getCity(), $dealer->getPostcode())) ?>
                            <?php if($store['distance_store']) { ?> (<?php echo $store['distance_store'] ?> km)<?php } ?>
                        </label>
                    </div>
                </td>
                <td>
                    <?php if ($store['stock']): ?>
                        <?php echo $this->__('Delivery possible') ?>
                    <?php else: ?>
                        <?php echo $this->__('Delivery not possible') ?>
                    <?php endif; ?>
                </td>
            </tr>
            <?php if($store['stock']) $firstItem = false; ?>
        <?php endif; ?>
        <?php array_push($printedStores, $store['store']) ?>
    <?php endforeach; ?>
<?php endforeach; ?>
