# {{ ansible_managed }}

# List of NTP servers to use.
{% for server in chrony_config_server %}
server {{ server }} iburst
{% endfor %}

# Record the rate at which the system clock gains/losses time.
driftfile {{ chrony_config_driftfile }}

# Enable kernel RTC synchronization.
rtcsync

# In first three updates step the system clock instead of slew
# if the adjustment is larger than 10 seconds.
makestep 10 3

# Increase the minimum number of selectable sources required to adjust
# the system clock.
#minsources 2

# Allow NTP client access from local network.
#allow 192.168/16

# Listen for commands only on localhost.
bindcmdaddress 127.0.0.1
bindcmdaddress ::1

# Serve time even if not synchronized to any NTP server.
#local stratum 10

keyfile {{ chrony_config_keyfile }}

# Specify the key used as password for chronyc.
commandkey 1

# Generate command key if missing.
generatecommandkey

# Disable logging of client accesses.
noclientlog

# Send a message to syslog if a clock adjustment is larger than 0.5 seconds.
logchange 0.5

# Specify directory for log files.
logdir {{ chrony_config_logdir }}

# Select which information is logged.
#log measurements statistics tracking
