<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * Customer shop select form template
 *
 * @see Mage_Customer_Block_Form_Dealer
 */
?>
<div class="<?php echo Mage::app()->getWebsite()->getName() ?>"><div class="rhombus-logo"></div></div>
<div class="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra')?>
    <form role="form" id="dealer-form" action="<?php echo $this->getPostActionUrl() ?>" method="post">
        <div class="row">
            <div class="col-xs-12"><h3><?php echo $this->__('Select dealer') ?></h3></div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label class="required" for="dealer"><?php echo $this->__('Establishment') ?></label>
                    <?php
                    $session = Mage::getSingleton('customer/session');
                    $agent = $session->getAgent();
                    $default = $agent->getDealerId() ? Mage::getModel('agent/dealer')->load($agent->getDealerId())->getAddress() : '';
                    ?>
                    <input type="text" id="dealer" class="form-control required-entry" name="dealer[address]" data-required="true" data-format="text" value="<?php echo $this->escapeHtml($default) ?>">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-info btn-block" title="<?php echo $this->__('Login') ?>" name="send" id="send"><?php echo $this->__('Login') ?></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        var dataForm = new VarienForm('dealer-form', true);
        var dealers = <?php echo $this->getDealers(true); ?>;
        jQuery('#dealer').autocomplete({
            lookup: dealers
        });
    </script>
</div>
