<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<div class="rhombus"></div>

<div class="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra')?>

    <div class="registered-users ">
        <div class="row">
            <div class="col-xs-12" style="margin-bottom:14px;"><h3><?php echo $this->__('Login to ') . Mage::app()->getWebsite()->getName(); ?></h3></div>
        </div>
        <form class="form-horizontal" role="form" id="login-form" action="<?php echo $this->getPostActionUrl() ?>" method="post">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email" class="col-sm-4 control-label text-left required"><?php echo $this->__('Username') ?></label>
                        <div class="col-sm-8">
                            <input type="text" id="email" class="form-control required-entry" name="login[username]" data-required="true" data-format="text" value="<?php echo $this->escapeHtml($this->getUsername()) ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="col-sm-4 control-label text-left required"><?php echo $this->__('Password') ?></label>
                        <div class="col-sm-8">
                            <input type="password" id="pass" class="form-control required-entry" name="login[password]" data-required="true" data-format="text" value="">
                            <p><a href="javascript:void(0)" style="text-decoration:underline !important;" onclick="showResetPassword();"><?php echo $this->__('Forgot Your Password?') ?></a></p>
                            <p id="reset-password" style="display: none" class="bg-warning"><?php echo Mage::helper('agent')->getResetPasswordText(); ?></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 pull-right">
                    <button type="submit" class="btn btn-info" title="<?php echo $this->__('Login') ?>" name="send" id="send"><?php echo $this->__('Login') ?></button>
                </div>
            </div>
        </form>

        <?php if (Mage::helper('agent')->getIsResetFormEnabled()) : ?>
            <!-- Reset password form -->
            <form style="display: none" role="form" id="reset-form" action="<?php echo $this->getPostActionUrl() ?>" method="post">
                <div class="row">
                    <div class="col-sm-12"><h4><?php echo $this->__('Restore your login'); ?></h4></div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <?php echo $this->__('Login Information'); ?>*
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <input type="radio" id="forgot[password]" name="forgot[type]" value="password" checked/>
                                <label for="forgot[password]">
                                    <?php echo $this->__('I forgot my password'); ?>.
                                </label>

                            </div>
                            <div class="col-sm-12">
                                <input type="radio" id="forgot[username]" name="forgot[type]" value="username" />
                                <label for="forgot[username]">
                                    <?php echo $this->__('I forgot my username'); ?>.
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <?php echo $this->__('E-mail address that is known to us'); ?>:
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="forgot[email]" name="forgot[email]" class="form-control input-sm required-entry validate-email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <p id="reset-error" class="col-sm-12 red"></p>
                    </div>
                    <div class="form-group">
                        <p class="col-sm-12"><i><?php echo $this->__('We will send the password or user name to the e-mail address that is known to us'); ?></i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 pull-right">
                        <button onclick="resetPassword()" class="btn btn-info" title="<?php echo $this->__('Submit'); ?>"><?php echo $this->__('Submit'); ?></button>
                        <button onclick="showLoginScreen();return false;" class="btn btn-info" title="<?php echo $this->__('Cancel'); ?>"><?php echo $this->__('Cancel'); ?></button>
                    </div>
                </div>
            </form>

            <div class="row" id="response-form" style="display: none">
                <div class="col-sm-12">
                    <p><?php echo $this->__('The password reset or the username were sent via e-mail'); ?></p>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-info" onclick="showLoginScreen()"><?php echo $this->__('Login again'); ?></button>
                </div>
            </div>
        <?php endif; ?>
    </div>

    <script type="text/javascript">
        var dataForm = new VarienForm('login-form', true);
        var forgotForm = new VarienForm('reset-form', true);

        function showResetPassword() {
            jQuery('.messages').html('');

            <?php if (Mage::helper('agent')->getIsResetFormEnabled()) : ?>
                jQuery('#login-form').hide();
                jQuery('#response-form').hide();
                jQuery('#reset-form').show();
            <?php else : ?>
                jQuery('#reset-password').toggle();
            <?php endif; ?>



            return false;
        }

        function showResetPasswordResponse() {
            jQuery('.messages').html('');
            jQuery('#login-form').hide();
            jQuery('#response-form').show();
            jQuery('#reset-form').hide();
        }

        function showLoginScreen() {
            jQuery('.messages').html('');
            jQuery('#reset-error').html('');
            jQuery('#login-form').show();
            jQuery('#response-form').hide();
            jQuery('#reset-form').hide();
        }

        function resetPassword() {
            if(forgotForm.validator.validate()) {
                jQuery.ajax({
                    type: "POST",
                    url: '/agent/account/forgotCredentials',
                    data: jQuery('#reset-form').serialize(),
                    async: true
                })
                    .done(function (response) {
                        if (!response.error) {
                            jQuery('#reset-error').html('');
                            showResetPasswordResponse();
                        } else {
                            jQuery('#reset-error').html(response.message);
                        }
                    });
            }
            return false;
        }

        jQuery('#reset-form').on('submit', function (e) {
            e.preventDefault();
        });
    </script>
</div>
