<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * Customer login form template
 *
 * @see Mage_Customer_Block_Form_Login
 */
?>
<div class="rhombus"></div>
<?php
    $token = $this->getRequest()->get('token');
    $agent = $this->getAgent($token);
?>
<div class="account-login">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('customer.form.login.extra')?>
    <div class="registered-users">
        <div class="box">
            <div class="box-header">
                <h3><?php echo $this->__('Agent password reset form'); ?></h3>
            </div>
            <div class="box-content">
                <?php if ($agent): ?>
                <div class="row">
                    <form class="form-horizontal" role="form" id="login-form" method="post" action="<?php echo $this->getUrl('agent/account/passwordReset')?>">
                        <div class="row form-group red">
                            <div id="form-errors" class="col-sm-offset-1">
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="password" class="col-sm-4 control-label required"><?php echo $this->__('Password') ?></label>
                            <div class="col-sm-7">
                                <input type="password" id="password" class="form-control required-entry" name="password" data-required="true" data-format="text">
                            </div>
                        </div>

                        <div class="row form-group">
                            <label for="password" class="col-sm-4 control-label required"><?php echo $this->__('Confirmation') ?></label>
                            <div class="col-sm-7">
                                <input type="password" id="password_confirmation" class="form-control required-entry" name="password_confirmation" data-required="true" data-format="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-11">
                                <input type="submit" class="btn btn-info right" title="<?php echo $this->__('Submit') ?>" name="send" id="send" value="<?php echo $this->__('Submit') ?>">
                            </div>
                        </div>
                        <?php if ($token): ?>
                            <input type="hidden" id="token" name="token" value="<?php echo $token; ?>">
                        <?php endif; ?>
                    </form>
                </div>
                <?php else: ?>
                <div class="row">
                    <div class="col-sm-5 red">
                        <?php echo sprintf($this->__('Invalid reset token or agent. Please go to the following link to login: %s'), '<a href="' . $this->getUrl('/agent/account/login') . '" >Login</a>'); ?>
                    </div>
                </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
            var dataForm = new VarienForm('login-form', true);
        //]]>
    </script>
</div>
