<script id="left-sidebar-household" type="text/x-handlebars-template">
    <?php
    /** @var Dyna_Customer_Model_Session $customerSession */
    $customerSession = Mage::getSingleton('customer/session');
    /** @var Dyna_Customer_Model_Customer $customer */
    $customer = $customerSession->getCustomer();
    ?>
    <div id="household-360" class="customer-results-table customer-panel-table scrollable-y-table design-360-view">
        <div class="title-div">
            <div class="title"><?php echo $this->__('Household of'); ?> {{customer_details}}</div>
        </div>
        <div class="household-content table">
            {{#if members}}
                <div class="header-item">
                    <div class="col col-1"><?php echo strtoupper($this->__('Customer')); ?></div>
                    <div class="col col-2"><?php echo strtoupper($this->__('Customer Id')); ?></div>
                    <div class="col col-3"><?php echo strtoupper($this->__('Birthday')); ?></div>
                    <div class="col col-4"><?php echo strtoupper($this->__('Phone number')); ?></div>
                    <div class="col col-5"><?php echo strtoupper($this->__('Stack')); ?></div>
                </div>
                {{#each members}}
                    <div class="row-with-headers" onclick="customerDe.householdProducts('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}');">
                        <div class="col col-1">
                            <div class="names">
                                {{this.Role.Person.FirstName}} {{this.Role.Person.FamilyName}}
                            </div>
                        </div>
                        <div class="col col-2">
                            <span class="contact-id {{#if this.LinkedAccount}}linked-id{{/if}}" onclick="customerDe.getHouseholdAuthDetails('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}', event, this)">
                                {{this.ParentAccountNumber.ID}}
                            </span>
                        </div>
                        <div class="col col-3">
                            {{#compare this.AccountClass 'SOHO' operator="=="}}
                            <!-- nothing to display -->
                            {{else}}
                            {{this.Role.Person.BirthDate}}
                            {{/compare}}
                        </div>
                        <div class="col col-4">
                            {{#if this.Role.Person.ContactPhoneNumber}}
                            {{this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                            {{else}}
                            -
                            {{/if}}
                        </div>
                        <div class="customer-types col col-5">
                            {{#ifIn '<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KS; ?>' this.member_services}}
                                <span class="type-customer-icon stack-mobile-selected" data-toggle="tooltip"
                                      data-placement="bottom" title="<?php echo $this->__('Mobile'); ?>"></span>
                            {{else ifIn '<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_MOBILE; ?>' this.member_services }}
                            <span class="type-customer-icon stack-mobile-selected" data-toggle="tooltip"
                                      data-placement="bottom" title="<?php echo $this->__('Mobile'); ?>"></span>
                            {{else}}
                                <span class="type-customer-icon stack-mobile-na" data-toggle="tooltip"
                                      data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                            {{/ifIn}}

                            {{#ifIn '<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KD; ?>' this.member_services}}
                                <span class="type-customer-icon stack-cable-selected" data-toggle="tooltip"
                                      data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                            {{else ifIn '<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_CABLE; ?>' this.member_services }}
                            <span class="type-customer-icon stack-cable-selected" data-toggle="tooltip"
                                      data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                            {{else}}
                            <span class="type-customer-icon stack-cable-na" data-toggle="tooltip"
                                  data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                            {{/ifIn}}

                            {{#ifIn '<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_FN; ?>' this.member_services }}
                            <span class="type-customer-icon stack-fixed-selected" data-toggle="tooltip"
                                  data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                            {{else ifIn '<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_DSL; ?>' this.member_services }}
                            <span class="type-customer-icon stack-fixed-selected" data-toggle="tooltip"
                                  data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                            {{else}}
                            <span class="type-customer-icon stack-fixed-na" data-toggle="tooltip"
                                  data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                            {{/ifIn}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="empty-household">
                    <span class="empty-state-image"><img src="<?php echo $this->getSkinUrl('images/de/empty-state-content.png'); ?>" alt="<?php echo $this->__('No Household Accounts'); ?>" /></span>
                    <span class="empty-state-content-1">
                        <?php echo $this->__('No Household Accounts'); ?>
                    </span>
                    <span class="empty-state-content-2">
                        <?php echo $this->__("If the customer has Household Accounts, you'll see them here."); ?>
                    </span>
                </div>
            {{/if}}
        </div>
        <script>
            jQuery(document).ready(function(){
                jQuery('.type-customer-icon').tooltip();
            });
        </script>
    </div>
</script>
