<script id="left-sidebar-carts-content" type="text/x-handlebars-template">
    <?php
        $customerSession = Mage::getSingleton('customer/session');
    ?>
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table dots-menu">
        <div class="title with-top-spacing">
            <div class="table-title table-title-search"><?php echo $this->__('Shopping carts'); ?></div>
        </div>
        {{#compare shoppingCarts.length 0 operator="=="}}
            <div class="message">
               <?php echo $this->__('No carts saved') ?>
            </div>
        {{else}}
            <div class="table-responsive">
                <table class="table customer-360-table">
                    <thead>
                        <tr class="div-table-row div-table-row-header">
                            <th class="div-table-cell sort-by sort-desc" order-by="date"
                                onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Creation date'); ?>
                                <span></span>
                            </th>
                            <th class="div-table-cell sort-by" order-by="number"
                                onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Type'); ?>
                                <span></span>
                            <th class="div-table-cell sort-by" order-by="string"
                                onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Channel'); ?>
                                <span></span>
                            </th>
                            <th class="div-table-cell sort-by" order-by="string"
                                onclick="customerDe.sortRows(this, '#left-sidebar-saved-carts-content-entries', 'tr', 'td')"><?php echo $this->__('Agent'); ?>
                                <span></span>
                            </th>
                            <th class="div-table-cell"></th>
                            <th class="div-table-cell"></th>
                        </tr>
                    </thead>
                    <tbody id="left-sidebar-saved-carts-content-entries">
                    {{#each shoppingCarts}}
                        <tr class="div-table-row">
                            <td class="div-table-cell create-date" colspan="1">
                                <div class="legacy-icons">
                                    {{#compare  KIAS '1' operator="=="}}
                                    <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                    {{/compare}}

                                    {{#compare  KD '1' operator="=="}}
                                    <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                    {{/compare}}

                                    {{#compare  FN '1' operator="=="}}
                                    <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                    {{/compare}}

                                    {{#compare  packageHasNotes '1' operator="=="}}
                                    <span class="type-customer-icon has-note" title="<?php echo $this->__('Notes') ?>" onclick="customerDe.showShoppingCartNotes(event, '{{notes}}')"></span>
                                    {{/compare}}
                                </div>
                                <div class="create-date-value">
                                    {{createad_at}}
                                </div>
                            </td>
                            <td class="div-table-cell" colspan="1">
                                {{#compare  is_offer '0' operator="=="}}
                                    <?php echo $this->__('Saved shopping cart') ?>
                                {{else}}
                                    <?php echo $this->__('Offer') ?>
                                {{/compare}}
                            </td>
                            <td class="div-table-cell" colspan="1">
                                {{channel}}
                            </td>
                            <td class="div-table-cell" colspan="1">
                                {{agent}}
                            </td>
                            <td class="div-table-cell {{#ifCond is_expired '===' false}}has-button saved-carts-menu{{/ifCond}}" colspan="1">
                                {{#compare is_offer '0' operator="=="}}
                                    <?php if ($customerSession->getAgent()->isGranted(array('CHANGE_SAVED_SHOPPINGCART'))) : ?>
                                        {{#ifCond is_expired '===' false}}
                                            <input
                                                type="button"
                                                class="btn btn-primary btn-medium
                                                {{#ifCond disabled_continue '===' true}} disabled{{else}} btn-info{{/ifCond}}"
                                                {{#ifCond is_readonly '===' true}}disabled{{/ifCond}}
                                                {{#ifCond continue_edit '===' 1}}
                                                    data-continue-order=true
                                                {{else}}
                                                    data-continue-order=false
                                                {{/ifCond}}
                                                {{#ifCond saleidvalidation '===' 1}}
                                                    data-saleidvalidation=true
                                                {{else}}
                                                    data-saleidvalidation=false
                                                {{/ifCond}}
                                                value="<?php echo $this->__('Continue'); ?>"
                                        onclick="reloadQuote({{@key}},{{is_offer}}, this)"/>
                                        {{else}}
                                            {{#compare is_offer '0' operator="=="}}
                                                <?php echo $this->__('Saved shopping cart has expired') ?>
                                            {{else}}
                                                <?php echo $this->__('Offer has expired') ?>
                                            {{/compare}}
                                        {{/ifCond}}
                                    <?php endif?>
                                {{else}}
                                    {{#compare hasPermissionLoadOffer true operator="=="}}
                                        {{#ifCond is_expired '===' false}}
                                            {{#ifCond showOfferMessage '===' true}}
                                                {{validationMessages}}
                                            {{else}}
                                                <input
                                                    type="button"
                                                    class="btn btn-medium
                                                    {{#ifCond show_only '===' true}} disabled{{/ifCond}}
                                                    {{#ifCond disabled_continue '===' true}} disabled{{else}}   btn-info{{/ifCond}}"
                                                    {{#ifCond is_readonly '===' true}} disabled{{/ifCond}}
                                                    {{#ifCond continue_edit '===' 1}}
                                                        data-continue-order=true
                                                    {{else}}
                                                        data-continue-order=false
                                                    {{/ifCond}}
                                                    {{#ifCond saleidvalidation '===' 1}}
                                                        data-saleidvalidation=true
                                                    {{else}}
                                                        data-saleidvalidation=false
                                                    {{/ifCond}}
                                    value="<?php echo $this->__('Continue'); ?>"
                                                onclick="reloadQuote({{@key}},{{is_offer}}, this)"/>
                                            {{/ifCond}}
                                        {{else}}
                                            {{#compare is_offer '0' operator="=="}}
                                                <?php echo $this->__('Saved shopping cart has expired') ?>
                                            {{else}}
                                                <?php echo $this->__('Offer has expired') ?>
                                            {{/compare}}
                                        {{/ifCond}}
                                    {{/compare}}
                                {{/compare}}
                            </td>
                            <td class="div-table-cell has-button saved-carts-menu" colspan="1">
                                <!-- menu for each package-->
                                <div class="menu-expand full saved-carts-menu-expand">
                                    <ul>
                                        <li class="edit-package icons view">
                                            <a onclick="customerDe.showShoppingCart(event, '{{@key}}')" ><?php echo $this->__("Show") ?></a>
                                        </li>
                                        {{#compare is_offer '0' operator="=="}}
                                            <?php if ($customerSession->getAgent()->isGranted(array('DELETE_SAVED_SHOPPING_CART'))) : ?>
                                                <li class="remove-package icons delete">
                                                    <a onclick="customerDe.deleteShoppingCart(event, '{{@key}}')"><?php echo $this->__('Remove'); ?></a>
                                                </li>
                                            <?php endif?>
                                        {{else}}
                                            <?php if ($customerSession->getAgent()->isGranted(array('DELETE_SAVED_OFFER', 'SUBMIT_ORDER'))) : ?>
                                                <li class="remove-package icons delete">
                                                    <a onclick="customerDe.deleteShoppingCart(event, '{{@key}}')"><?php echo $this->__('Remove'); ?></a>
                                                </li>
                                            <?php endif?>
                                        {{/compare}}
                                    </ul>
                                </div>
                                {{#ifCond disabled_continue '!==' true}}
                                    <div class="cart-drop-menu drop-menu pull-right" onclick="customerDe.switchSavedCartMenu(event, this)">
                                        <div class="menu grey"></div>
                                    </div>
                                {{else}}
                                    <div class="cart-drop-menu drop-menu pull-right">
                                        <div class="menu grey"></div>
                                    </div>
                                {{/ifCond}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/compare}}
</script>


