<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$quote = Mage::getSingleton('checkout/session')->getQuote();
    $quoteItems = $quote->getItemsCollection();
?>

<?php foreach ($this->getPackages() as $packageId => $packages): ?>
    <?php
        $firstItem = reset($packages);
        $type = $firstItem['package_type'];
    ?>
    <p>
        <span><?php echo ucfirst($type) ?></span>
        <span><?php echo ' package ' ?></span>
        <span><?php echo $packageId ?></span>
    </p>
    <ul>
    <?php foreach ($packages as $i => $packageInfo): $packageItem = Mage::getModel('sales/order_item')->load($packageInfo['item_id']); /** @var Omnius_Checkout_Model_Sales_Order_Item $packageItem */ ?>
        <li>
            <img src="<?php echo $packageItem->getProduct()->getSmallImageUrl() ?>" alt=""/>
            <strong><?php echo $packageItem->getProduct()->getName() ?></strong>
        </li>
    <?php endforeach; ?>
    </ul>
<?php endforeach; ?>