<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
    /**
     * @var string|int $key 
     * @var array $package 
     * @var boolean $showPriceWithoutBtw
     * @var boolean $isChanged
     * @var boolean $coupon
     */
    extract($data);
?>
<div class="coupon-section">
    <?php if(!preg_match('/\btemplate\b/', $key)): ?>
        <?php $deviceItems = array();?>
        <?php foreach ($package['items'] as $index => $item):?>
            <?php if (
                        in_array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE, $item->getProduct()->getType(true))
                        || in_array(Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY, $item->getProduct()->getType(true))
                        || in_array(Omnius_Catalog_Model_Type::SUBTYPE_NONE, $item->getProduct()->getType(true))

            ) :?>
                <?php $deviceItems[$index] = $item;?>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php $totals = Mage::helper('omnius_configurator')->getActivePackageTotals($key); ?>
        <?php $totals_wo_tax = Mage::helper('omnius_configurator')->getActivePackageTotals($key, false); ?>
        <?php
        if(Mage::getSingleton('customer/session')->getOrderEditMode()):
            $deviceItemsDiffPriceAnonymus = function ($isBusiness) use ($key, $deviceItems) {
                return Mage::helper('omnius_checkout')->getEditPackagePriceDifference($key, $deviceItems, array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE, Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY, Omnius_Catalog_Model_Type::SUBTYPE_NONE), $isBusiness);
            };
            $deviceItemsDiffPriceBusiness = $deviceItemsDiffPriceAnonymus(true);
            $deviceItemsDiffPriceNotBusiness = $deviceItemsDiffPriceAnonymus(false);
        endif;
    else :
        $totals = 0;
        $totals_wo_tax = 0;
        $deviceItemsDiffPriceAnonymus = 0;
        $deviceItemsDiffPriceBusiness = 0;
        $deviceItemsDiffPriceNotBusiness = 0;
    endif; ?>
    <div class="row">
        <div class="col-sm-6 section">
            <?php if(Mage::getStoreConfig('omnius_general/show_coupon/coupon_enabled')): ?>
                <form class="coupon form-inline" role="form" onsubmit="jQuery('.cart-coupon-input').blur(); jQuery('body').focus(); return applyCouponCode(this,'.side-cart')">
                    <div class="form-group">
                        <input class="form-control cart-coupon-input" type="text" name="coupon" value="<?php echo $coupon; ?>" placeholder="Coupon" <?php if ($coupon) echo ' disabled'; ?> style="<?php if ($coupon) echo ' display:none'; ?>">
                        <?php if ($coupon) echo '<span class="remove-coupon" onclick="removeCouponCode(this,\''.$coupon.'\',\'.side-cart\')">'.$this->__('Coupon').': '.$coupon.'</span>'; ?>
                        <input class="submit-coupon-button" type="submit" value="<?php echo $this->__("OK"); ?>" style="<?php if (isset($coupon) && $coupon !== false) echo ' display:none'; ?>" />
                        <?php $coupon = null; ?>
                    </div>
                </form>
            <?php endif; ?>
            <?php if(Mage::getSingleton('customer/session')->getCustomer()->getIsBusiness()): ?>
                <span class="small-label cart-total-label excl-vat-tax"><?php echo $this->__('Excl.') ?>&nbsp;&nbsp;</span>
                <span class="small-label cart-total-label incl-vat-tax"><?php echo $this->__('Incl.') ?>&nbsp;&nbsp;</span>
            <?php else: ?>
                <span class="small-label cart-total-label"><?php echo $this->__('Total') ?>&nbsp;&nbsp;</span>
            <?php endif; ?>
        </div>
        <div class="col-sm-3 right-align">
            <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label">
                &nbsp;<?php echo $helper->showNewFormattedPriced($totals['totalprice']);?>
            </span>
            <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label">
                &nbsp;<?php echo $helper->showNewFormattedPriced($totals_wo_tax['totalprice']);?>
            </span>
        </div>
        <div class="col-sm-3 right-align">
            <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label">
                &nbsp;<?php echo $helper->showNewFormattedPriced($totals['totalmaf']);?>
            </span>
            <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label">
                &nbsp;<?php echo $helper->showNewFormattedPriced($totals_wo_tax['totalmaf']);?>
            </span>
        </div>
    </div>
<?php if(isset($package['status'])
        && $package['status'] == Omnius_Package_Model_Package::ESB_PACKAGE_STATUS_DELIVERED
        && Mage::getSingleton('customer/session')->getOrderEditMode()
        && $isChanged
):

    if ($deviceItemsDiffPriceNotBusiness >= 0 || $deviceItemsDiffPriceBusiness >= 0): ?>
        <div class="row">
            <div class="col-sm-6 section">
                <span class="small-label cart-total-label red">
                    <?php echo $this->__('Payment'); ?>
                </span>
            </div>
            <div class="col-sm-3 right-align">
                <?php if(Mage::getSingleton('customer/session')->getOrderEditMode() && $isChanged):?>
                    <?php if (abs($totalSubscription  - $totals['totalmaf']) != $totals['totalmaf'] ): ?>
                        <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                            &nbsp;<?php echo $helper->showNewFormattedPriced($totals['totalmaf']);?>
                        </span>
                        <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                            &nbsp;<?php echo $helper->showNewFormattedPriced($totals_wo_tax['totalmaf']);?>
                        </span>
                    <?php endif; ?>
                <?php endif;?>
            </div>
            <div class="col-sm-3 right-align">
                <?php if(Mage::getSingleton('customer/session')->getOrderEditMode()) :?>
                    <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                        <?php if ($deviceItemsDiffPriceNotBusiness >= 0): ?>
                            <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceNotBusiness < 0 ? -1*$deviceItemsDiffPriceNotBusiness : $deviceItemsDiffPriceNotBusiness);?>
                        <?php endif; ?>
                    </span>
                    <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                        <?php if ($deviceItemsDiffPriceBusiness >= 0): ?>
                            <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceBusiness < 0 ? -1*$deviceItemsDiffPriceBusiness : $deviceItemsDiffPriceBusiness);?>
                        <?php endif; ?>
                    </span>
                <?php endif;?>
            </div>
        </div>
    <?php elseif($deviceItemsDiffPriceNotBusiness < 0 || $deviceItemsDiffPriceBusiness < 0 ): ?>
        <div class="row">
            <div class="col-sm-6 section">
                <span class="small-label cart-total-label red">
                    <?php echo $this->__('Refund') ?>
                </span>
            </div>
            <div class="col-sm-3 right-align"></div>
            <div class="col-sm-3 right-align">
                <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceNotBusiness >= 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceNotBusiness < 0 ? -1*$deviceItemsDiffPriceNotBusiness : $deviceItemsDiffPriceNotBusiness);?>
                    <?php endif; ?>
                </span>
                <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceBusiness >= 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceBusiness < 0 ? -1*$deviceItemsDiffPriceBusiness : $deviceItemsDiffPriceBusiness);?>
                    <?php endif; ?>
                </span>
                <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceNotBusiness < 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceNotBusiness < 0 ? -1*$deviceItemsDiffPriceNotBusiness : $deviceItemsDiffPriceNotBusiness);?>
                    <?php endif; ?>
                </span>
                <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceBusiness < 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceBusiness < 0 ? -1*$deviceItemsDiffPriceBusiness : $deviceItemsDiffPriceBusiness);?>
                    <?php endif; ?>
                </span>
            </div>
        </div>
    <?php endif;?>
<?php endif;?>
</div>
