<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @var array $item
 * @var string $groupType
 * @var boolean $showPriceWithoutBtw
 * @var array $lineThrough
 * @var boolean $showOneTimeZeroPrices
 * @var boolean $showMafZeroPrices
 * @var boolean $productVisibility
 * @var boolean $skipSeparator
 * @var string $packageType
 * @var array $mixMatchProducts
 * @var string $guiSection
 * @var string saleType
 */
$data = $this->getData();
extract($data);

if (!isset($mixMatchProducts)) {
    $mixMatchProducts = [];
}
// defaults

$skipSeparator = isset($skipSeparator) && $skipSeparator == true ? 'skip-separator' : '';
$lineThrough = isset($lineThrough) ? $lineThrough : array('price' => false, 'maf' => false, 'product' => false);
$isContractDrop = isset($isContractDrop) ? $isContractDrop : null;
$systemAction = isset($systemAction) ? $systemAction : null;
$showPriceWithoutBtw = isset($showPriceWithoutBtw) ? $showPriceWithoutBtw : !Mage::getSingleton('customer/session')->showPriceWithBtw();
$bullet = isset($bullet) ? $bullet : false;
$showOneTimeZeroPrices = isset($showOneTimeZeroPrices) ? $showOneTimeZeroPrices : true;
$packageType = isset($packageType) ? $packageType : null;
$productVisibility = isset($productVisibility) ? $productVisibility : true;

// TAX Display
$priceStyle = $showPriceWithoutBtw ? '' : 'display: none;';
$priceTaxStyle = !$showPriceWithoutBtw ? '' : 'display: none;';

// Hashed
$priceStrikeStyle = !empty($lineThrough['price']) ? 'text-decoration: line-through;' : '';
$mafStrikeStyle = !empty($lineThrough['maf']) ? 'text-decoration: line-through;' : '';
$productStrikeStyle = !empty($lineThrough['product']) ? 'text-decoration: line-through;' : '';
$productCircleStyle = 'default-none';
if (in_array($saleType, array_merge(Dyna_Catalog_Model_ProcessContext::ILSProcessContexts(), Dyna_Catalog_Model_ProcessContext::getProlongationProcessContexts()))) {
    if ($systemAction == 'add') {
        $productCircleStyle = 'added-blue';
    } elseif ($isContractDrop) {
        if ($systemAction != 'N/A' && strtolower($groupType)=='option') {
            $productCircleStyle = 'removed-red';
        }
    } elseif ($systemAction == 'existing') {
        $productCircleStyle = 'keep-grey';
    }
}

// bullet
$bulletClass = "bullet-line";

// money format handler
$coreHelper = Mage::helper('core');
$money = function ($price) use ($coreHelper) {
    return $coreHelper->currency($price, true, false);
};

$hasMaf = false;
$hasPrice = false;
$isContract = isset($item['is_contract']) && $item['is_contract'];

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
/** @var Dyna_Catalog_Helper_ProcessContext $processContextHelper */
$processContextHelper = Mage::helper("dyna_catalog/processContext");
?>

<?php $hideRow = (!$productVisibility) ? ' hidden' : ''; ?>
<div class="row group_type<?php echo $groupType; ?> <?php echo $bulletClass ? $bulletClass : 'group-header'; ?> <?php echo $skipSeparator; ?> <?php echo (!empty($item['discount']) && $item['discount']) ? " cart-discount-item" : ""; ?><?php echo $hideRow ?>">
    <?php if($processContextHelper->isILSContext()) :?>
        <span class="col-sm-1 by-system" onclick="configurator.toggleSection('<?php echo strtolower($groupType) ?>', false);"> <br/> <br/> </span>
    <?php endif?>
    <span class="circle-small <?php echo $productCircleStyle; ?>"></span>
    <div class="col-sm-6 section package-details name-row"
         style="<?php echo $productStrikeStyle; ?>"
         onclick="configurator.toggleSection('<?php echo strtolower($groupType) ?>', false);">
        <?php echo isset($item['itTargetsProduct']) ? "<span class='discount-product'>" . $item['name'] . "</span>" : $item['name']; ?>
        <br/>
        <?php if (in_array($packageType, Dyna_Catalog_Model_Type::getMobilePackages())) : ?>
            <?php echo isset($item['initial_period']) && $item['initial_period'] ? '-' . $item['initial_period'] . " " . $this->__("months minimum term") : '' ?>
            <br/>
        <?php endif ?>
        <?php if (in_array($packageType, Dyna_Catalog_Model_Type::getFixedPackages())) : ?>
            <?php echo isset($item['minimum_contract_duration']) && $item['minimum_contract_duration'] ? '-' . $item['minimum_contract_duration'] . " " . $this->__("months minimum term") . "<br/>" : '' ?>
        <?php endif ?>
        <?php if (in_array($packageType, Dyna_Catalog_Model_Type::getCablePackages())) : ?>
            <?php echo isset($item['contract_period']) && $item['contract_period'] ? '-' . $item['contract_period'] . " " . $this->__("months minimum term") . "<br/>" : '' ?>
        <?php endif ?>
    </div>

    <div style="<?php echo $priceStyle; ?> float: right;" class="excl-vat-tax col-sm-3 last right-align price-row">
        <div style="line-height: 20px; <?php echo $priceStrikeStyle; ?>"><?php if (isset($item['itTargetsProduct']) && $item['price']) {
                echo $helper->showNewFormattedPriced($item['price']);
            } else {
                if (isset($item['price']) && ($item['price'] || $showOneTimeZeroPrices)) {
                    $hasPrice = true;
                    echo $helper->showNewFormattedPriced($item['price']);
                }
            } ?>
        </div>
        <?php if ($hasPrice && $priceStrikeStyle && !$isContract) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['price']);
            }
        } ?>
    </div>

    <div style="<?php echo $priceTaxStyle; ?> float: right;" class="incl-vat-tax col-sm-3 last right-align price-row">
        <div style="line-height: 20px; <?php echo $priceStrikeStyle; ?>">
            <?php if (isset($item['itTargetsProduct']) && $item['price']) {
                echo $helper->showNewFormattedPriced($item['price']);
            } else {
                echo isset($item['priceTax']) && ($item['priceTax'] || $showOneTimeZeroPrices) ? $helper->showNewFormattedPriced($item['priceTax']) : '';
            } ?>
        </div>
        <?php if ($hasPrice && $priceStrikeStyle && !$isContract) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['priceTax']);
            }
        } ?>
    </div>

    <div style="<?php echo $priceStyle; ?>" class="excl-vat-tax col-sm-3 right-align price-row">
        <div style="line-height: 20px;">
            <span style="<?php echo $mafStrikeStyle; ?>"><?php if (isset($item['itTargetsProduct']) && $item['maf']) {
                    echo $helper->showNewFormattedPriced($item['maf']);
                } else {
                    if (isset($item['maf']) && ($item['maf'] || (isset($showMafZeroPrices) && $showMafZeroPrices))) {
                        $hasMaf = true;
                        echo $helper->showNewFormattedPriced($item['maf']);
                    }
                }
                ?>
            </span>
        </div>
        <?php if ($hasMaf && $mafStrikeStyle) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['maf']);
            }
        } ?>
    </div>

    <div style="<?php echo $priceTaxStyle; ?>" class="incl-vat-tax col-sm-3 right-align price-row">
        <div style="line-height: 20px;">
            <span style="<?php echo $mafStrikeStyle; ?>"><?php if (isset($item['itTargetsProduct']) && $item['maf']) {
                    echo $helper->showNewFormattedPriced($item['maf']);
                } else {
                    echo isset($item['mafTax']) && ($item['mafTax'] || (isset($showMafZeroPrices) && $showMafZeroPrices)) ? $helper->showNewFormattedPriced($item['mafTax']) : '';
                } ?>
            </span>
        </div>
        <?php if ($hasMaf && $mafStrikeStyle) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['mafTax']);
            }
        } ?>
    </div>
</div>

