<?php

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
$packageHelper = Mage::helper('dyna_package');
/**
 * @var $catalogHelper Dyna_Catalog_Helper_Data
 */
$catalogHelper = Mage::helper('dyna_catalog');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
/**
 * @var Omnius_Checkout_Model_Sales_Quote $quote
 * @var array $groupTypes
 * @var int $simCardAttrId
 * @var array $previousPackages
 * @var string $ctnText
 * @var string $ctnDescription
 * @var int $ctnCount
 * @var string $key
 * @var array $package
 * @var boolean $hasPromo
 * @var array $shownProducts
 * @var boolean $showPriceWithoutBtw
 * @var boolean $packageType
 * @var boolean $coupon
 * @var int $current_package_id
 * @var array $simProducts
 * @var array $promoProducts
 * @var array $mixMatchProducts
 * @var boolean $isMixMatch
 * @var string $saleType
 */
extract($data);

Mage::unregister('products_visibility_package_type');
Mage::register('products_visibility_package_type', $packageType);

$packageSubtypeAttribute = Mage::getSingleton("eav/config")->getAttribute('catalog_product', 'package_subtype');
$addLine = function ($lineData) {
    return Mage::getBlockSingleton('page/html')
        ->setData($lineData)
        ->setTemplate('checkout/cart/partials/package_item.phtml')
        ->toHtml();
};
?>
    <div class="content <?php echo ($saleType == Dyna_Checkout_Model_Sales_Quote_Item::RETENTION && isset($ctnCount) && $ctnText && $ctnCount == 1 && $package['one_of_deal'] != 1) ? 'package-with-ctn' : ($saleType == Dyna_Checkout_Model_Sales_Quote_Item::RETENTION && isset($ctnCount) && $package['one_of_deal'] == 1 ? 'one-off-deal-package' : ''); ?>">
        <!-- PRICE HEADER -->
        <div class="row price-header-row">
            <div class="col-sm-6"></div>
            <div class="col-sm-3 labels right-align"><?php echo $this->__('One Time'); ?></div>
            <div class="col-sm-3 labels right-align"><?php echo $this->__('Per month'); ?></div>
        </div>

        <!-- PRODUCTS -->
        <?php
        $totalSubscription = $totalDevice = 0;
        $otherProducts = [];
        foreach ($groupTypes as $groupType):
            $totalMaf = 0;
            $totalPrice = 0;
            $groupProductIds = [];
            // Gather all package items that belong to current group
            /** @var  Dyna_Checkout_Model_Sales_Quote_Item $i */
            foreach ($package['items'] as $index => $i) {
                /** @var Dyna_Catalog_Model_Product $cartProduct */
                $cartProduct = $i->getProduct();
                if ($cartProduct->is($groupType) && ($i->getPackageId())) {
                    $groupProductIds[] = $cartProduct->getId();
                    $totalMaf += $i->getItemFinalMafInclTax();
                    $totalPrice += $i->getItemFinalPriceInclTax();
                }
            }
            // Variable used for bundles in installed base package: showing section only if it contains products
            $hasProducts = true;
            if (!empty($package['installed_base_products'])) {
                $installBaseProducts = explode(',', $package['installed_base_products']);
                $initialInstallBaseProducts = explode(',', $package['initial_installed_base_products']);

                $productsAddedByBundleRules = array_diff($installBaseProducts, $initialInstallBaseProducts);
                $hasProducts = false;
                foreach ($package['items'] as $index => $item) {
                    if (!in_array($item->getSku(), $productsAddedByBundleRules)) {
                        continue;
                    }
                    /** @var Dyna_Catalog_Model_Product $product */

                    $product = $item->getProduct();

                    if ($product->is($groupType)) {
                        $hasProducts = true;
                    }
                }
            }
             if (!$hasProducts) {continue;}
        ?>

            <?php if (in_array($groupType, Dyna_Configurator_Model_Catalog::getOptionsForCartPackageType($packageType)) && $hasProducts) : ?>
                <div data-group-type="<?php echo $groupType; ?>" class="row group-header group-header-<?php echo $this->__($groupType); ?>" <?php if (empty($package['editing_disabled'])): ?> onclick="configurator.toggleSection('<?php echo strtolower($groupType); ?>', false);" <?php endif; ?>>
                    <div class="col-sm-6 name-row">
                        <?php echo $this->__($packageHelper->getPackageSubtype($packageType, $groupType, true)); ?>
                    </div>
                    <div class="price col-sm-3 right-align price-row"><?php echo $helper->showNewFormattedPriced($totalPrice); ?></div>
                    <div class="maf-price col-sm-3 right-align price-row"><?php echo $helper->showNewFormattedPriced($totalMaf); ?></div>
                </div>
                <div class="cart-group-content">
            <?php endif; ?>

            <!-- ITEMS <?php echo strtoupper($groupType); ?> -->
            <?php

            /** previous package items */
            if ($previousPackages && isset($previousPackages[$key])) {
                $bullet = false;
                $prevLineThrough = array('price' => true, 'product' => true, 'maf' => true);
                if (isset($previousPackages[$key]['items'][$groupType])) {
                    foreach ($previousPackages[$key]['items'][$groupType] as $previousItem) {
                        /* skip promo && sim && service items */
                        $product = Mage::getModel('catalog/product')->load($previousItem['product_id']);
                        // todo: clarify below condition !Mage::getSingleton('checkout/cart')->isChanged($groupType) ||
                        if (in_array($previousItem['product_id'], $shownProducts)) {
                            continue;
                        }

                        $productVisibility = $catalogHelper->getVisibility(Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_SHOPPING_CART, $previousItem['sku'], $product);

                        //if ($previousItem['product'][Dyna_Catalog_Model_Product::CATALOG_PACKAGE_SUBTYPE_ATTR] == $simCardAttrId) {
                        array_push($shownProducts, $previousItem['product_id']);
                        echo $addLine(array(
                            'item' => array(
                                'name' => $previousItem['product']['display_name_inventory'],
                                'maf' => isset($previousItem['maf']) ? (float)$previousItem['maf'] : 0,
                                'mafTax' => isset($previousItem['maf_incl_tax']) ? (float)$previousItem['maf_incl_tax'] : 0,
                                'price' => isset($previousItem['row_total']) ? (float)$previousItem['row_total'] : 0,
                                'priceTax' => isset($previousItem['row_total_incl_tax']) ? (float)$previousItem['row_total_incl_tax'] : 0,
                            ),
                            'groupType' => $groupType,
                            'lineThrough' => $prevLineThrough,
                            'systemAction' => $previousItem['system_action'],
                            'isContractDrop' => $previousItem['is_contract_drop'],
                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                            /** show onetime prices if $0 for device & accessory */
                            'showOneTimeZeroPrices' => ($product->isDevice() || $product->isAccessory() || $product->isDiscount()),
                            /** showMaf Price if $0 only for subscription & addons */
                            'showMafZeroPrices' => ($product->isSubscription() || $product->isOption() || $product->isDiscount()),
                            'bullet' => $bullet,
                            'productVisibility' => $productVisibility,
                            'packageType'=>  $packageType,
                            'mixMatchProducts' => (!empty($mixMatchProducts[$product->getId()]) ? $mixMatchProducts[$product->getId()] : []),
                            'guiSection' => Dyna_Catalog_Model_Product::GUI_CART,
                            'saleType' => $saleType
                        ));
                        // }

                    }
                }
                unset($prevLineThrough);
            }

            $groupProductIds = [];
            /**@var Omnius_Checkout_Model_Sales_Quote_Item $item */
            foreach ($package['items'] as $index => $item) {
                /** @var Dyna_Catalog_Model_Product $product */
                /* skip promo && sim && service items */
                $product = $item->getProduct();
                $systemAction = $item->getSystemAction();

                $packageSubtypeArray = (array)json_decode($catalogHelper->getAttributeAdminLabel($packageSubtypeAttribute, $product->getPackageSubtype()), true);
                $packageSubtypeValue = $product->getPackageSubtype() ? $packageSubtypeArray[$product->getPackageSubtype()] : "";
                if (!in_array(strtolower($packageSubtypeValue), array_map("strtolower", $groupTypes)) && !in_array($product->getId(), $otherProducts)) {
                    $otherProducts[$product->getId()] = $item;
                }

                // check if product is from the current group
                if ($product->is($groupType) && !$item->getOldInstallBase() && !$item->isPromo() && !$item->isBundlePromo()) { // bullet and line style
                    $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                    $bullet = false;
                    $skipSeparator = false;
                    $hasPriceDiscount = $hasMafDiscount = false;
                    if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0){
                        $hasPriceDiscount = true;
                    }
                    if ($item->getMafDiscountAmount() != null && $item->getMafDiscountAmount() > 0) {
                        $hasMafDiscount = true;
                    }

                    if ($product->isAccessory()) {
                        $lineThrough['price'] = $hasPriceDiscount;
                        $lineThrough['maf'] = $hasMafDiscount;
                    } else {
                        if (!empty($mixMatchProducts[$product->getId()])) {
                            $hasNewPrice = $hasNewMaf = false;
                            foreach ($mixMatchProducts[$product->getId()] as $mixMatchProduct) {
                                if ($mixMatchProduct["hasNewPrice"]) {
                                    $hasNewPrice = true;
                                }
                                if ($mixMatchProduct["hasNewMaf"]) {
                                    $hasNewMaf = true;
                                }
                            }
                            $lineThrough['price'] = $hasNewPrice || $coupon;
                            $lineThrough['maf'] = $hasNewMaf;

                            $item->setHasMixMatch(!$item->isContract() || $coupon);
                        }
                        $item->setHasMixMatch(!$item->isContract() && !empty($mixMatchProducts[$product->getId()]) || $coupon);
                    }

                    $skipSeparator = $hasPriceDiscount || $hasMafDiscount;

                    // ECHO ITEM LINE
                    echo $addLine(array(
                        'skipSeparator' => $skipSeparator,
                        'item' => Mage::helper('dyna_configurator')->getBlockRowData($item),
                        'groupType' => $groupType,
                        'lineThrough' => $lineThrough,
                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                        'bullet' => $bullet,
                        /** show onetime prices if $0 for device & accessory */
                        'showOneTimeZeroPrices' => ($product->isDevice() || $product->isAccessory() || $product->isDiscount()),
                        /** showMaf Price if $0 only for subscription & addons */
                        'showMafZeroPrices' => ($product->isSubscription() || $product->isOption() || $product->isDiscount()),
                        'systemAction' => $systemAction,
                        'packageType'=>  $packageType,
                        'mixMatchProducts' => !empty($mixMatchProducts[$product->getId()]) ? $mixMatchProducts[$product->getId()] : [],
                        'guiSection' => Dyna_Catalog_Model_Product::GUI_CART,
                        'saleType' => $saleType
                    ));

                    /** if subscription add subscription specific bullets */
                    if ($product->isSubscription() || $product->isOption()) {
                        // PROMOTION
                        if ($hasPromo && !empty($promoProducts)) {
                            $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                            $bullet = true;
                            $displays = array();
                            $displayCount = 0;

                            foreach ($promoProducts as $promoItem) {
                                if ($item->getProductId() == $promoItem->getTargetId()
                                    && $promoItem->getPackageId() == $item->getPackageId()
                                    && ($item->getMafDiscountAmount() >= 0)
                                ) {
                                    $productVisibility = $catalogHelper->getVisibility(Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_SHOPPING_CART, $promoItem->getData('sku'), $promoItem->getProduct());
                                    $promoItemData = Mage::helper('dyna_configurator')->getBlockRowData($promoItem);
                                    $displays[] = array(
                                        'item' => $promoItemData,
                                        'groupType' => $groupType,
                                        'lineThrough' => $lineThrough,
                                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                        'bullet' => $bullet,
                                        'showOneTimeZeroPrices' => false,
                                        'productVisibility' => $productVisibility,
                                        'packageType'=>  $packageType,
                                        'saleType' => $saleType,
                                        'systemAction' => $promoItem->getSystemAction()
                                    );

                                    // DF-002852: display lineThrough price only if the promo item affects the price.
                                    // if it affects only the aansluitkosten do not make lineThrough
                                    // this will cause issues if the aansluitkosten promo is not the last promo in list
                                    if (isset($display['item']['price'])) {
                                        $displayCount++;
                                    }
                                }
                            }

                            $i = 0;
                            $count = $displayCount;
                            foreach ($displays as $display) {
                                $i++;
                                if ($i < $count) {
                                    $display['lineThrough']['price'] = true;
                                }
                                echo $addLine($display);
                            }
                        }
                    }

                    // IF DEVICE add device specific bullets
                    if ($product->isDevice() || $product->isAccessory() || $product->isOption() || $product->isPromotion()) {
                        // Mixmatches are added under each product
                        $priceRulesHelper = Mage::helper('pricerules');
                        $rulesArray = $priceRulesHelper->explodeTrimmed($item->getAppliedRuleIds());
                        // coupon
                        if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0) {
                            $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                            $bullet = true;

                            // get coupon
                            $rule = Mage::getModel('salesrule/coupon')->loadByCode($coupon);
                            $rulesCollection = Mage::getModel('salesrule/rule')->getCollection()
                                ->addFieldToFilter('simple_action', array('neq' => 'ampromo_items'))
                                ->addFieldToFilter('rule_id', array('in' => $rulesArray));
                            $discountNameArray = array();
                            foreach ($rulesCollection as $r) {
                                $discountNameArray[] = $r->getName();
                            }

                            $discountName = implode(', ', $discountNameArray);
                            $couponRule = Mage::getModel('salesrule/rule')->load($rule->getRuleId());

                            // get device price
                            $deviceItem = Mage::helper('dyna_configurator')->getBlockRowData($item);

                            // calculate discount
                            $discount = (float)$item->getDiscountAmount();

                            if (!empty($mixMatchProducts[$item->getProductId()])) {
                                // get the mixmatch price
                                foreach ($mixMatchProducts[$item->getProductId()] as $mixMatchProduct) {
                                    $deviceItem['price'] = $mixMatchProduct['price'];
                                    $deviceItem['priceTax'] = $mixMatchProduct['priceTax'];
                                    $deviceItem['maf'] = $mixMatchProduct['maf'];
                                    $deviceItem['mafTax'] = $mixMatchProduct['mafTax'];
                                }
                            }

                            $deviceItem['price'] -= ($discount - $item->getHiddenTaxAmount());
                            $deviceItem['priceTax'] -= $discount;

                            // ADD connection fee line
                            echo $addLine(array(
                                'item' => array(
                                    'name' => $discountName,
                                    'price' => $deviceItem['price'],
                                    'priceTax' => $deviceItem['priceTax'],
                                ),
                                'groupType' => $groupType,
                                'lineThrough' => $lineThrough,
                                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                'bullet' => $bullet,
                                'packageType'=>  $packageType,
                                'saleType' => $saleType
                            ));

                        }


                        if ($product->isDevice()) {
                            // add taxes
                            $taxes = $item->getWeeeTaxAppliedUnserialized();
                            foreach ($taxes as $tax) {
                                $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                                $bullet = true;
                                echo $addLine(array(
                                    'item' => array(
                                        'name' => $tax['title'],
                                        'price' => $tax['amount'],
                                        'priceTax' => $tax['amount_incl_tax'],
                                    ),
                                    'groupType' => $groupType,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                    'packageType'=>  $packageType,
                                    'saleType' => $saleType
                                ));
                            }
                            $serviceItems = array();
                            foreach ($package['items'] as $serviceItem) {
                                if ($serviceItem->getProduct()->isServiceItem()
                                    && $serviceItem->getTargetId() != $product->getId()
                                    && $serviceItem->getProduct()->getId() != $product->getId()) {
                                    $serviceItems[$serviceItem->getProductId()] = $serviceItem;
                                }
                            }

                            $serviceItemKeys = array_keys($serviceItems);

                            //Check if there are previous SIM set
                            if (isset($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_NONE])) {
                                foreach ($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_NONE] as $itm) {
                                    $lineThrough = array('price' => true, 'maf' => true, 'product' => true);
                                    $bullet = true;
                                    if (Mage::getSingleton('checkout/cart')->isChanged(Dyna_Catalog_Model_Type::SUBTYPE_NONE)
                                        && !in_array($itm['product_id'], $serviceItemKeys)
                                    ) {
                                        $productVisibility = $catalogHelper->getVisibility(Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_SHOPPING_CART, $itm['sku']);
                                        echo $addLine(array(
                                            'item' => array(
                                                'name' => $itm['name'],
                                                'maf' => isset($itm['maf']) ? (float)$itm['maf'] : 0,
                                                'mafTax' => isset($itm['maf_incl_tax']) ? (float)$itm['maf_incl_tax'] : 0,
                                                'price' => isset($itm['row_total']) ? (float)$itm['row_total'] : 0,
                                                'priceTax' => isset($itm['row_total_incl_tax']) ? (float)$itm['row_total_incl_tax'] : 0,
                                            ),
                                            'groupType' => $groupType,
                                            'lineThrough' => $lineThrough,
                                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                            'bullet' => $bullet,
                                            'productVisibility' => $productVisibility,
                                            'packageType'=>  $packageType,
                                            'saleType' => $saleType
                                        ));
                                    }
                                }
                            }

                            /** add taxes */
                            /** @var Dyna_Checkout_Model_Sales_Quote_Item $serviceItem */
                            foreach ($serviceItems as $serviceItem) {
                                $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                                $bullet = true;
                                echo $addLine(array(
                                    'item' => array(
                                        'name' => $serviceItem->getName(),
                                        'price' => $serviceItem->getRowTotal(),
                                        'priceTax' => $serviceItem->getRowTotalInclTax(),
                                    ),
                                    'groupType' => $groupType,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                    'packageType'=>  $packageType,
                                    'saleType' => $saleType
                                ));
                            }
                        }
                    }
                } elseif ($product->isOption() && in_array($groupType, Dyna_Catalog_Model_Type::$accessories) ) {
                    echo $addLine(array(
                        'item' => [
                            'name' => $product->getName(),
                            'price' => $item->getRowTotal(),
                            'priceTax' => $item->getRowTotalInclTax(),
                            'discount' => 1,
                        ],
                        'groupType' => $groupType,
                        'lineThrough' => array('price' => false, 'product' => false),
                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                        'packageType'=>  $packageType,
                        'saleType' => $saleType
                    ));
                }
            } ?>
            <?php if (in_array($groupType, Dyna_Configurator_Model_Catalog::getOptionsForCartPackageType($packageType)) && $hasProducts) : ?>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>

        <?php
            // OMNVFDE-2994: Other install base products appear in dummy package because of hidden subtype and visible in cart set to yes
            if (empty($package['editing_disabled'])) {
                //Check if there are any service charge items in current package
                foreach ($package['items'] as $index => $i) {
                    /** @var Dyna_Catalog_Model_Product $cartProduct */
                    $cartProduct = $i->getProduct();
                    // Is a migration charge?
                    if ($cartProduct->isMigrationCharge()): ?>
                        <div class="row group-header service-charge-header">
                            <div class="col-sm-9 name-row"><?php echo $cartProduct->getName(); ?></div>
                            <div class="price col-sm-3 right-align price-row"><?php echo $helper->showNewFormattedPriced($item->getRowTotalInclTax()); ?></div>
                            <div class="maf-price col-sm-3 right-align price-row"><?php /* One time cost, no Maf */ ?></div>
                        </div>
                    <?php endif;
                }

                foreach ($otherProducts as $productId => $item) {
                    echo $addLine(array(
                        'skipSeparator' => true,
                        'item' => [
                            'name' => $item->getName(),
                            'price' => $item->getRowTotal(),
                            'priceTax' => $item->getRowTotalInclTax(),
                            'maf' => isset($item['maf']) ? (float)$item['maf'] : 0,
                            'mafTax' => isset($item['maf_incl_tax']) ? (float)$item['maf_incl_tax'] : 0,
                        ],
                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                        'groupType' => 'Other',
                        'packageType'=>  $item->getPackageType(),
                        'saleType' => $saleType
                    ));
                }
            }
        ?>

        <!-- TEMPLATE -->
        <?php if ($key == 'template'): ?>
            <div class="row">
                <?php foreach ($groupTypes as $groupType) : ?>
                    <?php if ($groupType != ucfirst(Omnius_Configurator_Model_AttributeGroup::ATTR_GROUP_PROMOTIONS)): ?>
                        <?php $groupTypeText = in_array($groupType, Dyna_Catalog_Model_Type::$options) ? 'Extra' : $groupType; ?>
                        <div data-group-type="<?php echo $this->__($groupType) ?>" class="row group-header group-header-<?php echo $this->__($groupType) ?>"
                             onclick="configurator.toggleSection('<?php echo strtolower($groupType) ?>', false);">
                            <?php echo $this->__($groupTypeText) ?>
                            <div class="col-sm-3 right-align price-row"></div>
                            <div class="col-sm-3 right-align price-row"></div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>

            </div>
        <?php endif; ?>
    </div>

<?php $this->setShownProducts($shownProducts)->setTotalDevice($totalDevice)->setTotalSubscription($totalSubscription); ?>
