<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
    /**
     * @var string $packageType
     * @var string $key
     * @var array $package
     * @var string $ctnText
     * @var string $ctnDescription
     * @var array $applicablePromoRules
     * @var string $guiSection
     */
    extract($data);

$packageCode = str_replace('template-', '', $packageType);
if (!empty($package['package_creation_type_id'])) {
    $packagesTitle = Mage::getSingleton('dyna_package/packageCreationTypes')->getById($package['package_creation_type_id'])->getGuiName();
    $packageCreationGroupId =  Mage::getSingleton('dyna_package/packageCreationTypes')->getById($package['package_creation_type_id'])->getPackageCreationGroupId();
    $packageCreationGroupName = Mage::getSingleton('dyna_package/packageCreationGroups')->getById($packageCreationGroupId)->getGuiName();
} else {
    $packagesTitle = Mage::getSingleton('dyna_package/packageType')->loadByCode($packageCode)->getFrontEndName();
    $packageCreationGroupId =  Mage::getSingleton('dyna_package/packageType')->loadByCode($packageCode)->getPackageCreationGroupId();
    $packageCreationGroupName = Mage::getSingleton('dyna_package/packageCreationGroups')->getById($packageCreationGroupId)->getGuiName();
}
$numberOfCurrentRedplusMembers = Mage::helper('dyna_package')->getNumberOfRedPlusGroupMembers($package, $packageType);
/** @var Dyna_Checkout_Model_Sales_Quote $quote */
$quote = Mage::getSingleton('checkout/cart')->getQuote();
$packageModel = isset($package['package_id']) ? $quote->getCartPackage($package['package_id']) : null;
$titleLabel = "";
$packageTypeAndTariffTitles = Mage::helper('dyna_package')->getTypeAndSubtypeTitle($package,Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, $guiSection);

// OVG-2141
$customer = Mage::getModel('customer/session')->getCustomer();
$allInstallBaseProducts = $customer->getAllInstallBaseProducts();

foreach ($allInstallBaseProducts as $installBaseProduct) {
    if (isset($package['parent_account_number']) &&
        $installBaseProduct['contract_id'] == $package['parent_account_number'] &&
        $installBaseProduct['product_id'] == $package['service_line_id'] &&
        $installBaseProduct['sharing_group_number_of_members'] > 0 && $installBaseProduct['sharing_group_member_type'] == Dyna_Customer_Helper_Customer::SUBSCRIPTION_TYPE_OWNER) {
        $numberOfCurrentRedplusMembers += $installBaseProduct['sharing_group_number_of_members'];
    }
}

/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');

/** @var Dyna_Configurator_Helper_Cart $cartHelper */
$cartHelper = Mage::helper('dyna_configurator/cart');

if (isset($package['package_id'])) {
    $class = $packageHelper->getPackageState($package);
}
$deletePackageModalType = $packageHelper->getDeleteModalType($package);
/**
 *
 * sharing-group
 * intra-stack-bundle
 * installed-base-bundle
 */
?>
<div class="title row-fluid <?php echo !empty($class['title'])? $class['title']: ''; ?> <?php echo isset($package['package_id']) ? $packageHelper->getBundleColor($package['package_id']) : ''; ?>">
    <!--<div class="package-arrow-right"><span>n</span></div>-->
    <!--<div class="package-arrow-down"><span>B</span></div>-->

        <div class="col-xs-8">
            <i class="vfde-arrow-down2 prs pull-left package-arrow-icon" style="font-size: 13px;"></i>
            <?php
            if (($packageTypeAndTariffTitles['packageTitle'] != '') && ($packageTypeAndTariffTitles['packageSubtypeTitle'] != '')) {
                echo '<div class="group-title">' .
                    '<p>'.$packageCreationGroupName .' '. $packageTypeAndTariffTitles['packageTitle'] . '</p>' .
                    '<span class="package-type">' . $packageTypeAndTariffTitles['packageSubtypeTitle'] . '</span>' .
                    '</div>';
            } else {
                if (isset($package['editing_disabled']) && $package['editing_disabled']) {
                    echo '<span class="package-type">' .$packageCreationGroupName .' '. $packagesTitle . '</span>';
                } else {
                    echo '<div class="group-title">' .
                        '<p>'.$packageCreationGroupName .' '. $packagesTitle . '</p>' .
                        '<span class="package-type empty-package">' . $this->__('Configure package') . '</span>' .
                        '</div>';
                }
            }
            ?>
        </div>
        <div class="col-xs-1">
        <?php if (!empty($class['state']['partOfGroup'])) { ?>
            <div class="secondBadge <?php echo $class['state']['secondBadge']; ?>"
            data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
            data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
            data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip'><?php echo $class['tooltipInfo']['title']; ?></span>"
            >
            </div>
        <?php } ?>
    </div>

        <div class="col-xs-2">
            <?php if (!empty($class['state'])) { ?>
                <div class="badge <?php echo $class['state']['badge']; ?> package-lightbulb-tooltip"
                    <?php if ($class['state']['badge'] == "hint"): ?>
                        data-toggle="tooltip" data-placement="left" data-container="body" data-html="true"
                        data-original-title="<span class='lightbulb-tooltip-title'><?php echo $class['tooltipInfo']['title']; ?></span><br/><br/><span><?php echo $class['tooltipInfo']['message']; ?></span>"
                    <?php elseif (!isset($packageModel) || !$packageModel->isPartOfRedPlus()) : ?>
                        data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                        data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                        data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip'><?php echo !empty($class['tooltipInfo']['title']) ? $class['tooltipInfo']['title'] : ''; ?></span>"
                    <?php endif; ?>

                >
                    <i class="<?php echo $class['state']['icon']; ?>"></i>
                    <?php echo isset($packageModel) && $packageModel->isPartOfRedPlus() && $packageModel->isMobile() && $numberOfCurrentRedplusMembers > 0 ? $numberOfCurrentRedplusMembers : ''; ?>
                </div>
            <?php } ?>
        </div>


        <!--  <div class="col-xs-2">
         <div class="badge darkorchid">
             <i class="vfde-person small"></i> 1
         </div>
     </div>
     <div class="col-xs-1">
         <div class="badge empty darkcyan">
             <i class="vfde-person small"></i>
         </div>
     </div>
     <div class="col-xs-1">
         <div class="badge empty darkorchid">
             <i class="vfde-person small"></i>
         </div>
     </div>

     <div class="col-xs-2">
         <div class="badge empty darkslategray">
             <i class="vfde-person small"></i>
         </div>
     </div>-->


        <div class="col-xs-1">
            <div class="menu-expand">
                <ul>
                    <?php if (($key != 'template' && count($package['items']) &&
                            ($packageModel && $cartHelper->allowBundlePackageDuplication($packageModel) && $cartHelper->allowProcessContextPackageDuplication($packageModel)))) : ?>
                        <li>
                            <a onclick="duplicatePackage(event, this)">
                                <i class="vfde vfde-save fa-lg"></i>
                                <?php echo $this->__('Duplicate package'); ?>
                            </a>
                        </li>
                    <?php endif; ?>
                    <li>
                        <a data-modal-type="<?php echo $deletePackageModalType['modalType']; ?>"
                           data-package-title="<?php echo $deletePackageModalType['packageTitle']; ?>"
                           data-bundle-id="<?php echo $deletePackageModalType['bundleId']; ?>"
                           data-bundle-dummy-package-name="<?php echo $deletePackageModalType['dummyPackageTitle']; ?>"
                           data-modal-message="<?php echo $deletePackageModalType['modalMessage']; ?>"
                           onclick="showCancelPackageModal(event, this)">
                            <i class="vfde vfde-delete fa-lg"></i>
                            <?php echo $this->__('Remove'); ?>
                        </a>
                    </li>
                </ul>
            </div>
            <?php //should not appear on edit as agent should not be able to remove or duplicate package on edit?>
            <?php if (!Mage::getSingleton('customer/session')->getOrderEditMode() && empty($package['editing_disabled'])): ?>
                <div onclick="switchPackageMenu(event,this)">
                    <i class="vfde-more"></i>
                </div>
                <?php elseif (!empty($package['editing_disabled'])): ?>
                <div>
                    <i class="vfde-disabled" style="font-size:15px;"></i>
                </div>
            <?php endif; ?>
            <?php
            /*
                <a id="promo-trigger-<?php echo $key ?>"
                    class="promo-rules-trigger; ?>"
                    href="javascript:void(0)" onclick="getApplicablePromoRules(event,this);">
                    <span class="badge"><?php echo $applicablePromoRules ?></span>
                </a>
            */
            ?>
    </div>
</div>
