<?php
$stockStores = $this->getData('stockStores');
$dealers = $this->getData('dealers');
$hiddenClass = $this->getData('hiddenClass');
if (isset($stockStores)) {
    foreach ($stockStores as $storeStock) {
        $currentDealer = $dealers->getItemByColumnValue('axi_store_code', $storeStock->getStore());
        if ($currentDealer && $storeStock->getStoreName() && $storeStock->getStock() != 0) {
            ?>
            <tr <?php echo $hiddenClass ?>>
                <td class="number"><?php echo $storeStock->getStock() ?></td>
                <td><?php echo join(', ', array($currentDealer->getCity(), $currentDealer->getStreet() . ' ' . $currentDealer->getHouseNr(), $currentDealer->getPostcode())) ?></td>
                <td><?php echo $currentDealer->getTelephone() ?></td>
            </tr>
            <?php
        }
    }
}
?>
