<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$object = $this->getObject();
?>

<a href="<?php echo $this->getLinkUrl(); ?>" class="<?php echo $object->getIsDefault() ? 'bold' : '' ?> <?php echo $this->getClass(); ?>" title="<?php echo $this->__('Id') . ': ' . $object->getId()?>">
    <?php echo $this->escapeHtml($object->getName()); ?>
</a>
<br />
<span class="additional-info">(<?php echo $this->getInfo(); ?>)</span>
<a href="<?php echo $this->getStoreLink(); ?>"><?php echo $this->__('Active website'); ?></a>
