<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @var $this Omnius_Checkout_Block_Tax_Subtotal
 * @see Mage_Tax_Block_Checkout_Subtotal
 *
 */

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
/** @var Mage_Tax_Helper_Data */
$taxHelper = Mage::helper('tax');
$isIndirect = $agentHelper->isIndirectStore();
$showTaxSpecifications = (int)$this->getData('checkout') !== Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_SHOPPING_BAG || (int)Mage::getSingleton('customer/session')->getBtwState() === 0;
?>
<div class="price-summary-line specification-show"<?php echo !$showTaxSpecifications ? ' style="display: none;"' : ''; ?>>
    <div class="price-summary-line-text"><?php echo $taxHelper->__('Total excl. VAT'); ?></div>
    <div class="price-summary-line-price">
        <div class="price-summary-price-upfront">
            <?php if (!$isIndirect): ?>
                <?php echo $helper->showNewFormattedPriced($this->getDeviceTotal()) ?>
            <?php endif; ?>
        </div>
        <div class="price-summary-price-monthly">
            <?php echo $helper->showNewFormattedPriced($this->getMafSubtotalExclTax()) ?>
        </div>
    </div>
</div>
