<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */

$_value = $this->getDeviceTax();
$_mafValue = max($this->getMafTotal()->getValue(), 0);
$_style = $this->getTotal()->getStyle();
$_mafStyle = $this->getMafTotal()->getStyle();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
/** @var Mage_Tax_Helper_Data */
$taxHelper = Mage::helper('tax');
$isIndirect = $agentHelper->isIndirectStore();
$showTaxSpecifications = (int)$this->getData('checkout') !== Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_SHOPPING_BAG || (int)Mage::getSingleton('customer/session')->getBtwState() === 0;
?>
<div class="price-summary-line specification-show"<?php echo !$showTaxSpecifications ? ' style="display: none;"' : ''; ?>>
    <div class="price-summary-line-text"><?php echo $taxHelper->__('VAT'); ?></div>
    <div class="price-summary-line-price">
        <div class="price-summary-price-upfront">
            <?php if (!$isIndirect): ?>
                <?php echo $helper->showNewFormattedPriced($_value) ?>
            <?php endif; ?>
        </div>
        <div class="price-summary-price-monthly">
            <?php echo $helper->showNewFormattedPriced($_mafValue) ?>
        </div>
    </div>
</div>
