<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/** @var Omnius_Checkout_Block_Tax_Total $this */

$_value = $this->getDeviceTotal();
$_mafValue = $this->getMafSubtotalExclTax();
$_style = $this->getTotal()->getStyle();
$_mafStyle = $this->getTotal()->getStyle();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

$quote = Mage::getSingleton('checkout/cart')->getQuote();
$totalDevicePriceDeduction = $quote->getTotalDevicePayment();
$sidebarCart = $this->getData('cart_sidebar');
$isFixed = $quote->hasFixed();
$checkout = (int)$this->getData('checkout');
$showDeductedPhoneCharge = $totalDevicePriceDeduction > 0 && !$agentHelper->isIndirectStore();
$showTaxSpecifications = $checkout !== Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_SHOPPING_BAG || (int)Mage::getSingleton('customer/session')->getBtwState() === 0;

if ($checkout === Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_CHECKOUT || ($checkout === Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_SHOPPING_BAG && $showDeductedPhoneCharge)) {
    ?>
    <div class="price-summary-line price-summary-bold specification-show"<?php echo !$showTaxSpecifications ? ' style="display: none;"' : ''; ?>>
        <div class="price-summary-line-text"><?php echo $this->__($checkout === Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_CHECKOUT ? 'Subtotal' : 'Total incl. VAT'); ?></div>
        <div class="price-summary-line-price">
            <div class="price-summary-price-upfront">
                <?php if (!$isIndirect): ?>
                    <?php echo $helper->showNewFormattedPriced($_value) ?>
                <?php endif; ?>
            </div>
            <div class="price-summary-price-monthly">
                <?php echo $helper->showNewFormattedPriced($_mafValue) ?>
            </div>
        </div>
    </div>
    <?php
}
if ($checkout === Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_SHOPPING_BAG && $showDeductedPhoneCharge) {
    ?>
    <div class="price-summary-separator-single specification-show"<?php echo !$showTaxSpecifications ? ' style="display: none;"' : ''; ?>></div>
    <div class="price-summary-line specification-show"<?php echo !$showTaxSpecifications ? ' style="display: none;"' : ''; ?>>
        <div class="price-summary-line-text"><?php echo $this->__('Deducted phone charge'); ?></div>
        <div class="price-summary-line-price">
            <div class="price-summary-price-upfront"><?php echo $helper->showNewFormattedPriced($totalDevicePriceDeduction * -1); ?></div>
            <div class="price-summary-price-monthly"></div>
        </div>
    </div>
    <div class="price-summary-separator-double specification-show"<?php echo !$showTaxSpecifications ? ' style="display: none;"' : ''; ?>></div>
    <?php
}