<script id="left-sidebar-good-deal" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table display-orders">
        <div class="table-title table-title-search"><?php echo $this->__('Tip: Good Deal'); ?></div>
        <div class="table-description message">
            {{#each ctn}}
                 <button onclick="window.open('{{this}}');" data-format="phonenumber" data-phone="{{this}}" type="button" class="btn btn-default el-tab">{{this}}</button>
            {{/each}}
        </div>
    </div>
</script>