<script id="left-sidebar-my-360-view" type="text/x-handlebars-template">
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table display-360-view">
        <div class="table-title table-title-search"><?php echo $this->__('360 View'); ?></div>
        <div class="table-description message" id="360-view-message">
            {{#if message}}
                {{message}}
            {{else}}
                {{#unless ctns}}
                    <?php echo $this->__('There are no CTNs available'); ?>
                {{/unless}}
            {{/if}}
        </div>

        {{#if ctns}}
        <div class="table-body mt-3">
            {{#each ctns}}
                <button data-ctn="{{this}}" class="btn btn-default btn-ctn btn-secondary">{{this}}</button>
            {{/each}}
            <iframe id="my-360-view-iframe" data-src="<?php echo Mage::helper('vznl_customer')->getUsageUrl(); ?>"></iframe>
        </div>
        {{/if}}
    </div>
</script>
