<script id="left-sidebar-orders-content" type="text/x-handlebars-template">
    <?php
        $customerSession = Mage::getSingleton('customer/session');
    ?>
    <div class="customer-results-table customer-panel-table white-table scrollable-y-table display-orders">
        {{#compare error true operator="=="}}
            <div class="table-title table-title-search"><?php echo $this->__('Orders'); ?></div>
            <div class="table-description message">
                {{message}}
            </div>
        {{else}}
            <div class="title with-top-spacing">
                <div class="table-title table-title-search"><?php echo $this->__('Orders'); ?></div>
            </div>
            {{#if dbOrders.error}}
                <div class="table-description message">
                    {{dbOrders.message}}
                </div>
            {{else}}
                <div class="table-responsive">
                    <table class="table customer-360-table">
                        <thead>
                        <tr class="div-table-row div-table-row-header">
                            <th class="div-table-cell"><?php echo $this->__('Stack'); ?></th>
                            <th class="div-table-cell"><?php echo $this->__('Creation date'); ?></th>
                            <th class="div-table-cell"><?php echo $this->__('Order number'); ?></th>
                            <th class="div-table-cell"><?php echo $this->__('Order status'); ?></th>
                            <th class="div-table-cell"><?php echo $this->__('Sales channel'); ?></th>
                            <th class="div-table-cell"></th>
                        </tr>
                        </thead>
                        <tbody id="left-sidebar-orders-content-entries">
                        {{#each dbOrders}}
                        <tr class="div-table-row">
                            <td class="div-table-cell" colspan="1">
                                {{#compare  KIAS '1' operator="=="}}
                                <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                {{/compare}}

                                {{#compare  KD '1' operator="=="}}
                                <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                {{/compare}}

                                {{#compare  FN '1' operator="=="}}
                                <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                {{/compare}}
                            </td>
                            <td class="div-table-cell create-date" colspan="1">
                                {{creationDate}}
                            </td>
                            <td class="div-table-cell" colspan="1">
                                <span class="order-no">
                                    {{orderNumber}}
                                </span>
                            </td>
                            <?php
                            /** @todo remove hardcoded order status from template */
                            ?>
                            <td class="div-table-cell {{#ifCond orderStatus '==' 'Canceled'}}cancelled{{/ifCond}}" colspan="1" id="osf-order-status">
                                {{orderStatus}}
                            </td>
                            <td class="div-table-cell 4" colspan="1">
                                {{salesChannel}}
                            </td>
                            <td class="div-table-cell has-button" colspan="1">
                                <input type="button" id="{{ orderNumber }}" onclick="customerDe.loadOrderInfo(this)" class="btn btn-primary btn-medium load-order-info" value="<?php echo $this->__('Show'); ?>" />
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
            {{/if}}
            {{#if nonOsfOrders.error}}
                <div class="title with-top-spacing">
                    <div class="table-title table-title-search"><?php echo $this->__('U-Fix orders'); ?></div>
                </div>
                <div class="table-description message">
                    {{nonOsfOrders.message}}
                </div>
            {{else}}
                {{#each nonOsfOrders}}
                    <div class="title with-top-spacing">
                        <div class="table-title table-title-search"><?php echo $this->__('U-Fix orders'); ?></div>
                    </div>
                    <div class="table-responsive">
                        <table class="table customer-360-table">
                            <thead>
                                <tr class="div-table-row div-table-row-header">
                                    <th class="div-table-cell"><?php echo $this->__('Date'); ?></th>
                                    <th class="div-table-cell"><?php echo $this->__('Order number'); ?></th>
                                    <th class="div-table-cell"><?php echo $this->__('Status'); ?></th>
                                    <th class="div-table-cell"><?php echo $this->__('Details'); ?></th>
                                    <th class="div-table-cell"></th>
                                </tr>
                            </thead>
                            <tbody id="left-sidebar-orders-content-entries">
                                {{#each this}}
                                    <tr class="div-table-row">
                                        <td class="div-table-cell create-date" colspan="1">
                                            {{this.created_date}}
                                        </td>
                                        <td class="div-table-cell" colspan="1">
                                            <span class="order-no">
                                                {{this.order_id}}
                                            </span>
                                        </td>
                                        <td class="div-table-cell" colspan="1">
                                            {{this.order_status}}
                                        </td>
                                        <td class="div-table-cell" colspan="1">
                                            {{this.order_description}}
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{/each}}
            {{/if}}
        {{/compare}}
    </div>
</script>
