<?php if(Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')): ?>
    <script id="left-sidebar-products-content" type="text/x-handlebars-template">
        <div class="customer-results-table customer-panel-table scrollable-y-table">
            <div class="title-div">
                {{#if household }}
                    <div class="household-back-div" onclick="customerDe.callPanel('household_info_left');"><span></span></div>
                {{/if}}
                <div class="title"><?php echo $this->__('Products'); ?></div>
            </div>
            <!-- Mobile BSL products section -->
            {{#if BSL}}
            {{> bsl-customer this}}
            {{/if}}
            <!-- EOF Mobile BSL products section -->

            <!-- PEAL products section -->
            {{#if PEAL}}
            {{> peal-customer this}}
            {{/if}}
            <!-- EOF PEAL products section -->

            <!-- Mobile products section -->
            {{#if KIAS}}
            {{> kias-customer this}}
            {{/if}}

            {{> kias-permission}}
            <!-- EOF Mobile products section -->

            <!-- Cable products section -->
            {{#if KD}}
            {{> kd-customer this}}
            {{/if}}

            {{> kd-permission}}
            <!-- EOF Cable products section -->

            <!-- Fixed products section -->
            {{#if FN}}
            {{> fn-customer this}}
            {{/if}}

            {{> fn-permission}}
            <!-- EOF FN products section -->
        </div>
        <script>
          jQuery(document).ready(function() {
            jQuery('.tooltip-icon').tooltip();
          });
        </script>
    </script>
    <!-- todo: include template only if customer has specific stacks -->
    <?php echo $this->getChildHtml('bsl'); ?>
    <?php echo $this->getChildHtml('peal'); ?>
    <?php echo $this->getChildHtml('kias'); ?>
    <?php echo $this->getChildHtml('kd'); ?>
    <?php echo $this->getChildHtml('fn'); ?>
    <?php echo $this->getChildHtml('kd.permission');  ?>
    <?php echo $this->getChildHtml('fn.permission');  ?>
    <?php echo $this->getChildHtml('kias.permission'); ?>

    <!-- Migration of DSL: cable available, switch to cable confirmation modal -->
    <div class="modal checkAddressForMigration migrateMoveModal" id="migrateToDslModal" tabindex="-1" role="dialog" aria-labelledby="migrateMoveModal">
      <!-- Content loaded through handlebars -->
      </div>

      <!-- Migration of DSL: cable tv and internet&phoneavailable, switch to cable migration decisional modal -->
      <div class="modal checkAddressForMigration migrateMoveModal" id="migrateToCableDecideModal" tabindex="-1" role="dialog" aria-labelledby="migrateMoveModal">
      <!-- Content loaded through handlebars -->
      </div>

      <!--MIGRATE TO DSL confirmation-->
      <!-- Confirmation of migration to DSL when CABLE is also available: YES => create dsl migration ; NO =>nothing  -->
      <script id="migration-switch-to-cable-modal-content" type="text/x-handlebars-template">
      <div class="modal-dialog" role="document" id="move-decision">
      <div class="modal-content ajax-container">
      <div class="modal-header"><?php echo $this->__("Cable is Available") ?></div>
      <div class="modal-body">
        <?php echo $this->__("Both DSL and Cable are available at this address.") ?>
      <strong>
      {{#if fullAddress}}
    {{ fullAddress}}
    {{else}}
    {{ street}} {{houseNumber}}, {{postCode}} {{city}}
    {{/if}}
    </strong>
      {{#if partOfBundle}}
    <br/>
      <p><?php echo $this->__("Please note that by continuing the installed base bundle will be broken."); ?></p>
      {{/if}}
      <br/>
      <br/>
      <?php echo $this->__("Do you want to proceed with the Move Offnet scenario?"); ?>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-info-white" data-dismiss="modal"
        onclick="customerSection.cancelMoveOffnet()"
        value=" <?php echo $this->__("No") ?>">
            <?php echo $this->__("No") ?>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
        data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MOVE_OFFNET; ?>"
        data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>"
        data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
        data-package-creation-type-id ="{{packageCreationTypeId}}"
        onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
        value="<?php echo $this->__("Yes") ?>">
            <?php echo $this->__("Yes") ?>
          </button>
          </div>
          </div>
          </div>
    </script>

    <!--right side temporary "to checkout" btn and block details for moving from CABLE to DSL-->
    <script id="migrate-to-dsl-template" type="text/x-handlebars-template">
        <div class="migration-info migrate-to-cable-container migrate-or-move-offnet-container">
            <div class="migrate-to-cable-content">
                <div class="migrate-to-cable-title"><?php echo $this->__("Kabel: Move offnet"); ?></div>
                <div id="installed-cable-product-name" class="migrate-to-cable-package"></div>
            </div>
            <div class="migrate-confirm-button">
                <input id="move-to-dsl" type="button" class="btn btn-block btn-primary hide"
                       data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MOVE_OFFNET; ?>"
                       data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>"
                       value="<?php echo $this->__("Open configurator"); ?>"
                       data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                       data-package-creation-type-id="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_DSL); ?>"
                       onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"/>
                <input id="move-to-dsl-or-keep-product" type="button" class="btn btn-block btn-primary hide"
                       data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                       data-package-creation-type-id="{{packageCreationTypeId}}"
                       value="<?php echo $this->__("Open configurator"); ?>"
                       onclick="customerSection.showMoveOffnetModalDecision(this)"/>
            </div>
        </div>
    </script>

    <!--right side temporary "to checkout" btn and block details for moving from dsl to cable-->
    <script id="migrate-to-cable-template" type="text/x-handlebars-template">
        <div class="migration-info migrate-to-dsl-container migrate-or-move-offnet-container">
            <div class="migrate-to-dsl-content">
                <div class="migrate-to-dsl-title"><?php echo $this->__("Kabel: Migration"); ?></div>
                <div id="installed-fixed-product-name" class="migrate-to-dsl-package"></div>
            </div>
            <div class="migrate-confirm-button">
                <input id="migrate-to-configurator-kip" type="button" class="btn btn-block btn-primary hide"
                       data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION; ?>"
                       data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE); ?>"
                       value="<?php echo $this->__("Open configurator"); ?>"
                       data-package-creation-type-id="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_INTERNET_PHONE); ?>"
                       data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                       onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"/>
                <input id="migrate-to-configurator-kaa-kad" type="button" class="btn btn-block btn-primary hide"
                       data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION; ?>"
                       data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV); ?>"
                       data-package-creation-type-id="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_TV); ?>"
                       data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                       value="<?php echo $this->__("Open configurator"); ?>"
                       onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"/>
                <input id="migrate-to-configurator-kip-kaa-kad" type="button" class="btn btn-block btn-primary hide"
                       data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                       value="<?php echo $this->__("Open configurator"); ?>"
                       onclick="customerSection.showMigrationModalDecision()"/>
            </div>
        </div>
    </script>

    <!--when both kip and kaa/kad are available at the installed fixed product the Agent must decide if a Cable Tv or Cable Internet&Phone is wanted-->
    <script id="migrate-dsl-to-cable-tv-or-cable-internet-and-phone" type="text/x-handlebars-template">
        <div class="modal-dialog" role="document">
            <div class="modal-content ajax-container">
                <div class="modal-header"><?php echo $this->__("Cable TV or Cable Internet & Phone") ?></div>
                <div class="modal-body">
                    <?php echo $this->__("Both Cable Tv and Cable Internet & Phone are available at the address"); ?>
                    {#if partOfBundle}}
                    <p><?php echo $this->__("Please note that by continuing the installed base bundle will be broken."); ?></p>
                    {{/if}}
                    <strong>
                        {{#if fullAddress}}
                        {{ fullAddress}}
                        {{/if}}
                    </strong>
                    <br/>
                    <?php echo $this->__("Please select what package is desired"); ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-info-white"
                            data-dismiss="modal"
                            data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_TV) ?>"
                            data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION ?>"
                            data-package-creation-type-id ="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_TV); ?>"
                            onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
                            value="<?php echo $this->__("Cable TV") ?>">
                        <?php echo $this->__("Cable TV") ?>
                    </button>
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal"
                            data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_CABLE_INTERNET_PHONE) ?>"
                            data-package-creation-type-id ="<?php echo Mage::helper('dyna_configurator/cart')->getCreationTypeId(Dyna_Catalog_Model_Type::CREATION_TYPE_CABLE_INTERNET_PHONE); ?>"
                            data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MIGRATION ?>"
                            onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
                            value=" <?php echo $this->__("Cable Internet & Phone") ?>">
                        <?php echo $this->__("Cable Internet & Phone") ?>
                    </button>
                </div>
            </div>
        </div>
    </script>
    <!-- FIXED END -->
<?php else: ?>
    <script id="left-sidebar-products-content" type="text/x-handlebars-template">
        <?php
        $customerSession = Mage::getSingleton('customer/session');
        $canCreatePackages = Mage::getSingleton('customer/session')->getAgent(true)->isGranted('CREATE_PACKAGE');
        ?>
        <div class="customer-results-table customer-panel-table scrollable-y-table" id="products-content">
            <div class="title-div">
                {{#if household }}
                <div class="household-back-div" onclick="customerDe.callPanel('household_info_left');"><span></span></div>
                <div class="title"><?php echo $this->__('Products of'); ?> {{ customer_details }}</div>
                {{else}}
                <div class="title"><?php echo $this->__('Products of'); ?> {{ customer_details }}</div>
                {{/if}}
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" name="customer_ctn_search" class="customer_ctn_search form-control" data-search-on-type="true" data-document-id="entity_id" data-search-fields="ctn,raw_ctn" data-callback="customer.filterCtn" data-documents='{{ctnarr}}' placeholder="<?php echo $this->__('Filter on phone number'); ?>"/>
                    <a href="javascript:void(0)" class="search_ctn hide" onclick="customer.searchCustomerCtn()"></a>
                </div>
                <?php if(!Mage::helper('dyna_service')->isOverride() && !$customerSession->getCustomer()->isInMigration()):?>
                    <div class="col-xs-6">
                        <button class="refresh show_retainable btn btn-default" href="javascript:void(0)" onclick="customer.showOnlyRetainable(this)"><?php echo $this->__('Show retainable'); ?></button>
                        {{#if ctns }}
                        <input class="btn btn-primary" id="one-off-deal" type="button" value="<?php echo $this->__('One off Deal'); ?>" disabled="disabled"/>
                        {{/if}}
                    </div>
                <?php endif;?>
                <div class="row relative">
                    <p id="no_retainable_msg"><!--filled with js--></p>
                    <div id="list_ctns">
                        <h4 class="ctn-result-amount row">
                            <span class="amount-of-ctns">{{ctns_count}}</span> {{#ifCond ctns_count '>' '1'}}<?php echo $this->__('results'); ?>{{else}}<?php echo $this->__('result'); ?>{{/ifCond}}
                        </h4>
                        <ul class="ctn_list row">
                            <li class="col-xs-1 hide">
                                <div id="select_only_retainable">
                                    <label for="only_retainable_check" id="only_retainable_check_label">
                                        <input type="checkbox" id="only_retainable_check" disabled="disabled" onclick="customer.selectOnlyRetainable(this.checked)"/>
                                    </label>
                                </div>
                            </li>
                            <li class="col-xs-4 arrow_desc" onclick="sortCtnList('nr', this);"><?php echo $this->__('Phone number'); ?></li>
                            <li class="col-xs-3 arrow_desc" onclick="sortCtnList('date', this)"><?php echo $this->__('End date'); ?></li>
                            <li class="col-xs-2">&nbsp;</li>
                            <li class="col-xs-1">&nbsp;</li>
                            <li class="col-xs-1">&nbsp;</li>
                        </ul>
                        <div class="ctn_overview">
                            {{#if ctns }}
                            {{#each ctns}}
                            <ul class="clearfix ctn_record row" data-id="{{entityId}}" data-ctn="{{ctn}}" data-rawctn="{{ctn}}">
                                <li class="col-xs-1 hide">
                                    <input type="checkbox" disabled="disabled" id="ctn_checkbox_{{entityId}}"
                                           class="ctn_checkbox" value="{{ctn}}" name="ctn[]"
                                           onchange="checkCanAddToCart(this)" data-ctn="{{ctn}}" />
                                </li>
                                <li class="col-xs-4">
                                    <p for="ctn_checkbox_{{entityId}}" data-format="phonenumber" class="retainable-number">{{phonenumber}}</p>
                                </li>
                                <li class="col-xs-3">
                                    <p {{#if showCtnInfo }} {{else}} class="hide" {{/if}} >
                                    {{#if end_date }} {{end_date}} {{else}} <?php $this->__('N/A'); ?> {{/if}}
                                    </p>
                                </li>
                                <li class="col-xs-2">
                                    <div class="ctn-details-trigger {{#if showCtnInfo }} {{else}} hide {{/if}} " onclick="expandCtnDetails(this, '.ctn-details')" data-opened="H" data-closed="H"><span>H</span></div>
                                </li>
                                <li class="col-xs-1">
                                    <div class="right ctn_box retainablectn retainable<?php echo $canCreatePackages?'':' disabled'; ?>" id="ctn_retain_{{entityId}}" onclick="
                                    <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
                                            showModalError('<?php echo $this->__('You can not renew an order because you are changing and order. You have to cancel your changes first and go to the configurator.');?>');
                                            return;
                                    <?php elseif (!$canCreatePackages): ?>
                                            return ;
                                    <?php else: ?>
                                            createPackage('{{ctn}}','<?php echo Omnius_Checkout_Model_Sales_Quote_Item::RETENTION; ?>', '{{ctnProductsFlat}}');
                                    <?php endif;?>
                                            ">
                                        &nbsp;
                                    </div>
                                </li>
                                <li class="col-xs-1 hide">
                                    <div class="pull-right red notretainablectn glyphicon glyphicon-remove-circle"
                                         data-toggle="tooltip" data-placement="right" title=""
                                         id="ctn_not_retain_{{entityId}}">
                                    </div>
                                </li>
                                {{#if showCtnInfo }}
                                <li class="col-xs-1">
                                    {{#if ctnIsInlife }}
                                    <div class="left ctn_box inlife" onclick="
                                    <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()): ?>
                                            showModalError('<?php echo $this->__('You can not renew an order because you are changing and order. You have to cancel your changes first and go to the configurator.');?>');
                                            return;
                                    <?php else: ?> customer.modifyInlifeCtn('{{ctn}}')<?php endif;?>">
                                        <?php echo $this->__('inlife'); ?>
                                    </div>
                                    {{/if}}
                                </li>
                                <li class="col-xs-6 clearfix ctn-details">
                                    <p>{{ctnProductsFlat}}</p>
                                </li>
                                {{/if}}
                            </ul>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{#if ctns }}
                <div class="row ctn-detail-buttons">
                    <div class="col-xs-6 right">
                        <p class="ctn_actions">
                                <span>
                                </span>
                            <input class="right btn btn-primary hide" disabled="disabled" type="button"  value="<?php echo $this->__('Configure'); ?>" onclick="createPackages();return false;"/>
                        </p>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <script>
          var dataCTNDocuments = jQuery('.customer_ctn_search').attr('data-documents');
          if(dataCTNDocuments) {
            var arrayElements = [];
            jQuery.each(JSON.parse(dataCTNDocuments), function(index, elem) {
              elem.ctn = customer.formatPhoneNumber(elem.ctn);
              elem.raw_ctn = elem.ctn.replace(/ /g, '');
              arrayElements.push(elem);
            });
            jQuery('.customer_ctn_search').attr('data-documents', JSON.stringify(arrayElements));
          }

          jQuery(document).ready(function($) {
            window.search = new Search({events: 'change keyup'});
          });
    </script>
    </script>
<?php endif; ?>