<div class="modal productPopUpModal" id="productPopUpModal-{{ entity_id }}" tabindex="-1" role="dialog" aria-labelledby="searchClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="searchClientLabel">{{name}}</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="tabs-product-{{ entity_id }}">
                    {{#each sections}}
                        <li {{#if @first}}class="active"{{/if}}><a href="#{{@key}}-{{ ../entity_id }}" data-toggle="tab">{{ section_name }}</a></li>
                    {{/each}}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {{#each sections}}
                        {{#ifCond @key '===' 'overview'}}
                            <div class="tab-pane active overview" id="{{ @key }}-{{ ../entity_id }}">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="{{image}}" alt="{{name}}"/>
                                    </div>
                                    <span class="short-description">
                                        {{ short_description }} {{additional_text}}
                                    </span>
                                </div>
                            </div>
                        {{/ifCond}}
                        {{#ifCond @key '!==' 'overview'}}
                            <div class="tab-pane" id="{{ @key }}-{{ ../entity_id }}">
                                {{#each data}}
                                    <div class="row">
                                        <span class="col-xs-6">{{ @key }}</span><span class="col-xs-6"> {{ this }}</span>
                                    </div>
                                {{/each}}
                            </div>
                        {{/ifCond}}
                    {{/each}}
                </div>
            </div>
            <div class="modal-footer modal-footer-search">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><?php echo $this->__('Ok') ?></button>
            </div>
        </div>
    </div>
</div>
