<div id="item-product-{{entity_id}}" class="row item-row {{#if product_visibility}}{{else}}hidden{{/if}} {{#ifCond stock_status_class '==' '<?php echo Vznl_Catalog_Helper_Data::STOCK_CLASS_ENDOFLIFE;?>'~}}disabled-row{{~/ifCond~}} {{#ifCond stock_status_class '==' '<?php echo Vznl_Catalog_Helper_Data::STOCK_CLASS_SOLDOUT;?>'~}}disabled-row{{~/ifCond~}}" data-id="{{entity_id}}" onclick="configurator.selectProduct(this); return false;">
    <div class="item">
        <div class="item-name">
            {{#if thumbnailImage}}
                <div class="item-picture-container pull-left"><img src="{{thumbnailImage}}" srcset="{{thumbnailImageRetina}}" alt="" /></div>
            {{else}}
                <div class="item-picture-container pull-left no-image"></div>
            {{/if}}
            <div class="item-description-holder">
                <div class="item-title">
                    <div class="item-title-inner">
                    {{~{name}~}}
                    {{~> <?php echo $this->getSection(); ?>_selected_item_title_icons this~}}</div>
                </div>
                <div class="item-title-secondary">
                    {{~> <?php echo $this->getSection(); ?>_selected_item_sub_text this ~}}
                </div>
            </div><div class="bundle-identifier">
                <span class="label label-purple hidden"><?php echo $this->__("Bundle Eligible"); ?></span>
            </div>
        </div>
        <?php if (strcasecmp($this->getSection(),Vznl_Catalog_Model_Type::SUBTYPE_ADDON) != 0): ?>
        <div class="item-price">
            <div class="excl-vat-tax one-time price right">
                <div class="top hide"></div>
                <div class="normal-price">
                    {{~#if isContainer ~}}
                        {{~ money display_price ~}}
                    {{~else~}}
                        {{~ money price ~}}
                    {{~/if~}}
                </div>
            </div>
            <div class="incl-vat-tax price one-time right">
                <div class="top hide"></div>
                <div class="tax-price">
                    {{~#if isContainer~}}
                        {{~ money display_price ~}}
                    {{~else~}}
                        {{~ money price_with_tax ~}}
                    {{~/if~}}
                </div>
            </div>
        </div>
        <?php else: ?>
            <div class="item-price">
                <div class="excl-vat-tax one-time price right hide"></div>
                <div class="incl-vat-tax price one-time right hide"></div>
            </div>
        <?php endif; ?>
        <?php if (strcasecmp($this->getSection(),Vznl_Catalog_Model_Type::SUBTYPE_ACCESSORY) != 0): ?>
        <div class="item-price">
            <div class="excl-vat-tax price per-month">
                <div class="top hide"></div>
                <div class="normal-price">
                    {{~#if isContainer~}}
                        {{~ money display_price_repeated ~}}
                    {{~else~}}
                        {{~ money regular_maf ~}}
                    {{~/if~}}
                </div>
            </div>
            <div class="incl-vat-tax price per-month">
                <div class="top hide"></div>
                <div class="tax-price">
                    {{~#if isContainer~}}
                        {{~ money display_price_repeated ~}}
                    {{~else~}}
                        {{~ money regular_maf_with_tax ~}}
                    {{~/if~}}
                </div>
            </div>
        </div>
        <?php endif; ?>
    </div>
</div>
