<div class="modal stockPopUpModal" id="stockPopUpModal{{ entity_id }}" tabindex="-1" role="dialog" aria-labelledby="searchClientLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="searchClientLabel">
                    <img src="/skin/frontend/omnius/default/images/de/empty-orderline-icon.svg" height="40px"
                         alt="{{ name }}"/>
                    {{name}}
                </h4>
            </div>
            <div class="modal-body mx-auto">
                <div class="row">
                    <div class="product-description">{{ short_description }}</div>
                </div>

                <div class="row location-row stock-data-row">
                    <div class="col-xs-2 text-right">
                        <a onclick="configurator.refreshStockStatus(this,event)" data-id="{{ entity_id }}"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>
                    <div class="col-xs-10">
                        <?php echo $this->__('Location'); ?>
                    </div>
                </div>
                <div class="row hidden talesales-true stock-data-row">
                    <div class="col-xs-2 text-right number quantity-in-stock"></div>
                    <div class="col-xs-10">
                        <b><?php echo $this->__('In stock'); ?></b>
                    </div>
                </div>

                <div class="row hidden retailstore-true stock-data-row">
                    <div class="col-xs-2 text-right number quantity-in-stock"></div>
                    <div class="col-xs-10 dealer-info"></div>
                </div>

                <div class="row hidden frontend-true stock-data-row">
                    <div class="col-xs-2 text-right number quantity-in-stock"></div>
                    <div class="col-xs-10">
                        <b><?php echo Mage::app()->getStore()->getFrontendName(); ?></b>
                    </div>
                </div>

                <div class="row hidden talesales-false stock-data-row">
                    <div class="col-xs-2 text-right number quantity-in-stock">

                    </div>
                    <div class="col-xs-10">
                        <b><?php echo Mage::app()->getStore()->getFrontendName(); ?></b>
                    </div>
                    <div class="col-xs-2 text-right number quantity-in-magazine"></div>
                    <div class="col-xs-10">
                        <b><?php echo $this->__('Magazine'); ?></b>
                    </div>
                    <div class="col-xs-2 text-right number quantity-in-warehaouse"></div>
                    <div class="col-xs-10">
                        <b><?php echo $this->__('Warehouse'); ?></b>
                    </div>
                </div>

                <div class="row stock-data-row">
                    <div class="col-xs-2 text-right number quantity-in-threshold"></div>
                    <div class="col-xs-10">
                        <b><?php echo $this->__('In threshold'); ?></b>
                    </div>
                </div>

                <div class="row show-stores-switch">
                    <div class="col-xs-12 display-stores-row">
                        <a href="javascript:void(0)" id="display-stores" data-id="{{ entity_id }}" onclick="configurator.showOtherStores(this)">
                            <span class="glyphicon glyphicon-play"></span> <?php print $this->__('Show stores'); ?>
                        </a>
                    </div>
                    <div class="col-xs-12 hide-stores-row hidden">
                        <a href="javascript:void(0)" id="hide-stores" data-id="{{ entity_id }}" onclick="configurator.hideOtherStores(this)">
                            <span class="glyphicon glyphicon-play icon-flipped"></span> <?php print $this->__('Hide stores'); ?>
                        </a>
                    </div>
                </div>
                <div class="stock-other-stores hidden">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group input-group-select2">
                                <select class="dealers-list form-control" data-type="select2" data-id="{{ entity_id }}" onchange="configurator.refreshStockStores(this,event)">
                                    <option value="0"><?php print $this->__('-- select from list --'); ?></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row location-row stock-data-row">
                        <div class="col-xs-1 text-center">
                            <a onclick="configurator.refreshStockStatus(this,event)" data-id="{{ entity_id }}"><span class="glyphicon glyphicon-refresh"></span></a>
                        </div>
                        <div class="col-xs-8 text-center">
                            <?php print $this->__('Other stores'); ?>
                        </div>
                        <div class="col-xs-3 text-center">
                            <?php echo $this->__('Telephone') ?>
                        </div>
                    </div>
                    <div class="store-list">

                    </div>
                </div>

            </div>
            <div class="modal-footer modal-footer-search">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><?php echo $this->__('Ok') ?></button>
            </div>
        </div>
    </div>
</div>