<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$customerSession = Mage::getSingleton('customer/session');
if ($customerSession->getOrderEdit()) {
    /** @var Omnius_Checkout_Model_Sales_Quote $quote */
    $quote = Mage::getSingleton('checkout/cart')->getQuote(true);
} else {
    /** @var Omnius_Checkout_Model_Sales_Quote $quote */
    $quote = Mage::getSingleton('checkout/cart')->getQuote();
}
$isRetentionOnly = Mage::helper('omnius_checkout')->checkIsRetentionOnly($quote);
$title = !$isRetentionOnly ? 'Credit check' : 'Order validation';
?>
<!-- Credit check waiting
================================================== -->
<div class="bs-docs-section hidden" id="creditcheck-waiting">
    <form class="cart" action="saveCreditCheck" method="post" role="form" id="saveCreditCheck">
        <h4 id="credit-check" class="page-header"><?php echo $this->__($title);?></h4>
        <?php
        /**
         * @var int $packageId
         * @var array $package
         */
        foreach ($quote->getPackages() as $packageId => $package):
            $subscription = false;
            $allItemNames = array();

            // Retention packages also get a credit check now
            $hasCtn = ($package['ctn']) && ($package['sale_type'] == Omnius_Checkout_Model_Sales_Quote_Item::RETENTION);
            /** @var Omnius_Checkout_Model_Sales_Quote_Item $item */
            foreach ($package['items'] as $item) :
                if ($catalogHelper->is(array(Omnius_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION), $item->getProduct())):
                    $subscription = $item->getProduct();
                endif; ?>
                <?php $allItemNames[] = $item->getName(); ?>
            <?php endforeach; ?>
            <div class="row hidden" id="so-error" style="margin-bottom: 10px; font-weight:bold; color: red;"> <?php // Refactor styling etc when time ?>
                <div class="col-md-12">
                    <span><?php echo __('Failed to register this salesorder in AXI, the error code reported was:'); ?></span> <span id="so-error-code"></span>
                </div>
            </div>
            <?php if ($subscription): ?>
            <div class="row credit-check-container">
                <div class="col-md-8 pull-left">
                    <div class="row">
                        <div class="col-md-2 pull-left">
                            <img src="<?php echo Mage::helper('catalog/image')->init($subscription, 'small_image')->resize(60); ?>" alt=""/>
                        </div>
                        <div class="col-md-10 pull-right">
                            <div class="row mar-bot-10">
                                <span class="col-md-5">
                                    <?php echo $this->__(ucfirst($this->__($package['type']))) . ' ' . $this->__('packet'); ?>
                                </span>
                                <span class="col-md-7">
                                    <?php echo $this->__(mb_strtoupper($this->__($package['sale_type']))); ?>
                                </span>
                            </div>
                            <div class="row mar-bot-10">
                                <span class="col-md-12">
                                    <?php echo join(', ', $allItemNames); ?>
                                </span>
                            </div>
                            <div class="row btn mar-bot-10" onclick="togglePacketDetails('#package-check-<?php echo $packageId; ?>', this)">
                                <span class="arrow-right"></span>
                                <span><?php echo $this->__('Details'); ?></span>
                            </div>
                            <div class="hidden" id="package-check-<?php echo $packageId; ?>">
                                    <div class="row">
                                        <span class="col-md-5 pull-left">
                                            <?php echo $this->__('Delivery Address'); ?>:
                                        </span>
                                        <span class="col-md-7 pull-left" id="credit-check-address-<?php echo $packageId; ?>"></span>
                                    </div>
                                <div class="row">
                                    <span class="col-md-5 pull-left">
                                        <?php echo $this->__('Reference Number'); ?>:
                                    </span>
                                    <span class="col-md-7 pull-left" id="creditcheck-esb-number-<?php echo $packageId; ?>">
                                        <!-- Filled with JS -->
                                    </span>
                                </div>
                                    <div class="row">
                                        <span class="col-md-5 pull-left">
                                            <?php echo $this->__('BAN'); ?>:
                                        </span>
                                        <span class="col-md-7 pull-left" id="creditcheck-ban-<?php echo $packageId; ?>">
                                            <!-- Filled with JS -->
                                        </span>
                                    </div>
                                <div class="row">
                                    <span class="col-md-5 pull-left">
                                        <?php echo $this->__('Package number'); ?>:
                                    </span>
                                    <span class="col-md-7 pull-left" id="creditcheck-package-number-<?php echo $packageId; ?>">
                                        <!-- Filled with JS -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="package-type-retention-<?php echo $packageId; ?>" id="package-type-retention-<?php echo $packageId; ?>" value="<?php echo (int) $hasCtn; ?>"/>
                    </div>
                </div>
                <div class="col-md-4 pull-right">
                    <div class="bg-white right-align bold credit_check_result" id="creditcheck-resultbox-<?php echo $packageId; ?>">
                        <!-- use bootstrap Contextual backgrounds , somehow the styling doesn't load-->
                        <span>
                            <?php echo $this->__('Ongoing'); ?>
                            <img class="credit-check-spinner" width="50" src="<?php echo $this->getSkinUrl('images/credit_check_spinner.gif') ?>" alt="" />
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
        <?php endif; ?>
        <?php endforeach; ?>
        <div>
            <div onclick="showHideClientInfo(this)" class="btn">
                <span class="arrow-right"></span><span><?php echo $this->__('Customer details'); ?></span>
            </div>
            <div class="pull-right hidden" id="redo-validation">
                <div class="btn btn-primary" id="order-edit">
                    <?php echo $this->__('Change order'); ?>
                </div>
                <div class="btn btn-primary" id="redo-credit-check">
                    <?php echo $this->__('Revalidate'); ?>
                </div>
            </div>
            <div class="pull-right hidden" id="cancel-order-credit-check">
                <div class="btn btn-primary" onclick="returnToConfigurator()">
                    <?php echo $this->__('Cancel packages'); ?>
                </div>
            </div>
        </div>
        <div id="creditcheck-data" class="hidden">
            <!--Will be filled by javascript-->
        </div>
        <div id="order_validation_error" class='pull-right' style="margin-bottom: 10px;">
            <!--Will be filled by javascript-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right step" disabled="disabled" id="creditcheck-continue" data-step="saveCreditCheck"><?php echo $this->__('Next Step');?></button>
                <div class="btn btn-default pull-left step hidden" id="credit-check-cancel-button"><?php echo $this->__('Cancel order');?></div>
            </div>
        </div>
    </form>
</div>

<script>
    //<![CDATA[
    form.saveCreditCheck = new VarienForm('saveCreditCheck', true);
    var creditCheck = {};
    var superOrderChecked = false;
    var superorderErrorStatus = false;
    var intervalID = null;
    var addr = {};
    var cFailed = false;
    var performCreditChecksCountStart = 6120;
    var performCreditChecksCount = performCreditChecksCountStart; // How many times to try, keep it going for 30600seconds (8,5 hours), the maximum supported backend downtime
    
    function returnToConfigurator() {
        window.location.href = '<?php echo Mage::getUrl('/'); ?>';
    }

    function showCreditCheckFailed() {
        var html = '<?php echo trim(Mage::getSingleton('core/layout')->createBlock('core/template')->setTemplate('checkout/cart/steps/failed_credit_check.phtml')->toHtml()); ?>';
        jQuery.each(creditCheck, function (id, packageData) {
            jQuery('#creditcheck-resultbox-' + packageData['id']).find('span:first').html(html);
        });
        jQuery('#cancel-order-credit-check').removeClass('hidden');
    }

    function registerSoastaTimerStart() {
        SOASTA = window.SOASTA || {};
        if ((typeof BOOMR !== undefined) && (typeof BOOMR !== "undefined")) {
            SOASTA.timer_cc = BOOMR.requestStart("timer_cc");
        } else {
            SOASTA.timer_cc_start = new Date().getTime();
        }
    }

    function registerSoastaTimerStop() {
        SOASTA = window.SOASTA || {};
        var data = { };
        if (SOASTA.timer_cc) {
            SOASTA.timer_cc.loaded(data);
        } else if(SOASTA.timer_cc_start && typeof BOOMR !== "undefined") {
            BOOMR.responseEnd("timer_cc", SOASTA.timer_cc_start, data);
        }
        SOASTA.timer_cc = SOASTA.timer_cc_start = undefined;
    }
    
    function performCreditCheck(orderId) {
        if (performCreditChecksCountStart == performCreditChecksCount) {
            registerSoastaTimerStart();
        }
    
        --performCreditChecksCount;
        var count = 0;
        var packageIds = [];
        var retentionIds = [];
        jQuery.each(creditCheck, function (id, packageData) {
            if (!packageData['performed']) {
                ++count;
                if (jQuery('#package-type-retention-' + packageData['id']).val() == 1) {
                    retentionIds.push(packageData['id']);
                }
                packageIds.push(packageData['id']);
                jQuery('#so-error').addClass('hidden');
                jQuery('#so-error-code').html('');
                var html = '<span><?php echo $this->__("Ongoing"); ?><img class="credit-check-spinner" width="50" src="<?php echo $this->getSkinUrl("images/credit_check_spinner.gif") ?>" alt="" /></span>';
                jQuery('#creditcheck-resultbox-' + id).html(html);
            }
        });
        if (count != 0 || !enableCreditCheckButton()) {
            window.canShowSpinner = false;

            var agent_id = jQuery('#agent_id');
            var dealer_id = jQuery('#dealer_id');
            var is_order_edit_mode = jQuery('#is_order_edit_mode');
            var current_website_code = jQuery('#current_website_code');
            var axi_store_id = jQuery('#axi_store_id');
            var dealer_group_ids = jQuery('#dealer_code');

            jQuery.post('<?php echo Mage::getUrl('/') ?>creditcheck.php', {
                'package_ids': JSON.stringify(packageIds),
                'order_id': orderId,
                'retention_ids': JSON.stringify(retentionIds),
                'is_order_edit_mode' : is_order_edit_mode.length ? is_order_edit_mode.val() : null,
                'agent_id' : agent_id.length ? agent_id.val() : null,
                'dealer_id' : dealer_id.length ? dealer_id.val() : null,
                'website_code' : current_website_code.length ? current_website_code.val() : null,
                'axi_store_id' : axi_store_id.length ? axi_store_id.val() : null,
                'dealer_group_ids' : dealer_group_ids.length ? dealer_group_ids.val() : null
            }, function (response) {
                if (response.error == true) {
                    console.log(response.message);
                    checkout.showVodError(true, response.message, 0);
                    console.log('SOASTA timer stop');
                    registerSoastaTimerStop();
                } else if (response.error == false) {
                    if (response.super_order_error) {
                        console.log('SOASTA timer stop');
                        registerSoastaTimerStop();
                        // Show super order message
                        enableCCBar(orderId, 'redo');
                        checkout.showVodError(true, response.super_order_error, 0, 0);
                        jQuery('#so-error').removeClass('hidden');
                        jQuery('#so-error-code').html(response.super_order_error);
                        jQuery.each(response.data, function (id, el) {
                            jQuery('#creditcheck-resultbox-' + id).html('');
                        });
                    }

                    if (response.data.superorder_status == true) {
                        superOrderChecked = true;
                        console.log('SOASTA timer stop');
                        registerSoastaTimerStop();
                    } else if (response.data.superorder_status == -1) {
                        superOrderChecked = -1;
                        superorderErrorStatus = response.data.creditcheck_in_progress ? response.data.creditcheck_in_progress : false;
                    }

                    // Set failed credit check as Saved Cart
                    if (response.hasOwnProperty('failed_cc') && response.failed_cc == true) {
                        console.log('SOASTA timer stop');
                        registerSoastaTimerStop();
                        jQuery.post('<?php echo Mage::getUrl('checkout/index/'); ?>saveFailedCreditCheck', {
                            'order_no': orderId
                        });
                    }
                    var packageFailed = false;
                    var perfomedOrder = true;
                    jQuery.each(response.data, function (id, el) {
                        triggerCheckoutEvent('checkout.creditcheck_update', '');
                        if (el['performed']) {
                            if (el['complete']) {
                                triggerCheckoutEvent('checkout.creditcheck_complete', id + ':' + el['package_esb_number']);
                            }
                            else if (el['repeat_cc']) {
                                enableCCBar(orderId, 'repeat', addr, cFailed);
                                var creditStub = response.credit_fail == true;
                                triggerCheckoutEvent('checkout.creditcheck_failed', id + ':' + el['code']);
                                packageFailed = true;
                            }
                            else if (el['redo_cc']) {
                                enableCCBar(orderId, 'redo');
                                triggerCheckoutEvent('checkout.creditcheck_failed', id + ':' + el['code']);
                                packageFailed = true;
                            }
                            else {
                                triggerCheckoutEvent('checkout.creditcheck_failed', id + ':' + el['code']);
                                packageFailed = true;
                            }

                            creditCheck[id]['performed'] = el['performed'];
                            creditCheck[id]['complete'] = el['complete'];
                            jQuery('#creditcheck-resultbox-' + id).find('span:first').html(el['html']);
                            if (undefined != el['package_esb_number']) {
                                jQuery('#creditcheck-esb-number-' + id).html(el['package_esb_number']);
                            }
                            if (undefined != el['customer_ban']) {
                                jQuery('#creditcheck-ban-' + id).html(el['customer_ban']);
                            }
                        } else if (id.toString().localeCompare('superorder_status')) {
                            //It's not the superorder_status node, at least one of the packages it's not checked
                            perfomedOrder = false;
                        }
                        
                        if (undefined != el['package_order_number']) {
                            jQuery('#creditcheck-package-number-' + id).html(el['package_order_number']);
                        }
                    });

                    // If atleast one of the packages failed, cc stops, and we need to show message for all the other packages 
                    if (packageFailed) {
                        var html = '<span class="credit-check-error"><br/><?php echo $this->__("Validation failed. This package can not be validated because another package has already received an error");?><span>';
                        jQuery.each(creditCheck, function (id, el) {
                            if (el.performed != true) {
                                jQuery('#creditcheck-resultbox-' + el.id).find('span:first').html(html);
                            }
                        });
                        clearInterval(intervalID);
                    }
                    enableCreditCheckButton();

                    if (perfomedOrder && superOrderChecked) {
                        clearInterval(intervalID);
                    }
                } else {
                    console.log('error occured / no response received');
                }
            });
            window.canShowSpinner = true;
        }
        if (performCreditChecksCount == 0) {
            clearInterval(intervalID);
        }
    }

    function enableCCBar(order_id, action, addresses, c_failed) {
        clearInterval(intervalID);
        jQuery("#redo-credit-check").unbind('click');
        jQuery("#order-edit").unbind('click');
        if (action == 'repeat') {
            jQuery("#order-edit").bind('click', function () {
                editOrder();
            });
            jQuery("#order-edit").addClass('hidden');
            jQuery("#redo-credit-check").removeClass('hidden');
            jQuery("#redo-credit-check").bind('click', function () {
                doCreditCheck(addresses, order_id, c_failed);
            });
        } else {
            jQuery("#order-edit").removeClass('hidden');
            jQuery("#redo-credit-check").removeClass('hidden');
            jQuery("#redo-credit-check").bind('click', function () {
                redoCreditCheck(order_id);
            });
        }
        jQuery('#redo-validation').removeClass('hidden');
    }

    function enableCreditCheckButton() {
        if (superOrderChecked == true) {
            jQuery('#credit-check-cancel-button').removeClass('hidden');
            jQuery('#creditcheck-continue').prop('disabled', false);
            jQuery("#order_validation_error").html('');
            clearInterval(intervalID);
            return true;
        } else if (superOrderChecked == -1) {
            //Checking if any of the packages is rejected. If none, we show the invalid order status response
            var showSuperorderMessage = true;
            jQuery(".credit_check_result").each(function () {
                if (jQuery(this).find('.credit-check-error').length) {
                    showSuperorderMessage = false;
                }
            });
            if (showSuperorderMessage) {
                var html = '<span class="credit-check-error"><?php echo $this->__("Invalid order status received");?></span>';
                if (superorderErrorStatus) {
                    html += '</br><span class="credit-check-error"><?php echo $this->__("Current status"); ?>' + ': ' + superorderErrorStatus + '</span>';
                }
                jQuery("#order_validation_error").html(html);
            }
            return false;
        } else {
            return false;
        }
    }

    function showHideClientInfo(el) {
        jQuery('#creditcheck-data').toggleClass('hidden');
        toggleArrowType(el);
    }

    function togglePacketDetails(id, el) {
        jQuery(id).toggleClass('hidden');
        toggleArrowType(el);
    }

    function editOrder() {
        window.location.href = '<?php echo Mage::getUrl('checkout/cart/editSuperorderFromCreditCheck') ?>';
    }

    function toggleArrowType(el) {
        if (jQuery(el).find('.arrow-down').hasClass('arrow-down')) {
            jQuery(el).find('.arrow-down').removeClass('arrow-down').addClass('arrow-right');
        } else if (jQuery(el).find('.arrow-right').hasClass('arrow-right')) {
            jQuery(el).find('.arrow-right').removeClass('arrow-right').addClass('arrow-down');
        }
    }

    function restartCreditCheck(superorderNo) {
        var creditCheckOld = creditCheck;
        creditCheck = {};

        jQuery.each(creditCheckOld, function (id, packageData) {
            creditCheck[id] = {'id': id, 'checked': false};
        });

        performCreditCheck(superorderNo);
        intervalID = setInterval(function () {
            performCreditCheck(superorderNo);
        }, 5000);
    }
    //]]>
</script>