<?php /** @var $this Dyna_Checkout_Block_Cart_Steps_SaveOrderOverview */

/** @var $helper Dyna_Checkout_Helper_Data */
$helper = Mage::helper('dyna_checkout');

$noPorting = false;
$cable = false;
$dsl = false;

$serviceAddressDetails = $this->getServiceAddressDetails();

$customerFields = $this->getCustomerFields();
$customerPhoneNr = $this->getTelephoneNumbers($customerFields);

$fixed = $mobile = [];
if (count($customerPhoneNr)) {
        foreach ($customerPhoneNr as $phoneNr) {
        if ($phoneNr['type'] === 'landline') {
            $fixed[] = sprintf("%s %s", htmlspecialchars($phoneNr['prefix']), htmlspecialchars($phoneNr['phone']));
        } else {
            $mobile[] = sprintf("%s %s", htmlspecialchars($phoneNr['prefix']), htmlspecialchars($phoneNr['phone']));
        }
    }
}
$fullName = '';
$companyName = '';
if (isset($customerFields['customer[firstname]'])) {
    if (isset($customerFields['customer[lastname]'])) {
        $fullName = sprintf("%s %s", htmlspecialchars($customerFields['customer[firstname]']), htmlspecialchars($customerFields['customer[lastname]']));
    } else {
        $fullName = htmlspecialchars($customerFields['customer[firstname]']);
    }
}
if (isset($customerFields['customer[address][company_name]'])) {
    $companyName = htmlspecialchars($customerFields['customer[address][company_name]']);
    if (isset($customerFields['customer[address][company_additional_name]'])) {
        $companyName .= ' ' . htmlspecialchars($customerFields['customer[address][company_additional_name]']);
    }
    $fullName = isset($customerFields['customer[contact_person][gender]'])
        ? ($customerFields['customer[contact_person][gender]'] == 2 ? $this->__('Mrs.') : $this->__('Mr.')) . ' '
        : '';
    $fullName .= htmlspecialchars($customerFields['customer[contact_person][first_name]'] ?? '') . ' ' . htmlspecialchars($customerFields['customer[contact_person][last_name]'] ?? '');
}
$customers = [
    [
        'fullname' => $fullName,
        'street' => isset($customerFields['customer[address][street]']) ? htmlspecialchars($customerFields['customer[address][street]']) : '',
        'postcode' => isset($customerFields['customer[address][postcode]']) ? htmlspecialchars($customerFields['customer[address][postcode]']) : '',
        'dob' => isset($customerFields['customer[dob]']) ? htmlspecialchars($customerFields['customer[dob]']) : '',
        'telephone' => count($fixed) ? implode(", ", $fixed) : "",
        'mobile' => count($mobile) ? implode(", ", $mobile) : "",
        'company' => $companyName
    ]
];
if (!empty($customerFields['customer[contact_person_details][0][lastname]'])) {
    $customers[] = [
        'dob' => ' ',
        'fullname' => sprintf("%s %s", htmlspecialchars($customerFields['customer[contact_person_details][0][firstname]']), htmlspecialchars($customerFields['customer[contact_person_details][0][lastname]'])),
        'telephone' => htmlspecialchars($customerFields['customer[contact_person_details][0][telephone]']),

    ];
}

$allPackagePrices = [];

$customerLoggedIn = $this->getCustomer()->isCustomerLoggedIn();
$isSohoCustomer = $this->getCustomer()->getIsSoho();
$isPrepaidOrMobile = $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_MOBILE) || $this->hasMobileTypePackage(Dyna_Catalog_Model_Type::TYPE_PREPAID);

$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();

$quote = $this->getQuote();
$checkoutData = Mage::helper("dyna_checkout/fields");
$checkoutData->setCheckoutData("save_customer", $quote->getId());
$configurationData = Mage::getModel('dyna_configurator/client_configurationDataClient')->executeGetConfigurationData();

?>
<div class="bs-docs-section hidden">
    <form class="cart" action="saveOrderOverview" method="post" role="form" id="saveOrderOverview">

        <!-- Additional options -->
        <div class="checkout-section" id="checkout-section-eight">
            <div class="checkout-timeline">
                <!--<div v-my-tooltip.right-middle="{ content: 'Previous connection', classes:'checkout-timeline-point'}"></div>-->
            </div>
            <div class="checkout-content">
                <div class="checkout-content-body checkout-content-naked">
                    <p class="section-header">
                        <?php echo $this->__('Order overview'); ?>
                    </p>
                    <div class="checkout-section-container" id="other_content">
                        <h4 class="product-selection"><?php echo $this->__("Product selection") ?></h4>

                        <div id="save-order-overview-package-content">
                            <?php
                            echo $this
                                ->getLayout()
                                ->createBlock("dyna_checkout/cart_steps_saveOrderOverview")
                                ->setTemplate("checkout/cart/steps/save_order_overview_partials/package_content.phtml")
                                ->toHtml();
                            ?>
                        </div>

                        <?php if ($noPorting): ?>
                            <p>&nbsp;</p>
                            <div class="overview-block products-overview col-md-12">
                                <div class="col-md-9">
                                    <div class="overview-block-title">
                                        <?php echo $this->__('Number porting'); ?>
                                    </div>
                                    <div><?php echo $this->__("One cost"); ?></div>
                                </div>
                            </div>
                        <?php endif ?>
                        <?php if (Mage::getSingleton('customer/session')->getAgent()->canSelectMarketingData() && $checkoutLayout->currentAgentIsCOPS() && $checkoutLayout->isAvailableSection('other_marketing_data') ) : ?>
                            <p class="section-header">
                                <?php echo $this->__('Marketingdata'); ?>
                            </p>

                            <div class="checkout-section-container ">

                                <div class="dt">

                                    <div class="tc cell33">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[marketing][code]" id="other[marketing][code]" class="form-control input-sm required-entry">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ( $checkoutLayout->ensureElementIsArrayList( $configurationData['MarketingCodes'] ) as $data ) : ?>
                                                            <option value="<?php echo $data['Code']; ?>" <?php echo $checkoutData->getFieldValue("other[marketing][code]") == $data['Code'] ? "selected" : "" ?>><?php echo $data['PresentationText']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[marketing][code]"><?php echo $this->__("Marketingcode"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tc cell33">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[marketing][promotion]" id="other[marketing][promotion]" class="form-control input-sm required-entry">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ( $checkoutLayout->ensureElementIsArrayList( $configurationData['AdvertisingCodes'] ) as $data ) : ?>
                                                            <option value="<?php echo $data['Code']; ?>" <?php echo $checkoutData->getFieldValue("other[marketing][promotion]") == $data['Code'] ? "selected" : "" ?>><?php echo $data['PresentationText']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[marketing][promotion]"><?php echo $this->__("Promotionalcode"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tc cell33">
                                        <div class="input-group-custom">
                                            <div class="select-wrapper">
                                                <div class="field-row">
                                                    <select name="other[marketing][campaign]" id="other[marketing][campaign]" class="form-control input-sm required-entry">
                                                        <option value=""><?php echo $this->__('-'); ?></option>
                                                        <?php foreach ( $checkoutLayout->ensureElementIsArrayList( $configurationData['Campaigns'] ) as $data ) : ?>
                                                            <option value="<?php echo $data['Code']; ?>" <?php echo $checkoutData->getFieldValue("other[marketing][campaign]") == $data['Code'] ? "selected" : "" ?>><?php echo $data['PresentationText']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <label for="other[marketing][campaign]"><?php echo $this->__("Campaign"); ?></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        <?php endif; ?>
                        <div id="save-order-overview-package-content">
                            <?php
                            echo $this
                                ->getLayout()
                                ->createBlock("dyna_checkout/cart_steps_saveOrderOverview")
                                ->setTemplate("checkout/cart/steps/save_overview_partials/remarks.phtml")
                                ->toHtml();
                            ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="checkout-section prev-next-section" id="saveOrderOverviewNextSection">
            <div class="checkout-timeline">
                <!--                    <div v-my-tooltip.right-middle="{ content: 'CUSTOMER INFORMATION', classes:'checkout-timeline-point'}"></div>-->
            </div>
            <div class="checkout-content">
                <div class="checkout-content-body">
                    <div class="checkout-section-container dt">
                        <div class="tr">
                            <div class="tc al vm">
                                <a class="arrow-back" href="/"><?php echo $this->__('Back to configuration'); ?></a>
                            </div>
                            <div class="tc ar">
                                <button type="submit" id="save-order-overview-button" data-step="saveOrderOverview"
                                        class="btn btn-primary step checkout-continue-btn"><?php echo $this->__('Next step'); ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var BANK_ACCOUNT_DIGITS = 10;

    function fillSaveOrderOverviewData() {
        var empty = '-';

        // Customer values
        var customerGenderValue = jQuery('[name="customer[gender]"] option:selected').val();
        var customerTitleValue = checkout.encodeHTML(jQuery('[id="customer[prefix]"]').val());
        var customerFirstnameValue = checkout.encodeHTML(jQuery('[id="customer[firstname]"]').val());
        var customerLastnameValue = checkout.encodeHTML(jQuery('[id="customer[lastname]"]').val());
        var customerIdNumberValue = checkout.encodeHTML(jQuery('[id="customer[id_number]"]').val());
        var customerNationalityValue = checkout.encodeHTML(jQuery('[id="customer[nationality]"] option:selected').text());
        var customerAddressStreetValue = checkout.encodeHTML(jQuery('[id="customer[address][street]"]').val());
        var customerAddressHouseNoValue = checkout.encodeHTML(jQuery('[id="customer[address][houseno]"]').val());
        var customerAddressAdditionValue = checkout.encodeHTML(jQuery('[id="customer[address][addition]"]').val());
        var customerAddressPostcodeValue = checkout.encodeHTML(jQuery('[id="customer[address][postcode]"]').val());
        var customerAddressCityValue = checkout.encodeHTML(jQuery('[id="customer[address][city]"]').val());
        var customerBirthDateValue = checkout.encodeHTML(jQuery('[id="customer[dob]"]').val());
        var customerEmail = checkout.encodeHTML(jQuery('[id="customer[contact_details][email]"]').val());


        var customerGender = ('2' == customerGenderValue) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';
        var customerGenderFirstnameLastname = (customerFirstnameValue || customerLastnameValue) ? customerGender + ' ' + customerTitleValue + ' ' + customerFirstnameValue + ' ' + customerLastnameValue : empty;
        var companyNames = '';
        var companyNameToCheck = jQuery('input[id="customer[address][company_name]"]').val();
        <?php if ($this->hasFixedTypePackage() && $isSohoCustomer) : ?>
        <?php if ($this->hasDsl()) : ?>
        if (jQuery('[name="customer[business][commercial_register]"]:checked').val() == '2') {
            var customerAndCompanyDetails = ('2' == jQuery('[name="customer[gender]"]:checked').val()) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';
            customerAndCompanyDetails += ' ' + jQuery('[name="customer[prefix]"] option:selected').val() + ' ' + jQuery("input[id='customer[firstname]']").val() + ' ' + jQuery("input[id='customer[lastname]']").val() + '<br/>';
            customerAndCompanyDetails += jQuery('[name="customer_soho[address][postcode]"]').val() + ' ' + jQuery('[name="customer_soho[address][city]"]').val() + '<br/>';
            customerAndCompanyDetails += jQuery('[name="customer_soho[address][street]"]').val() + ' ' + jQuery('[name="customer_soho[address][houseno]"]').val() + ' ' + jQuery('[name="customer_soho[address][addition]"]').val();
            customerAndCompanyDetails += '<br/>' + companyNameToCheck + jQuery("input[id='customer[address][company_additional_name]']").val();
        } else {
            if (companyNameToCheck != '' && companyNameToCheck != undefined) {
                customerGenderFirstnameLastname = jQuery("input[id='customer[address][company_registration_number]']").val() + '<br/>' + jQuery("input[id='customer[address][company_trade_location]']").val();
                companyNames = companyNameToCheck + ' ' + jQuery("input[id='customer[address][company_additional_name]']").val();
            }
        }
        <?php endif; ?>

        <?php if ($this->hasLte()) : ?>
        if (companyNameToCheck != '' && companyNameToCheck != undefined) {
            customerGenderFirstnameLastname = ('2' == jQuery('[name="customer[contact_person][gender]"]:checked').val()) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';
            customerGenderFirstnameLastname += ' ' + jQuery("input[id='customer[contact_person][first_name]']").val() + ' ' + jQuery("input[id='customer[contact_person][last_name]']").val();
            companyNames = companyNameToCheck + ' ' + jQuery("input[id='customer[address][company_additional_name]']").val();
        }
        <?php endif; ?>
        <?php endif; ?>
        <?php if ($isSohoCustomer && $this->hasCable()) : ?>
        if (companyNameToCheck != '' && companyNameToCheck != undefined && jQuery("input[id='customer[contact_person][first_name]']").val() != undefined ) {
            customerGenderFirstnameLastname = jQuery("input[id='customer[contact_person][first_name]']").val() + ' ' + jQuery("input[id='customer[contact_person][last_name]']").val();
            companyNames = companyNameToCheck;
        }
        <?php endif; ?>
        var customerAddressStreet = (customerAddressStreetValue) ? customerAddressStreetValue + ' ' + customerAddressHouseNoValue : empty;
        if (customerAddressAdditionValue) {
            customerAddressStreet = customerAddressStreet + ' ' + customerAddressAdditionValue;
        }
        var customerAddressZipcode = (customerAddressPostcodeValue) ? customerAddressPostcodeValue + ' ' + customerAddressCityValue : empty;
        var customerBirthDate = (customerBirthDateValue) ? customerBirthDateValue : empty;

        fillOrderOverviewPhoneNumbers();
        fillOrderOverviewEmailAddress();


        // Payment values
        var paymentChoiceValue = jQuery('[name="payment[one_time]"]:checked').val() ? jQuery('[name="payment[one_time]"]:checked').val() : jQuery('[name="payment[monthly][type]"]:checked').val();
        var paymentChoice = (paymentChoiceValue) ? paymentChoiceValue : empty;

        <?php if ($this->hasMobile()) : ?>
        if (jQuery('[name="payment[one_time][type]"]:checked').val() == 'checkmo') {
            var paymentAddress = ''
                + '<span>' + jQuery('[name="payment[one_time][invoice][gender]"]:checked').next().html() + ' ' + jQuery('[id="payment[one_time][invoice][firstname]"]').val() + ' ' + jQuery('[id="payment[one_time][invoice][lastname]"]').val() + '</span> <br/>'
                + '<span>' + jQuery('[id="payment[one_time][invoice][street]"]').val() + ' ' + jQuery('[id="payment[one_time][invoice][houseno]"]').val() + ' ' + jQuery('[id="payment[one_time][invoice][addition]"]').val() + '</span> <br/>'
                + '<span>' + jQuery('[id="payment[one_time][invoice][postcode]"]').val() + ' ' + jQuery('[id="payment[one_time][invoice][city]"]').val() + '</span>';
        } else if (jQuery('[name="payment[one_time][type]"]:checked').val() == 'cashondelivery') {
            var paymentAddress = ''
                + '<span>' + jQuery('[name="payment[one_time][cash][gender]"]:checked').next().html() + ' ' + jQuery('[id="payment[one_time][cash][firstname]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][lastname]"]').val() + '</span> <br/>'
                + '<span>' + jQuery('[id="payment[one_time][cash][street]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][houseno]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][addition]"]').val() + '</span> <br/>'
                + '<span>' + jQuery('[id="payment[one_time][cash][postcode]"]').val() + ' ' + jQuery('[id="payment[one_time][cash][city]"]').val() + '</span>';
        }

        jQuery('.bank-overview .address-details').append(paymentAddress);
        <?php endif; ?>

        var paymentAlternativeAccountValue = jQuery('[id="payment[alternative_account_holder]"]:checked').val();
        if (paymentAlternativeAccountValue) {
            var paymentAlternativeAccountGender = (jQuery('[name="payment[monthly][alternative][gender]"]:checked').val() == '1') ? '<?php echo $this->__('Mr.') ?>' : '<?php echo $this->__('Mrs.') ?>';
            var paymentAlternativeAccountName = paymentAlternativeAccountGender + ' ' + jQuery('[id="payment[monthly][alternative][firstname]"]').val() + ' ' + jQuery('[id="payment[monthly][alternative][lastname]"]').val();
            var paymentAlternativeAccountStreet = jQuery('[id="payment[monthly][alternative][street]"]').val() + ' ' + jQuery('[id="payment[monthly][alternative][houseno]"]').val();
            var paymentAlternativeAccountCity = jQuery('[id="payment[monthly][alternative][postcode]"]').val() + ' ' + jQuery('[id="payment[monthly][alternative][city]"]').val();

            jQuery('[id="overview[payment][alternative][name]"]').html(paymentAlternativeAccountName);
            jQuery('[id="overview[payment][alternative][street]"]').html(paymentAlternativeAccountStreet);
            jQuery('[id="overview[payment][alternative][city]"]').html(paymentAlternativeAccountCity);
        }


        // Delivery values
        var deliveryChoiceValue = jQuery('[name="delivery[method]"]:checked').val();
        var deliveryAddressStreetHouseNo = customerAddressStreet;
        var deliveryAddressZipcode = customerAddressZipcode;

        var deliveryOtherAddressStreetValue =
            ('other_address' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][street]"]').val() : "";
        var deliveryOtherAddressHouseNoValue =
            ('other_address' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][houseno]"]').val() : "";
        var deliveryOtherAddressPostcodeValue =
            ('other_address' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][postcode]"]').val() : "";
        var deliveryOtherAddressAdditionValue =
            ('other_address' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][addition]"]').val() : "";
        var deliveryOtherAddressCityValue =
            ('other_address' == deliveryChoiceValue) ? jQuery('[id="delivery[other_address][city]"]').val() : "";
        var deliveryOtherAddressType = '<?php echo $this->__('Different Shipping Address'); ?>';
        var deliveryAddressCustomerGenderName = customerGender + ' ' + customerFirstnameValue + ' ' + customerLastnameValue;
        <?php if ($isSohoCustomer && $this->hasCable()) : ?>
        deliveryAddressCustomerGenderName = companyNameToCheck + '<br/>' + jQuery("input[id='customer[contact_person][first_name]']").val() + ' ' + jQuery("input[id='customer[contact_person][last_name]']").val();
        <?php endif; ?>
        var deliveryOtherAddressStreetHouseNo = (deliveryOtherAddressStreetValue) ? deliveryOtherAddressStreetValue + ' ' + deliveryOtherAddressHouseNoValue : empty;
        if (deliveryOtherAddressAdditionValue) {
            deliveryOtherAddressStreetHouseNo = deliveryOtherAddressStreetHouseNo + ' ' + deliveryOtherAddressAdditionValue;
        }
        var deliveryOtherAddressZipcode = (deliveryOtherAddressPostcodeValue) ? deliveryOtherAddressPostcodeValue + ' ' + deliveryOtherAddressCityValue : empty;

        // Delivery other address customer type values
        var deliveryOtherAddressPrefixType = jQuery('[name="delivery[other_address][gender]"]:checked').val();
        var deliveryOtherAddressPrefix = ('3' == deliveryOtherAddressPrefixType) ? '' :
            ('2' == deliveryOtherAddressPrefixType) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';

        var deliveryOtherAddressCustomerGenderName = ('1' == deliveryOtherAddressPrefixType || '2' == deliveryOtherAddressPrefixType) ?
            deliveryOtherAddressPrefix + ' ' + jQuery('[id="delivery[other_address][firstname]"]').val() + ' ' + jQuery('[id="delivery[other_address][lastname]"]').val() :
            jQuery('[id="delivery[other_address][company_name]"]').val() + ' ' + jQuery('[id="delivery[other_address][co_name]"]').val();

        // Billing values - default values taken from customer data
        var billingChoiceValue = jQuery('[name="billing[other_address][selected]"]:checked').val();
        var billingAddressGenderFirstnameLastnameValue = '<?php echo htmlspecialchars($serviceAddressDetails['full_name']); ?>';
        var billingAddressStreetValue = '<?php echo htmlspecialchars($serviceAddressDetails['street']); ?>';
        var billingAddressHouseNoValue = '<?php echo htmlspecialchars($serviceAddressDetails['houseno']); ?>';
        var billingAddressAdditionValue = '<?php echo htmlspecialchars($serviceAddressDetails['addition']); ?>';
        var billingAddressPostcodeValue = '<?php echo htmlspecialchars($serviceAddressDetails['postcode']); ?>';
        var billingAddressCityValue = '<?php echo htmlspecialchars($serviceAddressDetails['city']); ?>';
        var billingAddressGenderFirstnameLastname = (billingAddressGenderFirstnameLastnameValue) ? billingAddressGenderFirstnameLastnameValue : empty;
        var billingAddressStreetHouseNo = (billingAddressStreetValue) ? billingAddressStreetValue + ' ' + billingAddressHouseNoValue : empty;
        if (billingAddressAdditionValue) {
            billingAddressStreetHouseNo = billingAddressStreetHouseNo + ' ' + billingAddressAdditionValue;
        }
        var billingAddressZipcode = (billingAddressPostcodeValue) ? billingAddressPostcodeValue + ' ' + billingAddressCityValue : empty;

        var billingOtherAddressTypeValue = jQuery('[name="billing[other_address][selected]"]:checked').val();
        var billingOtherAddressGenderValue = jQuery('[name="billing[other_address][gender]"]').val();
        var billingOtherAddressFirstnameValue = jQuery('[id="billing[other_address][firstname]"]').val();
        var billingOtherAddressLastnameValue = jQuery('[id="billing[other_address][lastname]"]').val();
        var billingOtherAddressPostcodeValue = jQuery('[id="billing[other_address][postcode]"]').val();
        var billingOtherAddressCityValue = jQuery('[id="billing[other_address][city]"]').val();
        var billingOtherAddressStreetValue = jQuery('[id="billing[other_address][street]"]').val();
        var billingOtherAddressHouseNoValue = jQuery('[id="billing[other_address][houseno]"]').val();
        var billingOtherAddressAdditionValue = jQuery('[id="billing[other_address][addition]"]').val();
        var billingOtherAddressGender = ('2' == billingOtherAddressGenderValue) ? '<?php echo $this->__('Mrs.'); ?>' : '<?php echo $this->__('Mr.'); ?>';
        var billingOtherAddressGenderFirstnameLastname =
            (billingOtherAddressFirstnameValue || billingOtherAddressLastnameValue)
                ? billingOtherAddressGender + ' ' + billingOtherAddressFirstnameValue + ' ' + billingOtherAddressLastnameValue
                : empty;
        var billingOtherAddressStreetHouseNo = (billingOtherAddressStreetValue) ? billingOtherAddressStreetValue + ' ' + billingOtherAddressHouseNoValue : empty;
        if (billingOtherAddressAdditionValue) {
            billingOtherAddressStreetHouseNo = billingOtherAddressStreetHouseNo + ' ' + billingOtherAddressAdditionValue;
        }
        var billingOtherAddressAddressZipcode = (billingOtherAddressPostcodeValue) ? billingOtherAddressPostcodeValue + ' ' + billingOtherAddressCityValue : empty;

        var billingOtherAdressPoBox = jQuery('[id="billing[other_address][pobox]"].alternative-po-box').val();
        var billingOtherAdressPostCode = jQuery('[id="billing[other_address][postcode]"].alternative-po-box').val();
        var billingOtherAdressCity = jQuery('[id="billing[other_address][city]"].alternative-po-box').val();

        // Marketing Values
        var marketingVoucherValue = jQuery('[id="other[campaign_voucher]"]').val();
        var marketingDisclosureValue = jQuery('[id="other[marketing][data_disclosure]"]').prop('checked');
        var marketingCallsValue = jQuery('[id="other[marketing][calls]"]').prop('checked');
        var marketingMailAdsValue = jQuery('[id="other[marketing][mail_avertising]"]').prop('checked');
        var marketingEmailAdsValue = jQuery('[id="other[marketing][email_avertising]"]').prop('checked');
        var marketingVoucher = marketingVoucherValue ? marketingVoucherValue : empty;

        // Fill customer data
        <?php if (!($isSohoCustomer && $this->hasDsl())) : ?>
        if (empty !== companyNames) {
            jQuery('[id="overview[customer][1][company]"]').html(companyNames != '' ? companyNames : companyNameToCheck);
        }
        <?php endif; ?>
        <?php if ($isSohoCustomer && $this->hasDsl()) : ?>
        if (jQuery('[name="customer[business][commercial_register]"]:checked').val() == '2') {
            jQuery('[id="overview[customer][1][company]"]').html(customerAndCompanyDetails);
            jQuery('[id="overview[customer][1][birth_date]"], [id="kunde_dob"]').removeClass('hidden');
        } else {
            jQuery('[id="overview[customer][1][company]"]').html(companyNames);
            jQuery('[id="overview[customer][1][gender_firstname_lastname]"]').html(customerGenderFirstnameLastname);
        }
        <?php endif; ?>
        <?php if (!($isSohoCustomer && $this->hasCable()) && !($isSohoCustomer && $this->hasDsl())) : ?>
        if (empty !== customerGenderFirstnameLastname) {
            jQuery('[id="overview[customer][1][gender_firstname_lastname]"]').html(customerGenderFirstnameLastname);
        }
        <?php endif; ?>
        if (empty !== customerIdNumberValue) {
            jQuery('[id="overview[customer][1][id_number]"]').html(customerIdNumberValue);
        }
        if (empty !== customerNationalityValue) {
            jQuery('[id="overview[customer][1][nationality]"]').html(customerNationalityValue);
        }
        if (empty !== customerAddressStreet) {
            jQuery('[id="overview[customer][1][street]"]').html(customerAddressStreet);
        }
        if (empty !== customerAddressZipcode) {
            jQuery('[id="overview[customer][1][postcode]"]').html(customerAddressZipcode);
        }
        if (empty !== customerBirthDate) {
            jQuery('[id="overview[customer][1][birth_date]"]').html(customerBirthDate);
        }
        if (empty !== customerEmail) {
            jQuery('[id="overview[customer][1][email]"]').html(customerEmail);
        }


        // Fill payment data
        if (empty !== paymentChoice) {
            var paymentChoiceText = jQuery('[id="payment[one_time][' + paymentChoice + ']"]').next().html();
            if (paymentChoiceText) {
                jQuery('[id="overview[payment][choice]"]').html(paymentChoiceText);
            }
        }

        //Fill bank data
        fillOrderOverviewBankData();

        // Fill delivery data
        if (empty !== deliveryAddressCustomerGenderName) {
            jQuery('[id="overview[delivery][address][customer_name]"]').html(deliveryAddressCustomerGenderName);
        }
        if (empty !== deliveryAddressStreetHouseNo) {
            jQuery('[id="overview[delivery][address][street_houseno]"]').html(deliveryAddressStreetHouseNo);
        }
        if (empty !== deliveryAddressZipcode) {
            jQuery('[id="overview[delivery][address][postcode_city]"]').html(deliveryAddressZipcode);
        }
        if ('other_address' == deliveryChoiceValue) {
            if (empty !== deliveryOtherAddressCustomerGenderName) {
                jQuery('[id="overview[delivery][other_address][customer_name]"]').html(deliveryOtherAddressCustomerGenderName);
            }
            if (empty !== deliveryOtherAddressType) {
                jQuery('[id="overview[delivery][other_address][type]"]').html(deliveryOtherAddressType);
            }
            if (empty !== deliveryOtherAddressStreetHouseNo) {
                jQuery('[id="overview[delivery][other_address][street_houseno]"]').html(deliveryOtherAddressStreetHouseNo);
            }
            if (empty !== deliveryOtherAddressZipcode) {
                jQuery('[id="overview[delivery][other_address][postcode_city]"]').html(deliveryOtherAddressZipcode);
            }
        }
        if (deliveryChoiceValue) {
            var deliveryChoiceText = jQuery('[id="delivery[method][' + deliveryChoiceValue + ']"]').next().html();
            if (deliveryChoiceText) {
                jQuery('[id="overview[delivery][choice]"]').html(deliveryChoiceText);
            }
        }


        // Fill billing data with default customer values
        if (empty !== customerGenderFirstnameLastname) {
            <?php if ($isSohoCustomer && $this->hasCable()) : ?>
            customerGenderFirstnameLastname = companyNameToCheck + '<br/>' + customerGenderFirstnameLastname;
            <?php endif; ?>
            jQuery('[id="overview[billing][1][gender_firstname_lastname]"]').html(customerGenderFirstnameLastname);
        }
        if (empty !== customerAddressStreet) {
            jQuery('[id="overview[billing][1][street_houseno]"]').html(customerAddressStreet);
        }
        if (empty !== customerAddressZipcode) {
            jQuery('[id="overview[billing][1][postcode_city]"]').html(customerAddressZipcode);
        }

        // Fill other billing data if other billing is selected.
        if ('2' == billingChoiceValue) {
            if (empty !== billingOtherAddressGenderFirstnameLastname) {
                jQuery('[id="overview[billing][1][gender_firstname_lastname]"]').html(billingOtherAddressGenderFirstnameLastname);
            }
            if (empty !== billingOtherAddressStreetHouseNo) {
                jQuery('[id="overview[billing][1][street_houseno]"]').html(billingOtherAddressStreetHouseNo);
            }
            if (empty !== billingOtherAddressAddressZipcode) {
                jQuery('[id="overview[billing][1][postcode_city]"]').html(billingOtherAddressAddressZipcode);
            }
        }

        // Fill other billing data if other billing pobox is selected.
        if ('3' == billingChoiceValue) {
            if (empty !== billingOtherAdressPoBox) {
                jQuery('[id="overview[billing][1][street_houseno]"]').html(billingOtherAdressPoBox);
            }
            if (empty !== billingOtherAdressPostCode && empty !== billingOtherAdressCity) {
                jQuery('[id="overview[billing][1][postcode_city]"]').html(+ billingOtherAdressPostCode + ' ' + billingOtherAdressCity);
            }
        }
        jQuery('[id="overview[payment][choice]"]').html(jQuery('[name="billing[other_address][selected]"]:checked').next().html());

        // Fill marketing values
        if (empty !== marketingVoucher) {
            jQuery('[id="overview[marketing][voucher]"]').html(marketingVoucher);
        }
        if (marketingDisclosureValue) {
            jQuery('[id="overview[marketing][disclosure]"]').html('<?php echo $this->__('Yes'); ?>');
        }
        if (marketingCallsValue) {
            jQuery('[id="overview[marketing][calls]"]').html('<?php echo $this->__('Yes'); ?>');
        }
        if (marketingMailAdsValue) {
            jQuery('[id="overview[marketing][mail_ads]"]').html('<?php echo $this->__('Yes'); ?>');
        }
        if (marketingEmailAdsValue) {
            jQuery('[id="overview[marketing][email_ads]"]').html('<?php echo $this->__('Yes'); ?>');
        }

        //Remove bank payment information for prepaid if not selected
        <?php if ($this->hasPrepaid()) : ?>
        var oneTimePaymentType = jQuery('[name="payment[one_time][type]"]:checked').val();
        if (oneTimePaymentType !== 'direct_debit') {
            jQuery('div.bank-overview').hide().prev().hide();
        }
        <?php endif; ?>
    }

    function fillOrderOverviewBankData() {

        // Payment values
        var paymentIban    = '-';
        var accountHolder  = '';
        var accountAddress = '';
        if (jQuery('[id="payment[monthly][direct_debit][iban]"]').length > 0) {
            paymentIban = ('' != jQuery('[id="payment[monthly][direct_debit][iban]"]').val()) ? jQuery('[id="payment[monthly][direct_debit][iban]"]').val() : '-';
            jQuery('#payment_monthly_provider').html(jQuery('input[name="iban['+paymentIban+'][credit_provider]"]').val());
        } else if (jQuery('[id="payment[one_time][direct_debit][iban]"]').length > 0) {
            paymentIban = ('' != jQuery('[id="payment[one_time][direct_debit][iban]"]').val()) ? jQuery('[id="payment[one_time][direct_debit][iban]"]').val() : '-';
        }
        // new IBAN
        if (jQuery('[id="payment[monthly][direct_debit][iban][new]"]').length > 0) {
            paymentIban = ('' != jQuery('[id="payment[monthly][direct_debit][iban]"][new]').val()) ? jQuery('[id="payment[monthly][direct_debit][iban][new]"]').val() : '-';
            jQuery('#payment_monthly_provider').html(jQuery('input[name="iban['+paymentIban+'][credit_provider]"]').val());
        }

        var paymentAccountNo = ('' != paymentIban) ? paymentIban.substr(paymentIban.length - BANK_ACCOUNT_DIGITS) : '-';
        var paymentBankCode = (checkout.bankData.bankCode || checkout.bankData.creditProvider) ? checkout.bankData.bankCode + ' ' + checkout.bankData.creditProvider : '-';

        if (jQuery('[id="payment[monthly][direct_debit][account_holder]"]').length > 0) {
            accountHolder = jQuery('[id="payment[monthly][direct_debit][account_holder]"]').val();
        }

        if (jQuery('[id="payment[monthly][direct_debit][customer_address]"]').length > 0) {
            accountAddress = jQuery('[id="payment[monthly][direct_debit][customer_address]"]').html();
        }
        // Fill payment data
        jQuery('[id="overview[payment][bank][iban]"]').html(paymentIban);
        jQuery('[id="overview[payment][bank][account_number]"]').html(paymentAccountNo);
        jQuery('[id="overview[payment][bank][code]"]').html(paymentBankCode);
        jQuery('[id="overview[payment][monthly][direct_debit][account_holder]"]').html(accountHolder);
        jQuery('[id="overview[payment][monthly][direct_debit][customer_address]"]').html(accountAddress);
    }

    /**
     * Fills the customer's phone numbers with previously entered data.
     * This method is called when the Overview step is activated and on scrolling
     * in the checkout to make sure we update the phone numbers in case they are changed
     * in step 1 of the checkout.
     */
    function fillOrderOverviewPhoneNumbers() {
        var empty = '-';
        var phoneFields = jQuery('#customer_contact_method_container .phone-list-fields');
        var customerFixedPhones = '';
        var customerMobilePhones = jQuery('input[id="order_status[telephone_field]"]').val() ? jQuery('input[id="order_status[telephone_field]"]').val() + '' : '';
        var jM = 0;
        var jL = 0;
        phoneFields.each(function () {
            var phone = jQuery(this);
            var phoneType = phone.find('[data-prefix="telephone_type"]').val();
            if (phoneType == "landline") {
                if (phone.find('[data-prefix="telephone"]').val().length > 0) {
                    if (jL > 0) {
                        customerFixedPhones += '<br/>';
                    }
                    customerFixedPhones += '(' + phone.find('[data-prefix="telephone_prefix"]').val() + ') ' + phone.find('[data-prefix="telephone"]').val() + ' [<?php echo $this->__('Festnetz'); ?>]';
                    jL++;
                }
            }
            if (phoneType == "mobile") {
                if (phone.find('[data-prefix="telephone"]').val().length > 0) {
                    if (jM > 0) {
                        customerMobilePhones += '<br/>';
                    }
                    customerMobilePhones += '(' + phone.find('[data-prefix="telephone_prefix"]').val() + ') ' + phone.find('[data-prefix="telephone"]').val() + ' [<?php echo $this->__('Mobile'); ?>]';
                    jM++;
                }
            }
            <?php if($isSohoCustomer && $isPrepaidOrMobile): ?>
            if (!phoneType) {
                if (phone.find('[data-prefix="telephone"]').val().length > 0) {
                    customerFixedPhones += '(' + phone.find('[data-prefix="telephone_prefix"]').val() + ') ' + phone.find('[data-prefix="telephone"]').val() + ' [<?php echo $this->__('Phone number'); ?>]';
                }
            }
            <?php endif; ?>
        });
        customerFixedPhones = customerFixedPhones.replace(/, $/, '');
        customerMobilePhones = customerMobilePhones.replace(/, $/, '');

        var customerPrivatePhone = (customerFixedPhones) ? customerFixedPhones : empty;
        var customerMobilePhone = (customerMobilePhones) ? customerMobilePhones : empty;

        if (empty !== customerPrivatePhone) {
            jQuery('[id="customer-phone-number"]').removeClass('hidden');
            jQuery('[id="overview[customer][1][private_phone]"]').html(customerPrivatePhone);
        }
        else {
            jQuery('[id="customer-phone-number"]').addClass('hidden');
            jQuery('[id="overview[customer][1][private_phone]"]').html('');
        }
        if (empty !== customerMobilePhone) {
            jQuery('[id="customer-phone-number-mobile"]').removeClass('hidden');
            jQuery('[id="overview[customer][1][mobile_phone]"]').html(customerMobilePhone);
        } else {
            jQuery('[id="customer-phone-number-mobile"]').addClass('hidden');
            jQuery('[id="overview[customer][1][mobile_phone]"]').html('');
        }
    }

    /**
     * Fills the customer's emailaddress with previously entered data.
     * This method is called when the Overview step is activated and on scrolling
     */
    function fillOrderOverviewEmailAddress() {
        var empty = '-';
        var customerEmailAddressValue = jQuery('[id="customer[contact_details][email]').val();
        var customerEmailAddress = (customerEmailAddressValue) ? customerEmailAddressValue : empty;

        if (empty !== customerEmailAddress) {
            jQuery('[id="customer-email"]').removeClass('hidden');
            jQuery('[id="overview[customer][1][email]"]').html(customerEmailAddress);
        }
        else {
            jQuery('[id="customer-email"]').addClass('hidden');
            jQuery('[id="overview[customer][1][email]"]').html('');
        }
    }

    function disableremark()
    {
        var jElement = jQuery('[id="other[remarks][layout1]"]');
        jElement.removeAttr('readonly').attr('disabled', true);
        var jElement = jQuery('[id="other[remarks][mobile1]"]');
        jElement.removeAttr('readonly').attr('disabled', true);
        var jElement = jQuery('[id="other[remarks][cable1]"]');
        jElement.removeAttr('readonly').attr('disabled', true);
        var jElement = jQuery('[id="other[remarks1][content]"]');
        jElement.removeAttr('readonly').attr('readonly', true);

        var jElement = jQuery('[id="other[remarks][layout2]"]');
        jElement.removeAttr('readonly').attr('disabled', true);
        var jElement = jQuery('[id="other[remarks][mobile2]"]');
        jElement.removeAttr('readonly').attr('disabled', true);
        var jElement = jQuery('[id="other[remarks][cable2]"]');
        jElement.removeAttr('readonly').attr('disabled', true);
        var jElement = jQuery('[id="other[remarks2][content]"]');
        jElement.removeAttr('readonly').attr('readonly', true);
    }
</script>
