<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

if ($this->getIsRetention()) : ?>
    <span class="credit-check-success"><?php echo $this->__('Order validation completed successfully. The order is accepted.'); ?></span>
<?php else: ?>
    <span class="credit-check-success"><?php echo $this->__('Credit check completed successfully. The order is accepted.'); ?></span>
<?php endif; ?>
