<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

if (Mage::getSingleton('customer/session')->getOrderEdit()):
    $session = Mage::getSingleton('customer/session');
    $agent = $session->getAgent(true);
    /** @var Omnius_Checkout_Helper_Data $checkoutHelper */
    $checkoutHelper = Mage::helper('omnius_checkout');
    /** @var Omnius_Checkout_Model_Sales_Quote $quote*/
    $quote = Mage::getModel('sales/quote')->load(Mage::getSingleton('customer/session')->getOrderEdit());
    /** @var Omnius_Superorder_Model_Superorder $superOrder */
    $superOrder = Mage::getModel('superorder/superorder')->load($quote->getSuperOrderEditId());

    $cancelledPackagesNow = Mage::helper('omnius_package')->getCancelledPackagesNow();
    Mage::register('cancelledPackagesNow', $cancelledPackagesNow);

    $editedPackagesIds = Mage::registry('editedPackages');

    $packageModified = !empty($editedPackagesIds) || count($cancelledPackagesNow) > 0;
    $isLocked = $checkoutHelper->checkOrder($quote->getSuperOrderEditId(), false) === true;

    //determine last key in packages array to display grand totals at the end
    $allPackages = $quote->getPackages();
    ksort($allPackages);
    end($allPackages);
    $lastKey = key($allPackages);
    $packageDatas = array();
    ksort($allPackages);
    $isDelivered = false;

    if (!empty($editedPackagesIds)) {
        //get the status of the edited package        
        $editedPackageModel = Mage::getModel('package/package')->getPackages($quote->getSuperOrderEditId(), null, $editedPackagesIds[0])->getFirstItem();
        $editedPackageStatus = $editedPackageModel->getStatus();
    } elseif (!empty($cancelledPackagesNow)) {
        $editedPackageModel = Mage::getModel('package/package')->getPackages($quote->getSuperOrderEditId(), null, $cancelledPackagesNow[0])->getFirstItem();
        $editedPackageStatus = $editedPackageModel->getStatus();
    } else {
        $editedPackageStatus = null;
    }

    $orders = $superOrder->getOrders();
    $packageDeliveryStatus = $deliveryInThisStore = array();
    $deliveryOrderStatusLabels = [
        'cancelled' => $this->__('Cancelled'),
        'not_delivered' => $this->__('Not delivered'),
        'appointment_made' => $this->__('Appointment made'),
        'shipped' => $this->__('Shipped'),
        'approved' => $this->__('Approved'),
        'delivered' => $this->__('Delivered'),
        'waiting_for_approval' => $this->__('Waiting for Approval'),
        'Waiting for Approval' => $this->__('Waiting for Approval'),
    ];

    foreach ($orders as $deliveryOrder) {
        // Check if the order has delivery in this retail store
        if ($deliveryOrder->isStoreDelivery()
            && $deliveryOrder->getShippingAddress()
            && $deliveryOrder->getShippingAddress()->getDeliveryStoreId() == $agent->getDealer()->getId()
        ) {
            $deliveryInThisStore = array_merge($deliveryInThisStore, $deliveryOrder->getPackageIds());
        }
        $items = $deliveryOrder->getAllItems();
        foreach ($items as $item) {
            if (!array_key_exists($item->getPackageId(), $packageDeliveryStatus)) {
                $packageDeliveryStatus[$item->getPackageId()] = $deliveryOrder->getStatus();
            }
        }
    }
    $parentSuperOrder = Mage::getModel('superorder/superorder')->load($superOrder->getParentId());
?>
    <input type="hidden" id="all-package-ids" value="<?php echo implode(',',array_keys($allPackages)); ?>"/>
    <div class="bs-docs-section">
        <form class="cart" action="saveSuperOrder" method="post" role="form" id="saveSuperOrder">
            <h4 id="your-order" class="page-header"><?php echo $this->__('Your order'); ?></h4>
            <?php foreach($allPackages as $packageId => $package): ?>                
                <?php $isDelivered = $isDelivered || $package['status'] == Omnius_Package_Model_Package::ESB_PACKAGE_STATUS_DELIVERED;
                 $packageModel = Mage::getModel('package/package')->getPackages($quote->getSuperOrderEditId(), null, $packageId)->getFirstItem(); ?>
                <div class="clearfix superorder-totals">
                    <p class="dotted">
                        <strong>
                            <?php echo $this->__('Package') . ' ' . $packageModel->getPackageId()?> (<?php echo $packageModel->getStatus(); ?>)
                            <?php if($parentSuperOrder && $parentSuperOrder->getId()):?>
                                - <?php echo $this->__('changed from order')?>
                                <span class="superorder-parent" onclick="window.location.href='<?php echo Mage::getUrl('checkout/cart/editSuperorder').'?superorderId='.$parentSuperOrder->getOrderNumber();?>'">
                                    <?php echo $parentSuperOrder->getOrderNumber()?>
                                </span>
                            <?php endif;?>
                        </strong>
                    </p>
                    <p class="dotted">
                        <span class="small"><img src="<?php echo $this->getSkinUrl('images/package_validation.png') ?>"/></span>
                        <span class="small">
                            <?php if($packageModel->isValidated()):?>
                                <img src="<?php echo $this->getSkinUrl('images/checked.png') ?>"/>
                            <?php endif; ?>
                        </span>
                        <span class="medium"><?php echo $this->__('Network'); ?></span>
                        <span>
                            <?php if ($packageModel->getPortingStatus()): ?> Porting: <?php echo $packageModel->getPortingStatus(); endif; ?>
                            <?php if ($packageModel->getPortingStatus() && $packageModel->getCreditcheckStatus()): ?><br /><?php endif; ?>
                            <?php if ($packageModel->getCreditcheckStatus()): ?> 
                                Validation: 
                                <?php 
                                if($packageModel->getCreditcheckStatus() === Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_ADDITIONNAL_INFO_REQUIRED){
                                    echo $this->__('Additional information required for this credit check:');
                                }else{
                                    echo $packageModel->getCreditcheckStatus();
                                }
                                ?>
                            <?php endif; ?>
                            <?php echo ' '.$this->__($packageModel->getVfStatusDesc()); ?>
                        </span>
                    </p>
                    <?php if ($packageModel->getActualPortingDate()) : ?>
                    <p class="dotted">
                        <span class="small"><img src="<?php echo $this->getSkinUrl('images/package_actual_porting.png') ?>"/></span>
                        <span class="small">
                            <img src="<?php echo $this->getSkinUrl('images/checked.png') ?>"/>
                        </span>
                        <span class="medium"><?php echo $this->__('Porting date'); ?></span>
                        <span>
                            <?php echo date("d-m-Y", strtotime($packageModel->getActualPortingDate())); ?>
                        </span>
                    </p>
                    <?php endif; ?>
                    <p class="dotted clearfix">
                        <span class="small"><img src="<?php echo $this->getSkinUrl('images/package_delivered.png') ?>"/></span>
                        <span class="small">
                            <?php if($packageModel->isDelivered()):?>
                                <img src="<?php echo $this->getSkinUrl('images/checked.png') ?>"/>
                            <?php endif; ?>
                        </span>
                        <span class="medium"><?php echo $this->__('Hardware delivery'); ?></span>
                        <?php
                            echo isset($packageDeliveryStatus[$packageModel->getPackageId()]) && isset($deliveryOrderStatusLabels[$packageDeliveryStatus[$packageModel->getPackageId()]]) ? '<span>' . $deliveryOrderStatusLabels[$packageDeliveryStatus[$packageModel->getPackageId()]] . '</span>' : '<span></span>';
                            $deliveryOrder = $packageModel->getDeliveryOrder();
                            if ($deliveryOrder && ($deliveryOrder->getEcomStatus() == Omnius_Checkout_Model_Sales_Order::STATUS_CANCELLED) && ($deliveryOrder->getReasonCode() == Omnius_Checkout_Model_Sales_Order::REASON_CODE_APPOINTMENT)) :
                                if ($reasonCode = $deliveryOrder->getReasonCode()) {
                                    if (isset(Omnius_Checkout_Model_Sales_Order::$reasonCodeLabel[$reasonCode])) {
                                        $reasonCode = Omnius_Checkout_Model_Sales_Order::$reasonCodeLabel[$reasonCode];
                                    }
                                    echo " &#8211; <span>" . $this->__($reasonCode);
                                }
                                echo ' (' . $deliveryOrder->getIncrementId() .')</span>';
                                ?>
                                <button type="button" class="btn btn-primary btn-sm pull-right" data-delivery-id="<?php echo $deliveryOrder->getId(); ?>" onclick="checkout.restartDelivery(this, <?php echo "'" . $superOrder->getOrderNumber() . "','" . $deliveryOrder->getId() . "'"; ?>);">
                                    <?php echo $this->__('Restart delivery'); ?>
                                </button>
                        <?php endif; ?>
                        <?php if ($deliveryOrder && $deliveryOrder->getTrackAndTraceUrl() !== null): ?>
                            <button type="button" class="btn btn-primary btn-sm pull-right" data-delivery-id="<?php echo $deliveryOrder->getId(); ?>" onclick="window.open('<?php echo $deliveryOrder->getTrackAndTraceUrl(); ?>', '_blank');">
                                <?php echo $this->__('Track & Trace'); ?>
                            </button>
                        <?php endif; ?>
                    </p>
                    <p class="dotted">
                        <span class="small"><img src="<?php echo $this->getSkinUrl('images/package_payed.png') ?>"/></span>
                        <span class="small">
                            <?php if($packageModel->isPayed()):?>
                                <img src="<?php echo $this->getSkinUrl('images/checked.png') ?>"/>
                            <?php endif; ?>
                        </span>
                        <span class="medium"><?php echo $this->__('Payed'); ?></span>
                        <span>
                            <?php if($packageModel->isPayed()):?>
                                <?php echo $packageModel->getStatus() ?>
                            <?php endif; ?>
                        </span>
                    </p>
                    <div id="returned-note-<?php echo (int) $packageModel->getPackageId(); ?>">
                        <?php
                        $createdWebsite = Mage::app()->getWebsite($superOrder->getCreatedWebsiteId());
                        echo Mage::getSingleton('core/layout')
                            ->createBlock('core/template')
                            ->setPackage($packageModel)
                            ->setItems($package['items'])
                            ->setTemplate('checkout/cart/steps/return_note.phtml')
                            ->toHtml();
                        ?>
                    </div>
                    <table class="order_package_info" border="0">
                        <tr>
                            <td colspan="2" class="package_table_header dotted-right"><?php echo $package['type'] . '  ' . $this->__('Package') . '  ';?>
                                <span style="text-transform: capitalize"><?php echo ($package['type'] == Omnius_Configurator_Model_PackageType::PACKAGE_TYPE_MOBILE) ? $package['sale_type'] : '' ;?></span>
                            </td>
                            <td class="dotted-right">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="dotted-right"><?php echo $packageModel->getPackageEsbNumber(); ?></td>
                            <td class="dotted-right package-prices"><label><?php echo $this->__('Per month')?></label></td>
                            <td class="package-prices"><label><?php echo $this->__('One time')?></label></td>
                        </tr>
                        <?php $packageDatas[] = array($packageModel, $package['items']); //add package model to easily calculate its totals?>
                        <?php echo Mage::getSingleton('core/layout')
                                ->createBlock('core/template')
                                ->setPackage($packageModel)
                                ->setItems($package['items'])
                                ->setTemplate('checkout/cart/steps/edit_order_package.phtml')
                                ->setModified(in_array($packageId, $editedPackagesIds))
                                ->setModifiedPackageIds($editedPackagesIds)
                                ->setEditedPackageStatus($editedPackageStatus)
                                ->setCancelledPackageIds($cancelledPackagesNow)
                                ->setIsLocked($isLocked)
                                ->setSuperOrder($superOrder)
                                ->setIsDeliveredEdited($packageModel->getNewPackageId())
                                ->setDeliveryInThisStore(in_array($packageId, $deliveryInThisStore))
                                ->setOnlyShowButtons(false)
                                ->toHtml();
                        ?>
                        <?php if($packageId == $lastKey):?>
                            <?php $editTotals = Mage::helper('omnius_checkout')->getEditTotals($packageDatas);?>
                            <tr>
                                <td colspan="3">
                                    <p class="cart_totals_header">
                                        <span class="cart_totals_header_eurosign">
                                            <?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();?>
                                        </span>
                                        <label><strong><?php echo $this->__('Total');?></strong></label>
                                    </p>
                                </td>
                            </tr>
                            <?php $newTotals = Mage::helper('omnius_checkout')->getTotalPackagePriceDifference();?>
                            <?php $isLocked = $isLocked || ($editTotals['total_price'] > 10000); ?>
                            <tr class="div-table-row-header<?php echo (($newTotals !== false) && $isDelivered) ? '' : ' red';?>">
                                <td colspan="2" class="right-align"><?php echo $this->helper('tax')->__('Total')?></td>
                                <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice($editTotals['total_maf']) ?></td>
                                <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice($editTotals['total_price']) ?></td>
                            </tr>
                            <?php if(($newTotals !== false) && $isDelivered):?>
                                <tr class="gray red">
                                    <td colspan="2" class="right-align"><?php echo Mage::helper('omnius_checkout')->__($newTotals >= 0 ? 'Payment' : 'Refund');?></td>
                                    <td class="package-prices"></td>
                                    <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice(($newTotals < 0) ? -1*$newTotals : $newTotals) ?></td>
                                </tr>
                            <?php endif; ?>
                            <tr>
                                <td colspan="3">
                                    <p class="pull-right cart_totals_btw">
                                        <strong><?php echo $this->__('VAT Specifications');?></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr class="div-table-row-header">
                                <td colspan="2"></td>
                                <td class="package-prices"><?php echo $this->__('Per month'); ?></td>
                                <td class="package-prices"><?php echo $this->__('One Time'); ?></td>
                            </tr>
                            <tr class="gray">
                                <td colspan="2" class="right-align"><?php echo $this->helper('tax')->__('Excl.')?></td>
                                <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice($editTotals['total_maf_excl']) ?></td>
                                <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice($editTotals['additional_subtotal']) ?></td>
                            </tr>
                            <tr class="gray">
                                <td colspan="2" class="right-align"><?php echo $this->helper('tax')->__('Tax')?></td>
                                <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice($editTotals['total_maf_tax']) ?></td>
                                <td class="package-prices"><?php echo $this->helper('checkout')->formatPrice($editTotals['additional_tax']) ?></td>
                            </tr>
                            <tr class="gray">
                                <td colspan="2" class="right-align fbold"><?php echo $this->helper('tax')->__('Total')?></label></td>
                                <td class="package-prices fbold"><?php echo $this->helper('checkout')->formatPrice($editTotals['total_maf']) ?></td>
                                <td class="package-prices fbold"><?php echo $this->helper('checkout')->formatPrice($editTotals['additional_total']) ?></td>
                            </tr>

                        <?php endif; ?>
                    </table>
                </div> <br />
            <?php endforeach; ?>

            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="checkout-totals">
                        <div class="clearfix">
                            <?php if ($superOrder->isEditable()): ?>
                            <label class="checkbox-inline pull-right">
                                <p class="<?php echo (!$packageModified || $isLocked) ? 'disabled' : ''?>">
                                    <input type="checkbox"<?php echo ($packageModified && !$isLocked) ? ' checked="checked"' : '';?> name="accept" id="accept" disabled="disabled" <?php echo (!$packageModified || $isLocked) ? '' : 'class="processed"'?> value="1" onchange="checkout.acceptTerms(this)" />
                                    <?php echo $this->__('The customer agrees with the ');?><a href="https://www.vodafone.nl/support/abonnementen/alle-tarieven-en-voorwaarden.shtml" target="_blank"><?php echo $this->__('Terms and Conditions ');?></a> <?php echo $this->__('and asks Vodafone to immediately start service');?>
                                </p>
                            </label>
                            <?php endif; ?>
                        </div>
                        <div class="clearfix">
                            <?php if (count($cancelledPackagesNow) > 0) : ?>
                                <button type="button" onclick="jQuery('#stop_cancel_package_modal').appendTo('body').modal();" class="btn btn-default pull-left col-md-3"><?php echo $this->__('Stop cancellation');?></button>
                            <?php elseif ($packageModified) : ?>
                                <button type="button" onclick="jQuery('#stop_edit_package_modal').appendTo('body').modal();" class="btn btn-default pull-left col-md-4"><?php echo $this->__('Cancel edit');?></button>
                            <?php endif; ?>
                            <?php if(!empty($cancelledPackagesNow) || !empty($editedPackagesIds)) : ?>
                                <input type="hidden" name="refund_method" value="" />
                            <?php endif; ?>
                            <?php if (!empty($superOrder) && $superOrder->hasPendingPackages() && $superOrder->getOrderStatus() != $superOrder::SO_STATUS_CANCELLED) : ?>
                                <button type="button" class="btn btn-primary pull-right col-md-3" onclick="jQuery('#cancel_pending_order_modal').appendTo('body').modal();">
                                    <?php echo $this->__('Cancel order');?>
                                </button>
                            <?php endif; ?>
                            <?php if(!empty($cancelledPackagesNow)) : ?>
                                <button type="button" class="btn btn-primary pull-right col-md-4" <?php echo (!$packageModified || $isLocked || $superOrder->getOrderStatus() == $superOrder::SO_STATUS_CANCELLED) ? 'disabled="disabled"' : ''?> onclick="showRefundModal();">
                                    <?php echo $this->__('Confirm cancellation'); ?>
                                </button>
                            <?php elseif(!empty($editedPackagesIds)): ?>                                                                
                                <button type="button" class="btn btn-primary pull-right col-md-4" <?php echo (!$packageModified || $isLocked) ? 'disabled="disabled"' : ''?> onclick="showRefundModal();">
                                    <?php echo $this->__('Change your order');?>
                                </button>
                            <?php elseif ($superOrder->isEditable()) : ?>
                                <button type="submit" id="submit" data-step="saveSuperOrder" class="btn btn-primary pull-right col-md-4" <?php echo (!$packageModified || $isLocked ) ? 'disabled="disabled"' : ''?>>
                                    <?php echo $this->__('Change your order');?>
                                </button>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <?php Mage::getSingleton('customer/session')->setToPayAmount(Mage::registry('to_pay_amount')); ?>
    </div>

    <!-- Order Lock Modal -->
    <div class="modal bs-modal-sm" id="order_lock_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->__('Order is locked');?></h4>
                </div>
                <div class="modal-body">
                    <p class="unlock-order hidden"><?php echo $this->__('You must unlock the order before you can make changes.');?></p>
                    <p class="text"><?php echo $this->__('The order is currently changed by another agent.');?></p>
                    <p class="text-warning hidden"><i><b><?php echo $this->__('Please note');?>:</b> <?php echo $this->__('taking ownership will destroy the session of the current user');?></i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Ok'); ?></button>
                    <button type="button" class="btn btn-primary pull-right hidden unlock-order" data-dismiss="modal" onclick="jQuery('.order-lock button').trigger('click');">
                        <?php echo Mage::helper('omnius_checkout')->__('Make changes'); ?>
                    </button>
                    <button type="button" class="btn btn-primary pull-right hidden take-over-lock" data-dismiss="modal" onclick="checkout.takeOverLock();">
                        <?php echo Mage::helper('omnius_checkout')->__('Take over the lock'); ?>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Pending Order Modal -->
    <div class="modal bs-modal-sm" id="cancel_pending_order_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->__('Cancel order confirmation');?></h4>
                </div>
                <div class="modal-body">
                    <p class="text"><?php echo $this->__('Are you sure you want to cancel the order?');?></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('No'); ?></button>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="checkout.cancelPendingOrder('<?php echo !empty($superOrder) ? $superOrder->getOrderNumber(): '' ?>');">
                        <?php echo Mage::helper('omnius_checkout')->__('Yes'); ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Order Unlock Modal -->
    <div class="modal bs-modal-sm" id="order_unlock_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->__('Order has changes');?></h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $this->__('Are you sure you want to stop editing? All the changes will be lost!');?></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('No, keep changes'); ?></button>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="jQuery('.order-lock button').data('edited',0).trigger('click');">
                        <?php echo Mage::helper('omnius_checkout')->__('Yes, discard changes'); ?>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Order Package Confirmation Modal -->
    <div class="modal bs-modal-sm" id="stop_cancel_package_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->__('Stop cancel');?></h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $this->__('Are you sure you want to stop? Your changes will be reverted.');?></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('No, proceed to cancel'); ?></button>
                    <a href="<?php echo Mage::getUrl('checkout/cart/stopRemovePackage') ?>" class="btn btn-primary pull-right" data-loading-text="<?php echo Mage::helper('omnius_checkout')->__('Yes, stop cancel'); ?>" onclick="jQuery(this).button('loading');">
                        <?php echo Mage::helper('omnius_checkout')->__('Yes, stop cancel'); ?>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Edit Order Confirmation Modal -->
    <div class="modal bs-modal-sm" id="stop_edit_package_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->__('Stop editing');?></h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $this->__('Are you sure you want to stop? Your changes will be reverted and order will be unlocked');?></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('No, continue editing'); ?></button>
                    <a href="<?php echo Mage::getUrl('checkout/cart/cancelEditOrder'); ?>" class="btn btn-primary pull-right" data-loading-text="<?php echo Mage::helper('omnius_checkout')->__('Yes, cancel changes'); ?>" onclick="jQuery(this).button('loading');">
                        <?php echo Mage::helper('omnius_checkout')->__('Yes, cancel changes'); ?>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Order Edit Refund Modal -->
    <div class="modal bs-modal-sm" id="order_refund_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <?php if(count($cancelledPackagesNow) > 0): ?>
                        <h4 class="modal-title"><?php echo $this->__('Confirm cancellation packages');?></h4>
                    <?php else: ?>
                        <h4 class="modal-title"><?php echo $this->__('Confirm change of packages');?></h4>
                    <?php endif; ?>
                </div>
                <div class="modal-body">
                    <?php $cancelledPackagesNow = Mage::registry('cancelledPackagesNow');
                    $showRefund = false;
                    $totalRefund = 0;
                    if($cancelledPackagesNow) :
                        $cartPackages = Mage::registry('cart_packages');
                        $quote = Mage::registry('quote');
                        $refundAmounts = Mage::helper('omnius_checkout')->getRefundAmounts($quote, $cancelledPackagesNow);
                        foreach($cancelledPackagesNow as $cancelledPackageId) :
                            $totalRefund -= $refundAmounts['packagesRefund'][$cancelledPackageId];
                            $packageModel = Mage::getModel('package/package')->getPackages($quote->getSuperOrderEditId(), null, $cancelledPackageId)->getFirstItem();
                            $isDelivery = $packageModel->isDelivered();
                            $showRefund = $showRefund || $isDelivery;
                            ?>
                            <div class="row">
                                <div class="col-md-10">
                                    <span>
                                        <?php echo $this->__('Package') . ' ' .  $cancelledPackageId . ' - ';
                                        echo ucfirst($this->__($cartPackages[$cancelledPackageId]['sale_type'])) . ' ';
                                        echo !empty($cartPackages[$cancelledPackageId]['current_number']) ? $cartPackages[$cancelledPackageId]['current_number'] : $cartPackages[$cancelledPackageId]['tel_number']; ?>
                                    </span>
                                    <?php if ($isDelivery): ?>
                                        <span class="notification-cancel-packages">
                                        <?php
                                        if ($packageModel->getReturnDate()) {
                                            echo $this->__("Return");
                                        } else {
                                            echo $this->__("Pre-Notification");
                                        }
                                        ?>
                                        </span>
                                    <?php endif; ?>
                                    <br />
                                    <?php echo $cartPackages[$cancelledPackageId]['name']; ?>
                                </div>
                                <div class="col-md-2 text-right"><?php echo Mage::helper('core')->currency(-1 * $refundAmounts['packagesRefund'][$cancelledPackageId], true, false); ?></div>
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php
                    if ($editedPackagesIds):
                        $cartPackages = Mage::registry('cart_packages');
                        $quote = Mage::registry('quote');
                        $products = Mage::helper('omnius_checkout')->getPackagesDifferences($quote);
                        $refundAmounts = Mage::helper('omnius_checkout')->getRefundAmounts($quote, $editedPackagesIds, true);
                        sort($editedPackagesIds);
                        foreach($editedPackagesIds as $editedPackageId) :
                            $totalRefund += $refundAmounts['packagesRefund'][$editedPackageId];
                            $packageModel = Mage::getModel('package/package')->getPackages($quote->getSuperOrderEditId(), null, $editedPackageId)->getFirstItem();
                            $isDelivery = $packageModel->isDelivered();
                            $showRefund = $showRefund || $isDelivery;
                            ?>
                            <div class="row">
                                <div class="col-md-10">
                                        <span>
                                            <?php echo $this->__('Package') . ' ' .  $editedPackageId . ' - ';
                                            echo ucfirst($this->__($cartPackages[$editedPackageId]['sale_type'])) . ' ';
                                            echo !empty($cartPackages[$editedPackageId]['current_number']) ? $cartPackages[$editedPackageId]['current_number'] : $cartPackages[$editedPackageId]['tel_number']; ?>
                                        </span>
                                    <?php if ($isDelivery): ?>
                                        <span class="notification-cancel-packages">
                                            <?php
                                            if ($packageModel->getReturnDate()) {
                                                echo $this->__("Return");
                                            } else {
                                                echo $this->__("Pre-Notification");
                                            }
                                            ?>
                                            </span>
                                    <?php endif; ?>
                                    <br />
                                    <?php echo isset($products[$editedPackageId]) ? implode(', ', $products[$editedPackageId]) : ''; ?>
                                </div>
                                <div class="col-md-2 text-right"><?php echo Mage::helper('core')->currency($refundAmounts['packagesRefund'][$editedPackageId], true, false); ?></div>
                            </div>
                        <?php endforeach; ?>

                    <?php endif; ?>
                    <?php if ($showRefund && $totalRefund < 0) : ?>
                        <div class="row">
                            <div class="col-md-9 text-right"><?php echo $this->__('Total refund amount'); ?></div>
                            <div class="col-md-3 text-right"><?php echo Mage::helper('core')->currency($totalRefund, true, false); ?></div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 text-right"><?php echo $this->__('Refund method'); ?></div>
                            <div class="col-md-3 text-right">
                                <select onchange="checkout.setRefundMethod(this)" class="refund_method_select" style="width: 100%;">
                                    <?php echo Mage::helper('omnius_checkout')->getRefundMethods(true, false, $totalRefund); ?>
                                </select>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
                <div class="modal-footer">
                    <?php if($cancelledPackagesNow): ?>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Stop cancellation');?></button>
                    <?php else: ?>
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Stop changes');?></button>
                    <?php endif; ?>
                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="jQuery('.checkout-totals').find('button').addClass('disabled');jQuery('form#saveSuperOrder').submit();">
                        <?php if($cancelledPackagesNow): ?>
                            <?php echo Mage::helper('omnius_checkout')->__('Confirm cancellation'); ?>
                        <?php else: ?>
                            <?php echo Mage::helper('omnius_checkout')->__('Confirm changes'); ?>
                        <?php endif; ?>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Register Return Modal -->
    <?php
    $cartPackages = Mage::registry('cart_packages');
    $quote = Mage::registry('quote');
    foreach ($allPackages as $packageId => $package): ?>
        <?php $wasModified = in_array($packageId, $editedPackagesIds); ?>
        <?php $wasCancelled = strtolower($package['status']) == strtolower(Omnius_Package_Model_Package::ESB_PACKAGE_STATUS_CANCELLED) ? true : false; ?>
        <div class="modal bs-modal-sm" id="order_register_return_<?php echo $packageId;?>" data-pakket="<?php echo $packageId;?>" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><?php echo $this->__('Goods Return');?></h4>
                    </div>
                    <div class="modal-body">
                        <div class="hidden">
                            <span class="error" id="order_register_return_error_<?php echo $packageId;?>">
                                <!-- Filled by JS-->
                            </span>
                        </div>
                        <form id="order_register_return_<?php echo $packageId;?>_form">
                            <?php
                            $refundAmount = Mage::helper('omnius_checkout')->getRefundAmounts($quote, array($packageId));
                            $packageModel = Mage::getModel('package/package')->getPackages($quote->getSuperOrderEditId(), null, $packageId)->getFirstItem();
                            ?>
                            <div class="row">
                                <div class="col-md-2 dark-grey-background dotted-right">
                                    <?php echo $this->__('Return'); ?>
                                </div>
                                <div class="col-md-10 dark-grey-background">
                                    <?php   echo $this->__('Package') . ' ' . $packageId . ' - ';
                                    echo ucfirst($this->__($cartPackages[$packageId]['sale_type'])) . ' ';
                                    echo !empty($cartPackages[$packageId]['current_number']) ? $cartPackages[$packageId]['current_number'] : $cartPackages[$packageId]['tel_number']; ?>
                                </div>
                            </div>
                            <?php 
                            if($wasModified) {
                                // get current items, create array with product ids
                                $currentProductIds = Mage::helper('omnius_checkout')->getOldPackageProducts($quote, $packageId);
                            }
                            ?>
                            <?php $index = 0;?>
                            <?php $newItems = $packageModel->getItemsChanged(); ?>
                            <?php foreach ($package['items'] as $item): ?>
                                <?php if(in_array($item->getProductId(), $newItems) && !$wasCancelled) continue; //if item is found in the new package skip it as it means it needs no return ?>
                                <?php if($item->getRegisterReturn()) continue; //if it was already marked as returned ?>
                                <?php $product = $item->getProduct(); ?>
                                <?php if($product->isOfHardwareType()): ?>
                                    <div class="row">
                                        <div class="col-md-2 dotted-right">
                                            <div class="text-center">
                                                <input type="checkbox" id="returned[<?php echo $packageId; ?>][items][<?php echo $index; ?>]" name="returned[<?php echo $packageId; ?>][items][<?php echo $index; ?>]" class="" value="<?php echo $product->getId(); ?>">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <p>
                                                <span>
                                                    <?php echo $product->getName(); ?>
                                                </span>
                                                <?php if($newItems && !in_array($product->getId(), $newItems)): ?>
                                                <span class="notification-cancel-packages">
                                                    <?php echo $this->__("Pre-Notification"); ?>
                                                </span>
                                                <?php endif; ?>
                                            </p>
                                        </div>
                                    </div>
                                    <?php ++$index;?>
                                <?php endif; ?>
                            <?php endforeach; ?>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div><strong><?php echo $this->__('Returned items'); ?></strong></div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="returned[<?php echo $packageId; ?>][package_complete]" name="returned[<?php echo $packageId; ?>][complete_return]" value="1">
                                            <?php echo $this->__('Package Complete'); ?>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="returned[<?php echo $packageId; ?>][undamaged_items]" name="returned[<?php echo $packageId; ?>][not_damaged_items]" value="1">
                                            <?php echo $this->__('Items undamaged'); ?>
                                        </label>
                                    </div>
                                    <div><label for="returned[<?php echo $packageId; ?>][return_date]"><?php echo $this->__('Return Date'); ?></label></div>
                                    <div class="col-md-8 no-padding">
                                        <input type="text" id="returned[<?php echo $packageId; ?>][return_date]" name="returned[<?php echo $packageId; ?>][return_date]" class="form-control date-format" value="" placeholder="dd-mm-jjjj"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div><label for="returned[<?php echo $packageId; ?>][notes]"><?php echo $this->__('Notes'); ?></label></div>
                                    <textarea class="col-md-9 no-padding textarea96" id="returned[<?php echo $packageId; ?>][notes]" name="returned[<?php echo $packageId; ?>][return_notes]"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo $this->__('Cancel');?></button>
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="checkout.submitRefund(jQuery('#order_register_return_<?php echo $packageId;?>_form'), <?php echo (int) $packageId;?>, 1);">
                            <?php echo Mage::helper('omnius_checkout')->__('Confirm goods return'); ?>
                        </button>
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="checkout.submitRefund(jQuery('#order_register_return_<?php echo $packageId;?>_form'), <?php echo (int) $packageId;?>, 0)">
                            <?php echo Mage::helper('omnius_checkout')->__('Not complete'); ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
    
    <script>
        //<![CDATA[
        form.saveSuperOrder = new VarienForm('saveSuperOrder', true);

        <?php if($superOrder->isDeliveredAndEdited() && strtolower($superOrder->getOrderStatus()) == strtolower(Omnius_Superorder_Model_Superorder::SO_DELIVERED)):?>
            <?php 
            $childSuperorders = array();
            foreach($superOrder->getChildSuperorders() as $childSuperorder) {
                $childSuperorders[] = $childSuperorder->getOrderNumber();
            }
            ?>
            jQuery(document).ready(function ($) {
                if ($('#new_order_number').length) {
                    $('#new_order_number').append('<?php echo implode($childSuperorders, ', '); ?>');
                }
                $('#delivered_package_changed').appendTo('body').modal();
            });
        <?php endif; ?>
    </script>
<?php endif;?>
