/* General checkout css */
#checkout-wrapper .bs-docs-section .checkout-content .checkout-content-body {
    overflow: hidden;
}

#cart-content .bs-docs-section {
    margin-top: -20px;
}

#checkout-wrapper .bs-docs-section input[type=radio],
#checkout-wrapper .bs-docs-section input[type=checkbox] {
    visibility: visible;
    display: block;
}

#checkout-wrapper .bs-docs-section .hidden input[type=radio],
#checkout-wrapper .bs-docs-section input[type=radio].hidden,
#checkout-wrapper .bs-docs-section .hidden input[type=checkbox],
#checkout-wrapper .bs-docs-section input[type=checkbox].hidden {
    visibility: hidden;
    display: none;
}

.checkout-cart-index div .col3-layout .main .col-main.bigView {
    margin: 0 100px 0 0 !important;
}

.checkout-cart-index .col-left.sidebar.smallView {
    display: none;
}

/* Number porting css */
.validation-done-check {
    position: absolute;
    top: 12px;
    right: 25px;
    width: 12px;
    height: 12px;
    background-color: #058509;
    border-radius: 6px;
}
.validation-done-check i {
    color: #fff;
    font-size: 6px;
    left: 2px;
    top: -3px;
}

/*
#saveIncomeTest .row.porta-pakket {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#saveIncomeTest .row.porta-pakket .row, #saveIncomeTest .marginbot {
    margin-bottom: 10px;
}

#cart-content #saveIncomeTest label {
    margin-bottom: 3px;
}

#saveIncomeTest .radio {
    margin-top: 0px !important;
}

#checkout-wrapper #customer_info a,
#checkout-wrapper #customer_contact a {
    text-decoration: none;
    color: #45ada8;
    font-size: inherit;
}

#checkout-wrapper #customer_info a:hover,
#checkout-wrapper #customer_contact a:hover {
    text-decoration: underline;
    color: #45ada8;
    font-size: inherit;
}*/

/* Save overview css */
#checkout-wrapper #saveOverview .right_expanded_packets,
#checkout-wrapper #saveOverview #right-panel-cart-menu,
#checkout-wrapper #saveOverview .expanded_checkout_btn,
#checkout-wrapper #saveOverview .expanded-package-loan-banner,
#checkout-wrapper #saveOverview .expanded-shoppingcart-totals,
#checkout-wrapper #saveOverview .email_ovr,
#checkout-wrapper #saveOverview .privacy_customerdata,
#checkout-wrapper #saveOverview .cart-title-description,
#checkout-wrapper #saveOverview .title,
#checkout-wrapper #saveOverview .border-cart-expanded {
    display: none;
}

#checkout-wrapper #saveOverview .expanded-package-container {
    width: 100%;
}

#checkout-wrapper #saveOverview #cart_totals {
    position: relative;
}

#checkout-wrapper #saveOverview a {
    text-decoration: none;
    color: #45ada8;
    font-size: inherit;
}

#checkout-wrapper #saveOverview a:hover {
    text-decoration: underline;
    color: #45ada8;
    font-size: inherit;
}

/* Save credit check css */
#checkout-wrapper #saveCreditCheck .email_ovr {
    display: none;
}

/* order confirmation css */
#checkout-wrapper .btn-goto-homepage {
    color: #ffffff;
}

#checkout-wrapper .btn-goto-homepage:hover {
    color: #ffffff;
}

/* Delivery and payment css */
#checkout-wrapper #saveDeliveryAddress #delivery-type {
    min-height: 200px;
}

div.secondBadge.extended-cart-second-badge-menu, div.badge.extended-cart-second-badge-menu {
    padding: 25px 5px 10px 15px;
}
#checkout-wrapper #saveSuperOrder a {
    text-decoration: none;
    color: #45ada8;
    font-size: inherit;
}

#checkout-wrapper #saveSuperOrder a:hover {
    text-decoration: underline;
    color: #45ada8;
    font-size: inherit;
}

/* Superorder summary css */
#saveSuperOrder .superorder-totals .cart_totals_btw {
    font-weight: bold;
    color: #818181;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 18px;
}

#cart_totals .div-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.cart_totals_header {
    color: #FF0000;
    text-align: right;
    margin-bottom: 0;
}

#saveSuperOrder .superorder-totals .div-table-row-header {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: #EDEDED;
    padding: 2px 0;
}

#saveSuperOrder .superorder-totals .div-table-row-header td {
    font-weight: bold;
    font-size: 14px;
}

#saveSuperOrder .superorder-totals .cart_totals_header label {
    font-size: 18px !important;
}

#saveSuperOrder .superorder-totals .gray {
    background-color: #f8f8f8;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
    padding: 1px 5px;
}

#cart_totals .div-table-row .div-table-cell:last-child {
    border-right: 0;
}

#cart_totals .div-table-row.title-row .div-table-cell {
    border-right: 0;
}

#cart_to tals .div-table-row.grand-total {
    color: #FF0000;
    padding: 5px;
    font-size: 12px;
}

#cart_totals .div-table-row.grand-total td {
    font-weight: bold;
}

#cart_totals .checkout-button {
    margin-top: 11px;
}

#saveSuperOrder #cart_totals {
    font-size: 14px;
    border: none;
}

#saveSuperOrder #cart_totals .cart_totals_header {
    color: #000;
}

#saveSuperOrder h4 {
    width: 100%;
    border-bottom: 1px solid #000;
}

#saveSuperOrder label {
    font-weight: normal;
    font-size:14px;
}

#saveSuperOrder p.dotted {
    border-bottom: 1px dotted #CCC;
    font-size:16px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#saveSuperOrder p.dotted span {
    font-size: 14px;
    display: inline-block;
}

#saveSuperOrder p.dotted span.small {
    width: 4%;
    min-width: 25px;
}

#saveSuperOrder p.dotted span.small img {
    width: 25px;
}

#saveSuperOrder p.dotted span.medium {
    width: 25%;
}

#saveSuperOrder label.striked {
    text-decoration: line-through;
}

.bg-warning {
    background-color: #FFFFCC;
    padding: 5px 0;
    text-align: center;
    margin-right: 10px;
}

.order-summary-contents {
    overflow-y: auto;
}

#contract-continue-button.disabled {
    color: #fff !important;
    background-color: #999 !important;
}

.btn-success {
    color: #fff;
    background-color: #45ada8;
    border-color: #45ada8;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #fff;
    background-color: #33807c;
    background-color: #33807c;
}

#checkout-wrapper button.search-button span{
    font-size: 10px;
    vertical-align: middle;
}

.modal-body .customer_search_field {
    width: 50%;
    padding-right: 10px;
    margin-top: 7px;
    display: inline-block;
}

.modal-body .customer_search_field.search-button {
    width: 49%
}

.modal-body .customer_search_results #customer_list {
    overflow-y: auto;
    height: 142px;
}

/* order overview css */
#cart {
    padding: 0px 10px 10px 20px;
}
#cart_totals {
    text-align: right;
}
#cart_totals .div-table {
    width: 100%;
}
#cart_totals .div-table thead .div-table-row-header th {
    font-weight: bold;
    width: 120px;
}
#cart_totals .cart_totals_btw,
#saveSuperOrder .superorder-totals .cart_totals_btw {
    font-weight: bold;
    color: #818181;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 18px;
}

#cart-top {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.order_package_info {
    margin-top: 30px;
    width: 100%
}

.order_package_info tr.small td {
    line-height: 5px;
}

.order_package_info .package-prices {
    width: 120px;
}

.order_package_info tr:nth-child(1) {
    text-transform: uppercase
}

.order_package_info tr:nth-child(1), .order_package_info tr:nth-child(2) {
    background-color: #F2F2F2;
    font-size: 14px
}

td.package_table_header {
    width: 70%
}

.order_package_info tr td {
    padding: 2px 5px;
}

.order_package_info tr td.dotted {
    padding: 0;
    border-bottom: 1px dotted #CCC
}

.order_package_info tr td.package-prices {
    text-align: right;
}

.order_package_info .order_package_item {
    background-color: #F2F2F2;
}

.order_package_info .subscription {
    border-bottom: 0px;
}

.checkout-cart-index .col-left .sticker {
    display: block;
}

.order-lock {
    float: right;
    margin-bottom: 2px;
}

.order-lock .lock-icon {
    background: url(../../../omnius/default/images/de/lock.png) center 6px no-repeat;
    background-size: 10px;
}

.order-lock .lock-icon.unlocked {
    background: url(../../default/images/my-links.svg) center 6px no-repeat !important;
    background-size: 10px !important;
}

.modal #package_hardware_items {
    text-align: left;
}

.modal #package_hardware_items > hr {
    border: dotted 1px;
    margin: 5px;
}
#cart-content .row-title {
    font-size: 14px;
}


.checkout-cart-registerimei .col-right.sidebar {
    display: none;
}

.checkout-cart-registerimei div .col3-layout .main .col-main {
    width: calc(100% - 245px);
}

.checkout-cart-registerimei .col-main {
    margin: 0 0 0 244px!important;
}

.checkout-cart-registerimei .bs-docs-section.active {
    background: #fff;
    padding: 3rem 2rem;
    height: 100%;
}

#device-selection-content .input-group {
    display: table;
    margin: 0;
}

/*Fix for closing button on ALL input fields in IE11 (Enabling back for VZNL)*/
input::-ms-clear {
    display: block;
}

input.search-on-type::-ms-clear {
    margin-right: 14px;
}

.remark-textarea textarea {
    float: left;
    width: 100%;
    height: 56px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.manual_text {
    font-size: 14px !important;
    margin-top: 5px !important;
}

#numbers-list p {
    margin-right: 12px !important;
}

label.old_package {
    color: #CCC;
}

#checkout-wrapper .validation-advice {
    margin: 5px 0;
    position: static;
    bottom: auto;
}

#checkout-wrapper .validation-advice:before {
    content: none;
}

/* vnext customer search overrides after vznl overrides */
.search-results {
    font-size: 14px;
}

.potential-matches-pane {
    font-size: 14px;
    max-width: 800px; /* IE11 fix for position: fixed elements */
}

#customer-search-container .potential-matches-pane.expanded .search-results {
    padding-top: 30px;
}

#customer-search-container {
    font-size: 14px;
}

.customer_left_search .customer-search label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#cart_totals .div-table thead .div-table-row-header .total-cost {
    width: 245px !important;
}

.order_package_info tr td.package_edit_button {
    padding: 8px 0;
}

.package_edit_button .btn-group {
    float: right;
}

.dt .tc.vm {
    display: block !important;
    margin-top: 10px !important;
}

/* This customization can be removed when the background-image
   on main is completely removed from the application */
.checkout-cart-index .main {
    background-color: #fafbfc;
    background-image: none;
}

#checkout-wrapper {
    box-shadow: none;
}

#cart_totals .btn-cancel {
    width: 100px;
    text-decoration: none;
    padding: 4px 10px;
}

#cart .bg-white.superorder_block {
    text-align: center !important;
    border: 1px solid #777 !important;
}

.modal-message {
    margin-top: 5px !important;
}

#checkout-wrapper .validation-advice {
    padding: 0 0 0 17px !important;
    background: url(../../default/images/validation_advice_bg.gif) 2px 0 no-repeat !important;
    color: #eb340a !important;
}
.edit-mode .error-message {
    max-width: 570px !important;
    overflow-y: hidden;
    text-align: left;
}

#cart-left {
    width: 25%;
    padding-left: 0;
    font-size: 8px;
    padding-right: 45px;
    text-align: left;
}

.btn-editorder {
    text-decoration: none !important;
}

.page-header .order-confirm {
    margin-top: 40px !important;
}

.disabled a {
    color: #999999 !important;
}

.notification-cancel-packages {
    background: #999999;
    color: #cccccc;
    margin: 5px;
}

.messages {
    padding-left: 10px !important;
}

input:disabled {
    background-color: #eee !important;
}

#cart-left .nav>li>a {
    font-size: 12px;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.checkout.bigView {
    overflow: hidden !important;
}

div .col3-layout.edit-mode #cart {
    position: absolute;
    width: 99%;
}

.order-edit-checkout {
    float: left;
    margin-left: 20px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .checkout-totals-buttons {
        padding-bottom: 50px;
    }
}


/* New UI Checkout*/
.checkout-wrapper section h3{
    margin: 3px 0 2px 0;
    font-size: 12px;
    color: #45ada8 !important;
    font-weight: 500;
    text-transform: uppercase;
}
.checkout-wrapper section h4{
    font-size: 24px;
    color: #2D4552;
    margin: 0 0 17px 0;
    line-height: 1.4em;
}

#checkout-wrapper a:hover {
    color: #ffffff;
}
.checkbox-collection div.checkbox span.info_icon {
    position :relative;
    top : -34px;
    padding-left:120px;
    cursor: pointer;
    background: url(../../../vznl/default/images/icon-info-black.png) no-repeat 50%;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}

@media screen\0 {
    .checkbox-collection div.checkbox span.info_icon {
        margin-top: -5px !important;
   }
}

.checkbox-collection div.checkbox .white-bk-info {
    position :relative;
    top : -34px;
    padding-left:120px;
    cursor: pointer;
    background: url(../../../omnius/default/images/de/info-white-bk.png) no-repeat 50%;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}

#saveOverview .orderline-section-table .promocodelink {
    font-weight: 500;
    padding: 0px;
}
#saveOverview .orderline-section-table a:hover{
   text-decoration: none;
   color: #fff;
}

#connectManuallyModal .select-wrapper select {
    height: 44px;
 }

.btn-goto-homepage {
    padding-top: 0px!important;
}

#checkout-wrapper #contract_page {
    margin: 10px 0;
}

#checkout-wrapper .checkout-contract-signing-text {
    font-size: 14px;
    margin-bottom: 20px;
    color: #2d4552;
}

.summary-separator-single-line-payment {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    margin: 0px 0px 19px 0px;
}

.wish-date-disabled {
    pointer-events: none;
    color: #999999 !important;
}

#saveOverview #cart_totals .div-table-row td .div-table-cell {
    font-size: 14px!important;
    font-weight: normal;
}

#saveOverview #cart_totals .div-table-row.grand-total td {
    font-weight: bold;
    font-size: 16px!important;
}
#saveOverview #cart_totals .deduction{
    font-size: 14px!important;
    font-weight: normal;
}
#saveOverview #cart_totals .div-table tbody .div-table-cell {
    font-size: 14px!important;
    font-weight: normal;
    color: #5b717c!important;

}

#saveOverview #cart_totals  .fbold {
    font-size: 14px!important;
    color: #2d4552;
}

#saveOverview #cart_totals  {
    margin-bottom: 5px;
}

#saveOverview #cart_totals .div-table-row .price-summary-header {
    color: #2d4552!important;
}

#saveOverview .separator-single {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    margin: 20px 0;
}
#saveOverview .border-double {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-left: 10px;
    height: 3px;
    width: 95%;
}
#saveOverview .expanded-package-details {
    margin-right: 0px;
}

#checkout-wrapper #savePaymentMethod .radio {
    padding-left: 2px;
}
#checkout-wrapper #saveOverview .chkbox-seperator {
    margin: 12px;
}

.products-section-products .btn-primary,
.products-section .btn-primary {
   height: 40px;
   font-family: Roboto,serif;
   font-size: 16px;
   font-weight: 700;
   border-radius: 2px;
   box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
   border: 1px solid rgba(0,0,0,.05);
   line-height: 1.19;
   color: #fff;
   background-color: transparent;
   background-image: linear-gradient(to right, #e60000, #f48c00);
}

@media screen\0 {
    .cart_right_expanded p.title {
        background: #ffffff !important;
        background-image: none;

    }
}

#iban-data-loading {
    background-image: url(../images/spinner.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 25px 25px !important;
    background-position: center center !important;
}
