.customer-search-form .customer_search_field {
    display: inline-block;
}

.customer-search-form .customer_search_field.search-button {
    width: 48%;
    padding: 0 10px 0 0;
}

.customer-search-form .customer_search_field.clear {
    width: 50%;
    padding-right: 10px;
    margin-top: 7px;
}

span.badge-da {
    background-color: purple;
}

span.campaign {
    padding: 0 10px;
    border: 1px solid grey;
}

.search-block #customer_search_results {
    margin-top: 10px;
    padding: 0;
    height: 100%;
}

.customer_search_results .result {
    border-radius: 5px;
    margin: 8px 0;
    padding: 5px;
    font-size: 13px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

.customer_search_results .result:hover {
    background-color: #e4e4e4;
}

.blue {
    color: #5bc0de;
    font-size: 18px;
}

.customer-popover {
    font-family: vodafonerg-webfont;
    z-index: 11000;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}

.customer_left_search p {
    padding: 0;
    margin: 0;
}

.customer_left_search .col-title {
    white-space: nowrap;
    font-size: 20px;
    line-height: 1.5;
}

.customer-search-form input[type="text"],
.customer-search-form input[type="password"] {
    height: 24px;
    font-size: 12px;
    padding: 0 6px;
}

.customer_left_search label {
    font-weight: bold;
    font-family: Verdana;
    font-size: 9px;
}

.customer_search_results #customer_list {
    overflow-y: auto;
    height: 397px;
}

.customer_search_results p.title {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.customer_search_results {
    display: none;
    position: relative;
}

.popover-header {
    font-size: 16px;
}

.popover.right .arrow {
    top: 14%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-result-warning {
    color: red;
    font-size: 13px;
}

.bolded {
    font-weight: bold;
}

.col-title.indirect-col-title {
    font-size: 20px;
    white-space: nowrap;
    line-height: 1.5;
}

span.customer_search_popover  {
    margin-left: 8px;
}

.customer-info-section-hide {
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 10px 20px 5px 20px;
}

.customer-address-container p {
    word-wrap: break-word;
}

.customer-name {
    font-size: 24px;
    line-height: 1.25em;
    color: #2d4552;
}

.customer-subtype-container .customer-subtype-text,
.customer-details-container .customer-details-dob .dob-text,
.contact-person-container .contact-person-text,
.contract-person-container .contract-person-text,
.customer-address-container .address-text
 {
    font-size: 10px;
    font-weight: bold;
    line-height: 2em;
    color: #2d4552;
    text-transform: uppercase;
}

.customer-details-container .customer-details-dob .dob-value {
    font-size: 14px;
    line-height: 1.71em;
    color: #5b717c;
}

.contact-person-container .contact-person-value,
.contract-person-container .contract-person-value {
    font-size: 14px;
    line-height: 1.71em;
    color: #5b717c;
}

.customer-address-container .address-value,
.customer-subtype-container .customer-subtype-value {
    font-size: 14px;
    line-height: 1.71em;
    color: #5b717c;
}

.arrow-down {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 7px 0;
    border-color: #5b717c transparent transparent transparent;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 7px solid #5b717c;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

a.customer-info-hide,
a.ctn-hide {
    font-family: "pantonregular", "Arial Regular", "Arial", sans-serif;
    color: #5b717c !important;
    text-decoration: none;
    font-size: 15px;
}

.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    transition: none;
}

#customer_search .col-title {
    border-bottom: 0px;
    color: #333333;
    text-shadow: none;
}

.user-menu-buttons {
    margin-top: 10px;
    text-align: left;
}

#oo-tabs a {
    text-decoration: none;
}

#customer_search .customer-search-scrollbar {
    min-width: 200px !important;
}

.legacy-customer-search-container {
    display: inline-block;
}

.customer-search h6.header {
    min-width: 0;
    width: auto;
}

/* Old order search design fix */
.tab-pane h2.col-title {
    color: #333;
}
.tab-pane #customer-search-form {
    padding: 0 !important;
}
.tab-pane .customer-search-form {
    width: 190px;
}

#customer-content .vn-tab .tab-menu .tab-menu-item {
    padding: 0 18px;
}

#customer-linked_account .vn-tab .tab-menu .tab-menu-item.active {
    border-bottom: none!important;
}

#customer-linked_account .header {
    min-width: initial;
    background: none;
    border: none;
    height: auto;
    position: initial;
}
.customer-ban {
    background-color: #f2f3f4;
    padding: 2px 5px;
    height: 14px;
    border-radius: 7px;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1.1px;
    color: #2d4552;
    margin-left: 5px;
    display: block;
    float: left;
}
.customer-ban:first-child {
    margin-left: 0;
}
.build {
    background-color: #f4f4f4;
    color: #000;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: -5px;
    padding: 1px 2px;
    z-index: 9999999999;
    font-size: 10px;
    width: 200px;
    border-radius: 2px;
}
.vn-customer-search .actions .actions-reset {
    padding: 9px 9px;
    transform: translateY(1px);
    margin-right: 0;
}
#customer-search-container .actions {
    position: relative;
    padding: 2px 15px;
}
#customer-search-container .ui.left.overlay.sidebar {
    left: 300px;
    box-shadow: inset -1px 0px 0px rgba(217,217,217,0.5);
}
.pan {
    margin-left: 10px;
}

.dot {
    vertical-align: top;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 2px;
    margin-right: 5px;
}
.dot-red {
    background-color: #e22e2e;
}
.dot-orange {
    background-color: #f48c00;
}

#customer-linked_account .vn-table .table-head .table-head-inner .table-category {
    width: 30px !important;
}

.vz-products-shape,
.vz-carts-shape,
.vz-links-shape {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.vz-orders-shape {
    width: 12px;
    height: 16px;
    object-fit: contain;
}

.tab-pane .customer-search-form label {
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05), 1px 0 0 0 rgba(0, 0, 0, 0.1);
}

#left-customer-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    border-right: 1px solid #d9d9d9;
}

.customer-return {
    display: block;
    padding: 0;
    background-color: rgba(0,0,0,.03);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.03);
    height: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.customer-return:hover, .customer-return:focus {
    background-color: rgba(0,0,0,.05);
}

.customer-return-arrow {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.customer-return-text {
    display: block;
    float: left;
    width: calc(100% - 32px);
    font-weight: bold;
    font-size: 10px;
    line-height: 2em;
    color: #2d4552;
    text-transform: uppercase;
    padding: 6px 10px;
    border-left: 1px solid #d9d9d9;
}

.customer-info .customer-info-block {
    box-shadow: none;
    margin-bottom: 0;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.customer-accounts-container {
    margin-bottom: 40px;
}

.customer-info .customer-name-container {
    padding: 28px 0 10px 0;
}

.customer-details-container .customer-details-dob {
    padding-bottom: 0;
}

.customer-details-container, .contract-person-container, .contact-person-container, .customer-address-container, .customer-subtype-container {
    margin-top: 20px;
    padding-bottom: 0;
}

#customer-menu {
    border-top: 1px solid #d9d9d9;
    padding-top: 20px;
    padding-bottom: 55px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 0;
}

#customer-menu > li {
    margin-bottom: 10px;
}

#customer-menu > li > a {
    height: 40px;
    padding: 10px 20px;
    border-left: 0 solid #00b0ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#customer-menu > li > a:hover, #customer-menu > li > a:focus, #customer-menu > li.active > a {
    background-color: #f2f3f4;
}

#customer-menu > li.active > a {
    border-left-width: 4px;
    padding-left: 16px;
}

#customer-menu .customer-menu-icon {
    display: block;
    width: 20px;
    flex: 0 0 20px;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    margin-right: 15px;
    text-align: center;
}

#customer-menu .customer-menu-icon svg {
    vertical-align: middle;
    fill: #5b717c;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#customer-menu > li > a:hover svg, #customer-menu > li > a:focus svg, #customer-menu > li.active > a svg {
    fill: #2d4552;
}

#customer-menu .customer-menu-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #5b717c;
    font-size: 12px;
    line-height: 1.67em;
    flex-grow: 1;
}

#customer-menu > li.active .customer-menu-title {
    color: #2d4552;
}

#customer-menu > li.active .customer-menu-icon {
    fill: #2d4552;
}

#customer-menu .number-of-circle {
    float: right;
    margin: 2px 0 2px 15px;
    min-width: 16px;
    height: 16px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    line-height: 1em;
    border-radius: 8px;
    background-color: #00b0ca;
    color: #FFFFFF;
    text-align: center;
}

#customer-menu .customer-menu-divider {
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #d9d9d9;
}

.search-result-cross {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    margin: 0;
    background-size: auto auto;
    transition: all .3s ease;
    opacity: 0;
}

.expanded .search-result-cross {
    opacity: 1;
    z-index: 5;
}

.col-left.sidebar {
    top: 50px;
    transition: all .5s ease;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.05);
    width: 300px;
}

.col-left.sidebar .sticker {
    position: absolute;
    z-index: 2;
    height: calc(100% - 50px);
    background-color: #FFFFFF;
    width: 300px;
    border-right: 1px solid #d9d9d9;
}

.col-left.sidebar .panel-content {
    width: 800px;
    position: relative;
    z-index: 1;
    display: block;
    transition: all .5s ease;
    margin-left: -500px;
}

.col-left.sidebar.expanded {
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
    width: 1100px;
}

.col-left.sidebar.expanded .panel-content {
    margin-left: 300px;
    height: 100%;
}
