body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: VodafoneRg;
    color: #5b5d5d;
}

.fixed-contract-title {
    background-color: #FF990D;
    background-image: linear-gradient(to right, #FF6600, #FF990D, #FF6600);
    background-repeat: no-repeat;
}

.fixed-contract-title p {
    color: #ffffff;
    font-weight: 300;
    padding: 5px;
}

#fixed-header p {
    font-size: 11px;
    line-height: 0.9;
    font-weight: 500;
    margin:0px;
    padding:0px;
}

#fixed_header p {
    font-size: 11px;
    display: inline-block;
    line-height: 1;
    margin:0px;
    padding:0px;
}

#fixed-header td {
    vertical-align: text-top;
}

#footer {
    width: 100%;
    height: 84px;
    margin-top: 33.3px;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#fixed-footer p {
    font-size: 11px;
    word-spacing: 1px;
}

table tr {
    style: "text-align: left;
}

.term-design p {
    margin-top: 0px;
    word-spacing: 4px;
}

.term-design p:first-child {
    margin: 0px;
}
#fixed-desired P:first-child {
    margin-top: 0px;
}

#fixed-terms p {
    margin-top: 30px;
}

#fixed-terms p:first-child {
    margin-top: 0px;
}

.fixed-contract-title p {
    margin-bottom: 0px;
}

.footer-date table tr {
    padding: 0px;
    margin: 0px;
}

.footer-date table td {
    padding: 0px;
    margin: 0px;
}

.footer-date table {
    padding: 0px;
    margin: 0px;
}
.footer-date p {
    padding: 0px !important;
    margin: 0px !important;
}

.fixed-contract-title  {
    margin-top: 30px;
    margin-bottom: 0px;
}

.separated {
    border-bottom: 1px solid black;
}


#fixed-desired table {
    border-collapse: collapse;
}

.separated-total {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#fixed-desired .status {
    width: 15%;
}

#fixed-desired .price {
    width: 10%;
}

#fixed-desired .product {
    width: 65%;
}

.other-info {
    margin-bottom: 0px;
    margin-top: 0px;
}

#fixed-desired .consumer {
    display: inline-block;
}