.radio label {
    cursor: pointer;
    padding-left: 35px;
    position: relative;
    color: rgba(0,0,0, 0.26);
}
.radio label, .checkbox label {
    min-height: 20px;
}
.checkbox label, .radio label, label {
    font-size: 14px;
    line-height: 1.42857;
    color: #4A4A4A;
    font-weight: 400;
}
.radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}
.radio label span {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    transition-duration: 0.2s;
}
.radio label .circle {
    border: 1px solid #d9d9d9;
    height: 18px;
    width: 18px;
    border-radius: 100%;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #45ADA8;
    background: #45ADA8;
}
.radio input[type=radio]:checked ~ .check {
    -webkit-transform: scale3d(0.45, 0.45, 1);
    -moz-transform: scale3d(0.45, 0.45, 1);
    -o-transform: scale3d(0.45, 0.45, 1);
    -ms-transform: scale3d(0.45, 0.45, 1);
    transform: scale3d(0.45, 0.45, 1);
}
.radio input[type=radio]:checked ~ .check, .radio input[type=radio]:checked ~ .check {
    background-color: #ffffff;
}
.radio label .check {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background-color: #45ADA8;
    -webkit-transform: scale3d(0,0,0);
    -moz-transform: scale3d(0,0,0);
    -o-transform: scale3d(0,0,0);
    -ms-transform: scale3d(0,0,0);
    transform: scale3d(0,0,0);
}