.modal .modal-dialog {
    width: 590px;
}
#cart-show-details .modal-dialog {
    width: 700px;
    top: 80px;
}
#cart-show-details .col-xs-3 {
    text-align: right;
}
#cart-show-details .one-off {
    border-left: 1px solid #CCC;
}
#cart-show-details .modal-body {
    padding: 15px;
}
#cart-show-details .modal-header {
    margin-bottom: 0px;
}
#cart-show-details .expanded-package-details .package-items {
    line-height: 60px;
    padding: 0;
}
#cart-show-details .totals span.price {
    font-weight: bold;
    top: 5px;
    position: relative;
}
#cart-show-details .message {
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 3px;
}
#cart-show-details .package-item .package-description img {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
}
#cart-show-details .expanded-package-details {
    overflow-y: auto;
    max-height: 500px
}
#cart-show-details .right_expanded_packets .package-summary p {
    color: #000;
}
#cart-show-details .right_expanded_packets .package-summary p.package-type {
    color: #008000;
    height: auto;
}
#cart-show-details .right_expanded_packets .package-summary p:first-child {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
}
#cart-show-details .btn {
    padding: 0 5px 0 0;
    font-size: 10px;
    width: 92px;
    text-align: right;
}
#cart-show-details .package-item-header .col-xs-2,
#cart-show-details .package-item-header .col-xs-3 {
    height: 60px;
    line-height: 16px;
    padding-top: 10px;
}
#cart-show-details .package-item-header .package-description {
    margin-top: 10px !important
}
#cart-show-details .modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.popup_cart_details #right_expanded_packets {
    padding: 0px;
}
.popup_cart_details .right_expanded_packets .nav>li {
    padding-right: 0px;
    margin-right: 17px;
}
.popup_cart_details .right_expanded_packets .nav>li.active {
    background: none;
}
.popup_cart_details .right_expanded_packets .nav>li.active:after,
.popup_cart_details .right_expanded_packets .nav>li.active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popup_cart_details .right_expanded_packets .nav>li.active:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #f2f2f2;
    border-width: 30px 0 30px 15px;
    margin-top: -30px;
    margin-left: -1px;
}
.popup_cart_details .right_expanded_packets .nav>li.active:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #ccc;
    border-width: 30px 0 30px 15px;
    margin-top: -30px;
    margin-left: 0px;
}
.popup_cart_details .right_expanded_packets .nav>li a div {
    border: 1px solid #ccc;
    width: auto;
}
.popup_cart_details .right_expanded_packets .package-summary p:first-child {
    text-transform: capitalize;
}
.popup_cart_details .right_expanded_packets .package-summary p:first-child {
    font-size: 14px;
}
.popup_cart_details .right_expanded_packets .package-summary p {
    color: #212121;
}
.popup_cart_details .right_expanded_packets .package-summary.open {
    background: #f4f4f4;
    /* Old browsers */
}
.popup_cart_details .right_expanded_packets .nav li a:hover,
.popup_cart_details .right_expanded_packets .nav li a:focus {
    background: #FFF;
}
.cart_right_expanded {
    position: relative;
}
.cart_right_expanded .drop-menu {
    position: absolute;
    top: 0px;
    right: 20px;
}
.cart_right_expanded p {
    padding: 0px;
}
.cart_right_expanded .title {
    text-transform: uppercase;
}
.popup_cart_details .right_expanded_packets {
    float: left;
    height: 100%;
    overflow: auto;
}
.popup_cart_details .right_expanded_packets .nav {
    margin-top: 10px;
}
.popup_cart_details .right_expanded_packets .nav>li {
    padding-right: 0px;
}
.popup_cart_details .right_expanded_packets .nav>li>a,
.popup_cart_details .right_expanded_packets .nav>li>a:hover {
    padding: 0;
    background: #F2F2F2 !important;
    border-bottom: 0px;
}
.popup_cart_details .right_expanded_packets .nav>li.active {
    background: rgba(0, 0, 0, 0) url(../images/arrow_active.png) center right no-repeat;
}
.popup_cart_details .right_expanded_packets .nav>li.title,
.popup_cart_details .right_expanded_packets .nav>li>div.title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
}
.popup_cart_details .right_expanded_packets .package-summary {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    min-height: 65px;
}
.popup_cart_details .right_expanded_packets .package-summary p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    border-radius: 10px;
}
.popup_cart_details .right_expanded_packets .package-summary p:first-child {
    color: #000000;
    text-transform: uppercase;
}
.popup_cart_details .right_expanded_packets .active .package-summary p:first-child {
    font-weight: bold;
}
.popup_cart_details .right_expanded_packets .package-summary p.package-type {
    text-transform: capitalize;
}
.popup_cart_details .right_expanded_packets .package-summary.open p.package-type {
    line-height: 20px;
}
.popup_cart_details .right_expanded_packets .package-summary.open {
    background-color: #F2F2F2;
}
.popup_cart_details .right_expanded_packets .package-summary.open p:first-child {
    color: #999;
}
.popup_cart_details .right_expanded_packets .package-summary.open .i_notice-black {
    vertical-align: middle;
    background: url("../images/i_notice-black.png") center center no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: inline-block;
}
.cart_overview {
    overflow-y: auto;
    height: 500px;
}
#right-panel-cart.popup_cart_details {
    padding: 0px;
}
.expanded-package-details .package-items div.package-item:nth-child(odd) {
    border-bottom: 0px;
}

#order_unlock_modal .modal-dialog.modal-sm {
    width: 535px;
}

.availability {
    line-height: 25px;
}

.service-ability-green {
    line-height: 18px;
}

/* IE11 missing arrow in select fix */
#edit_delivered_package select::-ms-expand {
    display: block !important;
}

.fixed-subscription-name {
    color: #2d4552;
    font-weight: bold;
}

.consolidate-details {
    display: inline-block;
    cursor: pointer;
    margin-top: 30px !important;
}

.consolidate-details-text {
    width: 66px;
    height: 9px;
    font-family: Roboto;
    font-size: 10px;
    color: #2d4552;
    font-weight: bold;
    line-height: 20px;
}

.consolidate-detail-expand {
    width: 11px;
    height: 10px;
    object-fit: contain;
    transform: rotate(-360deg);
    margin: 5px 0 0 5px;
}

.consolidate-detail-content {
    width: 100%;
    font-family: Roboto;
    font-size: 14px;
    color: #2d4552;
    font-weight: normal;
    line-height: 24px;
    background-color: #f4f5f6;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    padding: 26px 20px 24px 20px;
    margin-top: 15px;
}

.btn.consolidate-no {
    min-width: 84px;
}

.partial-termination-detail-content {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 3px;
    border: solid 1px #e3e3e3;
    background-color: #f7f7f7;
    color: #2d4552;
}

/* Orderline Section */
.modal.new-style-modal .orderline-section {
    border: none;
    background-color: transparent;
}

.modal.new-style-modal .orderline-section .orderline-header {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: 10px 10px 20px 10px;
}

.modal.new-style-modal .contract-section .orderline-section .orderline-header {
    margin-bottom: 10px;
}

.modal.new-style-modal .orderline-header-title-order {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2d4552;
    text-transform: none;
}

.modal.new-style-modal .orderline-header-title-category {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #5b717c !important;
    text-transform: none;
}

.modal.new-style-modal .orderline-header-title {
    display: inline-block;
}

.modal.new-style-modal .section-content-fixedicon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    background-image: url(../images/fixed.svg);
    background-repeat: no-repeat;
    margin-right: 10px;
}

.modal.new-style-modal .form-group.partial-termination-select.last-child {
    margin-bottom: 20px;
}

.modal.new-style-modal .form-group.partial-termination-select {
    margin: 0 10px 10px 10px !important;
}



/* Modal */
.modal.new-style-modal .modal-dialog .modal-content {
    line-height: 1;
    width: 590px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header {
    padding: 15px 15px 0 20px;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header h4 {
    line-height: 1.25;
    padding-left: 0 !important;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header .close {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url(../images/close.svg);
    position: inherit;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header .close:after {
    width: 20px;
    height: 20px;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-header .close:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.modal.new-style-modal .modal-dialog .modal-content .modal-body {
    padding: 16px 20px 10px 20px;
}
.modal.new-style-modal .modal-dialog .modal-content .modal-footer {
    padding: 10px 20px 20px 20px !important
}
.modal.new-style-modal.loading .modal-dialog .modal-content:before {
    content: url(../images/loader-large.svg);
    display: block;
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    position: absolute;
    animation: spin 1s linear infinite;
}
.modal.new-style-modal.loading .modal-dialog .modal-content .modal-body {
    visibility: hidden;
}

#move-housenumberaddition {
    width: 100% !important;
    height: 44px;
}
#moveServiceAddressCheckForm .popover {
    display: none !important;
}
#moveServiceAddressCheckModal .modal-content .modal-body {
    padding: 0 20px 20px 20px;
}


/* Textarea */
.form-group textarea {
    margin-top: 18px;
}

/*Helper classes*/
.modal.new-style-modal * {
    font-family: Roboto, Helvetica, sans-serif !important;
}

.modal.new-style-modal .disabled {
    pointer-events: none;
}


/* Style items (options): */
.modal.new-style-modal .select-items {
    position: absolute;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    top: 48px;
    border-radius: 3px;
    left: 0;
    right: 0;
    z-index: 99;
}

.unsynced-basket-items {
    margin-top: 20px;
}

.canceled-basket-items {
    margin-bottom: 20px;
}

.unsynced-basket-item-icon {
    display: inline-block;
    background: url(../images/ic-error.svg);
    width: 17.6px;
    height: 17.6px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.unsynced-basket-item-details {
    display: inline-block;
}

.unsynced-basket-item {
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 5px 15px 5px;
}

.unsynced-basket-item-name {
    font-family: Roboto;
    font-size: 14px;
    color: #2d4552;
    font-weight: bold;
    line-height: 18px;
}

.unsynced-basket-item-id {
    font-family: Roboto;
    font-size: 14px;
    color: #5b717c;
    font-weight: normal;
    line-height: 18px;
}

.unsynced-subscription-name {
    font-weight: bold;
}

.cart_packages div[data-package-type="int_tv_fixtel"] div[data-search-results-drawer-visibility="hidden"].incomplete {
    border: 1px solid #ff0000 !important;
    border-top: 1px solid #ff0000 !important;
    border-bottom: 1px solid #ff0000 !important;
}

/* CUSTOM */
#save-cart-modal .modal-footer {
    margin: 0;
}

.modal.new-style-modal .modal-footer .btn.btn-secondary {
    margin-left: 0;
    margin-right: 0;
}

.modal.new-style-modal .form-group.label-floating input,
.modal.new-style-modal .form-group.label-placeholder input {
    transform: unset;
    background: transparent;
}

.modal.new-style-modal .modal-dialog .modal-content .modal-body .row input[type="text"] {
    padding: 19px 13px 7px 12px !important;
}

.modal.new-style-modal .modal-dialog .modal-content .modal-footer .btn:disabled,
.modal.new-style-modal .modal-dialog .modal-content .modal-footer .btn-primary:disabled {
    background: #ddd;
    border-color: #ddd;
}

.modal.new-style-modal .form-group .tooltip {
    left: 0 !important;
    top: 20px;
}

.modal.new-style-modal .form-group .tooltip .tooltip-arrow {
    border-top-color: #e2574c;
    border-bottom-color: #e2574c;
}

.modal.new-style-modal .form-group .tooltip .tooltip-inner {
    background-color: #e2574c;
}

.modal.new-style-modal .tooltip .tooltip-inner {
    box-shadow: none;
    padding: 7px 11px;
    font-weight: bold;
    font-size: 14px;
}

.modal.new-style-modal .modal-dialog .modal-content  .form-group label {
    color: #5b717c;
}
.modal.new-style-modal .modal-content .modal-body .row input[type="text"] {
    border: none;
}

/* overwrites omnius-app style */

#save-cart-modal.modal .modal-header {
    padding: 15px 15px 5px 20px;
}

#save-cart-modal.modal .modal-body {
    padding: 0 15px;
    margin: 0;
}

#save-cart-form .form-group {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

#save-cart-modal .modal-title {
    font-size: 24px;
    color: #2d4552;
    font-weight: normal;
}

#save-cart-form .form-group label {
    font-weight: normal;
}

#save-cart-form p label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#save-cart-modal .modal-header .close {
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background: url(../images/close.svg) 50%;
}
#moveServiceAddressCheckForm .move-service-notification,
#moveServiceAddressCheckForm .move-link-notification{
    padding: 0 !important;
}

#moveServiceAddressCheckForm p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
#moveServiceAddressCheckForm .notification-banner {
    margin: 0px 0px 20px 0px;
}
#moveServiceAddressCheckForm .modal-header {
    margin-bottom: 0px !important;
}

.modal-footer .btn + .btn {
    height: 40px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.modal-footer .btn-primary,
.modal-footer .btn-primary.active,
.modal-footer .btn-primary:active,
.modal-footer .btn-primary:focus,
.modal-footer .btn-primary:hover,
.modal-footer .open .dropdown-toggle.btn-primary {
    width: auto;
    margin: 0px 0px 0px 5px;
    height: 40px;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #e60000, #f48c00);
}

#cancel-single-cart-button {
    margin-right: 10px;
    height: 40px;
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#remove-single-cart-button {
    width: 160px;
    height: 40px;
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #e60000, #f48c00);
    margin-right: 0;
}

#remove-single-cart-button:hover {
    border-radius: 2px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #e60000, #f48c00), linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.cancel-package-modal .modal-dialog {
    width: 530px !important;
}

.modal#cancel-bundle-modal .modal-footer {
    padding-top: 20px !important;
}

.modal .modal-dialog .modal-content .row.cancel-package, .modal .modal-dialog .modal-content .row.cancel-package .col-md-3{
    display: flex;
}


