#stock-modal .product-image {
    float: left;
}
#stock-modal .product-name,
#stock-modal .stock-status,
#stock-modal .product-description {
    margin-left: 40px;
}
#stock-modal table.local-stock {
    border-top: 1px solid #000;
    width: 100%;
    margin-top: 20px;
}
#stock-modal table.local-stock th, #stock-modal #stock-other-stores table th {
    height: 50px;
    text-align: left;
    background: #f2f2f2;
    line-height: 50px;
}
#stock-modal table.local-stock th:first-child, #stock-modal #stock-other-stores table th:first-child {
    text-align: center;
}
#stock-modal table.local-stock tbody td, #stock-modal #stock-other-stores table tbody td {
    line-height: 40px;
}
#stock-modal table.local-stock tbody td.number, #stock-modal #stock-other-stores table tbody td.number {
    text-align: center;
    width: 100px;
}
#stock-modal #display-stores {
    line-height: 40px;
    margin-left: 20px;
}
#stock-modal #hide-stores {
    line-height: 40px;
    margin-left: 20px;
}
#stock-modal #stock-other-stores {
    display: none;
    max-height: 400px;
    overflow: auto;
}
#stock-modal #stock-other-stores table {
    border-top: 1px solid #000;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #000;
}
#stock-modal #stock-other-stores table thead td {
    text-align: center;
    line-height: 50px;
}
#stock-modal #stock-other-stores .input-group{
    margin: 0 auto;
}
.popover-content .nav-tabs {
    display: block !important;
}
#stock-modal #stock-other-stores table tbody td {
    border-top: #000 dotted 1px;
}

#stock-other-stores .select2.select2-container{
    width: 100%;
}
#stock-modal .modal-block span.glyphicon {
    font-family: 'Glyphicons Halflings';
}
#stock-other-stores .select2-container {
    display: none;
}