.cb_slide_panel.panel_top .inner {
    margin-top: 52px;
    padding: 30px 5px;
}

#search-inlife-phone-number .modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.top-menu-element:hover {
    background-color: #f4f4f4;
}

.top-menu-element.selected {
    background: #CBE4FF;
}

.cursor-pointer {
    cursor: pointer
}

#creditcheck-search-results, #porting-search-results, #validation-search-results, .results {
    overflow-y: auto;
    overflow-x: hidden;
}

#failed-validations-content .wrapper.menu-wrapper {
   overflow-y: auto;
}

.italic-gray {
    color: #999999;
    font-style: italic;
}

ul.pagination {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    margin-top: -5px;
}

.col-xs-1 .notretainablectn.glyphicon.glyphicon-remove-circle {
    padding-right: 5px;
    font-size: 22px;
}

.package_target {
    display: none;
}

tr.package_target_header td {
    border-top: 0 !important;
}

.orders_table {
    display: none;
}

.open_order_error_info {
    cursor: pointer;
}

.order_nowrap {
    white-space: nowrap;
}

#openorders-search-results th {
    width: auto !important;
}

.open_order_error_info {
    position: relative;
}

.open_order_error {
    position: absolute;
    right: 0;
    display: none;
    width: 250px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    bottom: 20px;
    background-color: #ffff00;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #000;
}

.open_order_error .has-porting {
    font-weight: bold;
    color: #f00;
}

.open_order_error_code {
    font-weight: bold;
}

.package-items-table td.names {
    overflow: visible;
}

.generic_tool_tip_container {
    position: relative;
    display: inline-block;
}

.generic_tool_tip {
    visibility: hidden;
    width: 120px;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 5px 5px;
    font-size: 12px;

    border-color: darkgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* To make the tooltip have that little arrow so it looks like an text ballon*/
.generic_tool_tip_container:hover .generic_tool_tip::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.generic_tool_tip_container:hover .generic_tool_tip::before {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent darkgrey transparent;
}

.generic_tool_tip_container:hover .generic_tool_tip {
    visibility: visible;
    opacity: 1;
}

/* Prevent the user from dragging the element across the screen */
.non_drag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.order_details {
    cursor: pointer;
}

th.open-orders-10m td {
    min-width: 90px;
}

.package_table td {
    padding-left: 0 !important;
}

.openorderby {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order_table_details {
    cursor: pointer;
    text-align: left;
}

.order_table_details span {
    line-height: 20px;
}

.order_table_details span.menu-arrow-down {
    line-height: 24px;
}

.order_details td span {
    vertical-align: middle;
}

.order_details td span img {
    display: inline-block;
}

.orders_table .menu-arrow-down {
    line-height: 18px;
}

.open_orders_results input {
    width: 40px;
    vertical-align: middle;
    font-size: 13px;
    padding: 0;
}

.open_order_results_change {
    cursor: pointer;
    font-size: 10px;
}

.open_orders_pagination_container {
    text-align: center;
    padding-top: 20px;
}

.pagination .active2 span {
    cursor: pointer;
}

.open-orders-search-reset {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.order_details.top-menu-element .btn-info {
    font-size: 14px;
    font-weight: 400;
    height: auto;
    padding: 6px 12px;
    width: auto;
}

#user-menu-content .wrapper.menu-wrapper,
#service-stub-content .wrapper.menu-wrapper,
#open-orders-content .wrapper.menu-wrapper,
#number-porting-content .wrapper.menu-wrapper,
#credit-checks-content .wrapper.menu-wrapper {
    overflow-y: auto;
}

#products-content {
    font-size: 14px;
}
#products-content .ctn_list {
    padding: 1px 0 5px 0;
    border-top: 1px solid #000;
    clear:left;
}
#products-content .ctn_list .ctn_overview {
    border-top: 1px solid #DDD;
    clear: left;
    overflow: auto;
    min-height: 115px;
}
#products-content .ctn_list li {
    padding: 8px;
}
#products-content .ctn_overview ul {
    border-bottom: 1px dotted #DDD;
    padding: 5px 0;
    clear:both;
}
#products-content .ctn_overview ul ul{
    border-bottom: 0px;
    padding: 0px;
}
#products-content .ctn_overview ul ul li{
    padding: 0px;
}
#list_ctns .ctn_record .ctn_checkbox {
    margin-top: 0;
}
#list_ctns .ctn-details {
    display: none;
}
#list_ctns .ctn-details p{
    margin: 0px;
}
#list_ctns .ctn-details-trigger {
    font-family: "vficons-regular-webfont";
    cursor: pointer;
    color: #51b2c5;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}
.search_ctn {
    margin-left: -30px;
    width: 30px;
    height: 30px;
    text-decoration: none;
}
#search_msg {
    display: none;
    color: #FF0000;
    clear: left;
}
.ctn_list_actions {
    border-top: 1px solid #000;
    clear: left;
    padding: 0px 15px
}
#select_only_retainable {
    clear: left;
    cursor: pointer;
}
#select_only_retainable label{
    display: inline;
}
#select_only_retainable label#only_retainable_check_label {
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.orders_table .action-column {
    min-width:230px;
    max-width:230px;
    width:230px;
}

.sim_icon {
    width: 10px !important;
    vertical-align: top !important;
}

#customer-screen-orders .title {
    text-align:left;
}

.top_menu_content .tab-title {
    text-align:left;
}
