<div class="tab-pane top_menu_content" id="orders-content">
    <h3 class="tab-title"><?php echo $this->__('Orders'); ?></h3>
    <div id="orders-overview">
        <div id="customer-screen-orders">
            <!-- Fixed with ajax -->
        </div>
    </div>
    <div id="open-order">

    </div>
</div>

<script type='text/javascript'>
  window.eventEmitter.emit('CUSTOMER_ORDERS_RENDER');
</script>
