<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

echo $this->getFormInitScripts() ?>
<?php echo $this->getFormHtml() ?>
<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>
    <script type="text/javascript">
        importForm = new varienForm('edit_form', '<?php echo $this->getValidationUrl() ?>');
    </script>
<?php echo $this->getFormScripts() ?>