/*
 * Copyright (c) 2016. Dynacommerce B.V.
 */

body { background: none; background-color: #f4f4f4; position: relative;z-index: 0; outline: none; }
a {outline: none;}
:active, :focus { outline: none !important; -moz-outline-style: none; }
.header-container { border:0; border-bottom: 1px solid #CCCCCB; text-align: left; }
.main-container { background: none; }

.spinner {position: fixed;width:100%;height:100%;left:0;right:0;text-align:center; opacity: 0.7;-moz-opacity: 0.7;filter: alpha(opacity=70); z-index: 1000; background: #fff;}

.header, .footer { width: auto; min-width: 954px; padding: 0; text-align: left; }
.header { background: #ebebeb; padding: 10px; z-index: 3002; }

.block {background-color: #FFF;padding:10px}
.red {color: #F00}
.fbold {font-weight: bold}
.cb_slide_panel .wrapper {  }
.cb_slide_panel .menu-middle {  }
.cb_slide_panel .menu-middle .menu-content { min-height: 240px; border: 1px solid #ddd; }
/*.nav-tabs>li>a { background-color: #ddd;}*/
.cb_slide_panel .right-section .el-tab { background: #fff; text-align: left; cursor: pointer;}
.cb_slide_panel .left-section .el-tab { background: #fff; text-align: left; cursor: pointer;}
.cb_slide_panel.panel_top a.close {width: 12px; height: 13px;z-index: 1;}


.main { width: auto; padding: 0; background: none;  }
.pad-left-0 {padding-left: 0;}
.pad-right-0 {padding-right: 0;}

.col3-layout .col-main { float: none; margin: 0 301px; width: auto; position: relative; z-index: 1001;}
.col-right { width: 300px; position: relative; z-index: 1002; padding:20px; background: #fff; /*full height margin-bottom: -99999px; padding-bottom: 99999px; */ }
.col-left { position: relative; z-index: 1003; padding:20px; background: #fff; /*full height margin-bottom: -99999px; padding-bottom: 99999px; */ }
.col-right .sticker {float: left; width: 100%; padding-top: 10px;margin-top: -10px;}
.col-left .sticker {float: right; width: 260px;}
.col-left .panel-content,
.col-right .panel-content {display: none;}

.col-title { color: #F00; font-size: 18px; margin-bottom: 0; }
.enlarge {  position: absolute; background: #FFF; border: 0; width: 17px; height: 19px; }

.col-left { border-right: 1px solid #AAA; }
.col-left .enlarge { right: -17px; background: url("../images/enlarge_icon_right.png") center center no-repeat; }
.col-left .enlarge.right-direction.contracted { background: url("../images/enlarge_icon_right.png") center center no-repeat;  }
.col-left .enlarge.right-direction.expanded { background: url("../images/enlarge_icon_left.png") center center no-repeat;  }
.col-left .search-block { margin-top: 10px; }
.col-left .search-block .btn { width: 107px; }
.col-left .search-block .advanced-search { margin-top: 5px; float: left; }
.col-left .search-block .advanced-search a { color: #56BFDF; font-size: 12px; }

.col-right { border-left: 1px solid #AAA; }
.col-right .enlarge { left: -17px; }
.col-right .enlarge.left-direction { background: url("../images/enlarge_icon_left.png") center center no-repeat;  }
.col-right .enlarge.right-direction { background: url("../images/enlarge_icon_right.png") center center no-repeat;  }
.col-right .enlarge.left-direction.contracted { background: url("../images/enlarge_icon_left.png") center center no-repeat;  }
.col-right .enlarge.left-direction.expanded { background: url("../images/enlarge_icon_right.png") center center no-repeat;  }
.col-right .col-title .drop-menu { margin-top: 9px; }
.col-right .sticker div.small { font-size: 11px; color: #999; line-height: normal; margin-bottom: 10px; }
.col-right .sticker .col-title.order-edit {background: url(../images/order_edit.jpg) no-repeat scroll left 3px transparent;}
.col-right .buttons-container .btn { text-align: left; padding-left: 10px; }
.col-right .buttons-container #show-packages { background: url(../images/button_normal.png) repeat-x scroll left rgba(0, 0, 0, 0);color: #000 !important; text-align: center;border-radius: 4px; height: 24px; line-height: 1.4;font-size: 16px;}
.col-right #cart_totals {}
.col-right #cart_totals table.fullWidth td:nth-child(2),
.col-right #cart_totals table.fullWidth td:nth-child(3)
{
    width: 25%;
}

#cart_totals {text-align: right;}
#cart_totals .div-table {width: 100%;}
#cart_totals .div-table .div-table-row-header {background-color: #f8f8f8;border-bottom: 1px solid #DDDDDD;}
#cart_totals .div-table thead .div-table-row-header {border-top: 1px solid #DDDDDD;font-weight: bold;background-color: #EDEDED;padding: 2px 0;}
#cart_totals .div-table thead .div-table-row-header th {font-weight: bold;}
#cart_totals .cart_totals_btw, #saveSuperOrder .superorder-totals .cart_totals_btw {
    font-weight: bold;
    color: #818181;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 18px;
}
#cart_totals .div-table tbody {background-color: #f8f8f8;}
#cart_totals .div-table tbody tr {border-bottom: 1px solid #ddd;}
.cart_totals_header {color: #FF0000; text-align: right;margin-bottom: 0}

#saveSuperOrder .superorder-totals .div-table-row-header {border-top: 1px solid #DDDDDD;border-bottom: 1px solid #DDDDDD;background-color: #EDEDED;padding: 2px 0;}
#saveSuperOrder .superorder-totals .div-table-row-header td {font-weight: bold;font-size: 14px;}
#saveSuperOrder .superorder-totals .cart_totals_header label {font-size: 18px !important;}
#saveSuperOrder .superorder-totals .gray {background-color: #f8f8f8;border-bottom: 1px solid #DDDDDD;font-size: 14px;padding: 1px 5px;}

#cart_totals .div-table-row .div-table-cell {padding: 1px 5px;/*border-right: 1px dotted #CCC;*/}
#cart_totals .div-table-row .div-table-cell:last-child {border-right: 0}
#cart_totals .div-table-row.title-row .div-table-cell {border-right: 0}
#cart_totals .div-table-row.grand-total {color:#FF0000;padding:5px;font-size: 12px}
#cart_totals .div-table-row.grand-total td {font-weight: bold}
#cart_totals .checkout-button {margin-top: 11px}

#saveSuperOrder #cart_totals {font-size: 14px;border: none;}
#saveSuperOrder #cart_totals .cart_totals_header {color: #000;}
#saveSuperOrder h4{width: 100%; border-bottom: 1px solid #000;}
#saveSuperOrder label{font-weight: normal;font-size:14px}
#saveSuperOrder p.dotted{border-bottom: 1px dotted #CCC;font-size:16px;line-height: 20px;margin-bottom: 5px;padding-bottom: 5px;}
#saveSuperOrder p.dotted span {font-size: 14px;display: inline-block}
#saveSuperOrder p.dotted span.small{width: 4%;min-width: 25px;}
#saveSuperOrder p.dotted span.small img {width: 25px}
#saveSuperOrder p.dotted span.medium {width: 15%}
#saveSuperOrder label.striked{text-decoration: line-through;}

.bg-warning { background-color: #FFFFCC; padding: 5px 0; text-align: center; margin-right: 10px}

.drop-menu { cursor: pointer; float: left; }
#left-panels, #right-panels { position: relative; width: 100%; z-index: 3001; }

#top-panels {position: absolute; width: 100%; height: 100%; z-index: 3001; top: 0px; left: 0px; display: none;}
#top-panels #credit-checks-content, #top-panels #number-porting-content, #top-panels #failed-validations-content, #top-panels #open-orders-content  {text-align: left}
#top-panels .title {color: #333;font-size: 18px;}
#top-panels .status {background-color: #ccc; padding: 5px 10px;font-weight: bold;color: #000 !important;}
#top-panels .flash {background-color: #fff; border: 1px solid #ccc; color: #000 !important;font-weight: normal;padding: 5px 10px}
#top-panels .success .glyphicon {color: #008000}
#top-panels .warning .glyphicon {color: #ffA500}
#top-panels .error .glyphicon {color: #FF0000}
#top-panels .panel-default>.panel-heading {background-color: #ccc; font-weight:bold;}
#top-panels .menu-middle {overflow-y: auto}
#top-panels .tab-content .tab-pane .table th {width: 20%}
#top-panels .tab-content .tab-pane .table th:nth-child(2) {width: 30%}
#top-panels .tab-content .tab-pane .table th:last-child {width: 10%}
.notification-cancel-packages { background:#999999; color: #cccccc; margin: 5px }
.menu-icon { background: url(../images/menu_line.png) repeat-y; height: 9px; width: 11px; float: left; }

.actions-menu-wrapper { margin: 0 300px; }
.actions-menu-wrapper ul li { float: left; padding: 0 20px; margin: 0 10px; background-color: #FFF; border: 1px solid #000; }

.user-menu { float: right; cursor: pointer;}
.user-menu-icon { background: url(../images/user-menu_icon.png) repeat-y; height: 22px; width: 35px; float: left; }

.customer_left_search {margin:0 auto;font-size: 11px}
.customer_left_search p {padding:0;margin:0;}
.customer_left_search label {margin:0px;clear:left;display: block;}
.customer_search_field {float:left;width:50%;}
.customer_search_field.clean { line-height: 34px; }
.customer_search_field input[type=text] {width:107px;border-collapse: collapse; border: 1px solid #BBBBBB;}
.customer_search_results {display:none;position: relative}
.customer_search_results.empty {height: auto;overflow: auto}
.customer_search_results .result {border-bottom:1px solid #CCC;cursor:pointer}
.customer_search_results p:first-child{text-transform: uppercase}
.customer_search_results #customer_list {overflow-y: auto; height: 100%; height: calc(100% - 376px); height: -moz-calc(100% - 376px); height: -webkit-calc(100% - 376px); height: -o-calc(100% - 30px); height: -ms-calc(100% - 30px);}
span.campaign{background-color: #CCC;padding: 0 10px;border: 1px solid grey;}
.customer_data{border-bottom: 1px solid #808080}
.ctn_box{width: 25px;text-indent: -100000px; margin: 0 auto;}
.ctn_box.retainablectn{background: url(../images/retainable-icon.png) center center no-repeat;}
.ctn_box.retainablectn-override{background: url(../images/retainable-icon-override.png) center center no-repeat;}
.ctn_box.inlife{background: url(../images/inlife_icon.png) center center no-repeat;height:25px;}
#no_retainable_msg {display:none;color:#ff0000; font-weight: bold; position: absolute; left: 15px; top: 0px;}
.retainable{display:none}
.ctn_actions {margin: 0 9% 0 1%; clear:left}
.top_menu_content {
    /*clear:left;*/
    display: block;
    background: #fff;
    padding: 10px 30px;
    max-height: 500px;
    overflow-y: auto;
}
.top_menu_item {
    padding: 10px 45px;
    border-style: solid;
    border-color: #000;
    border-width: 1px 1px 0 1px;
    margin-right: 18px;
    border-radius: 0 40px 0 0;
    background: #fff;
    -moz-border-radius: 0 40px 0 0;
    -o-border-radius: 0 40px 0 0;
}
.top_menu_item.active {background-color: #A9A9A9}

.tab{background: url(../images/memo_tab.png);background-repeat: no-repeat;float: left;margin-top:10px;min-width:65px;height:21px;padding:5px 10px}
.tab.general {clear: left;}
.tab_content{height:200px;overflow-y: auto;margin-top:10px;padding-left:10px;}
.customer_ctns label{display: inline;cursor: pointer}
.hide {display:none}

#tab_products a{float:left}
#tab_products input[type=text]{float:left;width:150px}
#customer_details_panel .top_menu_item {display:inline;margin-right: 0px}
.refresh {background: url(../images/refresh_icon.png) 8px center no-repeat;padding-left:35px}
#list_ctns{padding:15px;}
#list_ctns label {display:inline}

#products-content {font-size: 14px;}
#products-content .ctn_list {padding: 1px 0 5px 0;border-top: 1px solid #000; clear:left;}
#products-content .ctn_list > li {}
#products-content .ctn_list .ctn_overview { border-top: 1px solid #DDD; clear: left; overflow: auto; min-height: 115px;}
#products-content .ctn_list li {padding: 8px;}
#products-content .ctn_overview ul {border-bottom: 1px dotted #DDD;padding: 5px 0; clear:both;}
#products-content .ctn_overview ul ul{border-bottom: 0px; padding: 0px;}
#products-content .ctn_overview ul ul li{padding: 0px;}
#list_ctns .ctn_record .ctn_checkbox {margin-top: 0;}
#list_ctns .ctn-details {display: none;}
#list_ctns .ctn-details p{margin: 0px;}
#list_ctns .ctn-details-trigger {font-family: "vficons-regular-webfont"; cursor:pointer; color:#51b2c5; font-size: 21px; line-height: 21px; text-align: center;}
.search_ctn {margin-left: -30px;width: 30px;height: 30px;text-decoration: none}
#search_msg {display:none;color:#FF0000;clear:left}
.ctn_list_actions {border-top:1px solid #000;clear:left;padding:0px 15px}
#select_only_retainable {clear:left;cursor: pointer}
#select_only_retainable label{display: inline}
#select_only_retainable label#only_retainable_check_label { display: block; cursor: pointer; margin: 0; padding: 0; }
.order_overview {clear:left}
.cart_overview {clear:left}
.cart_overview li.cart_status {background: url(../images/cart-black.png) no-repeat left center; padding-left: 60px;}
.cart_overview li.cart_status_active {background: url(../images/cart-black.png) no-repeat left center; padding-left: 60px;}
.cart_overview .cart-item {margin-left: 10px;}
.cart_overview .cart-item > div {font-weight: bold; color:#969696; line-height: normal; text-transform: uppercase;}
.cart_overview .cart-item > span {line-height: normal;font-size: 12px;vertical-align: top;}
.col1-layout .account-login, .col1-layout .dealer-code-select {
    background: #fff;
    width: 400px;
    margin: 50px auto 0;
    border: 1px solid;
}

.stock-label {text-align: right;position: absolute;right: 15px}
.package-stock-label { padding: 0 3px; color: #FFF; background: #008000; font-size: 11px; border-radius: 2px; }

/* Reveal Modal ========================================================================== */
.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background: #000; background: rgba(0,0,0,.8); z-index: 100; display: none; top: 0; left: 0; }
.reveal-modal { visibility: hidden; top: 100px; left: 50%; margin-left: -300px; width: 520px; background: #eee url(modal-gloss.png) no-repeat -200px -80px; position: absolute; z-index: 101; padding: 30px 40px 34px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 0 10px rgba(0,0,0,.4); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); -box-shadow: 0 0 10px rgba(0,0,0,.4); }
.reveal-modal.small 	{ width: 200px; margin-left: -140px;}
.reveal-modal.medium  { width: 400px; margin-left: -240px;}
.reveal-modal.large 	{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge { width: 800px; margin-left: -440px;}
.reveal-modal .close-reveal-modal { font-size: 22px; line-height: .5; position: absolute; top: 8px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rbga(0,0,0,.6); font-weight: bold; cursor: pointer; }

/* Modal */
.modal-backdrop { z-index: 10030; }
.modal { top: 7%; overflow-y: auto; z-index: 10040 !important; }

.modal .modal-content p { margin-bottom: 0; }
.modal .modal-footer { margin-top: 0; }
.modal .modal-dialog { text-align: left; }

.reveal-modal { visibility: hidden; top: 100px; left: 50%; margin-left: -300px; width: 520px; background: #f3f3f3 url(../images/modal-gloss.png) no-repeat -200px -80px; position: absolute; z-index: 101; padding: 20px; -moz-box-shadow: 0 0 10px rgba(0,0,0,.4); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); box-shadow: 0 0 10px rgba(0,0,0,.4); }
.reveal-modal.small { width: 200px; margin-left: -140px;}
.reveal-modal.medium { width: 400px; margin-left: -240px;}
.reveal-modal.large { width: 600px; margin-left: -320px;}
.reveal-modal.xlarge { width: 800px; margin-left: -420px;}
.reveal-modal .close-reveal-modal { font-size: 22px; line-height: .5; position: absolute; top: 8px; right: 11px; color: #aaa; text-shadow: 0 -1px 1px rbga(0,0,0,.6); font-weight: bold; cursor: pointer; }
.reveal-modal .modal-content { max-height: 354px; overflow-y: auto; }

/* Autocomplete ========================================================================= */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 3px; white-space: nowrap; overflow: hidden; text-align: left; }
.autocomplete-selected { /*background:  #F0F0F0 ;*/ background: #F4f4f4; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }


.cart_list {border-top: 1px solid #000; border-collapse: separate;
    border-spacing: 0; min-width: 600px;}
.cart_list .spacer { width: 5px; background-color: #FFFFFF}
.cart_list>thead:first-child>tr:first-child>td:first-child {width: 180px}
.cart_list>thead:first-child>tr:first-child>td:nth-child(3) {width: 128px}
.cart_list td.row { border-bottom: 1px dotted #A5A5A5 !important; padding-bottom: 10px !important; }

#carts-content {font-size: 14px;}
#carts-content .cart_list {padding: 1px 0 5px 0;border-top: 1px solid #000;}
#carts-content .cart_list > li {}
#carts-content .cart_list .cart_overview { border-top: 1px solid #DDD; }
#carts-content .cart_list li {padding: 8px;}
#carts-content .cart_overview ul {border-bottom: 1px dotted #DDD;padding: 5px 0; clear:both;}
.cart_list .btn { }
.btn-close { background: url(../images/delete.gif) no-repeat right; cursor: pointer; width: 19px}

.order_overview li {background: none}
.cart_overview li {background: none}
#tab_orders {background-color: #FFF;height:500px;overflow-y: auto;}

.arrow_asc{cursor: pointer; background: url(../images/arrow_up.png) no-repeat right center;}
.arrow_desc{cursor: pointer; background: url(../images/arrow_down.png) no-repeat right center;}
.top_menu_items{height:28px;}
.white{background-color: #FFF}

/* Customer Memo */
.memo_new{background: url(../images/box.png) no-repeat;margin-right:10px;font-size: 11px;width: 50px;height: 23px;display: block;padding: 5px 0 0 5px;}
.memo_panel {background-color: #FFF}
.memo_panel p{margin:0}
.memo_panel_top, .memo_panel_search {margin:10px 5%;border-bottom: 1px solid #000;min-height: 50px}
.memo_panel_top a.new_memo{float:right;background: url(../images/box_medium.png) no-repeat;width: 68px;height: 32px; padding: 7px 12px 0 12px}
.memo_panel_top h3{float:left}
.memo_panel_search #memo_search{background: url(../images/search_icon.png) no-repeat right center; margin:0 auto;display:block;width:200px}
.memo_panel_search .memo_buttons{margin:0 auto;display:block;width: 390px}
.memo_panel_search .memo_buttons input{margin: 10px}
.memo_detail_left {width: 50%;float:left;}
.memo_detail_right {width: 50%;float:left;height: 500px;overflow-y: auto;}
.memo_detail_content {cursor: pointer;width: 90%;margin-left:10%;background-color: #F2F2F2}
.memo_content_arrow {background: url(../images/left_arrow_large.png) no-repeat left center;width: 19px;min-height: 74px;float:left;display: block}
.memo_detail_content .memo_content_arrow {display: none}
.memo_detail_content.active .memo_content_arrow {display: block}
.memo_detail_content.active {width:100%;margin:0;background: none;}
.memo_content_data {height:74px;overflow-y: hidden;margin-bottom: 15px}
.memo_detail_content.active .memo_content_data {margin-left:19px;background-color: #ccc;padding-left: 44px}
.memo_details_actions{height: 40px;background-color: #F2F2F2;padding:10px;margin:0 0 20px 10%}
.memo_edit, .memo_delete {width: 18px;height: 18px;margin-right: 10px;display: inline-block}
.memo_edit {background: url(../images/edit_icon.png) no-repeat;}
.memo_delete {background: url(../images/delete_icon.png) no-repeat;}
.memo_data_details{margin:0 0 0 10%; border-bottom: 1px solid #CCC}
.memo_content.case{display:none}
.memo_content{margin-left: 10px;font-size:12px;max-height: 300px;overflow-y: auto}
.memo_content p{margin: 0}
.memo_search{background: url(../images/search_icon.png);width: 28px;height: 26px;display: block;}
.memo_menu {margin-top:40px;padding:0}


/* Sidebar cart */
.side-cart { font-size: 12px; }
.side-cart .row { margin: 0; }
.side-cart.block:last-child{border-bottom: 1px solid #DDD !important;}
.side-cart.block {padding:0 20px 0 0;position: relative; border-top: 1px solid #DDD !important; background-color: #FFF;}
.side-cart.block .package-type {text-transform: capitalize}
.side-cart.block .content .group-header {cursor: pointer;}
.side-cart.block .content .row, .side-cart.block .coupon-section{display: none}
.side-cart.block.active .content .row, .side-cart.block.active .coupon-section{display: block}
.side-cart.block .box-description {color:#999999; background: #f8f8f8; }
.side-cart.active.block .content.package-with-ctn .box-description{ margin-bottom:0; }
.side-cart.block .box-description span {text-transform: uppercase}
.side-cart.block .box-description span.box-description-ctn { text-transform: none;}
.side-cart .block-container {border-right:1px solid #CCC;padding:0}
.side-cart .block-container > .title {height: auto; padding: 10px 10px 10px 0;background-color: #f8f8f8;}
.side-block-activate {text-align: center;width: 20px;line-height: 20px;height: 20px;margin-top: -10px;position: absolute;right: 0;top: 50%;font-size: 16px;color: #CCC;}
.side-cart.block.active {background: #FFF}
.remove-coupon {line-height: 11px;padding-right: 15px;background: url(../images/btn_remove.gif) right center no-repeat;font-style: normal;cursor:pointer}
.side-cart [class^="col-"] { padding: 0; }
.side-cart .drop-menu { float: right; position: relative;}
.side-cart .drop-menu.open {z-index: 911}
.side-cart .title {cursor: pointer; position: relative}
.side-cart .title .mark { font-size:14px;text-transform: capitalize}
.side-cart .small-label { font-size: 13px; text-align: right; font-weight: bold; }
.side-cart .section { cursor: pointer;}
.side-cart .link { font-size:11px; text-decoration:underline; }
.side-cart .content {margin: 0; font-size: 10px; color: #999999;padding-left: 10px; padding-right: 10px;}
.side-cart.active .content {padding: 0;}
.side-cart .package-details {color: #9933CC; width: 50%;}
.menu-expand {width: 130px; position: absolute; right: 2px; top: 10px; display: none; z-index: 900}
#expanded_form .menu-expand{ margin-right: 17px; }
#right-panel-cart .menu-expand{top: 12px;}
.side-cart .menu-expand { top: 10px;}
.menu-expand ul a{ color: #000;}
.menu-expand ul a:hover{ text-decoration: none;}
.menu-expand.full {right:0}
.menu-expand.open {display:block}
.menu-expand ul {padding:5px 0}
.menu-expand ul li {cursor: pointer; width:130px; font-weight: normal;font-size:12px; color: #000; }
#right-panel-cart .menu-icon{ background: url("../images/menu_cart_menu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 14px;
    width: 14px; }
#right-panel-cart .drop-menu{
    margin-right: 5px;
    margin-top: 10px;
}
#right-panel-cart .menu{
    font-family: 'vficons-regular-webfont';
    color: #ff0000;
    font-size: 19px;
    float: left;
    height: 20px;
    line-height: 11px;
    margin: 0px 0;
    min-height: 5px;
    padding-right: 10px;
    width: 25px;
}
.coupon-section {padding-bottom: 6px; background-color: #f8f8f8; font-size: 12px; border-top: 1px solid #CCC; /*border-bottom: 1px solid #CCC;*/ line-height: 17px; margin-top: 5px;}
.coupon-section .coupon {line-height: 16px;padding-top: 5px !important;margin-left: 5px;}
.right-align { text-align: right; }
.buttons-container { position: relative; margin-bottom: 20px; }

.cart_packages {height: 500px;margin-bottom: 10px}
.active div.title span:first-child {
}
.active .box-description
{
    display: none;
}
.package-with-ctn .box-description,
.package-with-ctn .box-description > span {
    display: block !important;
    text-transform: none;
}
.active .retention-package .box-description{
    display: block;
}
.one-off-deal-package .package-current-label,
.one-off-deal-package br
{
    display: none;
}

.package-with-ctn .package-current-label {
    padding-left: 10px;
}

div.title div.package-arrow-right span, div.title div.package-arrow-down span{
    font-family: "vficons-regular-webfont" ;
    font-size: 24px;
    line-height: 10px;
    vertical-align: middle;
}
div.title div.package-arrow-down{
    display: none;
    width: 30px;
}
div.title div.package-arrow-right{
    display: inline-block;
    width: 30px;
}
.side-cart.active div.title div.package-arrow-down{
    display: inline-block;
}
.side-cart.active div.title div.package-arrow-right{
    display: none;
}
div.title span.package-type{
    font-size: 14px;
}
div.title .menu span{
    background: none;
    padding: 0px;
    color: #666;
    font-family: "vficons-regular-webfont";
    font-size: 19px;
}
.buttons { padding: 10px;
    margin: 0 1px;
    position: absolute;
    width: 280px;
    bottom: -80px;
    background: #fff;
    border-radius: 4px;
    z-index: 100;
}
.cart_right_expanded {position: relative}
.cart_right_expanded .drop-menu{position: absolute;top:0px;right:20px}
.cart_right_expanded p{padding:0px;}
.cart_right_expanded .title{text-transform: uppercase}
.right_expanded_packets {float:left; height: 100%; overflow: auto;}
.right_expanded_packets .nav {margin-top: 10px}
.right_expanded_packets .nav>li {padding-right: 17px}
.right_expanded_packets .nav>li>a, .right_expanded_packets .nav>li>a:hover {padding: 0;background:#F2F2F2 !important}
.right_expanded_packets .nav>li.active {background: rgba(0, 0, 0, 0) url(../images/arrow_active.png) center right no-repeat;}
.right_expanded_packets .nav>li.title, .right_expanded_packets .nav>li>div.title {margin-top: 5px;font-size: 16px;font-weight: 700;}
.right_expanded_packets .package-summary {margin-bottom:10px;padding:10px;cursor: pointer;min-height: 65px;}
.right_expanded_packets .package-summary p{padding: 0px;margin:0px;font-size: 12px;border-radius: 10px}
.right_expanded_packets .package-summary p:first-child{color:#000000;text-transform: uppercase;}
.right_expanded_packets .active .package-summary p:first-child{font-weight:bold;}
.right_expanded_packets .package-summary p.package-type{text-transform: capitalize}
.right_expanded_packets .package-summary.open p.package-type{line-height: 20px;}
.right_expanded_packets .package-summary.open {background-color: #F2F2F2;}
.right_expanded_packets .package-summary.open p:first-child {color:#999;}
.right_expanded_packets .package-summary.open .i_notice-black {vertical-align:middle; background: url("../images/i_notice-black.png") center center no-repeat; background-size: 14px 14px; width: 14px; height: 14px; display: inline-block;}
.expanded-package-container {height: 100%;padding-right: 0;}
.expanded-package-details {overflow-y: auto; height: 100%; height: calc(100% - 260px); height: -moz-calc(100% - 260px); height: -webkit-calc(100% - 260px); height: -o-calc(100% - 260px); height: -ms-calc(100% - 260px);padding-right: 15px;}
.expanded-package-details .package-expand {clear: left;margin-top:10px;margin-bottom:60px;font-size: 12px; position:relative;/*min-height: 610px;*/}
.expanded-package-details .package-expand:last-child{margin-bottom: 0px;}
.expanded-package-details .package-expand p{padding:0px;margin:0px}
.expanded-package-details .package-expand a{padding: 3px 0 3px 25px;color:#000;}
.expanded-package-details .package-expand .nav-tabs a {padding: 10px 15px;}
.expanded-package-details .package-expand a.edit-package{background: url(../images/edit_icon.png) no-repeat;padding-right: 15px;border-right: 1px solid #CCC}
.expanded-package-details .package-expand a.remove-package{background: url(../images/delete_icon.png) no-repeat}
.expanded-package-details .package-items{clear: both;line-height: 50px;padding-top:5px}
.expanded-package-details .package-items img {}
.expanded-package-details .package-items div.package-item:nth-child(odd){background-color: #F2F2F2;border-bottom: 1px solid #CCC}
.expanded-package-details .package-items div.package-item:nth-child(even){background-color: #FFF;}
.expanded-package-details .package-items div.package-item input[type=text] {line-height: 14px;margin-right: 10px}
.expanded-package-details .package-items div.package-item p {line-height: 15px}
.expanded-package-details .package-items div.package-item.totals {border-top:1px solid #CCC}
.expanded-package-details .package-items div.package-item.totals textarea{ line-height: 12px;}
.expanded-package-details .package-items .ctn {line-height: 20px;margin-right: 10px;float: left;border-bottom: 1px dotted #000;padding: 0 20px 0 0;}

.package-items-table {width: 100%;table-layout: fixed; border-collapse:separate;}
.package-items-table tr.small td {line-height: 5px;}
.package-items-table th, .package-items-table td {padding: 0 5px;overflow: hidden;}
.package-items-table label {font-weight: normal; margin-bottom: 0;}
.package-items-table label.striked {text-decoration: line-through;}
.package-items-table thead {background-color: #f2f2f2;}
.package-items-table thead th {vertical-align: middle; border-bottom: 0px; height: 60px;}
.package-items-table tfoot {background-color: #f2f2f2;}
.package-items-table tfoot td {padding: 5px;}
.package-items-table th.description {overflow: visible; position: relative;}
.package-items-table th.description .wrap {position: relative;}
.package-items-table th.description .wrap .text {position: absolute; left: -55px; top: 0; line-height: 60px; top: -30px;}
.package-items-table th.description .wrap .text .package-type {float: left; margin-right: 15px;}
.package-items-table .monthly-costs {width: 120px;min-width: 120px; max-width: 120px;}
.package-items-table .one-of-costs {width: 120px;min-width: 120px; max-width: 120px;}
.package-items-table .one-of-costs-indirect {display: none;}
.package-items-table .img {width: 60px;min-width:60px; max-width: 60px; padding-bottom: 5px;}
.package-items-table tr td.dotted {padding: 0; border-bottom: 1px dotted #CCC;line-height: 0;}
.package-items-table .price {line-height: 1;}

.cms-index-index .col-main .std {display: none;}

.conf-header {}
.conf-header .red {color:#F00;}
.conf-header h3 {margin-top: 10px;font-size: 18px;color: #666; display: inline-block;}
.conf-header #confirm-package {font-size: 18px;}

#config-wrapper {height:100%;}
.conf-block {margin-bottom: 5px;border: 1px solid #D1D1D1;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;clear: both; overflow: hidden;}
.conf-block:before, .conf-block:after {display: table;content: " ";}
.conf-block .block-header {}
.conf-block .block-header h4 {font-size:14px;font-style:italic;}
.conf-block .section-filters {}
.conf-block .filter {margin-right: 20px;line-height: normal}
.conf-block .filter.last {margin-right: 0;}
.conf-block .filter .name {font-size: 11px;}
.conf-block .filter .list-inline {margin-bottom: 0px}
.conf-block .filter .list-inline li {}
.conf-block .filter .list-inline li a {font-size: 11px; color:blue;}
.conf-block .filter-input {font-size: 13px;margin-top: 10px}
.conf-block .filter-input .form-group {margin-bottom: 5px}
.conf-block .filter-input label {
    margin-bottom: 0;
    margin-left: -14px;
    text-align: left;
    line-height: 24px;
    color: #000;
}
.conf-block .filter-input input{border: 1px solid #666;padding-left: 5px;height: 24px;line-height: normal;}
.conf-block .filter-input .col-sm-9 {padding-left: 0}
.conf-block .filter-input .search-on-type {width: 100%;}
.conf-block .filter-status {font-size:11px;color:#333333;}
.conf-block .product-table {overflow: auto; overflow-y: scroll !important;}
.conf-block .product-table .item-row {border-style: solid; border-color: #D1D1D1; border-width: 1px;margin-bottom: -1px;}
.conf-block .product-image {width: 30px;text-align: center;padding-right:5px;}
.conf-block .product-image img {max-height: 30px;margin-right: 5px }
.conf-block .product-name {font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#666666;line-height:normal;}
.conf-block .product-name span {vertical-align: bottom;}
.conf-block .stock-status {cursor: pointer;display: inherit;clear:left;}
.conf-block .price .top {font-size:10px;color:#666666; text-align: left;}
.conf-block .price .per-month {font-size:16px;color:#333333;line-height: normal;text-align: right;}
.conf-block .price .per-month .interval {font-size:10px; text-transform: lowercase;}
.conf-block .sim-select {font-size:11px;color:#333333; background: #F4F4F4;padding-top: 5px;border-top: 1px solid #ccc;}
.conf-block .sim-select .radio {margin-bottom: 5px;}
.conf-block .sim-select .radio label span {line-height: 20px}
.conf-block .sim-select a {line-height: normal !important;}
.conf-block a.active {font-weight: bold;}
.conf-block .selected-item,
.conf-block .selection-block {background:#fff; float: left; width: 100%; border: none !important;  margin-bottom: 0 !important;}
.conf-block .selection-block {padding-bottom: 15px;}
.conf-block .block-header p {margin-bottom: 0;}
.conf-block .block-header span {font-size: 13px; color: #999; line-height: 31px;}
.conf-block .block-header span.item-type {color:#FF0000;}
.conf-block .block-footer a {font-size:14px; color:#FF0000; line-height: 31px;}
.conf-block .items-header {background: #797979;padding:3px 5px; font-size:11px; color:#E4E4E4;}
.conf-block .item-row {cursor:pointer; background: #f2f2f2; padding: 2px 0;}
.conf-block .item-row.selected,
.conf-block .item-row.selected:hover {background: #CBE4FF;}
.conf-block .item-row:hover {background: #e6e6e6;}
.conf-block .selected-item .item-row,
.conf-block .selected-item .item-row:hover {cursor: default;}
.conf-block .item-row.disabled { display: none; }
.conf-block .item-row.disabled-row { cursor: not-allowed; background: #EEE !important;}

.conf-block .item-row.incompatible-row {
    background: #EEE !important;
}

.conf-block .item-row .item-options {padding: 6px 0;}
.conf-block .item-row .item-info {padding: 14px 0;}
.conf-block .item-row .item-pricing {}
.conf-block .item-row .item-pricing .right {line-height: 1em}
.conf-block .item-row .dot {margin-left:10px; cursor:pointer; width:15px; background-repeat: no-repeat;background-position-y: bottom; color:#06adc6;}
.conf-block .item-option {width: 36px; height: 36px; float:left; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAAA7DAAAOwwHHb6hkAAABPElEQVRYR+3YvY2EMBCGYd8FlEBKTkxCSiPURiPkNIBEC5RAcqvPYk7W2WvmB69upX0TI7DkR/JEuE/v1te5+qZp+jkfX944jt4SgaqqcsMwuLquz7fl2vfdzfPsjuP4BX37L0F93/tN2FwywuC8sAjUNE1xVIjBeWERCJVE5TAoCUIlUFcY9BSE7kRxMCgLQneguBh0CUIWlASDWCCkQUkxiA1CEpQGg0QgxEFpMUgMQjmUBYNUIJRCWTFIDUIhats2MwaZQAiHt23rlmXxqwWDzCBc07quHoP170xJM4HCmem6LpopTWpQaoDDmdKiVKAUhrKixKAchrKgRCAOhtKi2CAJhtKgWCANhpKiLkEWDCVBZUF3YCgu6inoTgzFQSVBJTDUFSoClcRQOVQEKo2hQlTYv/v78Smfcw8Rs1MV/ZNSWgAAAABJRU5ErkJggg==');}
.conf-block .expand-handle {font-size: 14px; font-weight: bold; color: #F00; line-height: 31px;}
.conf-block .block-header {min-height: 0px;}
.conf-block .block-footer {}
.conf-block .no-item-message {font-style: italic; font-size: 13px; font-weight: bold; color: #666; margin-left: 15px;}
.conf-block .product-table .family { padding: 5px 5px 5px 5px; background: #f2f2f2; margin-bottom: 10px; border-radius: 2px; border: 1px solid #D1D1D1; }
.conf-block .product-table .family .family-content{ margin-top: 20px;}

.div-table {display: table}
.div-table-row {display: table-row}
.div-table-cell {display: table-cell;vertical-align: middle}

/** Cart **/

#cart {padding: 10px 0 10px 20px;}

#cart .bg-dark {color: #333; padding: 15px; margin-bottom: 20px;border-radius: 3px;}
#cart .bg-white {background-color: #fff;}
#cart-top {border-bottom: 1px solid #000; margin-bottom: 10px;margin-right: 20px;}

#cart-left {margin-top: 20px;padding-left: 0;font-size: 12px;width:10%}
/*#cart-left .nav>li.active { background: url("../images/scrollspy_arrow.png") right center no-repeat; }*/
/*#cart-left .nav>li>a {background-color: #fff;margin-right: 18px;}*/
/*#cart-left .nav>li {margin-bottom: 10px;}*/

#cart-left .nav>li.active { /*background: url("../images/checkout-btn-active-0.png") no-repeat !important;*/ height: 40px; }
/*#cart-left .nav>li:hover{ background: none !important;}*/
#cart-left .nav>li>a:hover{ background: none !important;}
#cart-left .nav>li>a {background: none !important;margin-right: 18px; width: 100%; word-wrap: break-word;}
#cart-left .nav>li {/*background: url("../images/checkout-btn-0.png") no-repeat !important;*/ height: 40px; margin-bottom: 5px;}

/*appends ... to long strings inside li entries for checkout / cart */
#cart-left .nav li a {display: inline-block !important; padding-top: 10px !important;  padding-bottom: 10px !important; overflow: hidden !important; white-space: nowrap !important; text-overflow: ellipsis !important;}

#cart-content { height: 700px; overflow-y: auto; line-height: 1; }
#cart-content .page-header {padding-top: 30px;margin-top: 0;}
#cart-content .search-client {color:#03C;font-size: 12px;}
#cart-content .new-customer {color:#03C;font-size: 12px;}
.credit-check-spinner {height:100px; width: auto; }
.open-orders-spinner {height:22px; width: auto; }
.lock-info-spinner .credit-check-spinner {height:70px; width: auto; }
#saveCreditCheck .credit-check-container div.row {margin-bottom: 2px;}
#saveCreditCheck .credit-check-container div.row.mar-bot-10 {margin-bottom: 10px;}
#search-client.modal, #search-stores.modal, #load_customer_confirmation.modal, #new_customer_confirmation.modal {top: 30px;}
#cart-content .bs-docs-section { margin-bottom: 33px;}
#cart-content .form-row { margin-bottom: 10px; }
#cart-content .form-row div[class*="col-md-"] { padding-left: 0;}
.form-row-small {margin-bottom: 5px;}
.form-row-small .form-group {margin-bottom: 0}
.form-row-small div[class*="col-xs-"] { padding-left: 0;padding-right: 5px;}
.form-row-small div[class*="col-xs-"]:last-child { padding-right: 0; }
.form-row-small .input-sm {}
.form-row-small .remove-above {line-height: normal; }
.input-group-btn .remove-above {height: 30px; padding-top: 4px; }
.radio .form-row-small label { line-height: normal; font-weight: normal; }
select.input-sm {line-height: 23px;}
#cart-content .search-result {background-color: #ccc;border-bottom: 1px dotted #000; margin-bottom: 5px; padding: 5px;}
#cart-content .otherAddressFound .search-result {display: block}
#cart-content {font-size: 14px !important;}
#cart-content a {text-decoration: none; color: #56bfdf; font-weight: normal;}
#cart-content .dropdown-menu a{ color:#000000; }
#cart-content a:hover { text-decoration: underline;}
#cart-content a.btn {text-decoration: none;}
#cart-content a.btn-link {color: #56bfdf;}
#cart-content a.btn-link:hover {text-decoration: underline;}
#cart-content a.btn-info {color: #fff; font-weight: normal;}
#cart-content label { margin-bottom: 0;}
#cart-content label.radio-inline, #cart-content label.checkbox-inline, #cart-content .radio label { line-height: 21px; font-weight: normal; }
#cart-content label.checkbox-inline.custom {line-height: normal; margin-top: 3px;}
#cart-content label.empty {width: 100%; height: 21px;}
#cart-content .api-address { font-style: italic; margin-top: 10px;}
#cart-content .api-address .content {width: 130px;display: block;}
#cart-content .help-block { margin-bottom: 0; display: inline-block; }
#cart-content .ex-margin {margin-bottom: 0;line-height: 150%;}
#cart-content .row-title {font-size: 14px;}
#cart-content .portability {background: #fff;padding-bottom: 10px;margin-top:0;}
#cart-content .porta-off {margin-bottom: 15px; margin-top: 0px;}
#cart-content .white-bg {background: #fff;padding-top:13px;padding-bottom: 10px;}
#cart-content #method-split .extra {margin-top:5px;}
#cart-content #delivery-payment {margin: 0;}
#cart-content #delivery-payment > div { padding-bottom: 10px;}
#cart-content #delivery-payment .btn-group { width: 100%; }
#cart-content #delivery-payment .btn-group a { text-decoration: none; }
#cart-content #delivery-payment .btn-group .btn {font-size: 12px;}
#cart-content #delivery-payment .btn-group button.text { width: 99%; text-align: left;border-right: 0;}
#cart-content #delivery-payment .btn-group button.text:hover {background-color: #fff;}
#cart-content #delivery-payment .btn-group .dropdown-menu { width: 100%; padding: 9px 12px; font-size: 12px;}
#cart-content #delivery-payment .btn-group .dropdown-menu>li>a {padding-left: 0; padding-right: 0;}
#cart-content #delivery-payment .btn-group .dropdown-menu>li>a:hover {color: blue;background-color: #fff;}
#cart-content #delivery-payment label small {font-weight: normal; width: 100%; display: block;}
/*#cart-content #delivery-payment .pakket { background: #ddd; padding: 10px;min-height: 100px;position: relative}*/
#cart-content #delivery-payment #split-payment .pakket {padding-top: 50px;height: 137px;}
#cart-content #delivery-payment .italic {font-style: italic;}
#cart-content #delivery-payment .small {font-size: 11px; line-height: normal;}
#cart-content #delivery-payment .dropdown-toggle {position: absolute; right: 0;z-index: 2;}
#cart-content #delivery-payment .pad-top-43 {padding-top: 43px;}
#cart-content #delivery-payment .border-right-0 {border-right: 0; }
#cart-content #delivery-payment .border-left-0 {border-left: 0; }
#cart-content #delivery-payment #split-payment select { margin-bottom: 10px;}
#cart-content #delivery-payment p.narrow {margin-bottom: 5px;}
#cart-content [id^=customer_privacy] ul {padding-left: 15px; list-style: disc; line-height: normal;}
#cart-content [id^=customer_privacy] ul li {margin-bottom: 2px;}
#cart-content div.field {color:#999;}
#cart-content div.value {line-height: 16px;}
#cart-content .edit-info {font-size: 10px; color: #999; float: right; margin-right: 30%;}
#cart-content .popover { width: 250px;}
#cart-content .popover-holder { height: 0px;padding: 0;overflow: hidden;margin: 0;line-height: 0;display: block;width: 100%;border: 0;}
#cart-content #api-address-list a { cursor: pointer; display: block;}
#cart-content .tb {display: table;float: right;}
#cart-content .tb .tb-row {display: table-row;}
#cart-content .tb .tb-cell {display: table-cell; padding: 2px 5px;}
#cart-content .checkout-totals .row {margin-bottom: 5px;}
#cart-content .checkout-totals .block {background: transparent; padding: 0;border:0;float: right;margin-bottom: 0;}
#cart-content .checkout-totals .col-sm-4 {width: 80px;text-align: left;}
#cart-content .checkout-totals #cart_totals {position: relative}
#cart-content .input-group .input-group-btn {vertical-align:top}
.search-address .delivery_address_details {margin-bottom: 0; font-weight: normal !important;}
#cart-content .dropdown-menu.edit-mode {left: auto;right: 0;z-index: 10001;text-align: left}
#cart-content .split-row {padding-top: 10px;}
#cart-content .split-row.disabled {color: #999999 !important}
#cart-content .btn.spacer { margin-right: 10px }
.search-address .otherAddress {margin-bottom:  10px;}
.search-address .otherAddress p {margin-bottom: 2px; font-weight: bold;}

#search-client .search-block {text-align: left; width: 300px; margin:0 auto;}
#search-client .search-block .customer_search_field label {display: block;}

.cart-errors {color:#EB340A;text-align: right}
.cart-errors strong {font-size:125%; padding-bottom: 5px;}
.cart-errors i {font-style: normal;font-weight: bold;}

.checkout-cart-index .col-left.guest {width: 68px;}
.checkout-cart-index .col-main.guest {margin-left: 80px;}
.ctn_record .ctn_box:not(.disabled) {cursor: pointer}
#orders-content {font-size: 14px;}
#orders-content .order_overview {}
#orders-content .order_list {padding: 1px 0 5px 0;border-top: 1px solid #000;}
#orders-content .order_list > li {}
#orders-content .order_list .order_overview { border-top: 1px solid #DDD;}
#orders-content .order_list .order_overview li { line-height: 14px;}
#orders-content .order_list li,
#orders-content .order_overview li {padding: 8px;width: 25%;float:left;margin-right: 1%;}
#orders-content .order_list li:nth-child(3),
#orders-content .order_overview li:nth-child(3) {width:48%;margin-right: 0;}
#orders-content .order_overview ul {border-bottom: 1px dotted #DDD;padding: 5px 0;cursor: pointer;line-height: normal;margin-bottom: 0;}
#orders-content .order_overview ul:hover {background-color: #f5f5f5;}
#orders-content .bg-dark {background: #DDD; padding: 10px; text-align: left; min-width: 100%;}
#order-left {margin-top: 20px;padding-left: 0;}
#order-left .nav {padding-left: 0;}
#order-left ul li {margin-bottom: 10px;cursor: pointer;padding-right: 17px;}
#order-left ul li > a {padding: 10px;background-color: #F4F4F4;color:#000;}
#order-left ul li.active {background: transparent url(../images/arrow_active.png) center right no-repeat;}
#order-left ul li .title {text-transform: uppercase;font-weight: bold; margin-bottom: 0;}
#order-left ul li .details {font-size: 85%;margin-bottom: 0;}
#order-left ul li .status {background-color: #fff;padding: 5px 10px;}
#order-right {height: 600px;overflow-y: auto;margin-top: 20px;}
#order-right > div {min-height: 580px;border: 1px solid #000;padding:10px;}
#order-right .border {border:1px solid #000; padding:10px;}
#order-right .tab-content {padding: 10px 0;}
#order-right .highlight {padding: 5px 10px; background-color: #f5f5f5;display: inline-block;clear: both;}
#order-right .icon_payment {background: url(../images/payment.png) center center no-repeat;display: block;height:30px;width: 30px;}
#order-right .icon_pinpoint {background: url(../images/icon_pinpoint.png) center center no-repeat;display: block;height:31px;width: 31px;}
#order-right .icon_calendar {background: url(../images/icon_calendar.png) center center no-repeat;display: block;height:30px;width: 30px;}
#order-right .bg-gray {background-color: #cccccc;padding: 10px 0;}
#order-right .line-30 {line-height: 30px;}
#order-right .package-status {background-color: #f5f5f5;padding: 5px;position: absolute;font-size: 10px;width: 50px;text-align: center;top: 1px; right: 35px;}
#order-right .delivery {font-size: 12px;padding-left: 15px;opacity: 1;position: relative;border: 1px solid #000;text-align: left;color: #000;margin-bottom: -2px;}
#order-right .delivery a {position: absolute;right: 15px;}
#order-right .relative {position: relative;padding-bottom: 50px;margin-bottom: 20px;}
#order-right .footer {position: absolute;bottom: 0;left: 0;width: 100%;}
#open-order .info {display: inline-block;background-color: #fff;border: 1px solid #000;padding: 0 4px;line-height: normal;}

#delivery-payment #payment-type .payment-extra {font-style:italic;margin-top: 10px;background: #ddd;padding: 10px;color:#999}
#delivery-payment #payment-type .payment-extra i {color: #000}
#delivery-payment #payment-type #split-payment.payment-extra {background: none;padding:0}

.block.block-reorder {display: none}
#promo-rules {position: relative;padding-top: 10px; float:right}
#promo-rules.open {background-color: #f5f5f5;float: none}
#promo-rules.open .promo-rules-trigger {right: 10px;position: absolute;}
.side-cart.block.active .title .promo-rules-trigger{ display: inline-block;}
.side-cart.block:not(.active) .title .promo-rules-trigger{ display: none;}
#promo-rules .promo-rules-trigger {margin-left: 10px;display: block;}
#promo-rules .badge {background-color: #FADE60;color:#635B00;border:1px solid #635B00}
#promo-rules .promo-rules-container {padding: 0 10px 10px 10px;border-bottom: 1px solid #B8B8B8;margin-bottom: 20px;display: none;margin-top: 0px;}
#promo-rules .promo-rules-container .title {position: absolute;top: 1px;right: 40px;}
#promo-rules .promo-rules-container .benefit li {line-height: 22px;font-style: italic;color: #B8B8B8}
#promo-rules .slide-up {bottom: -24px;left: 50%;position: absolute;background: url("../images/enlarge_icon_up.png") no-repeat scroll center center #F5F5F5;border: 1px solid #B8B8B8;border-top: 0;height: 25px;width: 30px;border-radius: 0px 0px 4px 4px;box-shadow: 0px 2px 3px 0px #DADADA;}

.promo-rules-trigger {right: 45px;position: absolute; }
.promo-rules-trigger .badge {background-color: #f9f9f9;color:#212121;border:1px solid #CCCCCC; padding: 2px 3px; }


.fav-deals-products {}
.fav-deals-products .products-grid {background: none;}
#home-tabs {height: 42px;}
#favorites-content,
#deals-content {border-color: #DDD; border-width: 0 1px 1px 1px; border-style: solid;}

.col3-layout .col-main { top: 44px; }

#stock-modal .product-image{ float: left;}
#stock-modal .product-name, #stock-modal .stock-status, #stock-modal .product-description{ margin-left:40px;}
#stock-modal table.local-stock { border-top:1px solid #000; width:100%; margin-top:20px;}
#stock-modal table.local-stock th, #stock-modal #stock-other-stores table th{ height: 50px; text-align: left; background: #f2f2f2; line-height: 50px;}
#stock-modal table.local-stock th:first-child, #stock-modal #stock-other-stores table th:first-child{ text-align: center;}
#stock-modal table.local-stock tbody td, #stock-modal #stock-other-stores table tbody td{ line-height: 40px }
#stock-modal table.local-stock tbody td.number, #stock-modal #stock-other-stores table tbody td.number{text-align: center; width: 100px;}
#stock-modal #display-stores{ line-height: 40px; margin-left:20px;}
#stock-modal #stock-other-stores {display:none; max-height: 400px; overflow:auto;}
#stock-modal #stock-other-stores table{ border-top:1px solid #000; width:100%; margin-top:20px; border-bottom: 1px solid #000; }
#stock-modal #stock-other-stores table thead td{ text-align: center; line-height: 50px;}
#stock-modal #stock-other-stores .input-group{margin: 0 auto;}
.popover-content .nav-tabs {display: block !important;}
#stock-modal #stock-other-stores table tbody td{border-top: #000 dotted 1px;}
.stock-status.gone{color: orange;}
.stock-status.out-of-stock{ color: yellow;}
.stock-status.in-stock{ color: green;}
.stock-status.end-of-life{color: red;}
.general_error {position:absolute;top:0px;left:0px;width:100%;height:40px;background-color: lightyellow;text-align: center;z-index: 9999;line-height: 40px;}
#cart_totals input[value="Checkout"]{display: none;}
.arrow-right { width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 7px solid black; display:inline-block; margin-right:10px;}
.promo-rules-container .discounts-block , .promo-rules-container .conditions-block{ /*height: 120px; overflow:auto;*/}
.checkout-package-details {float:left;margin-left: 20px;width: 99%;}
.bs-docs-section .checkout-package-details {margin-left: 0px; padding: 0px;}
.checkout-package-details .package-expand {clear: left;margin-top:10px;margin-bottom:10px;font-size: 14px; position:relative;}
.checkout-package-details .package-expand p{padding:0px;margin:0px}
.checkout-package-details .package-expand a{padding: 3px 0 3px 25px;color:#000;}
.checkout-package-details .package-expand .nav-tabs a {padding: 10px 15px;}
.checkout-package-details .package-expand a.edit-package{background: url(../images/edit_icon.png) no-repeat;padding-right: 15px;border-right: 1px solid #CCC}
.checkout-package-details .package-expand a.remove-package{background: url(../images/delete_icon.png) no-repeat}
.checkout-package-details .package-items{clear: left;line-height: 50px;padding-top:15px}
.checkout-package-details .package-items img {}
.checkout-package-details .package-items div.package-item:nth-child(odd){background-color: #F2F2F2;}
.checkout-package-details .package-items div.package-item:nth-child(even){background-color: #FFF;}
.checkout-package-details .package-items div.package-item input[type=text] {line-height: 14px;margin-right: 10px}
.checkout-package-details .package-items div.package-item p {line-height: 15px}
.checkout-package-details .package-items div.package-item.checkout-totals {}
.checkout-package-details .package-items div.package-item.checkout-totals textarea{ line-height: 12px;}
.checkout-package-details .package-items .ctn {line-height: 20px;margin-right: 10px;float: left;border-bottom: 1px dotted #000;padding: 0 20px 0 0;}
.customer-welcome-message{ width: 700px; margin: 10px auto;}
#cart-left .nav>li>a{
    padding:0px 5px;
}
.checkout_left_btn {vertical-align: middle;margin: 0;padding: 0;width: 99px;padding-left: 5px;font-size: 14px;height: 40px;}
.nav>li>a.checkout_left_btn {display: table-cell}
.bg-dark.clearfix.footer .btn-info {
    margin: 0 10px;
    width: auto;
}

ul.package-tags {
    list-style: none;
    float: left;
}

.package-tags button{
    padding: 3px 10px;
    font-size: 10px;

}
.textarea96 {height: 96px; resize: none; }
.package-tags button.valid{
    color: #008844;
}

.package-tags button.disabled{
    color: #AAA;
}

.order_package_info {margin-top:30px; width:100%}
.order_package_info tr.small td {line-height: 5px;}
.order_package_info .package-prices{width: 120px;}
.order_package_info tr:nth-child(1){text-transform: uppercase}
.order_package_info tr:nth-child(1), .order_package_info tr:nth-child(2){background-color: #F2F2F2;font-size: 14px}
td.package_table_header {width: 70%}
.order_package_info tr td {padding:2px 5px;}
.order_package_info tr td.dotted {padding: 0; border-bottom: 1px dotted #CCC}

.dotted-row {padding: 10px 0;border-bottom:1px dotted #CCC}
.dotted-bottom {border-bottom:1px dotted #CCC}
.dotted-right {border-right:1px dotted #CCC}
.order_package_info tr td.package-prices {text-align: right;}
.order_package_info .order_package_item{background-color: #F2F2F2;}
.order_package_info .Subscription{border-bottom: 0px;}

label.list-style {list-style: disc outside none;display: list-item;margin-left: 16px;}
.package_edit_button{text-align: right;border-bottom: 1px solid #FFF}
label.old_package{color:#CCC}
.disabled {color: #999999 !important;}
.disabled a {color: #999999 !important;}

#contract-continue-button.disabled { color: #fff !important; background-color: #999 !important;}
.edit_package_options{border-radius: 7px;background-color: #F5F5F5}
.edit_package_options li {text-align: center}
#cart-content .edit_package_options li a{text-decoration: none;}
.edit_package_options li:not(:last-child) {border-bottom: 1px solid #CCC;text-align: center}
.sim-select .sim-new .list-inline li a.selected-sim{ color: #800080;font-weight: bold !important;}
#cart_totals.order_edit_totals {width:50%;float:right}
tr.gray {background-color: #F2F2F2}
.superorder-parent {cursor: pointer; color: #56bfdf; font-weight: bold}
.superorder_block {border:1px solid #000; padding: 30px 0; text-align: center;}
.new_superorder {display: none}
.package-item .description-indirect{
    position: relative;
    float:left;
    text-align: center;
    padding-right:5px;
    min-height: 50px;
    border-right: 1px dotted #CCC;
}

.package-item .monthly-costs-indirect{
    padding: 0 5px 0 0;
    height: 100%;
    text-align: right;
    border-right: 1px dotted #CCC;
    min-height: 50px;
}
hr.col-xs-12{
    padding: 0;
    margin: 10px 0 3px 0;
}

.col-left .customer_search_field .btn.btn-link{
    color: #5BC0DE;
}

.block-container .row .excl-vat-tax.last{
    left: 75%;
}
.block-container .row .incl-vat-tax.last{
    left: 75%;
}

/*Cart details modal*/
.cart-show-details .modal-dialog { width: 700px; top: 80px }
.cart-show-details .col-xs-3 { text-align: right }
.cart-show-details .one-off { border-left: 1px solid #CCC }
.cart-show-details .one-off { border-left: 1px solid #CCC }
.cart-show-details .expanded-package-details .package-items { line-height: 60px; padding: 0 }
.cart-show-details .totals span.price {font-weight: bold; top: 5px; position: relative; }
.cart-show-details .message {padding: 0 15px}
.cart-show-details .package-item .package-description img {padding: 0; margin: 0}
.cart-show-details .expanded-package-details {overflow-y: auto; max-height: 500px}
.cart-show-details .right_expanded_packets .package-summary p{
    color: #000;
}
.cart-show-details .right_expanded_packets .package-summary p.package-type {
    color: #008000;
}
.cart-show-details .right_expanded_packets .package-summary p:first-child {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
}
.cart-show-details .btn { padding: 0 5px 0 0; font-size: 10px; width: 92px; text-align: right}
.cart-show-details .package-item-header .col-xs-2,
.cart-show-details .package-item-header .col-xs-3  {height: 60px; line-height: 16px; padding-top: 10px}
.cart-show-details .package-item-header .package-description { margin-top: 10px !important}
.v-spacer {float: left; height: 150px}
.conf-block .box-opened { height: 0; /*padding: 0;*/ }
.conf-block .box-closed { /*height: 0; padding: 0 !important; margin: 0;*/ display: none; }

.conf-block .selection-block {
    overflow: hidden;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
}
#config-wrapper .bootstrap-switch {
    min-width: 101px;
}

#company-address-content table tr td {
    padding: 0 15px 3px 0;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
}
#company-address-content table tr td:first-child {
    color: #999999;
    font-style: normal;
}

#cart-spinner-wrapper {
    height: 100%;
    height: calc(100% - 330px);
    height: -moz-calc(100% - 330px);
    height: -webkit-calc(100% - 330px);
    height: -o-calc(100% - 330px);
    height: -ms-calc(100% - 330px);
    min-height: 219px;
}
#cart-spinner-wrapper .cart_packages {
    height: 100%;
    height: calc(100% - 44px);
    height: -moz-calc(100% - 44px);
    height: -webkit-calc(100% - 44px);
    height: -o-calc(100% - 44px);
    height: -ms-calc(100% - 44px);
}
#cart-spinner-wrapper .cart_packages.control-buttons-2 {
    height: 100%;
    height: calc(100% - 74px);
    height: -moz-calc(100% - 74px);
    height: -webkit-calc(100% - 74px);
    height: -o-calc(100% - 74px);
    height: -ms-calc(100% - 74px);
}

#cart-spinner-wrapper .cart_packages.control-buttons-3 {
    height: 100%;
    height: calc(100% - 110px);
    height: -moz-calc(100% - 110px);
    height: -webkit-calc(100% - 110px);
    height: -o-calc(100% - 110px);
    height: -ms-calc(100% - 110px);
}

.order-lock {
    padding-top: 30px;
    float: right;
}
.order-lock .lock-icon {
    display: inline-block;
    width: 35px;
    height: 32px;
    background: url(../images/locked_icon.png) center center no-repeat;
    margin-right: 5px;
}
.order-lock .lock-icon.unlocked {
    background: url(../images/unlocked_icon.png) center center no-repeat;
}
.order-lock  .pad-top-30 {
    padding-top: 30px;
}
#addon-block .div-table {
    width: 100%;
}

#addon-block.conf-block .product-name {
    max-width: 80%;
}
#addon-block .product-name.div-table-cell,
#addon-block .product-image.div-table-cell,
#accessoire-block .product-image.div-table-cell,
#accessoire-block .product-name.div-table-cell {
    display: table-cell;
    float: none;
    vertical-align: top;
}

#inlife-wrapper {
    padding-top: 15px;
    padding-left: 15px;
    overflow-y: hidden;
    height: 100%;
}
#inlife-wrapper h2 {
    font-size: 20px;
    color: #666666;
    margin-top: 0;
}
#inlife-wrapper h3 {
    font-size: 16px;
    margin-top: 10px;
}
#inlife-wrapper h4 {
    font-size: 14px;
    color: #333333;
}
#inlife-wrapper .service-error ul ul {
    padding-left: 20px;
}
#inlife-wrapper .section .less-padding-left {
     padding-left: 5px;
}
#inlife-wrapper .section .less-padding-right {
    padding-right: 5px;
}
#inlife-wrapper .section .current-new-arrow {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -6px;
}
#inlife-wrapper .section .separator {
    border-top:1px solid #333;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 0;
}
#inlife-wrapper .section .btn {
    width: 100%;
    text-align: left;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
#inlife-wrapper .section .btn-small {
    width: auto;
}
#inlife-wrapper .section {
}
#inlife-wrapper .section .payload {
    overflow: auto;
    max-height: 201px;
}
#inlife-wrapper .section .btn .text {
    display: inline-block;
    margin-left: 26px;
    padding-right: 26px;
    padding-left: 12px;
    border-left: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: 6px;
    white-space: normal;
    word-break: break-all;
}
#inlife-wrapper .section .payload .btn .text {
    z-index: 1;
    width: 100%;
    cursor: default;
}
#inlife-wrapper .section .btn .glyphicon {
    top: 50%;
    margin-top: -7px;
    position: absolute;
}
#inlife-wrapper .label {
    font-size: 9px;
    margin-right: 5px;
}
#inlife-wrapper .border-bottom {
    border-bottom: 1px solid #ccc;
}
#inlife-wrapper label {
    font-weight: normal;
    margin-bottom: 0;
    font-family: vodafonerg-webfont;
}
#inlife-wrapper .form-row {
    margin-bottom: 10px;
}
#inlife-wrapper .vom .blue-title {
    color: #00CCFF;
    margin-bottom: 0;
    font-size: 18px;
}
#inlife-wrapper .vom .blue-title.height {
    line-height: 50px;
}
#inlife-wrapper .vom .extra .address-text {
    margin-bottom: 0px;
    padding-left: 20px;
}
#inlife-wrapper .vom h3 {
    font-weight: bold;
    margin: 0;
}
#inlife-wrapper .vom label.strong {
    font-weight: bold;
}
#inlife-wrapper .vom #saveVom {
    max-height: 600px;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
    padding-top: 15px;
}
#inlife-wrapper .vom .number-selection {
    line-height: 18px;
    padding: 5px 0;
    text-align: left;
}
#inlife-wrapper .edit-sim .dropdown-menu li span {
    line-height: 30px;
    display: inline-block;
}
#inlife-wrapper .edit-sim .dropdown-menu li span:first-child {
    width: 25%;
}
#inlife-wrapper .edit-sim .dropdown-menu li span:nth-child(2) {
    width: 50%;
    text-align: center;
}
#inlife-wrapper .edit-sim .dropdown-toggle .caret {
    float: right;
    position: relative;
    top:8px;
}
#inlife-wrapper .edit-subscription .btn {
    white-space: normal;
}
#inlife-wrapper .multisim .radio {
    margin: 0;
    font-size: 13px;
}
#inlife-wrapper .vom .radio {
    margin: 0;
}
#inlife-wrapper .multisim .delivery-method {
    font-size: 13px;
}
#inlife-wrapper table .border-right {
    border-right: 1px solid #DDD;
}
#inlife-wrapper table.quote-addon thead td,
#inlife-wrapper table.quote-addon tfoot td
{
    background: #eee;
}
#inlife-wrapper .subscriptions-wrapper,
#inlife-wrapper .multisim-wrapper {
    max-height: 450px;
    overflow-y: auto;
}

@media screen and (max-width: 1550px) {
    #accessoire-block .selection-block .item-row {
        height: 54px;
        overflow: hidden;
    }

    #addon-block.conf-block .price .top {
        display: none;
    }
    #addon-block.conf-block .item-row .item-pricing .right {
        float: none !important;
    }
    #addon-block.conf-block .product-name {
        margin-left: 5px;
        max-width: 75%;
    }
    #addon-block.conf-block .col-md-12.div-table {
        padding: 0 10px !important;
    }
}
@media screen and (max-width: 1365px) {
    #addon-block.conf-block .product-name {
        min-height: 32px !important;
        float: none;
        margin-left: 0;
        max-width: 100%;
    }
    #addon-block .selection-block .item-row {
        min-height: 54px;
    }
}
@media screen and (max-width: 1140px) {
    .item-row .div-table,
    .item-row .item-pricing {
        padding: 0 10px;
    }

    #accessoire-block .selection-block  .item-row {
        height: 70px;
    }
    #accessoire-block .col-md-10 {
        width: 73%;
        padding-right: 0;
        overflow: hidden;
        word-break: break-word;
    }
    #accessoire-block .col-md-2 {
        width: 27%;
        padding-left: 0 !important;
    }
    #addon-block.conf-block .product-image,
    #accessoire-block.conf-block .product-image
    {
        padding-right: 0;
    }
    #addon-block .item-row .div-table,
    #accessoire-block .item-row .div-table,
    #addon-block .item-row .item-pricing,
    #accessoire-block .item-row .item-pricing {
        padding: 0 5px;
    }
    #subscription-block.conf-block .product-name {
        margin-left: 10px;
        max-width: 82%;
    }
    #device-block.conf-block .col-md-8 .product-name {
        margin-left: 10px;
        max-width: 84%;
    }
    #device-block.conf-block .col-md-7 .product-name {
        margin-left: 10px;
        max-width: 78%;
    }
    #device-block.conf-block .col-md-9 .product-name {
        margin-left: 10px;
        max-width: 84%;
    }
}
.block-container .row.bullet-line .name-row:before {
    content: ' \25CF';
    display: inline-block;
    padding-right: 3px;
    font-size: 9px;
    position: relative;
    top: -1px;
}
input[name^="additional[email]"] {
    font-size: 12px;
}
pre.service-call-error {
    padding: 0;
    background: transparent;
    border: 0;
    font-family: monospace;
    color: red;
    font-size: 12px;
}

.dark-grey-background {
    background: #d3d3d3;
}
.modal-message {
    padding-left: 10px;
}
#customer_contact_overview div.email_ovr{
    display: none;
}
.blue {
    color: #5bc0de;
    font-size: 18px;
}
.display-block {
    display: block;
}
.customer-popover {
    font-family: vodafonerg-webfont;
    z-index: 11000;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}
.bolded {
    font-weight: bold;
}
.popover.right .arrow {
    top:45px;
}
.popover-header {
    font-size: 16px;
}
div[id*="advice-validate-one-required-by-name-customer"] {
    margin-left: -72px;
}

.home_logo {
    width: 55px;
    height: 22px;
    background: url("../images/Logo_Header.png") no-repeat;
    background-size: 55px 22px;
}

#search-inlife-phone-number .modal-body {
    max-height: 400px;
    overflow-y: auto;
}
.top-menu-element:hover {
    background-color: #f4f4f4;
}
.top-menu-element.selected {
    background: #CBE4FF;
}
.cursor-pointer {
    cursor:pointer
}
#creditcheck-search-results, #porting-search-results, #validation-search-results, .results {
    overflow-y: auto;
    overflow-x: hidden;
}
.italic-gray {
    color: #999999;
    font-style: italic;
}
ul.pagination {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 0;
    margin-top: -5px;
}
.col-xs-1 .notretainablectn.glyphicon.glyphicon-remove-circle {
    padding-right: 5px;
    font-size: 22px;
}
.tooltip .tooltip-inner {background-color: #39b3d7; font-size: 14px;}
.tooltip.right .tooltip-arrow {border-right-color: #39b3d7}

.package_target {
    display: none;
}

tr.package_target_header td {
    border-top: 0 !important;
}

.orders_table {
    display: none;
}

.open_order_error_info {
    cursor: pointer;
}

.order_nowrap {
    white-space: nowrap;
}

#openorders-search-results th {
    width: auto !important;
}

.open_order_error_info {
    position: relative;
}

.open_order_error {
    position: absolute;
    right: 0;
    display: none;
    width: 250px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    bottom: 20px;
    background-color: #ffff00;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #000;
}

.open_order_error .has-porting{
    font-weight: bold;
    color: #f00;
}

.open_order_error_code {
    font-weight: bold;
}

.order_details {
    cursor: pointer;
}

th.open-orders-10m td {
    min-width: 90px;
}

.package_table td {
    padding-left: 0 !important;
}

.openorderby {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.order_table_details {
    cursor: pointer;
}

.orders_table th {

}

.order_details td span {
    vertical-align: middle;
}

.order_details td span img {
    display: inline-block;
}

.orders_table .menu-arrow-down {
    line-height: 18px;
}

.open_orders_results input {
    width: 40px;
    vertical-align: middle;
    font-size: 13px;
    padding: 0;
}

.open_order_results_change {
    cursor: pointer;
    font-size: 10px;
}

.open_orders_pagination_container {
    text-align: center;
    padding-top: 20px;
}

.pagination .active2 span {
    cursor: pointer;
}

.open-orders-search-reset {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

/** Cart styling updates **/
.cart_packages .side-cart.block .content .row.price-header-row {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
    background-color: #EDEDED;
    padding: 2px 0;
}
.cart_packages .side-cart.block .content .row.price-header-row .col-sm-3 {
    border-left: none;
}

div.conf-block.incomplete {
    border-color: red;
}
div.conf-block .sim-select.incomplete {
    border: 1px solid red !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div.side-cart.block.incomplete {
    border: 1px solid red !important;
}

#configurator_checkout_btn.incomplete {
    background-color: #DDDDDD;
    border-color: #DDDDDD;
}

.conf-block .item-row.exclusive-row {
    background: #EEE !important;
}

.modal #package_hardware_items {
    text-align: left;
}

.modal #package_hardware_items > h4{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
}

.modal #package_hardware_items > hr{
    border: dotted 1px;
    margin: 5px;
}

.modal #package_hardware_items > p {
    line-height: 23px;
}
.modal #package_hardware_items > p > label {
    margin-left: 0;
}

.modal #package_hardware_items > p > label > .doa {
    font-weight: bold;
}

.search-result-warning {
    color: red;
    font-size: 13px;
}

.oo-middle {
    vertical-align: middle !important;
}

th.oo-middle {
    height: 35px;
    vertical-align: middle;
}

.package_edit_button .btn-group {
    text-align: left;
}
.remark-textarea textarea {
    float: left;
    width: 100%;
    height: 56px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.order-edit-buttons.indirect .fixed-buttons {
    width: 170px;
}
.order-edit-buttons .fixed-buttons {
    width: 120px;
}
