<div class="no-break" style="height: auto;">
<table width="100%" CELLSPACING="0" BORDER="0" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;">
<?php
/** @var $this Omnius_Checkout_Block_Pdf_Offer_Package */
/** @var Omnius_Package_Model_Package $package */
$package = $this->getPackage();
$packageItems = $this->getItems();
$coreHelper = Mage::helper('core');
$money = function($price) use($coreHelper) { return $coreHelper->currency($price, true, false); };
$packageTotals = $package->getPackageTotals($packageItems, true, true);

?>
<?php if($this->getPackage()->isRetention()): ?>
    <tr>
        <td style="background-color: #d9d9d9" colspan="5">
            <p style="font-weight: bold;">Samenvatting huidig contract</p>
        </td>
    </tr>
    <tr>
        <td style="background-color: #d9d9d9" colspan="5">&nbsp;</td>
    </tr>
    <!-- Display here old Maf -->
    <tr>
        <td style="background-color: #d9d9d9" colspan="5">Einddatum huidig abonnement: <?php echo $this->getCtnEndDate();?></td>
    </tr>
    <tr>
        <td style="background-color: #d9d9d9" colspan="5">Een eventuele wijziging naar een andere abonnementsvorm dan <?php echo ($this->getCustomer()->getIsBusiness() ? 'uw' : 'je'); ?> huidige abonnement (migratie), zal door Vodafone worden uitgevoerd conform de migratieregels i.c.m. een verlenging.</td>
    </tr>
<?php endif; ?>
    <tr>
        <td colspan="5">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <p style="font-weight: bold; font-size: 15px; "><?php echo ucfirst($package->getType()); ?> pakket <?php echo $package->getPackageId(); ?></p>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <?php if($package->isRetention()):?>
            <td>Verlenging voor telefoonnummer:</td>
            <td><?php echo  Mage::helper('omnius_checkout')->formatCtn($package->getCtn()); ?></td>
        <?php elseif($package->getType() == Omnius_Configurator_Model_PackageType::PACKAGE_TYPE_MOBILE): ?>
            <td colspan="2">Nieuwe aansluiting</td>
        <?php else:  ?>
            <td colspan="2">&nbsp;</td>
        <?php endif;?>
    </tr>
    <?php if($package->getType() == Omnius_Configurator_Model_PackageType::PACKAGE_TYPE_MOBILE): ?>
    <tr>
        <td><?php echo $package->isRetention() ? 'Ingangsdatum nieuw abonnement:' : 'Ingangsdatum abonnement: '; ?></td>
        <td><?php echo $this->getEffectiveDate();?></td>
    </tr>
    <tr>
        <td>Duur abonnement:</td>
        <td><?php echo $this->getContractDuration(); ?> maanden</td>
    </tr>
    <?php endif; ?>
    <tr>
        <td style="background-color: #d9d9d9" colspan="2" width="53%">&nbsp;</td>
        <td style="background-color: #d9d9d9; padding:15px;" width="15%" align="right"><?php echo $this->mafHasPromotion() ? 'Maandelijks (tijdens actieperiode)' : '&nbsp;'; ?></td>
        <td style="background-color: #d9d9d9; padding:15px;" width="15%" align="right"><?php echo $this->hasSubscription() ? 'Maandelijks (buiten actieperiode)' : '&nbsp;';?></td>
        <td style="background-color: #d9d9d9;" width="15%" align="right">Eenmalig</td>
        <td style="background-color: #d9d9d9;" width="2%%" align="right">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <?php
    $i=0;
    /** @var Omnius_Checkout_Model_Sales_Quote_Item $item */
    foreach($this->getItems() as $item): if(($item->isPromo() && !Mage::helper('vznl_catalog')->is(array(vznl_catalog_Model_Type::SUBTYPE_PROMOTION), $item->getProduct())) || $item->getProduct()->isServiceItem()) continue;?>
    <tr>
        <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right" colspan="2">
            <?php
                echo $item->getName();
                if(Mage::helper('vznl_catalog')->is(array(Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, Vznl_Catalog_Model_Type::SUBTYPE_ADDON), $item->getProduct()) && $item->getMafDiscountAmount() > 0){
                    echo '<br />';
                    echo '<i>' . $this->getCustomer()->getAppelative() . ' betaalt ' . $money($item->getItemFinalMafExclTax()). ' excl. BTW per maand <br />voor de gehele looptijd van uw contract.</i>';

                }
            ?>
        </td>
        <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php  echo (
                Mage::helper('vznl_catalog')->is(array(Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, Vznl_Catalog_Model_Type::SUBTYPE_ADDON), $item->getProduct())
                && $this->mafHasPromotion())
                ? $money($item->getItemFinalMafExclTax())
                : '' ;?></td>
        <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo (Mage::helper('vznl_catalog')->is(array(Vznl_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION, Vznl_Catalog_Model_Type::SUBTYPE_ADDON), $item->getProduct()) || $item->getMaf() > 0 ) ? $money($item->getMaf()) : '&nbsp;'; ?></td>
        <td style="padding-left:15px; <?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo (Mage::helper('vznl_catalog')->is(array(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE, Vznl_Catalog_Model_Type::SUBTYPE_ACCESSORY, vznl_catalog_Model_Type::SUBTYPE_SIMCARD), $item->getProduct()) || $item->getRowTotal() > 0 ) ? $money($item->getMixmatchSubtotal() == null ? $item->getRowTotal() : $item->getMixmatchSubtotal()) : '&nbsp;';?></td>
        <td style="<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo ($item->getProduct()->is(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE) && $this->hasDeviceRCNonZero() ? '(*)' : '') ?></td>
    </tr>
    <?php if($item->getDiscountAmount() && $item->getDiscountAmount() > 0): $i++;?>
        <tr>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right" colspan="2">
                <?php echo $this->__('Discount:');?>
                <?php echo $item->getDiscountRuleNames(); ?>
            </td>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
            <td style="padding-left:15px; <?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo $money($item->getHiddenTaxAmount() - $item->getDiscountAmount());?></td>
            <td style="<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>">&nbsp;</td>
        </tr>
    <?php endif; ?>
    <?php if(Mage::helper('vznl_catalog')->is(array(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE), $item->getProduct()) && $item->getWeeeTaxAppliedAmount() > 0): $i++;?>
        <tr>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right" colspan="2">
                Wettelijke Thuiskopieheffing
            </td>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
            <td style="padding-left:15px; <?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo $money($item->getWeeeTaxAppliedAmount());?></td>
            <td style="<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>">&nbsp;</td>
        </tr>
    <?php endif; ?>
    <!-- Show new copy levy -->
    <?php
        /** @var Omnius_Checkout_Model_Sales_Quote_Item $checkItem */
        foreach($this->getItems() as $checkItem):
        if($item->getPackageId() == $checkItem->getPackageId() && $item->getProductId() == $checkItem->getTargetId() && $checkItem->getProduct()->isServiceItem()): $i++;?>
            <tr>
                <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right" colspan="2">
                    <?php echo $checkItem->getName();?>
                </td>
                <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
                <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
                <td style="padding-left:15px; <?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo $money($checkItem->getRowTotal());?></td>
                <td style="<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>">&nbsp;</td>
            </tr>
        <?php endif;?>
    <?php endforeach; ?>
    <?php if($item->getConnectionCost() > 0): $i++;?>
        <tr>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right" colspan="2">
                Aansluitkosten
            </td>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
            <td style="padding-left:15px; padding-right:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right">&nbsp;</td>
            <td style="padding-left:15px;<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>" align="right"><?php echo $money($item->getConnectionCost());?></td>
            <td style="<?php echo $i%2 == 0 ? 'background-color: #d9d9d9;': '';?>">&nbsp;</td>
        </tr>
    <?php endif; ?>
    <?php $i++; endforeach;?>
        <tr>
            <td style="padding-left:15px; padding-right:15px;" align="right" colspan="2">Excl. BTW</td>
            <td style="padding-left:15px; padding-right:15px;" align="right"><?php echo $this->mafHasPromotion() ? $money($packageTotals['subtotal_maf']) : ''; ?></td>
            <td style="padding-left:15px; padding-right:15px;" align="right"><?php echo $money($packageTotals['no_promo_maf']);?></td>
            <td style="padding-left:15px; " align="right"><?php echo $money($packageTotals['additional_subtotal']);?></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="padding-left:15px; padding-right:15px;" align="right" colspan="2">BTW</td>
            <td style="padding-left:15px; padding-right:15px;" align="right"><?php echo $this->mafHasPromotion() ? $money($packageTotals['tax_maf']) : ''; ?></td>
            <td style="padding-left:15px; padding-right:15px;" align="right"><?php echo $money($packageTotals['no_promo_tax_amount']);?></td>
            <td style="padding-left:15px; " align="right"><?php echo $money($packageTotals['additional_tax']);?></td>
            <td>&nbsp;</td>
        </tr>
        <tr style="border-top: 1px #000000 solid">
            <td style="padding-left:15px; padding-right:15px;" align="right" colspan="2">Totaal (incl. BTW)</td>
            <td style="padding-left:15px; padding-right:15px;" align="right"><?php echo $this->mafHasPromotion() ? $money($packageTotals['total_maf']) : ''; ?></td>
            <td style="padding-left:15px; padding-right:15px;" align="right"><?php echo $money($packageTotals['no_promo_maf_tax']);?></td>
            <td style="padding-left:15px; " align="right"><?php echo $money($packageTotals['additional_total']);?></td>
            <td>&nbsp;</td>
        </tr>
    <tr><td colspan="6">&nbsp;</td></tr>
    <?php if($this->hasDeviceRCNonZero()): ?>
    <tr><td style="font-size: 10px;" colspan="6"><?php echo sprintf(
                $this->__('(*) You have chosen to one-off costs of this article in part or completely staggered to pay by %s installments of &euro; %s per month.'),
                $this->getContractDuration(),
                $this->getDeviceRC()->getItemFinalMafInclTax()
                );
            ?></td></tr>
    <tr><td style="font-size: 10px;" colspan="6"><?php echo $this->__('The amount of the monthly payment comes on top of the monthly fee as mentioned above.'); ?></td></tr>
    <tr><td colspan="6">&nbsp;</td></tr>
    <?php endif; ?>
</table>
</div>