.tab-menu-item img {
  vertical-align: middle;
  margin-right: 2px;
}
.context-menu-item div.baskets-disabled {
  padding-top: 5px !important;
  color: #bfc1c2;
}

.mybaskets-packages-icon svg {
  transform: translateY(2px);
  margin-right: 5px;
}