<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @var $this Omnius_Checkout_Block_Tax_Subtotal
 * @see Mage_Tax_Block_Checkout_Subtotal
 *
 */
?>
<?php if ($this->displayBoth()):?>
<tr class="div-table-row excl-vat-tax">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->helper('tax')->__('Excl.') ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getDeviceTotal()) ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafSubtotalExclTax()) ?>
    </td>
</tr>
<tr class="div-table-row incl-vat-tax" style="display: none;">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->helper('tax')->__('Net') ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getDeviceTotal()) ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafSubtotalExclTax()) ?>
    </td>
</tr>
<?php else : ?>
<tr class="div-table-row">
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell" colspan="<?php echo $this->getColspan(); ?>">
        <?php echo $this->getTotal()->getTitle() ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafSubtotalExclTax()) ?>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="div-table-cell a-right">
        <?php echo $helper->showNewFormattedPriced($this->getMafTotal()->getValue()) ?>
    </td>
</tr>
<?php endif;?>
