/*
 * Copyright (c) 2016. Dynacommerce B.V.
 */

.bar-red,
.bar-red span,
.bar-orange,
.bar-orange span,
.bar-yellow,
.bar-yellow span,
.bar-green,
.bar-green span,
.bar-lightblue,
.bar-lightblue span,
.bar-blue,
.bar-blue span,
.bar-lightgray,
.bar-lightgray span,
.bar-gray,
.bar-gray span { display:block; height:16px; background-image:url(./images/custom_bg_notifications.gif); background-repeat:no-repeat; font:bold 10px/16px Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center; padding:0 0 0 7px; margin:1px 0; white-space:nowrap; color:#fff; }

.bar-red { background-position:0 0; }
.bar-red span { background-position:100% 0; padding:0 7px 0 0; }

.bar-orange { background-position:0 -16px; }
.bar-orange span { background-position:100% -16px; padding:0 7px 0 0; }

.bar-yellow { background-position:0 -32px; }
.bar-yellow span { background-position:100% -32px; padding:0 7px 0 0; }

.bar-green { background-position:0 -48px; }
.bar-green span { background-position:100% -48px; padding:0 7px 0 0; }

.bar-lightblue { background-position:0 -64px; }
.bar-lightblue span { background-position:100% -64px; padding:0 7px 0 0; }

.bar-blue { background-position:0 -80px; }
.bar-blue span { background-position:100% -80px; padding:0 7px 0 0; }

.bar-lightgray { background-position:0 -96px; }
.bar-lightgray span { background-position:100% -96px; padding:0 7px 0 0; }

.bar-gray { background-position:0 -112px; }
.bar-gray span { background-position:100% -112px; padding:0 7px 0 0; }

.log-message {font-size: 10px; color: #130AFF;}
.log-message .date-part {color: #097cff;}
.log-message .type-part-success {color: #068B0C;}
.log-message .type-part-error {color: #f00000;}
.log-message .type-part-notice {color: #0d6bf0;}
.log-message .type-part-info {color: #FAA102;}

.contained-column {max-width: 400px;overflow-x: scroll;}
