.fieldset .form-list td.value {
    color: #0095A7 !important;
}

.fieldset ~ .fieldset .form-list td.value {
    color: #000000 !important;
}

.form-list td.label {
    width: 300px !important;
}

.form-list td.value {
    width: 500px !important;
}
