<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>

<div class="terms">
    <h3><?=$this->__("Declaration and signature")?></h3>
    <div class="left">
        <?php
            echo Mage::app()
                ->getLayout()
                ->createBlock('vznl_checkout/pdf_contract')
                ->setTemplate('checkout/cart/pdf/contract/terms-general.phtml')
                ->toHtml();

            // Device RC section
            if ($this->orderHasDeviceRC()) {
                echo Mage::app()
                    ->getLayout()
                    ->createBlock('vznl_checkout/pdf_contract')
                    ->setTemplate('checkout/cart/pdf/contract/terms-devicerc-a.phtml')
                    ->toHtml();
            }
        ?>
    </div>
    <div class="right">
        <?php
            // Continue with Device RC section on right side
            if ($this->orderHasDeviceRC()) {
                echo Mage::app()
                    ->getLayout()
                    ->createBlock('vznl_checkout/pdf_contract')
                    ->setTemplate('checkout/cart/pdf/contract/terms-devicerc-b.phtml')
                    ->toHtml();
            }

            // SEPA payment section
            echo Mage::app()
                ->getLayout()
                ->createBlock('vznl_checkout/pdf_contract')
                ->setTemplate('checkout/cart/pdf/contract/terms-sepa.phtml')
                ->toHtml();

            if ($this->hasNumberporting()) {
                echo Mage::app()
                    ->getLayout()
                    ->createBlock('vznl_checkout/pdf_contract')
                    ->setTemplate('checkout/cart/pdf/contract/terms-porting.phtml')
                    ->toHtml();
            }
        ?>
    </div>
</div>