<?php
$customerSession = Mage::getSingleton('customer/session');
$agent = $customerSession->getAgent();
$hasMobilePermission = $agent->isGranted(Vznl_Agent_Model_Agent::ALLOW_MOBILE);
?>
<script id="bsl-customer" type="text/x-handlebars-template">
    <div class="row products-section col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
        <div class="products-section-header">
            <div class="product-category-title no-padding">
                <?php echo $this->__("Mobile"); ?>
            </div>
        </div>
    </div>
    <div class="products-section-products row col-xl-12 col-lg-12 col-md-12 col-sm-12 clearfix">
        <?php //@todo use products-order-dunning to style the IN_DUNNING orders according to UI kit ?>
        {{#each BSL as |customer customer_number|}}
            <div class="products-order-additional-container {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}products-order-dunning{{/ifCond}}">
                <div class="products-order-additional">
                    <div class="products-order-number"
                         id="products-order-number-kias-{{customer_number}}"
                         data-customer-number="{{customer_number}}"
                         data-popover-type="Kias"
                         {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}data-toggle="popover"{{/ifCond}}>
                        {{customer_number}}
                        <span class="hidden"></span>
                    </div>
                </div>

                <!-- Customer Total Billing Details Modal -->
                <div class="modal totalBillingDetailsModal" id="totalBillingDetailsModalKias-{{customer_number}}">
                    <div class="popover-header">
                        <div class="row">
                            <div class="col-md-5">
                                <?php echo $this->__("Customer value") ?>
                            </div>
                            <div class="col-md-7 text-right">
                                <span>{{customer.contracts.0.customer_status_text}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="popover-content">
                        <div class="row">
                            <div class="col-md-8"> <p><?php echo $this->__("Final invoice amount") ?>:</p> </div>
                            <div class="col-md-4 text-right"> <p><strong>{{{ money customer.contracts.0.last_billing_amount space=true showZero=true }}}</strong></p> </div>
                        </div>
                        <?php // OVG-1993 - only show for dunning customers ?>
                        {{#if customer.contracts.0.dunning_status}}
                            {{#ifCond customer.contracts.0.legacy_dunning_amount '==' 0}}
                                <div class="row">
                                    <div class="col-md-8"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                    <div class="col-md-4 text-right"> <p><strong><?php echo $this->__("Unknown"); ?></strong></p> </div>
                                </div>
                            {{else}}
                                <div class="row">
                                    <div class="col-md-6"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                    <div class="col-md-6 text-right"> <p><strong>{{{customer.contracts.0.display_dunning_amount}}}</strong></p> </div>
                                </div>
                            {{/ifCond}}
                        {{else}}
                            <div class="row">
                                <div class="col-md-8"> <p><?php echo $this->__("Open invoice amount") ?>:</p> </div>
                                <div class="col-md-4 text-right"> <p><strong><?php echo $this->__("Unknown"); ?></strong></p> </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>

            {{#ifCond customer.contracts.0.dunning_status '==' '<?php echo Dyna_Customer_Helper_Services::DUNNING_IN; ?>'}}
            <div class="products-sub-package clearfix">
                <div class="products-sub-package-header-container clearfix critical-warning">
                    <div class="products-sub-package-header clearfix">
                        <div class="col-xl-11 col-lg-11 col-md-9 col-sm-9 product-details clearfix">
                            <span class="critical-alert-icon"> </span>
                            <div class="extra-info">
                                <div class="product-name"><?php echo $this->__("WARNING! This customer is in dunning"); ?></div>
                                <div class="more-info"><?php echo $this->__("Currently it is not allowed to perform any actions for this customer ID"); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/ifCond}}
            <?php if($hasMobilePermission) { ?>
                <div
                    class="eligibility-check notification-banner notice alert-disable-buttons alert-info general tab-details new-ui-elements"
                    data-customer-number="{{customer_number}}"
                        >
                    <div class="notification-banner-text">
                        <div class="notification-banner-title">
                            <?php echo $this->__("Perform a renewal check to see if the subscription is renewable"); ?>
                        </div>
                    </div>
                    <div class="notification-banner-actions">
                        <button
                            class="btn btn-secondary small loading-search show_retainable show_retainable_check_{{customer_number}}"
                            onclick="customer.checkOnlyRetainable(this)"
                            data-customer-number="{{customer_number}}" 
                        >
                            <?php echo $this->__('Check'); ?>
                        </button>
                        <button class="btn btn-secondary small loading-search renewal-check-spinner_{{customer_number}} show_retainable-spin hidden">
                            <span class="retainable-loading-search"></span>
                        </button>
                        <button
                            class="btn btn-secondary small loading-search one-off-deal-renewall_{{customer_number}} hidden"
                            id="renewall-one-off-deal"
                            type="button"
                            data-customer-number="{{customer_number}}"
                            disabled="disabled"
                        >
                            <?php echo $this->__('Renew all'); ?>
                        </button>
                    </div>
                </div>
            <?php } ?>
            {{#each customer.contracts}}
                {{#each this.subscriptions}}
                    <?php /**
                    {{#if this.sharing_group_details.no_owner}}
                        <div class="products-sub-package clearfix red-plus-owner-disabled">
                            <div class="products-sub-package-header-container clearfix">
                                <div class="products-sub-package-header clearfix red-plus-owner-error">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-8 product-details">
                                        <div class="product-name"><?php echo $this->__("Recently cancelled package"); ?></div>
                                        <div class="product-phone-number"><?php echo $this->__("Try again in 24 hours"); ?></div>
                                    </div>
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 product-status-badge">
                                        <div class="badge-container">
                                            <div class="badge product-status-badge cancelled">CANCELLED</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 product-more-details">
                                        <i class="vfde-disabled red-plus-owner-error-badge"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    */ ?>
                    <div class="products-sub-package clearfix {{toLowerCase this.product_status_display }}">
                        <div class="products-sub-package-header-container clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}} {{#if subscription_missing}}disable-products-sub-package{{/if}}">
                            <div class="products-sub-package-header clearfix {{#if this.part_of_bundle}} part-of-bundle {{/if}}">
                                <div class="product-details-image-general col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                    <span class="kias-customer">
                                        {{#if this.value_indicator}}
                                            <span class="badge-customer {{this.value_indicator}}-customer"></span>
                                        {{/if}}
                                    </span>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 product-details">
                                    <div class="product-name text-left">{{#if product_name }}{{product_name}} {{else}} <span class="disabled"><?php echo $this->__("Unknown"); ?></span> {{/if}}
                                        <span class="renewable hidden"><?php echo $this->__('Renewable'); ?></span>
                                        <span class="not-renewable hidden"><?php echo $this->__('Not renewable'); ?></span>
                                    </div>
                                    {{#if ctn}}
                                        <div class="product-phone-number text-left"><?php echo $this->__("Phone number"); ?>: {{#if ctn_localAreaCode}}({{ctn_localAreaCode}}) {{/if}}{{ctn_phoneNumber}}</div>
                                    {{/if}}
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-3 col-sm-6 product-status-badge">
                                    <div class="badge-container">
                                        {{#if subscription_missing}}
                                        <span class="notification-subscription-icon"></span>
                                        <span class="subscription-missing" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                                              data-original-title="<?php echo $this->__('Subscription missing'); ?>"></span>
                                        {{/if}}
                                        {{#if productdetails_missing}}
                                        <span class="product-missing" data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                                              data-original-title="<?php echo $this->__('Product details missing'); ?>"></span>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2  product-more-details">
                                    {{#if subscription_missing}}
                                        <i class="vfde-disabled red-plus-owner-error-badge"></i>
                                    {{else}}
                                        {{#compare this.product_status_display '<?php echo Dyna_Customer_Helper_Customer::MOBILE_PRODUCT_STATUS_CANCELLED; ?>' operator="=="}}
                                        <i class="vfde-disabled red-plus-owner-error-badge"></i>
                                        {{else}}
                                        <button type="button" class="expand-product-details"
                                                onclick="customerSection.toggle(this, '#mobile-product-{{../customer_number}}-{{product_id}}-{{this.inc}}', 100);">
                                        </button>
                                        {{/compare}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <?php //Show package details only if package is post-paid, as it can be seen in GUI ?>
                        <?php //Order status might need to be a condition for showing product details and to check for prolongation ?>
                        <div id="mobile-product-{{../customer_number}}-{{product_id}}-{{this.inc}}" class="collapse">
                            <div class="card card-block">
                                <?php //mobile product template is defined below ?>
                                {{> customer-bsl-mobile-product this}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{/each}}
    </div>
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("bsl-customer", jQuery("#bsl-customer").html());
</script>

<?php echo $this->getChildHtml('bsl.content'); ?>