<div class="row"></div>
<div class="container-fluid">
    <div class="bs-docs-section margin-top-0">
        <p id="order_overview" class="overview-font-header overview-title-font"><?php echo $this->__('Order overview'); ?></p>
        <div id="saveOrderOverview">
            <?php

            $allPackagePrices = [];
            $allPackagePrices['total_maf'] = 0;
            $allPackagePrices['tax_maf'] = 0;
            $allPackagePrices['total'] = 0;
            $allPackagePrices['tax_price'] = 0;
            $currentPackage = [];

            /** @var $helper Dyna_Checkout_Helper_Data */
            $helper = Mage::helper('dyna_checkout');
            /** @var $packageHelper Dyna_Package_Helper_Data */
            $packageHelper = Mage::helper('dyna_package');

            $superorder = $this->getParentBlock()->getSuperOrder();
            $orders = $superorder->getOrders();
            /** @var Dyna_Checkout_Model_Sales_Order $order */
            $order = Mage::getModel('sales/order');

            /** @array Dyna_Checkout_Model_Sales_Order $packages */
            $packages = $order->getOrderPackages($superorder->getEntityId());

            $packageCount = count($packages);
            $packageIndex = 0;
            $priceSlicing = null;
            $periodsCounter = 0;
            $packageTypeModel = Mage::getModel("dyna_package/packageType");
            /** @var Dyna_Package_Model_Package $package */
            foreach ($packages as $package):
                $priceSlicing = null;
                $packageIndex++;
                $packageType = $package->getType();
                $packageFrontName = $packageTypeModel->loadByCode($packageType)->getFrontEndName();
                $packageItemsBySubtype = $package->getPackagesProductsForSidebarSection($package->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW);
                $packageStatusClass = $packageHelper->getStatusAsCSSClass($package->getData('status'));
                $packageTarifName = $packageHelper->getPackageTarifName($packageItemsBySubtype);
                $packageStateClass = $packageHelper->getPackageState($package);
                ?>
                <div class="col-md-12 title<?php echo !empty($packageStateClass['title'])? ' ' . $packageStateClass['title']: ''; ?>">
                    <div class="col-md-10">
                        <div class="overview-plan-badge">
                            <span class="stack-identificator <?php if(!empty($package->getBundles())): echo 'bundle'; else: echo $package->getType(); endif; ?>"></span>
                        </div>

                        <div class="overview-package-title">
                            <p class="mbn"><?php echo $packageFrontName; ?></p>
                            <span class="overview-title-font"><?php echo $packageTarifName; ?></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="order-status <?php echo strtolower($packageStatusClass); ?>"><?php echo strtoupper($package->getData('status')); ?></span>
                    </div>
                </div>
                <?php foreach ($packageItemsBySubtype as $section => $productsInSection) :
                $formatedItemsForPriceSliding = $helper->getFormattedItemsForPriceSliding($packageItemsBySubtype[$section]['items']);
                $priceSlicing = $priceSlicing ? array_merge($priceSlicing, $formatedItemsForPriceSliding) : $formatedItemsForPriceSliding;
                ?>
                    <?php if (isset($productsInSection['items']) && !empty($productsInSection['items'])) : ?>
                    <div class="overview-block-section">
                        <div class="col-md-12 overview-plan-section">
                            <div class="col-md-7 overview-block-title overview-title-font fs-11">
                                <?php echo strtoupper($productsInSection['section_name']); ?>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-2"></div>
                                <div class="col-md-5 overview-title-font fs-11"><?php echo $periodsCounter == 0 ? strtoupper($this->__('One time cost')) : ''; ?></div>
                                <div class="col-md-5 overview-title-font fs-11"><?php echo $periodsCounter == 0 ? strtoupper($this->__('Monthly')) : ''; ?></div>
                            </div>
                        </div>
                        <div class="overview-plan-details products-overview col-md-12 <?php echo !$productsInSection['section_visibility'] ? 'hidden' : '';  ?>">
                            <div class="col-md-7">
                                <?php foreach ($productsInSection['items'] as $key => $product) : ?>
                                    <div class="<?php echo (!$product['product_visibility']) ? 'hidden' : ''; ?> overview-title-font">
                                        <?php echo (in_array(ucfirst($section), Dyna_Catalog_Model_Type::$footnotes)) ? "&#8226;" : ''?>
                                        <?php echo $product['name']; ?>
                                        <?php if (isset($product['promos'])): ?>
                                            <?php foreach($product['promos'] as $promo) : ?>
                                                <div class="<?php echo (!$promo['product_visibility']) ? 'hidden' : ''; ?>">
                                                    <span class='discount-product'> <?php echo $promo['name'] ;?></span> <br/>
                                                </div>
                                            <?php endforeach;?>
                                        <?php endif?>
                                    </div>
                                    <?php if(in_array(ucfirst($section), Dyna_Catalog_Model_Type::$footnotes) && $product['product_visibility']):?>
                                        <br/>
                                    <?php endif?>
                                <?php endforeach; ?>
                            </div>
                            <div class="col-md-5 overview-prices">
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <?php if($productsInSection['show_prices']) :?>
                                        <?php foreach ($productsInSection['items'] as $key => $product) : ?>
                                            <div
                                                    class="<?php echo (!$product['product_visibility']) ? 'hidden' : ''; ?>">
                                                <?php echo isset($product['row_total_incl_tax']) && $product['row_total_incl_tax'] ? $helper->showNewFormattedPriced($product['row_total_incl_tax']) : $helper->showNewFormattedPriced(0.00); ?>
                                            </div>
                                            <?php if (isset($product['promos'])): ?>
                                                <?php foreach($product['promos'] as $promo) : ?>
                                                    <div class="<?php echo (!$promo['product_visibility']) ? 'hidden' : ''; ?>">
                                                        <?php if (isset($promo['price_discount']) && (int)$promo['price_discount'] != 0) : ?>
                                                            <span class='discount-product'> <?php echo $helper->showNewFormattedPriced(-1 * $promo['price_discount']) ;?></span> <br/>
                                                        <?php else: ?>
                                                            <span class='discount-product'>&nbsp;</span>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endforeach;?>
                                            <?php endif?>
                                        <?php endforeach; ?>
                                    <?php endif;?>
                                </div>
                                <div class="col-md-5">
                                    <?php if($productsInSection['show_prices']) :?>
                                        <?php foreach ($productsInSection['items'] as $key => $product) : ?>
                                            <div
                                                class="<?php echo (!$product['product_visibility']) ? 'hidden' : ''; ?>">
                                                <?php echo isset($product['maf_row_total_incl_tax']) && $product['maf_row_total_incl_tax'] ? $helper->showNewFormattedPriced($product['maf_row_total_incl_tax']) : $helper->showNewFormattedPriced(0.00); ?>
                                            </div>
                                            <?php if (isset($product['promos'])): ?>
                                                <?php foreach($product['promos'] as $promo) : ?>
                                                    <div class="<?php echo (!$promo['product_visibility']) ? 'hidden' : ''; ?>">
                                                        <?php if (!empty($promo['maf_discount']) && (int)$promo['maf_discount'] != 0) : ?>
                                                            <span class='discount-product'> <?php echo $helper->showNewFormattedPriced(-1 * $promo['maf_discount']) ;?></span> <br/>
                                                        <?php else: ?>
                                                            <span class='discount-product'>&nbsp;</span>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endforeach;?>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    <?php endif;?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php endif; ?>
            <?php
                $periodsCounter++;
                endforeach;
            ?>
                <?php
                foreach ($orders as $currentOrder) {
                    $packageTotals = $packageHelper->calculateTotalsForPackage(
                        $currentOrder->getEntityId(),
                        $package->getPackageId()
                    );

                    $allPackagePrices['total_maf'] += $packageTotals['total_maf'];
                    $allPackagePrices['tax_maf'] += $packageTotals['tax_maf'];
                    $allPackagePrices['total'] += $packageTotals['total'];
                    $allPackagePrices['tax_price'] += $packageTotals['tax_price'];

                    if (!empty($currentPackage[$package->getPackageId()])) {
                        $currentPackage[$package->getPackageId()]['total'] += $packageTotals['total'];
                        $currentPackage[$package->getPackageId()]['total_maf'] += $packageTotals['total_maf'];
                    }
                }

                //get products with slide prices per Month
                if (!empty($priceSlicing)) {
                    $priceSlicing = $helper->getPriceSlidingPerMonthForAllProduct($priceSlicing);
                    $headers = array_diff(array_keys(current($priceSlicing)), ['total']);
                }

                ?>
                <div class="overview-block products-overview overview-package-costs col-md-12">
                    <div class="col-md-7">
                        <div class="overview-block-title overview-title-font">
                            <?php echo $this->__('General overview of costs'); ?>
                        </div>
                        <div class="overview-title-font"><?php echo $this->__("Total costs"); ?></div>
                        <?php if (!empty($priceSlicing)) : ?>
                            <br>
                            <div class="overview-block-title">
                                <?php echo $this->__('Recurring costs'); ?>
                            </div>

                            <!-- Table for display the price sliding products per months-->
                            <table class="price-sliding-table">
                                <thead>
                                    <tr>
                                        <?php foreach ($headers as $row): ?>
                                            <th><b><?php echo $row === 'month' ? $this->__("Months") : $row; ?> </b></th>
                                        <?php endforeach ?>
                                        <th class="price-slicing-total"><b><?php echo $this->__('Total'); ?></b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($priceSlicing as $sku => $row) : ?>
                                    <tr>
                                        <?php foreach ($row as $key => $price) : ?>
                                            <?php if ($key != 'total') { ?>
                                                <td>
                                                    <?php
                                                    if ($key == 'month') {
                                                        $months = $row['month']['from'] != $row['month']['to'] ? $row['month']['from'] . ' - ' . $row['month']['to'] : $row['month']['from'];
                                                        echo $months . " " . $this->__("Months");
                                                    } else {
                                                        echo $helper->showNewFormattedPriced($price);
                                                    }
                                                    ?>
                                                </td>
                                            <?php } ?>
                                        <?php endforeach ?>
                                        <td class="price-slicing-total">
                                            <b><?php echo $helper->showNewFormattedPriced($row['total']); ?></b>
                                        </td>
                                    </tr>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-5 overview-prices overview-title-font">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <p></p>
                            <p>
                                <b><?php echo !empty($currentPackage[$package->getPackageId()]) ? $helper->showNewFormattedPriced($currentPackage[$package->getPackageId()]['total']) : ''; ?></b>
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p></p>
                            <p>
                                <b><?php echo !empty($currentPackage[$package->getPackageId()]) ? $helper->showNewFormattedPriced($currentPackage[$package->getPackageId()]['total_maf']) : ''; ?></b>
                            </p>
                        </div>
                    </div>
                </div>
                <?php if ($packageCount > $packageIndex) : ?>
                <div class="col-md-12 no-padding">
                    <hr/>
                </div>
            <?php endif; ?>
            <?php
                $periodsCounter = 0;
                endforeach;
            ?>

            <div class="row"></div>
            <div class="container-fluid">
                <p class="overview-font-header overview-title-font" id="totalCostsHeader"><?php echo $this->__("Total costs") ?></p>
            </div>

            <div class="total-excluding-tax">
                <div class="overview-block products-overview col-md-12 overview-order-costs">
                    <div class="col-md-7">
                        <p></p>
                        <div>
                            <?php echo $this->__('Total costs') ?>
                        </div>
                        <div><?php echo $this->__('Net'); ?></div>
                        <div><?php echo $this->__('Tax'); ?></div>
                        <div><?php echo $this->__('Total'); ?></div>
                    </div>
                    <div class="col-md-5 overview-prices">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="overview-block-title"><?php echo $this->__('One time cost'); ?></div>
                            <p></p>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['total'] - $allPackagePrices['tax_price']) ?>
                            </div>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['tax_price']) ?>
                            </div>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['total']) ?>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="overview-block-title"><?php echo $this->__('Monthly'); ?></div>
                            <p></p>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['total_maf'] - $allPackagePrices['tax_maf']) ?>
                            </div>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['tax_maf']) ?>
                            </div>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['total_maf']) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="total-including-tax">
                <div class="overview-block products-overview col-md-12 overview-order-costs">
                    <div class="col-md-7">
                        <p></p>
                        <div>
                            <?php echo $this->__('Total cost (including 19% VAT plus shipping costs)') ?>
                        </div>
                        <?php if (strtoupper($packageType) != Dyna_Catalog_Model_Type::TYPE_MOBILE) : ?>
                            <?php if (!empty($priceSlicing)) : ?>
                            <br>
                            <div class="overview-block-title">
                                <?php echo $this->__('Recurring costs'); ?>
                            </div>
                            <!-- Table for display the price sliding products per months-->
                            <table class="price-sliding-table">
                                <thead>
                                <tr>
                                    <?php foreach ($headers as $row): ?>
                                        <th><b><?php echo $row == 'month' ? $this->__("Months") : $row; ?> </b></th>
                                    <?php endforeach ?>
                                    <th class="price-slicing-total"><b><?php echo $this->__('Total'); ?></b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($priceSlicing as $sku => $row) : ?>
                                    <tr>
                                        <?php foreach ($row as $key => $price) : ?>
                                            <?php if ($key != 'total') { ?>
                                                <td>
                                                    <?php
                                                    if ($key == 'month') {
                                                        $months = $row['month']['from'] != $row['month']['to'] ? $row['month']['from'] . ' - ' . $row['month']['to'] : $row['month']['from'];
                                                        echo $months . " " . $this->__("Months");
                                                    } else {
                                                        echo $helper->showNewFormattedPriced($price);
                                                    }
                                                    ?>
                                                </td>
                                            <?php } ?>
                                        <?php endforeach ?>
                                        <td class="price-slicing-total">
                                            <b><?php echo $helper->showNewFormattedPriced($row['total']); ?></b>
                                        </td>
                                    </tr>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                            <?php endif; ?>
                        <?php endif; ?>

                        <?php if (!empty($priceSlicing)) : ?>
                            <br>
                            <div class="overview-block-title">
                                <?php echo $this->__('Recurring costs'); ?>
                            </div>

                            <!-- Table for display the price sliding products per months-->
                            <table class="price-sliding-table">
                                <thead>
                                <tr>
                                    <?php foreach ($headers as $row): ?>
                                        <th><b><?php echo $row == 'month' ? $this->__("Month") : $row; ?> </b></th>
                                    <?php endforeach ?>
                                    <th class="price-slicing-total"><b><?php echo $this->__('Total'); ?></b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($priceSlicing as $sku => $row) : ?>
                                    <tr>
                                        <?php foreach ($row as $key => $price) : ?>
                                            <?php if ($key != 'total') { ?>
                                                <td>
                                                    <?php
                                                    if ($key == 'month') {
                                                        $months = $row['month']['from'] != $row['month']['to'] ? $row['month']['from'] . ' - ' . $row['month']['to'] : $row['month']['from'];
                                                        echo $months . " " . $this->__("Month");
                                                    } else {
                                                        echo $helper->showNewFormattedPriced($price);
                                                    }
                                                    ?>
                                                </td>
                                            <?php } ?>
                                        <?php endforeach ?>
                                        <td class="price-slicing-total">
                                            <b><?php echo $helper->showNewFormattedPriced($row['total']); ?></b>
                                        </td>
                                    </tr>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-5 overview-prices">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="overview-block-title"><?php echo $this->__('One time cost'); ?></div>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['total']) ?>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="overview-block-title"><?php echo $this->__('Monthly'); ?></div>
                            <div>
                                <?php echo $helper->showNewFormattedPriced($allPackagePrices['total_maf']) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
