<?php
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper('dyna_checkout/fields');
$packageIds = $this->getParentBlock()->getOrderPackageId();

$checkoutData->setOrderCheckoutData("save_customer", $packageIds);
$isSohoCustomer = $checkoutData->getFieldValue('customer[type]') == 'Soho';
$checkoutData->setOrderCheckoutData("save_delivery", $packageIds);
$packageType = $this->getParentBlock()->getPackageType();
?>
<div class="row"></div>
<div class="container-fluid">
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="payment_details" class="overview-font-header overview-title-font"><?php echo $this->__('Payment data'); ?></p>

        <?php if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages())): ?>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Bank account for your monthly bill'); ?>
            </div>


            <?php if ($checkoutData->getFieldValue('payment[alternative_account_holder]') == 1): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Account owner')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][alternative][firstname]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][lastname]'); ?></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Customer Address')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][alternative][street]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][houseno]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][alternative][postcode]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][city]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Account owner')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][account_holder]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Customer Address')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <p><?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('IBAN')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]'); ?></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Payment method for your one-off invoice'); ?>
            </div>
            <?php if ($checkoutData->getFieldValue('payment[one_time][type]') == 'checkmo' || strtolower($packageType) == strtolower(Dyna_Catalog_Model_Type::TYPE_PREPAID)) : ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Payment')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('By invoice'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php $salutation = $checkoutData->getFieldValue('customer[gender]') == '1' ? $this->__('Mr.') : $this->__('Mrs.');
                            echo $salutation ? $salutation . ' ' : ''; ?>
                            <?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Payment')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('By direct debit'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][account_holder]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[one_time][direct_debit][iban]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php elseif (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages())): ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Account owner')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p><?php
                            if($isSohoCustomer){
                                $checkoutData->setOrderCheckoutData("save_customer", $packageIds);
                                echo $checkoutData->getFieldValue('customer[address][company_name]');
                            } else {
                                echo $checkoutData->getFieldValue('payment[monthly][direct_debit][account_holder]');
                            } ?></p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Billing Address')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <?php $checkoutData->setOrderCheckoutData("save_customer", $packageIds); ?>
                        <?php if($isSohoCustomer){
                            echo '<p>' . $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]') . '</p>';
                        } ?>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                        <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                        <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                    </div>
                </div>
            </div>
            <?php if (($checkoutData->getFieldValue('payment[alternative_account_holder]') == 1) || ($checkoutData->getFieldValue('payment[alternative_account_holder]') == 'on')): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Alternative account holder')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('Alternative account holder'); ?></p>
                            <p><?php $salutation = $checkoutData->getFieldValue('payment[monthly][alternative][gender_value]') == '1' ? $this->__('Mr.') : $this->__('Mrs.');
                            echo $salutation ? $salutation . ' ' : ''; ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][alternative][firstname]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][alternative][street]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('payment[monthly][alternative][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][alternative][postcode]') . ' ' . $checkoutData->getFieldValue('payment[monthly][alternative][city]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <?php if($checkoutData->getFieldValue('payment[one_time][direct_debit][iban]') || $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]')): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('IBAN')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $checkoutData->getFieldValue('payment[one_time][direct_debit][iban]') ?: $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php elseif ($isSohoCustomer && in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())): ?>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Bank account for your monthly bill'); ?>
            </div>
            <?php if ($checkoutData->getFieldValue('payment[monthly][type]') == 'direct_debit'): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Payment')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('By direct debit'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][account_holder]'); ?></p>
                            <p><?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Payment')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('Per self transfer'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][company_name]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php elseif (!$isSohoCustomer && in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())): ?>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Bank account for your monthly bill'); ?>
            </div>
            <?php if ($checkoutData->getFieldValue('payment[monthly][type]') == 'direct_debit'): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Payment')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('By direct debit'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][account_holder]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php else: ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Payment')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p><?php echo $this->__('Per self transfer'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_customer', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('customer[firstname]') . ' ' . $checkoutData->getFieldValue('customer[lastname]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][street]') . ' ' . $checkoutData->getFieldValue('customer[address][houseno]') . ' ' .
                                    $checkoutData->getFieldValue('customer[address][addition]'); ?></p>
                            <p><?php echo $checkoutData->getFieldValue('customer[address][postcode]') . ' ' . $checkoutData->getFieldValue('customer[address][city]'); ?></p>
                            <?php $checkoutData->setOrderCheckoutData('save_delivery', $packageIds); ?>
                            <p><?php echo $checkoutData->getFieldValue('payment[monthly][direct_debit][iban]'); ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
