<?php
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper('dyna_checkout/fields');
$checkoutData->setOrderCheckoutData("save_change_provider", $this->getParentBlock()->getOrderPackageIds());

$isSohoCustomer = $checkoutData->getFieldValue('customer[type]') == 'Soho';
$packageType = $this->getParentBlock()->getPackageType();
?>
<div class="row"></div>
<div class="container-fluid">
    <div class="bs-docs-section margin-top-0 overview-block-section">
        <p id="change_provider" class="overview-font-header overview-title-font"><?php echo $this->__('Change provider'); ?></p>

        <?php if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages()) || in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())): ?>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('Previous connection'); ?>
            </div>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Do you want to change your current provider?')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php
                            switch ($checkoutData->getFieldValue('provider[change_provider]')) {
                                case 0:
                                    echo $this->__('No');
                                    break;
                                case 1:
                                    echo $this->__('Yes');
                                    break;
                                case 2:
                                    echo $this->__('Yes, data is subsequently confirmed');
                                    break;
                            }
                            ?>
                        </p>
                    </div>
                </div>
            </div>

            <?php if ($checkoutData->getFieldValue('provider[change_provider]') == 1): ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Previous provider')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php
                                if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getCablePackages()))
                                {
                                    $carriers_presentation_context = Mage::helper('dyna_checkout')->getOptionsForCable();
                                    $db_value = $checkoutData->getFieldValue('provider[current_provider_type]');
                                    echo $carriers_presentation_context[$db_value];
                                }elseif(in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())) {
                                    $serviceProviders = Mage::getModel('dyna_operator/serviceProvider')->getCollection()
                                        ->addFieldToFilter('code',['eq'=>$checkoutData->getFieldValue('provider[current_provider_type]')])
                                        ->getFirstItem();
                                    echo $serviceProviders->getData('name');
                                }
                                ?>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Number of phone numbers to be taken over')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <?php
                            $providerPhoneListPrefix = $checkoutData->getFieldValueBeginsWith('provider[phone_transfer_list][telephone_prefix]');
                            $providerPhoneListTelephoneNo = $checkoutData->getFieldValueBeginsWith('provider[phone_transfer_list][telephone]');
                            $valueOfFieldNoPhonesTransfer = $checkoutData->getFieldValue('provider[' . strtolower($packageType) . '][no_phones_transfer]');
                            ?>
                            <p>
                                <?php
                                switch ($valueOfFieldNoPhonesTransfer) {
                                    case Dyna_Superorder_Helper_Client::PORTING_ALL_NUMBERS:
                                        echo $this->__('All phones') . '<br/>';
                                        break;
                                    case Dyna_Superorder_Helper_Client::PORTING_ONE_NUMBER:
                                        echo $this->__('1 Phone') . '<br/>';
                                        break;
                                    case Dyna_Superorder_Helper_Client::PORTING_MULTIPLE_NUMBERS:
                                        echo $this->__('More than 1 Phone'). '<br/>';
                                        break;
                                    case Dyna_Superorder_Helper_Client::PORTING_NO_NUMBER:
                                        echo $this->__('None') . '<br.>';
                                        break;
                                    default:
                                        echo $this->__('All phones') . '<br/>';
                                        break;
                                } ?>
                            </p>
                            <?php if (is_array($providerPhoneListPrefix) || ($providerPhoneListPrefix instanceof Traversable)): ?>
                                <?php foreach ($providerPhoneListPrefix as $key => $value) : ?>
                                    <p><?php echo $value . ' ' . $providerPhoneListTelephoneNo[$key]; ?></p>
                                <?php endforeach; ?>
                            <?php endif ?>
                        </div>
                    </div>
                </div>

                <?php if($packageType !==  strtolower(Dyna_Catalog_Model_Type::TYPE_LTE)): ?>
                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Connection owner')); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <p>
                                    <?php
                                    $previousOwnerOption = $checkoutData->getFieldValue('provider[owner_of_terminal]');
                                    switch ($previousOwnerOption) {
                                        case 0:
                                            echo $this->__("Yes, I'm one of the connection owners") . '<br/>';
                                            echo $checkoutData->getFieldValue('provider[other_owner][firstname]') . ' ' . $checkoutData->getFieldValue('provider[other_owner][lastname]');
                                            break;
                                        case 1:
                                            echo $this->__("Yes, I'm connection owner");
                                            break;
                                        case 2:
                                            echo $this->__("No, I'm not the connection owner") . '<br/>';
                                            echo $checkoutData->getFieldValue('provider[other_owner][firstname]') . ' ' . $checkoutData->getFieldValue('provider[other_owner][lastname]');
                                            break;
                                    }
                                    ?>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Other following address')); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <?php if ($checkoutData->getFieldValue('provider[other_address][selected]') == 1): ?>
                                    <p><?php echo $this->__('Yes'); ?></p>
                                    <p><?php echo $checkoutData->getFieldValue('provider[other_address][postcode]') . ' ' . $checkoutData->getFieldValue('provider[other_address][city]'); ?></p>
                                    <p><?php echo $checkoutData->getFieldValue('provider[other_address][street]') . ' ' . $checkoutData->getFieldValue('provider[other_address][houseno]') . ' ' .
                                            $checkoutData->getFieldValue('provider[other_address][addition]'); ?></p>
                                <?php else: ?>
                                    <p><?php echo $this->__('No'); ?></p>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Termination date at ') .$carriers_presentation_context[$db_value]); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <p>
                                    <?php echo $checkoutData->getFieldValue('provider[notice_date]') ? $checkoutData->getFieldValue('provider[notice_date]') : '-'; ?>
                                </p>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>

                <?php if ($checkoutData->getFieldValue('provider_notice_date_radio') == 2): ?>
                    <div class="col-md-12 overview-plan-section">
                        <div class="col-md-12 overview-block-title overview-title-font fs-11">
                            <?php echo strtoupper($this->__('Termination Date not relevant because')); ?>
                        </div>
                    </div>
                    <div class="overview-plan-details products-overview col-md-12">
                        <div class="row">
                            <div class="col-md-12 order-details-section">
                                <p>
                                    <?php $message =  $checkoutData->getFieldValue('provider[termination_date_reason]');
                                    switch ($message)
                                    {
                                        case 'ALREADY_CANCELED' : echo 'Vertrag schon gekundigt';break;
                                        case 'HAND_IN_LATER'    : echo 'Wir nachgereicht';break;
                                        case 'NO_TERM'          : echo 'Keine Mindestvertraglaufzeit';break;
                                        default: echo $message ;
                                    }
                                    ?>
                                </p>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>

        <?php if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getFixedPackages())): ?>
            <div class="col-md-12 overview-plan-section overview-sub-header">
                <?php echo $this->__('New connection'); ?>
            </div>
        <?php if($packageType !==  strtolower(Dyna_Catalog_Model_Type::TYPE_LTE)): ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo mb_strtoupper($this->__('Building')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php echo $checkoutData->getFieldValue('provider[home_type]') == 1 ? $this->__('Multi-family house') : $this->__('House with one family'); ?>
                        </p>
                    </div>
                </div>
            </div>

            <?php if ($checkoutData->getFieldValue('provider[home_type]') == 1): ?>
                <?php
                    $eingangKey = $checkoutData->getFieldValue('provider[home_entrance]');
                    $eingangValues = Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::getDslHomeEntranceOptions();
                    $entrance = $eingangValues[$eingangKey];

                    $stockwerkKey = $checkoutData->getFieldValue('provider[home_floor]');
                    $stockwerkValues = Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::getDslHomeFloorsOptions();
                    $floor = $stockwerkValues[$stockwerkKey];

                    $lageDerWohnungKey = $checkoutData->getFieldValue('provider[home_location]');
                    $lageDerWohnungValues = Dyna_Checkout_Block_Cart_Steps_SaveChangeProvider::getDslApartmentLocationOptions();
                    $location = $lageDerWohnungValues[$lageDerWohnungKey];
                ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Entrance')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $entrance; ?>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Floor')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $floor; ?>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Apartament location')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $location; ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <?php if($checkoutData->getFieldValue('provider[landlord_firstname]')): ?>
            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Landlord data')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php echo $checkoutData->getFieldValue('provider[landlord_firstname]') . ' ' . $checkoutData->getFieldValue('provider[landlord_lastname]') . ' ' .
                                $checkoutData->getFieldValue('provider[landlord_prefix]') . $checkoutData->getFieldValue('provider[landlord_phone]'); ?>
                        </p>
                    </div>
                </div>
            </div>
            <?php endif; ?>

            <div class="col-md-12 overview-plan-section">
                <div class="col-md-12 overview-block-title overview-title-font fs-11">
                    <?php echo strtoupper($this->__('Desired transfer date')); ?>
                </div>
            </div>
            <div class="overview-plan-details products-overview col-md-12">
                <div class="row">
                    <div class="col-md-12 order-details-section">
                        <p>
                            <?php echo $checkoutData->getFieldValue('provider[wish_date_option]') == 0 ? $this->__('As soon as possible') : $checkoutData->getFieldValue('provider[wish_date]'); ?>
                        </p>
                    </div>
                </div>
            </div>

            <?php elseif ($packageType ==  strtolower(Dyna_Catalog_Model_Type::TYPE_LTE)) : ?>
                <div class="col-md-12 overview-plan-section">
                    <div class="col-md-12 overview-block-title overview-title-font fs-11">
                        <?php echo strtoupper($this->__('Instant activation')); ?>
                    </div>
                </div>
                <div class="overview-plan-details products-overview col-md-12">
                    <div class="row">
                        <div class="col-md-12 order-details-section">
                            <p>
                                <?php echo $checkoutData->getFieldValue('provider[activation_with_phone]') == 0 ? $this->__('Activation immediately. You get new phones') : $this->__('Enabling with old phone'); ?>
                            </p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
