<?php
if (Mage::getStoreConfig('omnius_service/customer_search_implementation_configuration/customer_search')) {
    ?>
    <div data-saleschannel="<?php echo Mage::app()->getStore()->getCode(); ?>" id="customer-search-container"></div>
    <?php
} else {
    /**
     * @var Dyna_Customer_Block_CustomerSearch $this
     */
    $uctParams=$this->getUctParams();
    $ctnParam=(!empty($uctParams['callingNumber'])) ? $uctParams['callingNumber'] : null;
    $customerSession=Mage::getSingleton('dyna_customer/session');
    /** @var Vznl_Customer_Helper_Data $customerHelper */
    $customerHelper=Mage::helper('vznl_customer');
    ?>
    <?php if ($customerSession->getAgent()->isGranted(array('SEARCH_CUSTOMER'))) : ?>
        <form class="form-inline" role="form"
              id="customer_search_form" onsubmit="return false">
            <div class="search-block customer-search-form">
                <div class="search-fields legacy-customer-search-container" id="customer-search-container">
                    <div class="form-group col-xs-6">
                        <label for="customer_ctn"><?php echo $customerHelper->__('Mobile number') ?></label>
                        <input type="text" class="form-control" name="customer_ctn" id="customer_ctn" placeholder="06"
                               autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="billing_postcode"><?php echo $this->__('Postcode'); ?></label>
                        <input type="text" class="form-control input_medium" name="billing_postcode"
                               id="billing_postcode" placeholder="1234AA"/>
                    </div>
                    <div class="form-group col-xs-2">
                        <label for="billing_street"><?php echo $this->__('No.'); ?></label>
                        <input type="text" class="form-control input_small" name="billing_street" id="billing_street"
                               autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="company_name"><?php echo $this->__('Company Name'); ?></label>
                        <input type="text" class="form-control" name="company_name" id="company_name"
                               autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="ban"><?php echo $customerHelper->__('Client number'); ?></label>
                        <input type="text" class="form-control" name="ban" id="ban"/>
                    </div>
                    <div class="form-group col-xs-2">
                        <label for="firstname"><?php echo $customerHelper->__('Initial') . ','; ?></label>
                        <input type="text" class="form-control input_small" name="firstname" id="firstname"
                               autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="lastname"><?php echo $this->__('Last name'); ?></label>
                        <input type="text" class="form-control input_medium" name="lastname" id="lastname"
                               autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="customer_email"><?php echo $this->__('E-mail'); ?></label>
                        <input type="text" class="form-control" name="email" id="customer_email" autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="dob"><?php echo $this->__('Date of birth'); ?></label>
                        <input type="text" class="form-control date-format-nl" name="dob" id="dob" autocomplete="off"
                               placeholder="<?php echo $this->__('dd-mm-jjjj'); ?>" onkeyup="dobChange(event)"
                               maxlength="10"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="order_number"><?php echo $this->__('Order number'); ?></label>
                        <input type="text" class="form-control" name="order_number" id="order_number"
                               autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="pin"><?php echo $this->__('Customer password'); ?></label>
                        <input type="text" class="form-control" name="pin" disabled id="pin" autocomplete="off"/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="company_coc"><?php echo $this->__('Chamber of Commerce number'); ?></label>
                        <input type="text" class="form-control" name="company_coc" id="company_coc" autocomplete="off"/>
                    </div>

                    <div class="form-group col-xs-12 exact-search-switch toggle-container hidden">
                        <div class="form-group col-xs-2 switch">
                            <div class="toggle-button" data-state="false"
                                 onclick="CustomerFiltersSearch.onSwitchExactSearchChange(this);">
                                <span class="bullet"> </span>
                            </div>
                            <input id="exact-search" type="radio" name="exact-search" class="exact-search"
                                   value="legacy"/>
                        </div>
                        <div class="form-group col-xs-9 exact-search-label">
                            <label for="exact-search"
                                   onclick="toggleExactSearch();"><?php echo $this->__('Exact search'); ?></label>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="customer_search_field clear">
                    <div class="btn btn-block btn-default"
                         onclick="jQuery(this).parents('form').find('input[type=text], textarea').val('');">
                        <?php echo $this->__('Clear fields'); ?>
                    </div>
                </div>
                <div class="search-button customer_search_field">
                    <input type="hidden" name="perform-exact-address-search" id="perform-exact-address-search"
                           value="0"/>
                    <button id="submit-search" type="submit" class="btn btn-block btn-default"
                            onclick="customer.searchCustomer(this)">
                        <span class="loading-search invisible"></span> <?php echo $customerHelper->__('Search'); ?>
                    </button>
                </div>

                <!-- Advanced Search Options Start -->
                <?php if (!Mage::helper('vznl_service')->isOverride()): ?>
                    <div class="advanced-search clear" style="display:block">
                    <span>
                        <a href="javascript:void(0)" data-on="0"
                           data-hidden="<?php echo $this->__('Advanced Search'); ?>"
                           data-visible="<?php echo $this->__('Stop advanced search'); ?>"
                           onclick="showOptions(this);return false;">
                            <?php echo $this->__('Advanced Search'); ?>
                        </a>
                    </span>
                    </div>
                <?php endif; ?>
                <div class="clear" id="search-customer-type" style="display:none;">
                    <div class="radio" style="display: block;">
                        <label>
                            <input type="radio" name="customer_type" id="optionsRadios1" value="1"
                                   onclick="checkCustomerTypeOption(this);" checked disabled/>
                            <?php echo $this->__('Consumer'); ?>
                        </label>
                    </div>
                    <div class="radio" style="display: block;">
                        <label>
                            <input type="radio" name="customer_type" id="optionsRadios2" value="2"
                                   onclick="checkCustomerTypeOption(this);" disabled/>
                            <?php echo $this->__('Business'); ?>
                        </label>
                    </div>
                    <div class="radio" style="display: block;">
                        <label>
                            <input type="radio" name="customer_type" id="optionsRadios3" value="3"
                                   onclick="checkCustomerTypeOption(this);" disabled/>
                            <?php echo $customerHelper->__('Business with less than 3 numbers'); ?>
                        </label>
                    </div>
                </div>
                <!-- Advanced Search Options End -->

                <div id="customer_search_results" class="customer_search_results col-xs-12">
                    <?php if (Mage::getSingleton('customer/session')->getCustomer()->getId() && $this->getFormId() != 'top_menu_search') : ?>
                        <div class="modal-block" style="background: #ffffcb; padding:10px; margin-bottom: 10px;">
                            <div class="info left">
                                <div style="font-size: 12px;">
                                    <?php echo $this->__('A client is already active. Selecting another client will logout the current customer.'); ?>
                                </div>
                            </div>
                            <div class="clearfix clearer clear"></div>
                        </div>
                    <?php endif; ?>
                    <p class="title"><?php echo $customerHelper->__('Results'); ?></p>
                    <div id="customer_list"><!--Filled with JS--></div>
                </div>
            </div>
        </form>
        <script type="text/javascript">
          function dobChange(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
              dobDots();
            } else if (charCode == 37 || charCode == 39 || charCode == 46 || charCode == 8) {
              // LET LEFT, RIGHT, BACKSPACE AND DEL PASS
            } else {
              evt.preventDefault();
            }
          }

          function dobDots() {
            var dateBox = jQuery('#dob');
            var chars = dateBox.val().length;
            var text = dateBox.val();

            if (chars == 2) {
              dateBox.val(text + "-");
            }
            if (chars == 5) {
              dateBox.val(text + "-");
            }
          }

          function checkDateFormat(value) {
            value = jQuery.trim(value).replace(/[^\d\.]/g, '');
            if (value.length < 0) {
              return false;
            }

            var val = value.split('-');
            if (val.length != 3) {
              return false;
            }

            if (val[2].toString().length < 4) {
              return false;
            }

            // check if input birthday is future date
            var rightnow = new Date();
            var inputdate = new Date(val[2], val[1], val[0]);
            if (rightnow < inputdate) {
              return false;
            }

            return true;
          }

          function toggleLegacySearch() {
            jQuery('#legacy-search').prev().trigger('click');
          }

          function toggleAdvancedSearch() {
            // trigger toggle button
            jQuery('#advanced-search').prev().trigger('click');
            // remove validation classes left from legacy search
            CustomerFiltersSearch.resetFilters();
          }

          function toggleExactSearch() {
            jQuery('#exact-search').prev().trigger('click');
          }

          function toggleExactSearch() {
            jQuery('#exact-search').prev().trigger('click');
          }

          window.onload = function () {
            jQuery("#pin").prop("disabled", true);
          };
        </script>
    <?php else: ?>
        <?php echo $this->__('The agent doesn\'t have enough permissions to search customers'); ?>
    <?php endif;
}
?>
