<?php
/**
 * Custom tab template
 */

/** @var Mage_Catalog_Model_Product $_product */
$_product = Mage::getModel('catalog/product')->load($this->getRequest()->getParam('id'));
$_productVisibility = json_decode($_product->getProductVisibilityStrategy(), true);
$_productVisibility = $_productVisibility['strategy'];

/** @var Dyna_Agent_Model_Mysql4_Dealer_Collection $agentGroups */
$agentGroups = Mage::getResourceModel('agent/dealergroup_collection');
/** @var Vznl_ProductFilter_Model_Mysql4_Filter_Collection $existingFilters */
$existingFilters = Mage::getResourceModel('productfilter/filter_collection')
    ->addFieldToFilter('product_id', $_product->getId());
$excluding = $including = array();

if ($_productVisibility === Vznl_ProductFilter_Model_Filter::STRATEGY_EXCLUDE) {
    foreach ($agentGroups as $group) {
        if ($group && ! $existingFilters->getItemByColumnValue('group_id', $group->getId())) {
            $excluding[$group->getId()] = $group->getName();
        }
    }
} elseif ($_productVisibility === Vznl_ProductFilter_Model_Filter::STRATEGY_INCLUDE) {
    foreach ($existingFilters as $filter) {
        $group = $agentGroups->getItemByColumnValue('group_id', $filter->getGroupId());
        if ($group) {
            $including[$group->getId()] = $group->getName();
        }
    }
}
?>
<div class="entry-edit" id="product-filter">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Product Dealer Visibility') ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <tbody>
                <!--Start visible to all-->
                <tr>
                    <td class="label"><label for="name"><?php echo $this->__('Visible to all dealers') ?></label></td>
                    <td class="value">
                        <input id="visible_to_all" name="visibility_domain" class="input-text section-select"
                               type="radio" value="include_all" <?php if ($_productVisibility === Vznl_ProductFilter_Model_Filter::STRATEGY_INCLUDE_ALL): ?> checked="checked" <?php endif; ?>>
                    </td>
                </tr>
                <!--End visible to all-->
                <tr>
                    <td colspan="3">
                        <hr/>
                    </td>
                </tr>
                <!--Start visible to groups-->
                <tr>
                    <td class="label"><label for="name"><?php echo $this->__('Visible to all groups selected') ?></label></td>
                    <td class="value">
                        <input id="visible_to_groups" name="visibility_domain" class="input-text section-select"
                               type="radio" value="include" <?php if ($_productVisibility === Vznl_ProductFilter_Model_Filter::STRATEGY_INCLUDE): ?> checked="checked" <?php endif; ?>>
                        <div class="visible_to_groups_select autocomplete-field">
                            <input type="text" id="groups" data-format="text">&nbsp;<i><?php echo $this->__('type to search') ?></i>
                        </div>
                    </td>
                </tr>
                <tr class="content visible_to_groups_select select-area">
                    <td class="label">&nbsp;</td>
                    <td class="value">
                        <select name="visible_to_groups[include][]" id="visible_to_groups_select" multiple="multiple">
                            <?php foreach ($including as $groupId => $groupName): ?>
                                <option value="<?php echo $groupId ?>"><?php echo $groupName ?></option>
                            <?php endforeach; ?>
                        </select>
                        <span class="delete right" onclick="removeItem(this); return false;"></span>
                    </td>
                </tr>
                <!--End visible to groups-->
                <tr>
                    <td colspan="3">
                        <hr/>
                    </td>
                </tr>
                <!--Start visible to groups except-->
                <tr>
                    <td class="label"><label for="name"><?php echo $this->__('Visible to all groups except the selected ones') ?></label></td>
                    <td class="value">
                        <input id="visible_to_groups_exclude" name="visibility_domain" class="input-text section-select"
                               type="radio" value="exclude" <?php if ($_productVisibility === Vznl_ProductFilter_Model_Filter::STRATEGY_EXCLUDE): ?> checked="checked" <?php endif; ?>>
                        <div class="visible_to_groups_exclude_select autocomplete-field">
                            <input type="text" id="groups_exclude" data-format="text">&nbsp;<i><?php echo $this->__('type to search') ?></i>
                        </div>
                    </td>
                </tr>
                <tr class="content visible_to_groups_exclude_select select-area">
                    <td class="label">&nbsp;</td>
                    <td class="value">
                        <select name="visible_to_groups[exclude][]" id="visible_to_groups_exclude_select" multiple="multiple">
                            <?php foreach ($excluding as $groupId => $groupName): ?>
                                <option value="<?php echo $groupId ?>"><?php echo $groupName ?></option>
                            <?php endforeach; ?>
                        </select>
                        <span class="delete right" onclick="removeItem(this); return false;"></span>
                    </td>
                </tr>
                <!--End visible to groups except-->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    <?php
    $dealerCollection = Mage::getModel('agent/dealer')->getCollection();
    $dealers = array();
    /** @var Dyna_Agent_Model_Dealer $dealer */
    foreach ($dealerCollection as $dealer) {
        array_push($dealers, array(
                'value' => $dealer->getAddress(),
                'data' => $dealer->getId(),
            )
        );
    }
    $dealers = json_encode($dealers);

    $groupsCollection = Mage::getModel('agent/dealergroup')->getCollection();
    $groups = array();
    /** @var Dyna_Agent_Model_Dealer $group */
    foreach ($groupsCollection as $group) {
        array_push($groups, array(
                'value' => $group->getName(),
                'data' => $group->getGroupId(),
            )
        );
    }
    $groups = json_encode($groups);
    ?>

    //<![CDATA[
    jQuery(document).ready(function($) {
        $('#dealers').autocomplete({
            source: <?php echo $dealers; ?>,
            select: function(e, ui) {
                addSelection(ui, $('#dealers'));
            }
        });
        $('#groups').autocomplete({
            source: <?php echo $groups; ?>,
            select: function(e, ui) {
                addSelection(ui, $('#visible_to_groups_select'));
            }
        });

        $('#groups_exclude').autocomplete({
            source: <?php echo $groups; ?>,
            select: function(e, ui) {
                addSelection(ui, $('#visible_to_groups_exclude_select'));
            }
        });
    });
    //]]>
</script>
