<?php
/** @var Dyna_Customer_Model_Session $customerSession */
$customerSession = Mage::getSingleton('customer/session');

/** @var Vznl_Agent_Model_Agent $agent */
$agent = $customerSession->getAgent();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');

/** @var Vznl_Customer_Helper_Data $agentHelper */
$customerHelper = Mage::helper('vznl_customer');

if ($agent) {
    $agentDealer = $agent->getDealer();
    /** @var Dyna_Agent_Model_Agent $superAgent */
    $superAgent = $customerSession->getSuperAgent();
    if ($superAgent) {
        $superAgentDealer = $superAgent->getDealer();
    }

    $isNotIndirectStore    = (bool) (!$agentHelper->isIndirectStore());
    $impersonationEnabled  = (bool) ($isNotIndirectStore && ($superAgent || $agent->getIsSuperAgent()));
    $changePasswordEnabled = (bool) $agent->isGranted(['CHANGE_PASSWORD']);

    $profileMenuClass = 'col-md-2 col-md-push-2';
    $headerMenuClass = $impersonationEnabled ? 'col-md-10 col-md-offset-2' : 'col-md-12 col-md-offset-2';
}
$onclickUserMenu = $superAgent || $agent->getIsSuperAgent() ? '.el-tab.login-other-user,#agent-load' : '.el-tab.change-password,#password-change';

if ($agent) {
    ?>
    <script type="text/javascript">
      function makeActive(activeClass) {
        var array = activeClass.split(',');
        var arr = {'#profile': '.profile', '#password-change': '.change-password', '#agent-load': '.login-other-user'};
        jQuery.each(arr, function (key, val) {
          if (key != array[1]) {
            jQuery(key).removeClass('active');
            jQuery(val).removeClass('active');
          }
        });
        jQuery(array[0]).addClass('active');
        jQuery(array[1]).addClass('active');
        <?php if ($superAgent || $agent->getIsSuperAgent()): ?>
            jQuery(array[0]).click();
        <?php endif; ?>
      }

      function makeCurrentActive(activeCurrentTab, activeCurrentClass) {
        var arr = {'#profile': '.profile', '#password-change': '.change-password', '#agent-load': '.login-other-user'};
        jQuery.each(arr, function (key, val) {
          if (key != activeCurrentTab) {
            jQuery(key).removeClass('active');
            jQuery(val).removeClass('active');
          }
        });
        jQuery(activeCurrentTab).addClass('active');
        jQuery(activeCurrentClass).addClass('active');
      }
    </script>
    <div class="right-menu">
        <div class="user-menu">
            <div class="drop-menu">
                <a href="#user-menu-content" class="header-dropdown-button" data-slidebutton-top="panel" onclick="makeActive('<?php echo $onclickUserMenu; ?>')">
                    <div class="menu">
                        <span id="impersonated_agent_details_top">
                            <?php
                            if ($superAgent) {
                                echo '' . $agent->getUsername() . '';
                                echo '&nbsp;-&nbsp;' . $agent->getDealerCode();
                            }
                            ?>
                        </span>
                        <span id="agent_details_top_left" class="<?php echo $superAgent ? 'grey' : null; ?>">
                            <?php
                            if ($superAgent) {
                                echo '&nbsp;<span>(</span>' . $superAgent->getUsername() . '';
                                echo '&nbsp;-&nbsp;' . $superAgent->getDealerCode() . '<span>)</span>';
                            } else {
                                echo '&nbsp;<span>(</span>' . $agent->getUsername() . '';
                                echo '&nbsp;-&nbsp;' . $agent->getDealerCode() . '<span>)</span>';
                            }
                            ?>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <div id="user-menu-content" class="cb_slide_panel">
            <div class="wrapper">
                <a href="javascript:void(0)" class="close">Close</a>
                <div class="inner">
                    <div class="top-menu-buttons col-xs-12">
                        <div class="nav btn-group <?php echo $headerMenuClass; ?>">
                            <button type="button"
                                class="btn btn-default el-tab profile <?php echo ($impersonationEnabled) ? '' : 'active' ?> <?php echo $profileMenuClass; ?>"
                                onclick="makeCurrentActive('#profile','.profile')">
                                <?php echo $customerHelper->__('Profile'); ?>
                            </button>

                            <?php if ($changePasswordEnabled) { ?>
                                <button type="button"
                                    class="btn btn-default el-tab change-password <?php echo $profileMenuClass; ?>"
                                        onclick="makeCurrentActive('#password-change','.change-password')">
                                    <?php echo $customerHelper->__('Change password'); ?>
                                </button>
                            <?php } ?>

                            <?php if ($impersonationEnabled) { ?>
                                <button type="button"
                                    class="btn btn-default el-tab login-other-user <?php echo $profileMenuClass; ?>"
                                    onclick="agent.getAgents(true); makeCurrentActive('#agent-load','.login-other-user')">
                                    <?php echo $agentHelper->__('Login as other agent'); ?>
                                </button>
                            <?php } ?>
                        </div>
                    </div>
                    <div class="middle-section col-xs-12">
                        <ul class="nav nav-tabs dont-show no-padding no-margin" id="top-tabs">
                            <li>
                                <a href="#profile" id="profile-tab" data-toggle="tab">
                                    <?php echo $customerHelper->__('Profile'); ?>
                                </a>
                            </li>
                            <?php if ($changePasswordEnabled) { ?>
                                <li>
                                    <a href="#password-change" id="password-change-tab" data-toggle="tab">
                                        <?php echo $customerHelper->__('Change password'); ?>
                                    </a>
                                </li>
                            <?php } ?>
                            <?php if ($impersonationEnabled) { ?>
                                <li>
                                    <a href="#agent-load" id="agent-load-tab" data-toggle="tab">
                                        <?php echo $agentHelper->__('Load other agent'); ?>
                                    </a>
                                </li>
                            <?php } ?>
                        </ul>

                        <div class="tab-content">
                            <!-- Profile Start -->
                            <div class="tab-pane top_menu_content <?php echo $impersonationEnabled ? '' : 'active' ?>" id="profile">
                                <h4>
                                    <?php echo $agentHelper->__('Agent details'); ?>
                                </h4>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $agentHelper->__('Username'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getUsername() : $agent->getUsername(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $agentHelper->__('E-mail'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getEmail() : $agent->getEmail(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6"><strong><?php echo $agentHelper->__('Phone'); ?></strong>:</span>
                                            <span class="col-xs-6"><?php echo $superAgent ? $superAgent->getPhone() : $agent->getPhone(); ?></span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6">
                                                <strong><?php echo $agentHelper->__('First Name'); ?></strong>:
                                            </span>
                                            <span class="col-xs-6">
                                                <?php echo $superAgent ? $superAgent->getFirstName() : $agent->getFirstName(); ?>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6">
                                                <strong><?php echo $agentHelper->__('Last Name'); ?></strong>:
                                            </span>
                                            <span class="col-xs-6">
                                                <?php echo $superAgent ? $superAgent->getLastName() : $agent->getLastName(); ?>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6">
                                                <strong><?php echo $agentHelper->__('Rights'); ?></strong>:
                                            </span>
                                            <?php $roles = Dyna_Agent_Block_Adminhtml_Agent_Grid::getValueArray6(); ?>
                                            <span class="col-xs-6">
                                                <?php echo $roles[$superAgent ? $superAgent->getRoleId() : $agent->getRoleId()]; ?>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6">
                                                <strong><?php echo $agentHelper->__('Vodafone employee number'); ?></strong>:
                                            </span>
                                            <span class="col-xs-6">
                                                <?php echo $superAgent ? $superAgent->getEmployeeNumber() : $agent->getEmployeeNumber(); ?>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <span class="col-xs-6">
                                                <strong><?php echo $agentHelper->__('Dealer code'); ?></strong>:
                                            </span>
                                            <span class="col-xs-6">
                                                <?php echo $superAgent ? $superAgentDealer->getVfDealerCode() : $agentDealer->getVfDealerCode(); ?>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Profile End -->

                            <?php if ($changePasswordEnabled) { ?>
                                <!-- Change Password Start -->
                                <div class="tab-pane top_menu_content" id="password-change">
                                    <p id="agent-change-password-error" class="error"></p>
                                    <h4>
                                        <?php echo $customerHelper->__('Change password'); ?>
                                    </h4>
                                    <form role="form">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="curr-password"><?php echo $agentHelper->__('Current password'); ?></label>
                                                <input type="password" class="form-control" id="curr-password">
                                            </div>
                                            <div class="form-group">
                                                <label for="password"><?php echo $agentHelper->__('New password'); ?></label>
                                                <input type="password" class="form-control" id="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="password-again"><?php echo $agentHelper->__('Re-type new password'); ?></label>
                                                <input type="password" class="form-control" id="password-again">
                                            </div>
                                            <div class="form-group info-block">
                                                <ul>
                                                    <li><?php echo $agentHelper->__('at least 8 characters'); ?></li>
                                                    <li><?php echo $agentHelper->__('should contain at least 3 of the following character types:'); ?>
                                                        <ul>
                                                            <li><?php echo $agentHelper->__('numerals'); ?></li>
                                                            <li><?php echo $agentHelper->__('punctuation'); ?></li>
                                                            <li><?php echo $agentHelper->__('lower case literals'); ?></li>
                                                            <li><?php echo $agentHelper->__('upper case literals'); ?></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn btn-primary right"
                                                onclick="agent.changePassword(
                                                    jQuery('#curr-password').val(),
                                                    jQuery('#password').val(),
                                                    jQuery('#password-again').val()
                                                )">
                                                <?php echo $this->__('Save'); ?>
                                            </div>
                                        </div> <!-- ./col-md-12 -->
                                    </form>
                                    <div class="clearfix clear clearer"></div>
                                </div>
                                <!-- Change Password End -->
                            <?php } ?>

                            <?php if ($impersonationEnabled) { ?>
                                <!-- Login As Other User/User Impersonation Start -->
                                <div class="tab-pane top_menu_content active" id="agent-load">
                                    <?php // Show only when super agent variable is empty as logged in agent is not impersonating: ?>
                                    <?php if (!$superAgent) { ?>
                                        <h4 class="login-user-agent">
                                            <?php echo $agentHelper->__('Login as other agent'); ?>
                                        </h4>
                                        <p id="agent-login-error" class="error login-user-agent"></p>

                                        <div class="login-user-agent">
                                            <form role="form" class="loginOtherUserForm">
                                                <div class="form-group">
                                                    <label for="agent-username-input">
                                                        <?php echo $agentHelper->__('Username') . ':'; ?>
                                                    </label>
                                                    <input type="text" class="form-control" id="agent-username-input">
                                                </div>
                                            </form>
                                        </div>

                                        <button class="btn btn-info right login-user-agent" onclick="loginOtherUser()">
                                            <?php echo $agentHelper->__('Login other user'); ?>
                                        </button>

                                    <?php // Current agent is impersonating so show logout instead: ?>
                                    <?php } else { ?>
                                        <!-- Impersonation Logout Start -->
                                        <h4 class="logout-user">
                                            <?php echo $agentHelper->__('Logout other agent'); ?>
                                        </h4>
                                        <ul class="list-group logout-user">
                                            <li class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <strong><?php echo $agentHelper->__('Logged in as'); ?></strong>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span id="agent-username"><?php echo $agent->getUsername(); ?></span> -
                                                        <span id="agent-dealer">
                                                            <?php echo $agentDealer ? $agentDealer->getVfDealerCode() : $agentHelper->__('N/A'); ?>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn btn-primary right logout-user"
                                             onclick="agent.logoutOtherAgent();">
                                            <?php echo $agentHelper->__('Logout other user'); ?>
                                        </button>
                                        <p id="agent-logout-error" class="error"></p>
                                        <!-- Impersonation Logout End -->
                                    <?php } ?>

                                    <div class="clearfix clear clearer"></div>
                                </div>
                                <!-- Login As Other User/User Impersonation End -->
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="user-menu-logout" onclick="agent.logout();">
            <img src="<?php echo $this->getSkinUrl('images/logout.svg'); ?>" alt="<?php echo $agentHelper->__('Logout'); ?>" ?>
        </a>
    </div>
<?php
}