<script>
  var _stores = new Array();
</script>
<?php
/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('agent');
$id = Mage::app()->getRequest()->getParam('axi_store_id', null);
if (is_null($id)) {
    echo $this->__('Please specify a product');
} else {
    $isTelesales = $agentHelper->isTelesalesLine();
    /** @var Dyna_Catalog_Model_Product $_product */
    $_product = Mage::getModel('catalog/product')->load($id);

    $axiStoreCode = null;
    if ($agentHelper->isRetailStore()) {
        $session = Mage::getSingleton('customer/session');
        $agent = $session->getAgent();
        if ($agent) {
            $dealer = $agentDealer = $agent->getDealer();
            $axiStoreCode = $dealer->getAxiStoreCode();

            $superAgent = $session->getSuperAgent();
            if ($superAgent) {
                $dealer = $superAgentDealer = $superAgent->getDealer();
                $axiStoreCode = $dealer->getAxiStoreCode();
            }
        }
    }

    $_productStockCollection = Mage::helper('stock')->getProductStockCollection($_product, $axiStoreCode);

    /** @var Dyna_Stock_Model_Stock $_productStock */
    $_productStock = $_productStockCollection->getFirstItem();
    $_stockStores = new Varien_Data_Collection();
    foreach ($_productStock->getOtherStoreList() as $stock) {
        $_stockStores->addItem(new Varien_Object($stock));
    }

    if (!$isTelesales) {
        $showBtnText = $this->__('Show other stores');
        $hideBtnText = $this->__('Hide other stores');
        $tableText = $this->__('Other stores');
        $hiddenClass = '';
    } else {
        $showBtnText = $this->__('Show stores');
        $hideBtnText = $this->__('Hide stores');
        $tableText = $this->__('Stores');
        $hiddenClass = 'hidden';
    }

    if ($isTelesales) {
        $dealers = Mage::getModel('agent/dealer')->getCollection();
    } else {
        $dealers = $agentHelper->getDealers();
    }
    $dealers->setOrder('city', 'asc')
        ->setOrder('street', 'asc');

    $sku = $_product->getSku();
    try {
        $thumbnailImage = Mage::helper('vznl_catalog')->getThumbnailBySku((string)$product['sku']);
        ?>    
        <div class="product-image">
            <img src="<?php echo $thumbnailImage; ?>" />
        </div>
        <?php
    } catch (Exception $exception) {
        // Don't display image if it isn't available
    }
    ?>
    <div class="product-name">
        <span><b><?php echo $_product->getName(); ?></b></span>
    </div>
    <div class="product-description"><?php echo $_product->getDescription(); ?></div>
    <div class="clearfix clearer clear"></div>
    <table class="local-stock">
        <thead>
            <tr>
                <th><a href="javascript:void(0)"><span class="glyphicon glyphicon-refresh"></span></a></th>
                <th><?php echo $this->__('Location'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php if ($isTelesales): ?>
                <tr>
                    <td class="number"><?php echo number_format($_productStock->getItemCount(), 0, '.', ''); ?></td>
                    <td>
                        <b><?php echo $this->__('Warehouse'); ?></b>
                    </td>
                </tr>
            <?php elseif ($agentHelper->isRetailStore() && is_object($dealer)): ?>
                <tr>
                    <td class="number"><?php echo number_format($_productStock->getItemCount(), 0, '.', ''); ?></td>
                    <td>
                        <b><?php echo $dealer->getStreet() ?> <?php echo $dealer->getHouseNr() ?> <?php echo $dealer->getPostalCode() ?> <?php echo $dealer->getCity() ?></b>
                    </td>
                </tr>
            <?php else: ?>
                <tr>
                    <td class="number"><?php echo number_format($_productStock->getItemCount(), 0, '.', ''); ?></td>
                    <td>
                        <b><?php echo Mage::app()->getStore()->getFrontendName(); ?></b>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if (!$isTelesales): ?>
                <tr>
                    <td>&nbsp;</td>
                    <td><b><?php echo $this->__('Magazine'); ?></b></td>
                </tr>
                <tr>
                    <td class="number"><?php echo number_format($_productStock->getWarehouseCount(), 0, '.', ''); ?></td>
                    <td><?php echo $this->__('In stock'); ?></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td class="number">0</td>
                <td><?php echo $this->__('In threshold'); ?></td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:void(0)" id="display-stores">
        <span class="glyphicon glyphicon-play"></span><?php echo $showBtnText; ?>
    </a>
    <a hidden href="javascript:void(0)" id="hide-stores">
        <span class="glyphicon glyphicon-play icon-flipped"></span><?php echo $hideBtnText; ?>
    </a>

    <div id="stock-other-stores">
        <table>
            <thead>
            <tr>
                <td colspan="3">
                    <div class="input-group input-group-select2">
                        <select data-type="select2">
                            <option disabled <?php echo $isTelesales ? 'selected' : '' ?>>
                                <?php echo $this->__('Select a store') ?>
                            </option>
                            <?php
                            /** @var Dyna_Agent_Model_Dealer $d */
                            foreach ($dealers as $d) {
                                $storeCode = $d->getAxiStoreCode();
                                if(!$storeCode){
                                    continue;
                                }
                                $selected = !$isTelesales && $storeCode == $axiStoreCode ? 'selected' : '';
                                ?>
                                <option value="<?php echo $storeCode ?>" <?php echo $selected ?>>
                                    <?php echo join(', ', array($d->getCity(), $d->getStreet() . ' ' . $d->getHouseNr(), $d->getPostcode())) ?>
                                </option>
                                <?php
                            }
                            ?>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    <a href="javascript:void(0)"><span class="glyphicon glyphicon-refresh"></span></a>
                </th>
                <th>
                    <?php echo $tableText ?>
                </th>
                <th>
                    <?php echo $this->__('Telephone') ?>
                </th>
            </tr>
            </thead>
            <tbody id="storesFound">
            <?php
            echo Mage::getBlockSingleton('core/template')->setTemplate('configurator/widget/partials/stores_found.phtml')
                ->setData('stockStores', $_stockStores)
                ->setData('dealers', $dealers)
                ->setData('hiddenClass', $hiddenClass)
                ->toHtml();
            ?>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $('#display-stores').on('click', function () {
          $('#stock-other-stores').show();
          $('#hide-stores').show();
          $('#display-stores').hide();
        });
        $('#hide-stores').on('click', function () {
          $('#stock-other-stores').hide();
          $('#hide-stores').hide();
          $('#display-stores').show();
        });

        $('#stock-modal .glyphicon-refresh').on('click', function (e) {
          var productId = <?php echo $_product->getId(); ?>;
          var storeId = $('#stock-other-stores select[data-type="select2"]').val();
          updateStoresStockFound(productId, storeId);
        });

        $('#stock-other-stores select[data-type="select2"]').on('change', function (e) {
          var productId = <?php echo $_product->getId(); ?>;
          var storeId = $('#stock-other-stores select[data-type="select2"]').val();
          updateStoresStockFound(productId, storeId);
        });

        //Remove tabindex because this blocked the typing functionality of select2
        $('select[data-type="select2"]').parents('div.modal').removeAttr('tabindex');
        //Initiate select2
        $('select[data-type="select2"]').select2();
        //Remove width:auto;
        $('#stock-other-stores .select2.select2-container').css('width', '');
      });
      function updateStoresStockFound(productId, storeId) {
        jQuery.ajax({
            type: "POST",
            url: 'configurator/init/getStoresStockFound',
            data: {'product_id': productId,'axi_store_id': storeId},
        }).done(function (response) {
          jQuery('#stock-other-stores #storesFound').html(response);
        });
      }
    </script>
    <?php
}
