<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>
<?php $package = $this->getPackage();
 $moveNumberEnable = $package->getSaleType();
 $agent = Mage::helper('agent/data')->getAgent();
 $cartHelper = Mage::helper('dyna_configurator/cart'); ?>
<div class="terms term-design" id="fixed-retail">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Retailer Information")?></p>
    </div>
    <table class="consumer">
        <tbody>
            <tr>
                <td width="340"><?=$this->__("Name")?></td>
                <td><?=$agent->getFirstName()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Salescode")?></td>
                <td><?=$this->getAgentSalesCode()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Order Number")?></td>
                <td><?=$this->getOrderNumber()?></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="terms term-design" id="fixed-customer">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Customer details")?></p>
    </div>
    <table class="consumer">
        <tbody>
            <tr>
                <td width="340"><?=$this->__("Customer Name")?></td>
                <td><?=$this->getCustomerName()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Birth name")?></td>
                <td></td>
            </tr>
            <tr>
                <td><?=$this->__("Client number")?></td>
                <td><?=$this->getCustomerPan()?></td>
            </tr>
            <tr>
                <td><?=$this->__("Birth Date")?></td>
                <td><?=$this->getCustomerDob()?></td>
            </tr>
            <tr>
                <?php if ($this->getCustomerEmail() != Vznl_Customer_Model_Customer::DUMMY_EMAIL_ADDRESS) : ?>
                <td><?=$this->__("Email address")?></td>
                <td><?=$this->getCustomerEmail()?></td>
                <?php else : ?>
                <td colspan="2"></td>
                <?php endif; ?>
            </tr>
            <tr>
                <td><?=$this->__("Phone contact number")?></td>
                <td><?=$this->getCustomerTelephone();?></td>
            </tr>
            <?php if ($moveNumberEnable) { ?>
            <tr>
                <td><?=$this->__("Service Address ")?></td>
                <?php $address = $this->getBillingHouseNumberAddition(); ?>
                <td><?=$address['street']." ".$address['housenumber'] . " " . $address['housenumberaddition'] . ", " . $address['postalcode'] . ", " . $address['city']?></td>
            </tr>
            <?php } ?>
            <tr>
                <td><?=$this->__("Billing Address")?></td>
                <?php $address = $this->getBillingHouseNumberAddition(); ?>
                <td><?=$address['street']." ".$address['housenumber'] . " " . $address['housenumberaddition'] . ", " . $address['postalcode'] . ", " . $address['city']?></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="terms term-design" id="fixed-payment">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Payment details")?></p>
    </div>
    <table class="consumer">
        <tbody>
            <tr>
                <td width="340"><?=$this->__("Account Number")?>:</td>
                <td><?=str_repeat('*', strlen(($this->getCustomerBankAccount()?$this->getCustomerBankAccount():"")) - 4) . substr(($this->getCustomerBankAccount()?$this->getCustomerBankAccount():""), -4);?></td>
            </tr>
            <tr>
                <td><?=$this->__("Payment Methods")?>:</td>
                <td><?=$this->__($this->getFixedPaymentMethodMonthlyCharges())?></td>
            </tr>
            <tr>
                <td><?=$this->__("Delivery method invoice")?>:</td>
                <td><?=$this->__($this->getFixedBillDistributionMethod())?></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="terms term-design" id="fixed-products">
    <?php
    $items = $this->getPackage()->getPackageItems();
    $items = $cartHelper->getSortedCartProducts($items);
    $firstLoop = true;
    foreach ($items as $item) {
        if ($item->getHardwareName() && ($item->getEanNumber() || $item->getSerialNumber() || $item->getBoxSerialNumber())) {
            if ( $firstLoop ) { ?>
                <div class="fixed-contract-title"?>
                    <p><?=$this->__("Data of the received products")?></p>
                </div>
                <?php
                $firstLoop = false;
            }
        }
    } ?>
    <table class="consumer">
        <tbody>
        <?php
        foreach ($items as $item) { ?>
            <?php
            if ($item->getHardwareName() && ($item->getBoxSerialNumber() || $item->getSerialNumber() || $item->getEanNumber())) {
                 echo $item->getHardwareName().":";
            }
            ?>
                <?php
                if ($item->getBoxSerialNumber()) {
                    ?>
                    <tr>
                        <td width="340"><?= $this->__("Box Serial Number") ?>:</td>
                        <td><?= $item->getBoxSerialNumber() ?></td>
                    </tr>
                    <?php
                }
                if ($item->getEanNumber()) {
                    ?>
                    <tr>
                        <td width="340"><?= $this->__("Smart Card Serial number") ?>:</td>
                        <td><?= $item->getEanNumber() ?></td>
                    </tr>
                    <?php
                }
                ?>
                <?php
            }
        ?>
        </tbody>
    </table>
</div>
<?php if ($this->getPstn()) { ?>
    <div class="terms term-design" id="fixed-products">
        <div class="fixed-contract-title"?>
            <p><?=$this->__("Telefoonenummer geselecteerd")?></p>
        </div>
        <table class="consumer">
            <tbody>
                <tr>
                    <td width="340"><?=$this->__("Primaire nummer")?>:</td>
                    <td><?=$this->getPstn()?></td>
                </tr>
                <?php
                if ($this->getExtraPstn()) {
                ?>
                    <tr>
                        <td width="340"><?=$this->__("Secundaire nummer")?>:</td>
                        <td><?=$this->getExtraPstn()?></td>
                    </tr>
                <?php
                }
                ?>
            </tbody>
        </table>
    </div>
<?php } ?>
