<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>

<div class="terms term-design" id="fixed-desired">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Desired situation")?></p>
    </div>
    <div class="consumer">
        <table class="fixed-product-table">
            <tr>
                <td class="totals status">
                    <?=$this->__('Status'); ?>
                </td>
                <td class="totals product">
                    <?=$this->__('Description'); ?>
                </td>
                <td class="totals price"">
                    <?=$this->__('One time'); ?>
                </td>
                <td class="totals price">
                    <?=$this->__('Monthly'); ?>
                </td>
            </tr>
            <tr style="border-bottom:2px solid black">
                <td colspan="100%"></td>
            </tr>
            <?php
            $currency = Mage::getModel('directory/currency');
            $cartHelper = Mage::helper('dyna_configurator/cart');
            $noSymbol = array('display' => Zend_Currency::NO_SYMBOL);
            $totalPricePlanIncl = 0;
            $totalConnectionCostsIncl = 0;
            $hasPromo = false;
            /** @var Mage_Tax_Helper_Data $taxHelper */
            $taxHelper = Mage::helper('tax');
            $order = $this->getOrder();
            $quoteId = $order->getQuoteId();

            $package = $this->getPackage();
            $packageId = $package['package_id'];
            $defaultPackageType = Mage::getModel('package/package')->getDefaultPackageType();
            $productGroupCollection = array();
            foreach ($defaultPackageType as $type) {
                $defaultProductOrder = Mage::getModel('package/package')->getDefaultProductOrder($simcard = false, $type);
                $productGroupCollection = array_merge($defaultProductOrder,$productGroupCollection);
            }
            $items = $this->getPackage()->getPackageItems();
            $items = $cartHelper->getSortedCartProducts($items);
            foreach ($items as $item) {
                $name = $item->getName();
                $installedBaseProducts = $item->getData('preselect_product');
                $priceIncl = $item->getRowTotalInclTax();
                $mafInclTax = $item->getMafRowTotalInclTax();
                $totalPricePlan += $item->getRowTotalInclTax();
                $totalConnectionCosts += $item->getMafRowTotalInclTax();
                $totalPricePlanIncl += $item->getItemFinalPriceInclTax();
                $totalConnectionCostsIncl += $item->getItemFinalMafInclTax();
                $productId = $item->getData('product_id');
                $targetId = $item->getData('target_id');
                $isPromo = $item->getData('is_promo');
                if ($isPromo) {
                    $hasPromo = true;
                }
            ?>
            <?php if (!$targetId && !$isPromo) { ?>
            <tr>
                <td class="status">
                    <?php if ($installedBaseProducts) { ?>
                        <?= $this->__('Keep'); ?>
                    <?php } else { ?>
                        <?= $this->__('New'); ?>
                    <?php } ?>
                </td>
                <td class="product">
                    <?=$item->getName(); ?>
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($priceIncl, $noSymbol)?></span>
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($mafInclTax, $noSymbol)?></span>
                </td>
            </tr>
            <?php } ?>
            <?php
            foreach ($items as $subItem) {
                $targetId = $subItem->getData('target_id');
                $isPromo = $subItem->getData('is_promo');
                $subItemPriceIncl = ($subItem->getBaseAppliedPromoAmount() != 0) ? $subItem->getBaseAppliedPromoAmount() : '';
                $subItemMafInclTax = ($subItem->getBaseAppliedMafPromoAmount() != 0) ? $subItem->getBaseAppliedMafPromoAmount() : '';
                if ($isPromo && ($productId == $targetId)) { ?>
                    <tr>
                        <td class="status">
                            <?php if ($installedBaseProducts) { ?>
                                <?= $this->__('Keep'); ?>
                            <?php } else { ?>
                                <?= $this->__('New'); ?>
                            <?php } ?>
                        </td>
                        <td class="product">
                            <?= $subItem->getName(); ?>
                        </td>
                        <td class="price">
                            <span>&euro;&nbsp;&nbsp;</span>
                            <span>0,00</span>
                        </td>
                        <td class="price">
                            <span>&euro;&nbsp;&nbsp;</span>
                            <span>0,00</span>
                        </td>
                    </tr>
                <?php }
            }
            } ?>
            <tr style="border-bottom:2px solid black">
                <td colspan="100%"></td>
            </tr>
            <tr>
                <td class="status"></td>
                <td class="product">
                    <?=$this->__('Subtotal'); ?>
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($totalPricePlanIncl, $noSymbol)?></span>
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($totalConnectionCosts, $noSymbol)?></span>
                </td>
            </tr>
            <tr style="border-bottom:2px solid black">
                <td colspan="100%"></td>
            </tr>
            <tr style="border-bottom:2px solid black">
                <td colspan="100%"></td>
            </tr>
            <?php if ($hasPromo && ($totalConnectionCostsIncl != $totalConnectionCosts)) { ?>
            <tr>
                <td class="status"></td>
                <td class="product">
                    <?=$this->__('Total price including (temporary) discounts'); ?>:
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($totalPricePlanIncl, $noSymbol)?></span>
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($totalConnectionCostsIncl, $noSymbol)?></span>
                </td>
            </tr>
            <?php } ?>
            <tr>
                <td class="status"></td>
                <td class="product">
                    <?=$this->__('Total price'); ?>:
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($totalPricePlanIncl, $noSymbol)?></span>
                </td>
                <td class="price">
                    <span>&euro;&nbsp;&nbsp;</span>
                    <span><?=$currency->formatTxt($totalConnectionCosts, $noSymbol)?></span>
                </td>
            </tr>
            <tr style="border-bottom:2px solid black">
                <td colspan="100%"></td>
            </tr>
        </table>
        <p class="other-info"><?=$this->__('The costs for Cable TV amount to a maximum of € 18.70 per month and are included in the price of the Ziggo package. All prices are including VAT.'); ?></p>
        <p class="other-info"><?=$this->__('Your first invoice after entering your (new) subscription for the Ziggo services may be higher than the standard monthly amount of your subscription. This is because the first invoice can relate to a period longer than one month and / or one-off costs may be charged.'); ?></p>
        <?php
        if ($this->getPriceIncreaseScope()) {
        ?>
            <p style="font-style: italic;color: red;"><?=$this->__('Goed om te weten :De Algemene Voorwaarden veranderen. Voor meer informatie kijk op ziggo.nl'); ?></p>
        <?php
        }
        ?>
    </div>
</div>

<div class="terms term-design" id="fixed-duration">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Duration and notice period")?></p>
    </div>
    <div class="consumer">
        <p></p>
        <p><?=$this->__('The term of your agreement starts as soon as we deliver the service (s) or as soon as you sign for receipt of the product (s). For all chosen services (TV & Radio, Internet, Calling) the minimum term of your previous agreement applies, after which these services can be terminated on a monthly basis. This does not apply to extra options, such as an Extra Media box, a CI + module, extra packages or Internet security. The extra options for Ziggo services can be canceled immediately on a monthly basis.'); ?></p>
    </div>
</div>

<div class="terms term-design" id="fixed-other-info">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Other information")?></p>
    </div>
    <div class="consumer">
        <p><?=$this->__('Your phone number is not registered in the phone book (not even online).');?>
        <p class="other-info"><?=$this->__('Caller ID is on (Your telephone number will be sent when you call someone)');?>
        <p class="other-info"><?=$this->__('Your telephone number will not be disclosed to information services (not to 18XY numbers, such as 1888).'); ?> <?=$this->__('Your phone number is shown on the invoice of others.'); ?></p>
    </div>
</div>