<?php
/** @var Vznl_Checkout_Block_Pdf_Contract $this */
$footerImage = __DIR__ . '/images/Ziggo_Orange_RGB.png';
$order = $this->getOrder();
$footPrint = $order->getFootprint() ?: null;
?>

<style>
    @font-face {
        font-family: VodafoneRg;
        src: url(<?=MAGENTO_ROOT?>/skin/frontend/vznl/default/fonts/VodafoneRg.ttf);
    }
</style>
<div class="container">
    <div id="fixed-footer">
        <table>
            <tfoot>
                <tr>
                    <td>
                        <?php if($footPrint == 'ZIGGO'){ ?>
                        <p><?=$this->__("Ziggo BV mede handelend onder de naam Ziggo, statutair gevestigd aan de Boven Vredenburgpassage 128, 3511
                        WR in Utrecht. KvK 37026706, btw nr NL007280099.B01, rekeningnummer (IBAN) NL98 INGB 0000 8457 45 en BIC-code
                        INGBNL2A. De betreffende voorwaarden voor de geleverde diensten zijn van toepassing.")?></p>
                    </td>
                    <?php } else { ?>
                        <p><?=$this->__("Ziggo Services BV mede handelend onder de naam Ziggo, statutair gevestigd aan de Boven Vredenburgpassage 128, 3511
                        WR in Utrecht. KvK 62393944, btw nr NL854800748.B01, rekeningnummer (IBAN) NL98 INGB 0000 8457 45 en BIC-code
                        INGBNL2A. De betreffende voorwaarden voor de geleverde diensten zijn van toepassing.")?></p>
                    <?php } ?>
                    <td>
                        <?php echo '<img src="'.$footerImage.'" alt="v-fixed-logo" height="120" width="165">'; ?>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>