<!DOCTYPE HTML>
<?php
$order = $this->getOrder();
$footPrint = $order->getFootprint() ?: null;
?>
<html>
<head>
    <meta charset="UTF-8" />
    <style type="text/css">
        @font-face {
            font-family: VodafoneRg;
            src: url(<?=MAGENTO_ROOT?>/skin/frontend/vznl/default/fonts/VodafoneRg.ttf);
        }

        /* Consumer or business? */
        <?= ($this->getCustomerIsBusiness() ? 'consumer' : 'business') ?> {
            display: none !important;
        }
    </style>
</head>
</html>
<body>
<div class="container">
    <div id="fixed-header">
        <table>
            <tr valign="top">
                <td width="68%">
                    <p><h2 class="consumer"><?=$this->__("Agreement")?></h2></p>
                </td>
                <td width="32%">
                    <div id="fixed_header">
                        <?php if($footPrint == 'ZIGGO'){ ?>
                            <p><?="Ziggo BV mede handelend onder de naam Ziggo, statutair gevestigd aan de Boven Vredenburgpassage 128, 3511 WR in Utrecht."; ?></p>
                            <p><?="KvK 37026706, btw nr NL007280099.B01, rekeningnummer (IBAN) NL98 INGB 0000 8457 45 en BIC-code INGBNL2A."; ?></p>
                            <p><?="De betreffende voorwaarden voor de geleverde diensten zijn van toepassing."; ?></p>
                        <?php } else { ?>
                            <p><?="Ziggo Services BV mede handelend onder de naam Ziggo, statutair gevestigd aan de Boven Vredenburgpassage 128, 3511 WR in Utrecht."; ?></p>
                            <p><?="KvK 62393944, btw nr NL854800748.B01, rekeningnummer (IBAN) NL98 INGB 0000 8457 45 en BIC-code INGBNL2A.";?></p>
                            <p><?="De betreffende voorwaarden voor de geleverde diensten zijn van toepassing."; ?>
                        <?php } ?>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>