<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>
<div class="terms term-design" id="fixed-terms">
    <div class="fixed-contract-title"?>
        <p><?=$this->__("Onze voorwaarden")?></p>
    </div>
    <div class="consumer" id="terms-conditions">
        <p><?php echo 'Op ziggo.nl/voorwaarden staan onze voorwaarden: kort, simpel en duidelijk.'; ?></p>
        <p style="padding-bottom: 0px !important; margin-bottom: 0px!important;"><?php echo 'Installatie van apparatuur';?></p>
        <p style="padding-top: 0px !important; margin-top: 0px!important;"><?php echo 'Wordt u onze klant, verhuist u of krijgt u nieuwe apparatuur? Dan zorgen we dat internet, tv en bellen moeiteloos opstart. We noemen dat de Ziggo Installatiegarantie. <br /> 
U begint met het gratis doe-het-zelf-installatiepakket en we helpen u via ziggo.nl/installeren stap voor stap. Ook staan we voor u klaar via chat of telefoon. We zijn dagelijks bereikbaar van 8.00 tot 20.00 uur op 0900 - 1884 (normaal tarief). En als het nodig is, komt onze installatiemonteur langs. Kortom, we garanderen dat het perfect werkt. <br /> 
Heeft u extra hulp nodig met Ziggo producten en diensten, dan is er onze Extra Service. Houdt u er rekening mee dat u de monteur dan extra werkzaamheden laat verrichten tegen extra betaling. Meer weten? Kijk op ziggo.nl/monteur voor een overzicht.';?></p>
    </div>
</div>