<?php /** @var Vznl_Checkout_Block_Pdf_Contract $this */ ?>

<div class="terms" id="footer-terms-authorize">
    <div>
        <p class="outlet"><?=$this->__("Point of sales")?>:<?= " ".$this->getOutlet() ?></p>
    </div>
    <div class="footer-place">
        <p><?php echo $this->__('Plaats:') ?></p>
    </div>

    <div class="footer-date">
        <p><?php echo $this->__('Date:') ?><?php echo date('d/m/Y'); ?></p>
    </div>
    <div class="footer-signature">
        <p><?php echo $this->__('Customer / authorized name:') ?></p>
        <p><?php echo $this->__('Signature customer / authorized representative:') ?></p>
    </div>
</div>