<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * Customer login form template
 *
 * @see Dyna_Agent_Block_Form_Customer
 */
?>
<div class="customer-select">
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php /* Extensions placeholder */ ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="customer-form">
        <?php
            Mage::helper('dyna_core')->setPostKey($this->getRequest()->getMethod());
        ?>
        <div class="customer">
            <div class="customer-container">
                <div class="content">
                    <div class="top">
                        <img class="vlogo" src="<?php echo $this->getSkinUrl('images/vodafone_white_small.jpg') ?>" alt="Vodafone"/>
                        <img class="subscribelogo" src="<?php echo $this->getSkinUrl('images/subscribe.jpg') ?>" alt="Subscribe"/>
                    </div>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->getCustomers() as $customer): ?>
                            <tr>
                                <td style="text-align: center;"><input type="radio" name="customer" value="<?php $customer->getId(); ?>"/></td>
                                <td><?php echo $customer->getCorrespondanceEmail(); ?></td>
                                <td><?php echo $customer->getIsBusiness() ? 'Active' : 'Inactive'; ?></td>
                                <td><a href="javascript:void(0)"><?php echo $customer->getIsBusiness() ? 'Disable' : 'Activate'; ?></a></td>
                                <td><a href="javascript:void(0)">View profile</a></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <button type="submit" class="button red right" title="<?php echo $this->__('Ok') ?>" name="send" id="send2"><span><span><?php echo $this->__('Ok') ?></span></span></button>
                    <div class="clearer"></div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('customer-form', true);
        //]]>
    </script>
</div>
