###################### Filebeat Configuration Example #########################

# This file is an example configuration file highlighting only the most common
# options. The filebeat.reference.yml file from the same directory contains all the
# supported options with more comments. You can use it as a reference.
#
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/filebeat/index.html

# For more available modules and options, please see the filebeat.reference.yml sample
# configuration file.

#=========================== Filebeat prospectors =============================
filebeat.prospectors:

# Each - is a prospector. Most options can be set at the prospector level, so
# you can use different prospectors for various configurations.
# Below are the prospector specific configurations.
{% if ose is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/ose/**/*.log
    - /tmp/magento/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["ose"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if coc is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/coc/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["coc"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if jobdaemon is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/jobdaemon/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["jobdaemon"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if statusdaemon is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/statusdaemon/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["statusdaemon"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if serviceability is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/serviceability/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  multiline.pattern: '^\[[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  exclude_files: ['.gz$']
  tags: ["serviceability"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if validateaddress is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/validateaddress/**/*.log
  multiline.pattern: '^\[[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["validateaddress"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if customersearch is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/customer-search/api/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  tags: ["customersearch", "api"]
  close_renamed: true
  close_timeout: 5m
- type: log
  enabled: true
  paths:
    - /var/log/omnius/customer-search/esIndexer/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  tags: ["customersearch", "esIndexer"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if installedbase is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/installedbase/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  tags: ["installedbase"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if ose_shoppingcart is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/shoppingcart/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["shoppingcart"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if catalog is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/catalog/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["catalog"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if ose_order is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/ordermanagement/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["ordermanagement"]
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if checkout is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/checkout/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["checkout"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if multimapper is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/multimapper/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["multimapper"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if sapdaemon is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/sapdaemon/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["multimapper"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if vfde_uct is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/uct/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["vfde_uct"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if vfde_um is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/um/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["vfde_um"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
{% if sales_api is defined %}
- type: log
  enabled: true
  paths:
    - /var/log/omnius/restapi/**/*.log
  #exclude_lines: ['^DBG']
  #include_lines: ['^ERR', '^WARN']
  exclude_files: ['.gz$']
  tags: ["vfde_restapi"]
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}|^Caused by:'
  multiline.negate: true
  multiline.match: after
  close_renamed: true
  close_timeout: 5m
{% endif %}
#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

  # Period on which files under path should be checked for changes
  #reload.period: 10s

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 3
  #index.codec: best_compression
  #_source.enabled: false

#================================ General =====================================

# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipper in the web interface.
#name:

# The tags of the shipper are included in their own field with each
# transaction published.
tags: ["{{ env }}"]

# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env:


#============================== Dashboards =====================================
# These settings control loading the sample dashboards to the Kibana index. Loading
# the dashboards is disabled by default and can be enabled either by setting the
# options here, or by using the `-setup` CLI flag or the `setup` command.
#setup.dashboards.enabled: false

# The URL from where to download the dashboards archive. By default this URL
# has a value which is computed based on the Beat name and version. For released
# versions, this URL points to the dashboard archive on the artifacts.elastic.co
# website.
#setup.dashboards.url:

#============================== Kibana =====================================

# Starting with Beats version 6.0.0, the dashboards are loaded via the Kibana API.
# This requires a Kibana endpoint configuration.
setup.kibana:

  # Kibana Host
  # Scheme and port can be left out and will be set to the default (http and 5601)
  # In case you specify and additional path, the scheme is required: http://localhost:5601/path
  # IPv6 addresses should always be defined as: https://[2001:db8::1]:5601
  host: "{{ filebeat.kibana.username }}:{{ filebeat.kibana.password }}@{{filebeat.kibana.host}}:{{filebeat.kibana.port}}"

#============================= Elastic Cloud ==================================

# These settings simplify using filebeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
#cloud.id:

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
#cloud.auth:

#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["{{filebeat.elasticsearch.host}}:{{filebeat.elasticsearch.port}}"]

  # Optional protocol and basic auth credentials.
  protocol: "https"
  username: "{{ filebeat.elasticsearch.username }}"
  password: "{{ filebeat.elasticsearch.password }}"

#----------------------------- Logstash output --------------------------------
#output.logstash:
  # The Logstash hosts
  #hosts: ["localhost:5044"]

  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  #ssl.certificate_authorities: ["/etc/pki/root/ca.pem"]

  # Certificate for SSL client authentication
  #ssl.certificate: "/etc/pki/client/cert.pem"

  # Client Certificate Key
  #ssl.key: "/etc/pki/client/cert.key"

#================================ Logging =====================================

# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
logging.level: {{filebeat.loglevel}}

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publish", "service".
#logging.selectors: ["*"]

#============================== Xpack Monitoring ===============================
# filebeat can export internal metrics to a central Elasticsearch monitoring
# cluster.  This requires xpack monitoring to be enabled in Elasticsearch.  The
# reporting is disabled by default.

# Set to true to enable the monitoring reporter.
#xpack.monitoring.enabled: false

# Uncomment to send the metrics to Elasticsearch. Most settings from the
# Elasticsearch output are accepted here as well. Any setting that is not set is
# automatically inherited from the Elasticsearch output configuration, so if you
# have the Elasticsearch output configured, you can simply uncomment the
# following line.
#xpack.monitoring.elasticsearch:
