<div class="container">
    <div class="row">
        <div class="col-md-12 page-title">
            <h1>Niet bereikbaar</h1>
        </div>
        <div class="col-md-12">
            <p>Op dit moment is UBUY niet bereikbaar wegens onderhoud. Wij willen u vragen om het later nogmaals te proberen</p>
        </div>
    </div>
</div>