<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart.phtml -->
<?php
    /** @var $this Dyna_Checkout_Block_Cart */
    $checkoutHelper     = $this->getCheckoutHelper();
    $quote              = $this->getQuote();
?>
<script>
// variable stores the VarienForm objects
var form = {};
var checkout = new Checkout('<?php echo Mage::app()->getWebsite()->getCode(); ?>','<?php echo (int)$this->getCustomerSession()->getOrderEdit(); ?>');
checkout.baseURL = '<?php echo Mage::getBaseUrl(); ?>';
var numberPortingPackages = [];
var retentionPackages = [];
// minimize the left column
if (checkout.orderEdit !== "0") {
    // leave the customer sidebar expanded.
} else {
    $j('.col-left').removeClass('bigView').addClass('smallView');
    $j('.col-main').addClass('bigView');
}

jQuery(document).ready(function() {
    customerDe.breadcrumbValue = [
        {text: '<?php echo $this->__('Configuration'); ?>', link: '/?packageId=1', type: 'url'},
        {text: '<?php echo $this->__('Checkout'); ?>', link: '', type: ''}
    ];

    customerDe.createBreadcrumb();
});
</script>
<script>
jQuery(function ($) {
    // TODO: refactor to include only once
    checkout.validatorMessages = {
        'nl-postcode': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('nl-postcode');?>',
        'validate-date-future': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-date-future');?>',
        'validate-date-age': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-date-age');?>',
        'validate-date-nl': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-date-age');?>',
        'validate-legitimation-number-0': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-0');?>',
        'validate-legitimation-number-1-4': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-1-4');?>',
        'validate-legitimation-number-p': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-p');?>',
        'validate-legitimation-number-p-nl': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-p-nl');?>',
        'validate-legitimation-number-r': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-r');?>',
        'validate-legitimation-number-n': '<?php echo Mage::helper('omnius_validators/messages')->getMessage('validate-legitimation-number-n');?>',
        'validate-iban-code':  Translator.translate('Invalid IBAN'),
        'validate-date-de': Translator.translate('Please enter a valid and existing date using the following date format: DD.MM.YYYY.'),
    };
    checkout.checkoutController = '<?php echo Mage::getUrl('checkout/index/') ?>';
    checkout.checkCurrentStep('<?php echo $checkoutHelper->underscoreToCamelCase($quote->getCurrentStep(), true) ? 'save' . $checkoutHelper->underscoreToCamelCase($quote->getCurrentStep(), true) : 'null'; ?>');

    checkout.initCart();

    jQuery('#cart-content form').each(function () {
        checkout.handleCheckoutStepValidationRules(jQuery(this).attr('id'));
        checkout.handleSpecialElementReadonly(jQuery(this).attr('id'));
    });
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_customer.phtml -->
<script>
jQuery(document).ready(function ($) {
    Translator.add('Invalid email address', '<?php echo $checkoutHelper->__('Invalid email address'); ?>');
});
//<![CDATA[
// Save customer form validation
form.saveCustomer = new VarienForm('saveCustomer', true);
//]]>
</script>
<?php
$customer = $this->getCustomer();
$isSohoCustomer = $customer->getIsSoho();
$customerLoggedIn = $customer->isCustomerLoggedIn();
// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();

$quote = $this->getQuote();
/** @var Dyna_Checkout_Helper_Fields $checkoutData */
$checkoutData = Mage::helper("dyna_checkout/fields");
//set current checkout step data
$checkoutData->setCheckoutData("save_customer", $quote->getId());

$saveCustomerBlock = $this->getLayout()->getBlockSingleton('dyna_checkout/cart_steps_savecustomer');
$telephoneTypeMapping = $saveCustomerBlock->getTelephoneTypeMapping();

$maxAgeDob = Mage::getStoreConfig('form_validations/form_fields/max_age');
?>
<script>
jQuery(document).ready(function () {
    if (HAS_GOOGLE_AUTOCOMPLETE) {
        var addressContainer = "<?php echo $isSohoCustomer ? ".checkout-section-container" : "#customer-address-container" ?>";
        /* save customer address autocomplete */
        if (jQuery('[id="<?php echo $isSohoCustomer ? 'customer_soho[address][street]' : 'customer[address][street]' ?>"]').length > 0) {
            jQuery(addressContainer).googleSearchAddress({
                streetInputName: "<?php echo $isSohoCustomer ? 'customer_soho[address][street]' : 'customer[address][street]' ?>",
                cityInputName: "<?php echo $isSohoCustomer ? 'customer_soho[address][city]' : 'customer[address][city]' ?>",
                houseNumberInputName: "<?php echo $isSohoCustomer ? 'customer_soho[address][houseno]' : 'customer[address][houseno]' ?>",
                houseNumberAddition: "<?php echo $isSohoCustomer ? 'customer_soho[address][addition]' : 'customer[address][addition]' ?>",
                zipCodeInputName: "<?php echo $isSohoCustomer ? 'customer_soho[address][postcode]' : 'customer[address][postcode]' ?>",
                customContainerStyle: {
                    bottom : '0'
                }
            });
        }
        /* save biling address autocomplete */
        jQuery("#save-billing-address-container").length && jQuery("#save-billing-address-container").googleSearchAddress({
            zipCodeInputName: "billing[other_address][postcode]",
            cityInputName: "billing[other_address][city]",
            streetInputName: "billing[other_address][street]",
            houseNumberInputName: "billing[other_address][houseno]",
            houseNumberAddition: "billing[other_address][addition]",
            customContainerStyle: {
                bottom : '0'
            }
        });
    }

    var lastIndex = getLastPhoneListIndex();
    addedPhoneIndex = jQuery('.phone-list-fields').length;

    jQuery('[id="customer[contact_person_details][0][submit]"]').click(function(e){
        addNewContactFields(jQuery(e.target));
    });

    jQuery('[id="customer[contact_details][phone_list][0][telephone]"]').change(function() {
        if(!jQuery('#status_email').is(':checked')) {
            jQuery('label[for="status_sms"]').parent().click();
        }
    });

    <?php if (true === $checkoutLayout->isFieldAvailable('customer[c1-1]', null, intval($isSohoCustomer), intval($customer->getCommercialRegister()))) : ?>
    var commercialRegister = jQuery('[name="customer[business][commercial_register]"]');
        <?php if ($checkoutData->getFieldValue("customer[business][commercial_register]") == 2 || (true === $customer->getCommercialRegister())) : ?>
        jQuery('[name="customer[business][commercial_register]"]').attr('checked', true);
        <?php endif; ?>
    commercialRegister.change(function(e){
        if (jQuery('[name="customer[business][commercial_register]"]').is(':checked') == true) {
            var crVal = 2;
        } else {
            var crVal = 1;
        }
        handleSohoAffectedFields(crVal);
    });

    if (jQuery('[name="customer[business][commercial_register]"]').is(':checked') == true) {
        handleSohoAffectedFields(2);
    } else {
        handleSohoAffectedFields(1);
    }
    <?php endif; ?>

    fillSaveCustomerData();
    fillBillingAddressDetails();

    <?php if ($checkoutData->getFieldValue('customer[contact_details][phone_list][0][telephone_type]') == false) : ?>
    jQuery('[id="customer[contact_details][phone_list][0][telephone_type]"]').val('mobile').trigger('change.select2');
    <?php endif; ?>
    <?php if ($checkoutData->getFieldValue('customer[contact_details][phone_list][1][telephone_type]') == false) : ?>
    jQuery('[id="customer[contact_details][phone_list][1][telephone_type]"]').val('landline').trigger('change.select2');
    <?php endif; ?>

    jQuery('[name="customer[gender]"]').on('change', fillBillingAddressDetails);
    jQuery('[id="customer[firstname]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[lastname]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[address][postcode]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[address][city]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[address][street]"]').on('blur', function() {
        fillBillingAddressDetails();
        validatePrefilledAddresses();
    });
    jQuery('[id="customer[address][street]"]').on('change', function() {
        if (jQuery('[id="customer[address][street]"]').hasClass('invalid-address')) {
            jQuery('[id="customer[address][street]"]').removeClass('invalid-address');
        }
    });

    jQuery('[id="customer[address][houseno]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[address][addition]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[address][company_name]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[address][company_additional_name]"]').on('blur', fillBillingAddressDetails);
    jQuery('[id="customer[contact_details][email]"]').on('blur', fillBillingEmailAddress);

    /*
    @TODO - remove after finall confirmation and merge with develop

    jQuery('[id="customer[contact_details][email]"]').on('blur', fillOrderStatusEmailAddress);

    jQuery(document).on('blur', '#customer_contact_method_container [data-prefix="telephone"]', processSmsConfirmationNumber);
    jQuery(document).on('change', '#customer_contact_method_container [data-prefix="telephone_type"]', processSmsConfirmationNumber);
    initSmsConfirmationNumbers();
    */

    validatePrefilledAddresses();
    fillBillingEmailAddress();

    jQuery('.contact-data-telephone-type option').each(function () {
        jQuery(this).prop('selected',false);
    });
    <?php if (!empty($telephoneTypeMapping[$customer->getTelephoneType()])): ?>
    jQuery('.contact-data-telephone-type option[value="<?php echo $telephoneTypeMapping[$customer->getTelephoneType()]; ?>"]').prop('selected', true);

    jQuery('.contact-person-data-telephone-type option').each(function () {
        jQuery(this).prop('selected',false);
    });
    jQuery('.contact-person-data-telephone-type option[value="<?php echo $checkoutData->getFieldValue("customer[contact_person_details][0][telephone_type]"); ?>"]').prop('selected', true);
    <?php endif; ?>

});
</script>
<script type="text/javascript">

//Ausweis ID validator
Validation.add('validate-customer-id-number', '<?php echo $this->__('Invalid ID Number');?>', function(v, element) {
    if(jQuery('[name="customer[nationality]"]').val() != '<?php echo Dyna_Checkout_Model_Sales_Order::DEFAULT_COUNTRY;?>') {
        return true;
    }
    var digits = {
        '0': 0,
        '1': 1,
        '2': 2,
        '3': 3,
        '4': 4,
        '5': 5,
        '6': 6,
        '7': 7,
        '8': 8,
        '9': 9,
        'A': 10,
        'B': 11,
        'C': 12,
        'D': 13,
        'E': 14,
        'F': 15,
        'G': 16,
        'H': 17,
        'I': 18,
        'J': 19,
        'K': 20,
        'L': 21,
        'M': 22,
        'N': 23,
        'O': 24,
        'P': 25,
        'Q': 26,
        'R': 27,
        'S': 28,
        'T': 29,
        'U': 30,
        'V': 31,
        'W': 32,
        'X': 33,
        'Y': 34,
        'Z': 35
    };

    var sum = 0;
    sum += digits[v[0]] * 7;
    sum += digits[v[1]] * 3;
    sum += digits[v[2]] * 1;

    sum += digits[v[3]] * 7;
    sum += digits[v[4]] * 3;
    sum += digits[v[5]] * 1;

    sum += digits[v[6]] * 7;
    sum += digits[v[7]] * 3;
    sum += digits[v[8]] * 1;
    if (sum % 10 == v[9]) {
        return true;
    }
    return false;
});

Validation.add('validate-email-pop', '<?php echo $this->__('Invalid email address'); ?>', function (v, element) {
    /****Start e-mail Verification here ****/
    if ((v != '') && (v != null) && (v.length != 0)) {
        var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return reg.test(v);
    } else {
        return true;
    }
    /****End e-mail Verification here ****/
});

Validation.add('validate-max-age-25', '<?php echo $this->__('The age limit for the young people benefit is max. 25 years.');?>', function(v, element) {
    /****Start Age Verification here ****/
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

    // Maximum 25 years old
    var maxAgeForYoungBenefit = new Date(date.getFullYear() - 25, date.getMonth(), date.getDate() );
    if (test.valueOf() < maxAgeForYoungBenefit.valueOf()) {
        return false;
    }
    /****End Age Verification here ****/

    return true;
});

Validation.add('validate-max-age-30', '<?php echo $this->__('The age limit for the student benefit is max. 30 years.');?>', function(v, element) {
    /****Start Age Verification here ****/
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

    // Below 31 years are accepted
    var maxAgeForStudentBenefit = new Date(date.getFullYear() - 31, date.getMonth(), date.getDate() );
    if (test.valueOf() < maxAgeForStudentBenefit.valueOf()) {
        return false;
    }
    /****End Age Verification here ****/

    return true;
});

Validation.add('validate-max-age-dob', '<?php echo $this->__('The maximum age limit is %s years.', $maxAgeDob);?>', function(v, element) {
    /****Start Age Verification here ****/
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);
    var maxAgeDob = parseInt('<?php echo $maxAgeDob; ?>');

    // Maximum 100 years old
    var maxAgeForYoungBenefit = new Date(date.getFullYear() - maxAgeDob, date.getMonth(), date.getDate() );
    if (test.valueOf() < maxAgeForYoungBenefit.valueOf()) {
        return false;
    }
    /****End Age Verification here ****/

    return true;
});

Validation.add('validate-max-dob', '<?php echo $this->__('Date cannot be in the future');?>', function(v, element) {
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

    if (test.valueOf() <= date.valueOf()) {
        return true;
    }

    return false;
});

Validation.add('validate-min-age-18', '<?php echo $this->__('We are afraid that legal requirements demand us you to be at least 18 years old.');?>', function(v, element) {
    /****Start Age Verification here ****/
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

    // At least 18 years old
    var dateLegal = new Date(date.getFullYear() - 18, date.getMonth(), date.getDate() );
    if (test.valueOf() <= dateLegal.valueOf()) {
        return true;
    }
    /****End Age Verification here ****/

    return false;
});

Validation.add('validate-min-age-7', '<?php echo $this->__('We are afraid that legal requirements demand us you to be at least 7 years old.');?>', function(v, element) {
    /****Start Age Verification here ****/
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[1]+'/'+input[0]+'/'+input[2]);

    // At least 18 years old
    var dateLegal = new Date(date.getFullYear() - 7, date.getMonth(), date.getDate() );
    if (test.valueOf() <= dateLegal.valueOf()) {
        return true;
    }
    /****End Age Verification here ****/

    return false;
});

Validation.add('invalid-address', '<?php echo $this->__('Address validation failed'); ?>', function() {
    return false;
});

Validation.add('validate-date-de', '<?php echo $this->__('Please enter a valid and existing date using the following date format: DD.MM.YYYY'); ?>', function (v, element) {
    if ((v != '') && (v != null) && (v.length != 0)) {
        var dateString = v;
        // First check for the pattern
        if(!/^\d{1,2}\.\d{1,2}\.\d{4}$/.test(dateString)) {
            return false;
        }


        // Parse the date parts to integers
        var parts = dateString.split(".");
        var day = parseInt(parts[0], 10);
        var month = parseInt(parts[1], 10);
        var year = parseInt(parts[2], 10);

        // Check the ranges of month and year
        if(year < 1000 || year > 3000 || month == 0 || month > 12) {
            return false;
        }

        var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

        // Adjust for leap years
        if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
            monthLength[1] = 29;

        // Check the range of the day
        return day > 0 && day <= monthLength[month - 1];
    } else {
        return true;
    }
});

Validation.add('validate-length-max', '<?php echo $this->__('Text length has increased more than the specified range.'); ?>', function (v, elm) {
    var reMax = new RegExp(/^maximum-length-[0-9]+$/);
    var reMin = new RegExp(/^minimum-length-[0-9]+$/);
    var result = true;
    $w(elm.className).each(function(name, index) {
        if (name.match(reMax) && result) {
            var length = name.split('-')[2];
            result = (v.length <= length);
        }
        if (name.match(reMin) && result && !Validation.get('IsEmpty').test(v)) {
            var length = name.split('-')[2];
            result = (v.length >= length);
        }
    });

    if (result == true) {
        var container = elm.up('.input-group-custom');
        container.removeClassName('validation-failed');
    }

    return result;
});

Validation.add('validate-telephone-number', '<?php echo $this->__('Please enter a valid phone number.'); ?>', function (v, element) {
    if ((v != '') && (v != null)) {
        var reg = /^[1-9][0-9]{1,8}$/;
        return reg.test(v);
    } else {
        return true;
    }
});

Validation.add('validate-telephone-prefix', '<?php echo $this->__('Please enter a valid telephone prefix.'); ?>', function (v, element) {
    if ((v != '') && (v != null)) {
        var exploded_id = jQuery(element).attr('id').match(/[^[\]]+(?=])/g);
        var telephone_type = jQuery('[id="customer[contact_details][phone_list]['+exploded_id[2]+'][telephone_type]"]').val();
        var regFest = /^0[1-9][0-9]{1,4}$/;
        var regMobile = /^01[5-7][0-9]/;

        if (telephone_type == 'mobile') {
            return regMobile.test(v);
        } else {

            return regFest.test(v);
        }
    } else {
        return true;
    }
});

Validation.add('validate-phone-area-code-group', '<?php echo $this->__('This is a required field.'); ?>', function(v, element) {
    return jQuery(element).val().length > 0;
});

Validation.add('validate-alpha', Translator.translate('Only letters allowed.'), function(v, el){
    var reg = /^[A-Za-z \.\-\xAA\xB5\xBA\xC0-\xD6\xD8-\xF6\xF8-\u02C1\u02C6-\u02D1\u02E0-\u02E4\u02EC\u02EE\u0370-\u0374\u0376\u0377\u037A-\u037D\u0386\u0388-\u038A\u038C\u038E-\u03A1\u03A3-\u03F5\u03F7-\u0481\u048A-\u0527\u0531-\u0556\u0559\u0561-\u0587\u05D0-\u05EA\u05F0-\u05F2\u0620-\u064A\u066E\u066F\u0671-\u06D3\u06D5\u06E5\u06E6\u06EE\u06EF\u06FA-\u06FC\u06FF\u0710\u0712-\u072F\u074D-\u07A5\u07B1\u07CA-\u07EA\u07F4\u07F5\u07FA\u0800-\u0815\u081A\u0824\u0828\u0840-\u0858\u08A0\u08A2-\u08AC\u0904-\u0939\u093D\u0950\u0958-\u0961\u0971-\u0977\u0979-\u097F\u0985-\u098C\u098F\u0990\u0993-\u09A8\u09AA-\u09B0\u09B2\u09B6-\u09B9\u09BD\u09CE\u09DC\u09DD\u09DF-\u09E1\u09F0\u09F1\u0A05-\u0A0A\u0A0F\u0A10\u0A13-\u0A28\u0A2A-\u0A30\u0A32\u0A33\u0A35\u0A36\u0A38\u0A39\u0A59-\u0A5C\u0A5E\u0A72-\u0A74\u0A85-\u0A8D\u0A8F-\u0A91\u0A93-\u0AA8\u0AAA-\u0AB0\u0AB2\u0AB3\u0AB5-\u0AB9\u0ABD\u0AD0\u0AE0\u0AE1\u0B05-\u0B0C\u0B0F\u0B10\u0B13-\u0B28\u0B2A-\u0B30\u0B32\u0B33\u0B35-\u0B39\u0B3D\u0B5C\u0B5D\u0B5F-\u0B61\u0B71\u0B83\u0B85-\u0B8A\u0B8E-\u0B90\u0B92-\u0B95\u0B99\u0B9A\u0B9C\u0B9E\u0B9F\u0BA3\u0BA4\u0BA8-\u0BAA\u0BAE-\u0BB9\u0BD0\u0C05-\u0C0C\u0C0E-\u0C10\u0C12-\u0C28\u0C2A-\u0C33\u0C35-\u0C39\u0C3D\u0C58\u0C59\u0C60\u0C61\u0C85-\u0C8C\u0C8E-\u0C90\u0C92-\u0CA8\u0CAA-\u0CB3\u0CB5-\u0CB9\u0CBD\u0CDE\u0CE0\u0CE1\u0CF1\u0CF2\u0D05-\u0D0C\u0D0E-\u0D10\u0D12-\u0D3A\u0D3D\u0D4E\u0D60\u0D61\u0D7A-\u0D7F\u0D85-\u0D96\u0D9A-\u0DB1\u0DB3-\u0DBB\u0DBD\u0DC0-\u0DC6\u0E01-\u0E30\u0E32\u0E33\u0E40-\u0E46\u0E81\u0E82\u0E84\u0E87\u0E88\u0E8A\u0E8D\u0E94-\u0E97\u0E99-\u0E9F\u0EA1-\u0EA3\u0EA5\u0EA7\u0EAA\u0EAB\u0EAD-\u0EB0\u0EB2\u0EB3\u0EBD\u0EC0-\u0EC4\u0EC6\u0EDC-\u0EDF\u0F00\u0F40-\u0F47\u0F49-\u0F6C\u0F88-\u0F8C\u1000-\u102A\u103F\u1050-\u1055\u105A-\u105D\u1061\u1065\u1066\u106E-\u1070\u1075-\u1081\u108E\u10A0-\u10C5\u10C7\u10CD\u10D0-\u10FA\u10FC-\u1248\u124A-\u124D\u1250-\u1256\u1258\u125A-\u125D\u1260-\u1288\u128A-\u128D\u1290-\u12B0\u12B2-\u12B5\u12B8-\u12BE\u12C0\u12C2-\u12C5\u12C8-\u12D6\u12D8-\u1310\u1312-\u1315\u1318-\u135A\u1380-\u138F\u13A0-\u13F4\u1401-\u166C\u166F-\u167F\u1681-\u169A\u16A0-\u16EA\u1700-\u170C\u170E-\u1711\u1720-\u1731\u1740-\u1751\u1760-\u176C\u176E-\u1770\u1780-\u17B3\u17D7\u17DC\u1820-\u1877\u1880-\u18A8\u18AA\u18B0-\u18F5\u1900-\u191C\u1950-\u196D\u1970-\u1974\u1980-\u19AB\u19C1-\u19C7\u1A00-\u1A16\u1A20-\u1A54\u1AA7\u1B05-\u1B33\u1B45-\u1B4B\u1B83-\u1BA0\u1BAE\u1BAF\u1BBA-\u1BE5\u1C00-\u1C23\u1C4D-\u1C4F\u1C5A-\u1C7D\u1CE9-\u1CEC\u1CEE-\u1CF1\u1CF5\u1CF6\u1D00-\u1DBF\u1E00-\u1F15\u1F18-\u1F1D\u1F20-\u1F45\u1F48-\u1F4D\u1F50-\u1F57\u1F59\u1F5B\u1F5D\u1F5F-\u1F7D\u1F80-\u1FB4\u1FB6-\u1FBC\u1FBE\u1FC2-\u1FC4\u1FC6-\u1FCC\u1FD0-\u1FD3\u1FD6-\u1FDB\u1FE0-\u1FEC\u1FF2-\u1FF4\u1FF6-\u1FFC\u2071\u207F\u2090-\u209C\u2102\u2107\u210A-\u2113\u2115\u2119-\u211D\u2124\u2126\u2128\u212A-\u212D\u212F-\u2139\u213C-\u213F\u2145-\u2149\u214E\u2183\u2184\u2C00-\u2C2E\u2C30-\u2C5E\u2C60-\u2CE4\u2CEB-\u2CEE\u2CF2\u2CF3\u2D00-\u2D25\u2D27\u2D2D\u2D30-\u2D67\u2D6F\u2D80-\u2D96\u2DA0-\u2DA6\u2DA8-\u2DAE\u2DB0-\u2DB6\u2DB8-\u2DBE\u2DC0-\u2DC6\u2DC8-\u2DCE\u2DD0-\u2DD6\u2DD8-\u2DDE\u2E2F\u3005\u3006\u3031-\u3035\u303B\u303C\u3041-\u3096\u309D-\u309F\u30A1-\u30FA\u30FC-\u30FF\u3105-\u312D\u3131-\u318E\u31A0-\u31BA\u31F0-\u31FF\u3400-\u4DB5\u4E00-\u9FCC\uA000-\uA48C\uA4D0-\uA4FD\uA500-\uA60C\uA610-\uA61F\uA62A\uA62B\uA640-\uA66E\uA67F-\uA697\uA6A0-\uA6E5\uA717-\uA71F\uA722-\uA788\uA78B-\uA78E\uA790-\uA793\uA7A0-\uA7AA\uA7F8-\uA801\uA803-\uA805\uA807-\uA80A\uA80C-\uA822\uA840-\uA873\uA882-\uA8B3\uA8F2-\uA8F7\uA8FB\uA90A-\uA925\uA930-\uA946\uA960-\uA97C\uA984-\uA9B2\uA9CF\uAA00-\uAA28\uAA40-\uAA42\uAA44-\uAA4B\uAA60-\uAA76\uAA7A\uAA80-\uAAAF\uAAB1\uAAB5\uAAB6\uAAB9-\uAABD\uAAC0\uAAC2\uAADB-\uAADD\uAAE0-\uAAEA\uAAF2-\uAAF4\uAB01-\uAB06\uAB09-\uAB0E\uAB11-\uAB16\uAB20-\uAB26\uAB28-\uAB2E\uABC0-\uABE2\uAC00-\uD7A3\uD7B0-\uD7C6\uD7CB-\uD7FB\uF900-\uFA6D\uFA70-\uFAD9\uFB00-\uFB06\uFB13-\uFB17\uFB1D\uFB1F-\uFB28\uFB2A-\uFB36\uFB38-\uFB3C\uFB3E\uFB40\uFB41\uFB43\uFB44\uFB46-\uFBB1\uFBD3-\uFD3D\uFD50-\uFD8F\uFD92-\uFDC7\uFDF0-\uFDFB\uFE70-\uFE74\uFE76-\uFEFC\uFF21-\uFF3A\uFF41-\uFF5A\uFF66-\uFFBE\uFFC2-\uFFC7\uFFCA-\uFFCF\uFFD2-\uFFD7\uFFDA-\uFFDC]+$/;
    return Validation.get('IsEmpty').test(v) || reg.test(v);
});

Validation.add('validate-alphanum', Translator.translate('Only letters and numbers allowed.'), function(v, el){
    var reg = /^[A-Za-z0-9\.\-\xAA\xB5\xBA\xC0-\xD6\xD8-\xF6\xF8-\u02C1\u02C6-\u02D1\u02E0-\u02E4\u02EC\u02EE\u0370-\u0374\u0376\u0377\u037A-\u037D\u0386\u0388-\u038A\u038C\u038E-\u03A1\u03A3-\u03F5\u03F7-\u0481\u048A-\u0527\u0531-\u0556\u0559\u0561-\u0587\u05D0-\u05EA\u05F0-\u05F2\u0620-\u064A\u066E\u066F\u0671-\u06D3\u06D5\u06E5\u06E6\u06EE\u06EF\u06FA-\u06FC\u06FF\u0710\u0712-\u072F\u074D-\u07A5\u07B1\u07CA-\u07EA\u07F4\u07F5\u07FA\u0800-\u0815\u081A\u0824\u0828\u0840-\u0858\u08A0\u08A2-\u08AC\u0904-\u0939\u093D\u0950\u0958-\u0961\u0971-\u0977\u0979-\u097F\u0985-\u098C\u098F\u0990\u0993-\u09A8\u09AA-\u09B0\u09B2\u09B6-\u09B9\u09BD\u09CE\u09DC\u09DD\u09DF-\u09E1\u09F0\u09F1\u0A05-\u0A0A\u0A0F\u0A10\u0A13-\u0A28\u0A2A-\u0A30\u0A32\u0A33\u0A35\u0A36\u0A38\u0A39\u0A59-\u0A5C\u0A5E\u0A72-\u0A74\u0A85-\u0A8D\u0A8F-\u0A91\u0A93-\u0AA8\u0AAA-\u0AB0\u0AB2\u0AB3\u0AB5-\u0AB9\u0ABD\u0AD0\u0AE0\u0AE1\u0B05-\u0B0C\u0B0F\u0B10\u0B13-\u0B28\u0B2A-\u0B30\u0B32\u0B33\u0B35-\u0B39\u0B3D\u0B5C\u0B5D\u0B5F-\u0B61\u0B71\u0B83\u0B85-\u0B8A\u0B8E-\u0B90\u0B92-\u0B95\u0B99\u0B9A\u0B9C\u0B9E\u0B9F\u0BA3\u0BA4\u0BA8-\u0BAA\u0BAE-\u0BB9\u0BD0\u0C05-\u0C0C\u0C0E-\u0C10\u0C12-\u0C28\u0C2A-\u0C33\u0C35-\u0C39\u0C3D\u0C58\u0C59\u0C60\u0C61\u0C85-\u0C8C\u0C8E-\u0C90\u0C92-\u0CA8\u0CAA-\u0CB3\u0CB5-\u0CB9\u0CBD\u0CDE\u0CE0\u0CE1\u0CF1\u0CF2\u0D05-\u0D0C\u0D0E-\u0D10\u0D12-\u0D3A\u0D3D\u0D4E\u0D60\u0D61\u0D7A-\u0D7F\u0D85-\u0D96\u0D9A-\u0DB1\u0DB3-\u0DBB\u0DBD\u0DC0-\u0DC6\u0E01-\u0E30\u0E32\u0E33\u0E40-\u0E46\u0E81\u0E82\u0E84\u0E87\u0E88\u0E8A\u0E8D\u0E94-\u0E97\u0E99-\u0E9F\u0EA1-\u0EA3\u0EA5\u0EA7\u0EAA\u0EAB\u0EAD-\u0EB0\u0EB2\u0EB3\u0EBD\u0EC0-\u0EC4\u0EC6\u0EDC-\u0EDF\u0F00\u0F40-\u0F47\u0F49-\u0F6C\u0F88-\u0F8C\u1000-\u102A\u103F\u1050-\u1055\u105A-\u105D\u1061\u1065\u1066\u106E-\u1070\u1075-\u1081\u108E\u10A0-\u10C5\u10C7\u10CD\u10D0-\u10FA\u10FC-\u1248\u124A-\u124D\u1250-\u1256\u1258\u125A-\u125D\u1260-\u1288\u128A-\u128D\u1290-\u12B0\u12B2-\u12B5\u12B8-\u12BE\u12C0\u12C2-\u12C5\u12C8-\u12D6\u12D8-\u1310\u1312-\u1315\u1318-\u135A\u1380-\u138F\u13A0-\u13F4\u1401-\u166C\u166F-\u167F\u1681-\u169A\u16A0-\u16EA\u1700-\u170C\u170E-\u1711\u1720-\u1731\u1740-\u1751\u1760-\u176C\u176E-\u1770\u1780-\u17B3\u17D7\u17DC\u1820-\u1877\u1880-\u18A8\u18AA\u18B0-\u18F5\u1900-\u191C\u1950-\u196D\u1970-\u1974\u1980-\u19AB\u19C1-\u19C7\u1A00-\u1A16\u1A20-\u1A54\u1AA7\u1B05-\u1B33\u1B45-\u1B4B\u1B83-\u1BA0\u1BAE\u1BAF\u1BBA-\u1BE5\u1C00-\u1C23\u1C4D-\u1C4F\u1C5A-\u1C7D\u1CE9-\u1CEC\u1CEE-\u1CF1\u1CF5\u1CF6\u1D00-\u1DBF\u1E00-\u1F15\u1F18-\u1F1D\u1F20-\u1F45\u1F48-\u1F4D\u1F50-\u1F57\u1F59\u1F5B\u1F5D\u1F5F-\u1F7D\u1F80-\u1FB4\u1FB6-\u1FBC\u1FBE\u1FC2-\u1FC4\u1FC6-\u1FCC\u1FD0-\u1FD3\u1FD6-\u1FDB\u1FE0-\u1FEC\u1FF2-\u1FF4\u1FF6-\u1FFC\u2071\u207F\u2090-\u209C\u2102\u2107\u210A-\u2113\u2115\u2119-\u211D\u2124\u2126\u2128\u212A-\u212D\u212F-\u2139\u213C-\u213F\u2145-\u2149\u214E\u2183\u2184\u2C00-\u2C2E\u2C30-\u2C5E\u2C60-\u2CE4\u2CEB-\u2CEE\u2CF2\u2CF3\u2D00-\u2D25\u2D27\u2D2D\u2D30-\u2D67\u2D6F\u2D80-\u2D96\u2DA0-\u2DA6\u2DA8-\u2DAE\u2DB0-\u2DB6\u2DB8-\u2DBE\u2DC0-\u2DC6\u2DC8-\u2DCE\u2DD0-\u2DD6\u2DD8-\u2DDE\u2E2F\u3005\u3006\u3031-\u3035\u303B\u303C\u3041-\u3096\u309D-\u309F\u30A1-\u30FA\u30FC-\u30FF\u3105-\u312D\u3131-\u318E\u31A0-\u31BA\u31F0-\u31FF\u3400-\u4DB5\u4E00-\u9FCC\uA000-\uA48C\uA4D0-\uA4FD\uA500-\uA60C\uA610-\uA61F\uA62A\uA62B\uA640-\uA66E\uA67F-\uA697\uA6A0-\uA6E5\uA717-\uA71F\uA722-\uA788\uA78B-\uA78E\uA790-\uA793\uA7A0-\uA7AA\uA7F8-\uA801\uA803-\uA805\uA807-\uA80A\uA80C-\uA822\uA840-\uA873\uA882-\uA8B3\uA8F2-\uA8F7\uA8FB\uA90A-\uA925\uA930-\uA946\uA960-\uA97C\uA984-\uA9B2\uA9CF\uAA00-\uAA28\uAA40-\uAA42\uAA44-\uAA4B\uAA60-\uAA76\uAA7A\uAA80-\uAAAF\uAAB1\uAAB5\uAAB6\uAAB9-\uAABD\uAAC0\uAAC2\uAADB-\uAADD\uAAE0-\uAAEA\uAAF2-\uAAF4\uAB01-\uAB06\uAB09-\uAB0E\uAB11-\uAB16\uAB20-\uAB26\uAB28-\uAB2E\uABC0-\uABE2\uAC00-\uD7A3\uD7B0-\uD7C6\uD7CB-\uD7FB\uF900-\uFA6D\uFA70-\uFAD9\uFB00-\uFB06\uFB13-\uFB17\uFB1D\uFB1F-\uFB28\uFB2A-\uFB36\uFB38-\uFB3C\uFB3E\uFB40\uFB41\uFB43\uFB44\uFB46-\uFBB1\uFBD3-\uFD3D\uFD50-\uFD8F\uFD92-\uFDC7\uFDF0-\uFDFB\uFE70-\uFE74\uFE76-\uFEFC\uFF21-\uFF3A\uFF41-\uFF5A\uFF66-\uFFBE\uFFC2-\uFFC7\uFFCA-\uFFCF\uFFD2-\uFFD7\uFFDA-\uFFDC]+$/;
    return Validation.get('IsEmpty').test(v) || reg.test(v);
});

Validation.add('validate-alphanum-with-spaces', Translator.translate('Only letters and spaces chars allowed.'), function(v, el){
    var reg = /^[A-Za-z0-9 \.\-\xAA\xB5\xBA\xC0-\xD6\xD8-\xF6\xF8-\u02C1\u02C6-\u02D1\u02E0-\u02E4\u02EC\u02EE\u0370-\u0374\u0376\u0377\u037A-\u037D\u0386\u0388-\u038A\u038C\u038E-\u03A1\u03A3-\u03F5\u03F7-\u0481\u048A-\u0527\u0531-\u0556\u0559\u0561-\u0587\u05D0-\u05EA\u05F0-\u05F2\u0620-\u064A\u066E\u066F\u0671-\u06D3\u06D5\u06E5\u06E6\u06EE\u06EF\u06FA-\u06FC\u06FF\u0710\u0712-\u072F\u074D-\u07A5\u07B1\u07CA-\u07EA\u07F4\u07F5\u07FA\u0800-\u0815\u081A\u0824\u0828\u0840-\u0858\u08A0\u08A2-\u08AC\u0904-\u0939\u093D\u0950\u0958-\u0961\u0971-\u0977\u0979-\u097F\u0985-\u098C\u098F\u0990\u0993-\u09A8\u09AA-\u09B0\u09B2\u09B6-\u09B9\u09BD\u09CE\u09DC\u09DD\u09DF-\u09E1\u09F0\u09F1\u0A05-\u0A0A\u0A0F\u0A10\u0A13-\u0A28\u0A2A-\u0A30\u0A32\u0A33\u0A35\u0A36\u0A38\u0A39\u0A59-\u0A5C\u0A5E\u0A72-\u0A74\u0A85-\u0A8D\u0A8F-\u0A91\u0A93-\u0AA8\u0AAA-\u0AB0\u0AB2\u0AB3\u0AB5-\u0AB9\u0ABD\u0AD0\u0AE0\u0AE1\u0B05-\u0B0C\u0B0F\u0B10\u0B13-\u0B28\u0B2A-\u0B30\u0B32\u0B33\u0B35-\u0B39\u0B3D\u0B5C\u0B5D\u0B5F-\u0B61\u0B71\u0B83\u0B85-\u0B8A\u0B8E-\u0B90\u0B92-\u0B95\u0B99\u0B9A\u0B9C\u0B9E\u0B9F\u0BA3\u0BA4\u0BA8-\u0BAA\u0BAE-\u0BB9\u0BD0\u0C05-\u0C0C\u0C0E-\u0C10\u0C12-\u0C28\u0C2A-\u0C33\u0C35-\u0C39\u0C3D\u0C58\u0C59\u0C60\u0C61\u0C85-\u0C8C\u0C8E-\u0C90\u0C92-\u0CA8\u0CAA-\u0CB3\u0CB5-\u0CB9\u0CBD\u0CDE\u0CE0\u0CE1\u0CF1\u0CF2\u0D05-\u0D0C\u0D0E-\u0D10\u0D12-\u0D3A\u0D3D\u0D4E\u0D60\u0D61\u0D7A-\u0D7F\u0D85-\u0D96\u0D9A-\u0DB1\u0DB3-\u0DBB\u0DBD\u0DC0-\u0DC6\u0E01-\u0E30\u0E32\u0E33\u0E40-\u0E46\u0E81\u0E82\u0E84\u0E87\u0E88\u0E8A\u0E8D\u0E94-\u0E97\u0E99-\u0E9F\u0EA1-\u0EA3\u0EA5\u0EA7\u0EAA\u0EAB\u0EAD-\u0EB0\u0EB2\u0EB3\u0EBD\u0EC0-\u0EC4\u0EC6\u0EDC-\u0EDF\u0F00\u0F40-\u0F47\u0F49-\u0F6C\u0F88-\u0F8C\u1000-\u102A\u103F\u1050-\u1055\u105A-\u105D\u1061\u1065\u1066\u106E-\u1070\u1075-\u1081\u108E\u10A0-\u10C5\u10C7\u10CD\u10D0-\u10FA\u10FC-\u1248\u124A-\u124D\u1250-\u1256\u1258\u125A-\u125D\u1260-\u1288\u128A-\u128D\u1290-\u12B0\u12B2-\u12B5\u12B8-\u12BE\u12C0\u12C2-\u12C5\u12C8-\u12D6\u12D8-\u1310\u1312-\u1315\u1318-\u135A\u1380-\u138F\u13A0-\u13F4\u1401-\u166C\u166F-\u167F\u1681-\u169A\u16A0-\u16EA\u1700-\u170C\u170E-\u1711\u1720-\u1731\u1740-\u1751\u1760-\u176C\u176E-\u1770\u1780-\u17B3\u17D7\u17DC\u1820-\u1877\u1880-\u18A8\u18AA\u18B0-\u18F5\u1900-\u191C\u1950-\u196D\u1970-\u1974\u1980-\u19AB\u19C1-\u19C7\u1A00-\u1A16\u1A20-\u1A54\u1AA7\u1B05-\u1B33\u1B45-\u1B4B\u1B83-\u1BA0\u1BAE\u1BAF\u1BBA-\u1BE5\u1C00-\u1C23\u1C4D-\u1C4F\u1C5A-\u1C7D\u1CE9-\u1CEC\u1CEE-\u1CF1\u1CF5\u1CF6\u1D00-\u1DBF\u1E00-\u1F15\u1F18-\u1F1D\u1F20-\u1F45\u1F48-\u1F4D\u1F50-\u1F57\u1F59\u1F5B\u1F5D\u1F5F-\u1F7D\u1F80-\u1FB4\u1FB6-\u1FBC\u1FBE\u1FC2-\u1FC4\u1FC6-\u1FCC\u1FD0-\u1FD3\u1FD6-\u1FDB\u1FE0-\u1FEC\u1FF2-\u1FF4\u1FF6-\u1FFC\u2071\u207F\u2090-\u209C\u2102\u2107\u210A-\u2113\u2115\u2119-\u211D\u2124\u2126\u2128\u212A-\u212D\u212F-\u2139\u213C-\u213F\u2145-\u2149\u214E\u2183\u2184\u2C00-\u2C2E\u2C30-\u2C5E\u2C60-\u2CE4\u2CEB-\u2CEE\u2CF2\u2CF3\u2D00-\u2D25\u2D27\u2D2D\u2D30-\u2D67\u2D6F\u2D80-\u2D96\u2DA0-\u2DA6\u2DA8-\u2DAE\u2DB0-\u2DB6\u2DB8-\u2DBE\u2DC0-\u2DC6\u2DC8-\u2DCE\u2DD0-\u2DD6\u2DD8-\u2DDE\u2E2F\u3005\u3006\u3031-\u3035\u303B\u303C\u3041-\u3096\u309D-\u309F\u30A1-\u30FA\u30FC-\u30FF\u3105-\u312D\u3131-\u318E\u31A0-\u31BA\u31F0-\u31FF\u3400-\u4DB5\u4E00-\u9FCC\uA000-\uA48C\uA4D0-\uA4FD\uA500-\uA60C\uA610-\uA61F\uA62A\uA62B\uA640-\uA66E\uA67F-\uA697\uA6A0-\uA6E5\uA717-\uA71F\uA722-\uA788\uA78B-\uA78E\uA790-\uA793\uA7A0-\uA7AA\uA7F8-\uA801\uA803-\uA805\uA807-\uA80A\uA80C-\uA822\uA840-\uA873\uA882-\uA8B3\uA8F2-\uA8F7\uA8FB\uA90A-\uA925\uA930-\uA946\uA960-\uA97C\uA984-\uA9B2\uA9CF\uAA00-\uAA28\uAA40-\uAA42\uAA44-\uAA4B\uAA60-\uAA76\uAA7A\uAA80-\uAAAF\uAAB1\uAAB5\uAAB6\uAAB9-\uAABD\uAAC0\uAAC2\uAADB-\uAADD\uAAE0-\uAAEA\uAAF2-\uAAF4\uAB01-\uAB06\uAB09-\uAB0E\uAB11-\uAB16\uAB20-\uAB26\uAB28-\uAB2E\uABC0-\uABE2\uAC00-\uD7A3\uD7B0-\uD7C6\uD7CB-\uD7FB\uF900-\uFA6D\uFA70-\uFAD9\uFB00-\uFB06\uFB13-\uFB17\uFB1D\uFB1F-\uFB28\uFB2A-\uFB36\uFB38-\uFB3C\uFB3E\uFB40\uFB41\uFB43\uFB44\uFB46-\uFBB1\uFBD3-\uFD3D\uFD50-\uFD8F\uFD92-\uFDC7\uFDF0-\uFDFB\uFE70-\uFE74\uFE76-\uFEFC\uFF21-\uFF3A\uFF41-\uFF5A\uFF66-\uFFBE\uFFC2-\uFFC7\uFFCA-\uFFCF\uFFD2-\uFFD7\uFFDA-\uFFDC]+$/;
    return Validation.get('IsEmpty').test(v) || reg.test(v);
});

Validation.add('validate-postcode-de', Translator.translate('Please enter a valid German zip code.'), function(v, el){
    return Validation.get('IsEmpty').test(v) || /(^\b(?!01000)(?!99999)(0[1-9]\d{3}|[1-9]\d{4})\b$)/.test(v);
});

Validation.add('validate-expiration-date-de', '<?php echo $this->__('Invalid expiration date'); ?>', function (v, element) {
    if (v != null && v != '') {
        var dateString = v;

        // first check for the format MM.YYYY
        if (!/^\d{2}\.\d{4}$/.test(dateString)) {
            return false;
        }

        var parts = dateString.split('.');
        var month = parts[0];
        var year = parts[1];

        if (month < 1 || month > 12) {
            return false;
        }

        if (year > VF_CURRENT_YEAR) {
            return true;
        } else if (year == VF_CURRENT_YEAR && month >= VF_CURRENT_MONTH) {
            return true;
        }

        return false;
    } else {
        return false;
    }
});

jQuery(document).ready(function() {
    $j('[onchange*="checkout.summaryDataSynchronization"]').trigger('change');
    $j('[oninput*="checkout.summaryDataSynchronization"]').trigger('input');
    <?php if (($salutationSelected = $checkoutData->getFieldValue("billing[other_address][gender]")) == false || $salutationSelected != 3): ?>
    $j('.billing-soho-fields').addClass('hidden');
    <?php endif; ?>

    <?php if ($checkoutData->getFieldValue("billing[post_invoice]") != 2) : ?>
    $j('#billing_email').trigger('click');
    <?php endif; ?>
    <?php if (!$customerLoggedIn) : ?>
        address.validateAddresses(false);
    <?php endif; ?>

    jQuery('.mutual_exclusive_invoice').on('click', function(event){
        jQuery(this).attr('checked','checked');
        var current=jQuery(this);
        jQuery('.mutual_exclusive_invoice').each(function(){
            counter++
            if (current.attr('id') != jQuery(this).attr('id')) {
                jQuery(this).removeAttr('checked');
            }
        });

    });

    jQuery('[id="saveCustomer"]').on('blur', '[data-prefix="telephone_prefix"]', function(e) {
        var associatedPhoneField = jQuery(this).closest('.phone-list-fields').find('[data-prefix="telephone"]');
        if (jQuery(this).val().length > 0) {
            associatedPhoneField.addClass('validate-phone-area-code-group');
        } else {
            associatedPhoneField.removeClass('validate-phone-area-code-group');
        }
    });

    jQuery('[id="saveCustomer"]').on('blur', '[data-prefix="telephone"]', function(e) {
        var associatedPrefixField = jQuery(this).closest('.phone-list-fields').find('[data-prefix="telephone_prefix"]');
        if (jQuery(this).val().length > 0) {
            associatedPrefixField.addClass('validate-phone-area-code-group');
        } else {
            associatedPrefixField.removeClass('validate-phone-area-code-group');
        }
    });
});

jQuery(window).load(function() {
    // Should be triggered when all other validators and events are already finished
    validatePrefilledData();
    <?php if ( $checkoutLayout->customerIsMigratingFromMobilePrepaidToMobilePostpaid() ) : ?>
    validatePrefilledDataForMobilePrepaidToMobilePostpaidMigration();
    <?php endif; ?>
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_change_provider.phtml -->
<?php
$migrationOrMoveOffnetState = Mage::getSingleton('checkout/cart')->getCheckoutSession()->getInMigrationOrMoveOffnetState();
$phonebookEntriesLimit = $this->getHasComfortConnection() ? 3 : 1;
?>
<script type="text/javascript">
checkout.registerStepActivationCallBack("saveChangeProvider", function () {
    ///jQuery('[onchange^="checkout.summaryDataSynchronization"], [oninput^="checkout.summaryDataSynchronization"]').trigger('change').trigger('input');

    jQuery('.date-format').not('.nodatepicker, .cable-delivery-date').datepicker({
        format: "dd.mm.yyyy",
        showOn: 'button',
        buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
        buttonText: 'date',
        minDate: "+" + defaultMinDateDatepicker + "W",
        maxDate: "+" + defaultMaxDateDatepicker + "M"
    });

    jQuery('[data-step="saveChangeProvider"]').on('click', function () {
        var connectionsAreVisible = false;
        jQuery('[id="new-connection-summary-container"]').find('.section-content-new-connection').children('div').each(function () {
            if (jQuery(this).css('display') != 'none') {
                connectionsAreVisible = true;
                return true;
            }
        })
        if (connectionsAreVisible) {
            jQuery('[id="new-connection-summary-container"]').show();
        } else {
            jQuery('[id="new-connection-summary-container"]').hide();
        }
    });

    handleWishDateToggleForScript();

    handleHomeType();
    <?php if ($this->hasDsl()) : ?>
    toggleChangeProvider('dsl');
    handleOtherProviderAddress('dsl');
    handleNoOfPhonesForTransfer('dsl');
    handleOwnerOfTheTerminal('dsl');
    <?php endif; ?>
    <?php if ($this->hasLte()) : ?>
    toggleChangeProvider('lte');
    handleOtherProviderAddress('lte');
    handleNoOfPhonesForTransfer('lte');
    handleOwnerOfTheTerminal('lte');
    <?php endif; ?>
    <?php if ($this->hasCable()) : ?>
    <?php if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MIGRATION) : ?>
    	handleKIPChangeProvider();
    <?php endif; ?>
    toggleChangeProvider('cable_internet_phone');
    handleOtherProviderAddress('cable_internet_phone');
    handleNoOfPhonesForTransfer('cable_internet_phone');
    handleOwnerOfTheTerminal('cable_internet_phone');
    toggleChangeProviderLater('cable_internet_phone');
    <?php endif; ?>
    <?php if ($this->hasDsl()): ?>
    desiredDate();
    <?php endif; ?>

    // Scripts from save_other.phtml
    <?php foreach ($this->getPackages() as $package) : ?>
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][prefix]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][gender]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][company_name]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][keyword]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][information_exchange]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][firstname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][co_users][firstname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][co_users][lastname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][lastname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][profession]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][directories_entry][checkbox]"] = "other-directories-checkbox";

    hidePhonebookChoiceDependentBlocks(<?php echo $package->getPackageId(); ?>, '<?php echo $package->getType(); ?>');
    <?php endforeach; ?>

    // Event callbacks definition
    <?php foreach ($this->getPackages() as $package) : ?>
    <?php $packageType = $package->getType(); ?>
    jQuery('[name="other[phonebook_choice][<?php echo $package->getPackageId(); ?>][<?php echo $packageType ?>]"]').change(function (e) {
        togglePhonebookChoices(jQuery(e.target), <?php echo $package->getPackageId(); ?>, '<?php echo $packageType; ?>');
    });
    <?php endforeach; ?>

    // Update extended phone entries by adding the last rufnummer
    <?php foreach ($this->getPackages() as $package) : ?>
    jQuery('[id="saveChangeProvider"]').on('blur', '[class~="provider[<?php echo $package->getType(); ?>][phone_transfer]"]', function () {
        <?php $packageType = $package->getType(); ?>
        <?php if (!$package->isMobile()) : ?>
        <?php for ($i = 0; $i < $phonebookEntriesLimit; $i++) : ?>
        var phoneEntriesSelect<?php echo $packageType . $i ?> = jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][<?php echo $i; ?>][telephone_no]"]'),
            phonebookNumbersLength<?php echo $packageType ?> = phoneEntriesSelect<?php echo $packageType . $i ?>.children('option').length,
            currentId<?php echo $packageType ?> = jQuery(this).attr('id'),
            currentNumber<?php echo $packageType ?> = jQuery(this).val();

        // update if only coming back to Rufnummerubernahme section and adding rufnummers
        if (phonebookNumbersLength<?php echo $packageType ?> != 0) {
            var currentPhoneEntriesDuplicate<?php echo $packageType ?> = false;
            // check if added rufnummer is not a duplicate
            phoneEntriesSelect<?php echo $packageType . $i ?>.children('option').each(function () {
                if (jQuery(this).text() == currentNumber<?php echo $packageType ?>) {
                    currentPhoneEntriesDuplicate<?php echo $packageType ?> = true;
                }
            });
            if (!currentPhoneEntriesDuplicate<?php echo $packageType ?> || (currentNumber<?php echo $packageType ?> == '')) {
                // add the new value into select
                var newOption<?php echo $packageType ?> = jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][<?php echo $i; ?>][telephone_no]"] option').filter(function () {
                    return jQuery(this).text() === Translator.translate('New');
                });
                newOption<?php echo $packageType ?>.remove();
                if (currentNumber<?php echo $packageType ?> != '') {
                    phoneEntriesSelect<?php echo $packageType . $i ?>.append(jQuery('<option/>').val(currentNumber<?php echo $packageType ?>).text(currentNumber<?php echo $packageType ?>));
                }
                <?php if ($packageType != 'lte') : ?>
                phoneEntriesSelect<?php echo $packageType . $i ?>.append(jQuery('<option/>').val(currentNumber<?php echo $packageType ?>).text(Translator.translate('New')));

                <?php else : ?>
                // set new option as default
                jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][0][telephone_no]"] option').last().attr('selected', 'selected');
                <?php endif; ?>
            }
        }
        <?php endfor; ?>
        <?php endif; ?>
        fillPhonebookEntries('<?php echo $packageType ?>');
    });
    <?php endforeach; ?>
    applyProductsBehavior();
});
jQuery(document).ready(function ($) {

    togglePhonebookChoicesOnReady();

});
jQuery(window).load(function ($) {

    // Scripts from save_other.phtml
    <?php foreach ($this->getPackages() as $package) : ?>
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][prefix]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][gender]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][company_name]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][keyword]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][information_exchange]"] = "";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][firstname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][co_users][firstname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][co_users][lastname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][lastname]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][profession]"] = "required-entry";
    checkout.options.checkoutValidationRules.id["other[extended][<?php echo $package->getPackageId(); ?>][<?php echo $package->getType(); ?>][directories_entry][checkbox]"] = "other-directories-checkbox";

    hidePhonebookChoiceDependentBlocks(<?php echo $package->getPackageId(); ?>, '<?php echo $package->getType(); ?>');
    <?php endforeach; ?>

    <?php foreach ($this->getPackages() as $package) : ?>
    <?php $packageType = $package->getType(); ?>
    <?php if (($choice = $checkoutData->getFieldValue('other[phonebook_choice]['.$package->getPackageId().']['.$packageType.']')) !== false): ?>
    jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][<?php echo $choice ?>]"]').trigger('click').trigger('change');
    <?php endif; ?>
    <?php endforeach; ?>

    // Trigger first option for phonebook automatically (only if nothing is selected)
    jQuery('.accordion-phonebook').each( function( index, element ){
        if( jQuery('.accordion-head input:radio:checked', jQuery( element) ).length == 0 ) {
            jQuery('.accordion-item:first .accordion-head input', jQuery( element) ).trigger('click').trigger('change');
        }
    });

});
checkout.registerStepActivationCallBack( "saveChangeProvider", function() {

    // To display the disable reason onhover of disable dates
    jQuery("html").on("mouseenter",".porting-free-days", function() {
        var tooltipMonth = jQuery("html").find('span.ui-datepicker-month').text();
        var tooltipYear = jQuery("html").find('span.ui-datepicker-year').text();
        var tooltipDay = jQuery($(this)).text();
        var tooltipCompareDateString = tooltipYear + "-" + tooltipMonth + "-" + tooltipDay;
        var tooltipCompareDate = new Date(tooltipCompareDateString);
        var tooltipMonthValue = ((tooltipCompareDate.getMonth() + 1) < 10 ? '0' : '') + (tooltipCompareDate.getMonth() + 1);
        var tooltipCompareDate = tooltipYear + "-" + tooltipMonthValue + "-" + tooltipDay;
        tooltipTitle = '';

        jQuery.each(freeDays, function(key, value) {
            if (value.indexOf(tooltipCompareDate) != -1) {
                tooltipTitle = freeDays[key][1];
            }
        });

        jQuery($(this)).attr({
            'data-toggle':"tooltip",
            'data-original-title':tooltipTitle,
            'data-container':"body",
            'data-html':"true"
        });
    });

    var currentDate = new Date();
    var currentDatePlusE = new Date(currentDate);
    var eDays = '<?php echo Mage::getStoreConfig('checkout/cart/current_date_e_days'); ?>';
    var currentDatePlusEValue = new Date(currentDatePlusE.getFullYear(),currentDatePlusE.getMonth(),currentDatePlusE.getDate() - parseInt(eDays));
    jQuery(".provider_contract_end_date").datepicker('option', 'minDate', currentDatePlusEValue);

    jQuery('.date-format').not('.nodatepicker, .cable-delivery-date').datepicker({
        format: "dd.mm.yyyy",
        showOn: 'button',
        buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
        buttonText: 'date',
        minDate: "+"+defaultMinDateDatepickerByDays+"D",
        maxDate: "+"+defaultMaxDateDatepicker+"M",
        onSelect: function() {
            jQuery(this).trigger('change');
        },
    });

    jQuery('[data-step="saveChangeProvider"]').on('click', function() {
        var connectionsAreVisible = false;
        jQuery('[id="new-connection-summary-container"]').find('.section-content-new-connection').children('div').each(function() {
            if(jQuery(this).css('display') != 'none') {
                connectionsAreVisible = true;
                return true;
            }
        })
        if(connectionsAreVisible) {
            jQuery('[id="new-connection-summary-container"]').show();
        } else {
            jQuery('[id="new-connection-summary-container"]').hide();
        }
    });

    handleHomeType();

    <?php foreach($this->getPackages() as $package) : ?>
	    <?php if($package->isFixed() || $package->isCable()) : ?>
		    <?php
		    $packageType = $package->getType();
		    $saleType = strtoupper($package->getSaleType());
		    $packageIndex = $package->getPackageId();
		    ?>
		    handleWishDateToggle('<?php echo $packageType ?>', true);
		    toggleChangeProvider('<?php echo $packageType ?>', '<?php echo $saleType ?>' , '<?php echo $packageIndex ?>');
		    handleOtherProviderAddress('<?php echo $packageType ?>' , '<?php echo $packageIndex; ?>');
		    handleNoOfPhonesForTransfer('<?php echo $packageType ?>', '<?php echo $saleType;?>');
		    handleOwnerOfTheTerminal('<?php echo $packageType ?>' , '<?php echo $packageIndex ?>');
	    <?php endif; ?>
	    <?php if($package->isCable()) : ?>
		    toggleChangeProviderLater('<?php echo $packageType ?>', '<?php echo $saleType ?>' , '<?php echo $packageIndex ?>');
		    <?php if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MIGRATION) : ?>
		        <?php foreach($packageIndeces as $packageIndex) : ?>
		            jQuery('[name="provider[cable_internet_phone][change_provider][<?php echo $packageIndex ?>]"]').prop('checked', true);
		        <?php endforeach; ?>
	    	<?php endif; ?>
	    <?php endif; ?>
	    <?php if ($package->isDsl()) : ?>
		    <?php if ($migrationOrMoveOffnetState == Dyna_Catalog_Model_Type::MOVE_OFFNET) : ?>
		        <?php foreach($packageIndeces as $packageIndex) : ?>
		             jQuery('[name="provider[dsl][change_provider][<?php echo $packageIndex ?>]"]').prop('checked', true);
		        <?php endforeach; ?>
		    <?php endif; ?>
		    desiredDate();
	    <?php endif; ?>
    <?php endforeach; ?>

    // Update extended phone entries by adding the last rufnummer
    <?php foreach ($this->getPackages() as $package) : ?>
	    jQuery('[id="saveChangeProvider"]').on('blur', '[class~="provider[<?php echo $package->getType(); ?>][phone_transfer]"]', function(){
	        <?php $packageType = $package->getType(); ?>
	        <?php if (!$package->isMobile()) : ?>
		        <?php for($i = 0; $i < $phonebookEntriesLimit; $i++) : ?>
			        var phoneEntriesSelect<?php echo $packageType.$i ?> = jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][<?php echo $i; ?>][telephone_no]"]'),
			            phonebookNumbersLength<?php echo $packageType ?> = phoneEntriesSelect<?php echo $packageType.$i ?>.children('option').length,
			            currentId<?php echo $packageType ?> = jQuery(this).attr('id'),
			            currentNumber<?php echo $packageType ?> = jQuery(this).val();

			        // update if only coming back to Rufnummerubernahme section and adding rufnummers
			        if(phonebookNumbersLength<?php echo $packageType ?> != 0) {
			            var currentPhoneEntriesDuplicate<?php echo $packageType ?> = false;
			            // check if added rufnummer is not a duplicate
			            phoneEntriesSelect<?php echo $packageType.$i ?>.children('option').each(function(){
			                if(jQuery(this).text() == currentNumber<?php echo $packageType ?>){
			                    currentPhoneEntriesDuplicate<?php echo $packageType ?> = true;
			                }
			            });
			            if(!currentPhoneEntriesDuplicate<?php echo $packageType ?> || (currentNumber<?php echo $packageType ?> == '')){
			                // add the new value into select
			                var newOption<?php echo $packageType ?> = jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][<?php echo $i; ?>][telephone_no]"] option').filter(function() {
			                    return jQuery(this).text() === Translator.translate('New');
			                });
			                newOption<?php echo $packageType ?>.remove();
			                if(currentNumber<?php echo $packageType ?> != '') {
			                    phoneEntriesSelect<?php echo $packageType . $i ?>.append(jQuery('<option/>').val(currentNumber<?php echo $packageType ?>).text(currentNumber<?php echo $packageType ?>));
			                }
			                <?php if ($packageType != 'lte') : ?>
			                phoneEntriesSelect<?php echo $packageType.$i ?>.append(jQuery('<option/>').val(Translator.translate('New')).text(Translator.translate('New')));

			                <?php else : ?>
			                // set new option as default
			                jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][phone_entries][0][telephone_no]"] option').last().attr('selected','selected');
			                <?php endif; ?>
			            }
			        }
		        <?php endfor; ?>
	        <?php endif; ?>
	        fillPhonebookEntries('<?php echo $packageType ?>');
	    });
    <?php endforeach; ?>
    applyProductsBehavior();

    // If no checkout data is present for this step, handle preselected elements
    <?php if (!$checkoutData->hasCheckoutData()) : ?>

    <?php foreach ($this->getPackages() as $package) : ?>
    <?php $packageType = $package->getType(); ?>
    <?php if ($this->hasCableOrFixedTypePackage()) : ?>
        jQuery('[id="other[extended][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][directories_entry][printed]"]').prop('checked', true);
    <?php endif; ?>
    checkout.triggerEvent(jQuery('[id="other[phonebook_choice][<?php echo $package->getPackageId() ?>][<?php echo $packageType ?>][' + PHONEBOOK_CHOICE_NO_ENTRIES + ']"]'), 'click', false);
    <?php endforeach; ?>
    <?php endif; ?>

    jQuery('.phonebook-entry-phone-type').each(function () {
        if (jQuery(this).find('option[selected]').length == 0 && jQuery(this).find('option').prop("selected")) {
            jQuery(this).find('option:first').prop("selected", true);
        }
    });

    jQuery('.current-provider-type').find('option[selected]').prop('selected', true);

    jQuery('.current-provider-type').each(function () {
        if (jQuery(this).find('option[selected]').length == 0 && jQuery(this).find('option').prop("selected")) {
            jQuery(this).find('option:first').prop("selected", true);
        }
    });

    jQuery('#saveChangeProvider select').find('option[selected]').prop('selected', true);
    jQuery('#saveChangeProvider select').each(function () {
        if (jQuery(this).find('option[selected]').length == 0 && jQuery(this).find('option').prop("selected")) {
            jQuery(this).find('option:first').prop("selected", true);
        }
    });

    handlePhonebookChoiceSkus();
    addEventHandlersForProductLogic();

    // end scripts from save_other

    <?php foreach ($this->getPackages() as $package) : ?>
	    <?php $packageType = $package->getType();
	    $packageIndex = $package->getPackageId(); ?>
	    jQuery('[name="other[extended][<?php echo $packageIndex; ?>][<?php echo $packageType?>][profession]"]').autocomplete({
	        serviceUrl: 'cart/searchIndustries',
	        minChars: 3,
	        type: 'POST',
	        dataType: 'json',
	        appendTo: '#autocomplete-industry-container-<?php echo $packageIndex; ?>',
	        formatResult: function (suggestion, currentValue) {
	            var pattern = '(' + currentValue.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&") + ')';
	            return suggestion.value.replace(new RegExp(pattern, 'gi'), '$1');
	        },
	        onSelect: function(suggestion){
	            jQuery(this).val(suggestion.value);
	        }
	    });
    <?php endforeach ?>


    handleChangeRegistrationNo(jQuery('.no_of_registrations'));

    <?php if ($checkoutLayout->isFieldAvailable('provider[subuser_dob]')) : ?>
    var customerDOB = jQuery('[id="customer[dob]"]').val();

    if (getAge(customerDOB) > 28) {
        jQuery('.display-for-young').show();
        checkout.setCheckoutContainerValidationRules(jQuery('.display-for-young'));
    } else {
        jQuery('.display-for-young').hide();
        checkout.removeCheckoutContainerValidationRules(jQuery('.display-for-young'));
    }

    function getAge(birthDateString) {
        var today = new Date();
        var birthDate = new Date(birthDateString);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }
        return age;
    }
    <?php endif; ?>

    // Mobile porting
    jQuery(".provider_contract_end_date").on("change", function(){

        jQuery(".porting_wish_date").each(function(){
            jQuery(this).val("");
        });

        portingWishDate();

    });

    jQuery('.porting_wish_date').datepicker('disable');

    portingWishDate();

    jQuery("html").on("change",".provider_contract_end_date", function() {
        jQuery('.porting-cancellation-date-option option[value=""]').prop("selected",true);
    });

});
// Save change provider form validation
form.saveChangeProvider = new VarienForm('saveChangeProvider', true);

var addedTransferPhoneCountDSL = jQuery('input[name^="provider[dsl][phone_transfer_list][telephone]"]').length;
var addedTransferPhoneCountKIP = jQuery('input[name^="provider[cable_internet_phone][phone_transfer_list][telephone]"]').length;

Validation.add(
    'porting-cancellation-date',
    '<?php echo $this->__('Must select a date after') . ' ' . date('d-m-Y', strtotime("+3 week")); ?>',
    function (dateselection) {
        if (jQuery('input[id="provider_notice_date_radio_cancellation_date[cable_internet_phone]"]').is(":disabled") &&
            jQuery('[id="provider_notice_date_radio_terminate_reason[cable_internet_phone]"]').is(":disabled")) {
            return true;
        }

        if (!jQuery('input[id="provider_notice_date_radio_cancellation_date[cable_internet_phone]"]').is(":checked") ||
            !jQuery('[id="provider[cable_internet_phone][change_provider]"]').is(":checked")) {
            return true;
        }

        var dateselection = moment(dateselection, 'DD.MM.YYYY');
        var min = moment().add(22, 'd');

        if (dateselection.diff(min, 'days') < 0) {
            return false;
        }

        return true;
    });

Validation.add('validate-age-young', '<?php echo $this->__('The age limit for the young people benefit is between ' . Dyna_Catalog_Model_Type::getYouBiageMinAge() . ' and ' . Dyna_Catalog_Model_Type::getYouBiageMaxAge() . ' years.'); ?>', function (v, element) {
    /****Start Age Verification here ****/
    var date = new Date();
    var input = v.split('.');
    var test = new Date(input[2] + '/' + input[1] + '/' + input[0]);

    // Min 10 years old, max 18 years old
    var minAgeForYoungBenefit = new Date(test.getFullYear() + <?php echo Dyna_Catalog_Model_Type::getYouBiageMinAge(); ?>, test.getMonth(), test.getDate());
    var maxAgeForYoungBenefit = new Date(test.getFullYear() + <?php echo Dyna_Catalog_Model_Type::getYouBiageMaxAge(); ?>, test.getMonth(), test.getDate());

    if (date.valueOf() < minAgeForYoungBenefit.valueOf() || date.valueOf() > maxAgeForYoungBenefit.valueOf()) {
        return false;
    }
    /****End Age Verification here ****/

    return true;
});

Validation.add('other-directories-checkbox', '<?php echo $this->__("Please select at least one of the options above.") ?>', function (v, el) {
    var packageId = jQuery(el).data('package-id');

    if (jQuery('[data-package-id="' + packageId + '"]').filter(':checked').length > 0) {
        return true;
    }
    return false;
});

Validation.add('other-disabled-degree-min', '<?php echo $this->__("The minimum degree for the disabled is 50%") ?>', function (v, el) {
    var disabledDegreeInput = '[id="' + el.id + '"]';
    var degree = jQuery(disabledDegreeInput).val();
    if (degree !== undefined) {
        degree = degree.replace(',', '.');
    }
    if (!isNaN(degree) && degree >= 50) {
        return true
    }

    return false;
});

Validation.add('other-disabled-degree-max', '<?php echo $this->__("The maximum degree is 100%") ?>', function (v, el) {
    var disabledDegreeInput = '[id="' + el.id + '"]';
    var degree = jQuery(disabledDegreeInput).val();
    if (degree !== undefined) {
        degree = degree.replace(',', '.');
    }
    if (!isNaN(degree) && degree <= 100) {
        return true
    }

    return false;
});

Validation.add('validate-one-accordion-item-selected', '<?php echo $this->__("Please select one of the options.") ?>', function (v, el) {
    var found = false;

    jQuery(el).parent().children('.accordion').children('.accordion-item').each(function () {
        if (jQuery(this).children('.radio-wrapper, .accordion-head').first().find('input:radio').is(':checked')) {
            found = true;
        }
    });

    return found;
});

<?php
$youngMinAge = Dyna_Catalog_Model_Type::getMobileYoungMinAge();
$youngMaxAge = Dyna_Catalog_Model_Type::getMobileYoungMaxAge();

$youbiageMaxAge = Dyna_Catalog_Model_Type::getYouBiageMaxAge();
$youbiageMinAge = Dyna_Catalog_Model_Type::getYouBiageMinAge();
?>
Validation.add('validate-young-age', '<?php echo $this->__("Age has to be between " . $youngMinAge . " and " . $youngMaxAge . " years."); ?>', function (v, el) {
    /** [DD,MM,YYYY] **/
    var dob = jQuery(el).val().split(".");
    return validateAge(dob, <?php echo (int) $youngMaxAge; ?>, <?php echo (int) $youngMinAge; ?>);
});

Validation.add('validate-youbiage-age', '<?php echo $this->__("Age has to be between " . $youbiageMinAge . " and " . $youbiageMaxAge . " years."); ?>', function (v, el) {
    /** [DD,MM,YYYY] **/
    var dob = jQuery(el).val().split(".");
    return validateAge(dob, <?php echo (int) $youbiageMaxAge; ?>, <?php echo (int) $youbiageMinAge; ?>);
});

jQuery("body").tooltip({selector: '[data-toggle=tooltip]'});

// Technician Instruction Text Restriction
jQuery(function () {
    jQuery('[id="provider[comment_installer]"]').keyup(function () {
        var maxLength = 150;
        var length = jQuery('[id="provider[comment_installer]"]').val().length;
        var length = maxLength - length;
        jQuery('[id="comment_installer_count"]').text(length);
    });
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_delivery_address.phtml -->
<?php
$packages = $this->getPackages();
// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
$checkoutLayout->setupFormLayout();
$saveDeliveryBlock = $this->getLayout()->getBlockSingleton('dyna_checkout/cart_steps_savedeliveryaddress');
?>
<?php foreach ($packages as $package):
        if($checkoutLayout->hasDifferentAddressVisible(array($package))) { ?>
            <script>
                jQuery(document).ready(function () {
                    if (HAS_GOOGLE_AUTOCOMPLETE) {
                        if (jQuery('[id="delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][postcode]"]').length > 0) {
                            jQuery("[id='split-delivery-container-<?php echo $package->getPackageId(); ?>']").googleSearchAddress({
                                zipCodeInputName: "delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][postcode]",
                                cityInputName: "delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][city]",
                                streetInputName: "delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][street]",
                                houseNumberInputName: "delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][houseno]",
                                houseNumberAddition: "delivery[pakket][<?php echo $package->getPackageId(); ?>][otherAddress][addition]",
                                customContainerStyle: {
                                    bottom : '0'
                                }
                            });
                        }
                    }
                });
            </script>
<?php   }
    endforeach;
?>
<script type="text/javascript">

//<![CDATA[
// Save delivery address form validation
form.saveDeliveryAddress = new VarienForm('saveDeliveryAddress', true);
//]]>

 jQuery(document).ready(function () {
    jQuery("#delivery-other-address-form").googleSearchAddress({
        zipCodeInputName: "delivery[other_address][postcode]",
        cityInputName: "delivery[other_address][city]",
        streetInputName: "delivery[other_address][street]",
        houseNumberInputName: "delivery[other_address][houseno]",
        houseNumberAddition: "delivery[other_address][addition]",
        customContainerStyle: {
            bottom: '0'
        }
    });

    toggleDeliveryDateElements(jQuery('[name="delivery[date_choice]"]'));

    jQuery('[id="delivery[date]"]').datepicker({
        showOn: 'button',
        buttonImage: '<?php echo $this->getSkinUrl('images/icon-date.png'); ?>',
        buttonText: 'date',
        format: "dd.mm.yyyy",
        minDate: getMinDateForCable(),
        maxDate: getMaxDateForCable()
    });

    jQuery('[id="provider[cable_internet_phone][notice_date]"]').on('change', function() {
        jQuery('[id="delivery[date]"]')
            .datepicker('option', 'maxDate', getMaxDateForCable())
            .val('');
    });

    jQuery('[id="provider_notice_date_radio_terminate_reason[cable_internet_phone]"]').next().on('click', function() {
        jQuery("#provider_content").find("input[id='provider[cable_internet_phone][notice_date]']").val('');
        jQuery('[id="delivery[date]"]')
            .datepicker('option', 'maxDate', getMaxDateForCable())
            .val('');
    });

    jQuery('[name="delivery[date_choice]"]').change(function (e) {
        toggleDeliveryDateElements(jQuery(e.target));
    });

    jQuery('.delivery-date-choice').change(function (e) {
        toggleDeliveryPackageDateElements(jQuery(e.target), jQuery(this).data('package'));
    });

    jQuery('[name="payment[monthly][type]"]').click(function (e) {
        toggleDeliveryDateElements(jQuery(e.target));
    });

    jQuery('[name="delivery[other_address][gender]"]').on('change', function (e) {
        toggleDeliveryCustomerGenderChoices(jQuery(e.target));
    });

    jQuery('[id^="delivery[pakket]["][id$="][otherAddress][gender]"]').on('change', function(e) {
        toggleSplitDeliveryCustomerGenderChoices(jQuery(e.target));
    });


    pageFullyLoaded = true;

    //Trigger delivery date choice if exists
    <?php if (($deliveryDate = $checkoutData->getFieldValue("delivery[date_choice]")) !== false) : ?>
    jQuery('[id="delivery[date_choice][<?php echo $deliveryDate; ?>]"]').trigger('click');
    <?php else: ?>
    jQuery('[id="delivery[date_choice][1]"]').trigger('click');
    <?php endif; ?>

    <?php foreach ($packages as $package): ?>
	    <?php if (($deliveryDate = $checkoutData->getFieldValue("delivery[pakket][".$package->getPackageId()."][date_choice]")) == '2') : ?>
	    	jQuery('[id="delivery[pakket][<?php print $package->getPackageId(); ?>][date_choice][2]"]').trigger('click');
	    <?php else: ?>
	    	jQuery('[id="delivery[pakket][<?php print $package->getPackageId(); ?>][date_choice][1]"]').trigger('click');
	    <?php endif; ?>
	    <?php if($checkoutData->getFieldValue("delivery[pakket][".$package->getPackageId()."][install_service]") !== false): ?>
	    	jQuery('[id="delivery[pakket][<?php print $package->getPackageId(); ?>][install_service]"]').trigger("click");
	    <?php endif; ?>
    <?php endforeach; ?>

    jQuery('[id^="delivery[method]"][checked]').trigger('click');
    setPerPackageDeliveryAddressFields();

    jQuery('[id^="customer[address]"]').on('change', function() {
        toggleUseServiceDelivery();
    });

    if(jQuery('[id="delivery[method][split]"]').is(':checked')) {
        jQuery('[id="delivery[method][split]"]').parent().siblings('.accordion-body').find('input[name^="delivery[pakket]"]:checked').trigger('change');
    }
});

jQuery('[name="delivery[method]"]:checked').click().trigger('change');

jQuery(window).load(function () {

    var vodafoneShipToStores = <?php echo $saveDeliveryBlock->getVodafoneShipToStoresAddresses(true); ?>;
    setDefaultVodafoneShopValue(vodafoneShipToStores);
    var singleDeliveryStore = '[id="delivery[pickup][store]"]';
    var singleDeliveryStoreId = '[name="delivery[pickup][store_id]"]';

    jQuery(singleDeliveryStore).autocomplete({
        lookup: vodafoneShipToStores,
        appendTo: jQuery('[id="vodafoneShopsContainer[autocomplete]"]'),
        onSelect: function (index) {
            checkout.summaryDataSynchronizationVodafoneShop(jQuery(singleDeliveryStore), index.object);
            jQuery(singleDeliveryStoreId).val(index.data);
            jQuery(singleDeliveryStore).val(checkout.combineDeliveryAddress(index.object));
        },
        formatResult: function (suggestion, currentValue) {
            var pattern = '(' + currentValue.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&") + ')';
            return suggestion.value.replace(new RegExp(pattern, 'gi'), '$1');
        },
    });
    jQuery(singleDeliveryStore).change(function() {
        assignStoreIdOnChange(vodafoneShipToStores,singleDeliveryStoreId,jQuery(this));
    });

    jQuery('[id^="delivery[pakket]["][id$="][store]"]').each(function() {
        var packageId = jQuery(this).data('package-id');

        jQuery(this).autocomplete({
            lookup: vodafoneShipToStores,
            appendTo: "#vodafoneShopsContainer-pakket-" + packageId,
            onSelect: function(index){
                checkout.summaryDataSynchronizationVodafoneShop(jQuery(this), index.object);
                jQuery('[name="delivery[pakket]['+packageId+'][store_id]"]').val(index.data);
                jQuery(this).val(checkout.combineDeliveryAddress(index.object));
            },
            formatResult: function (suggestion, currentValue) {
                var pattern = '(' + currentValue.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&") + ')';
                return suggestion.value.replace(new RegExp(pattern, 'gi'), '$1');
            },
        });

        jQuery(this).change(function(){
            assignStoreIdOnChange(vodafoneShipToStores,jQuery(this).attr('id'),jQuery(this));
        });
    });

});

Validation.add(
    'porting-delivery-date',
    '<?php
        echo $this->__('Must select a date after') . ' ' . ($this->hasCable() ? date('d-m-Y', strtotime("+8 day")) : date('d-m-Y', strtotime("+27 day")));
        ?>',
    function(dateselection){
        var dateselection = moment(dateselection, 'DD.MM.YYYY');
        var min = moment().add(28, 'd');
        <?php if($this->hasCable()): ?>
        min = moment().add(9, 'd');
        <?php endif; ?>

        if(dateselection.diff(min, 'days') < 0) {
            return false;
        }

        return true;
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments_partials/onetime_payments.phtml -->
<script>
jQuery(document).ready(function () {
    initOnetimePayments();
});

</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments_partials/billing_other.phtml -->
<?php
$package = $this->getData("package" );
// Setting up the layout
$checkoutLayout = Mage::helper("dyna_checkout/layout");
?>
<?php if ($checkoutLayout->showBillingOtherAddress($package)): ?>
	<script>
	    jQuery(document).ready(function () {
	        if (HAS_GOOGLE_AUTOCOMPLETE) {
	            jQuery("[data-autocomplete='save-"+ids+"-address-container']").googleSearchAddress({
	                zipCodeInputName: ids+"[other_address][postcode]",
	                cityInputName: ids+"[other_address][city]",
	                streetInputName: ids+"[other_address][street]",
	                houseNumberInputName: ids+"[other_address][houseno]",
	                houseNumberAddition: ids+"[other_address][addition]",
	                customContainerStyle: {
	                    bottom : '0'
	                }
	            });
	        }
	    });
	</script>
<?php endif; ?>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments.phtml -->
<script type="text/javascript">
// Save payments form validation
form.savePayments = new VarienForm('savePayments', true);

jQuery(window).load(function () {
    // Init setup and validation
    initMonthlyPayments();
    initOnetimePayments();
    initBillingOptions();
    // Support click event
    jQuery('[data-id="payment[alternative_account_holder]"]').click(function (e) {
        toggleAlternativeAccountBlocks(jQuery(e.target));
    });
    // Should come first
    checkout.registerStepActivationCallBack( "savePayments", function() {
        jQuery('#monthly-payments .accordion-item.active .iban-field').each( function( index, element ){
            if( jQuery( this ).val() != "" ) {
                checkout.validateIBANRequest( this );
            }
        });
    });
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments.phtml -->
<script>
jQuery().ready(function(){
    if (store.get('btwState') == false) {
        jQuery('#saveOrderOverview .total-including-tax').hide();
        jQuery('#saveOrderOverview .total-excluding-tax').show();
    }
    else {
        jQuery('#saveOrderOverview .total-including-tax').show();
        jQuery('#saveOrderOverview .total-excluding-tax').hide();
    }

    // note on package functionality
    jQuery('.package-notes-checkout').click(function(){
        window.customerDe.getNoteOnPackage(this,0);
    });

    jQuery('.package-item-notes').click(function () {
        window.customer.displayNoteAddForm(this);
    });
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_overview_partials/remarks.phtml -->
<script type="text/javascript">
jQuery('[id="addRemarkBtn"]').hide();
jQuery('[id="other[remarks][layout1]"]').attr('disabled', true);
jQuery('[id="layout1label"]').attr('disabled', true);

if(enablemobile && !enablecable) {
    jQuery('[id="other[remarks1][mobile]"]').val('1');
    jQuery('[id="other[remarks][mobile1]').prop('checked', true);
    var jElement = jQuery('[id="mobile1lable"]');
    jElement.attr('disabled', true);
    jElement.attr('style',"pointer-events: none;");
    jQuery('[id="other[remarks][layout1]"]').attr('disabled', true);
    jQuery('[id="layout1label"]').attr('disabled', true);

    jQuery('[id="checkdiv"]').hide();
}
if(enablecable && !enablemobile) {
    jQuery('[id="other[remarks1][cable]"]').val('1');
    jQuery('[id="other[remarks][cable1]').prop('checked', true);
    var jElement = jQuery('[id="cable1lable"]');
    jElement.attr('disabled', true);
    jElement.attr('style',"pointer-events: none;");
    jQuery('[id="other[remarks][layout1]"]').attr('disabled', false);
    jQuery('[id="layout1label"]').attr('disabled', false);

    jQuery('[id="checkdiv"]').hide();
}

jQuery(document).ready(function () {

    jQuery('[id="other[remarks][layout1]"]').on('change', function () {
        // Save option value in textarea
        var jElement = jQuery('[id="other[remarks1][content]"]');
        jQuery('[id="other[remarks1][layout]"]').val(jQuery('[id="other[remarks][layout1]"]').val());
        // If agent can edit enable textarea
        if (jQuery(this).find('option:selected').attr('data-editable') == "1") {
            jElement.removeAttr('readonly');
        } else {
            jElement.removeAttr('readonly').attr('readonly', true);
        }

        jElement.text( jQuery(this).find('option:selected').text() );
        jElement.val( jQuery(this).find('option:selected').text() );
    });
    jQuery('[id="other[remarks][layout2]"]').on('change', function () {
        // Save option value in textarea
        var jElement = jQuery('[id="other[remarks2][content]"]');
        jQuery('[id="other[remarks2][layout]"]').val(jQuery('[id="other[remarks][layout2]"]').val());
        // If agent can edit enable textarea
        if (jQuery(this).find('option:selected').attr('data-editable') == "1") {
            jElement.removeAttr('readonly');
        } else {
            jElement.removeAttr('readonly').attr('readonly', true);
        }

        jElement.text( jQuery(this).find('option:selected').text() );
        jElement.val( jQuery(this).find('option:selected').text() );
    });

    jQuery('[id="other[remarks][mobile1]').on('change', function () {

        var mobile=jQuery('[id="other[remarks][mobile1]"]').is(":checked");
        var cable=jQuery('[id="other[remarks][cable1]"]').is(":checked");

        if(mobile) {
            jQuery('[id="other[remarks1][mobile]"]').val('1');
        } else {
            jQuery('[id="other[remarks1][mobile]"]').val('0');
        }
        if(mobile && cable) {
            jQuery('[id="addRemarkBtn"]').hide();
        } else {
            jQuery('[id="addRemarkBtn"]').show();
        }
        if(cable) {
            jQuery('[id="other[remarks][layout1]"]').attr('disabled', false);
            jQuery('[id="layout1label"]').attr('disabled', false);
        } else {
                jQuery('[id="other[remarks1][layout]"]').val('');
                jQuery('[id="other[remarks][layout1]"]').attr('disabled', true);
                jQuery('[id="layout1label"]').attr('disabled', true);

        }
    });

    jQuery('[id="other[remarks][cable1]').on('change', function () {
        var mobile=jQuery('[id="other[remarks][mobile1]"]').is(":checked");
        var cable=jQuery('[id="other[remarks][cable1]"]').is(":checked");
        var layout1=jQuery('[id="other[remarks][layout1]"]').val();

        if(cable) {
            jQuery('[id="other[remarks1][cable]"]').val('1');
        } else {
            jQuery('[id="other[remarks1][cable]"]').val('0');
        }
        if(mobile && cable) {
            jQuery('[id="addRemarkBtn"]').hide();
        } else {
            jQuery('[id="addRemarkBtn"]').show();
        }
        if(cable) {
            jQuery('[id="other[remarks][layout1]"]').attr('disabled', false);
            jQuery('[id="layout1label"]').attr('disabled', false);
        } else {
            jQuery('[id="other[remarks][layout1]"]').attr('disabled', true);
            jQuery('[id="layout1label"]').attr('disabled', true);
            jQuery('[id="other[remarks1][layout]"]').val('');
            jQuery('[id="other[remarks][layout1]"] option[value=""]').attr("selected", true);
            if(layout1!='')
            {
                jQuery('[id="other[remarks1][content]"]').val('');
                jQuery('[id="other[remarks1][content]"]').removeAttr('readonly');
            }
        }
    });

    jQuery('[id="other[remarks][mobile2]').on('change', function () {
        var mobile=jQuery('[id="other[remarks][mobile2]"]').is(":checked");

        if(mobile) {
            jQuery('[id="other[remarks2][mobile]"]').val('1');
        } else {
            jQuery('[id="other[remarks2][mobile]"]').val('0');
        }
        if(mobile) {
            jQuery('[id="other[remarks][layout2]"]').attr('disabled', true);
            jQuery('[id="layout2label"]').attr('disabled', true);
            jQuery('[id="other[remarks2][layout]"]').val('');
        }
    });
    jQuery('[id="other[remarks][cable2]').on('change', function () {
        var cable=jQuery('[id="other[remarks][cable2]"]').is(":checked");

        if(cable) {
            jQuery('[id="other[remarks2][cable]"]').val('1');
            jQuery('[id="other[remarks][layout2]"]').attr('disabled', false);
            jQuery('[id="layout2label"]').attr('disabled', false);
        } else {
            jQuery('[id="other[remarks2][cable]"]').val('0');
            jQuery('[id="other[remarks][layout2]"]').attr('disabled', true);
            jQuery('[id="layout2label"]').attr('disabled', true);
        }
    });

    jQuery('[id="other[remarks1][content]').keyup(function () {
        var maxLength=150;
        var length = jQuery('[id="other[remarks1][content]').val().length;
        var length = maxLength-length;
        jQuery('[id="remark1count').text(length);
    });

    jQuery('[id="other[remarks2][content]').keyup(function () {
        var maxLength=150;
        var length = jQuery('[id="other[remarks2][content]').val().length;
        var length = maxLength-length;
        jQuery('[id="remark2count').text(length);
    });

});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_order_overview.phtml -->
<script type="text/javascript">
//<![CDATA[
// Save saveOrderOverview form validation
form.saveOrderOverview = new VarienForm('saveOrderOverview', true);
//]]>

jQuery('#save-order-overview-button').on('click', function (e) {
    jQuery('#saveOverviewArea').show();

    jQuery('[id="addRemarkBtn"]').hide();
    jQuery('[id="removeRemarkBtn"]').hide();
    disableremark();
});

/**
 * Catch the scroll event and update customer's phone numbers
 */
jQuery(document).ready(function () {
    jQuery(".bs-sidebar").on('activate.bs.scrollspy', function () {
        fillOrderOverviewPhoneNumbers();
        fillOrderOverviewEmailAddress();
    });
});
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_overview_partials/package_content.phtml -->
<script>
    jQuery().ready(function() {
        if (store.get('btwState') == false) {
            jQuery('#saveOverview .total-including-tax').hide();
            jQuery('#saveOverview .total-excluding-tax').show();
        }
        else {
            jQuery('#saveOverview .total-including-tax').show();
            jQuery('#saveOverview .total-excluding-tax').hide();
        }
    });
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_overview.phtml -->
<script>
jQuery('.voicelog-terms').on('click', function (e) {
    if (!jQuery(e.target).is('label') && !jQuery(e.target).is('strong')) {
        jQuery(this).find('input.voicelog-terms-check').trigger('click');
    }
});

//<![CDATA[
// Save saveOverview form validation
form.saveOverview = new VarienForm('saveOverview', true);
//]]>

jQuery(document).ready(function () {

    $j('.voicelog-terms-check').click(function (e) {
        toggleSelectedTerms(jQuery(e.target));
        e.stopPropagation();
    });

    jQuery('#save-overview-back-button').on('click', function () {
        jQuery('#saveOverviewArea').hide();
        jQuery('#saveOrderOverviewNextSection').removeClass('hidden');
        jQuery('#saveOrderOverviewNextSection .checkout-continue-btn').removeClass('hide');
    });
});

</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments_partials/payments_direct_debit_reuse.phtml -->
<script>
    jQuery(document).ready(function () {
        if (typeof paymet_reuse_ids !== 'undefined' && typeof paymet_reuse_known_iban !== 'undefined') {
            checkout.validateIBANRequest( jQuery('input[id="'+paymet_reuse_ids+'[direct_debit][iban][reuse]['+paymet_reuse_known_iban+']"]') );
        }
    });
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments_partials/payments_direct_debit_diff.phtml -->
<?php
    $idcookie = Mage::getSingleton('core/cookie');
    $id = $idcookie->get('paymet_debit_diff_ids');
    $idcookie->delete('paymet_debit_diff_ids');
    $checkoutDataIban = $checkoutData->getFieldValue( $id . "[direct_debit][iban][diff]" );
    $checkoutDataBank = [];
    if ($checkoutData->hasCheckoutData()) {
        $checkoutDataBank['accountNumber'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][account_number]");
        $checkoutDataBank['bankCode'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][bank_code]");
        $checkoutDataBank['creditProvider'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][credit_provider]");
        $checkoutDataBank['usage'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][usage]");
    }
?>

<script>

    jQuery(document).ready(function () {
        <?php if ($checkoutDataBank) : ?>
            <?php foreach ($checkoutDataBank as $key => $value) : ?>
                checkout.bankData['<?php echo $key ?>'] = '<?php echo $value ?>';
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if( $checkoutDataIban != "" ) { ?>
        var $ibanField = jQuery('input[id="<?php echo $id; ?>[direct_debit][iban][diff]"]');
        if( typeof( $ibanField ) != 'undefined' ) {
            checkout.validateIBANRequest($ibanField);
        }
        <?php } ?>

        <?php if( $checkoutLayout->isAvailableSection( 'payments_alternative_account_holder' ) ): ?>
            if (HAS_GOOGLE_AUTOCOMPLETE) {
                if (jQuery('[id="<?php echo $id; ?>[alternative][diff][postcode]"]').length > 0) {
                    jQuery("[id='<?php echo $id; ?>-alternative-account-holder']").googleSearchAddress({
                        zipCodeInputName: "<?php echo $id; ?>[alternative][diff][postcode]",
                        cityInputName: "<?php echo $id; ?>[alternative][diff][city]",
                        streetInputName: "<?php echo $id; ?>[alternative][diff][street]",
                        houseNumberInputName: "<?php echo $id; ?>[alternative][diff][houseno]",
                        houseNumberAddition: "<?php echo $id; ?>[alternative][diff][addition]",
                        customContainerStyle: {
                            bottom : '0'
                        }
                    });
                }
            }
        <?php endif; ?>
    });
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/steps/save_payments_partials/payments_direct_debit_new.phtml -->
<?php
    $idcookie = Mage::getSingleton('core/cookie');
    $id = $idcookie->get('paymet_debit_new_ids');
    $idcookie->delete('paymet_debit_new_ids');
    $checkoutDataIban = $checkoutData->getFieldValue( $id . "[direct_debit][iban][new]" );
    $checkoutDataBank = [];
    if ($checkoutData->hasCheckoutData()) {
        $checkoutDataBank['accountNumber'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][account_number]");
        $checkoutDataBank['bankCode'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][bank_code]");
        $checkoutDataBank['creditProvider'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][credit_provider]");
        $checkoutDataBank['usage'] = $checkoutData->getFieldValue("[" . $checkoutDataIban . "][usage]");
    }
?>
<script>
    jQuery(document).ready(function () {
        <?php if ($checkoutDataBank) : ?>
            <?php foreach ($checkoutDataBank as $key => $value) : ?>
                checkout.bankData['<?php echo $key ?>'] = '<?php echo $value ?>';
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if( $checkoutDataIban != "" ) { ?>
        var $ibanField = jQuery('input[id="<?php echo $id; ?>[direct_debit][iban][new]"]');
        if( typeof( $ibanField ) != 'undefined' ) {
            checkout.validateIBANRequest($ibanField);
        }
        <?php } ?>

        <?php if( $checkoutLayout->isAvailableSection( 'payments_alternative_account_holder' ) ): ?>
            if (HAS_GOOGLE_AUTOCOMPLETE) {
                if (jQuery('[id="<?php echo $id; ?>[alternative][postcode]"]').length > 0) {
                    jQuery("[id='<?php echo $id; ?>-alternative-account-holder']").googleSearchAddress({
                        zipCodeInputName: "<?php echo $id; ?>[alternative][postcode]",
                        cityInputName: "<?php echo $id; ?>[alternative][city]",
                        streetInputName: "<?php echo $id; ?>[alternative][street]",
                        houseNumberInputName: "<?php echo $id; ?>[alternative][houseno]",
                        houseNumberAddition: "<?php echo $id; ?>[alternative][addition]",
                        customContainerStyle: {
                            bottom : '0'
                        }
                    });
                }
            }
        <?php endif; ?>
    });
</script>
