<!-- Scripts for app/design/frontend/omnius/default/template/checkout/cart/orders.phtml -->
<script>
	<?php if(!($this->getOrderStatus() && ($this->getOrderStatus() != ''))): ?>
    var checkout = new Checkout('<?php echo Mage::app()->getWebsite()->getCode(); ?>',false);
    checkout.baseURL = '<?php echo Mage::getBaseUrl(); ?>';
    <?php endif; ?>
    Mage.Cookies.set('showOrderInfo', 'yes');
</script>
<?php // enable on click event only if this template is retuned in an ajax call (order status is passed through) - (existing behaviour in checkout.js)
    if ($this->getOrderStatus() && ($this->getOrderStatus() != '')): ?>
        <script>
            /** Scroll to specific checkout section on click on the left menu items */
            jQuery('#customer-search-results').on('click','.bs-sidenav li',function (e) {
                e.preventDefault();
                jQuery('#customer-search-results'+' '+'.bs-sidenav li').removeClass('active');
                jQuery(this).addClass('active');
                var elem = jQuery(this).find('a').attr('href'),
                    container = jQuery('#cart-content'),
                    scrollTo = jQuery(elem);
                if (scrollTo.length) {
                    container.animate({
                        scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop() + 5
                    });
                }
            });
        </script>
<?php endif;
?>