<?php
    /** @var $this Dyna_Checkout_Block_Cart */
    $checkoutHelper     = $this->getCheckoutHelper();
    $quote              = $this->getQuote();
    $customerSession    = Mage::getSingleton('dyna_customer/session');

    $changeProviderEnabled = ($this->hasCableOrFixedTypePackage() && (!$this->hasCable() || $this->getHasServiceCategory())) ? true : false;

    // Setting up the layout
    /** @var $checkoutLayout Dyna_Checkout_Helper_Layout */
    $checkoutLayout = Mage::helper("dyna_checkout/layout");
    $checkoutLayout->setupFormLayout();
?>
<script>
    var vueCheckoutContainers = {};
    function vueAddContainer( vueContainerId, vueContainerShow ) {
        vueCheckoutContainers[vueContainerId] = vueContainerShow;
    }
</script>
<div class="clearfix" id="cart">
        <div id="checkout-wrapper" data-app="data-app">

            <!-- breadcrumbs will be display using customerDe.js javascript -->
            <div id="breadcrumb-custom" class="breadcrumb-custom" style="text-align: left;"></div>
            <div id="cart-content" class="checkout-inner">

                <?php echo $this->getChildHtml('save_customer'); ?>
                <?php echo $this->getChildHtml('save_change_provider'); ?>
                <?php echo $this->getChildHtml('save_delivery_address'); ?>
                <?php echo $this->getChildHtml('save_payments'); ?>
                <?php echo $this->getChildHtml('save_overview'); ?>
                <?php echo $this->getChildHtml('save_voicelog'); ?>
                <?php echo $this->getChildHtml('order_confirmation'); ?>

            </div>
    </div>
</div>
