<?php
$checkoutHelper = Mage::helper('vznl_checkout');
?>
<div class="modal new-style-modal fade" id="packageNotesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel"><?php echo $this->__('Note on %s'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block"></div>
                <form id="addNoteOnPackage" role="form">
                    <div class="form-group label-floating is-empty note-area">
                        <textarea class="form-control initial-height required-entry" maxlength="150" placeholder="<?php echo $this->__('Add your note'); ?>" rows="5"></textarea>
                        <span class="characters-left">150</span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p><img src="<?php echo $this->getSkinUrl('images/black-check.png'); ?>" alt=""/></p>
                        <p><?php echo $this->__('Completed'); ?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal"><?php echo $this->__('Cancel'); ?></button>
                <button type="button"
                        class="btn btn-default pull-right note-field-btn hidden"><?php echo $this->__('Post note'); ?></button>
                <button type="button" class="btn btn-default pull-right post-note-btn hidden" data-dismiss="modal"
                        onclick="customerDe.postNoteOnPackage(this,0)"><?php echo $this->__('Save note'); ?></button>
                <button type="button"
                        class="btn btn-default pull-right edit-note-btn hidden"><?php echo $this->__('Edit note'); ?></button>
                <button type="button" class="btn btn-default pull-right save-note-btn hidden" data-dismiss="modal"
                        onclick="customerDe.editNoteOnPackage()"><?php echo $this->__('Save note'); ?></button>
            </div>
        </div>
    </div>
</div>


<div class="modal new-style-modal fade" id="connectManuallyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel"><?php echo $checkoutHelper->__('Connect manually'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block"></div>
                <div id="addManualDetails" role="form" class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <div class="input-wrapper select-wrapper">
                                <label class="control-label"><?php echo $checkoutHelper->__('Reason connect manually'); ?></label>
                                <select class="form-control">
                                    <?php
                                    $reasons = Mage::helper('vznl_checkout/reason')->getManualActivationForDropdown();
                                    foreach ($reasons as $reason) { ?>
                                        <option data-remark="<?php echo $reason['remark'] ? 1 : 0; ?>"
                                                value="<?php echo $reason['key'] ?>"><?php echo $reason['value'] ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 hidden">
                        <div class="form-group label-floating">
                            <div class="input-wrapper">
                                <label class="control-label validate-sim"><?php echo $checkoutHelper->__('Simcard number'); ?></label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 hidden connect-manually-note">
                        <div class="form-group label-floating note-area">
                            <label class="control-label"></label>
                            <textarea class="form-control initial-height required-entry" maxlength="150"
                                    placeholder="<?php echo $checkoutHelper->__('Add note'); ?>" rows="5"></textarea>
                            <span class="characters-left">150</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                    <button type="button" class="btn btn-secondary do-not-btn" data-dismiss="modal"
                            onclick="updateConnectManuallyDet(this)"><?php echo $checkoutHelper->__('Close'); ?>
                    </button>
                    <button type="button" class="btn btn-default save-manual-btn" onclick="updateConnectManuallyDet(this)">
                        <?php echo $checkoutHelper->__('Apply'); ?>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  jQuery(document).ready(function () {
    jQuery('#addNoteOnPackage').find('textarea').keyup(function (e) {
      window.customerDe.checkNoteCharactersLeft(this, '#addNoteOnPackage', 150, e);
    });
    jQuery('#connectManuallyModal').find('textarea').keyup(function (e) {
      window.customerDe.checkNoteCharactersLeft(this, '#connectManuallyModal', 150, e);
    });
    jQuery('.edit-note-btn').click(function () {
      var noteId = jQuery(this).attr('data-note-id');
      window.customerDe.getNoteOnPackage(this, noteId);
    });
  });
  jQuery('#addManualDetails input').on('blur change', function (e) {
    var $ = jQuery;
    if ($(this).val() == "") {
      $(this).attr('data-original-title', Translator.translate('Please enter the sim card')).tooltip();
      $(this).parent().parent().addClass("error");
    }
    else {
      var reg = /^893[\d]{16}$/;
      if (!reg.test($(this).val())) {
        $(this).attr('data-original-title', Translator.translate('Invalid simcard number')).tooltip();
        $(this).parent().parent().addClass("error");
      } else {
        $(this).attr('data-original-title','');
        $(this).parent().parent().removeClass("error");
      }
    }
  });

  jQuery('#addManualDetails select').on('blur change', function (e) {
    var $ = jQuery;
    if (!$(this).val()) {
      $(this).attr('data-original-title', Translator.translate('Please select the reason')).tooltip();
      $(this).parent().parent().addClass("error");
    }
    else {
      $(this).attr('data-original-title','');
      $(this).parent().parent().removeClass("error");
    }
  });
  jQuery('.select-wrapper').initSelectElement();
</script>
