<?php
$customerSession = Mage::getSingleton('customer/session');
?>

<!-- FIXED START -->
<script id="customer-screen-fixed-product" type="text/x-handlebars-template">
    <div id="fn-product-{{customer_number}}-{{@index}}-contract-information" class="product-details-content-container collapse">
        <div class="product-details-header row  col-sm-12 clearfix">
            <div data-tab="general" class="details-item active tab-title col-lg-2 col-sm-6 col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("General") ?>
            </div>

            {{#if this.products}}
            <div data-tab="subscriptions" class="details-item tab-title col-lg-3 col-md-4 col-sm-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Tariff") ?>
            </div>
            {{/if}}

            {{#if options}}
            <div data-tab="options" class="details-item tab-title col-lg-2 col-sm-6 col-md-4 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Options") ?>
            </div>
            {{/if}}

            {{#if devices}}
            <div data-tab="hardware" class="details-item tab-title col-lg-3 col-sm-6 col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Hardware") ?>
            </div>
            {{/if}}

            {{#if discounts}}
            <div data-tab="benefits" class="details-item tab-title col-lg-2 col-sm-12 col-md-6 clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Benefits") ?>
            </div>
            {{/if}}
        </div>

        <!-- tab contents general-->
        <div class="product-details-content tab-details general col-md-12  col-sm-12 clearfix row">
            <div class="row row-flex">
                <div class="col-lg-8 col-sm-12 clearfix col-md-12 same-height-col general-content">
                    <div class="info-title"><?php echo $this->__("Bundle Eligible"); ?>:
                    </div>
                    <div class="info-description">
                        {{#if bundle_eligible}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    <div class="info-title"><?php echo $this->__("Part of Bundle"); ?>:
                    </div>
                    <div class="info-description">
                        {{#if part_of_bundle}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    {{#if service_address}}
                    <div class="info-title"><?php echo $this->__("Service Address"); ?>:
                    </div>
                    <div class="info-description">
                        {{service_address.street}} {{service_address.house_number}} {{service_address.house_addition}},
                        {{service_address.postcode}} {{service_address.city}}
                        {{service_address.district}} {{service_address.country.Name}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                    {{/if}}
                </div>

                <div class="col-lg-4 col-sm-12 clearfix products-buttons-container col-md-12 same-height-col">
                    {{#if this.subscriptions.0.disableButtons.perform_serviceability.enabled}}
                    {{setVariable 'disabled-mandatory' 'buttonsVisible'}}
                    {{setVariable true 'showAlertDisabledBtns'}}
                    {{else}}
                    {{setVariable '' 'buttonsVisible' }}
                    {{setVariable false 'showAlertDisabledBtns'}}
                    {{/if}}
                    <?php if ($customerSession->getAgent()->isGranted(array('CHANGE_TO_DSL_BASE'))) : ?>
                        <div class="ten-px-delimiter">
                            <div class="btn-block">
                                <button type="button"
                                        class="btn btn-block btn-primary loading-search pos-relative button-requires-serviceability ellipsis-overflow {{buttonsVisible}}
                                        {{#if this.subscriptions.0.disableButtons.modify_package.class}} disabled {{else}}{{#if tariff.name }}{{tariff.name}}{{else}} disabled {{/if}}{{/if}}"
                                        data-customer-id="{{this.customer_number}}"
                                        data-service-line-id="{{this.service_line_id}}"
                                        data-skus="{{this.mapped_skus}}"
                                        data-tariff="{{this.tariff.sku}}"
                                        data-socs="{{this.mapped_socs}}"
                                        data-package-type="{{this.subscriptions.0.package_type}}"
                                        data-package-creation-type="{{this.subscriptions.0.package_creation_type}}"
                                        data-ctn="{{this.subscriptions.0.ctn}}"
                                        data-button="modify_package"
                                        data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_FN; ?>"
                                        data-contract-end-date="{{this.subscriptions.0.contract_end_date}}"
                                        data-bundle-product-ids="{{this.bundle_product_ids}}"
                                        onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                        title="<?php echo $this->__('Modify Package'); ?>">
                                    <?php echo $this->__('Modify Package'); ?>
                                </button>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($customerSession->getAgent()->isGranted(array('MIGRATION_DSL_TO_CABLE'))) : ?>
                        <div class="ten-px-delimiter">
                            <div class="btn-block">
                                <button type="button"
                                        class="btn btn-block btn-info-grey loading-search pos-relative button-requires-serviceability ellipsis-overflow {{buttonsVisible}}
                                        {{#if this.subscriptions.0.disableButtons.change_service.class}} disabled {{/if}}"
                                        data-id="{{service_address.address_id}}" data-street="{{service_address.street}}"
                                        data-building-nr="{{service_address.house_number}}"
                                        data-postalcode="{{service_address.postcode}}"
                                        data-city-name="{{service_address.city}}"
                                        data-house-addition="{{service_address.house_addition}}"
                                        data-component-ctn="{{this.ctn}}"
                                        data-tasi="{{this.service_line_id}}"
                                        data-customer-number="{{this.customer_number}}"
                                        data-my-products-check="true"
                                        data-button="change_service"
                                        data-package-creation-type = "{{this.subscriptions.0.package_creation_type}}"
                                        data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_FN; ?>"
                                        {{#ifCond this.subscriptions.0.disableButtons.change_service.class "!=" true}}
                                            onclick="customerSection.migrateToCable(this, '{{tariff.name}}', '{{customer_number}},{{this.service_line_id}}', {{this.part_of_bundle}})"
                                        {{/ifCond}}
                                        title="<?php echo $this->__('Change Service'); ?>">
                                    <?php echo $this->__('Change Service'); ?>
                                </button>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        {{#if tariff.name}}
            {{#if this.subscriptions.0.disableButtonsMessages }}
                <div class='col-lg-12 col-sm-12 clearfix eligibility-check alert-warning alert-disable-buttons general tab-details'>
                    <div class="warning-message col-xl-12 col-lg-8 col-md-12 col-sm-12">
                        <div class="notification-circle-icon"> </div>
                        {{#each this.subscriptions.0.disableButtons }}
                            {{#if this.message }}
                            <div class="notif-msg">{{this.message}}</div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <div class="col-lg-12 col-sm-12  clearfix eligibility-check alert-warning alert-disable-buttons general tab-details {{#if showAlertDisabledBtns}} {{else}} hidden {{/if}}"
                     data-serialized-key="{{this.subscriptions.0.disableButtons.perform_serviceability.serviceAddressID}}"
                     data-customer-number="{{customer_number}}">
                    <div class="warning-message col-xl-9 col-lg-8 col-md-12 col-sm-12">
                        <div class="notification-circle-icon"> </div>
                        <div class="notif-msg"><?php echo $this->__("Perform serviceability check before changing package"); ?></div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-4">
                        <button type="button"
                                class="btn btn-block loading-search pos-relative eligibility-btn renewal-check-button ellipsis-overflow"
                                data-id="{{this.service_address.address_id}}"
                                data-street="{{this.service_address.street}}"
                                data-building-nr="{{this.service_address.house_number}}"
                                data-postalcode="{{this.service_address.postcode}}"
                                data-city-name="{{this.service_address.city}}"
                                data-house-addition="{{this.service_address.house_addition}}"
                                data-my-products-check="true"
                                data-component-ctn="{{this.subscriptions.0.ctn}}"
                                data-tasi="{{this.subscriptions.0.service_line_id}}"
                                data-customer-number="{{this.customer_number}}"
                                data-fn-address="true"
                                data-fn-stack="true"
                                onclick="customerSection.performCheckServiceEligibility(this)"
                                title="<?php echo $this->__('Serviceability Check'); ?>">
                            <?php echo $this->__('Serviceability Check'); ?>
                    </div>
                </div>
            {{/if}}
        {{/if}}

        <!--END  tab contents general-->

        <!-- tab contents subscriptions-->
        <div class="product-details-content tab-details subscriptions col-md-12 col-sm-12 clearfix row hide">
            {{#if this.products}}
                {{#each products}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{category_name}}
                    </div>
                    <div class="expandable-info">
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8  product-details">
                                <div class="product-name">
                                    {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start"); ?>:
                                        {{#if ../tariff.start_date}}
                                            {{formatDate ../tariff.start_date 'DD.MM.YYYY' 'N/A'}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}} -
                                        <?php echo $this->__("Active until") ?>:
                                        {{#if ../tariff.end_date}}
                                            {{formatDate ../tariff.end_date 'DD.MM.YYYY'}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8">
                                {{#if maf}}
                                    {{maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                {{/if}}
                            </div>
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12  tab-content reduced">
                            <div class="col-lg-6 col-md-12 col-sm-12 ">
                                <div class="info-title"><?php echo $this->__("Portfolio"); ?>:</div>
                                <div class="info-description">
                                    {{#if product_version}}
                                        {{product_version}}
                                    {{else}}
                                        <?php echo $this->__("N/A"); ?>
                                    {{/if}}
                                </div>
                                <div class="margin-bottom-20"></div>

                                <div class="info-title"><?php echo $this->__("To cancel up"); ?>:</div>
                                <div class="info-description">
                                    {{#if ../tariff.termination_to}}
                                    {{formatDate ../tariff.termination_to 'DD.MM.YYYY'}}
                                    {{else}}
                                    <?php echo $this->__("N/A"); ?>
                                    {{/if}}
                                </div>
                                <div class="row clearfix col-md-12 col-sm-12  margin-bottom-20"></div>

                                <div class="info-title"><?php echo $this->__("Terminated for"); ?>:</div>
                                <div class="info-description">
                                    {{#if contract_end_date}}
                                        {{formatDate contract_end_date 'DD.MM.YYYY'}}
                                    {{else}}
                                        <?php echo $this->__("N/A"); ?>
                                    {{/if}}
                                </div>
                                <div class="row clearfix col-md-12 col-sm-12  margin-bottom-20"></div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 ">
                                <div class="info-title"><?php echo $this->__("Connection number"); ?>:</div>
                                <div class="info-description">
                                    {{#if ../tariff.phone_numbers}}
                                        {{#each ../tariff.phone_numbers}}
                                            {{this}}<br/>
                                        {{/each}}
                                    {{else}}
                                        s <?php echo $this->__("N/A"); ?>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
        <!-- END tab contents subscriptions-->

        <!-- tab contents hardware-->
        <div class="product-details-content tab-details hardware col-md-12 col-sm-12 clearfix row hide">
            {{#if devices}}
                {{#each devices}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>
                    {{#each this}}
                        <div class="expandable-info">
                            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8  product-details">
                                    <div class="product-name">
                                        {{#if device_name}} {{device_name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                        <div class="product-phone-number">
                                            <?php echo $this->__("Hardware type"); ?>:
                                            {{#if device_type}}
                                                {{device_type}}
                                            {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                            {{/if}} -
                                            <?php echo $this->__("Article Number") ?>:
                                            {{#if device_code}}
                                                {{device_code}}
                                            {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8">
                                    {{#if maf}}
                                        {{maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                    {{/if}}
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                    <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12  tab-content reduced">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="info-title"><?php echo $this->__("Delivery Date"); ?>:</div>
                                    <div class="info-description">
                                        {{#if device_delivery_date}}
                                            {{formatDate device_delivery_date 'DD.MM.YYYY'}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                    <div class="row clearfix col-md-12 col-sm-12  margin-bottom-20"></div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No hardware configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>

        <!-- tab contents options-->
        <div class="product-details-content tab-details options col-md-12 col-sm-12 clearfix row hide">
            {{#if options}}
                {{#each options}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>
                    {{#each this}}
                        <div class="expandable-info">
                            <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8  product-details">
                                    <div class="product-name">
                                        {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                        <div class="product-phone-number">
                                            <?php echo $this->__("Contract start"); ?>:
                                            {{#if start_date}}
                                                {{formatDate start_date 'DD.MM.YYYY'}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}} -
                                            <?php echo $this->__("Active until") ?>:
                                            {{#if end_date}}
                                                {{formatDate end_date 'DD.MM.YYYY'}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8">
                                    {{#if maf}}
                                        {{maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                    {{/if}}
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                    <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12  tab-content reduced">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="info-title"><?php echo $this->__("To cancel up"); ?>:
                                    </div>
                                    <div class="info-description">
                                        {{#if termination_to}}
                                            {{formatDate termination_to 'DD.MM.YYYY'}}
                                        {{else}}
                                            <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No options configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>


        <!-- tab contents discounts-->
        <div class="product-details-content tab-details benefits col-md-12 col-sm-12 clearfix row hide">
            {{#if discounts}}
                {{#each discounts}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>

                    {{#each this}}
                        <div class="expandable-info">
                            <div class="col-md-12 col-sm-12 products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                                <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8  product-details">
                                    <div class="product-name">
                                        {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                                    {{#if maf}}
                                        {{maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                    {{/if}}
                                </div>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 ">
                                    <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12  tab-content reduced">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="info-title"><?php echo $this->__("Condition"); ?>
                                    </div>
                                    <div class="info-description">
                                        {{#if sku}} {{sku}} {{else}} <?php echo $this->__("N/A"); ?>{{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No discounts configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("customer-screen-fixed-product", jQuery("#customer-screen-fixed-product").html());
</script>
