<!-- MOBILE START -->
<script id="customer-screen-mobile-product" type="text/x-handlebars-template">
    <?php $customerSession = Mage::getSingleton('customer/session'); ?>

    <div class="product-details-content-container col-sm-12 clearfix">
        <div class="product-details-header row  col-sm-12 clearfix">
            <div data-tab="general"
                 class="details-item first-tab tab-title active col-md-3 col-sm-6  clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("General") ?>
            </div>

            {{#if tariff}}
            <div data-tab="subscriptions" class="details-item tab-title col-md-3 col-sm-6  clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Tariff") ?>
            </div>
            {{/if}}

            {{#compare this.contract_type
            '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}

            {{#if options}}
            <div data-tab="options" class="details-item tab-title col-md-3 col-sm-6  clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Options") ?>
            </div>
            {{/if}}

            {{#if discounts}}
            <div data-tab="benefits" class="details-item tab-title col-md-3 col-sm-6  clearfix"
                 onclick="customerSection.toggleProductTabDetails(this)">
                <?php echo $this->__("Benefits") ?>
            </div>
            {{/if}}
            {{/compare}}
        </div>

        <!-- tab contents general-->
        <div class="product-details-content tab-details general col-md-12  col-sm-12 clearfix row">
            <div class="row row-flex">
                <div class="col-lg-8 col-sm-12 clearfix col-md-12 same-height-col general-content col">
                    <div class="info-title"><?php echo $this->__("Bundle Eligible"); ?>:</div>
                    <div class="info-description">
                        {{#if bundle_eligible}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    <div class="info-title"><?php echo $this->__("Part of Bundle"); ?>:</div>
                    <div class="info-description">
                        {{#if part_of_bundle}}
                        <?php echo $this->__("Yes"); ?>
                        {{else}}
                        <?php echo $this->__("No"); ?>
                        {{/if}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    {{#compare this.contract_type '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}
                    <div class="info-title"><?php echo $this->__("Part of Family Group"); ?>:</div>
                    {{#if sharing_group_details}}
                    <div class="info-description">
                        {{#ifCond sharing_group_details.member_type '==' '<?php echo Dyna_Customer_Helper_Customer::SUBSCRIPTION_TYPE_OWNER ?>'}}
                        <?php echo $this->__("Owner") ?>
                        {{else}}
                        <?php echo $this->__("Member") ?>
                        {{/ifCond}}
                        ,{{sharing_group_details.number_of_members}} <?php echo $this->__("members")?></div>
                    <div class="info-description"><?php echo $this->__("Start date")?>: {{formatDate sharing_group_details.effective_date 'DD.MM.YYYY'}}</div>
                    <div class="info-description"><?php echo $this->__("Expiry Date")?>: {{formatDate sharing_group_details.group_expiration_date 'DD.MM.YYYY'}}</div>
                    <div class="info-description"><?php echo $this->__("In RED + group since")?>: {{formatDate sharing_group_details.effective_date 'DD.MM.YYYY'}}</div>
                    {{/if}}
                    {{/compare}}
                    <div class="row clearfix margin-bottom-10"></div>

                    <div class="info-title"><?php echo $this->__("Initial Activation Date") ?></div>
                    <div class="info-description">
                        {{formatDate contract_activation_date 'DD.MM.YYYY'}}
                    </div>

                    {{#compare this.contract_type
                    '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}
                    <div class="row clearfix margin-bottom-10"></div>
                    <div class="info-title"><?php echo $this->__("Termination") ?></div>
                    <div class="info-description">
                        <?php echo $this->__("Nearest date of termination") ?>:
                        {{formatDate contract_possible_cancellation_date 'DD.MM.YYYY'}}
                    </div>
                    <div class="info-description">
                        <?php echo $this->__("Latest date of termination") ?>:
                        {{formatDate contract_last_notification_date 'DD.MM.YYYY'}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    <div class="info-title"><?php echo $this->__("Acquisition") ?></div>
                    <div class="info-description">
                        <?php echo $this->__("Last purchase") ?>:
                        {{formatDate last_subsidy_date 'DD.MM.YYYY'}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>

                    {{#if user_address.city}}
                    <div class="info-title"><?php echo $this->__("User address"); ?>:</div>
                    <div class="info-description">
                        {{user_address.street}} {{user_address.house_number}} {{service_address.house_addition}},
                        {{user_address.postcode}} {{user_address.city}}
                        {{user_address.district}} {{user_address.country.Name}}
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                    {{/if}}
                    {{/compare}}

                </div>
                <div class="col-lg-4 col-sm-12 clearfix prolongation-popover products-buttons-container col-md-12 same-height-col col">
                    {{#compare this.contract_type
                    '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_PREPAID; ?>' operator="=="}}
                    <div class="ten-px-delimiter">
                        <?php if ($customerSession->getAgent()->isGranted(array('DEBIT_TO_CREDIT'))) : ?>
                        <div class="btn-block">
                            <button type="button"
                                    class="btn btn-block btn-primary loading-search pos-relative ellipsis-overflow {{#if this.disableButtons.pre_post.class}} disabled {{/if}}"
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="mobile"
                                    data-ctn="{{this.ctn}}"
                                    data-button="pre_post"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>')"
                                    title="<?php echo $this->__('Change to Postpaid'); ?>">
                                <?php echo $this->__('Change to Postpaid'); ?>
                            </button>
                        </div>
                        <?php endif; ?>
                        <?php if ($customerSession->getAgent()->isGranted(array('DEBIT_TO_CREDIT'))) : ?>
                        <div class="btn-block">
                            <button type="button"
                                    class="btn btn-block btn-primary loading-search pos-relative ellipsis-overflow {{#if this.disableButtons.convert_to_member.class}} disabled {{/if}}"
                                    data-customer-id="{{this.customer_number}}"
                                    data-service-line-id="{{this.service_line_id}}"
                                    data-skus="{{this.mapped_skus}}"
                                    data-socs="{{this.mapped_socs}}"
                                    data-all-socs="{{this.all_socs}}"
                                    data-package-type="mobile"
                                    data-ctn="{{this.ctn}}"
                                    data-customer-number="{{ customer_number }}"
                                    data-product-id="{{ product_id }}"
                                    data-redplus-related-product="{{ tariff.sku }}"
                                    data-bundle-id="{{ this.redplus_bundle_id }}"
                                    data-tariff="{{this.tariff.sku}}"
                                    data-convert-to-member="1"
                                    data-button="convert_to_member"
                                    data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                    onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>')"
                                    title="<?php echo $this->__('Convert to Member'); ?>">
                                <?php echo $this->__('Convert to Member'); ?>
                            </button>
                        </div>
                        <?php endif; ?>
                    </div>
                    {{/compare}}
                    {{#compare this.contract_type
                    '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}
                    <!--check if we need to disable the ILS buttons-->
                    <?php if ($customerSession->getAgent()->isGranted(array('CHANGE_TO_MOB_BASE'))) : ?>
                        <div class="ten-px-delimiter">
                            <div class="dropdown btn-block"
                                 data-icon-collapse="true"
                                 data-collapse-class="vfde-unfold-less"
                                 data-expand-class="vfde-unfold-more">
                                <button type="button"
                                        onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                        class="btn btn-block btn-primary pos-relative ellipsis-overflow {{buttonsVisible}} {{#if this.disableButtons.modify_package.class}} disabled {{else}}{{#if tariff.name }}{{tariff.name}}{{else}} disabled {{/if}}{{/if}}"
                                        data-customer-id="{{this.customer_number}}"
                                        data-service-line-id="{{this.service_line_id}}"
                                        data-skus="{{this.mapped_skus}}"
                                        data-tariff="{{this.tariff.sku}}"
                                        data-all-socs="{{this.all_socs}}"
                                        data-socs="{{this.mapped_socs}}"
                                        data-package-type="{{this.package_type}}"
                                        data-ctn="{{this.ctn}}"
                                        data-redplus-role="{{this.sharing_group_details.member_type}}"
                                        data-button="modify_package"
                                        data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                        data-bundle-product-ids="{{this.bundle_product_ids}}"
                                        title="<?php echo $this->__('Modify Package'); ?>">
                                    <?php echo $this->__('Modify Package'); ?>
                                </button>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php if ($customerSession->getAgent()->isGranted(array('CHANGE_TO_MOB_BASE'))) : ?>
                        <!-- RedPlus prolongation -->
                        {{#ifCond this.ib_package_exists "!=" true}}
                        {{#ifCond this.sharing_group_details '==' null}}
                        <!-- Convert to member from postpaid-->
                        <div class="ten-px-delimiter">
                            <div class="dropdown btn-block"
                                 data-icon-collapse="true"
                                 data-collapse-class="vfde-unfold-less"
                                 data-expand-class="vfde-unfold-more">
                                <button type="button" class="convert-to-member-button btn btn-block btn-info-grey dropdown-toggle pos-relative ellipsis-overflow {{#if this.disableButtons.convert_to_member.class}} disabled disabled-mandatory{{/if}}"
                                        data-customer-id="{{this.customer_number}}"
                                        data-service-line-id="{{this.service_line_id}}"
                                        data-skus="{{this.mapped_skus}}"
                                        data-socs="{{this.mapped_socs}}"
                                        data-all-socs="{{this.all_socs}}"
                                        data-package-type="mobile"
                                        data-ctn="{{this.ctn}}"
                                        data-customer-number="{{ customer_number }}"
                                        data-product-id="{{ product_id }}"
                                        data-redplus-related-product="{{ tariff.sku }}"
                                        data-bundle-id="{{ this.redplus_bundle_id }}"
                                        data-tariff="{{this.tariff.sku}}"
                                        data-convert-to-member="1"
                                        data-button="convert_to_member"
                                        data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                        onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                        title="<?php echo $this->__('Convert to Member'); ?>">
                                    <?php echo $this->__('Convert to Member'); ?>
                                    <span class="vfde-unfold-more dropdown-changeable-icon hidden"></span>
                                </button>
                                <ul class="dropdown-menu hidden">
                                    <!-- CONVERT TOT MEMEBER -->
                                    <li data-type="CONVERT-TO-MEMBER" >
                                        <a href="#" class="trigger"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="mobile"
                                           data-ctn="{{this.ctn}}"
                                           data-customer-number="{{ customer_number }}"
                                           data-product-id="{{ product_id }}"
                                           data-redplus-related-product="{{ tariff.sku }}"
                                           data-bundle-id="{{ this.redplus_bundle_id }}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-convert-to-member="1"
                                           data-button="convert_to_member"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::ILSBLU; ?>')"
                                           class="{{#if this.disableButtons.convert_to_member.class}} disabled {{/if}}">
                                            <?php echo $this->__('Modify to Member'); ?>
                                        </a>
                                    </li>
                                    <!--Without baseline change-->
                                    <li data-type="STD" class="hidden">
                                        <a href="#" class="trigger"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="mobile"
                                           data-ctn="{{this.ctn}}"
                                           data-customer-number="{{ customer_number }}"
                                           data-product-id="{{ product_id }}"
                                           data-redplus-related-product="{{ tariff.sku }}"
                                           data-bundle-id="{{ this.redplus_bundle_id }}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-convert-to-member="1"
                                           data-button="convert_to_member"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETNOBLU; ?>')">
                                            <?php echo $this->__('Standard Prolongation'); ?>
                                        </a>
                                    </li>
                                    <!--With baseline change-->
                                    <li data-type="ART" class="hidden">
                                        <a href="#" class="trigger"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="mobile"
                                           data-ctn="{{this.ctn}}"
                                           data-customer-number="{{ customer_number }}"
                                           data-product-id="{{ product_id }}"
                                           data-redplus-related-product="{{ tariff.sku }}"
                                           data-bundle-id="{{ this.redplus_bundle_id }}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-convert-to-member="1"
                                           data-button="convert_to_member"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETBLU; ?>')">
                                            <?php echo $this->__('Added Runtime'); ?>
                                        </a>
                                    </li>
                                    <!--Direct terminate old contract-->
                                    <li data-type="INO" class="hidden">
                                        <a href="#" class="trigger"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="mobile"
                                           data-ctn="{{this.ctn}}"
                                           data-customer-number="{{ customer_number }}"
                                           data-product-id="{{ product_id }}"
                                           data-redplus-related-product="{{ tariff.sku }}"
                                           data-bundle-id="{{ this.redplus_bundle_id }}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-convert-to-member="1"
                                           data-button="convert_to_member"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETTER; ?>')">
                                            <?php echo $this->__('Early Bird(INO)'); ?>
                                        </a>
                                    </li>
                                    <li data-type="INL" class="hidden">
                                        <a href="#" class="trigger"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="mobile"
                                           data-ctn="{{this.ctn}}"
                                           data-contract-end-date="{{this.contract_end_date}}"
                                           data-customer-number="{{ customer_number }}"
                                           data-product-id="{{ product_id }}"
                                           data-redplus-related-product="{{ tariff.sku }}"
                                           data-bundle-id="{{ this.redplus_bundle_id }}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-convert-to-member="1"
                                           data-button="convert_to_member"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETTER; ?>')">
                                            <?php echo $this->__('Early Bird(INL)'); ?>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {{/ifCond}}
                        {{/ifCond}}
                        <!-- End of RedPlus prolongation -->

                        <?php if ($customerSession->getAgent()->isGranted(array('CHANGE_TO_MOB_BASE')))  : ?>
                        <!-- this should remove older prolongation action bellow -->
                        <div class="ten-px-delimiter">
                            <div class="dropdown btn-block"
                                 data-icon-collapse="true"
                                 data-collapse-class="vfde-unfold-less"
                                 data-expand-class="vfde-unfold-more">
                                <button type="button"
                                        class="disabled prolongation-button btn btn-block btn-info-grey dropdown-toggle pos-relative ellipsis-overflow {{#if this.disableButtons.renew_package.class}} disabled {{/if}}"
                                        data-toggle="dropdown"
                                        aria-haspopup="false"
                                        aria-expanded="false"
                                        data-contract="{{customer_number}}"
                                        data-ctn="{{ctn}}"
                                        data-localareacode="{{ctn_localAreaCode}}"
                                        data-phonenumber="{{ctn_phoneNumber}}"
                                        data-button="renew_package"
                                        data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>"
                                        title="<?php echo $this->__('Renew Package'); ?>">
                                    <?php echo $this->__('Renew Package'); ?>
                                    <span class="vfde-unfold-more dropdown-changeable-icon hidden"></span>
                                </button>
                                <ul class="dropdown-menu hidden">
                                    <!--Without baseline change-->
                                    <li data-type="STD" class="hidden">
                                        <a href="#" class="trigger"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETNOBLU; ?>')"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="{{this.package_type}}"
                                           data-contract-possible-cancellation-date = "{{this.contract_possible_cancellation_date}}"
                                           data-ctn="{{this.ctn}}"
                                           data-button="renew_package"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>">
                                            <?php echo $this->__('Standard Prolongation'); ?>
                                        </a>
                                    </li>
                                    <!--With baseline change-->
                                    <li data-type="ART" class="hidden">
                                        <a href="#" class="trigger"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETBLU; ?>')"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="{{this.package_type}}"
                                           data-contract-possible-cancellation-date = "{{this.contract_possible_cancellation_date}}"
                                           data-ctn="{{this.ctn}}"
                                           data-button="renew_package"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>">
                                            <?php echo $this->__('Added Runtime'); ?>
                                        </a>
                                    </li>
                                    <!--Direct terminate old contract-->
                                    <li data-type="INO" class="hidden">
                                        <a href="#" class="trigger"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETTER; ?>')"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="{{this.package_type}}"
                                           data-contract-possible-cancellation-date = "{{this.contract_possible_cancellation_date}}"
                                           data-ctn="{{this.ctn}}"
                                           data-button="renew_package"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>">
                                            <?php echo $this->__('Early Bird(INO)'); ?>
                                        </a>
                                    </li>
                                    <li data-type="INL" class="hidden">
                                        <a href="#" class="trigger"
                                           onclick="customerSection.changePackage(this, '<?php echo Dyna_Catalog_Model_ProcessContext::RETTER; ?>')"
                                           data-customer-id="{{this.customer_number}}"
                                           data-service-line-id="{{this.service_line_id}}"
                                           data-skus="{{this.mapped_skus}}"
                                           data-tariff="{{this.tariff.sku}}"
                                           data-socs="{{this.mapped_socs}}"
                                           data-all-socs="{{this.all_socs}}"
                                           data-package-type="{{this.package_type}}"
                                           data-ctn="{{this.ctn}}"
                                           data-contract-end-date="{{this.contract_end_date}}"
                                           data-contract-possible-cancellation-date = "{{this.contract_possible_cancellation_date}}"
                                           data-button="renew_package"
                                           data-stack="<?php echo Dyna_Customer_Helper_Services::ACCOUNT_CATEGORY_KIAS; ?>">
                                            <?php echo $this->__('Early Bird(INL)'); ?>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="hide">
                                <span class="reload-icon"></span>
                                <?php echo $this->__('Check needs to be performed to retrieve available options'); ?>
                            </div>
                            <!-- modal -->
                            <div class="ils-button hidden">
                                <div class="renewal-availability-info" data-toggle="modal"
                                     data-target="#renewalDialog-{{customer_number}}-{{ctn_phoneNumber}}" onclick="jQuery('.prolongation-modal').show();" >
                                    <?php echo strtoupper($this->__("Available renewal options")); ?>
                                    <span class="white-bk-info"></span>
                                </div>
                                <div class="modal renewal" onclick="jQuery('.prolongation-modal').show();"></div>
                            </div>
                        </div>
                        <!-- modal -->
                        <?php endif; ?>
                    <?php endif; ?>
                    {{/compare}}
                    {{#ifComplex this.redplus_bundle_eligible '==' true '||' this.ib_package_exists '==' true}}
                    {{#ifComplex this.sharing_group_details '!=' null '&&' this.sharing_group_details.member_type '==' '<?php echo Dyna_Customer_Helper_Customer::SUBSCRIPTION_TYPE_OWNER ?>'}}
                    <div class="add-redplus-member-button">
                        <div class="ten-px-delimiter">
                            <input type="button"
                                class="btn btn-block btn-info-grey loading-search ellipsis-overflow add-redplus-my-products-button
                                    {{#if this.allow_add_member }}{{else}} disabled {{/if}}
                                    {{#if this.disableButtons.add_red.class}} disabled {{/if}}"
                                value="<?php echo $this->__('Add Red+ member'); ?> {{math this.sharing_group_details.number_of_members '+' this.redplus_packages_in_cart }}/<?php echo Dyna_Bundles_Model_BundleRule::DEFAULT_MAX_NUMBER_OF_MEMBERS; ?> "
                                data-sharing-group-id="{{ sharing_group_details.id }}"
                                data-customer-number="{{ customer_number }}"
                                data-product-id="{{ product_id }}"
                                data-redplus-related-product="{{ tariff.sku }}"
                                data-has-reserved-member="{{ has_reserved_member }}"
                                data-bundle-id="{{ this.redplus_bundle_id }}"
                                onclick="customerSection.addRedPlusMember(this)"
                                title="<?php echo $this->__('Add Red+ member'); ?> {{math this.sharing_group_details.number_of_members '+' this.redplus_packages_in_cart }}/<?php echo Dyna_Bundles_Model_BundleRule::DEFAULT_MAX_NUMBER_OF_MEMBERS; ?>">
                        </div>
                    </div>
                    {{/ifComplex}}
                    {{/ifComplex}}

                    {{#ifComplex this.redplus_bundle_eligible '==' true '||' this.ib_package_exists '==' true}}
                    {{#ifCond this.sharing_group_details '==' null}}
                    <div class="add-redplus-member-button">
                        <div class="ten-px-delimiter">
                            <input type="button"
                                class="btn btn-block btn-info-grey loading-search create-redplus-group
                                    {{#if this.allow_create_new_group }}{{else}} disabled {{/if}}
                                    {{#if this.disableButtons.create_red.class}} disabled {{/if}}"
                                value="{{#ifCond this.redplus_packages_in_cart '==' '0'}}<?php echo $this->__('Create Red+ Group'); ?>{{else}}<?php echo $this->__('Add Red+ member'); ?>{{/ifCond}} {{#ifCond this.redplus_packages_in_cart '>' '0'}}{{ this.redplus_packages_in_cart }} / <?php echo Dyna_Bundles_Model_BundleRule::DEFAULT_MAX_NUMBER_OF_MEMBERS; ?> {{/ifCond}}"
                                data-customer-number="{{ customer_number }}"
                                data-product-id="{{ product_id }}"
                                data-redplus-related-product="{{ tariff.sku }}"
                                data-bundle-id="{{ this.redplus_bundle_id }}"
                                onclick="customerSection.createRedPlusGroup(this)">
                        </div>
                    </div>
                    {{/ifCond}}
                    {{/ifComplex}}
                </div>
            </div>
        </div>
            {{#if this.disableButtonsMessages}}
            <div class="col-lg-12 col-sm-12  clearfix alert-warning alert-disable-buttons general tab-details">
                <div class="warning-message col-lg-12 col-sm-12 ">
                    <div class="notification-circle-icon"> </div>
                    {{#each this.disableButtons }}
                        {{#if this.message }}
                            <div class="notif-msg">{{this.message}}</div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{else}}
                {{#compare this.contract_type
                '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}
                    <?php if ($customerSession->getAgent()->isGranted(array('PROLONGATION_CHECK')))  : ?>
                        <div class="col-lg-12 col-sm-12  clearfix alert-warning alert-disable-buttons general tab-details {{#if this.disableButtons.renew_package.class}} hidden {{/if}}">
                            <div class="warning-message col-xl-9 col-lg-8 col-md-12 col-sm-12">
                                <div class="notification-circle-icon"> </div>
                                <div class="notif-msg"><?php echo $this->__("Perform the renewal check before package renewal"); ?></div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-4">
                                <button type="button"
                                    class="renewal-check-button btn btn-block pos-relative ellipsis-overflow
                                        {{#if this.disableButtons.renew_package.class}} disabled {{/if}}"
                                    aria-haspopup="false"
                                    aria-expanded="false"
                                    data-contract="{{customer_number}}"
                                    data-ctn="{{ctn}}"
                                    data-localareacode="{{ctn_localAreaCode}}"
                                    data-phonenumber="{{ctn_phoneNumber}}"
                                    onclick="customerSection.checkProlongation(this)"
                                    title="<?php echo $this->__('Renewal Check'); ?>">
                                    <?php echo $this->__('Renewal Check'); ?>
                                </button>
                            </div>
                        </div>
                    <?php endif; ?>
                {{/compare}}
            {{/if}}

        <!-- tab contents subscriptions-->
        <div class="product-details-content tab-details subscriptions col-md-12  col-sm-12 clearfix row hide">
            <div class="col-md-12 product-details-content-title uppercase category-title">
                {{#if tariff.category_name }}
                    {{tariff.category_name}}
                {{else}}
                    <?php echo $this->__("Unknown"); ?>
                {{/if}}
            </div>

            <div class="expandable-info">
                <div class="col-md-12 col-sm-12  products-sub-package-header clearfix">
                    <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-xl-7 col-lg-6 col-md-10 col-sm-8  product-details">
                        <div class="product-name">
                            {{#if tariff.name }}{{tariff.name}} {{else}} <span class="disabled"><?php echo $this->__("Unknown"); ?></span> {{/if}}
                            <div class="product-phone-number">
                                <?php echo $this->__("Contract start"); ?>:
                                {{#if contract_start_date}}
                                {{formatDate contract_start_date 'DD.MM.YYYY'}}
                                {{else}}
                                <?php echo $this->__("N/A"); ?>
                                {{/if}} -
                                <?php echo $this->__("Active until") ?>:
                                {{#if contract_end_date}}
                                {{formatDate contract_end_date 'DD.MM.YYYY'}}
                                {{else}}
                                <?php echo $this->__("N/A"); ?>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-10 col-sm-8 ">
                        {{#if tariff.maf}}
                            {{tariff.maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                        {{/if}}
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 ">
                        <span class="info-icon" onclick="customerSection.showMoreInfo(this)"></span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12  tab-content expanded">
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <div class="info-title"><?php echo $this->__("Nearest date of termination"); ?>:
                        </div>
                        <div class="info-description">
                            {{#if contract_possible_cancellation_date}}
                                {{formatDate contract_possible_cancellation_date 'DD.MM.YYYY'}}
                            {{else}}
                                <?php echo $this->__("N/A") ?>
                            {{/if}}
                        </div>
                        <div class="row clearfix col-md-12 col-sm-12  margin-bottom-20"></div>

                        <div class="info-title"><?php echo $this->__("Contract type"); ?>:</div>
                        <div class="info-description">
                            {{#compare this.contract_type
                            '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}
                            <?php echo $this->__("Postpaid") ?>
                            {{else}}
                            <?php echo $this->__("Prepaid") ?>
                            {{/compare}}
                        </div>
                        <div class="row clearfix margin-bottom-10"></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <div class="info-title"><?php echo $this->__("Connection number"); ?>:</div>
                        <div class="info-description">
                            {{#if ctn}}
                            {{ctn}}
                            {{else}}
                            <?php echo $this->__("N/A") ?>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row clearfix margin-bottom-10"></div>
                </div>
            </div>

        </div>

        <!-- tab contents options-->
        {{#compare this.contract_type
        '<?php echo Dyna_Customer_Helper_Customer::MOBILE_CONTRACT_TYPE_POSTPAID; ?>' operator="=="}}
        <div class="product-details-content tab-details options col-md-12  col-sm-12 clearfix row hide">
            {{#if options}}
                {{#each options}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>
                    {{#each this}}
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-8 col-lg-7 col-md-5 col-sm-7  product-details">
                                <div class="product-name">
                                    {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                    <div class="product-phone-number">
                                        <?php echo $this->__("Contract start"); ?>:
                                        {{#if active_from}}
                                            {{formatDate active_from 'DD.MM.YYYY'}}
                                        {{else}}
                                            {{#if  ../../contract_start_date}}
                                                {{formatDate ../../contract_start_date 'DD.MM.YYYY'}}
                                            {{else}}
                                                <?php echo $this->__("N/A"); ?>
                                            {{/if}}
                                        {{/if}}-
                                        <?php echo $this->__("Active until") ?>:
                                        {{#if active_until}}
                                            {{formatDate active_until 'DD.MM.YYYY'}}
                                        {{else}}
                                             <?php echo $this->__("N/A"); ?>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-1">
                                {{#if maf}}
                                    {{maf}} <span class="price-lbl"><?php echo $this->__("mtl.") ?></span>
                                {{/if}}
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No options configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>

        <!-- tab contents benefits-->
        <div class="product-details-content tab-details benefits col-md-12  col-sm-12 clearfix row hide">
            {{#if discounts}}
                {{#each discounts}}
                    <div class="col-md-12 product-details-content-title uppercase category-title">
                        {{@key }}
                    </div>
                    {{#each this}}
                        <div class="col-md-12 col-sm-12  products-sub-package-header clearfix {{#ifCond this.product_visibility '==' false}}hidden{{/ifCond}}">
                            <div class="product-details-image col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-8 col-lg-8 col-md-9 col-sm-7  product-details">
                                <div class="product-name">
                                    {{#if name}} {{name}} {{else}} <span class="disabled"><?php echo $this->__("N/A"); ?></span>{{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/each}}
            {{else}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="no-content-available">
                        <p><?php echo $this->__("No discounts configured"); ?></p>
                    </div>
                </div>
            {{/if}}
        </div>
        {{/compare}}
        <!-- end tab contents benefits-->

    </div>

</script>

<div class="modal-dialog modal-md prolongation-modal">
    <div class="modal-content">
        <div class="modal-header pbs">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="jQuery('.prolongation-modal').hide();">&times;</button>
            <h4 class="modal-title"> <?php echo $this->__('Renewal Availability'); ?></h4>
        </div>
        <div class="modal-body">
            <div> <?php echo $this->__('Product has the following available renewal options'); ?>:</div>
            <div class="template-content">
                <span class="loading-search-prolongation-modal"></span>
            </div>
        </div>
        <button type="button"
                class=" btn btn-block btn-info-white btn-renewal-availability-modal-close" onclick="jQuery('.prolongation-modal').hide();">
            <?php echo $this->__('Close'); ?>
        </button>
    </div>
</div>

<script id="prolongation-check-info" type="text/x-handlebars-template">
                <ul class="list-group">
                    {{#each this}}
                    <li class="list-group-item prn pln">
                        <div class="col-sm-1 icon-container">
                            {{#ifCond this.days '==' '<?php echo Dyna_Customer_Model_Client_RetrieveCustomerCreditProfileClient::OVER_A_MONTH_AVAILABILITY ?>'}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{else}}
                            {{#compare this.type.key 'ART' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'A' operator="=="}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'STD' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'E,T' operator="inArray"}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INO' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class=lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INL' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="package-lightbulb-tooltip ">
                                <i class="lock-icon" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="package-lightbulb-tooltip">
                                <i class="verified-green" aria-hidden="true"></i>
                            </div>
                            {{/compare}}
                            {{/compare}}
                            {{/ifCond}}
                        </div>
                        <div class="pln">
                            <b>{{this.name}}</b><br/>
                            {{#ifCond this.days '==' '<?php echo Dyna_Customer_Model_Client_RetrieveCustomerCreditProfileClient::OVER_A_MONTH_AVAILABILITY ?>'}}
                            <div class="details">
                                <?php echo $this->__('Available on '); ?>{{this.endDate}}
                            </div>
                            {{else}}
                            {{#compare this.type.key 'ART' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Blocked due an upcoming future transaction'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'A' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'STD' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available on '); ?>{{this.endDate}}
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'E,T' operator="inArray"}}
                            <div class="details">
                                <?php echo $this->__('Available'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INL' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Not available'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available with Penalty costs'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}

                            {{#compare this.type.key 'INO' operator="=="}}
                            {{#compare this.status.key 'N' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Not available'); ?>
                            </div>
                            {{/compare}}
                            {{#compare this.status.key 'I' operator="=="}}
                            <div class="details">
                                <?php echo $this->__('Available with Penalty costs'); ?>
                            </div>
                            {{/compare}}
                            {{/compare}}
                            {{/ifCond}}
                        </div>
                        <div class="clearfix border-buttom"></div>
                    </li>
                    {{/each}}
                </ul>

</script>

<script type="text/javascript">
    //Register all product details partials
    Handlebars.registerPartial("customer-screen-mobile-product", jQuery("#customer-screen-mobile-product").html());
</script>
<!-- MOBILE END -->



