<!-- Search Stores Modal -->
<div class="modal bs-modal-sm" id="search-stores" data-pakket="false" tabindex="-1" role="dialog" aria-labelledby="otherAddressLabel" aria-hidden="true">
<script>
var _stores = new Array();
</script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="otherAddressLabel"><?php echo Mage::helper('omnius_checkout')->__("Find a store"); ?></h4>
            </div>
            <div class="modal-body">
                <form class="form" role="form">
                    <div class="clearfix row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="searchStore[postcode]" name="searchStore[postcode]" placeholder="<?php echo Mage::helper('omnius_checkout')->__("City"); ?>" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-default"><?php echo Mage::helper('omnius_checkout')->__("Search"); ?></button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Search address results -->
                <div id="storesFound" class="hidden">
                    <hr />
                    <table class="table table-striped">
                        <thead>
                            <tr><th><?php echo Mage::helper('omnius_checkout')->__("Nearby"); ?>:</th><th><?php echo Mage::helper('omnius_checkout')->__("Delivery status"); ?></th></tr>
                        </thead>
                        <tbody><!-- Filled with ajax --></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__("Cancel"); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="checkout.setStoreAddress()"><?php echo Mage::helper('omnius_checkout')->__("Select shop"); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Search Phone Number Modal-->
<div class="modal new-style-modal fade search-phone-number" id="search-phone-number" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo Mage::helper('vznl_checkout')->__('Select a phone number'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="loading-box"></div>
                <!-- Search numbers results -->
                <div id="numbersFound">
                    <!-- Filled with JavaScript-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="refresh_fixedextra_number" onclick="refreshNumberList();"><?php echo Mage::helper('vznl_checkout')->__('Refresh phone numbers'); ?></button>
                <button type="button" class="btn btn-inverted" data-dismiss="modal"><?php echo Mage::helper('vznl_checkout')->__('Close'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Shopping cart exceeds grand total -->
<div class="modal bs-modal-sm search-phone-number" id="grandtotal-exceeded" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo $this->__('Grand total exceeded')?></h4>
            </div>
            <div class="modal-body">
                <p><?php echo $this->__('The grand total of the shopping cart exceeded the maximum amount of &euro;10,000 for business customers')?></p>
                <p><?php echo $this->__('You can remove some packages at the configurator')?></p>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-primary"><?php echo $this->__('Back to configuration')?></a>
            </div>
        </div>
    </div>
</div>

<!--Already logged in customer confirmation modal-->
<div class="modal bs-modal-sm" id="load_customer_confirmation" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p><?php echo $this->__('The current shopping cart and possible changes will be deleted. Are you sure you want to continue?'); ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Cancel'); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="customer.loadCustomerDataOnCart(jQuery('#load_customer_confirmation').data('id'));" ><?php echo Mage::helper('omnius_checkout')->__('Confirm'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Log new customer confirmation modal-->
<div class="modal" id="new_customer_confirmation" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><?php echo $this->__('Warning')?></h4>
            </div>
            <div class="modal-body">
                <p><?php echo $this->__('The current shopping cart and possible changes will be deleted. Are you sure you want to continue?'); ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><?php echo Mage::helper('omnius_checkout')->__('Cancel'); ?></button>
                <button type="button" class="btn btn-primary pull-right" onclick="moveQuoteToNewCustomer()" ><?php echo Mage::helper('omnius_checkout')->__('Confirm'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Leave checkout deliver page confirmation modal-->
<div class="modal new-style-modal" id="checkout_deliver_confirmation" data-pakket="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->__('Warning')?></h4>
            </div>
            <div class="modal-body">
                <p>
                    <?php
                    echo $this->__('You want to leave the delivery process early. Are you sure?') . ' ';
                    echo $this->__('The order is not ready to be delivered at this time. Any porting request will not be started.') . ' ';
                    echo $this->__('Sign the contract and press the \'Proceed to Checkout\' to complete the delivery process.');
                    ?>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <?php echo Mage::helper('omnius_checkout')->__('No, continue on with the delivery process'); ?>
                </button><button type="button" class="btn" onclick="checkoutDeliveryForce(this)">
                    <?php echo Mage::helper('omnius_checkout')->__('Yes, leave the delivery process'); ?>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Order Create Confirmation -->
<?php
echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/confirm_offer_modal.phtml')->toHtml();
?>

<!--Order Create Dummy Email -->
<div class="modal new-style-modal" id="confirm-offer-email" tabindex="-1" role="dialog" aria-labelledby="confirm-offer-email-title" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirm-offer-title"><?php echo $this->__('Empty e-mail address'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="message" style="margin-top: 0px;">
                        <?php echo $this->__("Share the e-mail address you want to send the confirmation to."); ?>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><?php echo $this->__('OK') ?></button>
            </div>
        </div>
    </div>
</div>
