<?php
$isSoho = Mage::getSingleton('customer/session')->getIsSoho();
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState();
// initial state
if (is_null($isSoho) && is_null($btwSessionState)) {
    $btwState = filter_var($this->getBtwState(), FILTER_VALIDATE_BOOLEAN);
} else {
    $btwState = (bool) $isSoho;
    if ($btwSessionState == false) {
        $btwState = false;
    }
    if ($btwSessionState == true) {
        $btwState = true;
    }
}

/**
 * Shopping cart totals template
 * @var $this Omnius_Checkout_Block_Cart_Totals
 */

$isEditMode = Mage::getSingleton('checkout/session')->getIsEditMode();
$orderEdit = (int)Mage::getSingleton('customer/session')->getOrderEdit();

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

$quote = Mage::getSingleton('checkout/cart')->getQuote();
$totalDevicePriceDeduction = $quote->getTotalDevicePayment();

$sidebarCart = $this->getData('cart_sidebar');
$helper = Mage::helper('dyna_checkout');
?>
<div class="price-summary">
    <h3>
        <?php echo $this->__("Total costs"); ?>
    </h3>
    <div class="price-summary-line price-summary-header">
        <div class="price-summary-line-text"></div>
        <div class="price-summary-line-price">
            <div class="price-summary-price-upfront"><?php if (!$isIndirect): ?><?php echo $this->__('Upfront') ?><?php endif; ?></div>
            <div class="price-summary-price-monthly"><?php echo $this->__('Monthly') ?></div>
        </div>
    </div>

    <?php if ($totalDevicePriceDeduction > 0 && !$agentHelper->isIndirectStore()) : ?>
        <?php echo $this->renderTotals(null, 1, Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_CHECKOUT); ?>
        <div class="price-summary-separator-single"></div>
        <div class="price-summary-line price-summary-light expanded-summary-light">
            <div class="price-summary-line-text">
                <?php if ($sidebarCart == "no") : ?>
                    <?php echo $this->__('Deducted by monthly phone charge'); ?>
                    <?php else : ?>
                    <?php echo $this->__('Device payment deduction'); ?>
                <?php endif; ?>
            </div>
            <div class="price-summary-line-price">
                <div class="price-summary-price-upfront"><?php echo $helper->showNewFormattedPriced($totalDevicePriceDeduction * -1); ?></div>
                <div class="price-summary-price-monthly"></div>
            </div>
        </div>
        <div class="price-summary-separator-double"></div>
    <?php else: ?>
        <?php echo $this->renderTotals(); ?>
    <?php endif; ?>

    <?php echo $this->renderTotals('footer', 1, Vznl_Checkout_Block_Cart_Totals::TOTALS_TEMPLATE_CHECKOUT); ?>
</div>
