<?xml version='1.0' encoding='UTF-8'?>
<hudson.plugins.git.GitSCM_-DescriptorImpl plugin="git@3.8.0">
  <generation>1</generation>
  <globalConfigName>jenkins</globalConfigName>
  <globalConfigEmail>jenkins-no-reply@dynacommerce.com</globalConfigEmail>
  <createAccountBasedOnEmail>false</createAccountBasedOnEmail>
</hudson.plugins.git.GitSCM_-DescriptorImpl>