<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.pipeline.modeldefinition.config.GlobalConfig plugin="pipeline-model-definition@1.2.7">
  <dockerLabel></dockerLabel>
  <registry plugin="docker-commons@1.11">
    <url>{{ jenkins.docker.url }}</url>
    <credentialsId>Nexus</credentialsId>
  </registry>
</org.jenkinsci.plugins.pipeline.modeldefinition.config.GlobalConfig>
