<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */
?>
<?php if( sizeof($this->getTotals()) > 0 ): ?>
<div class="box" id="dashboard_diagram_totals">
    <div class="entry-edit">
        <table cellspacing="0" width="100%">
            <tr>
            <?php foreach( $this->getTotals() as $_total ): ?>
                <td class="a-center bold">
                    <span style="font-size:16px;"><?php echo $_total['label'] ?></span><br />
                    <span class="nowrap" style="font-size:18px;"><?php echo $_total['value'] ?><span style="font-size:14px; color:#DE8946;"><?php echo $_total['decimals'] ?></span></span>
                </td>
            <?php endforeach; ?>
            </tr>
        </table>
    </div>
</div>
<?php endif; ?>
