<div id="config-wrapper">
        <?php echo $this->getChildHtml('bundles.options.wrapper');?>
        <div id="redPlusPanelContainerIdentifier" class="redPlusPanelContainer"></div>
        <div id="linkedAccountSelectionContainer" class="linkedAccountSelection"></div>
        <div class="content"></div>
    <div class="clearfix calculateHeightLeftOver"></div>
</div>
