<?php
$creditCheckPerformed = false;
$creditCheckReferredOrMoreInfo = false;
$quote = Mage::getModel('sales/quote')->load(Mage::getSingleton('customer/session')->getOrderEdit());
$customerSession = Mage::getSingleton('customer/session');
$agent = $customerSession->getAgent(true);
$agentHasLockingAccounts = $agent->isGranted('LOCKING_ACCOUNTS');

if ($customerSession->getOrderEdit()) {
    // From this point on cache all models for faster processing, since they won't be changed
    $superOrder = Mage::getModel('superorder/superorder')->load($quote->getSuperOrderEditId());
    $creditCheckPerformed = $superOrder->creditCheckCompleted();
    $creditCheckReferredOrMoreInfo = $superOrder->creditCheckReferredOrMoreInfoNeeded();
}
if ($customerSession->getOrderEdit() && ($creditCheckPerformed || $creditCheckReferredOrMoreInfo) && $superOrder->isEditable()) {
    $orderLockInfo = Mage::getSingleton('customer/session')->getOrderLockInfo() ?: array();
    $lockData = !empty($orderLockInfo[$this->getSuperorder()->getId()]) ? $orderLockInfo[$this->getSuperorder()->getId()] : false;
    if ($lockData !== false) {
        $lockState = (isset($lockData['lock']['lock_state']) && !is_array($lockData['lock']['lock_state'])) ? $lockData['lock']['lock_state'] : '';
        $isLocked = $lockState == 'Locked';

        $sameAgent = isset($lockData['lock']['user_i_d']) && ($lockData['lock']['user_i_d'] == $lockData['currentAgent']);

        $lockedBy = !is_array($lockData['locked_by']) ? $lockData['locked_by'] : '';
    }
?>

<script>
  var orderDetails = new OrderDetails('<?php echo Mage::app()->getWebsite()->getCode(); ?>','<?php echo (int)$customerSession->getOrderEdit(); ?>');
</script>

<div class="order-lock">
    <?php if ($lockData !== false): ?>
        <div class="lock-info-content">
            <div class="pull-left">

                <?php if ($isLocked && !$sameAgent && $lockData['allow_steal'] && $agentHasLockingAccounts): ?>
                    <script>
                      orderDetails.allowLockSteal = true;
                    </script>
                <?php endif; ?>
                <?php if ($isLocked && !$sameAgent): ?>
                    <?php if ($lockData['allow_steal']): ?>
                    <script>
                      orderDetails.allowUnlock = true;
                    </script>
                <?php else: ?>
                    <script>
                      orderDetails.allowUnlock = false;
                    </script>
                <?php endif; ?>
                <?php elseif (!$isLocked || ($isLocked && $sameAgent)): ?>
                    <script>
                      orderDetails.allowUnlock = true;
                    </script>
                <?php else: ?>
                    <script>
                      orderDetails.allowUnlock = false;
                    </script>
                <?php endif; ?>
                <?php if ($isLocked && !$sameAgent && !$lockData['allow_steal']): ?>
                    <script>
                      orderDetails.allowUnlock = true;
                    </script>
                <?php endif; ?>
                <!-- Enable further, if an alert has to be shown for the current user about the take over. -->
                <?php if ($isLocked && !$sameAgent): ?>
                    <script>
                    //  orderDetails.gotStolen = true;
                    </script>
                <?php endif; ?>
                <?php $onClick = ($isLocked && !$sameAgent) ? 'orderDetails.orderLockedByAgent();' : 'orderDetails.switchOrderLock(this);' ?>
                <a 
                  id="main_lock_btn"
                  onclick="<?php echo $onClick; ?>return false;" <?php if ($superOrder->isCancelled()) { echo ' class="disabled"';} ?>
                  data-order-id="<?php echo $superOrder->getId(); ?>"
                  data-state="<?php echo Mage::getSingleton('customer/session')->getOrderEditMode() ? 'unlocked' : 'locked'; ?>"
                  data-locked-text="<?php echo $this->__('Order locked'); ?>"
                  data-unlocked-text="<?php echo $this->__('Order unlocked'); ?>"
                  data-edited="<?php echo count(array_merge(Mage::helper('dyna_checkout')->getModifiedPackages(), Mage::helper('dyna_package')->getCancelledPackagesNow())) > 0 ? 1 : 0; ?>"
                  data-trigger=""
                >
                  <?php echo Mage::getSingleton('customer/session')->getOrderEditMode() ? $this->__('Order unlocked') : $this->__('Order locked'); ?><span class="lock-icon<?php echo ($sameAgent) ? ' unlocked' : ''; ?>"></span>
                </a>
            </div>
        </div>
    <?php else: ?>
        <div class="lock-info-spinner">
            <?php echo $this->__('Loading'); ?>...
        </div>
    <?php endif; ?>
</div>
<?php if ($lockData === false): ?>
    <script>
      jQuery(document).ready(function ($) {
        var container = $('.order-lock');
        var old = window.canShowSpinner;
        window.canShowSpinner = false;
        $.ajax({
          async: true, type: 'POST', data: '', url: MAIN_URL + 'checkout/index/getLockInfo', success: function (result) {
            if (result.error == true) {
              showModalError(result.message);
            } else {
              container.replaceWith(result.html);
            }
          }
        });
        window.canShowSpinner = old;
      });
    </script>
<?php else: ?>
    <script>

    </script>
<?php endif; ?>
<?php } ?>
