<?php
/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
/**
 * @var string|int $key
 * @var array $package
 * @var boolean $showPriceWithoutBtw
 * @var boolean $isChanged
 * @var boolean $coupon
 */
extract($data);

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
/** @var Vznl_Checkout_Model_Sales_Quote $quote */
$quote = Mage::getSingleton('checkout/cart')->getQuote();

?>
<div class="coupon-section">
    <?php if (!preg_match('/\btemplate\b/', $key)): ?>
        <?php $deviceItems = array();?>
        <?php foreach ($package['items'] as $index => $item):?>
            <?php $productType = $item->getProduct()->getType(true); ?>
            <?php if (in_array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE, $productType)
                        || in_array(Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY, $productType)
                        || in_array(Omnius_Catalog_Model_Type::SUBTYPE_NONE, $productType)) :?>
                <?php $deviceItems[$index] = $item;?>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php
            $totals = Mage::helper('vznl_configurator')->getActivePackageTotals($key);
            $totals_wo_tax = Mage::helper('vznl_configurator')->getActivePackageTotals($key, false);
        ?>
        <?php
        if (Mage::getSingleton('customer/session')->getOrderEditMode()):
            $deviceItemsDiffPriceAnonymus = function ($isBusiness) use ($key, $deviceItems) {
                return Mage::helper('omnius_checkout')->getEditPackagePriceDifference($key, $deviceItems, array(Omnius_Catalog_Model_Type::SUBTYPE_DEVICE, Omnius_Catalog_Model_Type::SUBTYPE_ACCESSORY, Omnius_Catalog_Model_Type::SUBTYPE_NONE), $isBusiness);
            };
            $deviceItemsDiffPriceBusiness = $deviceItemsDiffPriceAnonymus(true);
            $deviceItemsDiffPriceNotBusiness = $deviceItemsDiffPriceAnonymus(false);
        endif;
    else :
        $totals = 0;
        $totals_wo_tax = 0;
        $deviceItemsDiffPriceAnonymus = 0;
        $deviceItemsDiffPriceBusiness = 0;
        $deviceItemsDiffPriceNotBusiness = 0;
    endif; ?>

    <?php if (Mage::getStoreConfig('omnius_general/show_coupon/coupon_enabled')): ?>
    <?php if (!$coupon) { ?>
        <div class="shoppingbag-coupon-section new-ui-elements">
            <button class="shoppingbag-product-add-coupon" onclick="enableCouponCodeField(this)"><?php echo $this->__('Add coupon') ?></button>
            <form class="coupon" role="form" onsubmit="jQuery('.cart-coupon-input').blur(); jQuery('body').focus(); return applyCouponCode(this,'.side-cart')" style="display:none">
                <div class="form-group shoppingbag-coupon-input">
                    <div class="input-wrapper">
                        <label class="add-coupon-code"><?php echo $this->__('Add coupon') ?></label>
                        <input
                            name="coupon"
                            type="text"
                            class="cart-coupon-input"
                            value="<?php echo $coupon; ?>"
                            <?php if ($coupon) echo ' disabled'; ?>
                        >
                        <button class="btn btn-primary small coupon-button-cart">
                            <span class="btn-content"><?php echo $this->__('Apply') ?></span>
                        </button>
                    </div>
                </div>
                <?php $coupon = null; ?>
            </form>
        </div>
    <?php } else { ?>
        <div class="shoppingbag-coupon-section new-ui-elements">
            <span class="remove-coupon" onclick="removeCouponCode(this,'<?php echo $coupon ?>','.side-cart')"><?php echo sprintf($this->__('Coupon added: %s'), (string)$coupon); ?></span>
        </div>
    <?php }
    endif; ?>
    <div class="shoppingbag-product-total-section">
        <span class="shoppingbag-product-total-label"><?php echo $helper->__('Total') ?></span>
        <div>
            <div class="col-sm-3 text-right one-off">
                <?php if (!$isIndirect): ?>
                    <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label">
                        &nbsp;<?php echo $helper->showNewFormattedPriced($totals['totalprice'] + $quote->getTotalDevicePayment(isset($package['package_id'])?$package['package_id']:0));?>
                    </span>
                    <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label">
                        &nbsp;<?php echo $helper->showNewFormattedPriced($totals_wo_tax['totalprice'] + $quote->getTotalDevicePayment(isset($package['package_id'])?$package['package_id']:0, false));?>
                    </span>
                <?php endif;?>
            </div>
            <div class="col-sm-3 text-right" <?php if ($isIndirect) : ?>style="left: 75%;" <?php endif; ?>>
                <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label">
                    &nbsp;<?php echo $helper->showNewFormattedPriced($totals['totalmaf']);?>
                </span>
                <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label">
                    &nbsp;<?php echo $helper->showNewFormattedPriced($totals_wo_tax['totalmaf']);?>
                </span>
            </div>
        </div>
    </div>
<?php
if (isset($package['status']) && $package['status'] == Omnius_Package_Model_Package::ESB_PACKAGE_STATUS_DELIVERED
    && Mage::getSingleton('customer/session')->getOrderEditMode() && $isChanged):

    if ($deviceItemsDiffPriceNotBusiness >= 0 || $deviceItemsDiffPriceBusiness >= 0): ?>
        <div class="row">
            <div class="col-sm-6 section">
                <span class="small-label cart-total-label red">
                    <?php echo $this->__('Payment'); ?>
                </span>
            </div>
            <div class="col-sm-3 right-align">
                <?php if (Mage::getSingleton('customer/session')->getOrderEditMode() && $isChanged):?>
                    <?php if (abs($totalSubscription  - $totals['totalmaf']) != $totals['totalmaf'] ): ?>
                        <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                            &nbsp;<?php echo $helper->showNewFormattedPriced($totals['totalmaf']);?>
                        </span>
                        <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                            &nbsp;<?php echo $helper->showNewFormattedPriced($totals_wo_tax['totalmaf']);?>
                        </span>
                    <?php endif; ?>
                <?php endif;?>
            </div>
            <div class="col-sm-3 right-align">
                <?php if (Mage::getSingleton('customer/session')->getOrderEditMode()) :?>
                    <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                        <?php if ($deviceItemsDiffPriceNotBusiness >= 0): ?>
                            <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceNotBusiness < 0 ? -1*$deviceItemsDiffPriceNotBusiness : $deviceItemsDiffPriceNotBusiness);?>
                        <?php endif; ?>
                    </span>
                    <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                        <?php if ($deviceItemsDiffPriceBusiness >= 0): ?>
                            <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceBusiness < 0 ? -1*$deviceItemsDiffPriceBusiness : $deviceItemsDiffPriceBusiness);?>
                        <?php endif; ?>
                    </span>
                <?php endif;?>
            </div>
        </div>
    <?php elseif ($deviceItemsDiffPriceNotBusiness < 0 || $deviceItemsDiffPriceBusiness < 0 ): ?>
        <div class="row">
            <div class="col-sm-6 section">
                <span class="small-label cart-total-label red">
                    <?php echo $this->__('Refund') ?>
                </span>
            </div>
            <div class="col-sm-3 right-align"></div>
            <div class="col-sm-3 right-align">
                <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceNotBusiness >= 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceNotBusiness < 0 ? -1*$deviceItemsDiffPriceNotBusiness : $deviceItemsDiffPriceNotBusiness);?>
                    <?php endif; ?>
                </span>
                <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceBusiness >= 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceBusiness < 0 ? -1*$deviceItemsDiffPriceBusiness : $deviceItemsDiffPriceBusiness);?>
                    <?php endif; ?>
                </span>
                <span style="<?php echo !$showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="incl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceNotBusiness < 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceNotBusiness < 0 ? -1*$deviceItemsDiffPriceNotBusiness : $deviceItemsDiffPriceNotBusiness);?>
                    <?php endif; ?>
                </span>
                <span style="<?php echo $showPriceWithoutBtw ? '' : 'display: none;'; ?>" class="excl-vat-tax small-label red">
                    <?php if ($deviceItemsDiffPriceBusiness < 0): ?>
                        <?php echo $helper->showNewFormattedPriced($deviceItemsDiffPriceBusiness < 0 ? -1*$deviceItemsDiffPriceBusiness : $deviceItemsDiffPriceBusiness);?>
                    <?php endif; ?>
                </span>
            </div>
        </div>
    <?php endif;?>
<?php endif;?>
</div>
