<?php

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
$packageHelper = Mage::helper('dyna_package');
/**
 * @var $catalogHelper Dyna_Catalog_Helper_Data
 */
$catalogHelper = Mage::helper('dyna_catalog');

/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
/**
 * @var Omnius_Checkout_Model_Sales_Quote $quote
 * @var array $groupTypes
 * @var int $simCardAttrId
 * @var array $previousPackages
 * @var string $ctnText
 * @var string $ctnDescription
 * @var int $ctnCount
 * @var string $key
 * @var array $package
 * @var boolean $hasPromo
 * @var array $shownProducts
 * @var boolean $showPriceWithoutBtw
 * @var boolean $packageType
 * @var boolean $coupon
 * @var int $current_package_id
 * @var array $simProducts
 * @var array $promoProducts
 * @var array $mixMatchProducts
 * @var boolean $isMixMatch
 * @var string $saleType
 */
extract($data);

Mage::unregister('products_visibility_package_type');
Mage::register('products_visibility_package_type', $packageType);
$btwSessionState = Mage::getSingleton('customer/session')->getBtwState() ?? 1;
$packageSubtypeAttribute = Mage::getSingleton("eav/config")->getAttribute('catalog_product', 'package_subtype');
$addLine = function ($lineData) {
    return Mage::getBlockSingleton('page/html')
        ->setData($lineData)
        ->setTemplate('checkout/cart/partials/package_item.phtml')
        ->toHtml();
};

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

?>
<div class="content <?php echo ($saleType == Dyna_Checkout_Model_Sales_Quote_Item::RETENTION && isset($ctnCount) && $ctnText && $ctnCount == 1 && $package['one_of_deal'] != 1) ? 'package-with-ctn' : ($saleType == Dyna_Checkout_Model_Sales_Quote_Item::RETENTION && isset($ctnCount) && $package['one_of_deal'] == 1 ? 'one-off-deal-package' : ''); ?>">
    <!-- PRICE HEADER -->
    <div class="row price-header-row">
        <div class="col-sm-6"></div>
        <?php if (!$isIndirect): ?>
            <div class="col-sm-3 labels right-align"><?php echo $this->__('Upfront'); ?></div>
        <?php endif;?>
        <div class="col-sm-3 labels right-align mhs"><?php echo $this->__('Monthly'); ?></div>
    </div>

    <!-- PRODUCTS -->
    <?php

    $totalMafSection = [];
    $totalPriceSection = [];
    $skipDiscounts = false;
    $quoteModel = Mage::getSingleton('checkout/cart')->getQuote();
    $devicePaymentDeduction = isset($package['package_id']) ? $quoteModel->getTotalDevicePayment($package['package_id']) : 0;

    /** @var  $cartHelper  Vznl_Configurator_Helper_Cart */
    $cartHelper = Mage::helper('dyna_configurator/cart');
    if($package['items']) {
        $package['items'] = $cartHelper->getSortedCartProducts($package['items']);
    }

    foreach ($package['items'] as $item) {
        $mafUnit = $skipDiscounts ? $item->getMaf() : $item->getItemFinalMafExclTax();
        $priceUnit = $item->getItemFinalPriceExclTax();

        $mafTaxUnit = $skipDiscounts ? $item->getMafInclTax() : $item->getItemFinalMafInclTax();
        $priceTaxUnit = $item->getItemFinalPriceInclTax();

        $weeeTax = 0;
        if (!empty($withTax)) {
            if ($item->getWeeeTaxAppliedRowAmount()) {
                foreach ($item->getWeeeTaxAppliedUnserialized() as $attribute) {
                    $weeeTax += $attribute['row_amount_incl_tax'];
                }
            }
        } else {
            if ($item->getWeeeTaxAppliedRowAmount()) {
                $weeeTax = $item->getWeeeTaxAppliedRowAmount();
            }
        }

        $priceUnit = round($priceUnit + $weeeTax, 2);
        $priceTaxUnit = round($priceTaxUnit + $weeeTax, 2);

        $index = strtolower(current($item->getProduct()->getType()));

        if (!isset($totalMafSection[$index]['maf'])) {
            $totalMafSection[$index]['maf'] = 0;
        }
        if (!isset($totalMafSection[$index]['mafTax'])) {
            $totalMafSection[$index]['mafTax'] = 0;
        }

        if (!isset($totalPriceSection[$index]['price'])) {
            $totalPriceSection[$index]['price'] = 0;
        }
        if (!isset($totalPriceSection[$index]['priceTax'])) {
            $totalPriceSection[$index]['priceTax'] = 0;
        }


        $mafUnitValue   = ($item->getQty() ? $item->getQty() : $item->getQtyOrdered()) * $mafUnit;
        $mafTaxUnitValue   = ($item->getQty() ? $item->getQty() : $item->getQtyOrdered()) * $mafTaxUnit;
        $priceUnitValue = ($item->getQty() ? $item->getQty() : $item->getQtyOrdered()) * $priceUnit;
        $priceTaxUnitValue = ($item->getQty() ? $item->getQty() : $item->getQtyOrdered()) * $priceTaxUnit;

        if ($item->getProduct()->isServiceItem()) {
            $totalMafSection[strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE)]['maf'] += $mafUnitValue;
            $totalMafSection[strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE)]['mafTax'] += $mafTaxUnitValue;
            $totalPriceSection[strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE)]['price'] += $priceUnitValue;
            $totalPriceSection[strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE)]['priceTax'] += $priceTaxUnitValue;
        }

        if ($index == strtolower(Vznl_Catalog_Model_Type::SUBTYPE_ACCESSORY) && true == $item->getProduct()->isServiceItem()) {
            $mafUnitValue   = 0;
            $mafTaxUnitValue   = 0;
            $priceUnitValue = 0;
            $priceTaxUnitValue = 0;
        }

        $totalMafSection[$index]['maf'] += $mafUnitValue;
        $totalMafSection[$index]['mafTax'] += $mafTaxUnitValue;
        $totalPriceSection[$index]['price'] += $priceUnitValue;
        $totalPriceSection[$index]['priceTax'] += $priceTaxUnitValue;
    }

    foreach($simProducts as $sim) {
        $simMafUnit = $skipDiscounts ? $sim->getMaf() : $sim->getItemFinalMafExclTax();
        $simPriceUnit = $sim->getItemFinalPriceExclTax();

        $simMafTaxUnit = $skipDiscounts ? $sim->getMafInclTax() : $sim->getItemFinalMafInclTax();
        $simPriceTaxUnit = $sim->getItemFinalPriceInclTax();

        $simMafUnitValue   = ($sim->getQty() ? $sim->getQty() : $sim->getQtyOrdered()) * $simMafUnit;
        $simMafTaxUnitValue   = ($sim->getQty() ? $sim->getQty() : $sim->getQtyOrdered()) * $simMafTaxUnit;
        $simPriceUnitValue = ($sim->getQty() ? $sim->getQty() : $sim->getQtyOrdered()) * $simPriceUnit;
        $simPriceTaxUnitValue = ($sim->getQty() ? $sim->getQty() : $sim->getQtyOrdered()) * $simPriceTaxUnit;

        $totalMafSection['tariff']['maf'] += $simMafUnitValue;
        $totalMafSection['tariff']['mafTax'] += $simMafTaxUnitValue;
        $totalPriceSection['tariff']['price'] += $simPriceUnitValue;
        $totalPriceSection['tariff']['priceTax'] += $simPriceTaxUnitValue;
    }

    $totalSubscription = $totalDevice = 0;
    $otherProducts = [];
    foreach ($groupTypes as $groupType):
        $totalMafInclTax = $totalMafExclTax = 0;
        $totalPriceInclTax = $totalPriceExclTax = 0;
        $groupProductIds = [];
        $mixMatchProductsIds = array_keys($mixMatchProducts);

        // Variable used for bundles in installed base package: showing section only if it contains products
        $hasProducts = true;
        if (!empty($package['installed_base_products'])) {
            $installBaseProducts = explode(',', $package['installed_base_products']);
            $initialInstallBaseProducts = explode(',', $package['initial_installed_base_products']);

            $productsAddedByBundleRules = array_diff($installBaseProducts, $initialInstallBaseProducts);
            $hasProducts = false;
            foreach ($package['items'] as $index => $item) {
                if (!in_array($item->getSku(), $productsAddedByBundleRules)) {
                    continue;
                }
                /** @var Dyna_Catalog_Model_Product $product */

                $product = $item->getProduct();

                if ($product->is($groupType)) {
                    $hasProducts = true;
                }
            }
        }
        if (!$hasProducts) {continue;}
        ?>

        <?php if (in_array($groupType, Dyna_Configurator_Model_Catalog::getOptionsForCartPackageType($packageType)) && $hasProducts) : ?>
        <div data-search-results-drawer-visibility="hidden" data-group-type="<?php echo $groupType; ?>"
             class="row group-header group-header-<?php echo $this->__($groupType); ?>">
            <div data-search-results-drawer-visibility="hidden" class="col-sm-6 name-row">
                <?php echo $packageHelper->getPackageSubtype($packageType, $groupType, true); ?>
            </div>
            <div data-search-results-drawer-visibility="hidden" class="incl-vat-tax" style="display: <?php echo $btwSessionState ? "block" : "none"; ?>">

                <div data-search-results-drawer-visibility="hidden" class="price col-sm-3 price-row">
                    <?php if (!$isIndirect): ?>
                        <?php if (strtolower($groupType) == strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE) && $devicePaymentDeduction) : ?>
                            <?php echo isset($totalPriceSection[strtolower($groupType)]) ? $helper->showNewFormattedPriced($totalPriceSection[strtolower($groupType)]['priceTax'] + $devicePaymentDeduction) : ''; ?>
                        <?php else : ?>
                            <?php echo isset($totalPriceSection[strtolower($groupType)]) ? $helper->showNewFormattedPriced($totalPriceSection[strtolower($groupType)]['priceTax']) : ''; ?>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
                <div data-search-results-drawer-visibility="hidden" class="maf-price col-sm-3 price-row">
                    <?php echo $helper->showNewFormattedPriced($totalMafSection[strtolower($groupType)]['mafTax'] ?? 0); ?>
                </div>
            </div>

            <div data-search-results-drawer-visibility="hidden" class="excl-vat-tax" style="display: <?php echo !$btwSessionState ? "block" : "none"; ?>">
                <div data-search-results-drawer-visibility="hidden" class="price col-sm-3 price-row">
                    <?php if (!$isIndirect): ?>
                        <?php if (strtolower($groupType) == strtolower(Vznl_Catalog_Model_Type::SUBTYPE_DEVICE) && $devicePaymentDeduction) : ?>
                            <?php echo isset($totalPriceSection[strtolower($groupType)]) ? $helper->showNewFormattedPriced($totalPriceSection[strtolower($groupType)]['price'] + $devicePaymentDeduction) : ''; ?>
                        <?php else: ?>
                            <?php echo isset($totalPriceSection[strtolower($groupType)]) ? $helper->showNewFormattedPriced($totalPriceSection[strtolower($groupType)]['price']) : ''; ?>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
                <div data-search-results-drawer-visibility="hidden" class="maf-price col-sm-3 price-row">
                    <?php echo $helper->showNewFormattedPriced($totalMafSection[strtolower($groupType)]['maf'] ?? 0); ?>
                </div>
            </div>
        </div>
        <div class="cart-group-content">
    <?php endif; ?>

        <!-- ITEMS <?php echo strtoupper($groupType); ?> -->
        <?php
        /** previous package items */
        if ($previousPackages && isset($previousPackages[$key])) {
            $bullet = false;
            $prevLineThrough = array('price' => true, 'product' => true, 'maf' => true);
            if (isset($previousPackages[$key]['items'][$groupType])) {
                foreach ($previousPackages[$key]['items'][$groupType] as $previousItem) {
                    /* skip promo && sim && service items */
                    $product = Mage::getModel('catalog/product')->load($previousItem['product_id']);
                    // todo: clarify below condition !Mage::getSingleton('checkout/cart')->isChanged($groupType) ||
                    if (!in_array($saleType, array_merge(Dyna_Catalog_Model_ProcessContext::ILSProcessContexts(), Vznl_Catalog_Model_ProcessContext::MoveProcessContexts() ))) {
                        if (!Mage::getSingleton('checkout/cart')->isChanged($groupType) || in_array($previousItem['product_id'], $shownProducts) || in_array($previousItem['product_id'], $groupProductIds)) {
                            continue;
                        }
                    }

                    $productVisibility = $catalogHelper->getVisibility(Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_SHOPPING_CART, $previousItem['sku'], $product);

                    array_push($shownProducts, $previousItem['product_id']);
                    echo $addLine(array(
                        'item' => array(
                            'name' => $previousItem['name'],
                            'maf' => isset($previousItem['maf']) ? (float)$previousItem['maf'] : 0,
                            'mafTax' => isset($previousItem['maf_incl_tax']) ? (float)$previousItem['maf_incl_tax'] : 0,
                            'price' => isset($previousItem['row_total']) ? (float)$previousItem['row_total'] : 0,
                            'priceTax' => isset($previousItem['row_total_incl_tax']) ? (float)$previousItem['row_total_incl_tax'] : 0,
                            'preselect_product' => isset($previousItem['preselect_product']) ? $previousItem['preselect_product'] : 0,
                            'is_defaulted' => isset($previousItem['is_defaulted']) ? $previousItem['is_defaulted'] : 0,
                        ),
                        'groupType' => $groupType,
                        'lineThrough' => $prevLineThrough,
                        'systemAction' => $previousItem['system_action'],
                        'isContractDrop' => $previousItem['is_contract_drop'],
                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                        /** show onetime prices if $0 for device & accessory */
                        'showOneTimeZeroPrices' => ($product->isDevice() || $product->isAccessory() || $product->isDiscount()),
                        /** showMaf Price if $0 only for subscription & addons */
                        'showMafZeroPrices' => ($product->isSubscription() || $product->isOption() || $product->isDiscount()),
                        'bullet' => $bullet,
                        'productVisibility' => $productVisibility,
                        'packageType'=>  $packageType,
                        'mixMatchProducts' => (!empty($mixMatchProducts[$product->getId()]) ? $mixMatchProducts[$product->getId()] : []),
                        'guiSection' => Dyna_Catalog_Model_Product::GUI_CART,
                        'saleType' => $saleType
                    ));
                }
            }
            unset($prevLineThrough);
        }

        $groupProductIds = [];
        /**@var Omnius_Checkout_Model_Sales_Quote_Item $item */
        foreach ($package['items'] as $index => $item) {
            /** @var Dyna_Catalog_Model_Product $product */
            /* skip promo && sim && service items */
            $product = $item->getProduct();
            $systemAction = $item->getSystemAction();

            $packageSubtypeArray = (array)json_decode($catalogHelper->getAttributeAdminLabel($packageSubtypeAttribute, $product->getPackageSubtype()), true);
            $packageSubtypeValue = $product->getPackageSubtype() ? $packageSubtypeArray[$product->getPackageSubtype()] : "";
            if (!in_array(strtolower($packageSubtypeValue), array_map("strtolower", $groupTypes)) && !in_array($product->getId(), $otherProducts)) {
                $otherProducts[$product->getId()] = $item;
            }

            //check if item has promo product applied that hides original price
            foreach ($promoProducts as $promoItem) {
                if ($promoItem->getTargetId() == $item->getProductId() && $promoItem->getProduct()->getHideOriginalPrice()) {
                    $item->setHideOriginalPrice(true);
                }
            }

            // check if product is from the current group
            if ($product->is($groupType) && !$item->getOldInstallBase() && !$item->isBundlePromo() && !$product->isServiceItem()) { // bullet and line style
                $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                $bullet = false;
                $skipSeparator = false;
                $hasPriceDiscount = $hasMafDiscount = false;
                if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0) {
                    $hasPriceDiscount = true;
                }
                if ($item->getMafDiscountAmount() != null && $item->getMafDiscountAmount() > 0) {
                    $hasMafDiscount = true;
                }

                if ($product->isAccessory() || $product->isSubscription() || $product->isSubTypeFixedPackageDetails()) {
                    $lineThrough['price'] = $hasPriceDiscount;
                    $lineThrough['maf'] = $hasMafDiscount;
                    $lineThrough['maf'] = $item->getHideOriginalPrice() ? false : $hasMafDiscount;
                } else {
                    if (!empty($mixMatchProducts[$product->getId()])) {
                        $hasNewPrice = $hasNewMaf = false;
                        foreach ($mixMatchProducts[$product->getId()] as $mixMatchProduct) {
                            if ($mixMatchProduct["hasNewPrice"]) {
                                $hasNewPrice = true;
                            }
                            if ($mixMatchProduct["hasNewMaf"]) {
                                $hasNewMaf = true;
                            }
                        }
                        $lineThrough['price'] = $hasNewPrice || $coupon;
                        $lineThrough['maf'] = $hasNewMaf;

                        $item->setHasMixMatch(!$item->isContract() || $coupon);
                    }
                    $item->setHasMixMatch(!$item->isContract() && !empty($mixMatchProducts[$product->getId()]) || $coupon);
                }

                $skipSeparator = $hasPriceDiscount || $hasMafDiscount;

                // ECHO ITEM LINE
                echo $addLine(array(
                    'skipSeparator' => $skipSeparator,
                    'item' => Mage::helper('dyna_configurator')->getBlockRowData($item),
                    'groupType' => $groupType,
                    'lineThrough' => $lineThrough,
                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                    'bullet' => $bullet,
                    /** show onetime prices if $0 for device & accessory */
                    'showOneTimeZeroPrices' => ($product->isDevice() || $product->isAccessory() || $product->isDiscount()),
                    /** showMaf Price if $0 only for subscription & addons */
                    'showMafZeroPrices' => ($product->is(Dyna_Catalog_Model_Type::SUBTYPE_SUBSCRIPTION) ||
                        $product->is(Vznl_Catalog_Model_Type::SUBTYPE_ADDON) || $product->is(Dyna_Catalog_Model_Type::SUBTYPE_DEVICE_SUBSCRIPTION)), // showMaf Price if $0 only for subscription & addons
                    'systemAction' => $systemAction,
                    'packageType'=>  $packageType,
                    'mixMatchProducts' => !empty($mixMatchProducts[$product->getId()]) ? $mixMatchProducts[$product->getId()] : [],
                    'guiSection' => Dyna_Catalog_Model_Product::GUI_CART,
                    'saleType' => $saleType
                ));

                /** if subscription add subscription specific bullets */
                if ($product->isSubscription() || $product->isOption() || $product->isSubTypeFixedPackageDetails()) {
                    // PROMOTION
                    if ($hasPromo && !empty($promoProducts)) {
                        $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                        $bullet = 'bullet-line-new';
                        $displays = array();
                        $displayCount = $promoTargetPackageId = 0;

                        foreach ($promoProducts as $promoItem) {
                            if ($item->getProductId() == $promoItem->getTargetId()
                                && $promoItem->getPackageId() == $item->getPackageId()
                                && ($item->getMafDiscountAmount() >= 0)
                            ) {
                                // if promo product has hide_original_price attribute set, do not display it in cart
                                if ($promoItem->getProduct()->getHideOriginalPrice()) {
                                    continue;
                                }
                                $promoTargetPackageId = $promoItem->getPackageId();
                                $productVisibility = true;
                                //productVisibility of promotions in cart is not checking in ump1 so passing it as true always.
                                $promoItemData = Mage::helper('dyna_configurator')->getBlockRowData($promoItem);
                                $displays[] = array(
                                    'item' => $promoItemData,
                                    'groupType' => $groupType,
                                    'lineThrough' => $lineThrough,
                                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                    'bullet' => $bullet,
                                    'showOneTimeZeroPrices' => false,
                                    'productVisibility' => $productVisibility,
                                    'packageType'=>  $packageType,
                                    'saleType' => $saleType,
                                    'systemAction' => $promoItem->getSystemAction(),
                                    'promoProductId' => $promoItem->getProductId()
                                );

                                // DF-002852: display lineThrough price only if the promo item affects the price.
                                // if it affects only the aansluitkosten do not make lineThrough
                                // this will cause issues if the aansluitkosten promo is not the last promo in list
                                if (isset($display['item']['price'])) {
                                    $displayCount++;
                                }
                            }
                        }

                        // reorder applied promos by their selection in the stackable promos drawer
                        if ($promoTargetPackageId) {
                            $packageModel = Mage::getSingleton('checkout/cart')->getQuote()->getCartPackage($promoTargetPackageId);
                            $previousPromosProducts = json_decode($packageModel->getAppliedPromosOrder(), true);

                            if(!empty($previousPromosProducts)) {
                                foreach ($previousPromosProducts as $previousPromosProduct) {
                                    foreach ($displays as $keyDisplay => $display) {
                                        if ($display['promoProductId'] == $previousPromosProduct) {
                                            unset($displays[$keyDisplay]);
                                            $displays[] = $display;
                                            break;
                                        }
                                    }
                                }
                            }
                        }

                        $i = 0;
                        $count = $displayCount;
                        foreach ($displays as $display) {
                            $i++;
                            if ($i < $count) {
                                $display['lineThrough']['price'] = true;
                            }
                            echo $addLine($display);
                        }
                    }

                    // prijs_aansluitkosten attribute
                    if ($item->getData('connection_cost') && $item->getData('connection_cost') > 0) {
                        $lineThrough = array('price' => false, 'product' => false);
                        $bullet = true;
                        $prices = Mage::helper('vznl_checkout')->decorateExclIncl($item->getData('connection_cost'), $item, $showPriceWithoutBtw);
                        // ADD connection fee line
                        echo $addLine(array(
                            'item'                => array(
                                'name'     => sprintf(
                                    '%s %s (%s)',
                                    $this->__('Connection Fee'),
                                    $prices,
                                    $this->__('on the first bill')
                                )
                            ),
                            'groupType'           => $groupType,
                            'lineThrough'         => $lineThrough,
                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                            'indirect'            => $isIndirect,
                            'bullet'              => $bullet,
                            'saleType'            => $saleType,
                        ));
                    }

                    //SIMCARD
                    if($product->isSubscription() && !empty($simProducts)){
                        foreach ($simProducts as $simProduct) {
                            // ECHO ITEM LINE
                            echo $addLine(array(
                                'skipSeparator' => $skipSeparator,
                                'item' => Mage::helper('dyna_configurator')->getBlockRowData($simProduct),
                                'groupType' => $groupType,
                                'lineThrough' => $lineThrough,
                                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                'bullet' => $bullet,
                                'showOneTimeZeroPrices' => true,
                                'showMafZeroPrices' => false,
                                'systemAction' => $systemAction,
                                'packageType'=>  $packageType,
                                'mixMatchProducts' => [],
                                'guiSection' => Dyna_Catalog_Model_Product::GUI_CART,
                                'saleType' => $saleType
                            ));
                        }
                    }
                }

                // IF DEVICE add device specific bullets
                if ($product->isDevice() || $product->isAccessory() || $product->isOption() || $product->isPromotion() || $product->isSubscription()) {
                    // Mixmatches are added under each product
                    $priceRulesHelper = Mage::helper('pricerules');
                    $rulesArray = $priceRulesHelper->explodeTrimmed($item->getAppliedRuleIds());
                    // coupon
                    if ($item->getDiscountAmount() != null && $item->getDiscountAmount() > 0) {
                        $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                        $bullet = true;

                        // get coupon
                        $rule = Mage::getModel('salesrule/coupon')->loadByCode($coupon);
                        $rulesCollection = Mage::getModel('salesrule/rule')->getCollection()
                            ->addFieldToFilter('simple_action', array('neq' => 'ampromo_items'))
                            ->addFieldToFilter('rule_id', array('in' => $rulesArray));
                        $discountNameArray = array();
                        foreach ($rulesCollection as $r) {
                            $discountNameArray[] = $r->getName();
                        }

                        $discountName = implode(', ', $discountNameArray);
                        $couponRule = Mage::getModel('salesrule/rule')->load($rule->getRuleId());

                        // get device price
                        $deviceItem = Mage::helper('dyna_configurator')->getBlockRowData($item);

                        // calculate discount
                        $discount = (float)$item->getDiscountAmount();

                        if (!empty($mixMatchProducts[$item->getProductId()])) {
                            // get the mixmatch price
                            foreach ($mixMatchProducts[$item->getProductId()] as $mixMatchProduct) {
                                $deviceItem['price'] = $mixMatchProduct['price'];
                                $deviceItem['priceTax'] = $mixMatchProduct['priceTax'];
                                $deviceItem['maf'] = $mixMatchProduct['maf'];
                                $deviceItem['mafTax'] = $mixMatchProduct['mafTax'];
                            }
                        }

                        $deviceItem['price'] -= ($discount - $item->getHiddenTaxAmount());
                        $deviceItem['priceTax'] -= $discount;

                        // ADD connection fee line
                        echo $addLine(array(
                            'item' => array(
                                'name' => $discountName,
                                'price' => $deviceItem['price'],
                                'priceTax' => $deviceItem['priceTax'],
                            ),
                            'groupType' => $groupType,
                            'lineThrough' => $lineThrough,
                            'showPriceWithoutBtw' => $showPriceWithoutBtw,
                            'bullet' => $bullet,
                            'packageType'=>  $packageType,
                            'saleType' => $saleType
                        ));

                    }


                    if ($product->isDevice()) {
                        $quote = Mage::getSingleton('checkout/cart')->getQuote();
                        $packageItems = $quote->getPackageItems($key ? : $quote->getActivePackageId());
                        // add taxes
                        $taxes = $item->getWeeeTaxAppliedUnserialized();
                        foreach ($taxes as $tax) {
                            $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                            $bullet = true;
                            echo $addLine(array(
                                'item' => array(
                                    'name' => $tax['title'],
                                    'price' => $tax['amount'],
                                    'priceTax' => $tax['amount_incl_tax'],
                                ),
                                'groupType' => $groupType,
                                'lineThrough' => $lineThrough,
                                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                'bullet' => $bullet,
                                'packageType'=>  $packageType,
                                'saleType' => $saleType
                            ));
                        }
                        $serviceItems = array();

                        foreach ($packageItems as $serviceItem) {
                            if ($serviceItem->getProduct()->isServiceItem()
                                && $serviceItem->getProduct()->getTargetId() != $product->getId()
                                && $serviceItem->getProduct()->getId() != $product->getId()
                            ) {
                                $serviceItems[$serviceItem->getProductId()] = $serviceItem;
                            }
                        }

                        $serviceItemKeys = array_keys($serviceItems);

                        //Check if there are previous SIM set
                        if (isset($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_NONE])) {
                            foreach ($previousPackages[$key]['items'][Dyna_Catalog_Model_Type::SUBTYPE_NONE] as $itm) {
                                $lineThrough = array('price' => true, 'maf' => true, 'product' => true);
                                $bullet = true;
                                if (Mage::getSingleton('checkout/cart')->isChanged(Dyna_Catalog_Model_Type::SUBTYPE_NONE)
                                    && !in_array($itm['product_id'], $serviceItemKeys)
                                ) {
                                    $productVisibility = $catalogHelper->getVisibility(Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_SHOPPING_CART, $itm['sku']);
                                    echo $addLine(array(
                                        'item' => array(
                                            'name' => $itm['name'],
                                            'maf' => isset($itm['maf']) ? (float)$itm['maf'] : 0,
                                            'mafTax' => isset($itm['maf_incl_tax']) ? (float)$itm['maf_incl_tax'] : 0,
                                            'price' => isset($itm['row_total']) ? (float)$itm['row_total'] : 0,
                                            'priceTax' => isset($itm['row_total_incl_tax']) ? (float)$itm['row_total_incl_tax'] : 0,
                                        ),
                                        'groupType' => $groupType,
                                        'lineThrough' => $lineThrough,
                                        'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                        'bullet' => $bullet,
                                        'productVisibility' => $productVisibility,
                                        'packageType'=>  $packageType,
                                        'saleType' => $saleType
                                    ));
                                }
                            }
                        }

                        /** add taxes */
                        /** @var Dyna_Checkout_Model_Sales_Quote_Item $serviceItem */
                        foreach ($serviceItems as $serviceItem) {
                            $lineThrough = array('price' => false, 'maf' => false, 'product' => false);
                            $bullet = true;
                            echo $addLine(array(
                                'item' => array(
                                    'name' => $serviceItem->getName(),
                                    'price' => $serviceItem->getRowTotal(),
                                    'priceTax' => $serviceItem->getRowTotalInclTax(),
                                ),
                                'groupType' => $groupType,
                                'lineThrough' => $lineThrough,
                                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                                'bullet' => $bullet,
                                'packageType'=>  $packageType,
                                'saleType' => $saleType
                            ));
                        }
                    }
                }
            } elseif ($product->isAccessory() && in_array($groupType, Dyna_Catalog_Model_Type::$accessories)  && !$product->isServiceItem()) {
                echo $addLine(array(
                    'item' => [
                        'name' => $product->getName(),
                        'price' => $item->getRowTotal(),
                        'priceTax' => $item->getRowTotalInclTax(),
                        'discount' => 1,
                    ],
                    'groupType' => $groupType,
                    'lineThrough' => array('price' => false, 'product' => false),
                    'showPriceWithoutBtw' => $showPriceWithoutBtw,
                    'packageType'=>  $packageType,
                    'saleType' => $saleType
                ));
            }
        } ?>
        <?php if (in_array($groupType, Dyna_Configurator_Model_Catalog::getOptionsForCartPackageType($packageType)) && $hasProducts) : ?>
        </div>
    <?php endif; ?>
    <?php endforeach; ?>

    <?php
    // OMNVFDE-2994: Other install base products appear in dummy package because of hidden subtype and visible in cart set to yes
    if (empty($package['editing_disabled'])) {
        //Check if there are any service charge items in current package
        foreach ($package['items'] as $index => $i) {
            /** @var Dyna_Catalog_Model_Product $cartProduct */
            $cartProduct = $i->getProduct();
            // Is a migration charge?
            if ($cartProduct->isMigrationCharge()): ?>
                <div data-search-results-drawer-visibility="hidden" class="row group-header service-charge-header">
                    <div data-search-results-drawer-visibility="hidden" class="col-sm-9 name-row">
                        <?php echo $cartProduct->getName(); ?>
                    </div>
                    <div data-search-results-drawer-visibility="hidden" class="maf-price col-sm-3 price-row">
                        <?php /* One time cost, no Maf */ ?>
                    </div>
                    <div data-search-results-drawer-visibility="hidden" class="price col-sm-3 price-row">
                        <?php echo $helper->showNewFormattedPriced($item->getRowTotalInclTax()); ?>
                    </div>
                </div>
            <?php endif;
        }

        foreach ($otherProducts as $productId => $item) {
            echo $addLine(array(
                'skipSeparator' => true,
                'item' => [
                    'name' => $item->getName(),
                    'price' => $item->getRowTotal(),
                    'priceTax' => $item->getRowTotalInclTax(),
                    'maf' => isset($item['maf']) ? (float)$item['maf'] : 0,
                    'mafTax' => isset($item['maf_incl_tax']) ? (float)$item['maf_incl_tax'] : 0,
                ],
                'showPriceWithoutBtw' => $showPriceWithoutBtw,
                'groupType' => 'Other',
                'packageType'=>  $item->getPackageType(),
                'saleType' => $saleType
            ));
        }
    }
    ?>

    <!-- TEMPLATE -->
    <?php if ($key == 'template'): ?>
        <div class="row">
            <?php foreach ($groupTypes as $groupType) : ?>
                <?php if ($groupType != ucfirst(Omnius_Configurator_Model_AttributeGroup::ATTR_GROUP_PROMOTIONS)): ?>
                    <?php $groupTypeText = in_array($groupType, Dyna_Catalog_Model_Type::$options) ? 'Extra' : $groupType; ?>
                    <div data-search-results-drawer-visibility="hidden"
                         data-group-type="<?php echo $this->__($groupType) ?>"
                         class="row group-header group-header-<?php echo $this->__($groupType) ?>">
                        <?php echo $this->__($groupTypeText) ?>
                        <div data-search-results-drawer-visibility="hidden"
                             class="col-sm-3 right-align price-row"></div>
                        <div data-search-results-drawer-visibility="hidden"
                             class="col-sm-3 right-align price-row"></div>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
</div>

<?php $this->setShownProducts($shownProducts)->setTotalDevice($totalDevice)->setTotalSubscription($totalSubscription); ?>
