<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

/**
 * @var array $item
 * @var string $groupType
 * @var boolean $showPriceWithoutBtw
 * @var array $lineThrough
 * @var boolean $showOneTimeZeroPrices
 * @var boolean $showMafZeroPrices
 * @var boolean $productVisibility
 * @var boolean $skipSeparator
 * @var string $packageType
 * @var array $mixMatchProducts
 * @var string $guiSection
 * @var string saleType
 */
$data = $this->getData();
extract($data);

if (!isset($mixMatchProducts)) {
    $mixMatchProducts = [];
}
// defaults
$saleType = $saleType ?? '';

$skipSeparator = isset($skipSeparator) && $skipSeparator == true ? 'skip-separator' : '';
$lineThrough = isset($lineThrough) ? $lineThrough : array('price' => false, 'maf' => false, 'product' => false);
$isContractDrop = isset($isContractDrop) ? $isContractDrop : null;
$systemAction = isset($systemAction) ? $systemAction : null;
$showPriceWithoutBtw = isset($showPriceWithoutBtw) ? $showPriceWithoutBtw : Mage::getSingleton('customer/session')->showPriceWithBtw();
$bullet = isset($bullet) ? $bullet : false;
$showOneTimeZeroPrices = isset($showOneTimeZeroPrices) ? $showOneTimeZeroPrices : true;
$packageType = isset($packageType) ? $packageType : null;
$productVisibility = isset($productVisibility) ? $productVisibility : true;

/** @var Vznl_Agent_Helper_Data $agentHelper */
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();

// TAX Display
$priceStyle = $showPriceWithoutBtw ? '' : 'display: none;';
$priceTaxStyle = !$showPriceWithoutBtw ? '' : 'display: none;';
$preselectProduct = isset($item['preselect_product']) && $item['preselect_product'];
$isDefaulted = isset($item['is_defaulted']) && $item['is_defaulted'];

// Hashed
$priceStrikeStyle = !empty($lineThrough['price']) ? 'text-decoration: line-through;' : '';
$mafStrikeStyle = !empty($lineThrough['maf']) ? 'text-decoration: line-through;' : '';
$productStrikeStyle = !empty($lineThrough['product']) ? 'text-decoration: line-through;' : '';
$productCircleStyle = 'default-none';
if (in_array($saleType, array_merge(Vznl_Catalog_Model_ProcessContext::ILSProcessContexts(), Vznl_Catalog_Model_ProcessContext::getProlongationProcessContexts(), Vznl_Catalog_Model_ProcessContext::MoveProcessContexts()))) {
    if ($systemAction == 'add' && !$preselectProduct) {
        $productCircleStyle = 'added-blue';
    } elseif ($isContractDrop) {
        if ($systemAction != 'N/A') {
            $productCircleStyle = 'removed-red';
        }
    } elseif ($preselectProduct) {
        $productCircleStyle = 'keep-grey';
    }
}

// bullet
$bulletClass = ($bullet == 'bullet-line-new') ? 'bullet-line-new' : 'bullet-line';

// money format handler
$coreHelper = Mage::helper('core');
$money = function ($price) use ($coreHelper) {
    return $coreHelper->currency($price, true, false);
};

$hasMaf = false;
$hasPrice = false;

$isContract = isset($item['is_contract']) && $item['is_contract'];

/**
 * @var $helper Dyna_Checkout_Helper_Data
 */
$helper = Mage::helper('dyna_checkout');
/** @var Dyna_Catalog_Helper_ProcessContext $processContextHelper */
$processContextHelper = Mage::helper("dyna_catalog/processContext");
?>

<?php $hideRow = (!$productVisibility) ? ' hidden' : ''; ?>
<div class="row group_type<?php echo $groupType; ?> <?php echo $bulletClass ? $bulletClass : 'group-header'; ?> <?php echo $skipSeparator; ?> <?php echo (!empty($item['discount']) && $item['discount']) ? " cart-discount-item" : ""; ?><?php echo $hideRow ?>">
    <?php if($processContextHelper->isILSContext()) :?>
        <span data-search-results-drawer-visibility="hidden" class="col-sm-1 by-system"></span>
    <?php endif?>
    <span class="circle-small <?php echo $productCircleStyle; ?>"></span>
    <div data-search-results-drawer-visibility="hidden" class="col-sm-6 section package-details name-row"
         style="<?php echo $productStrikeStyle; ?>">
        <?php echo isset($item['itTargetsProduct']) ? "<span class='discount-product'>" . $item['name'] . "</span>" : $item['name']; ?>
        <?php if (in_array($packageType, Dyna_Catalog_Model_Type::getMobilePackages())) : ?>
            <?php echo isset($item['initial_period']) && $item['initial_period'] ? '-' . $item['initial_period'] . " " . $this->__("months minimum term") : '' ?>
        <?php endif ?>
        <?php if (in_array($packageType, Dyna_Catalog_Model_Type::getFixedPackages())) : ?>
            <?php echo isset($item['minimum_contract_duration']) && $item['minimum_contract_duration'] ? '-' . $item['minimum_contract_duration'] . " " . $this->__("months minimum term") . "<br/>" : '' ?>
        <?php endif ?>
        <?php if (in_array($packageType, Dyna_Catalog_Model_Type::getCablePackages())) : ?>
            <?php echo isset($item['contract_period']) && $item['contract_period'] ? '-' . $item['contract_period'] . " " . $this->__("months minimum term") . "<br/>" : '' ?>
        <?php endif ?>
        <!--
            Adding breaks in case there's an extra price below the original price,
            since the table doesn't automatically expand when there's another price.
            HTML/CSS should be refactored properly in future.
         -->
        <br>
        <?php
            $j = 0;
            while ($j < count($mixMatchProducts)) {
                $j++;
                echo "<br>";
            }
        ?>
    </div>
<!--    price col-sm-3 price-row-->
    <?php if (!$isIndirect) : ?>
    <div style="<?php echo $priceStyle; ?>" class="excl-vat-tax col-sm-3 price-row text-right">
        <div style="<?php echo $priceStrikeStyle; ?>">
            <?php if (isset($item['itTargetsProduct']) && $item['price']) {
                echo $helper->showNewFormattedPriced($item['price']);
            } else {
                if (isset($item['price']) && ($item['price'] || $showOneTimeZeroPrices)) {
                    $hasPrice = true;
                    echo $helper->showNewFormattedPriced($item['price']);
                } else {
                    echo $helper->showNewFormattedPriced('0');
                }
            } ?>
        </div>
        <?php if ($hasPrice && $priceStrikeStyle && !$isContract) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['price']);
            }
        } ?>
    </div>

    <div style="<?php echo $priceTaxStyle; ?>" class="incl-vat-tax col-sm-3 price-row text-right">
        <div style="<?php echo $priceStrikeStyle; ?>">
            <?php if (isset($item['itTargetsProduct']) && $item['price']) {
                echo $helper->showNewFormattedPriced($item['price']);
            } else {
                echo isset($item['priceTax']) && ($item['priceTax'] || $showOneTimeZeroPrices) ? $helper->showNewFormattedPriced($item['priceTax']) : '';
            } ?>
        </div>
        <?php if ($hasPrice && $priceStrikeStyle && !$isContract) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['priceTax']);
            }
        } ?>
    </div>
    <?php endif; ?>

    <div style="<?php echo $priceStyle; ?>" class="excl-vat-tax col-sm-3 price-row text-right last">
        <div>
            <span style="<?php echo $mafStrikeStyle; ?>">
                <?php if (isset($item['itTargetsProduct']) && $item['maf']) {
                    echo $helper->showNewFormattedPriced($item['maf']);
                } else {
                    if (isset($item['maf']) && ($item['maf'] || (isset($showMafZeroPrices) && $showMafZeroPrices))) {
                        $hasMaf = true;
                        echo $helper->showNewFormattedPriced($item['maf']);
                    } else {
                        echo $helper->showNewFormattedPriced($item['maf'] ?? 0);
                    }
                }
                ?>
            </span>
        </div>
    </div>

    <div style="<?php echo $priceTaxStyle; ?>" class="incl-vat-tax col-sm-3 price-row text-right last">
        <div>
            <span style="<?php echo $mafStrikeStyle; ?>">
                <?php if (isset($item['itTargetsProduct']) && $item['mafTax']) {
                    echo $helper->showNewFormattedPriced($item['mafTax']);
                } else {
                    echo isset($item['mafTax']) && ($item['mafTax'] || (isset($showMafZeroPrices) && $showMafZeroPrices)) ? $helper->showNewFormattedPriced($item['mafTax']) : '';
                } ?>
            </span>
        </div>
        <?php if ($hasMaf && $mafStrikeStyle) {
            foreach ($mixMatchProducts as $mixMatchProduct) {
                echo $helper->showNewFormattedPriced($mixMatchProduct['mafTax']);
            }
        } ?>
    </div>
</div>

