<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$data = $this->getData();
/**
 * @var string $packageType
 * @var string $key
 * @var array $package
 * @var string $ctnText
 * @var string $ctnDescription
 * @var array $applicablePromoRules
 * @var integer $countPromoRules
 * @var string $guiSection
 */
extract($data);

/** @var Dyna_Checkout_Model_Sales_Quote $quote */
$quote = Mage::getSingleton('checkout/cart')->getQuote();
$packageModel = isset($package['package_id']) ? $quote->getCartPackage($package['package_id']) : null;
$titleLabel = "";
$packageTypeAndTariffTitles = Mage::helper('vznl_package')->getTypeAndSubtypeTitle($package, $packageType, $guiSection);
$contextHelper = Mage::helper('dyna_catalog/processContext');
$processContext = $contextHelper->getProcessContextCode();

$numberOfCurrentRedplusMembers = 0;
if ($packageModel && $packageModel->isPartOfRedPlus() && $packageModel->isMobile()) {
    $numberOfCurrentRedplusMembers = Mage::helper('dyna_package')->getNumberOfRedPlusGroupMembers($package, $packageType);

    // OVG-2141
    $customer = Mage::getModel('customer/session')->getCustomer();
    $allInstallBaseProducts = $customer->getAllInstallBaseProducts();

    foreach ($allInstallBaseProducts as $installBaseProduct) {
        if (isset($package['parent_account_number']) &&
            $installBaseProduct['contract_id'] == $package['parent_account_number'] &&
            $installBaseProduct['product_id'] == $package['service_line_id'] &&
            $installBaseProduct['sharing_group_number_of_members'] > 0 && $installBaseProduct['sharing_group_member_type'] == Dyna_Customer_Helper_Customer::SUBSCRIPTION_TYPE_OWNER) {
            $numberOfCurrentRedplusMembers += $installBaseProduct['sharing_group_number_of_members'];
        }
    }
}

/** @var Dyna_Package_Helper_Data $packageHelper */
$packageHelper = Mage::helper('dyna_package');

/** @var Dyna_Configurator_Helper_Cart $cartHelper */
$cartHelper = Mage::helper('dyna_configurator/cart');

if (isset($package['package_id'])) {
    $class = $packageHelper->getPackageState($package);
}
$deletePackageModalType = $packageHelper->getDeleteModalType($package);

if (isset($package['entity_id'])) {
    $packageNotes = Mage::getModel('dyna_checkout/packageNotes')->getCollection()->addFieldToFilter('package_id', $package['entity_id']);
}
/**
 *
 * sharing-group
 * intra-stack-bundle
 * installed-base-bundle
 */
?>
<div
    data-search-results-drawer-visibility="hidden"
    class="title row-fluid <?php echo !empty($class['title']) ? $class['title'] : ''; ?> <?php echo isset($package['package_id']) ? $packageHelper->getBundleColor($package['package_id']) : ''; ?>"
    <?php if (empty($package['editing_disabled'])) : ?>
        onclick="activateBlock(this)"
    <?php elseif (empty($package['sharing_group_id'])): ?>
        onclick="togglePackage(this)"
    <?php endif; ?>
    <?php
    if($packageTypeAndTariffTitles['packageSubtypeTitle'] != '' && $packageModel->isFixed() && !$packageModel->hasTariff()){
        $packageTypeAndTariffTitles['packageSubtypeTitle'] = $this->__('Configure package');
    }
    ?>
>
    <div data-search-results-drawer-visibility="hidden" class="cart-package-title">
        <?php
        if (($packageTypeAndTariffTitles['packageTitle'] != '') && ($packageTypeAndTariffTitles['packageSubtypeTitle'] != '')) { ?>
            <div data-search-results-drawer-visibility="hidden" class="group-title">
                <p data-search-results-drawer-visibility="hidden"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></p>
                <span data-search-results-drawer-visibility="hidden"
                      class="package-type"><?php echo $packageTypeAndTariffTitles['packageSubtypeTitle']; ?></span>
            </div>
            <?php
        } else {
            if (!empty($package['editing_disabled']) || count($package['items']) > 0) { ?>
                <div data-search-results-drawer-visibility="hidden" class="group-title">
                    <p data-search-results-drawer-visibility="hidden"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></p>
                    <span data-search-results-drawer-visibility="hidden" class="package-type">
                        <?php
                        if($packageModel->isFixed() && !$packageModel->hasTariff()){
                            echo $this->__('Configure package');
                        }
                        elseif (count($package['items']) > 0) {
                            $item = current($package['items']);
                            echo $item->getName();
                        }
                        ?>
                    </span>
                </div>
                <?php
            } else { ?>
                <div data-search-results-drawer-visibility="hidden" class="group-title">
                    <p data-search-results-drawer-visibility="hidden"><?php echo $packageTypeAndTariffTitles['packageTitle']; ?></p>
                    <span data-search-results-drawer-visibility="hidden"
                          class="package-type empty-package"><?php echo $this->__('Configure package'); ?></span>
                </div>
                <?php
            }
        }
        ?>
    </div>

    <div class="orderline-header-actions">
        <?php if (!Mage::getSingleton('customer/session')->getOrderEditMode() && empty($package['editing_disabled'])): ?>
            <div class="orderline-action contextmenu-action" onClick="return showContextMenu(event, this)">
                <div class="orderline-action-icon"></div>
                <ul class="contextmenu">
                    <?php if (count($package['items']) > 0) : ?>
                        <li
                            class="contextmenu-item"
                            pkg-id="<?php echo $package['package_id']; ?>"
                            pkg-name="<?php echo $packageTypeAndTariffTitles['packageSubtypeTitle'];?>"
                            onclick="window.customer.displayNoteAddForm(this)"
                        >
                            <div class="contextmenu-item-icon note-icon"></div>
                            <?php echo $this->__('Note'); ?>
                        </li>
                    <?php endif; ?>
                    <?php
                    if (($key != 'template' && count($package['items']) && ($packageModel && $cartHelper->allowBundlePackageDuplication($packageModel) && $cartHelper->allowProcessContextPackageDuplication($packageModel)))) { ?>
                        <li class="contextmenu-item" onclick="duplicatePackage(event, this)">
                            <div class="contextmenu-item-icon duplicate-icon"></div>
                            <?php echo $this->__('Duplicate package'); ?>
                        </li>
                    <?php } ?>
                    <?php if (count($package['items']) > 0) {
                        $promoCounter = Mage::getSingleton('core/session')->getPromoCounter();?>
                        <li
                            class="contextmenu-item <?php echo ($countPromoRules == 0 ? 'disabled' : ''); ?>"
                            onclick="expandPackagePromosContainer(event, this)" data-count="<?php echo $promoCounter[$package['package_id']]?>"
                        >
                            <div class="contextmenu-item-icon promotion-icon <?php echo ($countPromoRules == 0 ? 'disabled' : ''); ?>" data-count="<?php echo $promoCounter[$package['package_id']]?>"></div>
                            <?php echo $this->__('Add promotion(s)'); ?>
                        </li>
                    <?php } ?>
                    <li
                        class="contextmenu-item"
                        data-modal-type="<?php echo $deletePackageModalType['modalType']; ?>"
                        data-package-title="<?php echo $deletePackageModalType['packageTitle']; ?>"
                        data-bundle-id="<?php echo $deletePackageModalType['bundleId']; ?>"
                        data-bundle-dummy-package-name="<?php echo $deletePackageModalType['dummyPackageTitle']; ?>"
                        data-modal-message="<?php echo $deletePackageModalType['modalMessage']; ?>"
                        onclick="showCancelPackageModal(event, this)"
                    >
                        <div class="contextmenu-item-icon delete-icon"></div>
                        <?php echo Mage::helper('checkout')->__('Remove'); ?>
                    </li>
                </ul>
            </div>
        <?php elseif (!empty($package['editing_disabled'])): ?>
            <div class="orderline-action contextmenu-action">
                <div class="orderline-action-icon"></div>
            </div>
        <?php endif;?>

        <?php if (isset($package['package_id'])) : ?>
            <div class="orderline-indicator note-indicator">
                <div onclick="window.customerDe.getNoteOnPackage(this, 0)"
                     class="orderline-action-icon package-notes-extended <?php echo (0 < $packageNotes->count()) ? '' : 'hidden' ?> <?php echo isset($templateData['infoSummary']) ? 'hidden' : ''; ?>"
                     id="<?php echo $package['package_id']; ?>" style="background-position-y: 0px;"></div>
            </div>
        <?php endif; ?>

        <?php if (!empty($class['state']['badge'])) {?>
            <div class="badge <?php echo $class['state']['badge']; ?> package-lightbulb-tooltip"
                <?php if ($class['state']['badge'] == "hint") { ?>
                    data-toggle="tooltip" data-placement="left" data-container="body" data-html="true"
                    data-original-title="<span class='lightbulb-tooltip-title'><?php echo $class['tooltipInfo']['title']; ?></span><br/><br/><span><?php echo $class['tooltipInfo']['message']; ?></span>"
                <?php } elseif (!isset($packageModel) || !$packageModel->isPartOfRedPlus()) { ?>
                    data-toggle="tooltip" data-placement="left" data-container="body" data-html="true"
                    data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                    data-original-title="<h5><?php echo !empty($class['tooltipInfo']['title']) ? $class['tooltipInfo']['title'] : ''; ?></h5><p><?php echo !empty($ctnText) ? $this->__('Phone number').': '.$ctnText : ''; ?><br /><?php echo !empty($ctnDescription) ? $ctnDescription : ''; ?></p>"
                <?php } ?> >
                <i class="<?php echo $class['state']['icon']; ?>"></i>
                <?php echo $numberOfCurrentRedplusMembers > 0 ? $numberOfCurrentRedplusMembers : ''; ?>
            </div>
        <?php } ?>

        <?php if (!empty($class['state']['partOfGroup'])) {?>
            <div class="secondBadge <?php echo $class['state']['secondBadge']; ?>"
                 data-toggle="tooltip" data-placement="top" data-container="body" data-html="true"
                 data-template='<div class="tooltip ils-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                 data-original-title="<span class='lightbulb-tooltip-title ils-renew-tooltip'><?php echo $class['tooltipInfo']['title']; ?></span>"
            >
            </div>
        <?php }?>
    </div>
</div>
