location {{ item.1.path }} {
    {% if item.1.rewrite is defined %}
        rewrite {{ item.1.rewrite }}
    {% endif %}
    proxy_pass {{ item.1.pass }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    {% for extra in item.1.extras -%}
        {{ extra }}
    {% endfor %}
}
