<div class="modal shoppingCartModalDelete" id="shoppingCartModalDelete" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModalDeleteLabel"></div>
<script id="Handlebars-Template-Shopping-Cart-Delete-Modal" type="text/x-handlebars-template">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__("Confirmation of deletion"); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <div class="info left">
                        <p><?php echo $this->__('Are you sure you want to delete the offer?') ?></p>
                    </div>
                    <div class="clearfix clearer clear"></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p><img src="<?php echo $this->getSkinUrl('images/black-check.png') ?>" alt=""/></p>
                        <p><?php echo $this->__('Completed')?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal"><?php echo $this->__('Abort') ?></button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" onclick="deleteSavedQuote({{quoteId}})">
                    <?php echo $this->__('Confirm') ?>
                </button>
            </div>
        </div>
    </div>
</script>
