<div class="modal shoppingCartModalNotes" id="shoppingCartModalNotes" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModalNotesLabel"></div>
<script id="Handlebars-Template-Shopping-Cart-Notes-Modal" type="text/x-handlebars-template">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="cancelCartLabel"><?php echo $this->__("Shopping cart notes"); ?></h4>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    {{#each this}}
                        <div class="note-description">
                            <div class="note-date">
                                <?php echo $this->__('Created By'); ?>
                                <span
                                    onmouseover="jQuery(this).tooltip('show')"
                                    onmouseleave="jQuery(this).tooltip('hide')"
                                    data-trigger="manual"
                                    data-placement="bottom"
                                    data-html="true"
                                    title=""
                                    data-original-title="<p class='note-agent-name'>{{ created_agent.name }}</p><p class='note-agent-email'>{{ created_agent.email }}</p><p class='note-agent-phone'><?php echo $this->__('Phonenumber:'); ?> {{ created_agent.phone }}</p>">
                                    {{ created_agent.name }}
                                </span> - {{ created_date }}
                            </div>
                            <div class="note-body">
                                {{ note }}
                            </div>
                        </div>
                        <div class="clearfix clear">&nbsp;</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</script>
