<div class="modal shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModalLabel"></div>
<script id="Handlebars-Template-Shopping-Cart-View-Modal" type="text/x-handlebars-template">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-close">
                <button type="button" class="btn btn-primary" data-dismiss="modal"></button>
            </div>
            <div class="modal-header"><?php echo $this->__("Saved shopping cart") ?> </div>
            <!-- packages content from the right side-->
            <div class="expanded-package-container col-xs-12">
                <!-- packages details devided per package devided per product-->
                <div class="expanded-package-details" data-spy="scroll" data-target="#right_expanded_packets"
                     data-offset="50">
                    {{#each packages}}
                    <div class="cart-pack-title">{{this.title}}</div>
                    <table class="clear package-items-table" cellspacing=0 cellpadding=0>
                        <thead>
                        <tr class="package-item-header">
                            <th class="description">
                                <div class="">
                                    <div class="text">
                                        <p class="package-type">
                                            <?php echo $this->__("Acquisition"); ?>
                                        </p>
                                    </div>
                                </div>
                            </th>
                            <th class="one-of-costs"><?php echo $this->__('One time cost'); ?></th>
                            <th class="monthly-costs"><?php echo $this->__('Monthly'); ?></th>
                            <th class="package-spacer"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- if this package is not empty-->
                        {{#if this.packageItemsBySections}}
                        <!-- each section-->
                        {{#each this.packageItemsBySections}}
                        {{setIndexKey @key}}
                        <!-- each section has elements in it-->
                        {{#if this}}
                        {{#compare this.section_visibility true  operator='=='}}
                        <tr class="small">
                            <td class="description">&nbsp;</td>
                            <td class="one-of-costs">&nbsp;</td>
                            <td class="monthly-costs">&nbsp;</td>
                            <td class="package-spacer">&nbsp;</td>
                        </tr>
                        <!-- each item in section -->
                        {{#each this.items}}
                        {{#compare this.product_visibility true  operator='=='}}
                        <tr class="{{../indexKey}}">
                            <td class="names">
                                {{#compare ../indexKey 'footnote' operator='=='}}
                                <?php echo "&#8226;" ?>
                                {{/compare}}
                                {{this.name}}
                                {{#if this.period}}
                                <div class="subscription-details">
                                    <p> {{this.period}} <?php echo  $this->__("months minimum term") ?></p>
                                </div>
                                {{/if}}
                            </td>
                            <td class="package-prices one-of-costs">
                                {{#compare this.is_installed_base true operator="!="}}
                                    {{#if ../show_prices}}
                                        {{#if this.original_custom_price}}
                                            <p class="original-price">
                                                {{{money this.original_custom_price space=true showZero=true}}}
                                            </p>
                                        {{/if}}
                                        {{#if this.row_total_incl_tax}}
                                            {{{money this.row_total_incl_tax space=true showZero=true}}}
                                        {{/if}}
                                    {{/if}}
                                {{else}}
                                    {{{money '0.00' space=true showZero=true}}}
                                {{/compare}}
                            </td>
                            <td class="package-prices monthly-costs">
                                {{#compare this.is_installed_base true operator="!="}}
                                {{#if ../show_prices}}
                                {{#if this.maf_row_total_incl_tax}}
                                {{{money this.maf_row_total_incl_tax space=true showZero=true}}}
                                {{else}}
                                {{{money '0.00' space=true showZero=true}}}
                                {{/if}}
                                {{/if}}
                                {{else}}
                                {{{money '0.00' space=true showZero=true}}}
                                {{/compare}}
                            </td>
                            <td class="package-spacer">&nbsp;</td>
                        </tr>
                        {{/compare}}
                        {{#compare ../indexKey 'footnote' operator='=='}}
                        {{#compare this.product_visibility true  operator='=='}}
                        <tr class="{{../indexKey}}">
                            <td colspan="4">&nbsp;</td>
                        </tr>
                        {{/compare}}
                        {{/compare}}
                        {{/each}}
                        {{/compare}}
                        {{/if}}
                        {{/each}}
                        <tr class="small">
                            <td class="description">&nbsp;</td>
                            <td class="one-of-costs">&nbsp;</td>
                            <td class="monthly-costs">&nbsp;</td>
                        </tr>
                        {{/if}}
                        </tbody>
                        <tfoot>
                        <!-- totals per package-->
                        <tr>
                            <td class="description">
                                <div class="labels-costs pull-right">
                                    <p><?php echo $this->__('Net'); ?></p>
                                    <p><?php echo $this->__('Tax'); ?></p>
                                    <p><?php echo $this->__('Total'); ?></p>
                                </div>
                            </td>
                            <td class="one-of-costs">
                                <p>{{{money totals.subtotal_price space=true showZero=true}}}</p>
                                <p>{{{money totals.tax_price space=true showZero=true}}}</p>
                                <p>{{{money totals.total space=true showZero=true}}}</p>
                            </td>
                            <td class="monthly-costs">
                                <div>
                                    <p>{{{money totals.subtotal_maf space=true showZero=true}}}</p>
                                    <p>{{{money totals.tax_maf space=true showZero=true}}}</p>
                                    <p>{{{money totals.total_maf space=true showZero=true}}}</p>
                                </div>
                            </td>
                            <td class="package-spacer">&nbsp;</td>
                        </tr>
                        </tfoot>
                    </table>
                    <br/>
                    <!-- products displayed from a package in 4 sections: hardware, tariff, option and promotion-->
                    {{/each}}
                </div>

                {{#ifCond show_only '!==' true}}
                <div class="buttons-container">
                    <div class="table-button below-table-button">
                        <label>
                            <input type="button" class="btn btn-info-white btn-black" value="<?php echo $this->__('E-mail Shopping Cart') ?>" />
                        </label>
                    </div>
                </div>
                {{/ifCond}}
            </div>
        </div>
    </div>
</script>
