<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

?>
<div>
    <div>
        <p>
            Gut zu wissen:  Die GigaKombi löst Red One ab. In Ihren Dokumenten heißt die GigaKombi aber noch eine Zeit lang Red One.<br>
        </p>
        <span>Ihre Mobilfunk-Vorteile</span>
        <ul>
            <li>10 Euro mtl. Rabatt auf Mobilfunkrechnung</li>
            <li>5 Euro mtl. Rabatt auf bis zu 4 Red+ Allnet</li>
            <li>WiFi Calling kostenlos</li>
        </ul>
        <h3>Ihre Festnetz-Vorteile</h3>
        <ul>
            <li>Mobilfunk-Flat aus dem Festnetz</li>
            <li>2 Euro Rabatt auf WLAN-Option bei Buchung eines Kabelanschlusses</li>
        </ul>
        <p>
            Rabatte werden gewährt, sobald der Festnetzauftrag aktiv ist.
        </p>
    </div>
</div>
