<?php
    $templateData = $this->getData();

    $allPackages = $templateData['packages'];

    $packageCount = count($allPackages);
    $packageIndex = 0;

    /** @var $helper Dyna_Checkout_Helper_Data */
    $helper = Mage::helper('dyna_checkout');

    /** @var Dyna_Checkout_Model_Sales_Quote $quote */
    $quote = isset($templateData['is_offer_summary']) ? Mage::getModel('sales/quote')->load($templateData['quote_id']) : $this->getQuote();

    /** @var $packageHelper Dyna_Package_Helper_Data */
    $packageHelper = Mage::helper('dyna_package');

    if (isset($templateData['is_offer_summary'])) {
        echo '<h2>' . $this->__('Your offer') . '</h2>';
    } else {
        echo '<h2>' . $this->__('Your order') . '</h2>';
    }
    $hasPriceSliding = false;
    $footnotes = '';
?>

<style>
    body {
        margin-top: 30px;
    }
    .discount-price {
        font-family: "Roboto", 'Arial Bold', 'Arial', serif;
        font-weight: 700;
        font-style: normal;
        line-height: normal;
        color: #427D00;
    }
    .title h1 {
        padding-left: 60px;
    }
    .center-align {
        text-align: center;
    }
    .bold-header {
        font-weight: bold;
    }
    img.top-logo {
        left: -50px;
    }
    .greetings {
        padding-top: 25px;
    }
    .white-bckg td {
        background-color: white;
    }
    h2 {
        color: #E60000;
        font-size: 28px;
        line-height: 32px;
        font-family: "Arial Rounded MT", Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .personal-data-table h2,
    .offer-table h2 {
        padding-bottom: 10px;
    }
    .delivery-img {
        height: 5.5em;
    }
    td.image-cell {
        width: 45px;
        vertical-align: top;
    }
</style>

<?php
    /** @var Dyna_Package_Model_Package $package */
    foreach ($allPackages as $package):
    $packageIndex++;

    $packageType = $package->getType();
    if (isset($templateData['is_offer_summary']) && !($package->getData('items'))) {
        $package->setData('items', $quote->getPackageItems($package->getPackageId()));
    } elseif (!isset($templateData['is_offer_summary']) && !($package->getData('items'))) {
        $package->setData('items', $package->getPackageItemsWithoutAlternate());
    }

    $packageItemsBySubtype = $package->getPackagesProductsForSidebarSection($package->getData('items'), Dyna_Catalog_Model_Product::PRODUCT_VISIBILITY_ORDER_OVERVIEW);

    // get unique base customer identifier and display it for ILS flows only
    $uniqueBaseCustomerIdentifier = Mage::helper('dyna_checkout/layout')->getUniqueBaseIdentifier($package);
?>
<table class="order-table">
    <thead></thead>
    <tbody>
        <tr>
            <th class="brder-top">
                <h3><?php echo $this->__('Your selection'); ?></h3>
            </th>
            <th class="center price once brder-top"><h3><?php echo $this->__('One Time'); ?></h3></th>
            <th class="price monthly brder-top"><h3><?php echo $this->__('Monthly'); ?></h3></th>
        </tr>

    <?php $sectionIndex = 0;
    $footnoteHeader = $footnoteBody = array();
    foreach ($packageItemsBySubtype as $section => $productsInSection) :
        if (isset($productsInSection['items']) && !empty($productsInSection['items'])) {
            $formatedItemsForPriceSliding = $helper->getFormattedItemsForPriceSliding($packageItemsBySubtype[$section]['items']);
            $priceSlicing = isset($priceSlicing) ? array_merge($priceSlicing,$formatedItemsForPriceSliding) : $formatedItemsForPriceSliding;
        }
        $itemIndex = 0;
        ?>
        <?php if (isset($productsInSection['items'])) : ?>
            <?php foreach($productsInSection['items'] as $key => $product) :
                $currentProductId = Mage::getModel("catalog/product")->getIdBySku($product['sku']);
                $currentProduct = Mage::getModel('catalog/product')->load($currentProductId);
                // if current product is footnote on a mobile package, display it outside the product table (VFDED1W3S-3764)
                if (in_array(strtolower($packageType), Dyna_Catalog_Model_Type::getMobilePackages()) && $currentProduct->isFootnote()) {
                    $packageId = $package->getPackageId();

                    $footnoteHeader[$packageId] = array_key_exists($packageId, $footnoteHeader)
                        ? $footnoteHeader[$packageId]
                        : '<h4>' . $productsInSection['section_name'] . '</h4>';

                    $footnoteBody[$packageId] = array_key_exists($packageId, $footnoteBody)
                        ? $footnoteBody[$packageId]
                        : '<p>' . $product['name'] . '</p>';

                    continue;
                }
                // same goes to section name
                if ($itemIndex == 0): ?>
                    <tr<?php echo !$productsInSection['section_visibility'] ? ' class="hidden"' : '';  ?>>
                        <td class="brder-top"><h4><?php echo $productsInSection['section_name']; ?></h4></td>
                        <td class="price center brder-top monthly"></td>
                        <td class="price brder-top once"></td>
                    </tr>
                <?php endif; ?>
                <tr<?php echo !$product['product_visibility'] ? ' class="hidden"' : '';  ?>>
                    <td class="">
                        <?php echo $product['name']; ?>
                        <?php if (!empty($product['period'])): ?>
                            <?php echo '<br>' . $product['period'] . ' ' . $this->__("months minimum term"); ?>
                        <?php endif; ?>
                        <?php if (($itemIndex == 0) && $uniqueBaseCustomerIdentifier): ?>
                            <?php echo '<br>' . $uniqueBaseCustomerIdentifier; ?>
                        <?php endif; ?>
                    </td>
                    <td class="price center once<?php echo (isset($product['row_total_incl_tax']) && ($product['row_total_incl_tax']) < 0) ? ' discount-price' : ''; ?>">
                        <?php echo isset($product['row_total_incl_tax']) && $product['row_total_incl_tax'] != 0 ?
                            $helper->showNewFormattedPriced($product['row_total_incl_tax']) : $helper->showNewFormattedPriced(0.00); ?>
                    </td>
                    <td class="price monthly<?php echo (isset($product['maf_row_total_incl_tax']) && ($product['maf_row_total_incl_tax']) < 0) ? ' discount-price' : ''; ?>">
                        <?php echo isset($product['maf_row_total_incl_tax']) && $product['maf_row_total_incl_tax'] != 0 ?
                            $helper->showNewFormattedPriced($product['maf_row_total_incl_tax']) : $helper->showNewFormattedPriced(0.00); ?>
                    </td>
                </tr>
                <?php if (isset($product['promos'])): ?>
                    <?php foreach($product['promos'] as $promo) : ?>
                        <tr<?php echo !$promo['product_visibility'] ? ' class="hidden"' : '';  ?>>
                            <td class="">
                                <?php echo $promo['name'] ;?>
                            </td>
                            <td class="price center once<?php echo (isset($promo['price_discount']) && $promo['price_discount'] > 0) ? ' discount-price' : ''; ?>">
                                <?php echo isset($promo['price_discount']) && $promo['price_discount'] > 0
                                    ? $helper->showNewFormattedPriced(-1 * $promo['price_discount'])
                                    : '&nbsp;'; ?>
                            </td>
                            <td class="price monthly<?php echo (isset($promo['maf_discount']) && $promo['maf_discount'] > 0) ? ' discount-price' : ''; ?>">
                                <?php echo isset($promo['maf_discount']) && $promo['maf_discount'] > 0
                                    ? $helper->showNewFormattedPriced(-1 * $promo['maf_discount'])
                                    : '&nbsp;' ; ?>
                            </td>
                        </tr>
                    <?php endforeach;?>
                <?php endif?>
            <?php $itemIndex++; endforeach; ?>
    <?php endif; ?>
        <?php $sectionIndex++; ?>
    <?php endforeach ?>

    <?php
    $packageTotals = $quote->calculateTotalsForPackage($package->getPackageId());
    ?>

    <tr class="white-bckg">
        <td class="brder-top">
            <h3><?php echo $this->__('Total costs'); ?></h3>
            <span><?php echo '(' . $this->__('including 19% VAT') . ')'; ?></span>
        </td>
        <td class="price center brder-top once">
            <h5><?php echo $this->__('One Time'); ?></h5>
            <?php echo $helper->showNewFormattedPriced($packageTotals['total']) ?>
        </td>
        <td class="price brder-top monthly">
            <h5><?php echo $this->__('Monthly'); ?></h5>
            <?php echo $helper->showNewFormattedPriced($packageTotals['total_maf']) ?>
        </td>
    </tr>

    <?php //get products with slide prices per Month
    if(!empty($priceSlicing) && ($package->isCable())):
        $priceSlicing = $helper->getPriceSlidingPerMonthForAllProduct($priceSlicing);
        $headers = array_diff( array_keys(current($priceSlicing)), ['total'] );
        $hasPriceSliding = true;
        foreach ($priceSlicing as $sku => $row) : ?>
        <tr class="white-bckg">
            <?php foreach ($row as $key => $price) : ?>
                <?php  if ($key == 'month'): ?>
                    <td class="brder-top">
                        <?php
                        $months = $row['month']['from'] != $row['month']['to'] ? ($row['month']['to'] != '... ' ? $row['month']['from'] .' - '. $row['month']['to'] : $row['month']['from'] . '.')  : $row['month']['from'];
                        echo $this->__('From'). " " . $months . " " . $this->__("Month");
                        ?>
                    </td>
                <?php endif; ?>
            <?php endforeach ?>
            <td class="center brder-top"></td>
            <td class="price brder-top once"><?php echo $helper->showNewFormattedPriced($row['total']) ?></td>
        </tr>
    <?php
        endforeach;
    endif;
    ?>
    </tbody>
</table>
<?php
    unset($priceSlicing);
    if (!empty($footnoteHeader[$package->getPackageId()]) && !empty($footnoteBody[$package->getPackageId()])) {
        $footnotes .= $footnoteHeader[$package->getPackageId()] . $footnoteBody[$package->getPackageId()];
    }
    endforeach;
?>

<table>
    <tr class="white-bckg">
        <td class="brder-top">
            <?php if ($hasPriceSliding): ?>
            <h3><?php echo $this->__('Total in 1st month');?></h3>
            <?php else: ?>
            <h3><?php echo $this->__('Total costs'); ?></h3>
            <?php endif; ?>
        </td>
        <td class="price center brder-top once"><h5><?php echo $this->__('One Time'); ?></h5></td>
        <td class="price brder-top monthly"><h5><?php echo $this->__('Monthly'); ?></h5></td>
    </tr>

    <tr class="white-bckg">
        <td class="mwst brder-top"><h4><?php echo $this->__('Net'); ?></h4></td>
        <td class="center price price-bold monthly brder-top"><?php
            echo $helper->showNewFormattedPriced($templateData['order_prices']['initialMixmatchSubtotal']); ?></td>
        <td class="price price-bold once brder-top"><?php
            echo $helper->showNewFormattedPriced($templateData['order_prices']['initialMixmatchMafSubtotal']); ?></td>
    </tr>

    <tr class="white-bckg">
        <td class="mwst"><h4><?php echo $this->__('Tax'); ?></h4></td>
        <td class="center price price-bold monthly"><?php
            echo $helper->showNewFormattedPriced($templateData['order_prices']['initialMixmatchTax']); ?></td>
        <td class="price price-bold once"><?php
            echo $helper->showNewFormattedPriced($templateData['order_prices']['initialMixmatchMafTax']); ?></td>
    </tr>

    <tr class="white-bckg">
        <td class="mwst brder-top">
            <h4><?php echo $this->__('Total costs'); ?></h4>
            <span><?php echo '(' . $this->__('including 19% VAT') . ')'; ?></span>
        </td>
        <td class="center price price-bold monthly brder-top"><?php
            echo $helper->showNewFormattedPriced($templateData['order_prices']['initialMixmatchTotal']); ?></td>
        <td class="price price-bold once brder-top"><?php
            echo $helper->showNewFormattedPriced($templateData['order_prices']['initialMixmatchMafTotal']); ?></td>
    </tr>
</table>

<?php echo $footnotes != '' ? $footnotes : ''; ?>