<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

$personalData = $this->getPersonalData();
$serviceData = $this->getServiceAddressDetails();
$deliveryData = $this->getDeliveryData();
?>
<table class="ghost-table personal-data-table">
    <tr>
        <th colspan="2">
<h2>Ihre persönlichen Daten</h2>
        </th>
    </tr>
    <tr>
        <td class="first-column">
                <table class="order-no"><tbody>
                    <tr><td>
                    <?php
                    echo $this->__($personalData['name'].'<br>');
                    echo $this->__($personalData['address'].'<br>');
                    echo $this->__($personalData['city'].'<br>');
                    ?>
                    </td></tr>
                </tbody></table>
        </td>
        <td>
                <table class="order-no">
                    <tbody>
                        <tr><td class="narrow"><strong>Bestellnummer</strong></td><td><?php echo '<span>: '.$this->getOrderId(); ?></span></td></tr>
                        <tr><td class="narrow"><strong>Bestelldatum</strong></td><td><?php echo '<span>: '.$this->getOrderDate(); ?></span></td></tr>
                    </tbody>
                </table>
        </td>
    </tr>
    <tr>
        <td class="first-column">
        <?php if($this->hasCable()) : ?>
            <div class="adresses">
            <h3 class="delivery-address">Installationsadresse:</h3>
                <?php
                echo $this->__($deliveryData['name'].'<br>');
                echo $this->__($serviceData['street'].' '.$serviceData['houseno'].' '.$serviceData['addition'].'<br>');
                echo $this->__($serviceData['postcode'].' '.$serviceData['city'].'<br>');
                ?>
            </div>
        </td><td>
        <?php endif ?>
        <div class="adresses">
            <h3 class="delivery-address">Lieferadresse:</h3>
                <?php
                echo $this->__($deliveryData['name'].'<br>');
                echo $this->__($deliveryData['address'].'<br>');
                echo $this->__($deliveryData['city'].'<br>');
                ?>
        </div>
        </td>
    </tr>
</table>