<?php
/**
 * Copyright (c) 2016. Dynacommerce B.V.
 */

?>

<?php
$mafTotal = $this->getMafTotal();
$total = $this->getTotal();
$title = ($total) ? $total->getTitle() : $mafTotal->getTitle();
$style = ($total) ? $total->getStyle() : $mafTotal->getStyle();
?>
<tr class="div-table-row excluding-tax">
    <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $style ?>" class="div-table-cell a-right">
        <?php if ($total && $this->getRenderingArea() == $total->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->escapeHtml($title); ?>
            <?php if ($total && $this->getRenderingArea() == $total->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $style ?>" class="div-table-cell a-right">
        <?php if ($mafTotal): ?>
            <?php if ($this->getRenderingArea() == $mafTotal->getArea()): ?><strong><?php endif; ?>
                <?php echo $this->helper('checkout')->formatPrice($mafTotal->getValue()) ?>
            <?php if ($this->getRenderingArea() == $mafTotal->getArea()): ?></strong><?php endif; ?>
        <?php endif; ?>
    </td>
    <td style="<?php echo $style ?>" class="div-table-cell a-right">
        <?php if ($total): ?>
            <?php if ($this->getRenderingArea() == $total->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($total->getValue()) ?>
            <?php if ($this->getRenderingArea() == $total->getArea()): ?></strong><?php endif; ?>
        <?php endif; ?>
    </td>
</tr>
