/*!
 * Copyright (c) 2018. Dynacommerce B.V.
*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10 */
  .vn-table .table-body .table-row .table-row-context-menu .context-menu {
    padding-left: 0px !important;
    top: -27px !important;
  }
  .vn-table .table-body .table-row .table-row-context-menu .ellipsis {
    top: -5px !important;
  }
  .vn-table
    .table-body
    .table-row
    .table-row-context-menu
    .context-menu
    .context-menu-item {
    width: 0px !important;
    margin-right: 28px !important;
    display: inline !important;
  }
  /* IE11 */
  *::-ms-backdrop,
  .vn-table .table-body .table-row .table-row-context-menu .context-menu {
    padding-left: 0px !important;
    top: -22px !important;
  }
  *::-ms-backdrop,
  .vn-table .table-body .table-row .table-row-context-menu .ellipsis {
    top: -10px !important;
  }
}

*::-ms-backdrop,
.vn-table
  .table-body
  .table-row
  .table-row-context-menu
  .context-menu
  .context-menu-item {
  width: 0px !important;
  margin-right: 35px !important;
  display: inline !important;
}

/* Hidde buttons from context menu */
#customer-screen-orders .context-menu-item,
#customer-screen-orders .table-row-context-menu,
#customer-screen-orders .table-row-group-toggle {
  display: none !important;
}