<?php
/**
 * Copyright (c) 2018. Dynacommerce B.V.
 */

/** @var Vznl_Checkout_Helper_Data $checkoutHelper */
$checkoutHelper = Mage::helper('omnius_checkout');
/** @var Vznl_Customer_Helper_Data $customer */
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customerIsBusiness = $customer->getIsBusiness();
$onlyButtons = $this->getOnlyShowButtons();
$package = $this->getPackage();
$packageId = $package['package_id'];
$defaultPackageType = Mage::getModel('package/package')->getDefaultPackageType();
$productGroupCollection = array();
foreach ($defaultPackageType as $type) {
    $defaultProductOrder = Mage::getModel('package/package')->getDefaultProductOrder($simcard = false, $type);
    $productGroupCollection = array_merge($defaultProductOrder,$productGroupCollection);
}
$oldProductGroup = '';
$currentPackage = Mage::getModel('package/package')->getPackages(null, $quote->getId(), $packageId)->getFirstItem();
$withBtw = Mage::getSingleton('customer/session')->showPriceWithBtw();
$currentPackage->setIsExtendedCart($this->getIsExtendedCart())->setWithBtw($withBtw)->setPackageId($packageId);
$agent = Mage::getSingleton('customer/session')->getAgent();
$agentHelper = Mage::helper('vznl_agent');
$isIndirect = $agentHelper->isIndirectStore();
$loggedInAgent = Mage::getSingleton('customer/session')->getAgent(true);
$cancelledPackagesNow = Mage::registry('cancelledPackagesNow') ?: [];
$canChangeSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(
    Vznl_Agent_Model_Agent::AGENT_CHANGE_PACKAGE,
    $this->getSuperOrder()
);
$canCancelSuperorder = $loggedInAgent->canDoActionOnSuperorderPackage(
    Vznl_Agent_Model_Agent::AGENT_CANCEL_PACKAGE,
    $this->getSuperOrder()
);
$isOrderClosed = $this->getSuperOrder()->getOrderStatus() == Vznl_Superorder_Model_Superorder::SO_CLOSED;
/** @var Vznl_Package_Model_Package $package */
$packageDisabled = false;
/** @var Vznl_Superorder_Model_Superorder $superOrder */
$superOrder = $this->getSuperOrder();
$packageAllowPortingEdit = $package->allowNumberPortingEdit((bool) $package->getCurrentNumber());
$missingSim = $superOrder->getMissingSim();
if (!$packageAllowPortingEdit) {
    $packageDisabled = (bool) $package->getCurrentNumber();
}

$showReturnButton = !( in_array($package->getStatus(), Vznl_Package_Model_Package::getCancelledTypePackages())
        || $package->getReturnDate()
        || (count(array_merge($this->getModifiedPackageIds(), $this->getCancelledPackageIds()))
            && (($package->getStatus() !== $this->getEditedPackageStatus()) || $this->getIsLocked()))
    ) && Mage::getSingleton('customer/session')->getAgent(true)->isGranted(['REGISTER_RETURN']);
if ($showReturnButton) {
    if ($package->getNewPackageId()) {
        // if package was edited, only show if hardware changed
        $showReturnButton = (bool) $package->getHardwareChange();
    } else {
        // if package was not yet edited, only show if there is a hardware item in the package
        $showReturnButton = $package->containsHardware();
    }
}
$hasShoppingCart = (bool) Mage::getModel('checkout/cart')->getQuote()->getPackages();

$packageTotals = $package->getPackageTotals($this->getItems());
$cancelledPackages = $onlyButtons ? ($package->isCancelled() ? [$package->getPackageId()] : []) : Mage::helper('omnius_package')->getCancelledPackages();
$isCanceled = in_array($package->getPackageId(), array_merge($cancelledPackages, $cancelledPackagesNow)) || strtotime($package->getCancellationDate()) > 0;
$labelClass = ($isCanceled !== false) ? 'striked ' : '';
$totalsClass = $labelClass . 'red';
$isDelivered = $package->isDelivered();

if (!$onlyButtons) {
    foreach ($productGroupCollection as $productGroup) { ?>
        <?php $packageData = $currentPackage->getDisplayFor($productGroup, $this->getItems()); ?>
        <?php if ($packageData) { ?>
            <?php foreach ($packageData as $qo_id => $data) { ?>
                <?php if (empty($data['name'])) continue; ?>
                <?php if ($oldProductGroup != $productGroup ) { //if productGroup changed, put a dotted line ?>
                    <div class="package-section">
                        <div class="section-name">
                            <?php echo $this->__($productGroup); ?>
                        </div>
                        <?php if (!$isIndirect) : ?>
                            <div class="section-onetime">
                                <?php echo $checkoutHelper->__('Upfront'); ?>
                            </div>
                        <?php endif; ?>
                        <div class="section-monthly">
                            <?php echo $checkoutHelper->__('Monthly'); ?>

                        </div>
                    </div>
                    <?php $oldProductGroup = $productGroup; ?>
                <?php } ?>
                <div class="package-subsection">
                    <?php for ($i = 0; $i < count($data['name']); $i++): ?>
                        <?php if (!empty($data['image'][$i])): ?>
                            <div class="subsection-element subsection-big">
                                <div class="subsection-name">
                                    <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                </div>
                                <?php if (!$isIndirect) : ?>
                                    <div class="section-onetime">
                                        <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                                    </div>
                                <?php endif?>
                                <div class="section-monthly">
                                    <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="subsection-element subsection-small">
                                <div class="subsection-name">
                                    <?php echo isset($data['name'][$i]) ? $data['name'][$i] : ''; ?>
                                </div>
                                <?php if (!$isIndirect) : ?>
                                    <div class="section-onetime">
                                        <?php echo isset($data['price'][$i]) ? $data['price'][$i] : ''; ?>
                                    </div>
                                <?php endif?>
                                <div class="section-monthly">
                                    <?php echo isset($data['maf'][$i]) ? $data['maf'][$i] : ''; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endfor; ?>
                </div>

            <?php } ?>

        <?php } ?>
    <?php }
} ?>

<?php if (in_array($package->getPackageId(), $this->getModifiedPackageIds()) && $isDelivered) { ?>
    <?php $packageDiffPrice = Mage::helper('omnius_package')->getPackageDifferences($package->getPackageId()); ?>
    <?php $totalsClass = $labelClass; ?>
<?php } ?>
<?php if (!$onlyButtons) { ?>


    <div class="package-summary">
        <div class="summary-contents">
            <div class="subsection-name">
                <?php echo $this->helper('tax')->__('Excl.'); ?>
            </div>
            <?php if (!$isIndirect) : ?>
                <div class="section-onetime <?php echo $labelClass; ?>">
                    <?php echo Mage::helper('core')->currency($packageTotals['additional_subtotal'], true, false); ?>
                </div>
            <?php endif?>
            <div class="section-monthly <?php echo $labelClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['subtotal_maf'], true, false); ?>
            </div>
        </div>
        <div class="summary-contents">
            <div class="subsection-name">
                <?php echo $this->helper('tax')->__('Tax'); ?>
            </div>
            <?php if (!$isIndirect) : ?>
                <div class="section-onetime <?php echo $labelClass; ?>">
                    <?php echo Mage::helper('core')->currency($packageTotals['additional_tax'], true, false); ?>
                </div>
            <?php endif?>
            <div class="section-monthly <?php echo $labelClass; ?>">
                <?php echo Mage::helper('core')->currency($packageTotals['tax_maf'], true, false); ?>
            </div>
        </div>
        <div class="summary-contents">
            <div class="subsection-name">
                <strong><?php echo $this->helper('tax')->__('Total'); ?></strong>
            </div>
            <?php if (!$isIndirect) : ?>
                <div class="section-onetime <?php echo $labelClass; ?>">
                    <strong><?php echo Mage::helper('core')->currency($packageTotals['additional_total'], true, false); ?></strong>
                </div>
            <?php endif?>
            <div class="section-monthly <?php echo $labelClass; ?>">
                <strong><?php echo Mage::helper('core')->currency($packageTotals['total_maf'], true, false); ?></strong>
            </div>
        </div>

        <?php
        if (isset($packageDiffPrice) && $isDelivered) {
            if ($packageDiffPrice > 0) {
                $toBePaid = Mage::registry('to_pay_amount');
                Mage::unregister('to_pay_amount');
                if ($toBePaid) {
                    $toBePaid[$package->getPackageId()] = $packageDiffPrice;
                } else {
                    $toBePaid = [$package->getPackageId() => $packageDiffPrice];
                }
                Mage::register('to_pay_amount', $toBePaid, true);
                Mage::getSingleton('customer/session')->setToPayAmount($toBePaid);
            }
            ?>
            <div class="summary-contents">
                <div class="subsection-name">
                    <strong><?php echo $checkoutHelper->__($packageDiffPrice >= 0 ? 'Payment' : 'Refund'); ?></strong>
                </div>
                <div class="section-monthly">
                    <strong><?php echo Mage::helper('core')->currency($packageDiffPrice < 0 ? -1 * $packageDiffPrice : $packageDiffPrice, true, false); ?></strong>
                </div>
            </div>
        <?php } ?>
        <?php if (!$isDelivered && !$isCanceled) {
            $toBePaid = Mage::registry('to_pay_amount');
            Mage::unregister('to_pay_amount');
            if ($toBePaid) {
                $toBePaid[$package->getPackageId()] = $packageTotals['total'];
            } else {
                $toBePaid = [$package->getPackageId() => $packageTotals['total']];
            }
            Mage::register('to_pay_amount', $toBePaid, true);
            Mage::getSingleton('customer/session')->setToPayAmount($toBePaid);
        } ?>
    </div>
<?php } ?>
