
<?php
$show_postal_code          = (bool)Mage::getStoreConfig('omnius_general/address_check/show_postal_code');
$show_city                 = (bool)Mage::getStoreConfig('omnius_general/address_check/show_city');
$show_street               = (bool)Mage::getStoreConfig('omnius_general/address_check/show_street');
$show_house_no             = (bool)Mage::getStoreConfig('omnius_general/address_check/show_house_no');
$show_house_no_extension   = (bool)Mage::getStoreConfig('omnius_general/address_check/show_house_no_extension');
$postal_code_mandatory     = (bool)Mage::getStoreConfig('omnius_general/address_check/is_postal_code_mandatory');
$city_mandatory            = (bool)Mage::getStoreConfig('omnius_general/address_check/is_city_mandatory');
$street_mandatory          = (bool)Mage::getStoreConfig('omnius_general/address_check/is_street_mandatory');
$house_no_mandatory        = (bool)Mage::getStoreConfig('omnius_general/address_check/is_house_no_mandatory');
$house_extension_mandatory = (bool)Mage::getStoreConfig('omnius_general/address_check/is_house_no_extension_mandatory');
?>

<div class="middle_menu <?php if($show_postal_code == 0 && $show_city == 0 && $show_street == 0 && $show_house_no == 0 && $show_house_no_extension == 0): ?>hide<?php endif ?>">
    <div class="action_menu" >
        <div id="serviceability-content"><!-- Ajax filled--></div>
        <div id="address-check-container" class="address-check">
            <p>
                <?php echo $this->__("Address check"); ?> <span class="loading-search invisible"></span>
            </p>
        </div>
        <div class="serviceability-container ">
            <form id="topaddressCheckForm" class="form-inline form-row-small clearfix">
                <div class="form-group col-xs-3 <?=(!$show_postal_code ? 'hidden' : '')?>">
                    <input type="text" data-typeplace = "(regions)" placeholder="<?php echo $this->__("Postcode"); ?>" class="form-control top-address-validations<?php if($postal_code_mandatory == 1): ?> required-entry <?php endif ?>" name="postcode" id="topBar.addressCheck.postcode"  title="<?php echo $this->__('Zip code contains 5 characters'); ?>"  autocomplete="off">
                </div>
                <div class="form-group col-xs-2 <?=(!$show_city ? 'hidden' : '')?>">
                    <input type="text" data-typeplace="(regions)" placeholder="<?php echo $this->__("City"); ?>" class="form-control top-address-validations<?php if($city_mandatory == 1): ?> required-entry <?php endif ?>" name="city" id="topBar.addressCheck.city"  autocomplete="off">
                </div>
                <div class="form-group col-xs-3 <?=(!$show_street ? 'hidden' : '')?>">
                    <input type="text" data-typeplace="address" placeholder="<?php echo $this->__("Street"); ?>" class="top-address-validations form-control<?php if($street_mandatory == 1): ?> required-entry <?php endif ?>" name="street" id="topBar.addressCheck.street"  autocomplete="off">
                </div>
                <div class="form-group col-xs-1 <?=(!$show_house_no ? 'hidden' : '')?>">
                    <input type="text" placeholder="<?php echo $this->__("No."); ?>" class="top-address-validations form-control validate-length minimum-length-1<?php if($house_no_mandatory == 1): ?> required-entry <?php endif ?>" name="houseNo" id="topBar.addressCheck.houseNo" title="<?php echo $this->__('House number contains min. 1 character'); ?>"  autocomplete="off">
                </div>
                <div class="form-group col-xs-1 <?=(!$show_house_no_extension ? 'hidden' : '')?>">
                    <input type="text" placeholder="<?php echo $this->__("Add."); ?>" class="form-control top-address-validations<?php if($house_extension_mandatory == 1): ?> required-entry <?php endif ?>" name="addition" id="topBar.addressCheck.addition"  autocomplete="off">
                </div>
                <div class="form-group col-xs-2">
                    <button disabled type="button" class="btn btn-primary btn-block has-spinner check-button" onclick="address.checkServiceabilityHeader('#topaddressCheckForm')">
                        <?php echo $this->__("Check") ?> <span class="btn-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
  window.services = {};
</script>