<script id="Handlebars-Template-Customer-Campaigns" type="text/x-handlebars-template">
    <?php
        $customerSession = Mage::getSingleton('customer/session');
    ?>
    <div class="middle offers-list">
        <div class="clearfix pbl"> </div>
        <div class="campignrectangle-7"></div>
        <div class="clearfix pbl"> </div>
        {{#if this.campaigns }}
            {{#compare this.serviceability '0' operator='=='}}
                <div class="campserviceability-check-warning"><span><?php echo $this->__("Perform the serviceability check before selecting an order"); ?></span></div>
            {{/compare}}
            <div class="campaign-row col-xs-12">
                {{#each this.campaigns}}
                <div class="campofferrectangle-3 col-xs-6" data-campaign="{{this.identifier}}">
                <div class="divboarder">
                <div class="ptl"></div>
                    <div class="campoffertitle" >
                    {{#if this.title_description}}
                        {{this.title_description}}
                    {{else}}
                        {{this.identifier}}
                    {{/if}}
                    <span class="campaignoffer-info" data-toggle="tooltip" data-html="true" data-container="body"
                      data-placement="right service-description" data-title="<span class='camptooltip'>
                      <p class='campaign-tooltiptext'>{{this.identifier}}</p>
                      </span>
                      ">&nbsp;</span>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="campsubtitle-descriptio pull-left">
                    {{#if this.subtitle_description}}
                        {{this.subtitle_description}}
                    {{/if}}
                    </div>
                    <div class="ptl clearboth"></div>
                    <div class="camphr"></div>
                    <div class="ptl clearboth"></div>
                    <div id="uspblock_{{this.identifier}}" class="campofferblock">
                        <?php $i=0; ?>
                        {{#if this.usp1pakagetype}}
                            <div class="usppackagetype">
                            {{this.usp1pakagetype}}
                            </div>
                        {{/if}}
                        {{#if this.usp1}}<?php $i++; ?>
                            <div class="campofferusp">
                            <span class="campaignoffer-check" >&nbsp;</span>
                            {{this.usp1}}
                            </div>
                        {{/if}}
                        {{#if this.usp2pakagetype}}
                            <div class="usppackagetype">
                            {{this.usp2pakagetype}}
                            </div>
                        {{/if}}
                        {{#if this.usp2}}<?php $i++; ?>
                            <div class="campofferusp">
                            <span class="campaignoffer-check" >&nbsp;</span>
                            {{this.usp2}}
                            </div>
                        {{/if}}
                        {{#if this.usp3pakagetype}}
                            <div class="usppackagetype">
                            {{this.usp3pakagetype}}
                            </div>
                        {{/if}}
                        {{#if this.usp3}}<?php $i++; ?>
                            <div class="campofferusp">
                            <span class="campaignoffer-check" >&nbsp;</span>
                            {{this.usp3}}
                            </div>
                        {{/if}}
                        {{#if this.usp4pakagetype}}
                        <div class="usppackagetype">
                        {{this.usp4pakagetype}}
                        </div>
                        {{/if}}
                        {{#if this.usp4}}<?php $i++; ?>
                            <div class="campofferusp">
                            <span class="campaignoffer-check" >&nbsp;</span>
                            {{this.usp4}}
                            </div>
                        {{/if}}
                        {{#if this.usp5pakagetype}}
                        <div class="usppackagetype">
                        {{this.usp5pakagetype}}
                        </div>
                        {{/if}}
                        {{#if this.usp5}}<?php $i++; ?>
                            <div class="campofferusp">
                            <span class="campaignoffer-check" >&nbsp;</span>
                            {{this.usp5}}
                            </div>
                        {{/if}}
                    </div>

                    <div class="campshowmorediv">
                    <div id="uspsmdiv_{{this.identifier}}">
                        <div class="campshow-more" id="uspshowmore_{{this.identifier}}"
                             onclick="address.campaignUspShow('{{this.identifier}}','SM')" style="display: block;"> <?php echo $this->__("SHOW MORE") ?>
                            <span class="arrowdown">&nbsp;</span>
                        </div>

                        <div class="campshow-more" id="uspshowless_{{this.identifier}}"
                             onclick="address.campaignUspShow('{{this.identifier}}','SL')" style="display: none;"><?php echo $this->__("SHOW LESS") ?>
                            <span class="arrowup">&nbsp;</span>
                        </div>
                        <input type="hidden" name="uspvalue_{{this.identifier}}" id="uspvalue_{{this.identifier}}" value="SM">
                    </div>
                    </div>
                    <div class="pbs clearboth"> </div>
                    <div class="camphr"></div>
                    <div class="ptl clearboth"> </div>

                        <div class="campofferundiscounted-price">
                        {{#if this.undiscounted_price_per_month}}
                        {{this.undiscounted_price_per_month}} <span class="euro-sign-big">&euro;</span>
                        {{/if}}
                        </div>
                        <div class="clearboth"></div>
                        <div class="campofferdiscounted-per-mon">
                        {{#if this.discounted_price_per_month}}
                        {{this.discounted_price_per_month}} <span class="euro-sign-big">&euro;</span>
                        <span class="text"><?php echo $this->__("per month") ?></span>
                        {{/if}}
                        </div>

                        <div class="campofferdiscounted-months">
                        {{#if this.discounted_months}}
                        <?php echo $this->__("Runs for") ?>
                        {{this.discounted_months}}
                        <?php echo $this->__("Months") ?>
                        {{/if}}
                        </div>

                    <?php if ($customerSession->getAgent()->isGranted(array('SELECT_CAMPAIGN_OFFER'))) : ?>
                        {{#compare this.status '1' operator="=="}}
                            <div class="buy-campaign-button campofferbutton-background disabled{{#if this.initConfiguratorData.hasInvalidProducts}} invalid-products-disabled{{/if}} {{#if this.initConfiguratorData.disabledByPermission}}disabled-by-permission{{/if}} {{#if this.initConfiguratorData.hasOpenOrder}} disabled-by-open-order {{/if}}">
                                <input type="button" value="<?php echo $this->__('Select offer')?>" class="campaign-buy-btn btn campbtn-primary col-sm-12" onclick="phone.loadCampaign('{{initConfiguratorData.type}}', '{{initConfiguratorData.packageId}}', '{{initConfiguratorData.saleType}}', '{{initConfiguratorData.ctn}}', '{{initConfiguratorData.currentProducts}}', '{{this.identifier}}', '{{initConfiguratorData.packageCreationTypeId}}')" disabled>
                            </div>
                        {{else}}
                            <div class="buy-campaign-button disabled status-disabled">
                                <input type="button" value="<?php echo $this->__('Select offer')?>" class="campaign-buy-btn btn campbtn-infodisable col-sm-12" onclick="phone.loadCampaign('{{initConfiguratorData.type}}', '{{initConfiguratorData.packageId}}', '{{initConfiguratorData.saleType}}', '{{initConfiguratorData.ctn}}', '{{initConfiguratorData.currentProducts}}', '{{this.identifier}}', '{{initConfiguratorData.packageCreationTypeId}}')" disabled>
                            </div>
                        {{/compare}}
                    <?php endif?>
                    </div>
                    </div>
                {{/each}}
            </div>
            <div class="clearfix ptl"> </div>
            <div class="camppagination ">
                {{#each this.dotsarr}}
                {{#if this.colour}}
                <span class="campaignpaginationimgs">&nbsp;</span>
                {{else}}
                <span class="campaignpaginationimg" onclick="window.address.getCallerCampaignData(true, {{ this.page }})">&nbsp;</span>
                {{/if}}
                {{/each}}
            </div>
        {{else}}
            <div class="table-description message">
                <?php echo $this->__("No focus products found for this campaign") ?>
            </div>
        {{/if}}

            <?php
            $session = Mage::getSingleton('dyna_customer/session');
            $uctParams = $session->getUctParams();
            ?>
    </div>
</script>
<div class="clearfix pbm" > </div>
<div id="campaigns" class="clearfix"></div>