<script id="creditcheck-details-template" type="text/template">
<p class="title"><?php echo $this->__('Results credit check') ?> <span class="red">{{number}}</span></p>

{{#ifCond creditcheck_status '===' '<?php echo Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_REJECTED; ?>'}}
    <p class="flash error"><span class="glyphicon glyphicon-remove-circle"></span>
        <strong><?php echo $this->__('Credit check rejected'); ?></strong><br />
        <?php echo $this->__('The credit check request for the person below is rejected.'); ?>
    </p>
    {{else}} {{#ifCond creditcheck_status '===' '<?php echo Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_APPROVED; ?>'}}
        <p class="flash success"><span class="glyphicon glyphicon-ok-sign"></span>
            <strong><?php echo $this->__('Running credit check completed successfully. The order has been placed.'); ?></strong><br />
            <?php echo $this->__('The credit check for the following person has been successfully completed. You can complete the order.'); ?>
        </p>
        {{else}} {{#ifCond creditcheck_status '===' '<?php echo Omnius_Package_Model_Package::ESB_PACKAGE_NETWORK_STATUS_CC_ADDITIONNAL_INFO_REQUIRED; ?>'}}
            <p class="flash warning"><span class="glyphicon glyphicon-time"></span>
                <strong><?php echo $this->__('Additional information requested'); ?></strong><br />
                <?php echo $this->__('The credit check request for the person below requires additional information.'); ?>
            </p>
            {{else}}
                <p class="flash ongoing"><span class="glyphicon glyphicon-question-sign"></span>
                    <strong><?php echo $this->__('Ongoing credit check'); ?></strong><br />
                <?php echo $this->__('The credit check request for the person below is pending.'); ?>
                </p>
        {{/ifCond}}
    {{/ifCond}}
{{/ifCond}}

    <div class="panel panel-default">
    {{#if credit_code }}
        <div class="panel-heading"><?php echo $this->__('Credit information') ?></div>
        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <td><?php echo $this->__('Case details') ?></td>
                <td>{{credit_code}}</td>
            </tr>
            </tbody>
        </table>
    {{/if}}
        <div class="panel-heading"><?php echo $this->__('Personal information') ?></div>

        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <td><?php echo $this->__('Name') ?></td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Date of birth') ?></td>
                <td>{{customer_dob}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Telephone number') ?></td>
                <td>{{telephone}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('E-mail address') ?></td>
                <td>{{customer_email}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Delivery address') ?></td>
                <td>{{address}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('ID Info') ?></td>
                <td>{{id_info}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Reference Number') ?></td>
                <td>{{reference}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-offset-9 col-xs-1">
        <button class="pull-right btn btn-primary back hidden" onclick="backToList(this)"><span class="glyphicon glyphicon-chevron-left"></span> <?php echo $this->__('Back') ?></button>
    </div>
    <div class="col-xs-2">
        <button class="pull-right btn btn-primary btn-block" data-customer="{{customer_id}}" data-order="{{reference}}" onclick="showInitOrderModal(this)"><?php echo $this->__('See order') ?> <span class="glyphicon glyphicon-play"></span></button>
    </div>
</script>