<script id="Handlebars-Template-Customer-Potential-Link" type="text/x-handlebars-template">
    <div id="customer_link_details" class="customer-results-table scrollable-y-table">
        {{#if customerLogged}}
            <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partials/customer_potential_link_customer_data_logged.phtml')->toHtml(); ?>
        {{else}}
            <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/partials/customer_potential_link_customer_data_not_logged.phtml')->toHtml(); ?>
        {{/if}}
    </div>
</script>
