<script id="Handlebars-Template-Search-Customer" type="text/x-handlebars-template">
    <div id="customer_results" class="customer-results-table scrollable-y-table">
        <div class="title">
            <div class="table-title table-title-search"><?php echo $this->__('Search results'); ?></div>
            {{#compare error true operator="=="}}
                <div class="results-count">
                    {{#compare message 'object' operator="typeof"}}
                        {{#each message}}
                            {{this}}
                        {{/each}}
                    {{else}}
                        {{message}}
                    {{/compare}}
                </div>
            {{else}}
                <div class="results-count">{{allCustomersCounter}}<?php echo ' '. $this->__('results found'); ?></div>
            {{/compare}}
        </div>
        {{#compare error true operator="=="}}
        {{else}}
            <div class="row row-with-headers col-no-padding-left">
                <div class="col-md-3 customer-list-tab service-result active" onclick="customerDe.toggleCustomerList(this)">
                    <?php echo $this->__("Regular search results") ?>
                        {{#compare serviceCustomers.error true operator="=="}}
                        {{else}}
                            <span class="black-circle">
                                {{serviceCustomers.countUnlinkedCustomers}}
                            </span>
                        {{/compare}}
                </div>
                <div class="col-md-3 customer-list-tab" onclick="customerDe.toggleCustomerList(this); customerDe.loadLocalCustomersList();">
                    <?php echo $this->__("Interested persons") ?>
                    {{#compare localCustomersCounter.error true operator="=="}}
                    {{else}}
                        <span class="black-circle">
                            {{localCustomersCounter}}
                        </span>
                    {{/compare}}
                </div>
            </div>
            <div class="customers-list">
                {{#compare serviceCustomers.error true operator="=="}}
                    <div class="message">
                        {{serviceCustomers.message}}
                     </div>
                {{else}}
                    <?php //service customer from non legacy service?>
                    {{#compare serviceCustomers.legacyResult false operator="=="}}
                        {{#each serviceCustomers.customers}}
                            {{#if this.isLinkedChild}}
                            {{else}}
                                {{setLength this.linkedAccounts}}
                                {{#if this.allTemporaryLink}}
                                    <div class="customer-row col-md-12 temporary-customer" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}',
                                        '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be displayed until further notice.");?>')">
                                {{else}}
                                    <div class="customer-row col-md-12 {{#if this.isTemporary}}temporary-customer{{/if}}" onclick="customerDe.showLinkPageDetails('{{this.Contact.ID}}')">
                                {{/if}}
                                <div class="row row-with-headers">
                                    <div class="col-md-9 customer-details-name">
                                        <div class="col-md-7 names">
                                            {{#compare this.AccountClass "S" operator="=="}}
                                                {{this.PartyName.Name}}
                                            {{/compare}}
                                            {{this.Role.Person.FirstName}}
                                            {{this.Role.Person.FamilyName}}
                                        </div>
                                        <div class="col-md-5 customer-icon-details">
                                            {{#compare this.AccountClass "S" operator="=="}}
                                                <span class="icon-soho-cust"></span>
                                            {{else}}
                                                <span class="icon-private-cust"></span>
                                            {{/compare}}
                                            {{#compare length 1 operator=">"}}
                                                {{#if this.isTemporary}}
                                                    <span class="auth-call" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="search-list-{{this.Contact.ID}}">
                                                         {{this.Contact.ID}}
                                                        <span class="auth-call-linked"></span>
                                                    </span>
                                                {{else}}
                                                    <span class="auth-call" onclick="customerDe.toggleCollapseLinkedCustomer(this, event, 'search')" data-target="search-list-{{this.Contact.ID}}">
                                                         {{this.Contact.ID}}
                                                        <span class="auth-call-linked"></span>
                                                    </span>
                                                {{/if}}
                                            {{else}}
                                                {{#if this.isTemporary}}
                                                    <span class="auth-call" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}',
                                                        '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be authenticated until further notice.");?>')">
                                                        {{this.Contact.ID}}
                                                         <span class="small-info"></span>
                                                     </span>
                                                {{else}}
                                                    <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}', event, this)">
                                                        {{this.Contact.ID}}
                                                        <span class="small-info"></span>
                                                     </span>
                                                {{/if}}
                                            {{/compare}}
                                        </div>
                                    </div>
                                    <div class="col-md-3 customer-types text-right">
                                        {{#each this.stacks}}
                                            {{#compare @key 'KIAS' operator="=="}}
                                                {{#compare this true operator="=="}}
                                                    <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                                {{else}}
                                                    <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                                                {{/compare}}
                                            {{/compare}}
                                            {{#compare @key 'KD' operator="=="}}
                                                {{#compare this true operator="=="}}
                                                    <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                                {{else}}
                                                    <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                                                {{/compare}}
                                            {{/compare}}
                                            {{#compare @key 'FN' operator="=="}}
                                                {{#compare this true operator="=="}}
                                                    <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                                {{else}}
                                                    <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                                {{/compare}}
                                            {{/compare}}
                                        {{/each}}
                                    </div>
                                </div>
                                    <div class="row row-with-headers">
                                        <div class="col-md-5 customer-details-content">
                                            {{this.PostalAddress.StreetName}}
                                            {{this.PostalAddress.BuildingNumber}},
                                            {{this.PostalAddress.PostalZone}}
                                            {{this.PostalAddress.CityName}}
                                        </div>
                                        <div class="col-md-2 customer-details-content">
                                            {{#if this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                                                {{#showLocalAreaCode this.Role.Person.ContactPhoneNumber.LocalAreaCode}}{{/showLocalAreaCode}}
                                                {{this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                                            {{/if}}
                                            {{#each this.Role.Person.ContactPhoneNumber}}
                                                {{#showLocalAreaCode this.LocalAreaCode}}{{/showLocalAreaCode}}
                                                {{this.PhoneNumber}}
                                            {{/each}}
                                            <div class="pull-right">|</div>
                                        </div>
                                        <div class="col-md-3  customer-details-content">
                                            {{this.Contact.ElectronicMail}}
                                            <div class="pull-right">|</div>
                                        </div>
                                        <div class="col-md-2 customer-details-content">
                                            {{#compare this.AccountClass "P" operator="=="}}
                                                {{getDotDateFromLineDate this.Role.Person.BirthDate}}
                                            {{/compare}}
                                            <div class="pull-right">|</div>
                                        </div>
                                    </div>
                                </div>
                                {{#compare length 1 operator=">"}}
                                    {{#each this.linkedAccounts}}
                                        <div class="customer-row col-md-12 collapse out search-list-{{../Contact.ID}} {{#if this.isTemporary}}temporary-customer{{/if}}">
                                            <div class="row row-with-headers">
                                                <div class="col-md-9 customer-details-name">
                                                    <div class="col-md-7 names">
                                                        {{#compare this.AccountClass "S" operator="=="}}
                                                            {{this.PartyName.Name}}
                                                        {{/compare}}
                                                        {{this.Role.Person.FirstName}}
                                                        {{this.Role.Person.FamilyName}}
                                                    </div>
                                                    <div class="col-md-3 customer-icon-details">
                                                        {{#compare this.AccountClass "S" operator="=="}}
                                                            <span class="icon-soho-cust"></span>
                                                        {{else}}
                                                            <span class="icon-private-cust"></span>
                                                        {{/compare}}
                                                          {{#compare this true operator="=="}}
                                                                <span class="auth-call">
                                                                     <span class="small-info"></span>
                                                                    {{this.ParentAccountNumber.ID}}
                                                                </span>
                                                          {{else}}
                                                                {{#if this.isTemporary}}
                                                                    <span class="auth-call" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}',
                                                                        '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be authenticated until further notice.");?>')">
                                                                         <span class="small-info"></span>
                                                                        {{this.ParentAccountNumber.ID}}
                                                                      </span>
                                                                {{else}}
                                                                    <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}', event, this)">
                                                                         <span class="small-info"></span>
                                                                        {{this.ParentAccountNumber.ID}}
                                                                    </span>
                                                                {{/if}}
                                                          {{/compare}}
                                                    </div>
                                                </div>
                                                <div class="col-md-3 customer-types text-right">
                                                    {{#compare this.AccountCategory 'ALL' operator="caseInsensitiveEq"}}
                                                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                                    {{else}}
                                                        {{#compare  this.AccountCategory 'KIAS,Mobile' operator="inArray"}}
                                                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                                        {{else}}
                                                        <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                                                        {{/compare}}

                                                        {{#compare this.AccountCategory 'KD,Cable' operator="inArray"}}
                                                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                                        {{else}}
                                                        <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                                                        {{/compare}}

                                                        {{#compare  this.AccountCategory 'FN,DSL' operator="inArray"}}
                                                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                                        {{else}}
                                                        <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                                        {{/compare}}
                                                    {{/compare}}
                                                </div>
                                            </div>
                                            <div class="row row-with-address">
                                                <div class="col-md-5 customer-details-content">
                                                    {{this.PostalAddress.StreetName}}
                                                    {{this.PostalAddress.BuildingNumber}}
                                                    {{this.PostalAddress.PostalZone}}
                                                    {{this.PostalAddress.CityName}}
                                                </div>
                                                <div class="col-md-2 customer-details-content">
                                                    {{#if this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                                                        {{#showLocalAreaCode this.Role.Person.ContactPhoneNumber.LocalAreaCode}}{{/showLocalAreaCode}}
                                                        {{this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                                                    {{/if}}
                                                    {{#each this.Role.Person.ContactPhoneNumber}}
                                                        {{#showLocalAreaCode this.LocalAreaCode}}{{/showLocalAreaCode}}
                                                        {{this.PhoneNumber}}
                                                    {{/each}}
                                                </div>
                                                <div class="col-md-3  customer-details-content">
                                                    {{this.Contact.ElectronicMail}}
                                                </div>
                                                <div class="col-md-2 customer-details-content customer-details-date">
                                                    {{#compare this.AccountClass "P" operator="=="}}
                                                        {{getDotDateFromLineDate this.Role.Person.BirthDate}}
                                                    {{/compare}}
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/compare}}
                            {{/if}}
                        {{/each}}
                    {{else}}
                        <?php //service customer from legacy service?>
                        {{#each serviceCustomers.customers}}
                            {{#if this.isTemporary}}
                                <div class="customer-row col-md-12 temporary-customer" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}',
                                    '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be displayed until further notice.");?>')">
                            {{else}}
                                <div class="customer-row col-md-12" onclick="customerDe.prepareAndLoadCustomer('{{this.ParentAccountNumber.ID}}', '{{this.Contact.ID}}',false)" >
                            {{/if}}
                            <div class="row row-with-headers">
                                <div class="col-md-9 customer-details-name">
                                    <div class="col-md-7 names">
                                        {{#compare this.AccountClass "S" operator="=="}}
                                            {{this.PartyName.Name}}
                                        {{/compare}}
                                        {{this.Role.Person.FirstName}}
                                        {{this.Role.Person.FamilyName}}
                                    </div>
                                    <div class="col-md-5 customer-icon-details">
                                        {{#compare this.AccountClass "S" operator="=="}}
                                            <span class="icon-soho-cust"></span>
                                        {{else}}
                                            <span class="icon-private-cust"></span>
                                        {{/compare}}
                                        {{#if this.isTemporary}}
                                            <span class="auth-call" onclick="customerDe.displayTemporaryCustomerError('{{this.ParentAccountNumber.ID}}',
                                                '<?php echo $this->__("The order of this new customer is still being processed, the customer can not be authenticated until further notice.");?>')">
                                                 <span class="small-info"></span>
                                                {{this.Contact.ID}}
                                            </span>
                                        {{else}}
                                            <span class="auth-call" onclick="customerDe.getAuthDetails('{{this.Contact.ID}}', '{{this.ParentAccountNumber.ID}}', event, this)">
                                                 <span class="small-info"></span>
                                                {{this.Contact.ID}}
                                            </span>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col-md-3 customer-types text-right">
                                    {{#compare this.legacyCustomer 'mobile' operator="caseInsensitiveEq"}}
                                        <span class="type-customer-icon mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Mobile') ?>"></span>
                                    {{else}}
                                        <span class="type-customer-icon no-mobile-selected" data-toggle="tooltip" data-placement="bottom" title="<?php  echo $this->__('Mobile') ?>"></span>
                                    {{/compare}}

                                    {{#compare this.legacyCustomer 'cable' operator="caseInsensitiveEq"}}
                                        <span class="type-customer-icon cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"></span>
                                    {{else}}
                                        <span class="type-customer-icon no-cable-selected"  data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('Cable') ?>"> </span>
                                    {{/compare}}

                                    {{#compare this.legacyCustomer 'dsl' operator="caseInsensitiveEq"}}
                                        <span class="type-customer-icon fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                    {{else}}
                                        <span class="type-customer-icon no-fixed-selected" data-toggle="tooltip" data-placement="bottom" title="<?php echo $this->__('DSL') ?>"></span>
                                    {{/compare}}
                                </div>
                            </div>
                            <div class="row row-with-headers">
                                <div class="col-md-5 customer-details-content">
                                    {{this.PostalAddress.StreetName}}
                                    {{this.PostalAddress.BuildingNumber}},
                                    {{this.PostalAddress.PostalZone}}
                                    {{this.PostalAddress.CityName}}
                                    <div class="pull-right">|</div>
                                </div>
                                <div class="col-md-2 customer-details-content">
                                    {{#if this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                                        {{#showLocalAreaCode this.Role.Person.ContactPhoneNumber.LocalAreaCode}}{{/showLocalAreaCode}}
                                        {{this.Role.Person.ContactPhoneNumber.PhoneNumber}}
                                    {{/if}}
                                    {{#each this.Role.Person.ContactPhoneNumber}}
                                        {{#showLocalAreaCode this.LocalAreaCode}}{{/showLocalAreaCode}}
                                        {{this.PhoneNumber}}
                                    {{/each}}
                                    <div class="pull-right">|</div>
                                </div>
                                <div class="col-md-3  customer-details-content">
                                    {{this.Contact.ElectronicMail}}
                                    <div class="pull-right">|</div>
                                </div>
                                <div class="col-md-2  customer-details-content">
                                    {{#compare this.AccountClass "P" operator="=="}}
                                        {{getDotDateFromLineDate this.Role.Person.BirthDate}}
                                    {{/compare}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    {{/compare}}
                {{/compare}}
            </div>
            <div class="customers-list hidden customers-local-list">

            </div>
        </div>
        {{/compare}}
    </div>
</script>
