<div id="footer_modals"><!-- Filled with Ajax from global_modals.phtml --></div>
<script>
jQuery(document).ready(function($) {
    var modalsContainer = $('#footer_modals');
    if (! modalsContainer.hasClass('loaded')) {
        $.ajax(MAIN_URL + 'configurator/init/modals', {localCache : false}).done( function (result) {
            modalsContainer.addClass('loaded').html(result);
            modalsContainer.trigger('modals:loaded', result);
            <?php if($err = Mage::getSingleton('customer/session')->getShowModalErrorOnLoad()):?>
                showModalError('<?php echo addslashes(preg_replace("/\n/", "", $err)); ?>');
                <?php Mage::getSingleton('customer/session')->setShowModalErrorOnLoad(null) ?>
            <?php endif;?>
        });
    }
});
</script>
