<?php
$session = Mage::getSingleton('dyna_customer/session');
$uctParams = $session->getUctParams();
?>
<div id="homepage-wrapper">
    <?php if ($uctParams) : ?>
        <div id="campaigns-wrapper">
            <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/customer_caller_data.phtml')->toHtml(); ?>
            <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/campaigns.phtml')->toHtml(); ?>
        </div>
    <?php endif; ?>
</div>