<!-- Scripts for app/design/frontend/omnius/default/template/page/html/menu.phtml -->
<script>
    jQuery(document).ready(function(){
        jQuery('#open-orders-content').on('click', '.order_details', function(e) {
            // Close all panels, reset all arrows.
            jQuery('.package_target').css({'display': 'none'});
            jQuery('.menu-arrow-down').html('k');

            // Open the panel that is selected, and flip arrow
            jQuery(e.target).parent('.order_details').next().css({'display': 'table-row'});
            jQuery(e.target).parent('.order_details').find('.menu-arrow-down').html('l');

        });
        jQuery('#open-orders-content').on('click', '.open_order_cluster_type', function(e) {
            var clusterType = jQuery(e.target).data('cluster');
            var resultsPerPage = jQuery('#order_filter_results_per_page').val();

            loadOpenOrders(1, clusterType, resultsPerPage);
        });
        jQuery('#open-orders-content').on('click', '#order_filter_results_per_page_submit', function() {
            var clusterType = jQuery('.active-cluster').data('cluster');
            var resultsPerPage = jQuery('#order_filter_results_per_page').val();
            loadOpenOrders(1, clusterType, resultsPerPage);
        });
        jQuery('#open-orders-content').on('keypress', '#order_filter_results_per_page', function(e) {
            var clusterType = jQuery('.active-cluster').data('cluster');
            var resultsPerPage = jQuery('#order_filter_results_per_page').val();
            if (e.which == 13) {
                loadOpenOrders(1, clusterType, resultsPerPage);
            }
        });
        jQuery('#top-menu-dropdown-container .dropdown-toggle').click(function(e) {
            e.preventDefault();
            e.stopPropagation();

            return false;
        });

        /* Closing open orders when clicked outside of the orders */
        jQuery('#open-orders-content').on('click', function(e){
            if (e.target !== this)
                return;
            jQuery('a#open-orders-menu').trigger('click');
        });

        /* Closing Auth Modal and householdAuthModal when clicking outsite of the modal */
        jQuery('body').on('click', function(e) {
            if(jQuery('#authModal').css('display') == 'block' || jQuery('#householdAuthModal').css('display') == 'block'){
                if(e.target.id != "authModal" || e.target.id != "householdAuthModal") {
                    customerDe.closeModal();
                }
            }
        });

    });
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/page/html/actions_menu.phtml -->
<script>
    window.services = {};

    jQuery(document).ready(function ($) {
        $('#workitemModal').click(function () {
          var workitemModal = $('#workitem_service_create_modal');
          if (customerDe.isBusiness) {
            workitemModal.find('input[id="companyName"]').addClass("required-entry");
            workitemModal.find('span[id="companyNameRequired"]').show();
          } else {
            workitemModal.find('input[id="companyName"]').removeClass("required-entry validation-failed").next('.validation-advice').remove();
            workitemModal.find('span[id="companyNameRequired"]').hide();
          }
          workitemModal.find('input[id="ZIP"]').val(address.postcode);
          workitemModal.find('input[id="city"]').val(address.city);

          workitemModal.modal();
        });

        if (HAS_GOOGLE_AUTOCOMPLETE) {
          $("#topaddressCheckForm").googleSearchAddress({
            streetInputName: "street",
            cityInputName: "city",
            houseNumberInputName: "houseNo",
            houseNumberAddition: "addition",
            zipCodeInputName: "postcode"
          });
        }

        address.enableOrDisableAddressCheckBtn();
        $('.top-address-validations').keyup(function (e) {
          // if and invalid address has been checked remove notice
          if ($(e.target).parent().find('.message-invalid-address').length == 1) {
            $(e.target).parent().find('.message-invalid-address').remove();
          }
          Validation.validate($(this).attr('id'), {useTitle: true});
          address.enableOrDisableAddressCheckBtn();
        }).mouseover(function (e) {
          $(e.target).parent().find('.validation-advice').css('display', 'inline-block');
        }).mouseout(function (e) {
          $(e.target).parent().find('.validation-advice').css('display', 'none');
        });
    });
</script>

<!-- Scripts for app/design/frontend/omnius/default/template/agent/top_menu.phtml-->
<?php
	$customerSession = Mage::getSingleton('customer/session');
	$agent = $customerSession->getAgent();
?>
<?php if ($agent): ?>
    <?php
	    $autoLogout = Mage::helper('agent')->getAutoLogoutConfig('enable');
	    $dialogTimeout = Mage::helper('agent')->getAutoLogoutConfig('dialog_seconds');
	    $forcedLogoff = Mage::helper('agent')->getAutoLogoutConfig('forced_logoff');
    ?>
    <?php if ($autoLogout): ?>
        <script type="text/javascript" charset="utf-8">
            jQuery(document).ready(function () {
                jQuery(document).idleTimeout({
                    idleTimeLimit: <?php echo $forcedLogoff; ?> * 1000,
                    dialogDisplayLimit: <?php echo $dialogTimeout; ?> * 1000,
                    redirectUrl: MAIN_URL + 'agent/account/logout',
                    customCallback: false,
                    activityEvents: 'click keypress scroll wheel mousewheel mousemove',

                    //dialog box configuration
                    dialogTitle: '',
                    dialogText: '<?php echo $this->__('Warning: You will be logged off in %s seconds.', $dialogTimeout); ?>'
                });
            });
        </script>
    <?php endif; ?>
    <script>
        jQuery(document).ready(function () {
            jQuery('#sales-id-menu .dropdown-toggle').click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                return false;
            });

            // get and display current sales ids
            window.getAgentSalesIds();

            var searchTimeout;
            jQuery('#search_agents').keyup(function() {
                clearTimeout(searchTimeout);
                searchTimeout = setTimeout(function() {
                    setPageLoadingState(true);
                    searchAgents(jQuery('#search_agents').val());
                }, 1000);
            });
        });

        function changeLockingStatus(obj, agentId) {
            setPageLoadingState(true);
            jQuery.ajax({
                url: '/agent/account/changeAgentLockStatus/',
                type: "post",
                data: {
                    agentId: agentId
                },
                dataType: "json",
                success: function (response) {
                    if (response.validationError || response.error) {
                        showModalError(response.message);
                        return;
                    }

                    var thisLabel = jQuery(obj).parent().parent().parent().prev().children('span');
                    if (jQuery(obj).hasClass('on-state')) {
                        jQuery(obj).removeClass('on-state').addClass('off-state');
                        thisLabel.addClass('hidden');

                    } else {
                        jQuery(obj).removeClass('off-state').addClass('on-state');
                        thisLabel.removeClass('hidden');
                    }
                    setPageLoadingState(false);
                }
            });
        }

        function searchAgents(data)
        {
            jQuery.ajax({
                url: '/agent/account/searchAgents/',
                type: "post",
                data: {
                    search: data
                },
                dataType: "json",
                success: function (response) {
                    if (response.validationError || response.error) {
                        showModalError(response.message);
                        return;
                    }

                    parseAgentsResults(response.data);
                    setPageLoadingState(false);
                }
            });
        }

        function parseAgentsResults(data)
        {
            var searchList = jQuery('ul.search-agents-list');
            var li_entry = "";
            searchList.html('');

            for (var i = 0; i < data.length; i++) {
                var liClass = (data[i]['locked']) ? '' : 'hidden';
                var toggleClass = (data[i]['locked']) ? 'on-state' : 'off-state';

                li_entry = "<li class='list-group-item'>" +
                    "<div class='col-sm-8'>" +
                        data[i]['first_name'] + " " + data[i]['last_name'] + "<br />" +
                        data[i]['email'] + "" +
                    "</div>" +
                    "<div class='col-sm-2'>" +
                        "<span class='label label-default "+ liClass +"'>LOCKED</span>" +
                    "</div>" +
                    "<div class='col-sm-2'>" +
                        "<div class='toggle-container'>" +
                            "<div class='switch'>" +
                                "<div id='display-prices-switch' class='toggle-button "+toggleClass+"' onclick='changeLockingStatus(this, "+data[i]['agent_id']+")'>" +
                                    "<span class='bullet'></span>" +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>" +
                    "<div class='clearfix'></div>" +
                    "</li>";
                searchList.append(li_entry);
            }
        }
    </script>
<?php endif; ?>

