<?php
/** @var Dyna_Page_Block_Menu_Links $this */
$isCustomerLogged = Mage::getSingleton('customer/session')->getCustomer()->getId() != null;
$agent = Mage::getSingleton('customer/session')->getAgent();
$session = Mage::getSingleton('dyna_customer/session');
$uctParams = $session->getData("uct_params");
$externalLinks = Mage::getStoreConfig('omnius_general/menu/links') ? explode("\n",Mage::getStoreConfig('omnius_general/menu/links')) : [];
$isWorkitemLinkEnabled = (boolean) Mage::getStoreConfig('omnius_service/workitem_create_link_configuration/link_visibility');
?>
<div class="left-menu">
    <div class="logo-header">
        <a href="<?php echo $this->getUrl(); ?>">
            <div class="home_logo"></div>
        </a>
    </div>
    <div id="top-menu-dropdown-container" class="ticket-menu-button">
        <div class="dropdown">
            <span class="dropdown-toggle" id="open_orders_menu" style="font-size:16px;" onclick="toggleTopMenu(this)" data-toggle="dropdown">
                <span class="glyphicon glyphicon-align-justify"></span>
                Menu
            </span>
            <ul class="dropdown-menu" aria-labelledby="open_orders_menu">
                <?php if($agent->isGranted('SEARCH_ORDER_OF_ALL') ||
                    $agent->isGranted('SEARCH_ORDER_OF_GROUP') ||
                    $agent->isGranted('SEARCH_ORDER_OF_DEALER') ||
                    $agent->isGranted('SEARCH_ORDER_OF_TELESALES')): ?>
                    <li><a id="open-orders-menu" href="#open-orders-content" data-slidebutton-top="panel"><span><?php echo $this->__('Open orders'); ?></span></a></li>
                <?php endif?>
                <?php if($agent->isGranted(array('CREATE_WORKITEM')) && $isWorkitemLinkEnabled): ?>
                    <li id="workitemModal"><a href="#"><span class="workitem-icon"><?php echo $this->__('Create New Workitem Service'); ?></span></a></li>
                <?php endif; ?>
                <?php
                if(count($externalLinks) > 0){
                    echo '<li class="divider"></li>';
                    foreach($externalLinks as $row){
                        $parts = explode(';', $row);
                        echo '<li><a href="'.$parts[1].'" target="_blank">'.$parts[0].'</a></li>';
                    }
                }
                ?>
            </ul>
        </div>
    </div>
    <?php echo Mage::getBlockSingleton('page/html')->setTemplate('page/html/open_orders.phtml')->toHtml(); ?>
    <div id="open-orders-content" class="cb_slide_panel" data-section="openorders" data-slidepanel-top="panel"></div>
</div>