<!-- Polling modal -->
<div class="modal" id="polling-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
     aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title modal-title-processing"><?php echo $this->__('Wait, your order is processed'); ?></h4>
                <h4 class="modal-title modal-title-error hidden"><?php echo $this->__('Error message'); ?></h4>
            </div>
            <div class="modal-body clearfix">
                <div class="modal-block" style="padding:10px; margin-bottom: 10px;">
                    <div>
                        <p>
                            <span>
                                <?php echo $this->__('Please wait a moment while we process your request.'); ?>
                            </span>
                        </p>
                    </div>
                    <br/>

                    <div id="progress-bar" class="progress active">
                        <div class="progress-bar" style="width: 20%;"></div>
                    </div>
                    <div id="retry-button" class="hidden">
                        <div>
                            <p>
                                <span><?php echo $this->__('Error message'); ?>: </span>
                                <strong id="error-message"><!-- Update with JS--></strong>
                            </p>
                        </div>
                        <div class="btn btn-warning pull-left" onclick="Polling.retry(this);">
                            <?php echo $this->__('Try again'); ?>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- Pre-filled with JS-->
                <input type="hidden" name="polling-id" id="polling-id" value=""/>
                <input type="hidden" name="polling-superorder-id" id="polling-superorder-id" value=""/>
                <input type="hidden" name="polling-superorder-no" id="polling-superorder-no" value=""/>
            </div>
        </div>
    </div>
</div>

<!-- Customer Auth Modal -->
<div class="modal authModal" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Authentication") ?></div>
            <div class="triangle"></div>
            <div class="modal-body">
                <p><strong><?php echo $this->__("Password:") ?></strong> <span class="password"></span></p>
                <p><strong><?php echo $this->__("IBAN:") ?></strong> <span class="iban"></span></p>
                <p><strong><?php echo $this->__("Bank Name:") ?></strong> <span class="bank_name"></span></p>
            </div>
        </div>
    </div>
    <div class="custom-backdrop" onclick="customerDe.closeModal()"></div>
</div>

<!-- Customer Household Auth Modal -->
<div class="modal authModal" id="householdAuthModal" tabindex="-1" role="dialog"
     aria-labelledby="householdAuthModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Authentication") ?></div>
            <div class="auth-triangle-top"></div>
            <div class="modal-body">
                <div class="password-div auth-data-parent">
                    <p><?php echo $this->__("Customer Password") ?></p>
                </div>
                <div class="iban-div auth-data-parent">
                    <p><?php echo $this->__("IBAN") ?></p>
                </div>
                <div class="bank_name-div auth-data-parent">
                    <p><?php echo $this->__("BANK") ?></p>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-backdrop" onclick="customerDe.closeModal()"></div>
</div>

<!-- Customer Billing Information Modal -->
<div class="modal billingModal" id="billingModal" tabindex="-1" role="dialog" aria-labelledby="billingModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-close">
                <button type="button" class="btn btn-primary" data-dismiss="modal"></button>
            </div>
            <div class="modal-header"><?php echo $this->__("Price data for customer account:") ?> <span
                        class="ban"></span></div>
            <div class="modal-body">
                <div class="billing-label">
                    <?php echo $this->__("Last Bill Amount") ?>
                    <hr>
                    <?php echo $this->__("Last Bill Due Amount") ?>
                    <hr>
                    <?php echo $this->__("Last Backout Amount") ?>
                    <hr>
                    <?php echo $this->__("Dunning Letter Amount") ?>
                    <hr>
                    <?php echo $this->__("ar Balance") ?>
                </div>
                <div class="euro-sign">
                    &euro;
                    <hr>
                    &euro;
                    <hr>
                    &euro;
                    <hr>
                    &euro;
                    <hr>
                    &euro;
                </div>
                <div class="billing-values">
                    <span class="lastBillAmount"></span>
                    <hr>
                    <span class="lastBillDueAmount"></span>
                    <hr>
                    <span class="lastBackoutAmount"></span>
                    <hr>
                    <span class="dunningLetterAmount"></span>
                    <hr>
                    <span class="arBalancee"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Address check modal -->
<div class="modal addressCheckModal" id="addressCheckModal" tabindex="-1" role="dialog"
     aria-labelledby="addressCheckModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Address check") ?></div>
            <div class="modal-body">
                <form id="addressCheckForm" class="form-inline form-row-small clearfix">
                    <div class="form-group col-xs-2">
                        <label for="addressCheck.postcode"><?php echo $this->__("Postcode"); ?></label>
                        <input type="text" class="form-control" name="postcode" id="addressCheck.postcode">
                    </div>
                    <div class="form-group col-xs-2">
                        <label for="addressCheck.city"><?php echo $this->__("City"); ?></label>
                        <input type="text" class="form-control" name="city" id="addressCheck.city">
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="addressCheck.street"
                               for="addressCheck[street]"><?php echo $this->__("Street"); ?></label>
                        <input type="text" class="form-control required-entry" name="street" id="addressCheck[street]">
                    </div>
                    <div class="form-group col-xs-2">
                        <label for="addressCheck.houseNo"><?php echo $this->__("House no."); ?></label>
                        <input type="text" class="form-control required-entry" name="houseNo" id="addressCheck.houseNo">
                    </div>
                    <div class="form-group col-xs-2">
                        <label for="addressCheck.addition"><?php echo $this->__("Add."); ?></label>
                        <input type="text" class="form-control" name="addition" id="addressCheck.addition">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="pull-left ajax-results-message"
                     data-required-text="<?php echo $this->__("Please enter a search value"); ?>"><!--ajax data--></div>
                <button type="button" class="btn btn-primary has-spinner"
                        onclick="address.validate('#addressCheckForm', this)">
                    <?php echo $this->__("Search") ?> <span class="btn-spinner"><i
                                class="glyphicon glyphicon-refresh"></i></span>
                </button>
            </div>

            <div class="ajax-results-addresses"><!--ajax data--></div>
            <script id="HT-Check-Address" type="text/x-handlebars-template">
                <table class="div-table">
                    <thead>
                    <tr class="div-table-row div-table-row-header">
                        <th class="div-table-cell"><?php echo $this->__('Street'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('No.'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Postcode'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('City'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Add.'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Address-ID'); ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each addresses}}
                    <tr class="div-table-row address-search-entry" data-id="{{this.ID}}"
                        data-street="{{this.StreetName}}" data-building-nr="{{this.BuildingNumber}}"
                        data-house-addition="{{this.HouseNumberAddition}}"
                        data-postalcode="{{this.PostalZone}}" data-city-name="{{this.CityName}}"
                        onclick="address.checkService(this)">
                        <td class="div-table-cell">{{this.StreetName}}</td>
                        <td class="div-table-cell">{{this.BuildingNumber}}</td>
                        <td class="div-table-cell">{{this.PostalZone}}</td>
                        <td class="div-table-cell">{{this.CityName}}</td>
                        <td class="div-table-cell">{{this.HouseNumberAddition}}</td>
                        <td class="div-table-cell">{{this.ID}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </script>
        </div>
    </div>
</div>

<!-- Address check modal -->
<div class="gd modal addressCheckModal" id="moveServiceAddressCheckModal" tabindex="-1" role="dialog" aria-labelledby="moveServiceAddressCheckModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true" autocomplete="off">&#10006;</button>
                <div class="col-md-12 modal-title">
                    <p><?php echo $this->__('Move service to new address'); ?></p>
                </div>
            </div>
            <div class="modal-body">
                <div id="notificationContainer" class="notification-container clearfix form-row hidden">
                    <div class="form-group col-md-12">
                        <div class="critical-warning">
                            <span class="red-x-circle-icon"> </span>
                            <p class="error-message"><?php echo $this->__('Service unavailable at new address '); ?></p>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="clearfix form-row modal-message form-group col-md-12">
                    <p><?php echo $this->__('Please provide the new address'); ?></p>
                </div>
                <br/>
                <form id="moveServiceAddressCheckForm" class="form-inline form-row clearfix">
                    <div class="clearfix form-row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control address-check-input" name="postcode" placeholder="<?php echo $this->__("Postal code"); ?>">
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control address-check-input" name="city" placeholder="<?php echo $this->__("City"); ?>">
                        </div>
                    </div>
                    <br/>
                    <div class="clearfix form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control required-entry address-check-input" name="street"
                                   placeholder="<?php echo $this->__("Street"); ?>"
                                   onblur="address.handleMoveServiceAddressCheckButton()">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control required-entry address-check-input"
                                   name="houseNo" placeholder="<?php echo $this->__("Number"); ?>"
                                   onblur="address.handleMoveServiceAddressCheckButton()">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control address-check-input" name="addition" placeholder="<?php echo $this->__("Suffix (optional)"); ?>">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="clearfix form-row">
                    <div class="pull-left ajax-results-message" data-required-text="<?php echo $this->__("Please enter a search value"); ?>"><!--ajax data--></div>
                </div>
                <div class="clearfix form-row col-md-12">
                    <button type="button" class="btn btn-default has-spinner" data-dismiss="modal"
                            onclick="customerSection.disableCableToFixedMoveOffnet(jQuery('.btn-move-service.selected')); customerSection.cancelMoveOffnet()">
                        <?php echo $this->__("Close") ?> <span class="btn-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                    </button>
                    <button type="button" class="btn btn-primary has-spinner check-button disabled" disabled onclick="address.validate('#moveServiceAddressCheckForm', this)">
                        <?php echo $this->__("Check") ?> <span class="btn-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                    </button>
                </div>
            </div>
            <div id="suggestionContainer" class="hidden">
                <hr/>
                <div class="clearfix form-row">
                    <div class="form-group col-md-12 modal-message">
                        <p>
                            <?php echo $this->__('We can provide the following ');?>
                            <strong class="suggestion-service"><?php echo $this->__('Internet & Phone')?></strong>
                            <?php echo $this->__(' service(s) on ');?>
                            <strong class="suggestion-street">Street</strong>&nbsp;
                            <strong class="suggestion-houseno">3</strong>&nbsp;
                            <strong class="suggestion-addition">B</strong>,&nbsp;
                            <strong class="suggestion-postalcode">22111</strong>&nbsp;
                            <strong class="suggestion-city">City</strong>
                        </p>
                    </div>
                </div>
                <br/>
                <div class="clearfix form-row">
                    <div class="form-group col-md-12 no-margin-bottom">
                        <div class="package-type-icon-container">
                            <span class="fn-customer"></span>
                        </div>
                        <div class="package-type-info-container">
                            <p class="package-type-name">DSL Internet & Phone</p>
                            <p class="package-type-bandwidth">Max. im Download <span>100</span> Mbit/s</p>
                        </div>
                    </div>
                </div>
                <hr/>
                <br/>
                <div class="clearfix form-row btn-container">
                    <div class="form-group col-md-12">
                        <button id="move-to-dsl-or-keep-product" type="button" class="btn btn-default has-spinner"
                                data-sale-type="<?php echo Dyna_Catalog_Model_ProcessContext::MIGCOC; ?>"
                                data-migration-or-moveoffnet="<?php echo Dyna_Catalog_Model_Type::MOVE_OFFNET; ?>"
                                data-target="<?php echo strtolower(Dyna_Catalog_Model_Type::TYPE_FIXED_DSL); ?>"
                                data-dismiss="modal" onclick="customerSection.initMigrationOrMoveOffnetConfigurator(this)"
                                value="<?php echo $this->__("Change Service "); ?>">
                            <?php echo $this->__("Change Service ") ?> <span class="btn-spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ajax-results-addresses"><!--ajax data--></div>
            <script id="HT-Check-Address" type="text/x-handlebars-template">
                <table class="div-table">
                    <thead>
                    <tr class="div-table-row div-table-row-header">
                        <th class="div-table-cell"><?php echo $this->__('Street'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('No.'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Postcode'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('City'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Add.'); ?></th>
                        <th class="div-table-cell"><?php echo $this->__('Address-ID'); ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each addresses}}
                    <tr class="div-table-row address-search-entry" data-id="{{this.ID}}"
                        data-street="{{this.StreetName}}" data-building-nr="{{this.BuildingNumber}}"
                        data-house-addition="{{this.HouseNumberAddition}}"
                        data-postalcode="{{this.PostalZone}}" data-city-name="{{this.CityName}}"
                        onclick="address.checkService(this)">
                        <td class="div-table-cell">{{this.StreetName}}</td>
                        <td class="div-table-cell">{{this.BuildingNumber}}</td>
                        <td class="div-table-cell">{{this.PostalZone}}</td>
                        <td class="div-table-cell">{{this.CityName}}</td>
                        <td class="div-table-cell">{{this.HouseNumberAddition}}</td>
                        <td class="div-table-cell">{{this.ID}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </script>
        </div>
    </div>
</div>

<!-- Serviceability not executed modal -->
<div class="modal serviceabilityUnknownModal" id="serviceabilityUnknownModal" tabindex="-1" role="dialog"
     aria-labelledby="serviceabilityUnknownModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Serviceability unknown") ?></div>
            <div class="modal-body">
                <p><?php echo $this->__("Serviceability has not yet been performed or service is not available.") ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal"
                        onclick="address.showCheckModal()"><?php echo $this->__("Address check") ?></button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"><?php echo $this->__("OK") ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Serviceability loading modal -->
<div class="modal serviceabilityLoadingModal" id="serviceabilityLoadingModal" tabindex="-1" role="dialog"
     aria-labelledby="serviceabilityLoadingModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Serviceability Loading") ?></div>
            <div class="modal-body">
                <img src="<?php echo $this->getSkinUrl('images/de/serviceability-loading.gif'); ?>"/>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- Serviceability multiple results modal -->
<div class="modal serviceabilityMultipleResultsModal" id="serviceabilityMultipleResultsModal" tabindex="-1"
     data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="serviceabilityMultipleResults">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header"><?php echo $this->__("Multiple Search Results") ?>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body"></div>

            <div class="ajax-results-addresses"><!--ajax data--></div>
            <script id="HT-serviceabilityMultipleResults" type="text/x-handlebars-template">
                {{#ifCond addresses.length '<=' 200}}
                <div class="row error-box">
                    <div class="col-md-2">
                        <img src="<?php echo $this->getSkinUrl('images/de/modal-warning.png'); ?>"/>
                    </div>
                    <div class="col-md-10">
                        <p><?php echo $this->__('2 to 200 search results. We recommend you consult the search criteria.'); ?></p>
                    </div>
                </div>
                {{/ifCond}}
                {{#ifCond addresses.length '>' 200}}
                <div class="row error-box">
                    <div class="col-md-2">
                        <img src="<?php echo $this->getSkinUrl('images/de/modal-warning.png'); ?>"/>
                    </div>
                    <div class="col-md-10">
                        <p><?php echo $this->__('Please note that only the first 10 results are displayed. Use additional or other criteria when the right customer is presented night.'); ?></p>
                    </div>
                </div>
                {{/ifCond}}
                <div class="addresses-container">
                    {{#each addresses}}
                    <div class="address" data-id="{{this.ID}}" data-street="{{this.StreetName}}"
                         data-building-nr="{{this.BuildingNumber}}" data-house-addition="{{this.HouseNumberAddition}}"
                         data-postalcode="{{this.PostalZone}}"
                         data-city-name="{{this.CityName}}"
                         onclick="address.checkService(this)">
                        <div class="row">
                            <div class="col-md-2">
                                {{this.StreetName}}
                            </div>
                            <div class="col-md-2">
                                {{this.BuildingNumber}} {{ this.HouseNumberAddition }}
                            </div>
                            <div class="col-md-2">
                                {{this.PostalZone}}
                            </div>
                            <div class="col-md-2">
                                {{this.CityName}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </script>
        </div>
    </div>
</div>

<!-- Serviceability top info template -->
<script id="Address-ServiceAbility-Short" type="text/x-handlebars-template">
    <div class="serviceability-content">
        {{#each top_bar_available_services}}
        <div class="service-ability-top-cell" data-toggle="tooltip" data-placement="bottom" data-technology="{{@key}}"
             data-downstream="{{bandwidth}}" title="{{tooltip}}">
            <div class="service-ability-name">
                {{@key}}
            </div>
            <div class="service-ability-value">
                <div class="service-ability service-ability-{{color}}">
                    {{#ifCond bandwidth '!=' '0'}}
                    {{bandwidth}}
                    {{/ifCond}}
                </div>
            </div>
        </div>
        {{/each}}
        <div class="service-ability-top-cell service-full-address">
            {{{full_address}}}
        </div>
    </div>
    <div class="additional-service-actions">
        <div class="service-more-info" onclick="address.checkServiceMoreInfo()">
            <img src="<?php echo $this->getSkinUrl('images/icon-info.png'); ?>">
        </div>
        <div class="service-more-info" onclick="address.clearServices()" hide-in-checkout>
            <img src="<?php echo $this->getSkinUrl('images/icon-renew-services.png'); ?>">
        </div>
    </div>
</script>

<!-- Serviceability more info body -->
<script id="Address-ServiceAbility-More-Info" type="text/x-handlebars-template">
    <div class="service-info-container">
        <div class="service-info-cell">
            <table class="service-info-table">
                <thead>
                <tr>
                    <th class="service-info-title cable-title"><?php echo $this->__("Cable"); ?></th>
                    <th class="service-info-title fixed-title"><?php echo $this->__("Fixed"); ?></th>
                    <th class="service-info-title iptv-title"><?php echo $this->__("IPTV"); ?></th>
                    <th class="service-info-title regio-award-title"><?php echo $this->__("Regio award"); ?></th>
                    <th class="service-info-title lte-title"><?php echo $this->__("LTE"); ?></th>
                </tr>
                </thead>
                <tr>
                    <td class="service-info-cell-entry service-info-cable-group">
                        {{#each technology.cable}}
                        <div class="service-info-cable-entry">
                            <div class="service-info-cable-entry-bandwidth">{{bandwidth}}</div>
                            <div class="availability service-ability-{{color}}"></div>
                        </div>
                        {{/each}}
                    </td>
                    <td class="service-info-cell-entry service-info-fixed-column">
                        {{#each technology.dsl}}
                        {{#ifCond this.bandwidth '>' '6'}}
                        <div class="service-info-cable-entry">
                            <div class="service-info-cable-entry-bandwidth">{{this.bandwidth}}</div>
                            <div class="availability service-ability-{{this.color}}"></div>
                        </div>
                        {{else}}
                        {{#ifCond this.bandwidth '==' '6'}}
                        <div class="service-info-cable-entry">
                            <div class="service-info-cable-entry-bandwidth">{{this.bandwidth}}</div>
                            <div class="availability">
                                <div class="display-flex">
                                    <div class="availability-small service-ability-{{this.color}}"></div>
                                    {{else}}
                                    <div class="availability-small service-ability-{{this.color}}">{{this.bandwidth}}
                                    </div>
                                    {{#ifCond this.bandwidth '==' '1'}}
                                </div>
                            </div>
                        </div>
                        {{/ifCond}}
                        {{/ifCond}}
                        {{/ifCond}}
                        {{/each}}
                    </td>
                    <td class="service-info-cell-entry service-info-fixed-column">
                        {{#each technology.iptv}}
                        {{#ifCond this.bandwidth '>' '2'}}
                        <div class="service-info-cable-entry">
                            <div class="availability service-ability-{{this.color}}">{{this.label}}</div>
                        </div>
                        {{/ifCond}}
                        {{/each}}
                    </td>
                    <td class="service-info-cell-entry service-info-award-column">
                        {{#each technology.dsl}}
                        {{#ifCond this.bandwidth '>' '2'}}
                        <div class="service-info-cable-entry">
                            {{#ifCond this.award '==' '1'}}
                            <div class="availability service-info-award-entry service-award service-award-yes"></div>
                            {{else}}
                            <div class="availability service-info-award-entry service-award service-award-not"></div>
                            {{/ifCond}}
                        </div>
                        {{/ifCond}}
                        {{/each}}
                    </td>
                    <td class="service-info-cell-entry service-info-internet-group">
                        {{#each technology.lte}}
                        <div class="service-info-cable-entry">
                            <div class="service-info-cable-entry-bandwidth">{{bandwidth}}</div>
                            {{#ifCond lte_in '==' '1'}}
                            <div class="availability availability-smaller service-ability-green"></div>
                            {{else}}
                            <div class="availability availability-smaller service-ability-gray"></div>
                            {{/ifCond}}
                            {{#ifCond lte_out '==' '1'}}
                            <div class="availability availability-smaller service-ability-green"></div>
                            {{else}}
                            <div class="availability availability-smaller service-ability-gray"></div>
                            {{/ifCond}}
                        </div>
                        {{/each}}
                        <div class="service-info-cable-entry in-out">
                            <div class="service-info-cable-entry-bandwidth no-border"></div>
                            <div class="availability availability-smaller lte-small-title">IN</div>
                            <div class="availability availability-smaller lte-small-title">OUT</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="service-additional-info-container">
        <div class="service-additional-title"><?php echo $this->__("Technical Availability") ?></div>
        <div class="service-additional-info">
            {{#each ObjectInfo.AdditionalItemProperty}}
            {{#ifCond this.Value '==' 'N'}}
            <div class="service-additional-entry not-available">{{this.Name}}</div>
            {{else}}
            {{#ifCond this.Value '==' 'J'}}
            <div class="service-additional-entry">{{translate this.Name}}</div>
            {{else}}
            <div class="service-additional-entry">{{translate this.Name}}: {{translate this.Value}}</div>
            {{/ifCond}}
            {{/ifCond}}
            {{/each}}
        </div>

        <div class="service-additional-title"><?php echo $this->__("Object information") ?></div>
        <div class="service-additional-info">
            {{#each ObjectInfo.BuildingInfo}}
            {{#ifCond this '==' 'false'}}
            <div class="service-additional-entry not-available">
                {{translate @key}}
                {{else}}
                <div class="service-additional-entry">
                    {{#ifCond this '==' 'true'}}
                    {{translate @key}}
                    {{else}}
                    {{translate @key}}: {{#printPropertyIfObject this
                    'StatusReasonCode'}}{{this}}{{/printPropertyIfObject }}
                    {{/ifCond}}
                    {{/ifCond}}
                </div>
                {{/each}}
            </div>

            <div class="service-additional-title"><?php echo $this->__("Cable - Special-Products") ?></div>
            <div class="service-additional-info">
                {{#each special_products}}
                <div class="service-additional-entry {{#ifCond this '==' '0'}} not-available{{/ifCond}}">{{@key}}</div>
                {{/each}}
            </div>
        </div>
</script>

<!-- Serviceability more info modal which includes above template -->
<div class="modal" id="serviceability-more-info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Availability Check") ?>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
        </div>
    </div>
</div>

<?php
/**
 *  Templates for left sidebar content should be named left-siber-{data-toggle} attribute value from left_details.phtml
 */
?>


<?php
/** @var $this Mage_Core_Block_Template */
// The <My orders> handlebars template
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/left-sidebar/link-details.phtml')->toHtml() . PHP_EOL;
?>

<?php
/** @var $this Mage_Core_Block_Template */
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/left-sidebar/household.phtml')->toHtml();
?>

<?php
/** @var $this Mage_Core_Block_Template */
// The <My orders> handlebars template
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/left-sidebar/orders-content.phtml')->toHtml() . PHP_EOL;
?>

<?php
/** @var $this Mage_Core_Block_Template */
// The <My orders> handlebars template
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/left-sidebar/shopping-carts.phtml')->toHtml() . PHP_EOL;
?>

<!-- Shopping Cart Modal -->
<?php
/** @var $this Mage_Core_Block_Template */
// The <My shopping carts> handlebars template
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/modals/shopping-cart-details.phtml')->toHtml() . PHP_EOL;
?>

<?php
/** @var $this Mage_Core_Block_Template */
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/modals/shopping-cart-delete.phtml')->toHtml() . PHP_EOL;
?>

<?php
/** @var $this Mage_Core_Block_Template */
echo $this->getLayout()->createBlock('core/template')->setTemplate('page/modals/shopping-cart-notes.phtml')->toHtml() . PHP_EOL;
?>

<!-- Customer address search body -->
<script id="Customer-Address-Search-Template" type="text/x-handlebars-template">
    <div class="address-search-container">
        <div class="address-search-cell">
            <div class="address-search-count">
                {{addressList.length}}<?php echo ' ' . $this->__('addresses found'); ?></div>
            <div class="address-search-list">
                {{#each addressList}}
                <div class="address-search-item">
                    <input type="radio" id="customer_address_search[{{@index}}]" name="customer_address_search"/>
                    <label>
                        <span class="address-search-street">{{this.street}}</span>&nbsp;
                        <span class="address-search-houseno">{{this.houseno}}</span>&nbsp;
                        <span class="address-search-addition">{{this.addition}}</span>&nbsp;
                        <span class="address-search-postcode">{{this.postcode}}</span>&nbsp;
                        <span class="address-search-city">{{this.city}}</span>&nbsp;
                        <span class="address-search-district">{{this.district}}</span>
                    </label>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>

<!-- Customer address search modal which includes above template -->
<div class="modal" id="customer-address-search" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Address Search") ?></div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-addr-search add-tel pull-right clearfix"
                       data-dismiss="modal" onclick="checkout.fillAddressFromSearch()"
                       value="<?php echo $this->__('Ok'); ?>"/>
            </div>
        </div>
    </div>
</div>

<!-- Bank data generator body -->
<script id="Bank-Data-Generator-Template" type="text/x-handlebars-template">
    <div class="bank-generator-container">
        <form class="form-inline form-row clearfix" id="bank_generator_form">
            <div class="modal-wrapper">
                <div class="checkout-content">
                    <div class="checkout-content-body checkout-content-naked">

                        <div class="dt">

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="bank_generator[account_number]"
                                               name="bank_generator[account_number]"
                                               class="form-control input-sm required-entry validate-alphanum-with-spaces"
                                               value="{{#removeFirstXCharacters 12 accountNumber}}{{accountNumber}}{{/removeFirstXCharacters }}"
                                        />
                                        <label for="bank_generator[account_number]"><?php echo $this->__('Account number'); ?></label>
                                    </div>
                                </div>
                            </div>

                            <div class="tc cell50">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" id="bank_generator[bank_code]"
                                               name="bank_generator[bank_code]"
                                               class="form-control input-sm required-entry validate-alphanum-with-spaces"
                                               value="{{ usage }}"
                                        />
                                        <label for="bank_generator[bank_code]"><?php echo $this->__('Bank code'); ?></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="dt">

                            <div class="tc">
                                <div class="input-group-custom">
                                    <div class="field-row">
                                        <input type="text" readonly name="bank_generator[credit_provider]"
                                               id="bank_generator[credit_provider]"
                                               class="form-control input-sm " value="{{ creditProvider }}"
                                        />
                                        <label for="bank_generator[credit_provider]"><?php echo $this->__('Credit institution'); ?></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</script>

<!-- Bank data generator modal which includes above template -->
<div class="modal" id="checkout-bank-generator" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" autocomplete="off"></button>
                <h4 class="modal-title" id=""><?php echo $this->__('Determine IBAN'); ?></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div id="generate-bank-data-error-message"
                     class="hidden"><?php echo $this->__("Invalid bank data submitted."); ?></div>
                <label>&nbsp;</label>
                <span id="iban-data-loading" class="pull-right cleafix"></span>
                <button type="button" class="btn btn-default modal-close " data-dismiss="modal"
                        onclick="checkout.getBankDataRequest()"><?php echo $this->__('Cancel'); ?></button>
                <button type="button" class="btn btn-primary btn-addr-search add-tel pull-right "
                        onclick="checkout.getBankDataRequest()"><?php echo $this->__('Determine'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Bank data generator modal which includes above template -->
<div class="modal checkout-modal" id="checkout-offer-send" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?php echo $this->__('Send offer'); ?></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning hidden" id="modal_save_and_send_warning"></div>
                <div class="checkout-offer-send-container">
                    <div class="">
                        <div class="">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="email" id="offer_data[email]" name="offer_data[email]"
                                           class="fvalidate-one-required-by-validation-group validate-email-pop"
                                           data-validation-group="offer_send_type" value=""/>
                                    <label for="offer_data[email]"><?php echo $this->__('To email address') ?></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <?php
                        /** @var Dyna_Customer_Model_Customer $customer */
                        $customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
                        $pushphoneList = array();

                        if ($customer && $customer->getMobileTelephone()) {
                            $pushphoneList[] = $customer::SHORT_COUNTRY_CODE . $customer->getMobileTelephone();
                        }
                        if (!$customer->getLocalAreaCode()) {
                            if ($customer && $customer->getPhoneNumber()) {
                                $pushphoneList[] = $customer::SHORT_COUNTRY_CODE . $customer->getPhoneNumber();
                            }
                        }
                        if ($customer && $customer->getContactPhoneNumbers()) {
                            foreach ($customer->getContactPhoneNumbers() as $contactNumber) {
                                if (!$contactNumber['local_area_code'] || $contactNumber['local_area_code'] == '') {
                                    $pushphoneList[] = $contactNumber['country_code'] . $contactNumber['phone_number'];
                                }
                            }
                        }
                        foreach ($customer->getCtn(true, true) as $tempCtn) {
                            $pushphoneList[] = $tempCtn;
                        }

                        $pushphoneList = array_unique($pushphoneList);
                        ?>
                        <div class="">
                            <div class="input-group-custom">
                                <div class="select-wrapper">
                                    <div class="field-row input-dirty">
                                        <select id="offer_data[pushphone]" name="offer_data[pushphone]"
                                                class="form-control input-sm <?php echo !$customer->isCustomerLoggedIn() || empty($pushphoneList) ? '' : 'validate-one-required-by-validation-group'; ?>"
                                                data-validation-group="offer_send_type"
                                            <?php echo !$customer->isCustomerLoggedIn() || empty($pushphoneList) ? 'disabled' : ''; ?>>
                                            <option value="" hidden><?php echo $this->__('To Vodafone app'); ?></option>
                                            <option value=""><?php echo $this->__(''); ?></option>
                                            <?php
                                            foreach ($pushphoneList as $phoneNumber) {
                                                echo "<option value='{$phoneNumber}'>{$phoneNumber}</option>";
                                            }
                                            ?>
                                        </select>
                                        <label for="offer_data[pushphone]">Phone</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="offer_data[callback]" class="dt date-element-wrapper">
                        <div class="tc cell50">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="offer_data[callback][date]"
                                           name="offer_data[callback][date]"
                                           maxlength="10"
                                           class="date-format validate-date-de validate-callback-date"
                                           value="" placeholder="<?php echo $this->__('Callback Date (DD.MM.YYYY)'); ?>"/>
                                </div>
                            </div>
                        </div>
                        <div class="tc cell50">
                            <div class="input-group-custom">
                                <div class="field-row">
                                    <input type="text" id="offer_data[callback][time]"
                                           name="offer_data[callback][time]"
                                           maxlength="5"
                                           class="time-format required-entry validate-callback-time-format validate-callback-time-range"
                                           value="" placeholder="<?php echo $this->__('Callback Time (HH:MM)'); ?>"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-close clearfix"
                        data-dismiss="modal"><?php echo $this->__('Cancel'); ?></button>
                <button type="button" class="btn btn-addr-search add-tel clearfix"
                        onclick="checkout.sendOfferData()"><?php echo $this->__('Send'); ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Positive response when offer is sent to customer -->
<div class="modal" id="positive-checkout-offer-send" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p><?php echo $this->__('Send & Save'); ?></p>
            </div>
            <div class="modal-body top-20">
                <div class="form-row-big clearfix">
                    <div class="col-md-1">
                        <span class="success-icon"></span>
                    </div>
                    <div class="col-md-11">
                        <?php echo $this->__("Your offer has been sent successfully") ?>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">
                    <?php echo $this->__("Ok") ?>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Bundle configuration and information Modal -->
<div class="modal bundleModal bundleDetails first-state" id="bundleModal" role="dialog"
     aria-labelledby="bundleModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- Bundle alternative packages -->
<div id="bundleModalAlternatives" class="modal" tabindex="-1" role="dialog" aria-labelledby="bundleModalAlternatives">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close button vfde-clear fs14 main-color" data-dismiss="modal"
                        aria-hidden="true" style=""></button>
                <?php echo $this->__("Select a package"); ?>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<!-- Popup to inform that the customer is in 'Dunning'  -->
<div id="dunningStatusModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="dunningStatusModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Attention") ?></div>
            <div class="modal-body">
                <?php echo $this->__("The customer is in the dunning process. Please check in accordance with the working instructions whether an order is possible or notify the customer that the customer is to clear the open items so that the order can be secured"); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-info-white"
                        onclick="customerDe.closeDunningStatusModal()">
                    <?php echo $this->__("Ok") ?>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Positive response when workitem ticket has been successfully created -->
<div class="modal" id="success-workitem" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-workitem">
                <div class="close-text-button" data-dismiss="modal">
                    <div class="modal-workitem-close" data-dismiss="modal"><?php echo $this->__("Close page") ?>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                </div>
                <p><?php echo $this->__('Workitem ticket successfully created'); ?></p>
            </div>
            <div class="modal-body top-20">
                <div class="form-row-big clearfix modal-workitem-registered">
                    <div class="col-md-12">
                        <?php echo $this->__("Ticket is registered with the number: ") ?>
                    </div>
                </div>
                <div class="form-row-big clearfix">
                    <div class="col-md-12">
                        <p class="well well-lg" id="created-ticket-id"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-workitem-footer">
                <div class="col-md-2 col-md-offset-10">
                    <button type="button" class="btn modal-workitem-footer-close" data-dismiss="modal">
                        <?php echo $this->__("Close") ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Validate exact address multiple results modal -->
<div class="modal validateExactAddressMultipleResultsModal" id="validateExactAddressMultipleResultsModal" tabindex="-1"
     role="dialog" aria-labelledby="validateExactAddressMultipleResultsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content ajax-container">
            <div class="modal-header grey">
                <?php echo $this->__("Multiple Search Results") ?>
            </div>
            <div class="modal-body"></div>

            <div class="ajax-results-addresses"><!--ajax data--></div>
            <script id="HT-validateExactAddressMultipleResults" type="text/x-handlebars-template">
                {{#ifCond addresses.length '!==' 1}}
                {{#ifCond addresses.length '<=' 200}}
                <div class="row error-box">
                    <div class="col-md-2">
                        <img src="<?php echo $this->getSkinUrl('images/de/modal-warning.png'); ?>"/>
                    </div>
                    <div class="col-md-10">
                        <p><?php echo $this->__('2 to 200 search results. We recommend you consult the search criteria.'); ?></p>
                    </div>
                </div>
                {{/ifCond}}

                {{#ifCond addresses.length '>' 200}}
                <div class="row error-box">
                    <div class="col-md-2">
                        <img src="<?php echo $this->getSkinUrl('images/de/modal-warning.png'); ?>"/>
                    </div>
                    <div class="col-md-10">
                        <p><?php echo $this->__('Please note that only the first 10 results are displayed. Use additional or other criteria when the right customer is presented night.'); ?></p>
                    </div>
                </div>
                {{/ifCond}}
                {{/ifCond}}

                <div class="addresses-container">
                    {{#each addresses}}
                    <div class="address"
                         data-id="{{this.ID}}"
                         data-street="{{this.StreetName}}"
                         data-building-nr="{{this.BuildingNumber}}"
                         data-postalcode="{{this.PostalZone}}"
                         data-city-name="{{this.CityName}}"
                         onclick="customerDe.searchExactAddress(this)">
                        <div class="row">
                            <div class="col-md-2">{{this.StreetName}}</div>
                            <div class="col-md-2">{{this.BuildingNumber}} {{ this.HouseNumberAddition }}</div>
                            <div class="col-md-2">{{this.PostalZone}}</div>
                            <div class="col-md-2">{{this.CityName}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </script>
        </div>
    </div>
</div>

<!-- Popup confirm that agent wants to genereate debug file  -->
<div id="debugModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="debugModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><?php echo $this->__("Confirmation required") ?></div>
            <div class="modal-body">
                <?php echo $this->__("Do you want to generate a report file containing the software information"); ?> ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-info-white"
                        onclick="closeDebugModal()"><?php echo $this->__('No'); ?></button>
                <button type="button" class="btn btn-primary btn-info-white"
                        onclick="chooseFileDebugModal()"><?php echo $this->__("Yes") ?></button>
            </div>
        </div>
    </div>
</div>


<!-- Catalog Import version modal -->
<div id="catalogVersionModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="catalogVersionModal">
    <!-- Modal content -->
    <div class="modal-dialog" role="document" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h2><?php echo $this->__("Catalog Import Versions") ?></h2>
            </div>
            <div class="modal-body">
                <?php echo Mage::helper("cataloglog")->getLatestVersions(); ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default right"
                        data-dismiss="modal"><?php echo $this->__("Close") ?></button>
            </div>
        </div>
    </div>
</div>

<div id="information-message-modal" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="information-message-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <?php echo $this->__("Please note..") ?>
                </h4>
            </div>
            <div class="modal-body">
                <p class="message-content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><?php echo $this->__('OK'); ?></button>
            </div>
        </div>
    </div>
</div>

<div id="migration-bundle-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="migration-bundle-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <?php echo $this->__("Before continuing") ?>
                </h4>
            </div>
            <div class="modal-body">
                <p class="message-content"><?php echo $this->__("Please note that by proceeding the installed base bundle will be lost. Do you want to continue?") ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-close pull-left"
                        data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"
                        onclick="customerSection.initMigrationOrMoveOffnetConfigurator(customerSection.migrationConfirmationElement, true)"><?php echo $this->__('Continue') ?></button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="new-account-ban-modal" role="dialog" aria-hidden="true" tabindex="1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?php echo $this->__("Confirm"); ?></h4>
            </div>
            <div class="modal-body">
                <p><?php echo $this->__("Some packages from the shopping cart are linked to an install base BAN. If you confirm all packages will be deleted"); ?></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-close pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary pull-right" id="select-new-linked-account" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="default-campaign" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> <p class="campmodaheader"><?php echo $this->__("Select a Campaign") ?></p></div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" id="search_campaign" name="search_campaign" value="" placeholder="Search campaign" class="form-control modal-input" autocomplete="off">
                    <span class="modal-search"></span>
                </div>

                <div class="list-container">
                    <ul class="list-group search-campaign-list" id="search-campaign-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="message-simple-dialog" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="message-simple-dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">
                    <?php echo $this->__("Message Hint") ?>
                </h4>
            </div>
            <div class="modal-body">
                <p class="message-content"></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="message-dialog-action" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="message-dialog-action">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="removePackage(event, this)">×</button>
                <h4 class="modal-title">
                    <?php echo $this->__("Message Dialogue") ?>
                </h4>
            </div>
            <div class="modal-body">
                <p class="message-content"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modal-close"
                                data-dismiss="modal" onclick="removePackage(event, this)"><?php echo $this->__('Cancel') ?></button>
                <button id="dailog-action"
                        class="btn btn-primary pull-right cancel-cart-by-package-button" type="button">
                    <?php echo $this->__('Action') ?>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal show-warning cancel-package-modal" id="message-dialog-warning" tabindex="-1"
     role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="modal-warning-container">
                        <div class="icon-area">
                            <div class="triangle"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="removePackage(event, this)">×</button>
                        <h4 class="modal-title">
                            <?php echo $this->__("Message Warning") ?>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p class="message-content"></p>
                    </div>
                    <div class="modal-footer" style="margin-top: 0px;padding-top:60px">
                        <button type="button" class="btn btn-default modal-close"
                                data-dismiss="modal"><?php echo $this->__('Cancel') ?></button>
                        <button id="dailog-warning"
                                class="btn btn-primary pull-right cancel-cart-by-package-button" type="button" onclick="removePackage(event, this)">
                            <?php echo $this->__('Action') ?>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<?php
/** @var $this Mage_Core_Block_Template */
// The <My products> handlebars template
echo $this->getChildHtml('customer.products') . PHP_EOL;
?>
