<?php
$customer = Mage::getSingleton('dyna_customer/session')->getCustomer();
$customerLoggedIn = $customer->isCustomerLoggedIn();

$companyDisabled = $customerLoggedIn && !empty($customer->getCompanyName());
$firstNameDisabled = $customerLoggedIn && !empty($customer->getFirstName());
$lastNameDisabled = $customerLoggedIn && !empty($customer->getLastName());
$phoneLocalAreaCodeDisabled = $customerLoggedIn && !empty($customer->getPhoneLocalAreaCode());
$phoneNumberDisabled = $customerLoggedIn && !empty($customer->getPhoneNumber());
$dobDisabled = $customerLoggedIn && !empty($customer->getDob());
?>
<!-- Save Cart Modal -->
<div class="modal" id="save-cart-modal" tabindex="-1" role="dialog" aria-labelledby="searchClientLabel" aria-hidden="true" style="top:10%; text-align: left;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <div class="modal-title" id="searchClientLabel"><?php echo $this->__("Offer save & send");?></div>
                <div class="alert hidden">&nbsp;</div>
            </div>
            <div class="modal-body">
                <div class="modal-block">
                    <form id="save-cart-form" class="modal-row clearfix" style="margin-bottom: 10px;">
                        <div class="info" id="save_cart_form">
                            <div class="row">
                                <div class="form-group col-xs-4 soho-customer">
                                    <label for="companyname"><?php echo $this->__('Company name');?></label>
                                    <input class="form-control <?php  echo ($companyDisabled)? '' : 'required-entry' ?>" type="text" id="companyname" name="companyname"
                                        <?php  echo ($companyDisabled)? 'readonly' : '' ?>
                                           value="<?php  echo ($customerLoggedIn)? $customer->getCompanyName() : '' ?>"/>
                                </div>
                                <div class="form-group col-xs-4" id="colfirstname">
                                    <label for="firstname"><?php echo $this->__('First name');?></label>
                                    <input class="form-control <?php echo ($firstNameDisabled)? '' : 'required-entry' ?>" type="text" id="firstname" name="firstname"
                                           <?php  echo ($firstNameDisabled)? 'readonly' : '' ?>
                                           value="<?php  echo ($customerLoggedIn)? $customer->getFirstName() : '' ?>"/>
                                </div>
                                <div class="form-group col-xs-4" id="collastname">
                                    <label for="lastname"><?php echo $this->__('Surname');?></label>
                                    <input class="form-control <?php  echo ($lastNameDisabled)? '' : 'required-entry' ?>" type="text" id="lastname" name="lastname"
                                        <?php  echo ($lastNameDisabled)? 'readonly' : '' ?>
                                           value="<?php  echo ($customerLoggedIn)? $customer->getLastName() : '' ?>"/>
                                </div>
                                <div class="clearfix">
                                    <div class="form-group col-xs-12">
                                        <label for="dob"><?php echo $this->__('Birthday');?></label>
                                        <input class="form-control date-format <?php  echo ($dobDisabled)? '' : 'required-entry' ?>" type="text" id="dob" name="dob"
                                            <?php  echo ($dobDisabled)? 'readonly' : '' ?>
                                               value="<?php  echo ($customerLoggedIn)? date("d.m.Y", strtotime($customer->getDob())) : '' ?>"
                                               placeholder="<?php echo $this->__("DD.MM.YYYY") ?>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="email_send"><?php echo $this->__('Email');?></label>
                                    <input class="form-control required-entry validate-email" type="text" name="email_send"
                                           id="email_send"
                                           value="<?php  echo ($customerLoggedIn)? $customer->getEmailAddress() : '' ?>"/>
                                </div>

                                <div class="clearfix">
                                    <div class="form-group col-xs-3">
                                        <label for="prefix"><?php echo $this->__('Prefix');?></label>
                                        <input class="form-control validate-number validate-telephone-prefix-save-cart-modal <?php echo ($phoneLocalAreaCodeDisabled) ? '' : 'required-entry'; ?>"
                                               type="text" id="prefix" name="prefix"
                                            <?php  echo ($phoneLocalAreaCodeDisabled)? 'readonly' : '' ?>
                                               value="<?php  echo ($customerLoggedIn)? $customer->getLocalAreaCode() : '' ?>"/>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label for="telephone"><?php echo $this->__('Telephone Number');?></label>
                                        <input class="form-control validate-number <?php  echo ($phoneNumberDisabled)? '' : 'required-entry' ?>" type="text" id="telephone" name="telephone"
                                            <?php  echo ($phoneNumberDisabled)? 'readonly' : '' ?>
                                               value="<?php echo ($customerLoggedIn)? $customer->getPhoneNumber() : '' ?>"/>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label for="callback_date"><?php echo $this->__('Callback date');?>(<?php echo $this->__('Optional');?>)</label>
                                    <input class="form-control validate-date-de validate-callback-date icon_calendar" type="text" placeholder="DD.MM.YYYY" name="callback_date" id="callback_date" value=""/>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="callback_time"><?php echo $this->__('Callback time');?>(<?php echo $this->__('Optional');?>)</label>
                                    <input data-related-required="#callback_date" class="form-control time-format validate-callback-time-format validate-callback-time-range" type="text" placeholder="HH:MM" name="callback_time" id="callback_time" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 save-cart-checkbox">
                                <input type="hidden" id="new_cart" name="new_cart" value="false" />
                                <p><label for="new_cart"><input type="checkbox" id="new_cart" class="left" name="new_cart" value="true" checked /> <?php echo $this->__("Delete shopping cart after sending (and saving)") ?></label></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="after-click-block hide">
                    <div class="modal-block">
                        <p class="green-check"><img src="<?php echo $this->getSkinUrl('images/de/green-mark.png') ?>" alt=""/></p>
                        <p class="green-check-label"><?php echo $this->__('Saved and sent')?></p>
                    </div>
                </div>
                <button type="button" class="btn btn-default save-cart-button" onclick="handleCartSendAndSaveAction(false);"><?php echo $this->__('Just save'); ?></button>
                <button type="button" class="btn btn-primary save-and-send-the-cart-button pull-right" onclick="handleCartSendAndSaveAction(true)"><?php echo $this->__('Save & Send'); ?></button>
            </div>
        </div>
    </div>
</div>
<script>
    var saveCartModalForm = new VarienForm('save-cart-form', true);
    Validation.add('validate-telephone-prefix-save-cart-modal', '<?php echo $this->__('Please enter a valid telephone prefix.'); ?>', function (v) {
                var reg = /^01[5-7][0-9]/;
                return reg.test(v);
    });
</script>

