<script id="validation-details-template" type="text/template">
    <p class="title"><?php echo $this->__('Validation results for') ?> <span class="red">{{reference}}</span></p>
    <p class="flash error"><span class="glyphicon glyphicon-remove-circle"></span>
        <strong><?php echo $this->__('Order failed'); ?></strong><br />
        <?php echo $this->__('The validation for the below order has failed'); ?>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading"><?php echo $this->__('Personal information') ?></div>

        <table class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <td><?php echo $this->__('Name') ?></td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Date of birth') ?></td>
                <td>{{customer_dob}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Telephone number') ?></td>
                <td>{{telephone}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('E-mail address') ?></td>
                <td>{{customer_email}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Delivery address') ?></td>
                <td>{{address}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('ID Info') ?></td>
                <td>{{id_info}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('Reference Number') ?></td>
                <td>{{reference}}</td>
            </tr>
            <tr>
                <td><?php echo $this->__('VOD error') ?></td>
                <td>{{error_detail}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-offset-9 col-xs-1">
        <button class="pull-right btn btn-primary back hidden" onclick="backToList(this)"><span class="glyphicon glyphicon-chevron-left"></span> <?php echo $this->__('Back') ?></button>
    </div>
    <div class="col-xs-2">
        <button class="pull-right btn btn-primary btn-block" data-customer="{{customer_id}}" data-order="{{reference}}" onclick="showInitOrderModal(this)"><?php echo $this->__('See order') ?> <span class="glyphicon glyphicon-play"></span></button>
    </div>
</script>
