/*
 * Copyright (c) 2016. Dynacommerce B.V.
 */

.fieldset .entry-edit-head {
    width: 50%;
}

.fieldset .inner-fieldset {
    width: 50%;
    padding: 9px;
}

.add-button {
    padding-top: 2px;
}

.bundles-template.cancel {
    margin-top: 5px;
}
